<template>
  <v-app>
    <Alert />
    <router-view style="height: 100%" />
  </v-app>
</template>

<script>
// import { messaging } from '@/assets/js/firebase';
import Alert from '@/components/Utils/Alerts/Alert';
// import store from '@/assets/js/store';

export default {
  components: {
    Alert,
  },
};
</script>

<style>
.div-row {
  display: flex;
  flex-direction: row;
}
.div-row div {
  padding: 0 2px;
}
.div-col {
  display: flex;
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.v-btn.info {
  background-color: #C2232A !important;
}
.v-btn.success {
  background-color: #C2232A !important;
}
.jobdoh {
  background-color: #C2232A !important;
}
.jobdoh-red {
  color: #C2232A !important;
}
.disable-btn {
  color: rgba(0, 0, 0, 0.38) !important;
  background-color: rgba(255, 255, 255, 0.12) !important;
}
.disable-list-item {
  color: rgba(0, 0, 0, 0.38) !important;
  background-color: rgba(255, 255, 255, 0.12) !important;
}
</style>
