<template>
  <v-radio-group
    label="Experience Year"
    v-model="exp"
    @change="selectExperience"
    row
  >
    <v-radio
      label="0-1"
      value="0"
    />
    <v-radio
      label="1-3"
      value="1"
    />
    <v-radio
      label="3-5"
      value="2"
    />
    <v-radio
      label="5-8"
      value="3"
    />
    <v-radio
      label="8-10"
      value="4"
    />
    <v-radio
      label="10-15"
      value="5"
    />
    <v-radio
      label="15+"
      value="6"
    />
  </v-radio-group>
</template>

<script>
export default {
  data: () => ({
    exp: '0',
  }),

  methods: {
    selectExperience() {
      this.$emit('experienceUpdated', this.exp);
    },
  },
};
</script>
