<template>
  <v-container>
    <v-radio-group
      label="English"
      v-model="english"
      row
    >
      <v-radio
        label="Basic"
        value="basic"
      />
      <v-radio
        label="Intermediate"
        value="intermediate"
      />
      <v-radio
        label="Advanced"
        value="advanced"
      />
    </v-radio-group>
    <v-radio-group
      label="Chinese"
      v-model="chinese"
      row
    >
      <v-radio
        label="Basic"
        value="basic"
      />
      <v-radio
        label="Intermediate"
        value="intermediate"
      />
      <v-radio
        label="Advanced"
        value="advanced"
      />
    </v-radio-group>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    english: '',
    chinese: '',
  }),
};
</script>
