<template>
  <div v-if="exportData.length > 0">
    <v-row
      v-if="!loading"
      class="ml-10"
    >
      <v-col>
        <v-row>Total Salary Pay:</v-row>
        <v-row>
          <b>
            {{ formatAmount(roundTo(summary.totalSalary || 0, 0)) }}
            {{ exportData[0].item.paymentCurrency }}
          </b>
        </v-row>
      </v-col>
      <v-col>
        <v-row>Via End Of Month:</v-row>
        <v-row>
          <b>
            {{ formatAmount(roundTo(summary.totalEndOfMonth || 0, 0)) }}
            {{ exportData[0].item.paymentCurrency }}
          </b>
        </v-row>
      </v-col>
      <v-col>
        <v-row>Via KhuPay:</v-row>
        <v-row>
          <b>
            {{ formatAmount(roundTo(summary.totalKhupay || 0, 0)) }}
            {{ exportData[0].item.paymentCurrency }}
          </b>
          <b>
            ({{ formatAmount(roundTo(summary.totalFee || 0, 0)) }}
            {{ exportData[0].item.paymentCurrency }})
          </b>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import gql from 'graphql-tag';
import apollo from '@/assets/js/apollo';

export default {
  components: {
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
    payCycle: {
      type: Object,
      default: () => {},
    },
    exportData: {
      type: Array,
      default: () => [],
    },
  },

  data: () => ({
    summary: {},
    loading: false,
  }),

  computed: {
  },

  watch: {
    async payCycle() {
      this.loading = true;
      this.summary = {};
      this.summary = await this.summaryReportQuery();
      this.loading = false;
    },
    async organisation() {
      this.summary = {};
      this.summary = await this.summaryReportQuery();
    },
  },

  async mounted() {
    this.loading = true;
    this.summary = await this.summaryReportQuery();
    this.loading = false;
  },

  methods: {
    async summaryReportQuery() {
      let result = {};
      const query = await apollo.defaultClient.query({
        query: gql`query summaryReport(
          $organisationId: ID!,
          $timeRange: TimeRangeInput,
        ) {
        summaryReport(
          organisationId: $organisationId,
          timeRange: $timeRange,
        )
      }
      `,
        variables: {
          organisationId: this.organisation.id,
          timeRange: {
            from: this.payCycle.startDate,
            to: this.payCycle.endDate,
          },
        },
      })
        .catch((err) => {
          this.$log.debug('discount query errror', err);
        });
      // this.$log.debug({ query });
      if (query && query.data.summaryReport) {
        result = query.data.summaryReport;
      }
      return result;
    },

  },
};
</script>
