<template>
  <tr v-if="item != null">
    <td>
      <v-btn
        id="btn-MonthenReportPage-OpenMonthendDetailDialogBox"
        text
        icon
        @click="openDialog"
      >
        <v-icon id="btn-MonthenReportPage-OpenMonthendDetailDialogBox">
          mdi-file-document-box-outline
        </v-icon>
      </v-btn>
    </td>
    <td>{{ item.name }}</td>
    <td>{{ item.identification }}</td>
    <td>{{ item.phone }}</td>
    <td>{{ item.paymentMethod }}</td>
    <td>{{ formatAmount(item.detailData.totalPaid) }} {{ item.paymentCurrency }}</td>
    <td>
      <PayslipBtn
        v-if="payslip != null"
        :payslip="payslip"
      />
    </td>
  </tr>
</template>

<script>
import gql from 'graphql-tag';
// import PhoneValidator from 'awesome-phonenumber';
import PayslipBtn from '@/components/Reports/Tables/Rows/PayslipBtn';
import apollo from '@/assets/js/apollo';

export default {
  components: {
    PayslipBtn,
  },

  props: {
    shift: {
      type: Object,
      default: () => {},
    },
    organisation: {
      type: Object,
      default: () => {},
    },
    payCycle: {
      type: Object,
      default: () => {},
    },
    transactionsData: {
      type: Array,
      default: () => [],
    },
    calculateRowData: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    loading: false,
    item: null,
    currentWorkTokenValues: [],
    transactionObject: {},
    discountTokens: [],
    payslip: null,
    workTokens: [],
  }),

  computed: {
  },

  watch: {
    async payCycle() {
      this.payslip = await this.payslipQuery(this.calculateRowData.shift.worker.id);
      this.loading = await true;
      await this.$emit('isLoading', { id: this.calculateRowData.shift.id, value: true });
      // const workTokens = await this.getWorkTokens();
      // if (workTokens.length > 0) {
      //   this.item = await this.calculateRowData;
      // }
      this.item = await this.calculateRowData;
      await this.$emit('isLoading', { id: this.calculateRowData.shift.id, value: false });
      this.loading = await false;
      // this.item = await this.disbursementSummaryQuery();
      this.$eventHub.$on('reload-row-worktokens-query', async () => {
        this.item = await this.calculateRowData;
        // this.item = await this.disbursementSummaryQuery();
      });
    },
  },

  async mounted() {
    this.$emit('updateActivityCount', 1);
    await this.$emit('isLoading', { id: this.calculateRowData.shift.id, value: true });
    if (this.calculateRowData.shift.worker != null) {
      this.payslip = await this.payslipQuery(this.calculateRowData.shift.worker.id);
    }
    // this.item = await this.disbursementSummaryQuery();
    this.item = await this.calculateRowData;
    await this.$emit('isLoading', { id: this.calculateRowData.shift.id, value: false });
    // this.discountTokens = await this.discountTokensQuery(this.shift.worker.id);
    // this.$log.debug('discountTokens', discountTokens);
    this.$nextTick(() => {
      this.$emit('updateActivityCount', -1);
    });
  },

  methods: {
    openDialog() {
      this.$emit('openDialog', {
        shift: this.calculateRowData.shift,
        item: this.item,
        workTokens: this.workTokens,
        calculatedData: this.calculateRowData.detaildata,
      });
    },
    // async discountTokensQuery(workerId) {
    //   let result = [];
    //   const query = await apollo.defaultClient.query({
    //     query: gql`query discountTokens(
    //       $workerId: String!,
    //     ) {
    //     discountTokens(
    //       workerId: $workerId,
    //     ) {
    //       id
    //       discountPercent
    //       discountFixed
    //       status
    //     }
    //   }
    //   `,
    //     variables: {
    //       workerId,
    //     },
    //   })
    //     .catch((err) => {
    //       this.$log.debug('discount query errror', err);
    //     });
    //   if (query.data.discountTokens.length > 0) {
    //     result = query.data.discountTokens;
    //   }
    //   return result;
    // },
    async payslipQuery(workerId) {
      // eslint-disable-next-line no-underscore-dangle
      // const _this = this;
      let result = [];
      const query = await apollo.defaultClient.query({
        query: gql`query payslip(
          $workerId: String
        ) {
        payslip(
          workerId: $workerId
        ) {
          id
          code
          complete
          password
          receivedAt
        }
      }
      `,
        variables: {
          workerId,
        },
      })
        .catch((err) => {
          this.$log.error(err);
          this.loading = false;
          this.$eventHub.$emit('show-alert', {
            type: 'error',
            message: err.graphQLErrors[0].message,
          });
        });
      if (query != null && query.data.payslip != null) {
        result = query.data.payslip;
      }
      return result;
    },
  },
};
</script>
