<template>
  <tr>
    <td />
    <td>JOBDOH</td>
    <td>530353</td>
    <td>9967730220</td>
    <td>ONGO</td>
    <td>{{ totalFee }} MMK</td>
    <td />
  </tr>
</template>
<script>

export default {
  components: {
  },

  props: {
    feeArray: {
      type: Array,
      default: () => [],
    },
  },

  data: () => ({
  }),

  computed: {
    totalFee() {
      return this.feeArray.reduce((a, b) => a + b, 0);
    },
  },

  watch: {
  },

  mounted() {
  },

  methods: {

  },
};
</script>
