<template>
  <span>
    <v-chip
      small
      outlined
      @mousedown.stop
      @touchstart.stop
      @click="payslipDialog = true"
    >
      <v-icon
        class="mr-2"
        v-if="!payslip.complete"
        color="red"
      >
        mdi-alert-circle-outline
      </v-icon>
      Share Payslip
    </v-chip>
    <v-dialog
      v-model="payslipDialog"
      max-width="500px"
    >
      <v-card>
        <v-card-title>
          Click for your payslip
        </v-card-title>
        <v-card-text
          v-if="!payslip.complete"
        >
          <div>
            The worker has not confirm yet.
          </div>
        </v-card-text>
        <v-card-text
          v-else
        >
          <div>
            <a
              :href="`${url}/${payslip.id}?user=employer`"
              target="_blank"
            >
              {{ `${url}/${payslip.id}` }}
            </a>
          </div>
          <div>Password: {{ payslip.password }}</div>
        </v-card-text>

        <v-card-actions>
          <v-spacer />
          <v-btn
            id="btn-MonthendReportPage-PayslipDialog-Close"
            text
            @click="payslipDialog = false"
            v-html="'Close'"
          />
        </v-card-actions>
      </v-card>
    </v-dialog>
  </span>
</template>

<script>
export default {
  // props: ['transaction', 'currency'],
  props: {
    payslip: {
      type: Object,
      default: () => {},
    },
  },

  data() {
    return {
      payslipDialog: false,
      // url: 'http://localhost:7070/#/payslip',
    };
  },

  computed: {
    url() {
      if (process.env.NODE_ENV === 'production') {
        return 'https://public.jobdoh.com/#/payslip';
      } if (process.env.NODE_ENV === 'staging') {
        return 'https://staging-public.jobdoh.com/#/payslip';
      }
      return 'http://localhost:7070/#/payslip';
    },
    password() {
      const pwLength = 6;
      return Math.random().toFixed(pwLength) * (10 ** pwLength);
    },
  },
};
</script>

<style>

</style>
