<template>
  <div
    v-if="lockedFeatures.length === 0"
  >
    <slot />
  </div>
  <div
    v-else
    @mousedown.stop
    @touchstart.stop
    @click.stop="$eventHub.$emit('show-tutorial-feature', lockedFeatures[0], true)"
  >
    <span
      class="block-click"
    >
      <slot />
    </span>
  </div>
</template>

<script>
export default {
  props: {
    features: {
      type: Array,
      default: () => [],
    },
  },

  computed: {
    // hasAccess() {
    //   return this.features.every(f => this.$AccessService.isUnlocked(f));
    // },
    lockedFeatures() {
      return this.features.filter(f => this.$AccessService.isLocked(f));
    },
  },
};
</script>

<style scoped>
    .block-click {
        pointer-events: none !important;
    }
</style>
