<template>
  <v-toolbar
    class="jobdoh"
    height="50"
  >
    <v-img
      :src="require('../../assets/img/jobdoh_logo.png')"
      max-height="50"
      max-width="80"
      width="10"
      height="40"
    />
    <v-toolbar-title class="white--text ml-3">
      Employer Dashboard
    </v-toolbar-title>

    <OrgSelect class="ml-10" />


    <div class="flex-grow-1" />

    <AlertNotificationButton />

    <v-chip
      @click="onUserNameClick"
      color="white"
      id="btn-any-AccountInfo"
    >
      <v-icon
        id="btn-any-AccountInfo"
        left
      >
        mdi-account-circle
      </v-icon>
      <span id="btn-any-AccountInfo">
        {{ employer.name }}
      </span>
    </v-chip>
    <v-btn
      id="btn-any-Help"
      class="white--text"
      icon
      @click="$eventHub.$emit('help-dialog')"
    >
      <v-icon
        id="btn-any-Help"
      >
        mdi-help-circle
      </v-icon>
    </v-btn>
  </v-toolbar>
</template>
<script>
import AlertNotificationButton from '@/components/Notifications/Buttons/AlertNotificationButton';
import OrgSelect from '@/components/Common/Selects/OrgSelect';

export default {
  components: {
    AlertNotificationButton,
    OrgSelect,
  },

  props: {
    employer: {
      type: Object,
      default: () => {},
    },
  },

  computed: {
    currentOrganisation() {
      return this.$store.getters.currentOrganisation;
    },
  },

  methods: {
    onUserNameClick() {
      this.$eventHub.$emit('show-account-info');
    },
  },
};
</script>
