<template>
  <v-card
    width="100%"
  >
    <v-navigation-drawer
      permanent
      height="100%"
      width="100%"
      :mini-variant="$vuetify.breakpoint.xs"
    >
      <v-list
        dense
        nav
      >
        <v-list-item
          v-for="item in navigationItems"
          :key="item.title"
          @click="onNaviItemClick(item)"
          :class="{ 'jobdoh': currentRoute === item.route, }"
          :dark="currentRoute === item.route"
          :style="item.permitted ? ''
            : 'color: rgba(0, 0, 0, 0.38) !important; background: transparent !important'"
          :id="`btn-any-NaviDrawer${item.title}`"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <template v-slot:append>
        <v-divider />
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="text-center">
              version: 20211108
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-navigation-drawer>
  </v-card>
</template>
<script>
import { mapState } from 'vuex';


export default {
  props: {
    organisations: {
      type: Array,
      default: () => [],
    },
  },

  data() {
    return {
      right: null,
      items: [
        {
          title: 'Home ( Jobs )', icon: 'mdi-home', route: 'view-jobs',
        },
        {
          title: 'Timesheets', icon: 'mdi-calendar-month', route: 'timesheets', permission: 'READ_TIMESHEET',
        },
        {
          title: 'Reports', icon: 'mdi-file-chart', route: 'monthend-report', permission: 'READ_REPORTS',
        },
        {
          title: 'Roster', icon: 'mdi-account-multiple', route: 'view-workers', permission: 'READ_WORKERS',
        },
        {
          title: 'Internal Jobs', icon: 'mdi-account-group', route: 'marketplace', permission: 'READ_PRIVATE_MARKETPLACE_JOBS',
        },
        {
          title: 'Disbursement ', icon: 'mdi-cash-multiple', route: 'payment-disbursements', permission: 'READ_DISBURSEMENT',
        },
        {
          title: 'Settings', icon: 'mdi-cogs', route: 'edit-organisation', props: this.currentOrganisation,
        },
        {
          title: 'Marketplace Dashboard', icon: 'mdi-file-chart', route: 'marketplace-dashboard', permission: 'READ_PRIVATE_MARKETPLACE_JOBS',
        },
      ],
      adminLevelItems: [
        {
          title: 'Products', icon: 'mdi-apps', route: 'view-products',
        },
      ],
    };
  },
  computed: {
    ...mapState(['currentOrganisationId', 'organisations']),
    currentRoute() {
      return this.$route.path.split('/app/').pop();
    },
    currentOrganisation() {
      return this.$store.getters.currentOrganisation;
    },
    permissions() {
      return this.$store.getters.givenPermissions;
    },
    navigationItems() {
      let navItems = this.items;

      if (this.$AccessService.isAdminLevel()) {
        navItems = Array.from(navItems).concat(this.adminLevelItems);
      }

      return navItems.map(e => ({
        ...e,
        permitted: e.permission ? this.$AccessService.isPermitted(e.permission) : true,
      }));
    },
    canCreateExtraOrganisation() {
      return this.$AccessService.isPermitted('CREATE_MULTIPLE_ORGANISATION');
    },
    // navigationItems() {

    //   const permittedItems = items.filter(item => permissions.indexOf(item.permission) > -1);
    //   return permittedItems;
    // },
  },
  methods: {
    selectOrganisation(organisation) {
      this.$store.dispatch('setCurrentOrganisationId', organisation.id);
    },
    onNaviItemClick(item) {
      if (item.permitted) this.go(item.route, item.props);
      else this.$eventHub.$emit('show-tutorial', item.permission, true);
    },
    go(route) {
      this.$router.push({
        name: route,
        params: {
          organisation: this.organisation,
        },
      });
    },
  },
  mounted() {
    this.$log.debug({ permissions: this.permissions });
    if (this.permissions.length === 0) {
      this.$eventHub.$emit('show-alert', {
        type: 'info',
        message: 'You do not have any permission for this organisation',
      });
    }
  },
};

</script>

<style scoped>
.item-disable {
  color: rgba(0, 0, 0, 0.38) !important;
}
</style>
