<template>
  <v-container
    fluid
    class="fill-height pa-0"
  >
    <v-col
      class="fill-height jobdoh"
      cols="6"
    >
      <v-row
        no-gutters
        class="fill-height"
        justify="center"
        align="center"
      >
        <v-img
          contain
          height="100px"
          :src="require('../../assets/img/jobdoh_logo.png')"
        />
      </v-row>
    </v-col>
    <v-col
      cols="6"
      class="pa-0"
    >
      <v-row
        align="center"
        justify="center"
        no-gutters
      >
        <v-form v-model="valid">
          <v-card
            width="400px"
            class="text-center"
            :loading="loading"
            :disabled="loading"
          >
            <v-card
              v-if="errorMsg"
              class="error white--text pa-3"
              flat
            >
              <v-row
                no-gutters
                justify="center"
              >
                <v-icon
                  color="white"
                  left
                >
                  mdi-alert
                </v-icon>
                <span>{{ errorMsg }}</span>
              </v-row>
            </v-card>
            <v-card-title
              style="place-content: center;"
              class="pb-1"
            >
              Welcome to JOBDOH
            </v-card-title>
            <v-card-text>
              <div>
                "Get your talents instantly by posting your first job post."
              </div>
              <v-row
                no-gutters
                align="center"
                justify="center"
                class="mt-8"
              >
                <v-btn
                  id="btn-LoginPage-SignInGoogle"
                  class="px-0"
                  @click="loginGoogle"
                  tile
                  outlined
                >
                  <v-img
                    class="mr-1"
                    style="height: 38px;width: 36px;"
                    :src="require('../../assets/img/google_logo.svg')"
                    id="btn-LoginPage-SignInGoogle"
                  />
                  <span
                    class="px-3"
                    id="btn-LoginPage-SignInGoogle"
                  >
                    LOGIN with Google
                  </span>
                </v-btn>
              </v-row>

              <v-row
                no-gutters
                align="center"
                justify="center"
                class="my-2"
              >
                <v-divider />
                <span class="mx-1">OR login with email</span>
                <v-divider />
              </v-row>

              <v-text-field
                v-model="email"
                @input="emailErrorMsg = null"
                label="Email"
                outlined
                :rules="[$Validate.required, $Validate.email]"
                :error-messages="emailErrorMsg"
                hide-details="auto"
                :class="{ 'mb-2': !emailErrorMsg }"
              />
              <v-text-field
                v-model="password"
                @input="passwordErrorMsg = null"
                label="Password"
                outlined
                :type="showPassword ? 'text' : 'password'"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="showPassword = !showPassword"
                :rules="[$Validate.required]"
                :error-messages="passwordErrorMsg"
                hide-details="auto"
                :class="{ 'mb-2': !passwordErrorMsg }"
              />

              <v-btn
                id="btn-LoginPage-SignInEmail"
                @click="signIn"
                block
                outlined
                :disabled="!valid"
                v-html="'LOGIN'"
              />

              <v-divider class="my-6" />

              <SignUpButton />
            </v-card-text>
            <v-card-actions />
          </v-card>
        </v-form>
      </v-row>
      <v-system-bar
        height="50px"
        style="
        position: fixed;
        bottom: 0;
        right: 0;"
        class="pa-0"
      >
        <span class="px-3">
          Contact Us
        </span>
        <!-- <v-divider
            vertical
            dark
          /> -->
        <v-btn
          v-for="(link, i) in contactLinks"
          :id="`btn-LoginPage-${link.id}Link`"
          :key="i"
          icon
          tile
          :href="link.link"
          target="_blank"
          class="mx-1"
        >
          <v-icon>{{ link.icon }}</v-icon>
        </v-btn>
      </v-system-bar>
    </v-col>
  </v-container>
</template>

<script>
import SignUpButton from '@/components/Common/Buttons/SignUpButton';
import Alert from '@/components/Utils/Alerts/Alert';

export default {
  components: {
    SignUpButton,
  },

  name: 'Auth',

  data() {
    return {
      valid: false,
      email: null,
      password: null,
      emailError: true,
      emailErrorMsg: null,
      passwordErrorMsg: null,
      errorMsg: null,
      showPassword: false,
      loading: false,
      contactLinks: [
        {
          link: 'mailto:info@jobdoh.com',
          icon: 'mdi-email',
          id: 'Email',
        },
        {
          link: 'https://www.facebook.com/jobdohmyanmar/',
          icon: 'mdi-facebook',
          id: 'Facebook',
        },
        {
          link: 'https://www.linkedin.com/company/10099623',
          icon: 'mdi-linkedin',
          id: 'LinkedIn',
        },
      ],
    };
  },

  computed: {
    isAuthenticated() {
      return (this.$store.getters.myId !== null);
    },
    nextPath() {
      return this.$route.query.redirect;
    },
    nextQuery() {
      const query = Object.assign({}, this.$route.query);
      delete query.redirect;
      return query;
    },
  },

  watch: {
    isAuthenticated() {
      if (this.isAuthenticated) {
        this.redirectToNextRoute();
      }
    },
  },

  methods: {
    clearErrors() {
      this.errorMsg = null;
      this.emailErrorMsg = null;
      this.passwordErrorMsg = null;
    },
    async signIn() {
      this.loading = true;
      this.clearErrors();
      await this.$UserService
        .signInEmail(this.email, this.password)
        .catch((error) => {
          const { code } = error;
          if (code === 'auth/wrong-password') {
            this.passwordErrorMsg = 'Wrong Password';
          } else if (code === 'auth/user-not-found') {
            this.emailErrorMsg = 'Incorrect Email';
          } else if (code === 'auth/too-many-requests') {
            this.$eventHub.$emit('show-alert-error', { message: 'Too many requests. Try again later.' });
          } else {
            this.$eventHub.$emit('show-alert-error', { message: 'An error occured when signing in' });
          }
          this.$log.error(error);
        });
      this.loading = false;
    },
    changeLocale() {
      this.$log.info(this.$i18n.i18next.language);
      if (this.$i18n.i18next.language === 'en') {
        this.$i18n.i18next.changeLanguage('mm');
        return;
      }
      this.$i18n.i18next.changeLanguage('en');
    },
    loginGoogle() {
      this.$log.info('loginGoogle');
      this.$UserService
        .loginGoogle()
        .catch((error) => {
          this.$eventHub.$emit('show-alert-error', { message: 'An error occured when signing in' });
          this.$log.error(error);
        });
    },
    logout() {
      this.$UserService.logout();
    },
    async healthcheck() {
      this.loading = true;
      const isOK = await this.$UtilityService.healthcheck()
        .catch((err) => {
          this.$log.info(err);
          if (err.toString().includes('Failed to fetch')) {
            this.$eventHub.$emit('show-alert', {
              alert: true,
              type: 'error',
              message: 'We are maintaining the server. Please come back later!',
            });
          }
        });
      if (isOK == null) {
        this.$router.push('/');
      }
      this.loading = false;
    },
    redirectToNextRoute() {
      this.$router.replace({ path: this.nextPath || '/app/view-jobs', query: this.nextQuery });
    },
  },

  async mounted() {
    this.healthcheck();
    if (this.$route.query.mode === 'logout') {
      this.logout();
    } else if (this.isAuthenticated) {
      this.redirectToNextRoute();
    }
    // if (this.$UserService.isSignInWithEmailLink(link)) {
    //   this.$log.info('signingInWithEmailLink', link);
    //   this.loading = true;
    //   await this.$UserService.signInWithEmailLink(link);
    //   this.loading = false;
    // }
  },
};
</script>
