<template>
  <v-container class="fill-height">
    <v-row
      no-gutters
      align="center"
      justify="center"
    >
      <v-col
        class="text-center"
        align-self="center"
      >
        <slot />
      </v-col>
    </v-row>
  </v-container>
</template>
