<template>
  <v-tooltip
    v-model="tooltip"
    right
  >
    <template v-slot:activator="on">
      <v-hover v-slot:default="{ hover }">
        <v-chip
          v-clipboard:copy="value"
          v-clipboard:success="onCopy"
          :input-value="hover"
          outlined
          v-on="on"
          @click.stop
          @mouseover="clipboardIcon = 'mdi-content-copy'"
          id="btn-any-CopyClipboard"
        >
          <v-icon
            left
            small
            :color="color || 'white'"
            id="btn-any-CopyClipboard"
          >
            {{ icon || 'mdi-phone' }}
          </v-icon>
          <span style="color:white" id="btn-any-CopyClipboard">
            {{ label || value }}
          </span>
          <v-divider
            v-show="hover"
            class="ml-1"
            vertical
            id="btn-any-CopyClipboard"
          />
          <v-icon
            right
            :small="hover"
            :size="0"
            id="btn-any-CopyClipboard"
          >
            {{ clipboardIcon }}
          </v-icon>
        </v-chip>
      </v-hover>
    </template>
    <span>Copied!</span>
  </v-tooltip>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: () => '',
    },
    label: {
      type: String,
      default: () => '',
    },
    icon: {
      type: String,
      default: () => '',
    },
  },
  data() {
    return {
      tooltip: false,
      clipboardIcon: 'mdi-content-copy',
    };
  },
  methods: {
    onCopy() {
      this.tooltip = true;
      this.copied = true;
      this.clipboardIcon = 'mdi-check';
      setTimeout(() => {
        this.tooltip = false;
      }, 800);
    },
  },
};
</script>
