<template>
  <div>
    <v-toolbar
      class="jobdoh"
      :height="height"
    >
      <v-btn
        id="btn-any-Back"
        icon
        dark
        @click="back"
      >
        <v-icon id="btn-any-Back">
          mdi-arrow-left
        </v-icon>
      </v-btn>
      <v-spacer />
      <v-toolbar-title style="color:white">
        {{ title }}
      </v-toolbar-title>
      <v-spacer />
      <slot
        name="trailing"
        v-if="$slots.trailing"
      />
      <CopyChip
        v-if="editFor=='job' && !!shareLink"
        dark
        :value="shareLink"
        label="Share Link"
        icon="mdi-share-variant"
      />
      <AccessBlocker
        v-if="editFor=='job'"
        :features="['WRITE_ACCESS']"
      >
        <v-btn
          id="btn-JobDetailPage-EditJob"
          class="ma-3"
          outlined
          dark
          @click="editJob"
          v-html="'Edit'"
        />
      </AccessBlocker>
      <AccessBlocker
        v-if="editFor=='worker'"
        :features="['WRITE_ACCESS', 'ROSTER']"
      >
        <v-btn
          id="btn-WorkerDetailPage-EditWorker"
          class="ma-3"
          outlined
          dark
          @click="editWorker"
          v-html="'Edit'"
        />
      </AccessBlocker>
    </v-toolbar>
  </div>
</template>
<script>
import mongoose from 'mongoose';
// import ShareLinkButton from '@/components/Marketplaces/Jobs/Buttons/ShareLinkButton';
import CopyChip from '@/components/Common/CopyChip';
import AccessBlocker from '@/components/Common/AccessBlocker';

export default {
  components: {
    // ShareLinkButton,
    CopyChip,
    AccessBlocker,
  },

  props: {
    title: {
      type: String,
      default: () => '',
    },
    editFor: {
      type: String,
      default: () => '',
    },
    job: {
      type: Object,
      default: () => {},
    },
    worker: {
      type: Object,
      default: () => {},
    },
    shareLink: {
      type: String,
      default: () => '',
    },
    organisation: {
      type: Object,
      default: () => {},
    },
    onback: {
      type: Function,
      default: null,
    },
    height: {
      type: String,
      default: '50',
    },
  },
  data() {
    return {
    };
  },
  mounted() {
    if (this.worker && this.worker.id) {
      const objectId = mongoose.Types.ObjectId;
      this.isAlien = objectId.isValid(this.worker.id);
    }
  },
  methods: {
    editWorker() {
      const propWorker = this.worker;
      this.$eventHub.$emit('reload-edit-worker', {
        phone: propWorker.phone,
        paymentCoordinates: propWorker.paymentCoordinates,
      });
      this.$router.push({
        name: 'edit-worker',
        params: { worker: propWorker },
      });
    },
    editJob() {
      const propJob = this.job;

      this.$eventHub.$emit('jobedit-prepare-data', propJob);
      this.$router.push({
        name: 'edit-job',
        params: {
          jobObj: propJob,
          organisation: this.organisation,
        },
      });
    },
    back() {
      if (this.onback) this.onback();
      else this.$router.back();
    },
  },
};
</script>
