<template>
  <div>
    under construction
  </div>
</template>

<script>

export default {
  components: {
  },

  props: {
    demo: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
  }),

  computed: {
  },

  watch: {
  },

  mounted() {
  },

  methods: {

  },
};
</script>
