<template>
  <div>
    <v-row
      v-if="workerFeedbackValue && employerRatedEarlier"
      no-gutters
      class="my-2"
      align="end"
    >
      <v-spacer v-if="employerView" />
      <v-btn
        v-if="employerView"
        icon
        @click="$emit('edit')"
      >
        <v-icon small>
          mdi-pencil
        </v-icon>
      </v-btn>
      <v-card
        width="250px"
        rounded="lg"
        :color="employerView ? chatColor : ''"
        :dark="employerView"
        outlined
      >
        <v-card-text
          class="pb-1"
          :class="{ 'white--text': employerView }"
        >
          <div>Feedback: {{ workerFeedbackValue.feedback.replace(/_/g, ' ').toLowerCase() }}</div>
          <div v-if="workerFeedbackValue.note">
            Note: {{ workerFeedbackValue.note }}
          </div>
          <v-row
            no-gutters
            class="caption"
          >
            <v-spacer />
            <span>
              <span v-if="workerFeedbackIsEdited">Edited • </span>
              {{ workerFeedback.createdAt | dateTime('DD MMM YYYY') }}
            </span>
          </v-row>
        </v-card-text>
      </v-card>
    </v-row>
    <v-row
      v-if="employerFeedback && employerFeedbackValue"
      no-gutters
      class="my-2"
    >
      <v-spacer v-if="!employerView" />

      <v-card
        width="250px"
        rounded="lg"
        :color="!employerView ? chatColor : ''"
        :dark="!employerView"
        outlined
      >
        <v-card-text
          class="pb-1"
          :class="{ 'white--text': !employerView }"
        >
          <div
            v-for="q in employerFeedbackQs"
            :key="q.value"
          >
            {{ q.text }}
            <v-rating
              readonly
              small
              length="5"
              color="black"
              background-color="black"
              v-model="employerFeedbackValue[q.value]"
            />
          </div>
          <div v-if="employerFeedbackValue.note">
            Note: {{ employerFeedbackValue.note }}
          </div>
          <v-row
            no-gutters
            class="caption"
          >
            <v-spacer />
            <span>
              <span v-if="employerFeedbackIsEdited">Edited • </span>
              {{ employerFeedback.createdAt | dateTime('DD MMM YYYY') }}
            </span>
          </v-row>
        </v-card-text>
      </v-card>
    </v-row>
    <v-row
      v-if="workerFeedbackValue && !employerRatedEarlier"
      no-gutters
      class="my-2"
      align="end"
    >
      <v-spacer v-if="employerView" />
      <v-btn
        v-if="employerView"
        icon
        @click="$emit('edit')"
      >
        <v-icon small>
          mdi-pencil
        </v-icon>
      </v-btn>
      <v-card
        width="250px"
        rounded="lg"
        :color="employerView ? chatColor : ''"
        :dark="employerView"
        outlined
      >
        <v-card-text
          class="pb-1"
          :class="{ 'white--text': employerView }"
        >
          <div>Feedback: {{ workerFeedbackValue.feedback.replace(/_/g, ' ').toLowerCase() }}</div>
          <div v-if="workerFeedbackValue.note">
            Note: {{ workerFeedbackValue.note }}
          </div>
          <v-row
            no-gutters
            class="caption"
          >
            <v-spacer />
            <span>
              <span v-if="workerFeedbackIsEdited">Edited • </span>
              {{ workerFeedback.createdAt | dateTime('DD MMM YYYY') }}
            </span>
          </v-row>
        </v-card-text>
      </v-card>
    </v-row>
  </div>
</template>

<script>
import moment from 'moment';

export default {
  props: {
    employerView: Boolean,
    workerFeedback: {
      type: [Object, null],
      default: null,
    },
    employerFeedback: {
      type: [Object, null],
      default: null,
    },
  },


  data() {
    return {
      chatColor: '#C2232A',
      employerFeedbackQs: [
        {
          value: 'WORK_AMBIENCE',
          text: 'Work Ambience',
        },
        {
          value: 'JOB_DESCRIPTION_ACCURACY',
          text: 'Accuracy of the job description',
        },
        {
          value: 'MANAGEMENT_STYLE',
          text: 'Management style',
        },
        {
          value: 'COWORKERS_RELATIONSHIP',
          text: 'Coworkers relationship',
        },
        {
          value: 'WILLINGNESS_TO_RECOMMEND',
          text: 'Willingness to recommend to friends',
        },
      ],
    };
  },

  computed: {
    workerFeedbackIsEdited() {
      const { createdAt, updatedAt } = this.workerFeedback;
      return !moment(createdAt).isSame(updatedAt);
    },
    employerFeedbackIsEdited() {
      const { createdAt, updatedAt } = this.employerFeedback;
      return !moment(createdAt).isSame(updatedAt);
    },
    employerRatedEarlier() {
      return this.employerFeedback && this.workerFeedback
      && moment(this.workerFeedbackValue.createdAt).isBefore(this.employerFeedback.createdAt);
    },
    employerFeedbackValue() {
      return this.employerFeedback && JSON.parse(this.employerFeedback.feedbackValue);
    },
    workerFeedbackValue() {
      return this.workerFeedback && JSON.parse(this.workerFeedback.feedbackValue);
    },
  },
};
</script>

<style>

</style>
