<template>
  <v-footer
    class="footer pa-3 mx-5"
    color="blue"
    lighten-2
    round
    height="auto"
    dark
  >
    <v-flex xs4>
      <v-layout
        row
        wrap
      >
        <v-flex xs4>
          <v-card-text class="px-0">
            CONTACT US
          </v-card-text>
        </v-flex>
        <v-flex xs8>
          <v-list-tile-content>
            <v-list-tile-title>+95 345 678 903</v-list-tile-title>
            <v-list-tile-title>info@jobdoh.com</v-list-tile-title>
            <v-list-tile-title>24/7 Support</v-list-tile-title>
          </v-list-tile-content>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-flex xs4>
      <v-layout
        row
        wrap
      >
        <v-flex xs4>
          <v-card-text class="px-0">
            SERVICES
          </v-card-text>
        </v-flex>
        <v-flex xs8>
          <v-list-tile-content>
            <router-link to="/get-tasks-done">
              <v-list-tile-title>Get Tasks Done</v-list-tile-title>
            </router-link>
            <router-link to="/become-a-jobdoah">
              <v-list-tile-title>Become a Jobdoah</v-list-tile-title>
            </router-link>
            <v-list-tile-title>Download Slasher App</v-list-tile-title>
          </v-list-tile-content>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-flex xs4>
      <v-layout
        row
        wrap
      >
        <v-flex xs4>
          <v-card-text class="px-0">
            INFORMATION
          </v-card-text>
        </v-flex>
        <v-flex xs8>
          <v-list-tile-content>
            <router-link to="/about-us">
              <v-list-tile-title>About JOBDOH</v-list-tile-title>
            </router-link>
            <router-link to="/work-with-us">
              <v-list-tile-title>Work With Us</v-list-tile-title>
            </router-link>
            <router-link to="/privacy-policy">
              <v-list-tile-title>Privacy Policy</v-list-tile-title>
            </router-link>
            <router-link to="/about-us">
              <v-list-tile-title>Terms and Conditions</v-list-tile-title>
            </router-link>
            <router-link to="/press-enquiries">
              <v-list-tile-title>Press Enquiries</v-list-tile-title>
            </router-link>
          </v-list-tile-content>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-flex>
      <v-spacer />
      <div>
        &copy; {{ new Date().getFullYear() }} -
        <strong>JOBDOH - “Hassle-Free Way to get Tasks Done and Roles Filled”</strong>
      </div>
    </v-flex>
  </v-footer>
</template>
<style scoped>
.footer {
    font-size: 11px;
}
a {
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
}
.social {
    width: 80px;
}
</style>
