<template>
  <div>
    <p>Icecream you chose: {{ flavor }}</p>
    <label for="flavor">
      Favorite ice cream flavor?
    </label>
    <input
      @input="changed"
      name="flavor"
    >
  </div>
</template>

<script>
export default {
  computed: {
    flavor() { return this.$store.getters.flavor; },
  },
  methods: {
    changed(event) {
      this.$store.commit('change', event.target.value);
      // const eventProperties = {
      //  attr1: 'blue',
      // };
      // this.$amplitude.getInstance().logEvent('EVENT_TEST', eventProperties);
    },
  },
};
</script>
