<template>
  <v-dialog>
    <v-card>
      <v-img :src="src" />
    </v-card>
    <template #activator="{on}">
      <v-card
        v-on="on"
      >
        <v-card-title>
          <v-row justify="center">
            <v-icon v-text="icon" />
          </v-row>
        </v-card-title>

        <!--  -->
      </v-card>
    </template>
  </v-dialog>
</template>

<script>
export default {

};
</script>

<style>

</style>
