<template>
  <div>
    <div class="navbar-header">
      <a href="./">
        <img
          src="images/logo.png"
          style="height: 58px"
          alt="Jobdoh"
        >
      </a>
      <h6
        class="text-right language  email"
        style="margin: 5px 10px 0 0; position: fixed; top:0; left: auto; right: 30px; float: right;"
      >
        <select
          id="choose-language"
          class="custom-select-menu select-language"
        >
          <option
            value="{$smarty.get.page}?lang=zh"
          >
            HI
          </option>
          <option
            value="{$smarty.get.page}?lang=en"
          >
            Hong Kong [ENGLISH]
          </option>
        <!-- <option value="http://id.jobdoh.com">Indonesia</option> -->
        </select>
        <ul
          class="dropdown-menu"
          aria-labelledby="dropdownMenuDivider"
        >
          <li
            role="separator"
            class="divider"
          />
        </ul>
      </h6>
    </div>

    <div class="navbar-right">
      <ul
        class="nav navbar-nav sf-menu"
        data-type="navbar"
      >
        <li id="header-employee">
          <a href="ee.php">
            H
          </a>
        </li>
        <li id="header-employer">
          <a href="er.php">
            H2
          </a>
        </li>
        <li id="header-blog">
          <a href="/pages/blog/category/blog/">
            H3
          </a>
        </li>
        <!--<li id="header-testimonials">
            <a href="/pages/blog/category/testimonials/">{$HEADER_TESTIMONIALS}</a>
        </li>-->
        <li id="header-press">
          <a href="/pages/blog/category/press/">
            H3
          </a>
        </li>
        <li id="header-contactus">
          <a href="index.php#contact">
            H3
          </a>
        </li>
        <li
          id="header-language"
          class="dropdown"
        >
          <a
            href="#"
            class="visible-xs"
          >
            H3
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="">
                香港 [中文]
              </a>
            </li>
            <li>
              <a href="">
                Hong Kong [ENGLISH]
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Navbar',

  computed: {
  },

  methods: {
  },
};
</script>
