<template>
  <v-row>
    <v-btn
      icon
      @click="$emit('prev')"
    >
      mdi-arrow-left
    </v-btn>
    {{ label }}
    <v-btn
      icon
      @click="$emit('next')"
    >
      mdi-arrow-right
    </v-btn>
  </v-row>
</template>

<script>
export default {

};
</script>

<style>

</style>
