<template>
  <v-container
    fluid
    grid-list-md
    text-xs-center
  >
    <v-layout
      row
      wrap
      justify-center
      align-center
      column
      pa-5
    >
      <iframe
        :src="task.url"
        width="640"
        height="1420"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
      >
        Loading...
      </iframe>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  props: {
    task: {
      type: Object,
      default: () => {},
    },
  },
};
</script>
