<template>
  <v-navigation-drawer
    permanent
    absolute
    height="100vh"
    width="200px"
  >
    <v-list>
      <v-list-item
        v-for="(item, i) in navigationItems"
        :key="i"
        @click="go(item.route)"
      >
        <v-list-item-title v-text="item.name" />
        <v-list-item-action>
          <v-icon v-text="item.icon" />
        </v-list-item-action>
      </v-list-item>
    </v-list>
    <label
      class="ma-2"
    >
      label
    </label>
    <label
      class="ma-2"
    >
      version
    </label>
    <label
      class="ma-2"
      v-if="this.$store.getters.getEnv !== 'production'"
    >
      [{{ this.$store.getters.getEnv.toUpperCase() }}]
    </label>
  </v-navigation-drawer>
</template>

<script>
export default {
  props: {
    navigationItems: {
      type: Array,
      default: () => [],
    },
  },

  methods: {
    go(name) {
      this.$router.push({ name });
    },
  },
};
</script>
<style>
.fixed {
  position: fixed;
}
</style>
