<template>
  <iframe
    :src="embedUrl"
    frameborder="0"
  />
</template>

<script>
const getId = (url) => {
  const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
  const match = url.match(regExp);

  return (match && match[2].length === 11)
    ? match[2]
    : null;
};

export default {
  props: {
    url: {
      type: String,
      default: () => '',
    },
  },

  data: () => ({
    embedUrl: '',
  }),

  methods: {
    getEmbedUrl(url) {
      const videoId = getId(url);
      this.embedUrl = `https://www.youtube.com/embed/${videoId}`;
    },
  },

  mounted() {
    this.getEmbedUrl(this.url);
  },
};
</script>
