<template>
  <v-combobox
    outlined
    chips
    :multiple="multiple"
    :full-width="fullWidth"
    :dense="dense"
    :label="label"
    :items="items"
    :value="value"
    @change="v => $emit('input', v)"
  />
</template>

<script>
/* eslint-disable vue/require-default-prop */
export default {
  props: {
    value: {
      type: [Array, String],
      required: true,
    },
    items: {
      type: Array,
      default: () => [],
    },
    label: {
      type: String,
      default: '',
    },
    fullWidth: Boolean,
    multiple: Boolean,
    dense: Boolean,
  },
};
</script>
