<template>
  <v-list-item
    id="btn-NotificationPage-NotificationItem"
    @click="$emit('click')"
    three-line
    class="normal-height"
  >
    <v-list-item-content>
      <v-list-item-title>
        {{ $t(notification.title) }}
      </v-list-item-title>
      <v-list-item-subtitle
        class="unset-lineclamp"
        v-html="$t(notification.body)"
      />
    </v-list-item-content>
    <v-list-item-action>
      <v-chip
        :style="{visibility: notification.isRead ? 'hidden': 'visible'}"
        class="ml-3 red-background white--text"
        x-small
      >
        New
      </v-chip>

      <v-list-item-action-text v-text="timeStamp" />
    </v-list-item-action>
  </v-list-item>
</template>

<script>
import moment from 'moment';

export default {
  props: {
    notification: {
      type: Object,
      required: true,
    },
  },

  computed: {
    timeStamp() {
      return moment(this.notification.receiveDate).fromNow();
    },
  },
};
</script>

<style scoped>
.unset-lineclamp {
  -webkit-line-clamp: unset !important;
}
.normal-height {
  min-height: 48px;
}
.red-background {
  background-color: #C2232A !important;
}
</style>
