<template>
  <iframe
    v-if="youtubeId"
    :width="width"
    :height="height"
    :src="`https://www.youtube-nocookie.com/embed/${youtubeId}`"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    :allowfullscreen="allowfullscreen"
  />
</template>

<script>
/* eslint-disable vue/require-default-prop */
export default {
  props: {
    width: {
      type: String,
      default: '',
    },
    height: {
      type: String,
      default: '',
    },
    url: {
      type: String,
      default: '',
    },
    allowfullscreen: Boolean,
  },
  computed: {
    youtubeId() {
      const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
      const match = this.url.match(regExp);

      return (match && match[2].length === 11)
        ? match[2]
        : null;
    },
  },
};
</script>

<style>

</style>
