<template>
  <v-layout
    row
    wrap
  >
    <v-flex
      xs12
      sm6
    >
      <v-menu
        v-model="menu1"
        :close-on-content-click="false"
        :nudge-right="40"
        lazy
        transition="scale-transition"
        offset-y
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="shifts[0].startTime"
            label="Select Start Date"
            prepend-icon="event"
            solo
            readonly
            v-on="on"
          />
        </template>
        <v-date-picker
          v-model="shifts[0].startTime"
          @input="menu1 = false"
        />
      </v-menu>
    </v-flex>
    <v-flex
      xs12
      sm6
    >
      <v-menu
        v-model="menu2"
        :close-on-content-click="false"
        :nudge-right="40"
        lazy
        transition="scale-transition"
        offset-y
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="shifts[0].endTime"
            label="Select End Date"
            solo
            prepend-icon="event"
            readonly
            v-on="on"
          />
        </template>
        <v-date-picker
          v-model="shifts[0].endTime"
          @input="menu2 = false"
        />
      </v-menu>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  props: {
    shifts: {
      type: Array,
      default: () => [],
    },
  },
  data: () => ({
    menu1: false,
    menu2: false,
  }),
};
</script>
