<template>
  <v-layout
    row
    wrap
  >
    <v-flex
      xs12
      sm12
    >
      <v-menu
        v-model="menu"
        :close-on-content-click="false"
        :nudge-right="40"
        transition="scale-transition"
        offset-y
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="shifts[0].startDate"
            label="Start Date"
            prepend-icon="event"
            solo
            readonly
            v-on="on"
          />
        </template>
        <v-date-picker
          v-model="shifts[0].startDate"
          @input="menu = false"
        />
      </v-menu>
    </v-flex>
    <v-flex
      xs12
      sm12
    >
      <v-menu
        v-model="menu3"
        :close-on-content-click="false"
        :nudge-right="40"
        transition="scale-transition"
        offset-y
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="shifts[0].endDate"
            label="End Date"
            prepend-icon="event"
            solo
            readonly
            v-on="on"
          />
        </template>
        <v-date-picker
          v-model="shifts[0].endDate"
          @input="menu = false"
        />
      </v-menu>
    </v-flex>
    <v-flex
      xs12
      sm6
    >
      <v-menu
        ref="menu1"
        v-model="menu1"
        :close-on-content-click="false"
        :nudge-right="40"
        :return-value.sync="time"
        transition="scale-transition"
        offset-y
        max-width="290px"
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="shifts[0].startTime"
            label="Picker Start Time"
            solo
            prepend-icon="access_time"
            readonly
            v-on="on"
          />
        </template>
        <v-time-picker
          v-if="menu1"
          v-model="shifts[0].startTime"
          @click:minute="$refs.menu1.save(time)"
        />
      </v-menu>
    </v-flex>
    <v-flex
      xs12
      sm6
    >
      <v-menu
        ref="menu2"
        v-model="menu2"
        :close-on-content-click="false"
        :nudge-right="40"
        :return-value.sync="time"
        transition="scale-transition"
        offset-y
        max-width="290px"
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="shifts[0].endTime"
            label="Picker End Time"
            solo
            prepend-icon="access_time"
            readonly
            v-on="on"
          />
        </template>
        <v-time-picker
          v-if="menu2"
          v-model="shifts[0].endTime"
          @click:minute="$refs.menu2.save(time)"
        />
      </v-menu>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  props: {
    shifts: {
      type: Array,
      default: () => [],
    },
  },
  data: () => ({
    menu: false,
    menu1: false,
    menu2: false,
    menu3: false,
    time: null,
  }),
  mounted() {
    // this.shifts[0].startDate = this.$moment().format('YYYY-MM-DD');
    // this.shifts[0].endDate = this.$moment()
    //   .add(3, 'years')
    //   .format('YYYY-MM-DD');
    // this.shifts[0].startTime = '09:00';
    // this.shifts[0].endTime = '06:00';
    this.$log.info({ shifts: this.shifts });
  },
};
</script>
