<template>
  <v-container>
    <v-layout
      row
      wrap
      v-for="(shift, i) in shifts"
      :key="i"
    >
      <v-flex
        xs12
        sm3
      >
        <v-menu
          v-model="menus[i].menu1"
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="shift.startDate"
              label="Select Start Date"
              prepend-icon="event"
              solo
              readonly
              v-on="on"
            />
          </template>
          <v-date-picker
            v-model="shift.startDate"
            @input="menus[i].menu1 = false"
          />
        </v-menu>
      </v-flex>
      <v-flex
        xs12
        sm3
      >
        <v-menu
          :ref="`menu11${i}`"
          v-model="menus[i].menu2"
          :close-on-content-click="false"
          :nudge-right="40"
          :return-value.sync="time"
          transition="scale-transition"
          offset-y
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="shift.startTime"
              label="Picker Start Time"
              solo
              prepend-icon="access_time"
              readonly
              v-on="on"
            />
          </template>
          <v-time-picker
            v-if="menus[i].menu2"
            v-model="shift.startTime"
            @click:minute="$refs[`menu11${i}`][0].save(time)"
          />
        </v-menu>
      </v-flex>
      <v-flex
        xs12
        sm3
      >
        <v-menu
          :ref="`menu22${i}`"
          v-model="menus[i].menu3"
          :close-on-content-click="false"
          :nudge-right="40"
          :return-value.sync="time"
          transition="scale-transition"
          offset-y
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="shift.endTime"
              label="Picker End Time"
              solo
              prepend-icon="access_time"
              readonly
              v-on="on"
            />
          </template>
          <v-time-picker
            v-if="menus[i].menu3"
            v-model="shift.endTime"
            @click:minute="$refs[`menu22${i}`][0].save(time)"
          />
        </v-menu>
      </v-flex>
      <v-flex
        xs12
        sm3
      >
        <v-btn
          id="btn-any-DeleteShift"
          color="error"
          dark
          @click="deleteRow(i)"
        >
          <v-icon
            id="btn-any-DeleteShift"
            dark
            left
          >
            remove_circle
          </v-icon>Delete
        </v-btn>
      </v-flex>
    </v-layout>
    <v-btn
      id="btn-any-AddShift"
      color="primary"
      small
      dark
      @click="addRow"
      class="my-4"
    >
      <v-icon
        id="btn-any-AddShift"
        dark
        left
      >
        add
      </v-icon>Add Shift
    </v-btn>
  </v-container>
</template>

<script>
export default {
  props: {
    shifts: {
      type: Array,
      default: () => [],
    },

  },
  data: () => ({
    menus: [
      {
        menu1: false,
        menu2: false,
        menu3: false,
      },
    ],
    time: null,
  }),

  mounted() {
    this.prepareInitialData(this.shifts);
    this.$eventHub.$on('shiftinput-prepare-data', (shifts) => {
      this.prepareInitialData(shifts);
    });
  },

  methods: {
    prepareInitialData(shifts) {
      this.menus.length = 0;
      for (let i = 0; i < shifts.length; i += 1) {
        this.menus.push(
          {
            menu1: false,
            menu2: false,
            menu3: false,
          },
        );
      }
      this.$log.info(this.menus);
    },
    addRow() {
      this.menus.push({
        menu1: false,
        menu2: false,
        menu3: false,
      });

      const lastShiftTime = this.shifts.slice(-1)[0];
      if (lastShiftTime === undefined) {
        this.shifts.push({
          startDate: null,
          startTime: null,
          endTime: null,
        });
        return;
      }
      this.shifts.push({
        status: 'create',
        startDate: lastShiftTime.startDate,
        startTime: lastShiftTime.startTime,
        endTime: lastShiftTime.endTime,
      });
      this.$log.info({ shifts: this.shifts });
    },
    deleteRow(index) {
      this.shifts.splice(index, 1);
    },
  },
};
</script>
