<template>
  <v-form
    :value="valid"
    @input="v => $emit('update:valid', v)"
    style="overflow-y: scroll"
    ref="companyinfoform"
  >
    <v-container>
      <v-row
        no-gutters
        justify="center"
      >
        <v-row
          style="max-width: 600px"
          justify="start"
          align="center"
        >
          <v-switch
            v-model="isNotMyCompany"
            label="I am posting a job on behalf of another company"
            @change="toggleCompanyInfo"
          />
          <v-spacer />
          <v-chip
            outlined
            link
            @click="$router.push('/app/edit-organisation')"
            :color="isNotMyCompany && 'white'"
          >
            <v-icon
              left
              small
            >
              mdi-open-in-new
            </v-icon>
            Settings
          </v-chip>
        </v-row>
      </v-row>
      <v-row
        no-gutters
        justify="center"
      >
        <v-text-field
          outlined
          :value="proxyCompanyName"
          @input="value => $emit('update:proxy-company-name', value)"
          label="Company Name"
          style="max-width: 600px"
          :disabled="!isNotMyCompany"
          :rules="[$Validate.required]"
        />
      </v-row>

      <v-row
        no-gutters
        justify="center"
      >
        <v-text-field
          outlined
          :value="proxyCompanyContact"
          @input="value => $emit('update:proxy-company-contact', value)"
          label="Company Contact"
          style="max-width: 600px"
          :disabled="!isNotMyCompany"
          :rules="[$Validate.required]"
        />
      </v-row>
      <v-row
        no-gutters
        justify="center"
      >
        <v-text-field
          outlined
          :value="proxyCompanyAddress"
          @input="value => $emit('update:proxy-company-address', value)"
          label="Company Address"
          style="max-width: 600px"
          :disabled="!isNotMyCompany"
        />
      </v-row>

      <v-row
        no-gutters
        justify="center"
      >
        <v-text-field
          outlined
          :value="proxyCompanyWebsiteUrl"
          @input="value => $emit('update:proxy-company-website-url', value)"
          label="Company Website"
          style="max-width: 600px"
          :disabled="!isNotMyCompany"
        />
      </v-row>

      <v-row
        no-gutters
        justify="center"
      >
        <v-text-field
          outlined
          :value="proxyEmployerName"
          @input="value => $emit('update:proxy-employer-name', value)"
          label="Contact Name"
          style="max-width: 600px"
          :disabled="!isNotMyCompany"
          :rules="[$Validate.required]"
        />
      </v-row>
      <v-row
        no-gutters
        justify="center"
      >
        <v-textarea
          outlined
          :value="proxyCompanyDescription"
          @input="value => $emit('update:proxy-company-description', value)"
          label="Company Description"
          style="max-width: 600px"
          :disabled="!isNotMyCompany"
          :rules="[$Validate.required]"
        />
      </v-row>

      <v-row
        no-gutters
        justify="center"
        class="mb-6"
      >
        <v-card
          outlined
          width="600px"
        >
          <v-card-text>
            Benefits
            <v-switch
              v-model="allowAdvancedPay"
              @change="v => $emit('update:allow-advanced-pay', v)"
              label="Allow Advanced Pay (KhuPay)"
            />

            <v-switch
              v-model="allowFlexibleTime"
              @change="v => $emit('update:allow-flexible-time', v)"
              label="Allow Flexible Time"
            />
          </v-card-text>
        </v-card>
      </v-row>

      <v-row
        no-gutters
        justify="center"
      >
        <BenefitsCombo
          style="max-width: 600px"
          :benefits.sync="benefits"
          @benefits-updated="value => $emit('update:benefits', value)"
        />
      </v-row>
    </v-container>
    <v-row
      no-gutters
      align="center"
      class="bottombar"
    >
      <v-spacer />
      <v-btn
        id="btn-any-CompanyInformationForm-Back"
        class="ma-1"
        color="default"
        @click="changeStep('tab-6')"
        v-html="'Back'"
      />
      <v-btn
        id="btn-any-CompanyInformationForm-Back"
        v-if="formType != 'OFFLINE'"
        class="ma-1 mr-7 jobdoh"
        :dark="valid"
        :disabled="!valid"
        @click.prevent="save"
        v-html="'Next'"
      />
      <!-- <JobCreateButton
        :job="job"
        :temp-id="tempId"
        :job-data="{
          benefits,
          proxyCompanyName,
          proxyCompanyDescription
        }"
      /> -->
    </v-row>
  </v-form>
</template>

<script>
// import JobCreateButton from '@/components/Marketplaces/Jobs/Buttons/JobCreateButton';
import BenefitsCombo from '@/components/Marketplaces/Jobs/Comboboxes/BenefitsCombo';

export default {
  components: {
    // JobCreateButton,
    BenefitsCombo,
  },

  props: {
    tempId: {
      type: String,
      default: () => '',
    },
    proxyCompanyName: {
      type: String,
      default: () => '',
    },
    proxyCompanyDescription: {
      type: String,
      default: () => '',
    },
    proxyCompanyAddress: {
      type: String,
      default: () => '',
    },
    proxyEmployerName: {
      type: String,
      default: () => '',
    },
    proxyCompanyContact: {
      type: String,
      default: () => '',
    },
    proxyCompanyWebsiteUrl: {
      type: String,
      default: () => '',
    },
    organisation: {
      type: Object,
      require: true,
      default: () => {},
    },
    benefits: {
      type: Array,
      default: () => [],
    },
    allowAdvancedPay: Boolean,
    allowFlexibleTime: Boolean,
    valid: Boolean,
  },

  data() {
    return {
      proxyCompanyPhone: '',
      emptyRules: [
        this.$Validate.required,
      ],
      isNotMyCompany: this.proxyCompanyName !== this.organisation.name,
      baseUrl: `${window.location.origin}/#`,
    };
  },

  methods: {
    toggleCompanyInfo(isNotMyCompany) {
      if (isNotMyCompany) {
        this.$emit('clear-company-info');
      } else {
        this.$emit('set-company-info');
      }
    },
    changeStep(n) {
      this.$root.$emit('job-create-step', n);
    },
    save() {
      this.$emit('save-job');
      this.$root.$emit('job-create-step', 'tab-8');
    },
  },
};
</script>
