<template>
  <v-form
    style="overflow-y: scroll"
    :value="valid"
    @input="v => $emit('update:valid', v)"
  >
    <v-container>
      <v-row>
        <v-col>
          <v-card outlined>
            <v-card-title>Pick an employment contract template</v-card-title>
            <transition
              name="slide-y-reverse-transition"
            >
              <v-alert
                v-if="contractType === 'AUTO_GENERATED'"
                type="error"
                class="mx-4"
                dense
                icon="mdi-information"
              >
                Applicants will only see the contract after
                they apply and you offer them the job.
              </v-alert>
            </transition>
            <v-list class="pa-0">
              <v-list-item-group
                v-model="contractType"
                mandatory
              >
                <div
                  v-for="{type, label} in contractTypes"
                  :key="type"
                >
                  <v-list-item
                    :value="type"
                    active-class="red--text"
                    :disabled="isNotSupported(type)"
                  >
                    <v-list-item-content>
                      <v-list-item-title v-text="label" />
                    </v-list-item-content>
                    <v-list-item-avatar>
                      <v-avatar
                        class="jobdoh white--text"
                        :size="isSelectedType(type) ? 50 : 0"
                      >
                        <v-icon>mdi-chevron-right</v-icon>
                      </v-avatar>
                    </v-list-item-avatar>
                  </v-list-item>
                  <v-divider />
                </div>
              </v-list-item-group>
            </v-list>
          </v-card>
        </v-col>
        <v-col>
          <v-card style="overflow-y: scroll;height: calc(100vh - 273px);">
            <v-card-text v-if="contractType === 'AUTO_GENERATED'">
              <div
                class="contract"
                v-html="contractToShow"
                :key="contractToUse"
              />
              <v-checkbox
                v-model="useGeneratedContract"
                disabled
                label="Use Default Contract"
              />
            </v-card-text>
            <v-card-text
              v-else
              class="fill-height"
            >
              <center>
                <v-icon size="100">
                  mdi-file-document-outline
                </v-icon>
                <h3 class="my-2">
                  Contract will be managed by employer
                </h3>
              </center>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <v-row
      no-gutters
      align="center"
      class="bottombar"
    >
      <v-spacer />
      <v-btn
        id="btn-any-JobContractForm-Back"
        v-if="jobType != 'OFFLINE'"
        class="ma-1"
        color="default"
        @click="changeStep('tab-7')"
        v-html="'Back'"
      />
      <v-btn
        id="btn-any-JobContractForm-Back"
        v-else
        class="ma-1"
        color="default"
        @click="changeStep('tab-2')"
        v-html="'Back'"
      />
      <JobUpdateButton
        v-if="editor"
        :job="job"
        :old-job="oldJob"
        :organisation="organisation"
        @updated="$eventHub.$emit('refetch-job-edit')"
      />
      <JobCreateButton
        v-else
        :job="job"
        :temp-id="tempId"
        :job-contract="contract"
        @created="$emit('created')"
      />
      <!-- <v-btn
          :disabled="!useGeneratedContract"
          @click="createJobContract"
          class="jobdoh-red white--text"
        >
          Create
        </v-btn> -->
    </v-row>
  </v-form>
</template>

<script>
import moment from 'moment';
import CONTRACTS from '@/assets/utils/jobContracts';
import JobCreateButton from '@/components/Marketplaces/Jobs/Buttons/JobCreateButton';
import JobUpdateButton from '@/components/Marketplaces/Jobs/Buttons/JobUpdateButton';
import Center from '@/components/Common/Center';
import _ from 'lodash';

export default {
  components: {
    JobCreateButton,
    JobUpdateButton,
    Center,
  },

  props: {
    job: {
      type: Object,
      default: () => {},
    },
    organisation: {
      type: Object,
      required: true,
    },
    tempId: {
      type: String,
      default: () => '',
    },
    editor: {
      type: Boolean,
      default: false,
    },
    oldJob: {
      type: Object,
      required: true,
    },
    valid: Boolean,
  },

  data() {
    return {
      useGeneratedContract: true,
      contracts: CONTRACTS,
      startDate: this.job.listingStartDate,
      contractType: 'AUTO_GENERATED',
      unSupportedContractTypes: ['UPLOAD'],
      contractTypes: [
        { type: 'AUTO_GENERATED', label: 'Use Default Contract' },
        { type: 'MANAGED_BY_EMPLOYER', label: 'I will manage my own employment contract' },
        { type: 'UPLOAD', label: 'Upload Contract' }],
    };
  },
  computed: {
    renumerationValue() {
      return this.job.renumerationValue;
    },
    shifts() {
      return this.job.shifts || this.job.times;
    },
    contractToUse() {
      const {
        title, proxyCompanyName, proxyEmployerName,
        sickLeaveDays, personalLeaveDays, specialLeaveDays,
      } = this.job;
      const str = this.getContractByCountry(this.organisation.region)
        .replace('@@title@@', title)
        .replace('@@startDate@@', this.startDate)
        .replace(/@@employerName@@/g, proxyEmployerName)
        .replace(/@@companyName@@/g, proxyCompanyName)
        .replace(/@@organisationAddress@@/g, this.job.address)
        .replace(/@@businessRegNumber@@/g, `${this.organisation.businessRegNumber}`)
        .replace('@@sickLeaveDays@@', sickLeaveDays)
        .replace('@@personalLeaveDays@@', personalLeaveDays)
        .replace('@@specialLeaveDays@@', specialLeaveDays);
      return str;
    },
    contractToShow() {
      const {
        renumerationCurrency, paymentOption, workingDays, workingHours, lunchHour,
      } = this.job;
      let str = this.contractToUse
        .replace('@@renumerationValue@@', this.$options.filters.currency(this.renumerationValue, renumerationCurrency, paymentOption));
      if (this.shifts.length > 1) {
        const shiftsString = this.shifts.map(this.getFormattedShift).join('<br>');
        str = str.replace('@@workingArrangements@@', shiftsString);
      } else if (workingDays && workingHours && lunchHour) {
        str = str
          .replace('@@workingArrangements@@', CONTRACTS.working_arrangements_temp_full_time)
          .replace('@@workingDays@@', `${_.capitalize(workingDays[0])} to ${_.capitalize(workingDays[workingDays.length - 1])}`)
          .replace('@@workingHours@@', `${workingHours[0]} to ${workingHours[workingHours.length - 1]}`)
          .replace('@@lunchHour@@', `${lunchHour[0]} to ${lunchHour[lunchHour.length - 1]}`);
      }
      return str;
    },
    contract() {
      if (this.contractType === 'AUTO_GENERATED') return this.contractToUse;
      return null;
    },
  },

  methods: {
    isSelectedType(contractType) {
      return contractType === this.contractType;
    },
    isNotSupported(contractType) {
      return this.unSupportedContractTypes.includes(contractType);
    },
    getFormattedShift(time, i) {
      const startDate = moment(time.start).format('DD MMM YYYY');
      const endDate = moment(time.end).format('DD MMM YYYY');
      const startTime = moment(time.start).format('hh:mmA');
      const endTime = moment(time.end).format('hh:mmA');
      return `Shift ${i + 1}: ${startDate} - ${endDate} | ${startTime} - ${endTime}`;
    },
    getContractByCountry(countryCode) {
      switch (countryCode) {
        case 'hk':
          return this.contracts.template_hk;
        case 'mm':
          return this.contracts.template_mm;
        case 'vn':
          return this.contracts.template_vn;
        default:
          return null;
      }
    },
    changeStep(n) {
      this.$root.$emit('job-create-step', n);
    },
    async createJobContract() {
      const args = {
        jobId: this.job.id,
        // jobId: '5ec241aaecfbb7cf472bab58',
        jobStartDate: new Date(),
        renumerationValue: String(this.renumerationValue),
        employerId: this.$store.getters.myId,
        signingDateEmployer: new Date(),
        contract: this.contract,
      };

      const ret = await this.$JobService.createJobContract(args);

      this.$log.info({ ret });
      if (ret) {
        this.$eventHub.$emit('show-alert', {
          type: 'success',
          message: 'Job Contract Successfully Created',
        });
      }
    },
  },

  // mounted() {
  //   this.title = this.job.title;
  //   this.renumerationValue = this.job.renumerationValue;
  //   // this.renumerationValue = `${this.job.renumerationValue} (${this.job.paymentOption})`;
  // },
};
</script>


<style scoped>
  .contract >>> h3 {
    display: inline-block;
  }
  .contract >>> h4 {
    display: inline-block;
  }
</style>
