<template>
  <div>
    <CustomNavBar
      :title="navBarTitle"
      :organisation="organisation"
    >
      <template #trailing>
        <div style="width: 250px">
          <v-select
            :value="formType"
            label="Privacy"
            :items="formTypes"
            item-value="value"
            return-object
            dense
            small
            height="5px"
            outlined
            background-color="white"
            color="black"
            hide-details
            class="mx-1"
          >
            <template #item="{ item, on, attrs }">
              <v-list-item
                v-if="$AccessService.isUnlocked(item.feature)"
                @click="onFormTypeChange(item)"
                v-bind="attrs"
                v-on="on"
              >
                <v-list-item-title>
                  {{ item.text }}
                </v-list-item-title>
              </v-list-item>
              <v-list-item
                v-else
                @click="$eventHub.$emit('show-tutorial-feature', item.feature, true)"
              >
                <span class="grey--text">
                  {{ item.text }}
                </span>
              </v-list-item>
            </template>
          </v-select>
        </div>
      </template>
    </CustomNavBar>
    <v-row
      no-gutters
      align="center"
      justify="center"
      class="py-2"
    >
      <v-spacer />
      <v-select
        v-if="formType === 'PRIVATE'"
        v-model="job.marketplaceId"
        label="Marketplaces"
        outlined
        :items="organisation.marketplaces"
        item-value="id"
        item-text="name"
        hide-details
        :error="!job.marketplaceId"
        @change="(v) => job.marketplaceId = v || this.PUBLIC_MARKETPLACE_ID"
      />
      <v-col
        cols="2"
        align-self="center"
        class="text-center"
      />
    </v-row>
    <v-row
      no-gutters
    >
      <v-card
        flat
        width="100%"
      >
        <v-tabs
          v-model="tab"
          background-color="transparent"
          color="#C2232A"
          icons-and-text
          center-active
          show-arrows
          grow
        >
          <v-tabs-slider color="#C2232A" />

          <v-tab
            v-for="(t, i) in tabs"
            :key="i"
            :href="`#tab-${t.id}`"
            :disabled="t.disabled"
          >
            {{ t.title }}
            <v-icon>{{ t.icon }}</v-icon>
          </v-tab>

          <!-- <v-tab
            v-if="formType != 'OFFLINE'"
            href="#tab-1"
          >
            ROLE
            <v-icon>mdi-account-network</v-icon>
          </v-tab>

          <v-tab href="#tab-2">
            JOB DESCRIPTION
            <v-icon>mdi-text</v-icon>
          </v-tab>

          <v-tab
            v-if="formType != 'OFFLINE'"
            href="#tab-3"
          >
            REQUIREMENTS
            <v-icon>mdi-star</v-icon>
          </v-tab>

          <v-tab
            href="#tab-4"
          >
            TIME
            <v-icon>mdi-calendar-clock</v-icon>
          </v-tab>

          <v-tab href="#tab-5">
            PAYMENT
            <v-icon>mdi-cash-multiple</v-icon>
          </v-tab>

          <v-tab href="#tab-6">
            LOCATION
            <v-icon>mdi-map-marker-plus</v-icon>
          </v-tab>

          <v-tab
            v-if="formType != 'OFFLINE' && !hasWorker"
            href="#tab-7"
          >
            COMPANY INFORMATION
            <v-icon>mdi-information</v-icon>
          </v-tab>

          <v-tab
            v-if="formType != 'OFFLINE'"
            href="#tab-8"
          >
            CONTRACT
            <v-icon>mdi-file-document</v-icon>
          </v-tab> -->
        </v-tabs>

        <v-divider />

        <v-tabs-items v-model="tab">
          <v-tab-item
            v-if="formType != 'OFFLINE'"
            value="tab-1"
          >
            <RoleForm
              class="form"
              :valid.sync="formState[0]"
              :class="{'edit-form': editor}"
              :job.sync="job"
              :temp-id.sync="tempId"
              :category-id.sync="job.jobCategoryId"
              :category.sync="job.category"
              :role-id.sync="job.jobRoleId"
              :role.sync="job.jobRole"
              :affiliate-id.sync="job.affiliateIds"
              :skills.sync="skills"
              :job-type.sync="job.type"
              :marketplace-id.sync="job.marketplaceId"
              :organisation="organisation"
              @reset-job="job = getDefaultJobTemp()"
              @save-job="createTempJob"
            />
          </v-tab-item>
          <v-tab-item
            value="tab-2"
          >
            <ModeForm
              class="form"
              :valid.sync="formState[1]"
              :class="{'edit-form': editor}"
              :titles="job.jobRole ? job.jobRole.titles : []"
              :job-title.sync="job.title"
              :job-type.sync="job.type"
              :requirement-min-experience-level.sync="job.requirementMinExperienceLevel"
              :job-description.sync="job.description"
              :payment-option.sync="job.paymentOption"
              :benefits.sync="job.benefits"
              :listing-start-date.sync="job.listingStartDate"
              :listing-end-date.sync="job.listingEndDate"
              :available-countries.sync="job.availableCountries"
              :form-type="formType"
              :editor="editor"
              :job="job"
              @save-job="overrideTempJob"
            />
          </v-tab-item>
          <v-tab-item
            v-if="formType != 'OFFLINE'"
            value="tab-3"
          >
            <RequirementsForm
              class="form"
              :valid.sync="formState[2]"
              :class="{'edit-form': editor}"
              :requirement-description.sync="job.requirementDescription"
              :requirement-demographic-gender.sync="job.requirementDemographicGender"
              :job-skills.sync="job.skills"
              :skills="skills"
              :job-role="job.jobRole"
              :job-category="jobCategory"
              @save-job="overrideTempJob"
            />
          </v-tab-item>
          <v-tab-item
            value="tab-4"
          >
            <TimeForm
              class="form"
              :valid.sync="formState[3]"
              :class="{'edit-form': editor}"
              :listing-start-date.sync="job.listingStartDate"
              :listing-end-date.sync="job.listingEndDate"
              :times.sync="job.times"
              :vacancies.sync="job.vacancies"
              :allow-flexible-time.sync="job.allowFlexibleTime"
              :hours-per-week.sync="job.hoursPerWeek"
              :is-open-ended.sync="job.isOpenEnded"
              :working-days.sync="job.workingDays"
              :working-hours.sync="job.workingHours"
              :lunch-hour.sync="job.lunchHour"
              :sick-leave-days.sync="job.sickLeaveDays"
              :personal-leave-days.sync="job.personalLeaveDays"
              :special-leave-days.sync="job.specialLeaveDays"
              :form-type="formType"
              :job-type="job.type"
              :editor="editor"
              :shifts="job.shifts"
              @save-job="overrideTempJob"
            />
            <!-- <OfflineTimeForm
              class="form"
              :valid.sync="formState[3]"
              :class="{'edit-form': editor}"
              v-else
              :job="job"
              :organisation="organisation"
              :temp-id="tempId"
            /> -->
          </v-tab-item>
          <v-tab-item
            value="tab-5"
          >
            <PaymentForm
              class="form"
              :valid.sync="formState[4]"
              :class="{'edit-form': editor}"
              :payment-option.sync="job.paymentOption"
              :payment-methods.sync="job.paymentMethods"
              :renumeration-value.sync="job.renumerationValue"
              :renumeration-currency.sync="job.renumerationCurrency"
              :allow-advanced-pay.sync="job.allowAdvancedPay"
              :organisation="organisation"
              :min-shifts-balance.sync="job.minShiftsBalance"
              :available-countries="job.availableCountries"
              :editor="editor"
              @save-job="overrideTempJob"
            />
          </v-tab-item>
          <v-tab-item
            value="tab-6"
          >
            <LocationForm
              class="form"
              :valid.sync="formState[5]"
              :class="{'edit-form': editor}"
              :location-coordinates.sync="job.locationCoordinates"
              :job-address.sync="job.address"
              :notes.sync="job.notes"
              :old-job="oldJob"
              :form-type="formType"
              :job="job"
              :editor="editor"
              :organisation="organisation"
              @save-job="overrideTempJob"
              @created="onCreated"
            />
          </v-tab-item>
          <v-tab-item
            value="tab-7"
          >
            <CompanyInformationForm
              class="form"
              :valid.sync="formState[6]"
              :class="{'edit-form': editor}"
              :proxy-company-name.sync="job.proxyCompanyName"
              :proxy-company-description.sync="job.proxyCompanyDescription"
              :proxy-employer-name.sync="job.proxyEmployerName"
              :proxy-company-contact.sync="job.proxyCompanyContact"
              :proxy-company-address.sync="job.proxyCompanyAddress"
              :proxy-company-website-url.sync="job.proxyCompanyWebsiteUrl"
              :allow-advanced-pay.sync="job.allowAdvancedPay"
              :allow-flexible-time.sync="job.allowFlexibleTime"
              :benefits.sync="job.benefits"
              :organisation="organisation"
              @clear-company-info="clearCompanyInfo"
              @set-company-info="setCompanyInfo"
              @save-job="overrideTempJob"
            />
          </v-tab-item>
          <v-tab-item
            value="tab-8"
          >
            <JobContractForm
              class="form"
              :valid.sync="formState[7]"
              :class="{'edit-form': editor}"
              :job="job"
              :old-job="oldJob"
              :organisation="organisation"
              :temp-id="tempId"
              :editor="editor"
              @created="onCreated"
            />
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </v-row>
  </div>
</template>

<script>
import RoleForm from '@/components/Marketplaces/Jobs/Forms/RoleForm';
import ModeForm from '@/components/Marketplaces/Jobs/Forms/ModeForm';
import RequirementsForm from '@/components/Marketplaces/Jobs/Forms/RequirementsForm';
import TimeForm from '@/components/Marketplaces/Jobs/Forms/TimeForm';
// import OfflineTimeForm from '@/components/Marketplaces/Jobs/Forms/OfflineTimeForm';
import LocationForm from '@/components/Marketplaces/Jobs/Forms/LocationForm';
import PaymentForm from '@/components/Marketplaces/Jobs/Forms/PaymentForm';
import CompanyInformationForm from '@/components/Marketplaces/Jobs/Forms/CompanyInformationForm';
import JobContractForm from '@/components/Marketplaces/Jobs/Forms/JobContractForm';
import CustomNavBar from '@/components/Common/CustomNavBar';
import moment from 'moment';

const tabs = [
  {
    title: 'ROLE',
    icon: 'mdi-account-network',
    hideInOffline: true,
  },
  {
    title: 'JOB DESCRIPTION',
    icon: 'mdi-text',
  },
  {
    title: 'REQUIREMENTS',
    icon: 'mdi-star',
    hideInOffline: true,
  },
  {
    title: 'TIME',
    icon: 'mdi-calendar-clock',
  },
  {
    title: 'PAYMENT',
    icon: 'mdi-cash-multiple',
  },
  {
    title: 'LOCATION',
    icon: 'mdi-map-marker-plus',
  },
  {
    title: 'COMPANY INFORMATION',
    icon: 'mdi-information',
    hideInOffline: true,
  },
  {
    title: 'CONTRACT',
    icon: 'mdi-file-document',
    hideInOffline: true,
  },
];

export default {
  components: {
    ModeForm,
    RoleForm,
    RequirementsForm,
    TimeForm,
    // OfflineTimeForm,
    PaymentForm,
    LocationForm,
    CompanyInformationForm,
    JobContractForm,
    CustomNavBar,
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
    employer: {
      type: Object,
      required: true,
    },
    // formType: {
    //   type: String,
    //   default: () => 'PUBLIC',
    // },
    // eslint-disable-next-line vue/require-default-prop
    propJob: Object,
    editor: {
      type: Boolean,
      default: false,
    },
    fullScreen: Boolean,
    // formStatus: String,
  },

  data() {
    return {
      formType: null,
      valid: false,
      tab: null,
      step: 1,
      job: this.propJob ? Object.assign({}, this.propJob) : this.getDefaultJobTemp(),
      tempId: '',
      oldJob: Object.assign({}, this.propJob),
      formState: Array(tabs.length).fill(false),
    };
  },

  computed: {
    navBarTitle() {
      return !this.editor ? 'Create a Job' : 'Edit a Job';
    },
    hasWorker() {
      if (this.job.shifts == null || this.job.shifts.length === 0) {
        return false;
      }
      if (this.job.shifts.filter(e => e.workerAccepted === true).length > 0) {
        return true;
      }
      return false;
    },
    skills() {
      return this.job.jobRole
      && this.job.jobRole.jobSkills && this.job.jobRole.jobSkills.map(e => e.jobSkill);
    },
    formTypes() {
      return [
        {
          value: 'PUBLIC',
          text: 'Public Job (open to all)',
          feature: 'CREATE_PUBLIC_JOB',

        },
        ...(this.organisation.marketplaces && this.organisation.marketplaces.length > 0
          ? [{
            value: 'PRIVATE',
            text: 'Private Job Posting',
            feature: 'CREATE_PUBLIC_JOB',
          }]
          : []
        ),
        {
          value: 'OFFLINE',
          text: 'Internal HR Management',
          feature: 'CREATE_OFFLINE_JOB',
        },
      ];
    },
    jobType() {
      return this.job.type;
    },
    jobCategory() {
      return this.job.category;
    },
    jobPaymentMethods() {
      return this.job.paymentMethods;
    },
    tabs() {
      let tabsToShow = tabs.map((t, i) => ({
        ...t, id: i + 1, i, formState: this.formState[i],
      }));
      if (this.formType === 'OFFLINE') {
        tabsToShow = tabsToShow.filter(t => !t.hideInOffline);
      }

      if (!this.editor) {
        const largestTabIndexToShow = tabsToShow.findIndex(t => !t.formState);
        tabsToShow = tabsToShow
          .map((t, i) => ({
            ...t,
            disabled: largestTabIndexToShow > -1 && i > largestTabIndexToShow,
          }));
      }

      return tabsToShow;
    },
  },

  watch: {
    propJob(newValue, oldValue) {
      this.job = Object.assign({}, oldValue);
    },
    jobType(newType) {
      this.job.paymentOption = this.getPaymentOption(newType);
      this.job.benefits = this.getBenefits(newType);
      this.job.listingEndDate = this.getListingEndDate(newType);
    },
    // jobCategory(newCategory) {
    //   this.job.type = this.getJobType(newCategory);
    // },
    jobPaymentMethods(newV) {
      this.job.allowAdvancedPay = newV && newV.length > 0;
    },
    formType(newV, oldV) {
      this.$log.info({ oldV, newV });
      if (newV === 'PUBLIC') {
        this.job.marketplaceId = this.PUBLIC_MARKETPLACE_ID;
      } else if (newV === 'PRIVATE') {
        this.job.marketplaceId = null;
      }
    },
  },

  methods: {
    getDefaultJobTemp() {
      return JSON.parse(JSON.stringify({
        jobRole: {},
        category: null,
        id: '',
        jobCategoryId: '',
        complete: false,
        organisationId: this.organisation.id,
        title: '',
        marketplaceId: '5e1d54053998d418ddc644ba',
        jobRoleId: '',
        type: '',
        times: [],
        vacancies: 1,
        address: '',
        locationCoordinates: null,
        notes: '',
        description: '',
        requirementDescription: '',
        skills: [],
        experience: '',
        isPortfolioRequired: false,
        paymentOption: 'HOURLY',
        renumerationValue: 0,
        renumerationCurrency: null,
        paymentMethods: [],
        allowAdvancedPay: true,
        minShiftsBalance: 0,
        hoursPerWeek: 0,
        isOpenEnded: true,
        allowFlexibleTime: false,
        listingStartDate: moment().format('YYYY-MM-DD'),
        listingEndDate: moment().add(1, 'months').format('YYYY-MM-DD'),
        benefits: this.organisation.benefits,
        proxyCompanyName: this.organisation.name,
        proxyCompanyDescription: this.organisation.description,
        proxyEmployerName: this.employer.name,
        proxyCompanyContact: this.organisation.phone,
        proxyCompanyAddress: this.organisation.address,
        proxyCompanyWebsiteUrl: this.organisation.websiteUrl,
        requirementMinExperienceLevel: null,
        affiliateIds: null,
        workingDays: ['mon', 'tue', 'wed', 'thu', 'fri'],
        workingHours: ['09:00AM', '12:00PM', '01:00PM', '06:00PM'],
        lunchHour: ['12:00PM', '01:00PM'],
        sickLeaveDays: this.organisation.leaveSickAccuralRateDaysPerYear,
        personalLeaveDays: this.organisation.leavePersonalAccrualRateDaysPerYear,
        specialLeaveDays: this.organisation.leaveSpecialAccuralRateDaysPerYear,
        requirementDemographicGender: null,
        availableCountries: [this.organisation.region.toUpperCase()],
      }));
    },
    onCreated() {
      this.$emit('update:form-status', 'COMPLETE');
      this.$router.replace('/app/view-jobs');
    },
    onFormTypeChange({ value }) {
      this.formType = value;
    },
    clearCompanyInfo() {
      this.job.proxyCompanyName = '';
      this.job.proxyCompanyContact = '';
      this.job.proxyEmployerName = '';
      this.job.proxyCompanyAddress = '';
      this.job.proxyCompanyDescription = '';
    },
    setCompanyInfo() {
      this.job.proxyCompanyName = this.organisation.name;
      this.job.proxyCompanyDescription = this.organisation.description;
      this.job.proxyEmployerName = this.employer.name;
      this.job.proxyCompanyContact = this.organisation.phone;
      this.job.proxyCompanyAddress = this.organisation.address;
      this.job.proxyCompanyWebsiteUrl = this.organisation.websiteUrl;
    },
    createTempJob() {
      // add new job (with current data) in indexDB
      if (!this.editor) this.$IdbService.addTempJobToDb({ ...this.job, id: this.tempId });
    },
    overrideTempJob() {
      // override already existed temp job with current data
      if (!this.editor) this.$IdbService.editTempJobToDb({ ...this.job, id: this.tempId });
    },
    extractData(job) {
      const keys = Object.keys(job);

      keys.forEach((key) => {
        this.job[key] = job[key];
      });
    },
    getBenefits(type) {
      if (type === 'FULL_TIME_HOME') return Array.from(new Set(this.benefits).add('WORK_FROM_HOME'));
      return this.benefits;
    },
    getListingEndDate(type) {
      if (type.includes('FULL_TIME')) return moment().add(1, 'month').format('YYYY-MM-DD');
      return moment().add(2, 'weeks').format('YYYY-MM-DD');
    },
    getPaymentOption(type) {
      switch (type) {
        case 'PART_TIME':
          return 'HOURLY';
        case 'CONTRACT':
          return 'FIXED';
        default:
          return 'MONTHLY';
      }
    },
    getJobType(category) {
      if (!category) return '';
      if (category.name.toLowerCase().includes('one-off')) return 'PART_TIME';
      return 'FULL_TIME';
    },
  },

  mounted() {
    this.$log.info(this.publicMarketplaceId);
    this.formType = this.formTypes.find(f => this.$AccessService.isUnlocked(f.feature)).value;
    if (this.job.private) {
      this.formType = 'OFFLINE';
    }
    this.$root.$on('job-create-step', (tab) => {
      this.tab = tab;
    });
    this.$root.$on('job-create-set-temp-id', (id) => {
      this.$log.debug('tempId', id);
      this.tempId = id;
    });
    this.$root.$on('save-job-create-form-data', (job) => {
      this.$log.debug('info received', job);
      this.extractData(job);
    });
    this.$root.$on('change-job-id', (id) => {
      this.job.id = id;
    });
    this.$eventHub.$on('save-job-create-temp', () => {
      this.overrideTempJob();
    });
  },
};
</script>

<style scoped>
.form {
  height: calc(100vh - 140px);
}
.edit-form {
  height: calc(100vh - 140px) !important;
}
</style>

<style>
.bottombar {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 59px;
  /* border-top: rgba(0, 0, 0, 0.12) solid;
  border-width: thin 0 0 0; */
  pointer-events: none;
}
.bottombar > * {
  pointer-events: all;
}
</style>
