<template>
  <v-form
    :value="valid"
    @input="v => $emit('update:valid', v)"
    ref="locationform"
    style="overflow-y: scroll"
    class="py-5"
  >
    <v-container>
      <v-row
        no-gutters
        justify="center"
      >
        <LocationPicker
          required
          style="width:600px"
          @getAddress="value => $emit('update:job-address', value)"
          @locationUpdated="({lat, lng}) => $emit('update:location-coordinates', {
            type: 'Point',
            coordinates: [lng, lat],
          })"
        />
      </v-row>
      <v-row
        no-gutters
        justify="center"
        class="mt-5"
      >
        <v-text-field
          outlined
          :value="jobAddress"
          @input="address => $emit('update:job-address', address)"
          label="Detailed address"
          style="max-width:600px"
          :rules="[$Validate.required]"
        />
      </v-row>
      <v-row
        no-gutters
        justify="center"
      >
        <v-text-field
          outlined
          label="Meeting point instruction for the first day of work"
          style="max-width:600px"
          :value="notes"
          @input="value => $emit('update:notes', value)"
          :rules="[]"
        />
      </v-row>
    </v-container>
    <v-row
      no-gutters
      align="center"
      class="bottombar"
    >
      <v-spacer />
      <v-btn
        id="btn-any-LocationForm-Back"
        class="ma-1"
        color="default"
        @click="changeStep('tab-5')"
        v-html="'Back'"
      />
      <v-btn
        id="btn-any-LocationForm-Next"
        v-if="formType != 'OFFLINE'"
        class="ma-1 mr-7 jobdoh"
        :dark="valid"
        :disabled="!valid"
        @click.prevent="save"
        v-html="'Next'"
      />
      <OfflineJobCreateButton
        v-else-if="formType === 'OFFLINE' && !editor"
        :job="job"
        :temp-id="tempId"
        :organisation="organisation"
        @created="$emit('created')"
      />
      <JobUpdateButton
        v-else
        :job="job"
        :old-job="oldJob"
        :organisation="organisation"
        @updated="$eventHub.$emit('refetch-job-edit')"
      />
    </v-row>
  </v-form>
</template>

<script>
import LocationPicker from '@/components/Common/Pickers/LocationPicker';
import OfflineJobCreateButton from '@/components/Marketplaces/Jobs/Buttons/OfflineJobCreateButton';
import JobUpdateButton from '@/components/Marketplaces/Jobs/Buttons/JobUpdateButton';

export default {
  components: {
    LocationPicker,
    OfflineJobCreateButton,
    JobUpdateButton,
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
    job: {
      type: Object,
      default: () => {},
    },
    tempId: {
      type: String,
      default: () => '',
    },
    formType: {
      type: String,
      default: () => '',
    },
    locationCoordinates: {
      type: Object,
      default: () => {},
    },
    jobAddress: {
      type: String,
      default: () => '',
    },
    notes: {
      type: String,
      default: () => '',
    },
    oldJob: {
      type: Object,
      required: true,
    },

    editor: Boolean,
    valid: Boolean,
  },

  data() {
    return {
    };
  },

  mounted() {
    this.$refs.locationform.validate();
  },

  methods: {
    changeStep(n) {
      this.$root.$emit('job-create-step', n);
    },
    save() {
      this.$refs.locationform.validate();
      if (Object.keys(this.locationCoordinates).length === 0) {
        this.$eventHub.$emit('show-alert', {
          type: 'error',
          message: 'Please select a location before continuing',
        });
        return;
      }

      this.$emit('save-job');
      this.$root.$emit('job-create-step', 'tab-7');
    },
  },
};
</script>
