<template>
  <v-form
    key="modeform"
    :value="valid"
    @input="v => $emit('update:valid', v)"
    ref="modeform"
    class="py-5"
    style="overflow-y: scroll"
  >
    <v-container>
      <v-row
        no-gutters
        justify="center"
      >
        <div style="width:600px">
          <v-select
            outlined
            label="Title"
            v-if="!isManual && formType !== 'OFFLINE'"
            :style="{
              'max-width':'600px',
            }"
            :items="titles"
            :value="jobTitle"
            @input="title => $emit('update:job-title', title)"
            :rules="requiredRules"
          >
            <template #append-item>
              <v-divider />
              <v-list-item @click="manual = true">
                <v-list-item-content>
                  <v-list-item-title v-text="'Type Manually'" />
                </v-list-item-content>
                <v-list-item-avatar color="grey lighten-3">
                  <v-icon>
                    mdi-pencil
                  </v-icon>
                </v-list-item-avatar>
              </v-list-item>
            </template>
          </v-select>
          <v-text-field
            v-else
            outlined
            :style="{
              'max-width':'600px',
            }"
            label="Title"
            :value="jobTitle"
            @input="title => $emit('update:job-title', title)"
            counter
            :rules="[$Validate.required, $Validate.shortString]"
          >
            <template
              v-if="titles.length"
              #append
            >
              <v-tooltip
                right
              >
                <span>Choose from template</span>
                <template #activator="{on}">
                  <v-chip
                    @click="manual = false"
                    v-on="on"
                    height="24"
                    width="24"
                  >
                    <v-icon>mdi-playlist-edit</v-icon>
                  </v-chip>
                </template>
              </v-tooltip>
            </template>
          </v-text-field>

          <v-row
            v-if="!hasWorker"
            justify="center"
          >
            <v-col>
              Job type
              <v-radio-group
                :value="genericJobType"
                @change="onJobTypeChange"
                :rules="requiredRules"
                class="mt-0"
              >
                <v-radio
                  v-for="{value, label} in jobTypes"
                  :key="value"
                  :label="label"
                  :value="value"
                  :disabled="getDisableStatus(value)"
                />
              </v-radio-group>
            </v-col>
            <v-col
              cols="4"
            >
              Further classification
              <v-radio-group
                v-model="jobFlag"
                @change="onJobFlagChange"
                :rules="requiredRules"
                class="mt-0"
              >
                <v-radio
                  v-for="{value, label} in jobFlags"
                  :key="value"
                  :label="label"
                  :value="value"
                  :disabled="getDisableStatus(value)"
                />
              </v-radio-group>
            </v-col>
            <v-col
              cols="4"
            >
              <CountryCheckbox
                :value="availableCountries"
                @input="v => $emit('update:available-countries', v)"
              />
            </v-col>
          </v-row>

          <v-row
            v-if="!hasWorker"
            no-gutters
            justify="center"
          />

          <div
            v-if="!hasWorker"
          >
            Minimum experience level
            <v-radio-group
              :value="requirementMinExperienceLevel"
              @change="v => onExperienceLevelChange(v > -1 ? null : v)"
              class="mt-0"
            >
              <v-radio
                v-cloak
                v-for="({value, label}) in experienceLevels"
                :key="label"
                :label="label"
                :value="value"
              />
            </v-radio-group>
          </div>

          <v-row
            no-gutters
            justify="center"
          >
            <v-textarea
              :value="jobDescription || ''"
              @input="description => $emit('update:job-description', description)"
              outlined
              style="max-width:600px"
              label="Job Description"
              :rules="[$Validate.required]"
              counter
            />
          </v-row>
        </div>
      </v-row>
    </v-container>
    <v-row
      no-gutters
      align="center"
      class="bottombar"
    >
      <v-spacer />
      <v-btn
        id="btn-any-ModeForm-Back"
        class="ma-1"
        color="default"
        @click="onBack"
        v-html="'Back'"
      />
      <v-btn
        id="btn-any-ModeForm-Next"
        class="ma-1 mr-7 jobdoh"
        :dark="valid"
        :disabled="!valid"
        @click.prevent="save"
        v-html="'Next'"
      />
    </v-row>
  </v-form>
</template>

<script>
import CountryCheckbox from '@/components/Marketplaces/Jobs/CheckBoxes/CountryCheckbox';

export default {
  components: {
    CountryCheckbox,
  },

  props: {
    titles: {
      type: Array,
      default: () => [],
    },
    formType: {
      type: String,
      default: () => '',
    },
    jobTitle: {
      type: String,
      default: () => '',
    },
    jobType: {
      type: String,
      default: () => '',
    },
    jobDescription: {
      type: String,
      default: () => '',
    },
    benefits: {
      type: Array,
      default: () => [],
    },
    listingStartDate: {
      type: String,
      default: () => '',
    },
    listingEndDate: {
      type: String,
      default: () => '',
    },
    requirementMinExperienceLevel: {
      type: String,
      default: () => '',
    },
    availableCountries: {
      type: Array,
      default: () => [],
    },
    job: {
      type: Object,
      default: () => {},
    },
    editor: Boolean,
    valid: Boolean,
  },

  data() {
    return {
      requiredRules: [
        this.$Validate.required,
      ],
      jobTypes: [
        {
          label: 'Part Time / Temporary / Gig',
          value: 'PART_TIME',
        },
        {
          label: 'Contract / Freelance / Project',
          value: 'CONTRACT',
        },
        {
          label: 'Full Time',
          value: 'FULL_TIME',
        },
      ],
      jobFlags: [
        {
          label: 'Work From Office',
          value: 'OFFICE',
        },
        {
          label: 'Work From Home',
          value: 'HOME',
        },
        {
          label: 'Government',
          value: 'GOVERNMENT',
        },
        {
          label: 'Internship',
          value: 'INTERN',
        },
      ],
      experienceLevels: [
        {
          label: 'Intern',
          value: 'INTERN',
        },
        {
          label: 'Junior',
          value: 'JUNIOR',
        },
        {
          label: 'Mid-Level',
          value: 'MID_LEVEL',
        }, {
          label: 'Senior',
          value: 'SENIOR',
        },
        {
          label: 'No minimum experience level',
          value: '',
        },
      ],
      manual: false,
    };
  },

  mounted() {
    setImmediate(this.$refs.modeform.validate);
  },

  computed: {
    genericJobType() {
      const splitters = this.jobTypes.map(e => `(${e.value})`).reduce(((a, b) => `${a}|${b}`));
      const [genericJobType] = this.jobType.match(new RegExp(`${splitters}+`, 'g'));
      return genericJobType;
    },
    jobFlag() {
      const splitters = this.jobFlags.map(e => `(${e.value})`).reduce(((a, b) => `${a}|${b}`));
      const result = this.jobType.match(new RegExp(`${splitters}+`, 'g'));
      return Array.isArray(result) ? result.pop() : 'OFFICE';
    },
    isManual() {
      return this.manual || this.titles.length === 0;
    },
    hasWorker() {
      const { shifts } = this.job;
      return shifts && shifts.length && shifts.filter(e => e.workerAccepted === true).length > 0;
    },
  },

  methods: {
    onJobTypeChange(type) {
      let { jobFlag } = this;
      if (jobFlag === 'OFFICE') jobFlag = '';
      this.$emit('update:job-type', [type, jobFlag].filter(e => e).join('_'));
    },
    onJobFlagChange(value) {
      let jobFlag = value;
      if (jobFlag === 'OFFICE') jobFlag = '';
      this.$emit('update:job-type', [this.genericJobType, jobFlag].filter(e => e).join('_'));
    },
    getDisableStatus(jobType) {
      if (this.formType === 'OFFLINE') return false;
      if (this.job.category && this.job.category.name.includes('One-Off')) {
        return jobType && jobType.includes('FULL_TIME');
      }
      return false;
    },
    onBack() {
      if (this.editor) this.$router.back();
      else this.changeStep('tab-1');
    },
    onExperienceLevelChange(experienceLevel) {
      this.$emit(
        'update:requirement-min-experience-level',
        experienceLevel,
      );
    },


    changeStep(tab) {
      this.$root.$emit('job-create-step', tab);
    },
    async save() {
      this.$refs.modeform.validate();
      this.$emit('save-job');
      if (this.formType !== 'OFFLINE' && !this.editor) {
        this.$root.$emit('job-create-step', 'tab-3');
      } else {
        this.$root.$emit('job-create-step', 'tab-4');
      }
      // this.$root.$emit('job-create-step', 'tab-4');
      // this.$root.$emit('set-job-role-id', this.jobRoleId);
      // this.$root.$emit('job-create-step', 'tab-3');
    },
  },
};
</script>
