<template>
  <v-form
    style="height: 68vh;"
    :value="valid"
    @input="v => $emit('update:valid', v)"
  >
    <v-container
      class="mt-10"
      style="height: 55vh; overflow-y: scroll"
    >
      <v-row>
        <v-spacer />
        <StartEndTimeLabel
          v-for="(time, i) in times"
          :key="i"
          :nth="i"
          :time="time"
          @deletetime="deleteTime"
        />
        <v-spacer />
      </v-row>
      <v-row>
        <v-spacer />
        <JobTimesInput
          :job-type="jobType"
          @timeAdded="addTime"
          style="width:570px"
        />
        <v-spacer />
      </v-row>
      <v-row>
        <v-spacer />
        <v-switch
          v-model="allowFlexibleTime"
          label="Allow Flexible Time"
        />
        <v-text-field
          outlined
          class="ml-2"
          v-if="allowFlexibleTime"
          v-model="hoursPerWeek"
          label="Hours Per Week"
        />
        <v-spacer />
      </v-row>
    </v-container>
    <v-row>
      <v-spacer />
      <v-btn
        id="btn-any-OfflineTimeForm-Back"
        class="ma-1"
        color="default"
        @click="changeStep('tab-3')"
        v-html="'Back'"
      />
      <v-btn
        id="btn-any-OfflineTimeForm-Back"
        class="ma-1 mr-7 jobdoh"
        :dark="times.length !== 0"
        :disabled="times.length===0"
        @click.prevent="save"
        v-html="'Next'"
      />
    </v-row>
  </v-form>
</template>

<script>
// import JobCategorySelect from '@/components/Marketplaces/Jobs/Selects/JobCategorySelect';
import JobTimesInput from '@/components/Marketplaces/Jobs/Inputs/JobTimesInput';
import StartEndTimeLabel from '@/components/Marketplaces/Jobs/Labels/StartEndTimeLabel';

export default {
  components: {
    JobTimesInput,
    StartEndTimeLabel,
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
    job: {
      type: Object,
      default: () => {},
    },
    tempId: {
      type: String,
      default: () => '',
    },
    valid: Boolean,
  },

  data: () => ({
    times: [],
    hoursPerWeek: 0,
    isOpenEnded: false,
    allowFlexibleTime: false,
    emptyRules: [
      v => !!v || 'This field is required',
    ],
  }),

  watch: {
    job() {
      this.times = this.job.times;
      this.hoursPerWeek = this.job.hoursPerWeek;
      this.isOpenEnded = this.job.isOpenEnded;
      this.allowFlexibleTime = this.job.allowFlexibleTime;
    },
  },

  mounted() {
    this.times = this.job.times;
    this.hoursPerWeek = this.job.hoursPerWeek;
    this.isOpenEnded = this.job.isOpenEnded;
    this.allowFlexibleTime = this.job.allowFlexibleTime;
  },

  methods: {
    deleteTime(nth) {
      this.$log.debug('i am deleting nth time', nth);
      this.times.splice(nth, 1);
    },
    addTime(time) {
      this.times.push(time);
    },
    goto(name) {
      this.$router.push({ name });
    },
    setCategory(category) {
      this.$log.debug({ category });
      this.category = category;
    },
    setRole(jobRole) {
      this.jobRole = jobRole;
    },
    changeStep(n) {
      this.$root.$emit('job-create-step', n);
    },
    async save() {
      const job = {
        times: this.times,
        hoursPerWeek: this.hoursPerWeek,
        isOpenEnded: this.isOpenEnded,
        allowFlexibleTime: this.allowFlexibleTime,
      };

      this.$root.$emit('save-job-create-form-data', job);
      const tempJob = this.job;
      tempJob.id = this.tempId;
      this.$IdbService.editTempJobToDb(tempJob);
      // this.$root.$emit('set-job-role-id', this.jobRoleId);
      this.$root.$emit('job-create-step', 'tab-5');
    },
  },
};
</script>
