<template>
  <v-form
    :value="valid"
    @input="v => $emit('update:valid', v)"
    style="overflow-y: scroll"
    ref="paymentform"
    class="pt-5"
  >
    <v-container>
      <v-row
        no-gutters
        justify="center"
        class="mb-4"
      >
        <span
          class="mr-2 "
          style="align-self: center;"
        >Salary Type</span>
        <v-chip-group
          :value="paymentOption"
          mandatory
          active-class="red--text"
          @change="value => $emit('update:payment-option', value)"
        >
          <v-chip
            v-for="{label, value, icon} in paymentMethodList"
            :value="value"
            :key="value"
            :filter="value === paymentOption"
            :filter-icon="icon"
          >
            <!-- <v-icon
              v-if="value === paymentOption"
              left
            >
              mdi-domain
            </v-icon> -->
            {{ label }}
          </v-chip>
        </v-chip-group>
      </v-row>
      <v-row
        no-gutters
        justify="center"
      >
        <v-switch
          v-if="!editor"
          v-model="addRenumerationLater"
          @change="onChangeAddRenumerationLater"
          style="width:600px"
          label="Add renumeration later"
        />
      </v-row>
      <transition name="slide-y-transition">
        <v-row
          v-if="!addRenumerationLater"
          no-gutters
          justify="center"
        >
          <RenumerationInput
            :value="renumerationValue"
            @input="v => $emit('update:renumeration-value', v)"
            :currency="renumerationCurrency"
            @update:currency="v => $emit('update:renumeration-currency', v)"
            :currencies="currencies"
            :disabled="currencies.length === 0"
            style="max-width:600px"
          />
        </v-row>
      </transition>

      <v-row
        v-if="editor"
        no-gutters
        justify="center"
      >
        <v-text-field
          outlined
          type="number"
          style="max-width:600px"
          label="Minimum Shift Balanace"
          :value="minShiftsBalance"
          @input="value => $emit('update:min-shifts-balance', value)"
        />
      </v-row>

      <v-row
        no-gutters
        justify="center"
      >
        <PaymentMethodsCombo
          :payment-methods="paymentMethods"
          :organisation="organisation"
          :currencies="currencies"
          :disabled="currencies.length === 0"
          @paymentMethodsUpdated="value => $emit('update:payment-methods', value)"
          style="width:600px"
        />
      </v-row>
      <v-divider />
      <v-row
        no-gutters
        justify="center"
      >
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-switch
              v-model="allowAdvancedPay"
              @change="value => $emit('update:allow-advanced-pay', value)"
              style="width:600px"
              v-on="on"
            >
              <template #label>
                <span>
                  YES! Help me increase my staff productivity by
                  enabling flexible pay (KhuPay).
                  <v-dialog width="300px">
                    <v-card>
                      <!--  -->
                      <v-card-title>About KhuPay</v-card-title>
                      <v-card-text>
                        <a
                          :href="khupayInfoLink"
                          target="_"
                        >
                          More about KhuPay.
                        </a>
                      </v-card-text>
                    </v-card>
                    <template #activator="{on}">
                      <a
                        @click.prevent
                        v-on="on"
                        target="_"
                      >More info</a>
                    </template>
                  </v-dialog>
                </span>
              </template>
            </v-switch>
          </template>
          <span>
            KhuPay is a wage-smoothering product of JOBDOH.
            It lets your employees to withdraw money anytime they want.
          </span>
        </v-tooltip>
      </v-row>
    </v-container>
    <v-row
      no-gutters
      align="center"
      class="bottombar"
    >
      <v-spacer />
      <v-btn
        id="btn-any-PaymentForm-Back"
        class="ma-1"
        color="default"
        @click="changeStep('tab-4')"
        v-html="'Back'"
      />
      <v-btn
        id="btn-any-PaymentForm-Next"
        class="ma-1 mr-7 jobdoh"
        :dark="valid"
        :disabled="!valid"
        @click.prevent="save"
        v-html="'Next'"
      />
    </v-row>
  </v-form>
</template>

<script>
import constants from '@/assets/js/constants';
import PaymentMethodsCombo from '@/components/Marketplaces/Jobs/Comboboxes/PaymentMethodsCombo';
import RenumerationInput from '@/components/Marketplaces/Jobs/Inputs/RenumerationInput';
import { mapGetters } from 'vuex';

export default {
  components: {
    PaymentMethodsCombo,
    RenumerationInput,
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
    paymentOption: {
      type: String,
      default: () => '',
    },
    paymentMethods: {
      type: Array,
      default: () => [],
    },
    renumerationValue: {
      type: Number,
      default: () => 0,
    },
    renumerationCurrency: {
      type: String,
      default: '',
    },
    minShiftsBalance: {
      type: Number,
      default: () => 0,
    },
    availableCountries: {
      type: Array,
      default: () => [],
    },
    allowAdvancedPay: Boolean,
    editor: Boolean,

    valid: Boolean,
  },

  watch: {
    availableCountries: {
      handler(nAvailableCountries) {
        if (nAvailableCountries.length) {
          const country = nAvailableCountries
            .find(e => e === this.organisation.region.toUpperCase())
            || nAvailableCountries[0];
          this.$emit('update:renumeration-currency', this.getCountryCurrency(country));
        }
      },
      immediate: true,
    },
  },

  data() {
    return {
      // currencies: [],
      addRenumerationLater: false,
      paymentMethodList: [
        {
          label: 'Hourly',
          value: 'HOURLY',
          icon: 'mdi-history',
        },
        {
          label: 'Monthly',
          value: 'MONTHLY',
          icon: 'mdi-calendar',
        },
        {
          label: 'Daily',
          value: 'DAILY',
          icon: 'mdi-calendar-month-outline',
        },
        {
          label: 'Project Fixed Fee',
          value: 'FIXED',
          icon: 'mdi-file-document-edit-outline',
        },
      ],
    };
  },

  computed: {
    ...mapGetters(['getCountryCurrency']),
    khupayInfoLink() {
      return this.organisation.region === 'mm'
        ? 'https://www.facebook.com/113623737186577/posts/140184561197161/'
        : 'https://www.facebook.com/Khupay-Myanmar-113623737186577/';
    },
    currencies() {
      return this.availableCountries.length
        ? this.availableCountries.map(e => this.getCountryCurrency(e))
        : [this.getCountryCurrency(this.organisation.region.toUpperCase())];
    },
  },

  mounted() {
    this.$refs.paymentform.validate();
  },

  methods: {
    onChangeAddRenumerationLater(addRenumerationLater) {
      if (addRenumerationLater) {
        this.$emit('update:renumeration-value', 0);
      }
    },
    changeStep(n) {
      this.$root.$emit('job-create-step', n);
    },
    async save() {
      this.$emit('save-job');
      // this.$root.$emit('set-job-role-id', this.jobRoleId);
      this.$root.$emit('job-create-step', 'tab-6');
    },
  },
};
</script>
