<template>
  <!-- eslint-disable max-len  -->
  <v-form
    :value="valid"
    @input="v => $emit('update:valid', v)"
    ref="requirementform"
  >
    <v-row
      no-gutters
      class="fill-height"
    >
      <v-col
        cols="7"
        class="pa-2 pb-8"
        style="overflow-y: auto; height: calc(100vh - 139px);"
      >
        <span
          v-if="jobRole && jobRole.id !== 'other'"
          class="title ml-4"
        >
          Qualifications for {{ jobRole.name }} ({{ jobCategory.name }})
        </span>
        <JobSkillsInput
          :skills="skills"
          :job-role-id="jobRole.id"
          @skill-added="skill => $emit('update:job-skills', [...jobSkills, skill])"
        />
      </v-col>
      <v-col
        cols="5"
        class="pa-2"
        style="overflow-y: auto; height: calc(100vh - 139px);"
      >
        <v-card
          flat
        >
          <div class="title px-4">
            Selected Requirements
          </div>
          <v-card
            outlined
            class="mt-4"
          >
            <v-card-text
              v-if="jobSkills.length > 0"
              style="overflow-y: auto; height: calc(100vh - 461px);"
              class="pt-0"
            >
              <JobSkillRequirementLabel
                v-for="(skill, i) in jobSkills"
                :key="i"
                :job-skill="skill"
                @delete-skill="$emit('update:job-skills', jobSkills.filter((_,index) => i !== index))"
              />
            </v-card-text>
            <v-card-text
              v-else
              style="height: calc(100vh - 461px); overflow-y: hidden;"
            >
              <v-row
                align="center"
                justify="center"
                class="fill-height"
              >
                <v-col
                  cols="12"
                  class="pa-0 text-end"
                >
                  <v-tooltip
                    bottom
                    nudge-bottom="-60"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-img
                        v-on="on"
                        v-bind="attrs"
                        @click="openInNewTap('https://stories.freepik.com/business')"
                        :src="require('../../../../assets/img/skills.svg')"
                        height="calc(100vh - 540px)"
                        contain
                      />
                    </template>
                    <span>Illustration by Freepik Stories</span>
                  </v-tooltip>
                  <h3 class="text-center">
                    <div>
                      Oh, this is empty!
                    </div>
                    Add requirements on the left.
                  </h3>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-card>

        <v-select
          :value="requirementDemographicGender"
          @input="v => $emit('update:requirement-demographic-gender', v)"
          label="Gender"
          style="max-width:600px"
          :items="genderTypes"
          outlined
          hide-details
          class="my-4"
        />
        <v-textarea
          class="my-4"
          :value="requirementDescription"
          @input="description => $emit('update:requirement-description', description)"
          outlined
          label="Paste additional requirements here"
          auto-grow
          hide-details
        />
      </v-col>
    </v-row>
    <v-row
      no-gutters
      align="center"
      class="bottombar"
    >
      <v-spacer />
      <v-btn
        id="btn-any-RequirementsForm-Back"
        class="ma-1"
        color="default"
        @click="changeStep('tab-2')"
        v-html="'Back'"
      />
      <v-btn
        id="btn-any-RequirementsForm-Next"
        class="ma-1 mr-7 jobdoh"
        :dark="valid"
        :disabled="!valid"
        @click.prevent="save"
        v-html="'Next'"
      />
    </v-row>
  </v-form>
</template>

<script>
import JobSkillsInput from '@/components/Marketplaces/Jobs/Inputs/JobSkillsInput';
import JobSkillRequirementLabel from '@/components/shared/components/Marketplace/components/JobSkillRequirementLabel';

export default {
  components: {
    JobSkillsInput,
    JobSkillRequirementLabel,
  },

  props: {
    requirementDescription: {
      type: String,
      default: () => '',
    },
    skills: {
      type: Array,
      default: () => [],
    },
    jobSkills: {
      type: Array,
      default: () => [],
    },
    jobRole: {
      type: Object,
      default: () => {},
    },
    jobCategory: {
      type: Object,
      default: () => {},
    },
    requirementDemographicGender: {
      type: [Array, null],
      default: () => null,
    },
    valid: Boolean,
  },

  data() {
    return {
      workerView: false,
      genderTypes: [
        { text: 'Male and Female', value: ['Male', 'Female'] },
        { text: 'Male only', value: ['Male'] },
        { text: 'Female only', value: ['Female'] },
      ],
    };
  },
  methods: {
    addSkill(skill) {
      this.skills.push(skill);
    },
    deleteSkill(nth) {
      this.skills.splice(nth, 1);
    },
    changeStep(n) {
      this.$root.$emit('job-create-step', n);
    },
    save() {
      this.$refs.requirementform.validate();
      this.$emit('save-job');
      this.$root.$emit('job-create-step', 'tab-4');
    },
    openInNewTap(link) {
      window.open(link, '_blank');
    },
  },
};
</script>
