<template>
  <v-form
    :value="valid"
    @input="v => $emit('update:valid', v)"
    ref="roleform"
    style="overflow-y: scroll"
  >
    <v-container fluid>
      <v-row>
        <v-col cols="4">
          <v-card
            outlined
            :disabled="(tempJobs && tempJobs.length < 1) || loadingTemplates"
            :loading="loadingTemplates"
          >
            <v-card-title class="py-1">
              <v-subheader class="pa-0 ma-0">
                Use Previous Job Template
              </v-subheader>
              <v-spacer />
              <!-- <v-dialog
                v-model="deleteTempDialog"
                max-width="300px"
              >
                <v-card>
                  <v-card-title>
                    <v-icon left>
                      mdi-alert-circle-outline
                    </v-icon>
                    Alert
                  </v-card-title>
                  <v-card-text>
                    Are you sure you want to delete this template?
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer />
                    <v-btn
                      text
                      @click="deleteTempDialog = false"
                    >
                      No
                    </v-btn>
                    <v-btn
                      class="black white--text"
                      @click="() => {
                        deleteTemp();
                        deleteTempDialog = false
                      }"
                    >
                      Yes
                    </v-btn>
                  </v-card-actions>
                </v-card>
                <template #activator="{ on }">
                  <v-btn
                    id="btn-any-RoleForm-DeleteTemplate"
                    color="grey darken-3"
                    text
                    :disabled="!tempId"
                    v-on="on"
                  >
                    <v-icon
                      id="btn-any-RoleForm-DeleteTemplate"
                      left
                    >
                      mdi-delete-outline
                    </v-icon>
                    <span id="btn-any-RoleForm-DeleteTemplate">Delete</span>
                  </v-btn>
                </template>
              </v-dialog> -->
            </v-card-title>
            <v-list
              class="pa-0"
            >
              <v-list-item-group
                :value="tempId"
              >
                <v-list-item
                  :key="-1"
                  :value="''"
                  @click.once="selectTemp('')"
                >
                  <!-- <v-list-item-avatar>
                    <v-avatar
                      class="jobdoh white--text"
                      :size="tempId === '' ? 50 : 0"
                    >
                      <v-icon>mdi-check</v-icon>
                    </v-avatar>
                  </v-list-item-avatar> -->
                  <v-list-item-content>
                    <v-list-item-title>Start New</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item
                  v-for="(tempJob, i) in (tempJobs || [])"
                  :key="i"
                  :value="tempJob.id"
                  @click="selectTemp(tempJob.id)"
                  active-class="jobdoh-red"
                >
                  <!-- <v-list-item-avatar>
                    <v-avatar
                      class="jobdoh white--text"
                      :size="tempId === tempJob.id ? 50 : 0"
                    >
                      <v-icon>mdi-check</v-icon>
                    </v-avatar>
                  </v-list-item-avatar> -->
                  <v-list-item-content>
                    <v-list-item-title v-text="tempJob.id || 'Start New'" />
                  </v-list-item-content>
                  <v-list-item-icon>
                    <v-btn
                      icon
                      @click.stop="deleteTemp(tempJob)"
                      @touchstart.stop
                      @mousedown.stop
                    >
                      <v-icon>mdi-delete-outline</v-icon>
                    </v-btn>
                  </v-list-item-icon>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-card>
        <!-- <v-row
          no-gutters
          justify="center"
        >
          <v-row
            no-gutters
            justify="center"
            align="center"
            style="max-width: 600px"
            class="mb-8"
          >
            <v-select
              v-cloak
              outlined
              full-width
              label="Use Previous Job Template"
              :items="tempJobs || []"
              :disabled="tempJobs && tempJobs.length < 1"
              item-text="id"
              v-model="tempJob"
              return-object
              hide-details
              :value="tempId"
              @input="tempJob => {
                $log.debug({ tempJob });
                $emit('update:job', tempJob);
                $emit('update:temp-id', tempJob.id);
              }"
            />
            <v-btn
              :disabled="tempJobs && tempJobs.length < 1"
              class="ml-2"
              color="grey darken-3"
              text
              @click="deleteTemp"
            >
              <v-icon left>
                mdi-delete-outline
              </v-icon>
              delete
            </v-btn>
          </v-row>
        </v-row> -->
        </v-col>
        <v-col cols="8">
          <v-row
            no-gutters
            justify="center"
            class="mb-6"
          >
            <JobCategorySelect
              :value="categoryId"
              @input="category => {
                $log.debug({ category });
                $emit('update:category', category);
                $emit('update:category-id', category && category.id);
                $emit('update:job-type', getJobType(category))
              }"
              :rules="requiredRules"
            />
          </v-row>
          <v-row
            no-gutters
            justify="center"
          >
            <JobRoleSelect
              style="width: 100%"
              :disabled="!category"
              :job-roles="category ? category.jobRoles : []"
              :value="roleId"
              :job-category="category"
              @input="role => {
                $log.debug({ role });
                $emit('update:role', role);
                $emit('update:skills', role.jobSkills && role.jobSkills.map(e => e.jobSkill));
                $emit('update:role-id', role.id);
                createTempId(role.name);
              }"
              :rules="requiredRules"
            />
          </v-row>
          <v-row
            no-gutters
            justify="center"
          >
            <AffiliateSelect
              :value="affiliateId"
              @input="affId => $emit('update:affiliate-id', affId)"
            />
          </v-row>
          <!-- <v-row
            v-if="organisation"
            no-gutters
            justify="center"
          >
            <MarketplaceSelect
              :organisation-id="organisation.id"
              :job="job"
              @marketplaceSelected="(mId) => $emit('update:marketplace-id', mId)"
              style="max-width:600px"
            />
          </v-row> -->
        </v-col>
      </v-row>
    </v-container>
    <!-- <v-row v-if="jobType === 'PRIVATE'">
      <v-spacer />
      <MarketplaceSelect
        v-if="organisation"
        :organisation-id="organisation.id"
        :job="job"
        @marketplaceSelected="selectMarketplace"
      />
      <v-spacer />
    </v-row> -->

    <v-row
      no-gutters
      align="center"
      class="bottombar"
    >
      <v-spacer />
      <v-btn
        id="btn-any-RoleForm-Next"
        class="ma-1 mr-7 jobdoh"
        :dark="valid"
        :disabled="!valid"
        @click.prevent="save"
        v-html="'Next'"
      />
    </v-row>
  </v-form>
</template>

<script>
/* eslint-disable vue/require-default-prop */
import moment from 'moment';
import JobCategorySelect from '@/components/Marketplaces/Jobs/Selects/JobCategorySelect';
import JobRoleSelect from '@/components/Marketplaces/Jobs/Selects/JobRoleSelect';
import AffiliateSelect from '@/components/Marketplaces/Jobs/Selects/AffiliateSelect';
// import Vue from 'vue';
// import MarketplaceSelect from '@/components/Common/Selects/MarketplaceSelect';

export default {
  components: {
    JobRoleSelect,
    JobCategorySelect,
    AffiliateSelect,
    // MarketplaceSelect,
  },

  props: {
    roleId: String,
    role: Object,
    categoryId: String,
    category: {
      type: Object,
      default: () => null,
    },
    skills: Array,
    job: Object,
    tempId: String,
    affiliateId: Object,
    jobType: String,
    marketplaceId: String,
    organisation: Object,
    valid: Boolean,
  },

  data() {
    return {
      // tempJob: {},
      tempJobs: [],
      deleteTempDialog: false,
      loadingTemplates: false,
      requiredRules: [
        // v => (v ? true : 'Value is required'),
        this.$Validate.required,
      ],
    };
  },

  mounted() {
    this.$nextTick(() => {
      this.$refs.roleform.validate();
      this.setTempJobs();
    });
  },

  methods: {
    getJobType(category) {
      if (!category) return '';
      if (category.name.toLowerCase().includes('one-off')) return 'PART_TIME';
      return 'FULL_TIME';
    },
    selectTemp(tempId) {
      const tempJob = this.tempJobs.find(e => e.id === tempId) || { id: '' };
      this.$log.debug({ tempJob });
      if (tempJob.id) {
        this.$emit('update:job', Object.assign({}, tempJob));
      } else {
        this.$emit('reset-job');
      }
      this.$emit('update:temp-id', tempJob.id);
    },
    async deleteTemp(job) {
      this.loadingTemplates = true;
      await this.$IdbService.deleteTempJobFromDb(job);
      // this.clearData();
      this.$emit('reset-job');
      await this.setTempJobs();
      this.loadingTemplates = false;
    },
    async setTempJobs() {
      const tempJobs = await this.$IdbService.getTempJobsFromDb();
      this.tempJobs = tempJobs.filter(e => !!e.id);
      this.$log.debug('jobs...', this.tempJobs);
    },
    clearData() {
      this.$emit('update:job', {});
      this.$emit('update:temp-id', null);
    },
    createTempId(jobRoleName) {
      const currentTimeString = moment().format('YYYYMMDDhhmmss');
      this.$emit('update:temp-id', `${currentTimeString}-${(jobRoleName || '').replace(/ /g, '')}`);
    },
    async save() {
      this.$refs.roleform.validate();
      this.$emit('save-job'); // backup current job data in index db
      this.$root.$emit('job-create-step', 'tab-2');
      // this.$log.debug('jobrole...', this.jobRole);
      // this.$root.$emit('save-job-create-form-data', job);
      // this.$root.$emit('set-job-role-id', this.jobRoleId);
      // this.$root.$emit('set-job-role', this.jobRole);
      // eslint-disable-next-line max-len
      // this.$emit('set-job-skills', Object.keys(this.jobRole).length > 0 ? this.jobRole.jobSkills.map(e => e.jobSkill) : null);
      // this.$log.debug('job...', this.job);
      // const tempJob = this.job;
      // tempJob.id = this.tempId;
    },
  },
};
</script>
