<template>
  <v-form
    :value="valid"
    @input="v => $emit('update:valid', v)"
    ref="timeform"
    style="overflow-y: scroll"
    class="pt-11"
  >
    <v-container v-if="editor">
      <v-row
        v-if="formType !== 'OFFLINE'"
        no-gutters
        justify="center"
      >
        <StartEndDatePicker
          style="max-width: 640px"
          listing
          :picker-labels="{
            startDateLabel: 'Job Posting Start Date',
            endDateLabel: 'Job Posting End Date'
          }"
          :timeinput="{
            startDate: moment(listingStartDate).format('YYYY-MM-DD'),
            endDate: moment(listingEndDate).format('YYYY-MM-DD'),
          }"
          @dateUpdated="({startDate, endDate}) => {
            $emit('update:listing-start-date', startDate)
            $emit('update:listing-end-date', endDate)
          }"
        />
      </v-row>
      <v-row
        v-if="formType !== 'OFFLINE'"
        no-gutters
        justify="center"
      >
        <div
          class="caption"
          style="width: 600px"
        >
          <v-icon
            small
          >
            mdi-information-outline
          </v-icon>
          <span>
            Job will appear in marketplace
            from <b>{{ $moment(listingStartDate).format('YYYY-MM-DD') }}</b>
            to <b>{{ $moment(listingEndDate).format('YYYY-MM-DD') }}</b>
          </span>
        </div>
      </v-row>
      <v-row
        no-gutters
        justify="center"
        align="center"
      >
        <v-card outlined>
          <v-card-title>
            Shifts
          </v-card-title>
          <v-card-text>
            <v-row
              v-for="shift in shifts"
              :key="shift.id"
              align="center"
              no-gutters
            >
              <StartEndTimeLabel
                :nth="i"
                :time="shift"
                editor
                class="mr-2"
                @shift-changed="updateShifts"
              />
              <!-- <EditLeaveDialog :prop-shift="shift" /> -->
            </v-row>
          </v-card-text>
        </v-card>
      </v-row>
    </v-container>
    <v-container v-else>
      <v-row
        no-gutters
        justify="center"
      >
        <StartEndDatePicker
          v-if="formType !== 'OFFLINE'"
          style="max-width: 640px"
          listing
          :picker-labels="{
            startDateLabel: 'Job Posting Start Date',
            endDateLabel: 'Job Posting End Date'
          }"
          :timeinput="{
            startDate: listingStartDate,
            endDate: listingEndDate,
          }"
          @dateUpdated="({startDate, endDate}) => {
            $emit('update:listing-start-date', startDate)
            $emit('update:listing-end-date', endDate)
          }"
        />
      </v-row>
      <v-row
        v-if="formType !== 'OFFLINE'"
        no-gutters
        justify="center"
      >
        <div
          class="caption"
          style="width: 600px"
        >
          <v-icon
            small
          >
            mdi-information-outline
          </v-icon>
          <span>
            Job will appear in marketplace
            from <b>{{ $moment(listingStartDate).format('YYYY-MM-DD') }}</b>
            to <b>{{ $moment(listingEndDate).format('YYYY-MM-DD') }}</b>
          </span>
        </div>
      </v-row>

      <v-row
        v-if="formType !== 'OFFLINE'"
        no-gutters
        justify="center"
      >
        <v-switch
          v-model="isOpenEnded"
          @change="value => $emit('update:is-open-ended', value ? true : false)"
          label="Specify job dates later"
          style="width:600px"
          :rules="[(v) => (v || times.length > 0 ) || 'Add at least one shift']"
        />
        <!-- <v-tooltip bottom>
          <template v-slot:activator="{on}">
          </template>
          <span>
            This will ignore the start date and end date of the shifts.
            Shift will set start date when the worker confirms the job.
          </span>
        </v-tooltip> -->
      </v-row>

      <div v-if="!isOpenEnded || formType === 'OFFLINE'">
        <v-row
          no-gutters
          justify="center"
        >
          <v-card
            outlined
            class="mb-4"
            style="width: 616px; max-width: 616px;"
          >
            <v-card-text class="pl-2">
              <div>Shifts</div>
              <span v-if="times.length === 0">( empty )</span>
              <StartEndTimeLabel
                v-for="(time, i) in times"
                :key="i"
                :nth="i"
                :time="time"
                @deletetime="onTimeDelete"
              />
              <JobTimesInput
                class="mt-2"
                elevation="0"
                @timeAdded="onTimeAdded"
              />
            </v-card-text>
          </v-card>
        </v-row>
        <v-row
          no-gutters
          justify="center"
        >
          <div
            style="width: 616px; max-width: 616px;"
            class="mb-4"
          />
        </v-row>
      </div>

      <v-row
        v-if="formType !== 'OFFLINE'"
        no-gutters
        justify="center"
        class="my-1"
      >
        <div style="width: 600px;">
          <span>Vacancies</span>
          <v-btn
            id="btn-any-TimeForm-MinusVacancy"
            text
            @click="() => {
              if (vacancies > 1) $emit('update:vacancies', vacancies - 1 )
            }"
            v-html="'-'"
          />
          {{ vacancies }}
          <v-btn
            id="btn-any-TimeForm-PlusVacancy"
            text
            @click="$emit('update:vacancies', vacancies + 1)"
            v-html="'+'"
          />
        </div>
      </v-row>

      <v-row
        v-if="formType !== 'OFFLINE'"
        no-gutters
        justify="center"
      >
        <v-switch
          v-model="allowFlexibleTime"
          @change="value => $emit('update:allow-flexible-time', value)"
          style="width:600px"
          label="Allow flexible time"
        />
      </v-row>

      <transition name="slide-y-transition">
        <v-row
          v-if="allowFlexibleTime"
          no-gutters
          justify="center"
        >
          <v-text-field
            style="max-width: 600px;"
            :value="hoursPerWeek"
            @input="value => $emit('update:hours-per-week', value)"
            type="number"
            label="Hours Per Week"
            outlined
            class="ml-2"
            hide-details="auto"
          />
        </v-row>
      </transition>
      <v-row
        no-gutters
        justify="center"
      >
        <v-switch
          v-if="formType !== 'OFFLINE'"
          v-model="hideWorkingArrangement"
          @change="() => {
            validate()
          }"
          label="Specify working arrangement later"
          style="width:600px"
          :disabled="times.length === 0"
        />
      </v-row>
      <div v-if="!hideWorkingArrangement">
        <v-row
          no-gutters
          justify="center"
          class="mr-5 pr-5 subtitle-1"
        />
        <v-row
          no-gutters
          justify="center"
        >
          <v-card
            outlined
            class="mb-4"
            style="width: 616px; max-width: 616px;"
          >
            <v-card-text>
              <v-alert
                type="info"
                dense
                outlined
                color="black"
              >
                Many candidates like to know the working arrangements before applying.
                We will confirm them again later when you offering a job.
              </v-alert>
              <div>
                <v-row
                  dense
                  align="center"
                >
                  <v-col cols="3">
                    <span>Working Days:</span>
                  </v-col>
                  <v-col>
                    <WorkingDaysCheckbox
                      :value="workingDays"
                      @input="v => $emit('update:working-days', v)"
                    />
                  </v-col>
                </v-row>
                <v-row dense>
                  <v-col cols="3">
                    Working Hours:
                  </v-col>
                  <v-col><b>{{ workingHours[0] }}</b> to <b>{{ workingHours[3] }}</b></v-col>
                </v-row>
                <v-row dense>
                  <v-col cols="3">
                    Lunch Hour:
                  </v-col>
                  <v-col><b>{{ lunchHour[0] }}</b> to <b>{{ lunchHour[1] }}</b></v-col>
                </v-row>
                <v-row
                  no-gutters
                  justify="center"
                  style="font-size:10px !important"
                >
                  <v-col>
                    AM
                  </v-col>
                  <v-col>
                    PM
                  </v-col>
                </v-row>
                <v-row
                  no-gutters
                  justify="center"
                >
                  <div style="width:600px">
                    <WorkingHoursInput
                      :value="workingHours"
                      @input="updateLunchAndWorkingHours"
                    />
                  </div>
                </v-row>
              </div>
              <!-- <div class="pa-4">
                Lunch Hour:
                <v-row
                  no-gutters
                  justify="center"
                  style="font-size:10px !important"
                >
                  <v-col>
                    AM
                  </v-col>
                  <v-col>
                    PM
                  </v-col>
                </v-row>
                <v-row
                  no-gutters
                  justify="center"
                >
                  <div style="width:600px">
                    <vue-slider
                      ref="slider"
                      :data="data"
                      v-model="lunchHour"
                      @change="value => $emit('update:lunch-hour', value)"
                      v-bind="options2"
                      :marks="mark"
                    >
                      <template v-slot:label="{ label, active }">
                        <div
                          :class="['vue-slider-mark-label', 'custom-label', { active }]"
                          style="font-size:10px !important"
                        >
                          {{ label }}
                        </div>
                      </template>
                    </vue-slider>
                  </div>
                </v-row>
              </div> -->
              <v-row class="mt-10">
                <v-col>
                  <v-text-field
                    label="Sick leave days per year"
                    @input="value => $emit('update:sick-leave-days', value)"
                    v-model="sickLeaveDays"
                    hide-details
                  />
                </v-col>
                <v-col>
                  <v-text-field
                    label="Annual leave days per year"
                    v-model="personalLeaveDays"
                    hide-details
                    @input="value => $emit('update:personal-leave-days', value)"
                  />
                </v-col>
                <v-col>
                  <v-text-field
                    label="Other leave days per year"
                    v-model="specialLeaveDays"
                    hide-details
                    @input="value => $emit('update:special-leave-days', value)"
                  />
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-row>
      </div>
    </v-container>
    <v-row
      no-gutters
      align="center"
      class="bottombar"
    >
      <v-spacer />
      <v-btn
        id="btn-any-TimeForm-Back"
        v-if="formType != 'OFFLINE'"
        class="ma-1"
        color="default"
        @click="changeStep('tab-3')"
        v-html="'Back'"
      />
      <v-btn
        id="btn-any-TimeForm-Back"
        v-else
        class="ma-1"
        color="default"
        @click="changeStep('tab-2')"
        v-html="'Back'"
      />
      <v-btn
        id="btn-any-TimeForm-Next"
        class="ma-1 mr-7 jobdoh"
        :dark="valid"
        :disabled="!valid"
        @click.prevent="save"
        v-html="'Next'"
      />
    </v-row>
  </v-form>
</template>

<script>
/* eslint-disable vue/require-default-prop */
/* eslint-disable no-mixed-spaces-and-tabs */

// import JobCategorySelect from '@/components/Marketplaces/Jobs/Selects/JobCategorySelect';
import JobTimesInput from '@/components/Marketplaces/Jobs/Inputs/JobTimesInput';
import StartEndTimeLabel from '@/components/Marketplaces/Jobs/Labels/StartEndTimeLabel';
import StartEndDatePicker from '@/components/Common/Pickers/StartEndDatePicker';
import EditLeaveDialog from '@/components/Common/Dialog/EditLeaveDialog';
import WorkingDaysCheckbox from '@/components/Marketplaces/Jobs/CheckBoxes/WorkingDaysCheckbox';
import WorkingHoursInput from '@/components/Marketplaces/Jobs/Inputs/WorkingHoursInput';
import moment from 'moment';

export default {
  components: {
    JobTimesInput,
    StartEndTimeLabel,
    StartEndDatePicker,
    // EditLeaveDialog,
    WorkingDaysCheckbox,
    WorkingHoursInput,
  },

  props: {
    times: Array,
    allowFlexibleTime: Boolean,
    hoursPerWeek: Number,
    isOpenEnded: {
      type: Boolean,
      default: () => true,
    },
    formType: String,
    listingStartDate: String,
    listingEndDate: String,
    jobType: String,
    vacancies: {
      type: Number,
      default: () => 1,
    },
    editor: Boolean,
    shifts: Array,
    valid: Boolean,
    workingDays: {
      type: Array,
      default: () => ['mon', 'tue', 'wed', 'thu', 'fri'],
    },
    workingHours: {
      type: Array,
      default: () => ['09:00AM', '12:00PM', '01:00PM', '06:00PM'],
    },
    lunchHour: {
      type: Array,
      default: () => ['12:00PM', '01:00PM'],
    },
    sickLeaveDays: {
      type: Number,
      default: () => 0,
    },
    personalLeaveDays: {
      type: Number,
      default: () => 0,
    },
    specialLeaveDays: {
      type: Number,
      default: () => 0,
    },
  },

  data() {
    return {
      moment,
      hideWorkingArrangement: true,
      emptyRules: [
        this.$Validate.required,
      ],
      sickDays: 0,
      leave: 0,
      specialLeave: 0,
      fulltimeTime: null,
      mon: true,
      tue: true,
      wed: true,
      thu: true,
      fri: true,
      sat: false,
      sun: false,
    };
  },

  mounted() {
    this.$nextTick(() => {
      this.validate();
    });
  },

  computed: {
    isFullTime() {
      return this.type === 'FULL_TIME';
    },
  },

  watch: {
    times(nTimes) {
      if (nTimes.length === 0) {
        this.hideWorkingArrangement = true;
      }
      this.validate();
    },
  },

  methods: {
    updateLunchAndWorkingHours(workingHours) {
      this.$emit('update:working-hours', Array.from(workingHours));
      this.$emit('update:lunch-hour', [workingHours[1], workingHours[2]]);
    },
    onTimeDelete(indexToDelete) {
      this.$emit('update:times', Array.from(this.times).filter((_, i) => i !== indexToDelete));
    },
    onTimeAdded(time) {
      this.$emit('update:times', Array.from(this.times).concat(time));
      const workingTimes = this.workingHours;
      workingTimes[0] = moment(time.start).format('hh:mmA');
      workingTimes[workingTimes.length - 1] = moment(time.end).format('hh:mmA');
      this.workingHours = workingTimes;
      this.$emit('update:working-hours', workingTimes);
    },
    updateShifts(newShift) {
      const newTimes = [...new Map([...this.shifts, newShift].map(t => [t.id, t])).values()];
      this.$log.info({ newTimes });
      this.$emit('update:times', newTimes);
    },
    validate() {
      this.$refs.timeform.validate();
    },
    changeStep(n) {
      this.$root.$emit('job-create-step', n);
    },
    async save() {
      this.$emit('save-job');
      this.$root.$emit('job-create-step', 'tab-5');
    },
  },
};
</script>
