<template>
  <v-container
    style="
      overflow-y: scroll;
      height: calc(100vh - 54px);
      "
  >
    <v-row
      justify="center"
      align="center"
    >
      <v-col align-self="center">
        <v-card>
          <v-card-text>
            <v-form
              v-model="valid"
              ref="form"
            >
              <v-text-field
                outlined
                label="Name"
                :value="worker.name"
                @input="name => $emit('update:worker', {...worker, name })"
                :rules="[v => !!v || 'Name is required']"
              />
              <MMNrcInput
                :value="worker.identification"
                @input="identification => $emit('update:worker', {...worker, identification})"
              />
              <!-- <v-text-field
                outlined
                  label="Identification"
                  v-model="worker.identification"
                  :rules="[v => !!v || 'Identification is required']"
                /> -->
              <v-row>
                <v-col cols="3">
                  <v-autocomplete
                    label="Phone Code"
                    :value="phoneCode"
                    @change="code =>
                      $emit('update:worker', {...worker, phone: getPhone({code})})"
                    :items="phoneCodes.map(e => ({
                      value: e.code,
                      text: `${e.name} (${e.code})`
                    }))"
                    outlined
                  />
                </v-col>
                <v-col cols="9">
                  <v-text-field
                    outlined
                    label="Phone No"
                    type="number"
                    :value="phoneNo"
                    @input="number =>
                      $emit('update:worker', {...worker, phone: getPhone({number})})"
                    :rules="[v => !!v || 'Phone No is required']"
                  />
                </v-col>
              </v-row>

              <!-- Payment Methods -->
              <v-list>
                <v-row
                  no-gutters
                  align="center"
                >
                  <v-subheader>
                    Payment Methods
                  </v-subheader>
                  <v-spacer />
                  <v-chip
                    outlined
                    @click="addDialog = true"
                  >
                    <v-icon left>
                      mdi-plus
                    </v-icon>
                    Add
                  </v-chip>
                </v-row>
                <v-divider />

                <div
                  v-for="(item, i) in worker.workerPaymentMethods"
                  :key="i + 'mock'"
                >
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-title>
                        <b>{{ item.paymentMethod.code }}</b><br>
                        Payment Coordinates: <b>{{ item.coordinates }}</b>
                      </v-list-item-title>
                    </v-list-item-content>
                    <v-list-item-action>
                      <v-chip
                        outlined
                        @click="editPaymentMethod(item)"
                      >
                        Edit
                      </v-chip>
                    </v-list-item-action>
                  </v-list-item>
                  <v-divider />
                </div>
              </v-list>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <v-dialog
      v-model="addDialog"
      max-width="500"
    >
      <v-card>
        <v-card-title class="headline">
          Add Payment Method
        </v-card-title>
        <v-card-text>
          <AddWorkerPaymentMethodForm
            :organisation="organisation"
            :worker-id="worker.id"
          />
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="editDialog"
      max-width="500"
    >
      <v-card>
        <v-card-title class="headline">
          Edit Payment Method
        </v-card-title>
        <v-card-text>
          <EditWorkerPaymentMethodForm
            :organisation="organisation"
            :worker-id="worker.id"
            :payment-data="paymentData"
          />
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import countries from '@/assets/utils/CountriesPhoneCodes';
import AddWorkerPaymentMethodForm from '@/components/Payments/Forms/AddWorkerPaymentMethodForm';
import EditWorkerPaymentMethodForm from '@/components/Payments/Forms/EditWorkerPaymentMethodForm';
// import CustomNavBar from '@/components/Common/CustomNavBar';
import MMNRC from 'myanmar-nrc-x';
// import NrcInput from '@/components/Common/Inputs/NrcInput';
import MMNrcInput from '@/components/Common/Inputs/MMNrcInput';

export default {
  components: {
    // CustomNavBar,
    AddWorkerPaymentMethodForm,
    EditWorkerPaymentMethodForm,
    // NrcInput,
    MMNrcInput,
  },
  props: {
    worker: {
      type: Object,
      default: () => {},
    },
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  async mounted() {
    this.$eventHub.$on('refetch-worker-add', (data) => {
      this.$log.debug('refetch-worker-add');
      this.worker.workerPaymentMethods = data.workerPaymentMethods;
      this.addDialog = false;
    });
    this.$eventHub.$on('refetch-worker-update', (data) => {
      this.$log.debug('refetch-worker-update');
      this.worker.workerPaymentMethods = this.worker.workerPaymentMethods
        .filter(e => e.id !== data.id);
      this.worker.workerPaymentMethods.push(data);
      this.editDialog = false;
    });
    // this.$eventHub.$on('reload-edit-worker', (data) => {
    //   this.stepper = 1;
    //   this.phoneCode = data.phone.substring(0, 3);
    //   this.phoneNo = data.phone.substring(3);
    // });
  },

  data() {
    return {
      addDialog: false,
      editDialog: false,
      paymentData: {},
      phoneCodes: countries.countriesPhoneCodes,
      workerId: '',
      valid: false,
    };
  },

  computed: {
    phone() {
      return `${this.phoneCode}${this.phoneNo}`;
    },
    phoneCode() {
      return countries.countriesPhoneCodes
        .map(e => e.code)
        .find(c => this.worker.phone.includes(c));
    },
    phoneNo() {
      return this.worker.phone.split(this.phoneCode).pop();
    },
  },

  methods: {
    getPhone({ code, number }) {
      return `${code || this.phoneCode}${number || this.phoneNo}`;
    },
    setNrcNumber(nrcNumber) {
      try {
        const nrc = MMNRC(nrcNumber);
        this.worker.identification = nrc.getFormat();
      } catch (e) {
        this.worker.identification = nrcNumber;
      }
      // this.worker.identification = nrcNumber;
    },
    editPaymentMethod(value) {
      this.$log.info(value);
      this.paymentData = value;
      this.editDialog = true;
    },
    async updateUnverifiedWorker() {
      let phone = this.phoneCode + this.phoneNo;
      if (phone.includes('+95') && phone.length === 11) {
        phone = `${phone.slice(0, 3)}0${phone.slice(3)}`;
      }
      const args = {
        organisationId: this.organisation.id,
        id: this.worker.id,
        name: this.worker.name,
        facebook: this.worker.facebook,
        email: this.worker.email,
        google: this.worker.google,
        identification: this.worker.identification,
        phone,
      };

      const { data } = await this.$WorkerService.updateUnverifiedWorker(args)
        .catch((err) => {
          // this.$ErrorHandlingService.handleError(err);
          const { message } = err.graphQLErrors[0];
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message,
          });
        });
      if (data) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'This worker update is successful!.',
        });
        this.$router.push({ name: 'view-workers' });
      }
    },

    async cancelUnverifiedWorker() {
      this.$router.push({ name: 'view-workers' });
    },
  },

};
</script>
<style>
.worker{
  margin-top: 5%;
}
.align-right{
  text-align: right;
}
</style>
