<template>
  <v-form
    v-model="valid"
  >
    <PaymentMethodSelect
      :region="organisation.region"
      :payment-type.sync="paymentType"
      @paymentMethodSelected="setPaymentMethodId"
      :rules="[$Validate.required]"
    />
    <v-text-field
      v-if="paymentType !== 'CASH_TRANSFER'"
      :label="$t('Payment Coordinates')"
      outlined
      v-model="coordinates"
      :rules="[$Validate.required]"
    />
    <v-row no-gutters>
      <v-spacer />
      <slot name="action" />
      <v-btn
        id="btn-any-AddWorkerPaymentMethodForm-Save"
        @click="addWorkerPaymentMethod"
        :disabled="!valid"
        color="black white--text"
        v-html="$t('save')"
      />
    </v-row>
  </v-form>
</template>

<script>
import PaymentMethodSelect from '@/components/Common/Selects/PaymentMethodSelect';

export default {
  components: {
    PaymentMethodSelect,
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
    workerId: {
      type: String,
      default: () => {},
    },
  },

  data: () => ({
    paymentMethodId: '',
    coordinates: '',
    valid: false,
    paymentType: '',
  }),

  methods: {
    setPaymentMethodId(paymentMethodId) {
      this.paymentMethodId = paymentMethodId;
    },
    async addWorkerPaymentMethod() {
      const arg = {
        workerId: this.workerId,
        paymentMethodId: this.paymentMethodId,
        coordinates: this.coordinates,
      };

      const ret = await this.$PaymentService.addWorkerPaymentMethod(arg)
        .catch((err) => {
          this.$eventHub.$emit('show-alert', {
            type: 'error',
            message: err,
          });
          this.$log.error(err);
        });

      if (ret) {
        this.$log.debug('ret...', ret);
        this.$eventHub.$emit('show-alert', {
          type: 'success',
          message: this.$t('paymentMethodAdded'),
        });
        this.$eventHub.$emit('refetch-worker-add', ret.data.addWorkerPaymentMethod);
        this.$emit('payment-added', ret.data.addWorkerPaymentMethod);
      }
    },
  },
};
</script>
