<template>
  <v-form v-model="valid">
    <PaymentMethodSelect
      :region="organisation.region"
      :payment-data="paymentData"
      :payment-type.sync="paymentType"
      :rules="[$Validate.required]"
    />
    <v-text-field
      v-if="paymentType && paymentType !== 'CASH_TRANSFER'"
      :label="$t('Payment Coordinate')"
      outlined
      v-model="coordinates"
      :rules="[$Validate.required]"
    />
    <v-row>
      <v-spacer />
      <v-btn
        id="btn-any-EditWorkerPaymentMethodForm-Save"
        @click="editWorkerPaymentMethod"
        :disabled="!valid"
        color="black white--text"
        v-html="$t('save')"
      />
    </v-row>
  </v-form>
</template>

<script>
import PaymentMethodSelect from '@/components/Common/Selects/PaymentMethodSelect';
// import { pathToArray } from 'graphql/jsutils/Path';

export default {
  components: {
    PaymentMethodSelect,
  },

  props: {
    paymentData: {
      type: Object,
      default: () => {},
    },
    organisation: {
      type: Object,
      default: () => {},
    },
    workerId: {
      type: String,
      default: () => {},
    },
  },

  data: () => ({
    paymentMethodId: '',
    coordinates: '',
    paymentType: '',
    valid: false,
  }),

  watch: {
    paymentData: {
      handler() {
        this.paymentMethodId = this.paymentData.paymentMethod.id;
        this.coordinates = this.paymentData.coordinates;
        this.paymentType = this.paymentData.paymentMethod.paymentType;
      },
      immediate: true,
    },
  },

  mounted() {
    this.paymentMethodId = this.paymentData.paymentMethod.id;
    this.coordinates = this.paymentData.coordinates;
  },
  methods: {
    setPaymentMethodId(paymentMethodId) {
      this.paymentMethodId = paymentMethodId;
    },
    async editWorkerPaymentMethod() {
      const arg = {
        workerPaymentMethodId: this.paymentData.id,
        paymentMethodId: this.paymentMethodId,
        coordinates: this.coordinates,
      };

      const ret = await this.$PaymentService.editWorkerPaymentMethod(arg)
        .catch((err) => {
          this.$eventHub.$emit('show-alert', {
            type: 'error',
            message: err,
          });
          this.$log.error(err);
        });

      if (ret) {
        this.$log.debug('ret...', ret);
        const workerPaymentMethod = ret.data.editWorkerPaymentMethod;
        this.$eventHub.$emit('show-alert', {
          type: 'success',
          message: 'payment edit successful',
        });
        this.$eventHub.$emit('refetch-worker-update', workerPaymentMethod);
      }
    },
  },
};
</script>
