<template>
  <v-container>
    <HybridTimeSheet
      :organisation="organisation"
    />
  </v-container>
</template>
<script>
import HybridTimeSheet from '@/components/Timesheets/Containers/HybridTimesheet';

export default {

  components: {
    HybridTimeSheet,
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
  },
};
</script>
