<template>
  <v-btn
    id="btn-TimesheetPage-ConfirmLeaves"
    class="mr-4"
    color="#C2232A"
    @click="confirmWorkTokens"
    small
    :dark="haveAllWorkTokensConfirmed"
    :loading="loading"
    :disabled="!haveAllWorkTokensConfirmed"
    v-html="'Confirm Leaves'"
  />
</template>

<script>
import moment from 'moment';

export default {
  props: {
    shift: {
      type: Object,
      default: () => {},
    },
    shfits: {
      type: Array,
      default: () => [],
    },
    workTokens: {
      type: Array,
      default: () => [],
    },
    isSendNotification: {
      type: Boolean,
      default: () => true,
    },
    organisation: {
      type: Array,
      default: () => [],
    },
  },

  computed: {
    haveAllWorkTokensConfirmed() {
      if (this.workTokens.length === 0) return false;
      return this.workTokens
        .filter(e => this.leaveWorkTokenTypes.includes(e.type))
        .every(workToken => workToken.confirmed != null);
    },
  },

  data: () => ({
    loading: false,
    leaveWorkTokenTypes: ['LEAVE_SICK', 'LEAVE_PERSONAL', 'LEAVE_SPECIAL'],

  }),

  methods: {
    async confirmWorkTokens() {
      const t0 = await performance.now();
      this.loading = true;
      // eslint-disable-next-line no-unused-vars
      const isKhupay = false;
      const workTokens = this.workTokens
        .filter(workToken => this.leaveWorkTokenTypes.includes(workToken.type));
      const confirmedWorkTokens = workTokens.filter(workToken => workToken.confirmed);
      const rejectedWorkTokens = workTokens.filter(workToken => workToken.confirmed === false);

      // eslint-disable-next-line no-unused-vars
      const workTokenIds = workTokens.map(workToken => workToken.id);
      const confirmedWorkTokenIds = confirmedWorkTokens.map(e => e.id);
      const rejectedWorkTokenIds = rejectedWorkTokens.map(e => e.id);

      if (rejectedWorkTokenIds.length) {
        const ret = await this.$PaymentService.confirmWorkTokens({
          shiftId: this.shift.id,
          workTokenIds: rejectedWorkTokenIds,
          confirmed: false,
          payNow: true,
        }).catch((err) => {
          this.loading = false;
          this.$log.error(err);
          const { message } = err.graphQLErrors[0];
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message,
          });
        });
        if (ret) {
          this.loading = false;
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'success',
            message: 'Leave requests rejected successfully!',
          });
        }
      }

      if (confirmedWorkTokenIds.length) {
        const ret = await this.$PaymentService.confirmWorkTokens({
          shiftId: this.shift.id,
          workTokenIds: confirmedWorkTokenIds,
          confirmed: true,
          payNow: true,
        }).catch((err) => {
          this.loading = false;
          this.$log.error(err);
          const { message } = err.graphQLErrors[0];
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message,
          });
        });
        if (ret) {
          const confirmedLeaveSickDays = workTokens.filter(t => t.type === 'LEAVE_SICK');
          const confirmedLeavePersonalDays = workTokens.filter(t => t.type === 'LEAVE_PERSONAL');
          const confirmedLeaveSpecialDays = workTokens.filter(t => t.type === 'LEAVE_SPECIAL');
          const {
            leaveSickDays,
            // eslint-disable-next-line no-unused-vars
            leaveSickUpdateDate,
            leavePersonalDays,
            // eslint-disable-next-line no-unused-vars
            leavePersonalUpdateDate,
            leaveSpecialDays,
            // eslint-disable-next-line no-unused-vars
            leaveSpecialUpdateDate,
          } = this.shift;

          const args = { id: this.shift.id };
          const today = moment().toISOString();

          if (confirmedLeaveSickDays.length) {
            args.leaveSickDays = leaveSickDays - confirmedLeaveSickDays.length;
            args.leaveSickUpdateDate = today;
          }
          if (confirmedLeavePersonalDays.length) {
            args.leavePersonalDays = leavePersonalDays - confirmedLeavePersonalDays.length;
            args.leavePersonalUpdateDate = today;
          }
          if (confirmedLeaveSpecialDays.length) {
            args.leaveSpecialDays = leaveSpecialDays - confirmedLeaveSpecialDays.length;
            args.leaveSpecialUpdateDate = today;
          }

          const ret2 = this.$JobService
            .updateLeave(args)
            .catch((err) => {
              this.loading = false;
              this.$log.error(err);
              const { message } = err.graphQLErrors[0];
              this.$eventHub.$emit('show-alert', {
                alert: true,
                type: 'error',
                message,
              });
            });

          if (ret2) {
            this.$eventHub.$emit('show-alert', {
              alert: true,
              type: 'success',
              message: 'Leave requests confirmed successfully!',
            });
            this.loading = false;
          }
        }
      }


      const t1 = await performance.now();
      this.$log.info(`Call to doSomething took ${t1 - t0} milliseconds.`);
    },
  },
};
</script>
