<template>
  <span>
    <v-btn
      id="btn-TimesheetPage-Send"
      class="mr-4 white--text"
      color="#C2232A"
      @click="confirmDialog=true"
      small
      :loading="loading"
      :disabled="!haveAllWorkTokensConfirmed"
      v-html="'Send'"
    />
    <v-dialog
      persistent
      max-width="400"
      v-model="confirmDialog"
    >
      <v-card
        width="400"
      >
        <!-- <v-card-title class="pa-0 ma-0">
          <v-container>
            <v-row dense>
              {{ hasError? 'Error' : 'Confirm Timesheet' }}
              <v-spacer />
            </v-row>
          </v-container>
        </v-card-title> -->
        <v-card-text class="pa-0">
          <v-container v-if="!hasError">
            <v-row dense>
              <v-col md="2">
                <v-icon large>mdi-alert</v-icon>
              </v-col>
              <v-col style="font-size: 15px">
                After confirmed you can't undo the process.<br>
                Please double check the attendance.
              </v-col>
            </v-row>
          </v-container>
          <v-container v-else>
            <v-row dense>
              <v-col md="2">
                <v-icon
                  color="#C2232A"
                  large
                >mdi-alert</v-icon>
              </v-col>
              <v-col style="font-size: 15px; color=#C2232A">
                You have some issues can't process for this worker.
                Please click the 'Request Support'
                button to get help from JOBDOH Operation Team.
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions class="pa-0">
          <v-container>
            <v-row dense>
              <v-spacer />
              <v-btn
                class="mr-4"
                color="default"
                @click="confirmDialog = false"
                small
                :loading="loading"
                v-html="'Close'"
              />
              <v-btn
                v-if="hasError"
                id="btn-TimesheetPage-RequestSupport"
                class="mr-4 white--text"
                color="#C2232A"
                @click="requestSupport"
                small
                :loading="loading"
                v-html="'Request Support'"
              />
              <v-btn
                v-else
                id="btn-TimesheetPage-Confirm"
                class="mr-4 white--text"
                color="#C2232A"
                @click="confirmWorkTokens"
                small
                :loading="loading"
                v-html="'Confirm'"
              />
            </v-row>
          </v-container>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </span>
</template>

<script>
export default {
  props: {
    shift: {
      type: Object,
      default: () => {},
    },
    timeRange: {
      type: Object,
      default: () => {},
    },
    shfits: {
      type: Array,
      default: () => [],
    },
    productWorkTokens: {
      type: Array,
      default: () => [],
    },
    workTokens: {
      type: Array,
      default: () => [],
    },
    isSendNotification: {
      type: Boolean,
      default: () => true,
    },
    organisation: {
      type: Array,
      default: () => [],
    },
  },

  computed: {
    haveAllWorkTokensConfirmed() {
      if (this.productWorkTokens.length > 0 && this.workTokens.length === 0) {
        return this.productWorkTokens.some(workToken => workToken.confirmed != null);
      }
      if (this.workTokens.length === 0 && this.productWorkTokens.length === 0) return false;
      return this.workTokens.some(workToken => workToken.confirmed != null);
    },
  },

  data: () => ({
    loading: false,
    confirmDialog: false,
    hasError: false,
    errorDetail: '',
  }),

  methods: {
    requestSupport() {
      let slackMessage = '';
      if (this.$store.getters.getEnv !== 'production') {
        slackMessage = `[${this.$store.getters.getEnv.toUpperCase()}]
          *ERROR_TIMESHEET* _${this.shift.organisation.name}_:${this.organisation.phone}_ :
          (${this.errorDetail} , PayCycle:(${this.timeRange.from} - ${this.timeRange.to})
          Worker: (${this.shift.worker.name}: ${this.shift.worker.phone}))
        `;
      } else {
        slackMessage = `
          *ERROR_TIMESHEET* _${this.shift.organisation.name}_:${this.organisation.phone}_ :
          (${this.errorDetail} , PayCycle:(${this.timeRange.from} - ${this.timeRange.to})
          Worker: (${this.shift.worker.name}: ${this.shift.worker.phone}))
          `;
      }
      this.sendMessageToSlackOperationsChannel({
        message: slackMessage,
        _this: this,
      });
      this.$eventHub.$emit('show-alert', {
        type: 'success',
        message: 'Your request has been sent successfully. JOBDOH Team will contact you soon.',
      });
      this.confirmDialog = false;
    },
    async confirmWorkTokens() {
      const t0 = await performance.now();
      this.loading = true;
      let isKhupay = false;
      let currentWorkTokens = [];
      if (this.productWorkTokens.length > 0) {
        currentWorkTokens = this.productWorkTokens;
      } else {
        currentWorkTokens = this.workTokens;
      }
      if (this.workTokens.length > 0) {
        currentWorkTokens = this.workTokens;
      }
      let workTokenValues = currentWorkTokens.map(workToken => workToken.workTokenValue);
      workTokenValues = workTokenValues.filter(e => e != null);

      // this.$log.info({ wt: this.workTokens, wtv: workTokenValues });
      if (currentWorkTokens.length !== workTokenValues.length) {
        this.hasError = true;
        this.errorDetail = 'WorkTokens & WorkTokenValues numbers mismatched.';
        this.$eventHub.$emit('show-alert', {
          type: 'error',
          message: 'WorkTokens & WorkTokenValues numbers mismatched. Please delete from operations page',
        });

        this.loading = false;
        return;
      }
      let payNow = currentWorkTokens.every(workToken => workToken.confirmed);
      if (workTokenValues.every(workTokenValue => workTokenValue.fee === 0)) {
        payNow = true;
      } else {
        isKhupay = true;
      }
      const confirmedCount = this
        .workTokens.filter(workToken => workToken.confirmed === true).length;
      const rejectCount = this
        .workTokens.filter(workToken => workToken.confirmed === false).length;

      const workTokenIds = currentWorkTokens.map(workToken => workToken.id);
      const ret = await this.$PaymentService.confirmWorkTokens({
        shiftId: this.shift.id,
        workTokenIds,
        confirmed: true,
        payNow,
      }).catch((err) => {
        this.loading = false;
        this.$log.error(err);
        const { message } = err.graphQLErrors[0];
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'error',
          message,
        });
      });
      // const ret = await Promise.all(this.workTokens.map(workToken => this.$PaymentService
      //   .confirmWorkToken({
      //     id: workToken.id,
      //     shiftId: this.shift.id,
      //     confirmed: workToken.confirmed,
      //     payNow,
      //   }))).catch((err) => {
      //   this.loading = false;
      //   this.$log.error(err);
      //   const { message } = err.graphQLErrors[0];
      //   this.$eventHub.$emit('show-alert', {
      //     alert: true,
      //     type: 'error',
      //     message,
      //   });
      // });

      if (ret) {
        this.confirmDialog = false;
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Timesheet data is saved successfully!',
        });
        this.loading = false;
        this.$eventHub.$emit('refresh-timesheet');
        this.$eventHub.$emit('refresh-worktokens');
        this.workTokens = this.workTokens.map((e) => {
          e.confirmed = true;
          return e;
        });
        let slackMessage = '';
        if (this.$store.getters.getEnv !== 'production') {
          slackMessage = `[${this.$store.getters.getEnv.toUpperCase()}]
          *Pay worker* _${this.shift.organisation.name}_ : ${this.shift.worker.name} :
          ${this.shift.worker.phone} (${workTokenValues[0].method}) (Disbursements)`;
        } else {
          slackMessage = `*Pay worker* _${this.shift.organisation.name}_ : ${this.shift.worker.name} : ${this.shift.worker.phone} (${workTokenValues[0].method}) (Disbursements)`;
        }
        this.sendMessageToSlackOperationsChannel({
          message: slackMessage,
          _this: this,
        });
        // const notificationMessage = `${confirmedCount} days confirmed.`;
        if (this.isSendNotification) {
          if (rejectCount === 0) {
            const language = this.shift.worker.languageSetting || 'en';
            this.$log.info('worker language', language);
            const title = this
              .getNotificationText(language, 'khupayStatus', this);
            let message = this
              .getNotificationText(language, 'confirmSuccessNotification', this);
            message = message.replace('@@@', this.shift.organisation.name);
            message = message.replace('###', confirmedCount);
            if (isKhupay) {
              message = message.replace('Khupay|Salary', 'Khupay');
            } else {
              message = message.replace('Khupay|Salary', 'Salary');
            }

            this.$NotificationService.sendNotification({
              workerId: this.shift.worker.id,
              title,
              body: message,
              messageData: {
                jobId: this.shift.job.id,
                organisationName: this.shift.organisation.name,
                title,
                body: message,
              },
            });
          } else {
            const amounts = workTokenValues.map(workTokenValue => workTokenValue.amount).flat();
            let amount = amounts.reduce((a, b) => a + b);
            amount = this.roundTo(amount, 0);
            const language = this.shift.worker.languageSetting || 'en';
            this.$log.info('worker language', language);
            const title = this
              .getNotificationText(language, 'khupayStatus', this);
            // this.shift.worker.languageSetting
            let message = this
              .getNotificationText(language, 'confirmRejectNotification', this);
            message = message.replace('@@@', this.shift.organisation.name);
            message = message.replace('###', confirmedCount);
            message = message.replace('***', amount);

            this.$NotificationService.sendNotification({
              workerId: this.shift.worker.id,
              title,
              body: message,
              messageData: {
                jobId: this.shift.job.id,
                organisationName: this.shift.organisation.name,
                title,
                body: message,
              },
            });
          }
        }
      }
      const t1 = await performance.now();
      this.$log.info(`Call to doSomething took ${t1 - t0} milliseconds.`);
    },
  },
};
</script>
