<template>
  <v-btn
    id="btn-DisbursementPage-DisbursementConflictsDialog-UpdateNewAmount"
    v-if="enable"
    class="ml-5"
    color="primary"
    small
    :loading="loading"
    @click="updateWorkTokenValues"
    v-html="'Update New Amount'"
  >
    Update New Amount
  </v-btn>
  <v-btn
    id="btn-DisbursementPage-DisbursementConflictsDialog-UpdateNewAmountDisabled"
    v-else
    class="ml-5"
    disabled
    small
    v-html="'Update New Amount'"
  />
</template>

<script>

export default {
  components: {
  },

  props: {
    workTokenValuesIds: {
      type: Array,
      default: () => [],
    },
    currentAmount: {
      type: Number,
      default: () => 0,
    },
    newAmount: {
      type: Number,
      default: () => 0,
    },
    enable: {
      type: Boolean,
      default: () => false,
    },
  },

  data: () => ({
    loading: false,
  }),

  mounted() {
  },

  methods: {
    async updateWorkTokenValues() {
      this.loading = true;
      this.$log.debug('workTokenValuesIds', this.workTokenValuesIds);
      const differenceAmount = this.newAmount - this.currentAmount;
      const differenceAmountForEach = differenceAmount / this.workTokenValuesIds.length;
      this.$log.debug('differenceAmount', differenceAmount);
      this.$log.debug('differenceAmountForEach', differenceAmountForEach);
      await this.$PaymentService.updateWorkTokenValues({
        workTokenValuesIds: this.workTokenValuesIds,
        amountConflictDifference: differenceAmountForEach,
      })
        .catch(err => this.$log.error(err))
        .then(() => {
          this.loading = false;
          this.$emit('isEnable', false);
        });
      // this.loading = false;
    },
  },
};
</script>
