<template>
  <v-btn
    id="btn-DisbursementPage-OpenTransactionIdDialog"
    v-if="$AccessService.isPermitted('WRITE_DISBURSEMENT')"
    depressed
    small
    @click="prepareDataForPay"
  >
    <span id="btn-DisbursementPage-OpenTransactionIdDialog">
      Confirm
    </span>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="290"
    >
      <v-card v-if="hasFee">
        <v-card-title>
          KhuPay Transaction ID
        </v-card-title>

        <v-card-text>
          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="false"
          >
            <v-text-field
              label="Enter Transaction ID"
              type="number"
              v-model="transactionRef"
              :rules="[v => !!v || 'Transaction ID is required']"
            />
            <v-text-field
              label="Enter Fee Transaction ID"
              type="number"
              v-model="feeTransactionRef"
              v-if="hasFee === true"
              :rules="[v => !!v || 'Transaction ID for Fee is required']"
            />
          </v-form>
        </v-card-text>

        <v-card-actions>
          <v-spacer />
          <v-btn
            id="btn-DisbursementPage-TransactionDialog-Cancel"
            @click="dialog = false"
            v-html="'Cancel'"
          />
          <v-btn
            id="btn-DisbursementPage-TransactionDialog-Pay"
            :disabled="!valid"
            :loading="payLoading"
            color="success"
            @click="pay()"
            v-html="'Pay'"
          />
        </v-card-actions>
      </v-card>
      <v-card v-else>
        <v-card-title>
          Transaction ID
        </v-card-title>

        <v-card-text>
          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="false"
          >
            <v-text-field
              label="Enter Transaction ID"
              v-model="transactionRef"
              :rules="[v => !!v || 'Transaction ID is required']"
            />
          </v-form>
        </v-card-text>

        <v-card-actions>
          <v-spacer />
          <v-btn
            id="btn-DisbursementPage-TransactionDialog-Cancle"
            text
            @click="dialog = false"
            v-html="'Cancel'"
          />
          <v-btn
            id="btn-DisbursementPage-TransactionDialog-Pay"
            :disabled="!valid"
            :loading="payLoading"
            @click="pay()"
            :dark="valid"
            class="jobdoh"
            v-html="'Pay'"
          />
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-btn>
</template>

<script>
import apollo from '@/assets/js/apollo';
import gql from 'graphql-tag';
import moment from 'moment';

export default {
  components: {
  },

  props: {
    workTokenValues: {
      type: Array,
      default: () => [],
    },
    rowItem: {
      type: Object,
      default: () => {},
    },
    transactionsData: {
      type: Array,
      default: () => [],
    },
    shift: {
      type: Object,
      default: () => {},
    },
    organisation: {
      type: Object,
      default: () => {},
    },
    discountTokens: {
      type: Array,
      default: () => [],
    },
    timeRange: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    currentMethod: '',
    hasFee: false,
    payLoading: false,
    dialog: false,
    transactionRef: '',
    feeTransactionRef: '',
    valid: false,
    lengthRules: [
      v => !!v || 'Transaction ID is required',
      v => v.length === 15 || 'Transaction ID consists of 15 digits',
    ],
  }),

  computed: {
  },

  watch: {
  },

  mounted() {
  },

  methods: {
    async prepareDataForPay() {
      // eslint-disable-next-line no-underscore-dangle
      this.currentMethod = this.workTokenValues[0].method;
      this.hasFee = (this.workTokenValues[0].fee > 0);
      this.dialog = true;
      this.$log.debug({ transactionObject: this.rowItem });
      const transactionObject = this.transactionsData
        .find(transaction => transaction.account === this.rowItem.paymentCoordinates);
      if (transactionObject != null) {
        this.transactionRef = transactionObject.transactionId;
      }
    },

    generateCode(length) {
      let result = '';
      const characters = 'abcdefghijklmnopqrstuvwxyz';
      const charactersLength = characters.length;
      for (let i = 0; i < length; i += 1) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
      }
      return result;
    },

    async pay() {
      // eslint-disable-next-line no-underscore-dangle
      const _this = this;
      this.$log.info('discountTokens', this.discountTokens);
      this.payLoading = true;
      let productId = null;
      let workerId = null;
      let shiftId = null;
      let productName = null;
      await Promise.all(this.workTokenValues.map(async (workTokenValue) => {
        if (workTokenValue.expectedWorkTokenType === 'PRODUCT') {
          productId = workTokenValue.workToken.product.id;
          workerId = workTokenValue.workToken.worker.id;
          productName = workTokenValue.workToken.product.title;
          const createFiatTokensArgs = {
            workTokenValueId: workTokenValue.id,
            transactionRef: this.transactionRef,
            feeTransactionRef: this.feeTransactionRef,
            // shiftId: workTokenValue.workToken.product.id,
          };
          this.$log.info(createFiatTokensArgs);
          await this.$PaymentService.createFiatTokens(createFiatTokensArgs);
        } else {
          shiftId = this.shift.id;
          workerId = workTokenValue.workToken.worker.id;
          const createFiatTokensArgs = {
            workTokenValueId: workTokenValue.id,
            transactionRef: this.transactionRef,
            feeTransactionRef: this.feeTransactionRef,
            // shiftId: this.shift.id,
          };
          this.$log.info(createFiatTokensArgs);
          await this.$PaymentService.createFiatTokens(createFiatTokensArgs);
        }
      }))
        .catch(() => {
          this.showErrorAlert({
            message: 'Confirm Not Successful!',
            _this: this,
          });
          this.payLoading = false;
        })
        .then(async () => {
          const discountToken = this.discountTokens.find(token => token.status === 'REQUESTED');
          const receipt = await this.receiptQuery(productId, workerId)
            .catch(() => null);
          // const payslip = await this.receiptQuery(shiftId, workerId)
          //   .catch(() => null);
          let title = '';
          let message = '';
          if (productId != null) {
            if (receipt == null) {
              const code = this.generateCode(6);
              const createReceipt = {
                productId,
                workerId,
                organisationId: this.organisation.id,
                jobId: this.shift.job.id,
                code,
                paidLevel: 0,
                complete: false,
              };
              this.$log.info(createReceipt);
              await this.$ProductService.createReceipt(createReceipt);
              title = 'Purchase Sucessful';
              message = `Processing for your ${productName} has been done.
              ${this.rowItem.totalAmount} Ks was deducted from your salary`;
            } else {
              const updateReceipt = {
                productId,
                workerId,
                organisationId: this.organisation.id,
                paidLevel: receipt.paidLevel + 1,
              };
              this.$log.info(updateReceipt);
              await this.$ProductService.updateReceipt(updateReceipt);
              message = `Processing instalment for your ${productName} has been done.
              ${this.rowItem.totalAmount} Ks was deducted from your salary`;
            }
          } else {
            if (this.rowItem.totalFee === 0) {
              const code = this.generateCode(6);
              const password = this.generateCode(6);
              const createReceipt = {
                workerId,
                shiftId,
                organisationId: this.organisation.id,
                jobId: this.shift.job.id,
                transactionRef: this.transactionRef,
                code,
                password,
                payCycleStart: moment(this.timeRange.from).format('YYYY-MM-DD'),
                payCycleEnd: moment(this.timeRange.to).format('YYYY-MM-DD'),
                complete: false,
              };
              this.$log.info(createReceipt);
              await this.$ProductService.createReceipt(createReceipt);
            }
            this.payLoading = false;
            const language = this.shift.worker.languageSetting || 'en';
            title = this
              .getNotificationText(language, 'khupayStatus', this);
            message = this
              .getNotificationText(language, 'disbursementNotification', this);
            message = message.replace('@@@', `${this.rowItem.totalAmount}
              ${this.rowItem.paymentCurrency}`);
            message = message.replace('###', this.rowItem.paymentMethod);
            message = message.replace('$$$', this.rowItem.paymentCoordinates);
          }
          if (discountToken != null) {
            this.$PaymentService.updateDiscountToken({
              id: discountToken.id,
              status: 'DISBURSED',
            });
          }
          if (this.rowItem.totalFee > 0) {
            _this.$AnalyticsService.setUserId(String(_this.shift.worker.id));
            _this.$AnalyticsService.logEvent('ecommerce_purchase', {
              affiliation: this.shift.organisation.name,
              currency: this.rowItem.paymentCurrency,
              items: 'khupay',
              shipping: this.rowItem.totalFee,
              value: this.rowItem.totalAmount,
            });
          }
          this.showSuccessAlert({
            message: 'Confirm Successful.',
            _this: this,
          });

          if (this.workTokenValues.some(e => e.expectedWorkTokenType === 'BONUS')) {
            const bonus = this.workTokenValues.find(e => e.expectedWorkTokenType === 'BONUS');
            await this.$NotificationService.sendNotification({
              workerId: this.shift.worker.id,
              title: 'Payment Successful',
              body: `${this.shift.job.title} give back ${bonus.amount} Ks to you. Your product payment successful.`,
              messageData: {
                jobId: this.shift.job.id,
                organisationName: this.shift.organisation.name,
                title: 'Payment Successful',
                body: `${this.shift.job.title} give back ${bonus.amount} Ks to you. Your product payment successful.`,
              },
            });
          }
          // this.shift.worker.languageSetting need to fix for that
          if (title != null) {
            this.$NotificationService.sendNotification({
              workerId: this.shift.worker.id,
              title,
              body: message,
              messageData: {
                jobId: this.shift.job.id,
                organisationName: this.shift.organisation.name,
                title,
                body: message,
              },
            });
          }
          this.$emit('disbursement-confirmed', this.shift);
        });
      this.dialog = false;
    },
    async receiptQuery(productId, workerId) {
      // eslint-disable-next-line no-underscore-dangle
      // const _this = this;
      let result = null;
      const query = await apollo.defaultClient.query({
        query: gql`query receipt(
          $workerId: String
          $productId: String
        ) {
        receipt(
          workerId: $workerId
          productId: $productId
        ) {
          id
          code
          paidLevel
        }
      }
      `,
        variables: {
          productId,
          workerId,
        },
      })
        .catch((err) => {
          this.$log.error(err);
          this.loading = false;
          this.$eventHub.$emit('show-alert', {
            type: 'error',
            message: err.graphQLErrors[0].message,
          });
        });
      if (query != null && query.data.receipt != null) {
        result = query.data.receipt;
      }
      return result;
    },
  },
};
</script>
