<template>
  <v-btn
    id="btn-DisbursementPage-OpenBonusDialog"
    v-if="$AccessService.isPermitted('WRITE_DISBURSEMENT')"
    depressed
    small
    @click="dialog = true"
  >
    <span id="btn-DisbursementPage-OpenBonusDialog">
      Bonus
    </span>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600"
    >
      <v-card>
        <v-card-title
          class=" headline"
        >
          Add Bonus
          <v-spacer />
          <v-btn
            id="btn-DisbursementPage-BonusDialog-Close"
            icon
            @click="dialog = false"
          >
            <v-icon id="btn-DisbursementPage-BonusDialog-Close">
              mdi-close
            </v-icon>
          </v-btn>
        </v-card-title>

        <v-card-text>
          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="false"
          >
            <v-text-field
              label="Amount"
              type="number"
              v-model="bonusAmount"
              outlined
              :rules="[v => !!v || 'Amount is required']"
            />
            <v-select
              v-if="false"
              outlined
              item-text="product.title"
              item-value="id"
              label="Choose Product"
              :items="receipts"
              v-model="receipt"
              return-object
            />
            <v-textarea
              v-model="bonusNotes"
              outlined
              label="Notes"
            />
          </v-form>
        </v-card-text>

        <v-card-actions>
          <v-row
            no-gutters
            align="center"
            justify="center"
          >
            <!-- <v-btn
              :disabled="!valid"
              class="jobdoh-red white--text"
              @click="addBonus({ forPreviousPayCycle: true })"
            >
              Bonus for Previous Pay Cycle
            </v-btn> -->
            <v-spacer />
            <v-btn
              id="btn-DisbursementPage-BonusDialog-Submit"
              :disabled="!valid"
              class="jobdoh white--text"
              @click="addBonus"
              v-html="'Submit'"
            />
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-btn>
</template>

<script>
import apollo from '@/assets/js/apollo';
import gql from 'graphql-tag';
import moment from 'moment';

export default {
  components: {
  },

  props: {
    shift: {
      type: Object,
      default: () => {},
    },
    item: {
      type: Object,
      default: () => {},
    },
    organisation: {
      type: Object,
      default: () => {},
    },
    lastWorkToken: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    dialog: false,
    bonusAmount: 0,
    bonusNotes: '',
    valid: false,
    lengthRules: [
      v => !!v || 'Transaction ID is required',
      v => v.length === 15 || 'Transaction ID consists of 15 digits',
    ],
    receipts: [],
    receipt: null,
  }),


  async mounted() {
    this.receipts = await this.receiptsQuery();
  },

  methods: {
    async openBonusDialog() {
      this.dialog = true;
      this.receipts = await this.receiptsQuery();
    },
    async addBonus() {
      // const { forPreviousPayCycle } = params;
      let forPreviousPayCycle = false;
      const currentMonth = moment().format('MMM');
      const payCycleMonth = moment(this.lastWorkToken.checkinTime).format('MMM');
      this.$log.debug('bonus months...', currentMonth, payCycleMonth);
      if (currentMonth !== payCycleMonth) {
        forPreviousPayCycle = true;
      }
      const args = {
        workerId: this.shift.worker.id,
        shiftId: this.shift.id,
        // eslint-disable-next-line radix
        amount: parseInt(this.bonusAmount),
        notes: this.bonusNotes,
        forPreviousPayCycle: forPreviousPayCycle || false,
        receiptId: this.receipt != null ? this.receipt.id : null,
      };
      const ret = await this.$PaymentService.addBonus(args)
        .catch((err) => {
          const { message } = err.graphQLErrors[0];
          this.showErrorAlert({
            message,
            _this: this,
          });
          this.bonusDialog = false;
        });
      if (ret) {
        this.$eventHub.$emit('reload_disbursement');
        this.showSuccessAlert({
          message: 'Adding Bonus Success!',
          _this: this,
        });
        this.$eventHub.$emit('reload-bonus', ret);
        // this.item.workTokens.push(ret.data.addBonus);
        // this.$apollo.queries.jobs.refetch();
        window.location.reload();
        this.dialog = false;
      }
    },
    async receiptsQuery() {
      // eslint-disable-next-line no-underscore-dangle
      // const _this = this;
      let result = [];
      const query = await apollo.defaultClient.query({
        query: gql`query receipts(
          $organisationId: String
        ) {
        receipts(
          organisationId: $organisationId
        ) {
          id
          code
          worker {
            id
            name
          }
          jobId
          # productId
          product {
            id
            title
          }
        }
      }
      `,
        variables: {
          organisationId: null,
        },
      })
        .catch((err) => {
          this.$log.error(err);
          this.loading = false;
          this.$eventHub.$emit('show-alert', {
            type: 'error',
            message: err.graphQLErrors[0].message,
          });
        });
      if (query != null && query.data.receipts != null) {
        result = query.data.receipts;
      }
      return result;
    },
  },
};
</script>
