<template>
  <!-- <v-container> -->
  <span>
    <v-list-item @click="dialog = true">
      <v-list-item-content>
        <v-list-item-title v-text="'Import Employee Data'" />
      </v-list-item-content>
    </v-list-item>

    <v-dialog
      v-model="dialog"
      persistent
      max-width="500px"
    >
      <v-card>
        <v-card-title
          class="jobdoh headline"
          style="color:white"
        >
          Import Employee Data
        </v-card-title>

        <v-card-text>
          <v-layout row>
            <v-flex>
              <v-text-field
                prepend-icon="attach_file"
                single-line
                v-model="filename"
                :label="label"
                :required="required"
                readonly
                @click.native="onFocus"
                :disabled="disabled"
                ref="fileTextField"
              />
              <input
                type="file"
                :accept="accept"
                :multiple="false"
                :disabled="disabled"
                ref="fileInput"
                @change="onFileChange"
              >
            </v-flex>
          </v-layout>
        </v-card-text>

        <v-card-actions>
          <v-spacer />
          <v-btn
            id="btn-DisbursementPage-ImportEmployeeDataDialog-Cancel"
            @click="dialog = false"
            v-html="'Cancel'"
          />
          <v-btn
            id="btn-DisbursementPage-ImportEmployeeDataDialog-Upload"
            @click="upload"
            color="info"
            :loading="loading"
            v-html="'Upload'"
          />
        </v-card-actions>
      </v-card>
    </v-dialog>
  </span>
</template>
<script>
// import { storage } from '@/assets/js/firebase';
import XLSX from 'xlsx';
import gql from 'graphql-tag';
import apollo from '@/assets/js/apollo';

export default {
  components: {
  },
  props: {
    value: {
      type: [Array, String],
      default: '',
    },
    accept: {
      type: String,
      default: '*',
    },
    label: {
      type: String,
      default: 'Please choose...',
    },
    required: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    multiple: {
      type: Boolean, // not yet possible because of data
      default: false,
    },
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    filename: '',
    files: {},
    result: {},
    valid: false,
    loading: false,
    dialog: false,
  }),

  watch: {
    value(v) {
      this.filename = v;
    },
  },

  mounted() {
    // this.$log.debug('test', this.a, 123)
    // this.$log.info('test', this.b)
    // this.$log.warn('test')
    // this.$log.error('test')
    // this.$log.fatal('test')
    this.filename = this.value;
  },

  methods: {
    onFocus() {
      if (!this.disabled) {
        this.$refs.fileInput.click();
      }
    },

    onFileChange($event) {
      this.files = $event.target.files || $event.dataTransfer.files;
      this.result = $event.target.result;
      if (this.files) {
        if (this.files.length > 0) {
          this.filename = [...this.files].map(file => file.name).join(', ');
        } else {
          this.filename = null;
        }
      } else {
        this.filename = $event.target.value.split('\\').pop();
      }
    },

    async upload() {
      this.loading = true;
      // const promises = [];
      // const errorData = [];
      // const errorMessage = '';
      const file = this.files[0];
      const reader = new FileReader();
      // eslint-disable-next-line no-underscore-dangle
      const _this = this;
      // let failCount = 0;

      // eslint-disable-next-line func-names
      reader.onload = async function () {
        const data = new Uint8Array(this.result);
        const workbook = await XLSX.read(data, { type: 'array', raw: true });
        _this.$log.debug({ workbook });
        const firstWorksheet = await workbook.Sheets[workbook.SheetNames[0]];
        _this.$log.debug({ firstWorksheet });
        const employeeData = await XLSX.utils
          .sheet_to_json(firstWorksheet, { header: 0, raw: true });
        // const systemData = [];
        const shifts = await _this.shiftsQuery();
        const systemData = await Promise.all(shifts.map(async (shift) => {
          const workTokens = await _this.getWorkTokens(shift);
          _this.$log.debug('workTokens', workTokens);
          const systemEmployee = await _this.calculateSystemData(workTokens, shift);
          return systemEmployee;
        }));
        _this.$log.debug({ systemData });
        _this.$log.debug({ employeeData });
        const conflictData = await _this.compareData(employeeData, systemData);
        _this.$log.debug({ conflictData });
        // this.discountTokens = await this.discountTokensQuery(this.shift.worker.id);
        _this.$emit('getConflictData', conflictData);
        _this.loading = false;
        _this.dialog = false;
      };

      reader.readAsArrayBuffer(file);
    },
    async getWorkTokens(shift) {
      let workTokens = [];
      const currentPayCycle = await this.getCurrentPayCycleFromOragnisation({
        organisation: this.organisation,
      });

      const timeRange = {
        from: currentPayCycle.data.startDate,
        to: currentPayCycle.data.endDate,
      };

      workTokens = await this.workTokensQuery(shift.id, timeRange);
      return workTokens;
    },
    async calculateSystemData(workTokens, shift) {
      if (workTokens == null || workTokens.length === 0) {
        return {};
      }
      // const currentPayCycleForMTD = await this.getCurrentPayCycleFromOragnisationForMTD({
      //   organisation: this.organisation,
      // });
      // const timeRangeForMTD = {
      //   from: currentPayCycleForMTD.data.startDate,
      //   to: currentPayCycleForMTD.data.endDate,
      // };
      const currentWorkTokens = await workTokens
        .filter(workToken => workToken.fiatTokens.length === 0
        && workToken.payNow === true && workToken.confirmed === true);

      const timeRangeForMTD = {
        from: this.calendarStartDate(this.organisation, currentWorkTokens),
        to: this.calendarEndDate(this.organisation, currentWorkTokens),
      };
      const fiatTokens = await workTokens.map(workToken => workToken.fiatTokens).flat();
      let khupay = await this.getMTDFromFiatTokens({
        fiatTokens,
        timeRange: timeRangeForMTD,
      }).data;

      const currentWorkTokenValues = this.getWorkTokenValuesFromWorkTokens({
        workTokens: currentWorkTokens,
      }).data;

      this.currentWorkTokenValues = currentWorkTokenValues;

      const standardWorkTokenValues = await this.filterStandardWorkTokenValues({
        workTokenValues: currentWorkTokenValues,
      }).data;
      const bonusWorkTokenValues = await this.filterBonusWorkTokenValues({
        workTokenValues: currentWorkTokenValues,
      }).data;

      // eslint-disable-next-line no-unused-vars
      const paymentData = await this.getPaymentDataFromWorkTokenValues({
        workTokenValues: standardWorkTokenValues,
      }).data;

      const totalAmountWithFee = await this
        .getTotalAmountFromWorkTokenValues({
          workTokenValues: standardWorkTokenValues,
        }).data;
      let differenceAmount = await this
        .getDifferenceAmountFromWorkTokenValues({
          workTokenValues: standardWorkTokenValues,
        }).data;
      this.$log.debug('difference', differenceAmount);
      let totalBonusAmount = await this
        .getTotalAmountFromWorkTokenValues({
          workTokenValues: bonusWorkTokenValues,
        }).data;
      const feeData = await this.getTotalFeeFromWorkTokenValues({
        workTokenValues: standardWorkTokenValues,
      }).data;
      let feeForEachWorker = feeData.amount;

      let totalAmountWithoutFee = totalAmountWithFee - feeForEachWorker + differenceAmount;
      this.$log.debug({ totalAmountWithoutFee });
      if (shift.worker.paymentCurrency === 'USD') {
        totalBonusAmount = this.roundTo(totalBonusAmount, 2);
        feeForEachWorker = this.roundTo(feeForEachWorker, 2);
        totalAmountWithoutFee = this.roundTo(totalAmountWithoutFee, 2);
        differenceAmount = this.roundTo(differenceAmount, 2);
        khupay = this.roundTo(khupay, 2);
      } else if (shift.worker.paymentCurrency === 'MMK') {
        totalBonusAmount = this.roundTo(totalBonusAmount, 0);
        feeForEachWorker = this.roundTo(feeForEachWorker, 0);
        totalAmountWithoutFee = this.roundTo(totalAmountWithoutFee, 0);
        differenceAmount = this.roundTo(differenceAmount, 0);
        khupay = this.roundTo(khupay, 0);
      }

      let strIdentification = shift.worker.identification;
      strIdentification = strIdentification
        .substring(strIdentification.length - 6, strIdentification.length);
      return {
        phone: shift.worker.phone,
        nrc: strIdentification,
        khupay,
        paymentCoordinates: shift.worker.paymentCoordinates,
        amount: totalAmountWithoutFee + totalBonusAmount,
        workTokenValues: standardWorkTokenValues,
      };
    },
    compareData(employeeData, systemData) {
      let newData = [];
      let missingData = [];
      let conflictData = [];
      newData = employeeData.filter((employee) => {
        const ret = systemData
          .some(system => system.phone === employee.phone
          || system.nrc === employee.nrc
          || system.paymentCoordinates === employee.paymentCoordinates);
        return !ret;
      });

      missingData = systemData.filter((system) => {
        const ret = employeeData
          .some(employee => employee.phone === system.phone
          || employee.nrc === system.nrc
          || employee.paymentCoordinates === system.paymentCoordinates);
        return !ret;
      });

      conflictData = systemData.map((system) => {
        const ret = {};
        const employee = employeeData.find(e => e.phone === system.phone
          || e.nrc === system.nrc
          || e.paymentCoordinates === system.paymentCoordinates);
        if (employee != null) {
          ret.id = system.phone;
          if (String(employee.phone) !== String(system.phone)) {
            ret.currentPhone = system.phone;
            ret.newPhone = employee.phone;
            ret.id = system.nrc;
          }
          if (String(employee.nrc) !== String(system.nrc)) {
            ret.currentNrc = system.nrc;
            ret.newNrc = employee.nrc;
          }
          if (String(employee.paymentCoordinates) !== String(system.paymentCoordinates)) {
            ret.currentPaymentCoordinates = system.paymentCoordinates;
            ret.newPaymentCoordinates = employee.paymentCoordinates;
          }
          if (employee.amount !== system.amount) {
            ret.currentAmount = system.amount;
            ret.newAmount = employee.amount;
            ret.khupay = system.khupay;
            ret.workTokenValuesIds = system.workTokenValues.map(e => e.id);
          }
          return ret;
        }
        return {};
      });
      newData = newData.filter(e => !!Object.keys(e).length);
      missingData = missingData.filter(e => !!Object.keys(e).length);
      conflictData = conflictData.filter(e => !!Object.keys(e).length);
      return {
        new: newData,
        missing: missingData,
        conflicts: conflictData,
      };
    },
    async discountTokensQuery(workerId) {
      let result = [];
      const query = await apollo.defaultClient.query({
        query: gql`query discountTokens(
          $workerId: String!,
        ) {
        discountTokens(
          workerId: $workerId,
        ) {
          id
          discountPercent
          discountFixed
          status
        }
      }
      `,
        variables: {
          workerId,
        },
      })
        .catch((err) => {
          this.$log.debug('discount query errror', err);
        });
      if (query.data.discountTokens.length > 0) {
        result = query.data.discountTokens;
      }
      return result;
    },
    async workTokensQuery(shiftId, timeRange) {
      let resultWorkTokens = [];
      const query = await apollo.defaultClient.query({
        query: gql`query workTokens(
          $filter: FilterType,
          $orderBy: String,
          $skip: Int,
          $first: Int,
        ) {
        workTokens(
          filter: $filter,
          orderBy: $orderBy,
          skip: $skip,
          first: $first,
        ) {
          id
          createdAt
          worker {
            id
          }
          workTokenValue{
            id
            amount
            amountConflictDifference
            fee
            method
            currency
            coordinates
            expectedWorkTokenType
            notes
            workToken{
              id
              confirmed
              payNow
            }
          }
          fiatTokens{
            id
            workToken{
              checkinTime
              checkoutTime
            }
            createdAt
            amount
            currency
            method
            coordinates
            transactionRef
          }
          checkinTime
          checkoutTime
          type
          confirmed
          payNow
        }
      }
      `,
        variables: {
          filter: {
            query: {
              shiftId,
              checkinTime: {
                GTE: timeRange.from.toDate(),
                LTE: timeRange.to.toDate(),
              },
            },
          },
          first: null,
          skip: 0,
          orderBy: 'createdAt',
        },
      })
        .catch((err) => {
          this.$log.debug('queryError', err);
        });
      if (query.data.workTokens.length > 0) {
        resultWorkTokens = query.data.workTokens;
      }
      return resultWorkTokens;
    },
    async shiftsQuery() {
      let result = [];
      const first = null;
      const skip = 0;
      const query = await apollo.defaultClient.query({
        query: gql`query shifts(
          $filter: FilterType,
          $orderBy: String,
          $skip: Int,
          $first: Int,
        ) {
          shifts(
            filter: $filter,
            orderBy: $orderBy,
            skip: $skip,
            first: $first,
          ) {
          id
          unpaid
          unconfirmed
          job {
            id
            renumerationValue
          }
          worker {
            id
            name
            phone
            identification
            paymentCurrency
            paymentCoordinates
            languageSetting
          }
          organisation {
            id
            name
          } 
        }
      }
      `,
        variables: {
          filter: {
            query: {
              AND: [
                {
                  organisationId: this.organisation.id,
                },
              ],
            },
            advanced: {
              unpaid: true,
            },
          },
          first,
          skip,
          // orderBy: 'worker.name',
          orderBy: 'createdAt',
        },
      })
        .catch((err) => {
          this.$log.eror('shifts query errror', err);
        });
      if (query.data.shifts.length > 0) {
        result = query.data.shifts;
        this.$log.debug('unpaidShifts', result);
      }
      return result;
    },
  },
};
</script>
