<template>
  <v-list-item
    @click="exportCsv"
    :disabled="loading"
  >
    <v-list-item-content>
      <v-list-item-title>KBZ Pay</v-list-item-title>
    </v-list-item-content>
    <v-progress-circular
      v-if="loading"
      size="20"
      color="grey"
      indeterminate
    />
  </v-list-item>
</template>

<script>
import apollo from '@/assets/js/apollo';
import gql from 'graphql-tag';
import moment from 'moment';
import PhoneValidator from 'awesome-phonenumber';
import { Parser } from 'json2csv';

export default {
  components: {
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    shifts: [],
    loading: false,
  }),

  computed: {
  },

  watch: {
    async organisation() {
      this.shifts = await this.shiftsQuery();
    },
  },

  async mounted() {
    this.shifts = await this.shiftsQuery();
  },

  methods: {
    sendExportData(exportData) {
      this.$emit('getExportData', exportData);
    },

    async exportCsv() {
      this.loading = true;
      const exportData = await this.calculateExportData();
      const name = await this.organisation.name.toLowerCase();
      const year = await this.$moment().format('YYYY');
      const month = await this.$moment().format('MM');
      const day = await this.$moment().format('DD');
      const json2csvParser = await new Parser({ header: false, quote: '' });
      const result = await json2csvParser.parse(exportData);
      const csvContent = await `data:text/csv;charset=utf-8,\uFEFF${result}`;
      const link = await document.createElement('a');
      link.href = await encodeURI(csvContent);
      link.download = this.getCsvFilename(this.organisation.name);
      await document.body.appendChild(link); // Required for FF
      await link.click();
      await document.body.removeChild(link); // Required for FF
      await this.sendExportData(exportData);
      this.loading = false;
    },

    getCsvFilename(orgName) {
      return `${moment().format('YYYYMMDD')}_${orgName.toString().toLowerCase()}_ongo_disbursement.csv`;
    },

    async calculateExportData() {
      // const currentPayCycle = await this.getCurrentPayCycleFromOragnisation({
      //   organisation: this.organisation,
      // });
      // const timeRange = {
      //   from: currentPayCycle.data.startDate,
      //   to: currentPayCycle.data.endDate,
      // };
      const exportData = [];
      let standardWorkTokenValues = [];
      let bonusWorkTokenValues = [];
      // let deductionWorkTokenValues = [];
      let paymentData = {};
      let totalAmountWithFee = 0;
      let feeForEachWorker = 0;
      let totalFee = 0;
      const feesForCalculateTotal = [];
      let totalAmountWithoutFee = 0;
      await Promise.all(this.shifts.map(async (shift) => {
        this.$log.info({ shift });
        const workTokens = [];
        await this.workTokensQuery(shift.id)
          .then(result => workTokens.push(...result));
        this.$log.info({ workTokens });
        // workTokens = workTokens.filter(e => Object.keys(e).length > 0);

        const currentWorkTokens = await workTokens
          .filter(workToken => workToken.fiatTokens.length === 0
          && workToken.payNow === true && workToken.confirmed === true);

        const workTokenValues = this.getWorkTokenValuesFromWorkTokens({
          workTokens: currentWorkTokens,
        }).data;


        standardWorkTokenValues = await this.filterStandardWorkTokenValues({
          workTokenValues,
        }).data;
        bonusWorkTokenValues = await this.filterBonusWorkTokenValues({
          workTokenValues,
        }).data;
        // deductionWorkTokenValues = await this.filterDeductionWorkTokenValues({
        //   workTokenValues,
        // }).data;
        paymentData = await this.getPaymentDataFromWorkTokenValues({
          workTokenValues: standardWorkTokenValues,
        }).data;
        totalAmountWithFee = await this
          .getTotalAmountFromWorkTokenValues({
            workTokenValues: standardWorkTokenValues,
          }).data;
        const differenceAmount = await this
          .getDifferenceAmountFromWorkTokenValues({
            workTokenValues: standardWorkTokenValues,
          }).data;
        this.$log.debug('exportDifferenceAmount', differenceAmount);
        let totalBonusAmount = await this
          .getTotalAmountFromWorkTokenValues({
            workTokenValues: bonusWorkTokenValues,
          }).data;
        const feeData = await this.getTotalFeeFromWorkTokenValues({
          workTokenValues: standardWorkTokenValues,
        }).data;
        feeForEachWorker = feeData.amount;
        if (paymentData.method.includes('KBZ Pay')) {
          await feesForCalculateTotal.push(feeForEachWorker);
        }
        totalAmountWithoutFee = totalAmountWithFee - feeForEachWorker + differenceAmount;
        totalAmountWithoutFee = this.roundTo(totalAmountWithoutFee, 0);
        totalBonusAmount = this.roundTo(totalBonusAmount, 0);

        let strIdentification = shift.worker.identification;
        strIdentification = strIdentification
          .substring(strIdentification.length - 6, strIdentification.length);
        const paymentCoordinates = new PhoneValidator(String(paymentData.coordinates));
        // const { paymentCoordinates } = shift.worker;
        this.$log.debug({ paymentCoordinates });
        if (workTokens.length > 0 && paymentData.method.includes('KBZ Pay')) {
          await exportData.push({
            empty1: paymentCoordinates.b.b[1],
            paymentCoordinates: paymentData.method.includes('KBZ Pay') ? paymentCoordinates.a.number.significant
              : paymentData.coordinates,
            identification: strIdentification.toString(),
            name: shift.worker.name,
            totalAmount: totalAmountWithoutFee + totalBonusAmount,
            empty2: '',
            empty3: '',
            empty4: '',
            empty5: '',
            empty6: '',
          });
        }
      }));
      totalFee = await feesForCalculateTotal.reduce((a, b) => a + b, 0);
      totalFee = this.roundTo(totalFee, 0);
      if (totalFee > 0) {
        await exportData.push({
          empty1: '95',
          // paymentCoordinates: '9966617840',
          paymentCoordinates: '9961375846',
          identification: '530353',
          name: 'JOBDOH',
          totalAmount: totalFee,
          empty2: '',
          empty3: '',
          empty4: '',
          empty5: '',
          empty6: '',
        });
      }
      this.$log.info(exportData);
      return exportData;
    },

    async workTokensQuery(shiftId) {
      // eslint-disable-next-line no-underscore-dangle
      // const _this = this;
      let resultWorkTokens = [];
      const query = await apollo.defaultClient.query({
        query: gql`query workTokens(
          $filter: FilterType,
          $orderBy: String,
          $skip: Int,
          $first: Int,
        ) {
        workTokens(
          filter: $filter,
          orderBy: $orderBy,
          skip: $skip,
          first: $first,
        ) {
          id
          createdAt
          shift {
            id
            unconfirmed
          }
          worker {
            id
          }
          workTokenValue{
            id
            amount
            amountConflictDifference
            fee
            method
            currency
            coordinates
            expectedWorkTokenType
            notes
            workToken{
              id
              confirmed
              payNow
            }
          }
          fiatTokens{
            id
            createdAt
            amount
            currency
            method
            coordinates
            transactionRef
          }
          checkinTime
          checkoutTime
          type
          confirmed
          payNow
        }
      }
      `,
        variables: {
          filter: {
            query: {
              shiftId,
              unpaid: true,
            },
          },
          first: null,
          skip: 0,
          orderBy: 'createdAt',
        },
      })
        .catch((e) => {
          this.$log.error(e);
        });
      if (query.data.workTokens.length > 0) {
        resultWorkTokens = query.data.workTokens;
      }
      return resultWorkTokens;
    },

    async shiftsQuery() {
      let result = [];
      const first = this.itemsPerPage !== 'All' ? this.itemsPerPage : null;
      this.$log.debug('first', first);
      const skip = this.itemsPerPage * (this.pageNo - 1);
      this.$log.debug('skip', skip);
      const query = await apollo.defaultClient.query({
        query: gql`query shifts(
          $filter: FilterType,
          $orderBy: String,
          $skip: Int,
          $first: Int,
        ) {
          shifts(
            filter: $filter,
            orderBy: $orderBy,
            skip: $skip,
            first: $first,
          ) {
          id
          unpaid
          unconfirmed
          job {
            id
            renumerationValue
          }
          worker {
            id
            name
            phone
            identification
            paymentCurrency
            paymentCoordinates
            languageSetting
          }
          organisation {
            id
            name
          } 
        }
      }
      `,
        variables: {
          filter: {
            query: {
              AND: [
                {
                  organisationId: this.organisation.id,
                },
              ],
            },
            advanced: {
              unpaid: true,
            },
          },
          first: null,
          skip: 0,
          // orderBy: 'worker.name',
          orderBy: 'createdAt',
        },
      })
        .catch((err) => {
          this.$log.eror('shifts query errror', err);
        });
      if (query.data.shifts.length > 0) {
        result = query.data.shifts;
        this.$log.debug('unpaidShifts', result);
      }
      return result;
    },
  },
};
</script>
