<template>
  <v-list-item
    @click="exportCsv"
    :disabled="loading"
  >
    <v-list-item-content>
      <v-list-item-title>Tap & Go</v-list-item-title>
    </v-list-item-content>
    <v-progress-circular
      v-if="loading"
      size="20"
      color="grey"
      indeterminate
    />
  </v-list-item>
</template>

<script>
import apollo from '@/assets/js/apollo';
import gql from 'graphql-tag';
import PhoneValidator from 'awesome-phonenumber';
import { Parser } from 'json2csv';
import moment from 'moment';

export default {
  components: {
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    shifts: [],
    loading: false,
  }),

  computed: {
  },

  // watch: {
  //   async organisation() {
  //     this.shifts = await this.shiftsQuery();
  //   },
  // },

  // async mounted() {
  //   this.shifts = await this.shiftsQuery();
  // },

  methods: {
    sendExportData(exportData) {
      this.$emit('getExportData', exportData);
    },
    async exportCsv() {
      this.loading = true;
      try {
        const exportData = await this.calculateExportData();
        this.$log.info(exportData);
        const json2csvParser = await new Parser({ header: false, quote: '' });
        const result = await json2csvParser.parse(exportData);
        const csvContent = await `data:text/csv;charset=utf-8,\uFEFF${result}`;
        const link = await document.createElement('a');
        link.href = await encodeURI(csvContent);
        link.download = this.getCsvFilename(this.organisation.name);
        await document.body.appendChild(link); // Required for FF
        await link.click();
        await document.body.removeChild(link); // Required for FF
        await this.sendExportData(exportData);
      } catch (e) {
        this.$log.error(e);
      }
      this.loading = false;
    },
    getCsvFilename(orgName) {
      return `${moment().format('YYYYMMDD')}_${orgName.toString().toLowerCase()}_tabandgo_disbursement.csv`;
    },
    async calculateExportData() {
      // const currentPayCycle = await this.getCurrentPayCycleFromOragnisation({
      //   organisation: this.organisation,
      // });
      // const timeRange = {
      //   from: currentPayCycle.data.startDate,
      //   to: currentPayCycle.data.endDate,
      // };

      const exportData = [];
      let totalFee = 0;
      const feesForCalculateTotal = [];

      await Promise.all(this.shifts.map(async (shift) => {
        this.$log.info({ shift });

        let standardWorkTokenValues = [];
        let bonusWorkTokenValues = [];
        // let deductionWorkTokenValues = [];
        let paymentData = {};
        let totalAmountWithFee = 0;
        let totalAmountWithoutFee = 0;
        let feeForEachWorker = 0;
        const workTokens = await this.workTokensQuery(shift.id)
          .then(result => [...result])
          .finally(() => this.$log.info({ workTokens }));

        const currentWorkTokens = await workTokens
          .filter(workToken => workToken.fiatTokens.length === 0
          && workToken.payNow === true
          && workToken.confirmed === true
          && (workToken.type === 'STANDARD' || workToken.type === 'BONUS')
          && workToken.workTokenValue
          && workToken.workTokenValue != null);

        // currentWorkTokens = currentWorkTokens
        const workTokenValues = await this.getWorkTokenValuesFromWorkTokens({
          workTokens: currentWorkTokens,
        }).data;
        standardWorkTokenValues = await this.filterStandardWorkTokenValues({
          workTokenValues,
        }).data;
        bonusWorkTokenValues = await this.filterBonusWorkTokenValues({
          workTokenValues,
        }).data;
        // deductionWorkTokenValues = await this.filterDeductionWorkTokenValues({
        //   workTokenValues,
        // }).data;
        paymentData = await this.getPaymentDataFromWorkTokenValues({
          workTokenValues: standardWorkTokenValues,
        }).data;
        totalAmountWithFee = await this
          .getTotalAmountFromWorkTokenValues({
            workTokenValues: standardWorkTokenValues,
          }).data;
        const differenceAmount = await this
          .getDifferenceAmountFromWorkTokenValues({
            workTokenValues: standardWorkTokenValues,
          }).data;
        this.$log.debug('exportDifferenceAmount', differenceAmount);
        let totalBonusAmount = await this
          .getTotalAmountFromWorkTokenValues({
            workTokenValues: bonusWorkTokenValues,
          }).data;
        const feeData = await this.getTotalFeeFromWorkTokenValues({
          workTokenValues: standardWorkTokenValues,
        }).data;
        feeForEachWorker = feeData.amount;
        if (paymentData != null && paymentData.method != null && paymentData.method.includes('Tap & Go')) {
          feesForCalculateTotal.push(feeForEachWorker);
        }
        totalAmountWithoutFee = totalAmountWithFee - feeForEachWorker + differenceAmount;
        totalAmountWithoutFee = this.roundTo(totalAmountWithoutFee, 0);
        totalBonusAmount = this.roundTo(totalBonusAmount, 0);

        const { identification } = shift.worker;
        const strIdentification = identification
          .substring(identification.length - 6, identification.length);
        const paymentCoordinates = new PhoneValidator(String(paymentData.coordinates));
        this.$log.debug({ paymentCoordinates });
        if (workTokens.length > 0
            && paymentData != null
            && paymentData.method != null
            && paymentData.method.includes('Tap & Go')) {
          await exportData.push({
            empty1: paymentCoordinates.b.b[1],
            paymentCoordinates: paymentData.method.includes('Tap & Go') ? paymentCoordinates.a.number.significant
              : paymentData.coordinates,
            identification: strIdentification.toString(),
            name: shift.worker.name,
            totalAmount: totalAmountWithoutFee + totalBonusAmount,
            empty2: '',
            empty3: '',
            empty4: '',
            empty5: '',
            empty6: '',
          });
        }
      }));

      totalFee = feesForCalculateTotal.reduce((a, b) => a + b, 0);
      totalFee = this.roundTo(totalFee, 0);
      if (totalFee > 0) {
        exportData.push({
          empty1: '95',
          // paymentCoordinates: '9966617840',
          paymentCoordinates: '9967730220',
          identification: '530353',
          name: 'JOBDOH',
          totalAmount: totalFee,
          empty2: '',
          empty3: '',
          empty4: '',
          empty5: '',
          empty6: '',
        });
      }
      this.$log.info(exportData);
      return exportData;
    },

    async workTokensQuery(shiftId) {
      // eslint-disable-next-line no-underscore-dangle
      // const _this = this;
      let resultWorkTokens = [];
      const query = await apollo.defaultClient.query({
        query: gql`query workTokens(
          $filter: FilterType,
          $orderBy: String,
          $skip: Int,
          $first: Int,
        ) {
        workTokens(
          filter: $filter,
          orderBy: $orderBy,
          skip: $skip,
          first: $first,
        ) {
          id
          createdAt
          shift {
            id
            unconfirmed
          }
          worker {
            id
          }
          workTokenValue{
            id
            amount
            amountConflictDifference
            fee
            method
            currency
            coordinates
            expectedWorkTokenType
            notes
            workToken{
              id
              confirmed
              payNow
            }
          }
          fiatTokens{
            id
            createdAt
            amount
            currency
            method
            coordinates
            transactionRef
          }
          checkinTime
          checkoutTime
          type
          confirmed
          payNow
        }
      }
      `,
        variables: {
          filter: {
            query: {
              shiftId,
              unpaid: true,
            },
          },
          first: null,
          skip: 0,
          orderBy: 'createdAt',
        },
      })
        .catch((e) => {
          this.$log.error(e);
        });
      if (query.data.workTokens.length > 0) {
        resultWorkTokens = query.data.workTokens;
      }
      return resultWorkTokens.filter(workToken => !workToken.type.includes(['LEAVE_SICK', 'LEAVE_PERSONAL', 'LEAVE_SPECIAL', 'LEAVE_UNPAID']));
    },

    // async shiftsQuery() {
    //   let result = [];
    //   const first = this.itemsPerPage !== 'All' ? this.itemsPerPage : null;
    //   this.$log.debug('first', first);
    //   const skip = this.itemsPerPage * (this.pageNo - 1);
    //   this.$log.debug('skip', skip);
    //   const query = await apollo.defaultClient.query({
    //     query: gql`query shifts(
    //       $filter: FilterType,
    //       $orderBy: String,
    //       $skip: Int,
    //       $first: Int,
    //     ) {
    //       shifts(
    //         filter: $filter,
    //         orderBy: $orderBy,
    //         skip: $skip,
    //         first: $first,
    //       ) {
    //       id
    //       unpaid
    //       unconfirmed
    //       job {
    //         id
    //         renumerationValue
    //       }
    //       worker {
    //         id
    //         name
    //         phone
    //         identification
    //         paymentCurrency
    //         paymentCoordinates
    //         languageSetting
    //       }
    //       organisation {
    //         id
    //         name
    //       }
    //     }
    //   }
    //   `,
    //     variables: {
    //       filter: {
    //         query: {
    //           AND: [
    //             {
    //               organisationId: this.organisation.id,
    //             },
    //           ],
    //         },
    //         advanced: {
    //           unpaid: true,
    //         },
    //       },
    //       first: null,
    //       skip: 0,
    //       // orderBy: 'worker.name',
    //       orderBy: 'createdAt',
    //     },
    //   })
    //     .catch((err) => {
    //       this.$log.eror('shifts query errror', err);
    //     });
    //   if (query.data.shifts.length > 0) {
    //     result = query.data.shifts;
    //     this.$log.debug('unpaidShifts', result);
    //   }
    //   return result;
    // },
  },


  apollo: {
    shifts: {
      query: gql`query shifts(
          $filter: FilterType,
          $orderBy: String,
          $skip: Int,
          $first: Int,
        ) {
          shifts(
            filter: $filter,
            orderBy: $orderBy,
            skip: $skip,
            first: $first,
          ) {
          id
          unpaid
          unconfirmed
          job {
            id
            renumerationValue
          }
          worker {
            id
            name
            phone
            identification
            paymentCurrency
            paymentCoordinates
            languageSetting
          }
          organisation {
            id
            name
          }
        }
      }
      `,
      variables() {
        return {
          filter: {
            query: {
              AND: [
                {
                  organisationId: this.organisation.id,
                },
              ],
            },
            advanced: {
              unpaid: true,
            },
          },
          first: null,
          skip: 0,
          // orderBy: 'worker.name',
          orderBy: 'createdAt',
        };
      },
      result({ loading }) {
        this.loading = loading;
      },
    },
  },
};
</script>
