<template>
  <v-file-input
    label="Business Registration"
    outlined
    v-model="file"
    @change="v => $emit('input', () => uploadBusinessRegFile(v))"
    chips
    small-chips
    prepend-icon=""
    prepend-inner-icon="mdi-paperclip"
    :loading="loading"
    accept="image/*,.pdf"
    :rules="rules"
    :clearable="false"
  >
    <template #append>
      <!-- <v-btn
        id="btn-any-UploadBusinessRegFile"
        v-if="file && organisationId"
        icon
        @click="onUpload"
      >
        <v-icon id="btn-any-UploadBusinessRegFile">
          mdi-upload
        </v-icon>
      </v-btn> -->
      <v-icon
        id="btn-any-OpenBusinessRegFile"
        v-if="url"
        icon
        @click="openInNewTab(url)"
      >
        mdi-open-in-new
      </v-icon>
    </template>
  </v-file-input>
</template>

<script>
import firebase from 'firebase';
import { ref, getStorage } from 'firebase/storage';

export default {
  props: {
    value: {
      type: String,
      required: true,
    },
    organisationId: {
      type: String,
      required: true,
    },
    required: Boolean,
    requiredFile: Boolean,
    fileProp: File,
  },

  data() {
    return {
      url: this.value,
      loading: true,
      file: null,
      uploadValue: null,
    };
  },

  watch: {
    // value(newValue) {
    //   this.url = newValue;
    // },
    file(newFile) {
      this.$emit('update:file-prop', newFile);
    },
  },

  computed: {
    rules() {
      const rules = [];
      if (this.required) rules.push(this.$Validate.required(this.value));
      if (this.requiredFile) rules.push(this.$Validate.required(this.file));
      return [...rules, this.$Validate.file(10)];
    },
  },

  methods: {
    openInNewTab(value) {
      window.open(value);
    },
    async onUpload() {
      this.loading = true;
      const url = await this.uploadBusinessRegFile(this.file);
      if (url) {
        this.file = null;
        await this.saveBusinessRegFileUrl(url).then(() => {
          this.$emit('input', url);
        });
      }
      this.loading = false;
    },
    uploadBusinessRegFile(file) {
      return new Promise((resolve, reject) => {
        const storageRef = firebase.storage().ref(`organisations/${this.organisationId}/businessRegFile`).put(file, { customMetadata: { name: file.name } });
        storageRef.on('state_changed',
          (snapshot) => {
            this.uploadValue = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
          },
          (error) => {
            this.$log.info(error.message);
            reject(error);
          },
          () => {
            this.uploadValue = 100;
            storageRef.snapshot.ref.getDownloadURL().then((url) => {
              resolve(url);
            });
          });
      });
    },
    saveBusinessRegFileUrl(url) {
      return this.$OrganisationService.updateOrganisation({
        id: this.organisationId,
        businessRegFileUrl: url,
      });
    },
    async createFile(value) {
      const metadata = await firebase.storage().ref(`organisations/${this.organisationId}/businessRegFile`).getMetadata();

      // console.log('firebase response', response);
      // const data = await response.blob();
      // const metadata = {
      //   type: 'image/*,.pdf',
      // };
      const file = new File([], metadata.customMetadata.name, metadata);
      // const file = new File([data]);
      // const file = new File(['foo'], 'foo.pdf', {
      //   type: 'image/*,.pdf',
      // });
      return file;
      // ... do something with the file or return it
    },
  },

  async mounted() {
    setImmediate(() => {
      this.loading = false;
    });
    this.file = await this.createFile(this.value);
  },
};
</script>

<style>

</style>
