<template>
  <v-card
    outlined
    class="row-style"
    :style="{position: 'relative', 'height': height, 'max-width': width}"
    v-ripple
  >
    <v-img
      v-if="value && !uploading"
      :src="value"
      max-height="100%"
      max-width="100%"
    />
    <v-file-input
      v-if="!uploading"
      accept="image/*"
      outlined
      v-model="image"
      prepend-icon="mdi-camera"
      @change="onUpload"
      :style="{position: 'absolute', opacity: uploaderOpacity}"
    />
    <v-container
      v-else
      class="fill-height"
      :style="{position: 'absolute', height: '100%', width: '100%'}"
    >
      <v-row
        no-gutters
        justify="center"
        align="center"
      >
        <v-col
          cols="12"
          sm="12"
        >
          <v-row
            no-gutters
            justify="center"
            class="mb-2"
          >
            Uploading Image
          </v-row>
          <v-row
            no-gutters
            justify="center"
          >
            <v-progress-linear
              style="max-width: 200px;"
              color="primary"
              indeterminate
              rounded
            />
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
import firebase from 'firebase';

export default {
  props: {
    value: {
      type: String,
      default: '',
    },
    imageName: {
      type: String,
      required: true,
    },
    height: {
      type: String,
      default: '100%',
    },
    width: {
      type: String,
      default: '100px',
    },
    path: {
      type: String,
      required: true,
    },
    required: {
      type: Boolean,
    },
  },
  data() {
    return {
      image: null,
      uploadValue: 0,
      uploading: false,
    };
  },
  computed: {
    uploaderOpacity() {
      return this.value ? 0 : 1;
    },
    rules() {
      const rules = [];
      if (this.required) rules.push(() => !!this.value || this.$Validate.messages.required);
      return rules;
    },
  },
  methods: {
    dataURItoBlob(dataURI) {
      const bytes = dataURI.split(',')[0].indexOf('base64') >= 0
        ? atob(dataURI.split(',')[1])
        : unescape(dataURI.split(',')[1]);
      const mime = dataURI.split(',')[0].split(':')[1].split(';')[0];
      const max = bytes.length;
      const ia = new Uint8Array(max);
      for (let i = 0; i < max; i += 1) ia[i] = bytes.charCodeAt(i);
      return new Blob([ia], { type: mime });
    },
    resizeImage({ file, maxSize }) {
      const reader = new FileReader();
      const image = new Image();
      const canvas = document.createElement('canvas');

      const resize = () => {
        let { width, height } = image;

        if (width > height) {
          if (width > maxSize) {
            height *= maxSize / width;
            width = maxSize;
          }
        } else if (height > maxSize) {
          width *= maxSize / height;
          height = maxSize;
        }

        canvas.width = width;
        canvas.height = height;
        canvas.getContext('2d').drawImage(image, 0, 0, width, height);

        const dataUrl = canvas.toDataURL('image/jpeg');

        return this.dataURItoBlob(dataUrl);
      };

      return new Promise((ok, no) => {
        if (!file.type.match(/image.*/)) {
          no(new Error('Not an image'));
          return;
        }

        reader.onload = (readerEvent) => {
          image.onload = () => ok(resize());
          image.src = readerEvent.target.result;
        };

        reader.readAsDataURL(file);
      });
    },
    blobToFile(theBlob, fileName) {
      const blob = theBlob;
      // A Blob() is almost a File() - it's just missing the two properties below which we will add
      blob.lastModifiedDate = new Date();
      blob.name = fileName;
      return blob;
    },
    async onUpload() {
      this.$log.debug('Start uploading...');
      let image;
      await this.resizeImage({ file: this.image, maxSize: 1000 }).then((resizedImage) => {
        // image = URL.createObjectURL(resizedImage);
        image = this.blobToFile(resizedImage, this.imageName);
      }).catch((err) => {
        this.$log.error(err);
      });
      this.$log.debug('image', image);
      const storageRef = firebase.storage().ref(`${this.path}/${this.imageName}`).put(image);
      this.uploading = true;
      storageRef.on('state_changed',
        (snapshot) => {
          this.uploadValue = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
        },
        (error) => { this.$log.error(error.message); },
        () => { // completed
          this.uploadValue = 100;
          this.uploading = false;
          storageRef.snapshot.ref.getDownloadURL().then((url) => {
            this.picture = url;
            this.$emit('upload-complete', url);
          });
        });
    },
    convertCanvasToImage() {
      const canvas = document.getElementById('canvas');
      const image = new Image();
      image.src = canvas.toDataURL();
      return image;
    },
  },
};
</script>

<style scoped>
.row-style {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
}
.v-input >>> .v-input__control {
  display: none !important;
}
.v-input >>> .v-icon {
  font-size: 55px;
}
.v-input >>> div
  {
  margin: 0 !important;
  height: 100% !important;
  width: 100% !important;
}

.v-input >>> button
  {
  margin: 0 !important;
  height: 100% !important;
  width: 100% !important;
}
/* .v-input, .v-input__prepend-outer, .v-icon {
  height: 100% !important;
  width: 100% !important;
} */
.v-input {
  height: 100% !important;
  width: 100% !important;
}
</style>
