<template>
  <div>
    <div>
      <input
        type="file"
        @change="previewImage"
        accept="image/*"
      >
    </div>
    <div>
      <p>
        Progress: {{ uploadValue.toFixed()+"%" }}
        <progress
          id="progress"
          :value="uploadValue"
          max="100"
        />
      </p>
    </div>
    <div v-if="imageData != null">
      <img
        v-for="(pic, i) in pictures"
        :key="i"
        class="preview"
        :src="pic"
      >
      <br>
      <v-btn
        id="btn-any-UploadImage"
        class="ma-5"
        @click="onUpload"
        dark
        v-html="'Upload'"
      />
    </div>
  </div>
</template>

<script>
import firebase from 'firebase';

export default {
  name: 'MultipleImageUpload',
  data() {
    return {
      imageData: null,
      pictures: [],
      uploadValue: 0,
    };
  },
  methods: {
    previewImage(event) {
      this.uploadValue = 0;
      // this.pictures = [];
      [this.imageData] = event.target.files;
    },
    onUpload() {
      // this.picture = [];
      let storageRef = firebase.storage().ref(`marketplaces/testing/product/images/${this.imageData.name}`).put(this.imageData);
      if (process.env.NODE_ENV !== 'production') {
        storageRef = firebase.storage().ref(`marketplaces/product/images/${this.imageData.name}`).put(this.imageData);
      }
      storageRef.on('state_changed', (snapshot) => {
        this.uploadValue = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
      }, (error) => { this.$log.error(error.message); },
      () => {
        this.uploadValue = 100;
        storageRef.snapshot.ref.getDownloadURL().then((url) => {
          this.pictures.push(url);
          this.$emit('upload-complete', url);
        });
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
img.preview {
    width: 200px;
}
</style>
