<template>
  <v-file-input
    label="Organization chart in relation to the existing org"
    outlined
    v-model="file"
    :value="value"
    chips
    show-size
    small-chipsn
    prepend-icon=""
    prepend-inner-icon="mdi-paperclip"
    :loading="loading"
    accept="image/*,.pdf"
    :rules="[(required && !url) ? $Validate.required : true]"
  >
    <template #append-outer>
      <v-btn
        id="btn-any-UploadBusinessRegFile"
        v-if="file && organisationId && value == null"
        icon
        @click="onUpload"
      >
        <v-icon id="btn-any-UploadBusinessRegFile">
          mdi-upload
        </v-icon>
      </v-btn>
      <v-btn
        id="btn-any-OpenBusinessRegFile"
        v-else-if="url"
        icon
        @click="openInNewTab(url)"
      >
        <v-icon id="btn-any-OpenBusinessRegFile">
          mdi-open-in-new
        </v-icon>
      </v-btn>
    </template>
  </v-file-input>
</template>

<script>
import firebase from 'firebase';

export default {
  props: {
    value: {
      type: String,
      default: () => null,
    },
    organisationId: {
      type: String,
      default: () => '',
    },
    required: Boolean,
  },

  data() {
    return {
      fileName: this.getFilename(this.value),
      url: this.value,
      loading: true,
      file: null,
      uploadValue: null,
    };
  },

  watch: {
    value(newValue) {
      this.url = newValue;
    },
  },

  methods: {
    openInNewTab(value) {
      window.open(value);
    },
    async onUpload() {
      this.loading = true;
      const url = await this.uploadBusinessRegFile(this.file);
      if (url) {
        this.file = null;
        await this.saveBusinessRegFileUrl(url).then(() => {
          this.url = url;
        });
      }
      this.loading = false;
    },
    uploadBusinessRegFile(file) {
      return new Promise((resolve, reject) => {
        const storageRef = firebase.storage().ref(`organisations/${this.organisationId}/organisationRelationChart`).put(file);
        storageRef.on('state_changed',
          (snapshot) => {
            this.uploadValue = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
          },
          (error) => {
            this.$log.error(error.message);
            reject(error);
          },
          () => {
            this.uploadValue = 100;
            storageRef.snapshot.ref.getDownloadURL().then((url) => {
              resolve(url);
            });
          });
      });
    },
    saveBusinessRegFileUrl(url) {
      return this.$OrganisationService.updateOrganisation({
        id: this.organisationId,
        organisationRelationChartUrl: url,
      });
    },
    getFilename(url) {
      if (url) {
        const m = url.toString().match(/.*\/(.+?)\./);
        if (m && m.length > 1) {
          return m[1];
        }
      }
      return '';
    },
    async createFile(value) {
      const response = await fetch(value);
      const data = await response.blob();
      const metadata = {
        type: 'image/*,.pdf',
      };
      const file = new File([data], 'business_chart_file.pdf', metadata);
      // const file = new File([data]);
      // const file = new File(['foo'], 'foo.pdf', {
      //   type: 'image/*,.pdf',
      // });
      return file;
      // ... do something with the file or return it
    },
  },

  async mounted() {
    this.file = await this.createFile(this.value);
    setImmediate(() => {
      this.loading = false;
    });
  },
};
</script>

<style>

</style>
