<template>
  <v-card outlined>
    <v-subheader>
      Submit contract for payroll disbursement services
    </v-subheader>
    <v-card-text class="pt-0">
      <v-row
        align="center"
        no-gutters
      >
        <v-btn
          id="btn-any-OpenPayrollContract"
          v-if="value"
          @click="openInNewTab(value)"
          outlined
          block
          class="mb-2"
        >
          <v-icon
            id="btn-any-OpenPayrollContract"
            left
          >
            mdi-open-in-new
          </v-icon>
          <span id="btn-any-OpenPayrollContract">
            View Contract
          </span>
        </v-btn>
        <v-btn
          id="btn-any-UploadPayrollContract"
          outlined
          block
          @click="showDialog = true"
          :class="{ 'error--text': !signedContractFile && !value }"
        >
          <v-icon
            id="btn-any-UploadPayrollContract"
            left
          >
            mdi-upload
          </v-icon>
          <span id="btn-any-UploadPayrollContract">Upload Contract</span>
        </v-btn>
        <v-dialog
          v-model="showDialog"
          eager
          max-width="500px"
        >
          <v-card
            :loading="loading"
            :disabled="loading"
          >
            <v-card-title>
              Upload Contract
            </v-card-title>
            <v-card-text>
              <v-btn
                id="btn-any-UploadContractDialog-OpenContract"
                @click="openInNewTab(contractTemplateUrl)"
                class="my-6"
                block
                outlined
              >
                <v-icon
                  id="btn-any-UploadContractDialog-OpenContract"
                  left
                >
                  mdi-download
                </v-icon>
                <span
                  id="btn-any-UploadContractDialog-OpenContract"
                >Download Contract Template</span>
              </v-btn>
              <v-file-input
                v-model="signedContractFile"
                outlined
                small-chips
                accept=".pdf"
                label="Choose Signed Contract"
                :rules="[$Validate.required(value)]"
              />
            </v-card-text>
            <v-card-actions>
              <v-spacer />
              <v-btn
                id="btn-any-UploadContractDialog-Close"
                @click="showDialog = false"
                text
                v-html="'Close'"
              />
              <v-btn
                id="btn-any-UploadContractDialog-UploadContract"
                class="black white--text"
                :disabled="!signedContractFile"
                @click="onUpload"
                v-html="'Upload'"
              />
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import firebase from 'firebase';

export default {
  props: {
    value: {
      type: String,
      default: () => '',
    },
    organisationId: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      showDialog: false,
      signedContractFile: null,
      loading: false,
      uploadValue: null,
      contractTemplateUrl: 'https://drive.google.com/file/d/15HaP4SBTJzRLX7tkvRLvPGJEITxfJmKM/view?usp=sharing',
    };
  },

  methods: {
    async onUpload() {
      this.loading = true;
      const contractUrl = await this.uploadContract(this.signedContractFile);
      if (contractUrl) {
        const ret = await this.saveContractUrl(contractUrl);
        if (ret) {
          this.$emit('input', contractUrl);
          this.showDialog = false;
        }
      }
      this.loading = false;
    },

    downloadFile(url) {
      const xhr = new XMLHttpRequest();
      xhr.responseType = 'blob';
      // eslint-disable-next-line func-names
      xhr.onload = function () {
        // eslint-disable-next-line no-unused-vars
        const blob = xhr.response;
      };
      xhr.open('GET', url);
      xhr.send();
    },

    openInNewTab(url) {
      window.open(url);
    },

    uploadContract(file) {
      return new Promise((resolve, reject) => {
        const storageRef = firebase.storage().ref(`organisations/${this.organisationId}/payrollDisbursementContract`).put(file);
        storageRef.on('state_changed',
          (snapshot) => {
            this.uploadValue = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
          },
          (error) => {
            this.$log.error(error.message);
            reject(error);
          },
          () => {
            this.uploadValue = 100;
            storageRef.snapshot.ref.getDownloadURL().then((url) => {
              resolve(url);
            });
          });
      });
    },

    saveContractUrl(url) {
      return this.$OrganisationService.updateOrganisation({
        id: this.organisationId,
        payrollContractFileUrl: url,
      });
    },

  },
};
</script>

<style>

</style>
