<template>
  <v-layout
    row
    wrap
    class="flex-center"
  >
    <v-flex
      xs8
      class="pa-2"
    >
      <v-flex
        class="ma-2"
        v-for="(job, i) in jobs.jobs"
        :key="i"
        :job="job"
      >
        <v-card
          @click="goto(job)"
        >
          <v-flex class="headline">
            {{ job.title }}
          </v-flex>
          <v-flex class="subtitle-1">
            {{ job.organisation.name }}
          </v-flex>
          <v-flex class="subtitle-1">
            {{ salaryInfo(job) }}
          </v-flex>
        </v-card>
      </v-flex>
    </v-flex>
  </v-layout>
</template>

<script>
import gql from 'graphql-tag';

export default {
  components: {
  },

  data: () => ({
    menu: false,
    jobs: {},
  }),

  props: {
    marketplaceId: {
      type: String,
      default: () => '',
    },
  },

  mounted() {
  },

  computed: {
  },

  // watch: {
  //   $route(to, from) {
  //   },
  // },

  methods: {
    salaryInfo(job) {
      return `${job.renumerationCurrency} ${job.renumerationValue} ${job.paymentOption}`;
    },
    goto(job) {
      this.$router.push({
        path: `/app/view-job-detail/${job.id}`,
      });
    },
  },

  apollo: {
    jobs: {
      query: gql`query jobs(
        $marketplaceId: ID,
        $shiftsFilled: Boolean
      ) {
        jobs(
          marketplaceId: $marketplaceId,
          shiftsFilled: $shiftsFilled,
        ) {
          jobs {
            id
            title
            organisation {
              id
              name
            }
            marketplace {
              id
              name
            }
            type
            renumerationValue
            renumerationCurrency
            paymentOption
            location
          }
          hasMore
        }
      }`,
      variables() {
        return {
          marketplaceId: this.marketplaceId,
          shiftsFilled: false,
        };
      },
      result({ loading }) {
        this.isLoading = loading;
      },
    },
  },
};
</script>
