<template>
  <div
    v-if="allRejectedCandidates.length > 0"
  >
    <JobCandidateCard
      v-for="(candidate, i) in allRejectedCandidates"
      :key="i"
      :shift-id="shift.id"
      :candidate="candidate"
      :job="job"
      :is-rejected="true"
      detail
    />
  </div>
  <v-card
    v-else
  >
    No One has applied for this shift.
  </v-card>
</template>

<script>
/* eslint-disable vue/require-default-prop */
import JobCandidateCard from '@/components/Marketplaces/Jobs/Cards/JobCandidateCard';

export default {
  components: {
    JobCandidateCard,
  },

  props: {
    shift: {
      type: Object,
      default: () => {},
    },
    organisation: {
      type: Object,
      default: () => {},
    },
    job: Object,
  },

  data: () => ({
  }),

  computed: {
    allRejectedCandidates() {
      if (this.shift.siblingShifts == null) {
        return [];
      }
      const { siblingShifts } = this.shift;
      const rejectedCandidates = siblingShifts.map(e => e.rejectedCandidates);
      return rejectedCandidates.flat();
    },
  },

  methods: {
  },
};
</script>
