<template>
  <div>
    <AccessBlocker
      v-if="allCandidates.length > 0 || allRejectedCandidates.length > 0"
      :features="['REVIEW_ACCEPT_APPLICANTS']"
    >
      <v-card
        class="ma-3"
        outlined
      >
        <v-card-text
          v-for="(candidate, i) in allCandidates"
          :key="i"
          class="pa-0"
        >
          <JobCandidateCard
            detail
            :shift-id="filterShiftByWorker(candidate).id"
            :candidate="candidate"
            :job="job"
            :shift="filterShiftByWorker(candidate)"
            width="100%"
            divider
            :offered="isOffered(candidate)"
          />
        </v-card-text>
      </v-card>
      <v-card
        class="ma-3"
        outlined
      >
        <v-card-text
          class="pa-0"
        >
          <JobCandidateCard
            detail
            v-for="(candidate, i) in allRejectedCandidates"
            :key="i"
            :shift-id="filterShiftByWorker(candidate).id"
            :candidate="candidate"
            :job="job"
            :shift="filterShiftByWorker(candidate)"
            width="100%"
            divider
            is-rejected
          />
        </v-card-text>
      </v-card>
    </AccessBlocker>
    <div
      v-else
      class="text-center my-3"
    >
      No one has applied for this shift.
    </div>
  </div>
</template>

<script>
/* eslint-disable vue/require-default-prop */
import JobCandidateCard from '@/components/Marketplaces/Jobs/Cards/JobCandidateCard';
import AccessBlocker from '@/components/Common/AccessBlocker';

export default {
  components: {
    JobCandidateCard,
    AccessBlocker,
  },

  props: {
    shift: {
      type: Object,
      default: () => {},
    },
    shifts: {
      type: Array,
      default: () => [],
    },
    organisation: {
      type: Object,
      default: () => {},
    },
    job: Object,
  },

  data: () => ({
  }),

  computed: {
    allRejectedCandidates() {
      if (this.shift.siblingShifts == null) {
        return [];
      }
      const { siblingShifts } = this.shift;
      const rejectedCandidates = siblingShifts.map(e => e.rejectedCandidates);
      return rejectedCandidates.flat();
    },
    allCandidates() {
      if (this.shift.siblingShifts == null) {
        return [];
      }
      const { siblingShifts } = this.shift;
      const candidates = siblingShifts.map(e => [...e.candidates, ...e.worker ? [e.worker] : []]);
      return candidates.flat();
    },
  },

  methods: {
    isOffered(candidate = {}) {
      const workerShifts = this.shifts.filter(e => e.worker != null);
      const workerIds = workerShifts.map(e => e.worker.id);
      // return worker.id === candidate.id;
      return workerIds.includes(candidate.id);
    },
    filterShiftByWorker(candidate) {
      const shifts = this.shifts.filter(e => e.worker != null);
      const ret = shifts.find(e => e.worker.id === candidate.id
      && e.startTime === this.shift.startTime);
      if (ret == null) {
        const shifts2 = this.shifts.filter(e => e.candidates.length > 0);
        const ret2 = shifts2.find(e => e.candidates.map(c => c.id).includes(candidate.id));
        if (ret2 == null) {
          return this.shift;
        }
        return ret2;
      }
      return ret;
    },
  },
};
</script>
