<template>
  <v-expansion-panel>
    <v-expansion-panel-header>
      Offered Applications ({{ vacanciesLeft }} vacancies left)
    </v-expansion-panel-header>
    <v-expansion-panel-content>
      <v-container>
        <v-flex
          v-for="(sibling, i) in siblingShifts"
          :key="i"
        >
          <v-flex>
            {{ sibling.worker.name }}
            {{ (sibling.workerAccepted) ? 'ACCEPTED' : 'OFFERED' }}
          </v-flex>
        </v-flex>
      </v-container>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script>
export default {
  components: {
  },

  props: {
    shift: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
  }),

  computed: {
    vacanciesLeft() {
      if (this.shift.siblingShifts == null) {
        return 0;
      }
      const vacant = this.shift.siblingShifts
        .filter(shift => shift.worker == null);
      return vacant.length;
    },
    siblingShifts() {
      if (this.shift.siblingShifts == null) {
        return [];
      }
      let { siblingShifts } = this.shift;
      siblingShifts = siblingShifts.filter(e => e.worker != null);
      return siblingShifts;
    },
  },

  methods: {
  },
};
</script>
