<template>
  <v-progress-linear v-if="loading" />
  <div v-else-if="workers && workers.length > 0">
    <JobCandidateCard
      detail
      v-for="(worker, i) in workers"
      :key="i"
      :shift-id="shift.id"
      :candidate="worker"
      :job="job"
      width="100%"
      recommanded
      divider
    />
  </div>
  <div v-else>
    <v-subheader>
      No recommendation yet
    </v-subheader>
  </div>
</template>

<script>
import gql from 'graphql-tag';
// import fragments from '@/assets/js/gql/fragments';
import JobCandidateCard from '@/components/Marketplaces/Jobs/Cards/JobCandidateCard';

export default {
  components: {
    JobCandidateCard,
  },

  props: {
    job: {
      type: Object,
      required: true,
    },
    shift: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      workers: [],
      loading: false,
    };
  },

  computed: {
    organisation() {
      return this.$store.getters.currentOrganisation;
    },
  },

  apollo: {
    workers: {
      query: gql`query workers(
          $jobId: ID,
          $threshold: Float
      ) {
        workers(
            jobId: $jobId,
            threshold: $threshold
        ) {
          id
          name
          phone
          profileUrl
          identification
          identificationBackFileRef
          identificationFrontFileRef
          youtubeUrl
          description
          facebook
          email
          google
          paymentMethod
          paymentCurrency
          paymentCoordinates
          paycycleUseAlternatePayment
          alternatePaymentMethod
          alternatePaymentCurrency
          alternatePaymentCoordinates
          verified
          jobSkills
          cvFileUrl
          digitalLiteracyScore
          personalityType
          conscientiousnessLevel
          jobHistories {
            position
            companyName
            startDate
            endDate
            currentlyWorking
            description
          }
          workerPaymentMethods{
            id
            paymentMethod{
              id
              code
            }
            coordinates
          }
          adoptedByWorker{
            id
          }
        }
      }
      `,

      variables() {
        return {
          jobId: this.job.id,
          threshold: 0.5,
        };
      },

      result({ loading, data }) {
        this.loading = loading;
        if (data && data.workers) {
          this.workers = data.workers;
        }
      },
    },
  },

  //   apollo: {
  //     workers: {
  //       query: gql`query workers($jobId: ID, $threshold: Float) {
  //         workers(jobId: $jobId, threshold: $threshold) {
  //                 id
  //                 name
  //                 phone
  //                 profileUrl
  //                 identification
  //                 identificationBackFileRef
  //                 identificationFrontFileRef
  //                 youtubeUrl
  //                 description
  //                 facebook
  //                 email
  //                 google
  //                 paymentMethod
  //                 paymentCurrency
  //                 paymentCoordinates
  //                 paycycleUseAlternatePayment
  //                 alternatePaymentMethod
  //                 alternatePaymentCurrency
  //                 alternatePaymentCoordinates
  //                 verified
  //                 jobSkills
  //                 cvFileUrl
  //                 digitalLiteracyScore
  //                 personalityType
  //                 conscientiousnessLevel
  //                 jobHistories {
  //                     position
  //                     companyName
  //                     startDate
  //                     endDate
  //                     currentlyWorking
  //                     description
  //                 }
  //                 workerPaymentMethods{
  //                     id
  //                     paymentMethod{
  //                         id
  //                         code
  //                     }
  //                     coordinates
  //                 }
  //                 adoptedByWorker{
  //                     id
  //                 }
  //                 jobsHired {
  //                     ...job,
  //                     fulltimeStandardHoursStart
  //                     fulltimeStandardHoursEnd
  //                     shifts {
  //                         id
  //                         workerAccepted
  //                     }
  //                 }
  //             }
  //         }
  //         ${fragments.job}
  //        `,

//       variables() {
//         return {
//           jobId: this.jobId,
//           threshold: 0.1,
//         };
//       },
//       result({ loading, data }) {
//         this.loading = loading;
//         if (data && data.workers) {
//           this.workers = data.workers;
//         }
//       },
//     },
//   },
};
</script>

<style>

</style>
