<template>
  <div>
    <v-row>
      <v-spacer />
      <span class="display-1">Hybrid Timesheet</span>
      <v-spacer />
    </v-row>
    <v-row>
      <v-col cols="4">
        <ShiftWorkerNameList
          v-if="shifts"
          :shifts="shifts"
          @shiftsSelected="shiftsSelected"
        />
      </v-col>
      <v-col cols="8">
        <AttendanceList
          v-if="selectedShifts.length > 0"
          :organisation="organisation"
          :shifts="selectedShifts"
          :time-range="timeRange"
          :is-send-notification="isSendNotification"
          work-token-type="HYBRID_TIMESHEET"
        />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import gql from 'graphql-tag';
import apollo from '@/assets/js/apollo';
import ShiftWorkerNameList from '@/components/Payments/Lists/ShiftWorkerNameList';
import AttendanceList from '@/components/Payments/Lists/AttendanceList';

export default {
  components: {
    ShiftWorkerNameList,
    AttendanceList,
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    shifts: [],
    selectedShifts: [],
    shift: {},
    timeRange: {},
    isSendNotification: true,
  }),

  async mounted() {
    this.$log.info(this.organisation);
    const currentPayCycle = await this.getCurrentPayCycleFromOragnisation({
      organisation: this.organisation,
    }).data;
    this.timeRange = {
      from: currentPayCycle.startDate,
      to: currentPayCycle.endDate,
    };
    this.shifts = await this.shiftsQuery();
  },

  watch: {
    async organisation() {
      this.shifts = await this.shiftsQuery();
    },
    $route(to, from) {
      if (from.name === 'timesheets') {
        this.$destroy();
      }
    },
  },

  methods: {
    shiftSelected(shift) {
      this.shift = shift;
    },
    shiftsSelected(shifts) {
      this.selectedShifts = shifts;
    },
    async shiftsQuery() {
      let result = [];
      const first = this.itemsPerPage !== 'All' ? this.itemsPerPage : null;
      this.$log.debug('first', first);
      const skip = this.itemsPerPage * (this.pageNo - 1);
      this.$log.debug('skip', skip);
      const query = await apollo.defaultClient.query({
        query: gql`query shifts(
          $filter: FilterType,
          $orderBy: String,
          $skip: Int,
          $first: Int,
        ) {
          shifts(
            filter: $filter,
            orderBy: $orderBy,
            skip: $skip,
            first: $first,
          ) {
          id
          job {
            id
            renumerationValue
          }
          worker {
            id
            name
            phone
            identification
            paymentCurrency
            paymentCoordinates
            languageSetting
          }
          organisation {
            id
            name
          } 
        }
      }
      `,
        variables: {
          filter: {
            query: {
              AND: [
                {
                  organisationId: this.organisation.id,
                },
                {
                  endTime: {
                    GT: new Date(),
                  },
                },
              ],
            },
          },
          first: null,
          skip: 0,
          orderBy: 'createdAt',
        },
      })
        .catch((err) => {
          this.$log.eror('shifts query errror', err);
        });
      if (query.data.shifts.length > 0) {
        // eslint-disable-next-line no-return-assign
        query.data.shifts.forEach(e => e.unconfirmed = true);
        result = query.data.shifts;
        this.$log.debug('Shifts', result);
      }
      return result;
    },
  },
};
</script>
