<template>
  <div>
    <v-row>
      <v-col>
        <v-text-field
          outlined
          label="Job Title"
          v-model="title"
        />
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="9">
        <MarketplaceSelect
          v-if="organisation"
          :organisation-id="organisation.id"
          @marketplaceSelected="selectMarketplace"
        />
      </v-col>
      <v-col>
        <v-btn
          color="primary"
          @click="goto('create-marketplace')"
        >
          Create New
        </v-btn>
      </v-col>
    </v-row>
    <JobCategorySelect
      @categorySelected="setCategory"
    />
    <JobRoleSelect
      :job-roles="category.jobRoles"
      @roleSelected="setRoleId"
    />
    <v-radio-group
      label="Job Type"
      v-model="jobType"
      row
    >
      <v-radio
        label="Part Time / Temporary / Gig"
        value="PART_TIME"
      />
      <v-radio
        label="Contract / Freelance / Project"
        value="CONTRACT"
      />
      <v-radio
        label="Full Time"
        value="FULL_TIME"
      />
      <v-radio
        label="Internship"
        value="FULL_TIME"
      />
    </v-radio-group>
    <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <v-switch
          v-model="isOpenEnded"
          label="Allow Open Ended Shifts"
          v-on="on"
        />
      </template>
      <span>
        This will ignore the start date and end date of the shifts.
        Shift will set start date when the worker confirms the job.
      </span>
    </v-tooltip>

    <StartEndDatePicker
      :picker-labels="{
        startDateLabel: 'Job Posting Start Date',
        endDateLabel: 'Job Posting End Date'
      }"
      @dateUpdated="setListingDates"
    />
    <StartEndTimeLabel
      v-for="(time, i) in times"
      :key="i"
      :nth="i"
      :time="time"
      @deletetime="deleteTime"
    />
    <JobTimesInput
      :job-type="jobType"
      @timeAdded="addTime"
    />
    <v-layout
      row
    >
      <v-switch
        v-model="allowFlexibleTime"
        label="Allow Flexible Time"
      />
      <v-text-field
        outlined
        class="ml-2"
        v-if="allowFlexibleTime"
        v-model="hoursPerWeek"
        label="Hours Per Week"
      />
    </v-layout>
    <v-btn
      color="primary"
      @click.prevent="save"
    >
      Continue & Save
    </v-btn>
    <v-btn
      text
      @click="changeStep(1)"
    >
      Cancel
    </v-btn>
  </div>
</template>

<script>
import MarketplaceSelect from '@/components/Common/Selects/MarketplaceSelect';
import JobCategorySelect from '@/components/Marketplaces/Jobs/Selects/JobCategorySelect';
import JobRoleSelect from '@/components/Marketplaces/Jobs/Selects/JobRoleSelect';
import JobTimesInput from '@/components/Marketplaces/Jobs/Inputs/JobTimesInput';
import StartEndTimeLabel from '@/components/Marketplaces/Jobs/Labels/StartEndTimeLabel';
import StartEndDatePicker from '@/components/Common/Pickers/StartEndDatePicker';

export default {
  components: {
    MarketplaceSelect,
    JobRoleSelect,
    JobTimesInput,
    StartEndTimeLabel,
    StartEndDatePicker,
    JobCategorySelect,
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    title: '',
    allowFlexibleTime: false,
    marketplaceId: '',
    jobType: 'PART_TIME',
    category: '',
    jobRoleId: '',
    shifts: [],
    renumerationValue: 0,
    requirementNumberOfContracts: 0,
    minShiftsBalance: 0,
    times: [],
    hoursPerWeek: 0,
    isOpenEnded: false,
    listingStartDate: null,
    listingEndDate: null,
  }),

  methods: {
    setListingDates(dates) {
      this.$log.info('setLD', dates);
      this.listingStartDate = dates.startDate;
      this.listingEndDate = dates.endDate;
    },
    deleteTime(nth) {
      this.$log.debug('i am deleting nth time', nth);
      this.times.splice(nth, 1);
    },
    addTime(time) {
      this.times.push(time);
    },
    selectMarketplace(marketplaceId) {
      this.marketplaceId = marketplaceId;
    },
    goto(name) {
      this.$router.push({ name });
    },
    changeStep(n) {
      this.$root.$emit('job-create-step', n);
    },
    setCategory(category) {
      this.$log.debug({ category });
      this.category = category;
    },
    setRoleId(jobRoleId) {
      this.jobRoleId = jobRoleId;
    },
    async save() {
      const job = {
        organisationId: this.organisation.id,
        marketplaceId: this.marketplaceId,
        title: this.title,
        type: this.jobType,
        jobCategoryId: this.category.id,
        jobRoleId: this.jobRoleId,
        times: this.times,
        hoursPerWeek: this.hoursPerWeek,
        isOpenEnded: this.isOpenEnded,
        listingStartDate: this.listingStartDate,
        listingEndDate: this.listingEndDate,
        allowFlexibleTime: this.allowFlexibleTime,
      };

      this.$root.$emit('save-job-create-form-data', job);
      this.$root.$emit('set-job-role-id', this.jobRoleId);
      this.$root.$emit('job-create-step', 2);
    },
  },
};
</script>
