<template>
  <v-container>
    <v-text-field
      outlined
      v-model="title"
      label="Job Title"
    />
    <DatePicker
      title="Start Date"
      @datePicked="setDate"
    />
    <!-- <v-text-field
      outlined
      v-model="startDate"
      label="Job Start Date"
    /> -->
    <v-text-field
      outlined
      v-model="renumerationValue"
      label="Salary"
    />
    <v-card>
      <v-card-text>
        <div
          v-html="contract"
        />
      </v-card-text>
    </v-card>
    <v-btn

      @click="createJobContract"
      class="jobdoh-red white--text"
    >
      Create
    </v-btn>
  </v-container>
</template>

<script>
import CONTRACTS from '@/assets/utils/jobContracts';
import DatePicker from '@/components/Common/Pickers/DatePicker';

export default {
  components: {
    DatePicker,
  },

  props: {
    job: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    contracts: CONTRACTS,
    title: '',
    startDate: '',
    renumerationValue: 0,
  }),

  computed: {
    contract() {
      let str = this.contracts.template1;

      str = str.replace('@@title@@', this.title);
      str = str.replace('@@startDate@@', this.startDate);
      str = str.replace('@@renumerationValue@@', this.renumerationValue);

      return str;
    },
  },

  methods: {
    setDate(date) {
      this.startDate = date;
    },

    async createJobContract() {
      const args = {
        jobId: this.job.id,
        // jobId: '5ec241aaecfbb7cf472bab58',
        jobStartDate: new Date(this.startDate),
        renumerationValue: this.renumerationValue,
        employerId: this.$store.getters.myId,
        signingDateEmployer: new Date(),
        contract: this.contract,
      };

      const ret = await this.$JobService.createJobContract(args);

      this.$log.info({ ret });
      if (ret) {
        this.$eventHub.$emit('show-alert', {
          type: 'success',
          message: 'Job Contract Successfully Created',
        });
      }
    },
  },

  mounted() {
    this.title = this.job.title;
    // this.renumerationValue = `${this.job.renumerationValue} (${this.job.paymentOption})`;
  },
};
</script>
