<template>
  <v-form
    ref="form"
    v-model="valid"
    :lazy-validation="false"
  >
    <LocationPicker
      @locationUpdated="setLocation"
    />
    <v-text-field
      outlined
      label="Address (Human Readable)"
      v-model="address"
    />
    <v-text-field
      outlined
      label="Meeting place"
      v-model="notes"
    />
    <v-btn
      color="primary"
      @click.prevent="save"
    >
      Continue & Save
    </v-btn>
    <v-btn
      text
      @click="changeStep(1)"
    >
      Cancel
    </v-btn>
  </v-form>
</template>

<script>
import LocationPicker from '@/components/Common/Pickers/LocationPicker';

export default {
  components: {
    LocationPicker,
  },

  data: () => ({
    valid: true,
    locationCoordinates: {},
    address: '',
    notes: '',
  }),

  methods: {
    setLocation(locationCoordinates) {
      this.locationCoordinates = locationCoordinates;
    },
    save() {
      if (Object.keys(this.locationCoordinates).length === 0) {
        this.$eventHub.$emit('show-alert', {
          type: 'error',
          message: 'Please select a location before continuing',
        });
        return;
      }

      const job = {
        coordinates: this.locationCoordinates,
        address: this.address,
        notes: this.notes,
      };
      this.$root.$emit('save-job-create-form-data', job);
      this.$root.$emit('job-create-step', 3);
    },
    changeStep(n) {
      this.$root.$emit('job-create-step', n);
    },
  },
};
</script>
