<template>
  <v-form
    ref="form"
    v-model="valid"
    lazy-validation
  >
    <v-radio-group
      label="Salary Type"
      v-model="jobData.paymentOption"
      row
    >
      <v-radio
        label="Hourly"
        value="HOURLY"
      />
      <v-radio
        label="Monthly"
        value="MONTHLY"
      />
      <v-radio
        label="Daily"
        value="DAILY"
      />
      <v-radio
        label="Project Fixed Fee"
        value="FIXED"
      />
    </v-radio-group>
    <v-text-field
      outlined
      v-model="jobData.renumerationValue"
      label="Maximum Amount"
    />
    <PaymentMethodsCombo
      :organisation="organisation"
      @paymentMethodsUpdated="setPaymentMethods"
    />
    <v-layout
      row
    >
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-switch
            v-model="jobData.allowAdvancedPay"
            label="I want to increase staff productivity by
            enabling flexible pay (KhuPay). More info(link to contact us)"
            v-on="on"
          />
        </template>
        <span>
          KhuPay is a wage-smoothering product of JOBDOH.
          It lets your employees to withdraw money anytime they want.
        </span>
      </v-tooltip>
    </v-layout>
    <JobCreateButton
      :job-data="jobData"
    />
    <v-btn
      text
      @click="changeStep(3)"
    >
      Cancel
    </v-btn>
  </v-form>
</template>

<script>
import PaymentMethodsCombo from '@/components/Marketplaces/Jobs/Comboboxes/PaymentMethodsCombo';
import JobCreateButton from '@/components/Marketplaces/Jobs/Buttons/JobCreateButton';

export default {
  components: {
    PaymentMethodsCombo,
    JobCreateButton,
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    jobData: {
      paymentOption: 'HOURLY',
      renumerationValue: 0,
      paymentMethods: [],
      allowAdvancedPay: false,
      minShiftsBalance: 0,
    },
    valid: false,
  }),

  methods: {
    setPaymentMethods(paymentMethods) {
      this.jobData.paymentMethods = paymentMethods;
    },
    changeStep(n) {
      this.$root.$emit('job-create-step', n);
    },
  },
};
</script>
