<template>
  <v-form
    ref="form"
    v-model="valid"
    :lazy-validation="false"
  >
    <v-text-field
      outlined
      v-model="proxyCompanyName"
      label="Proxy Company Name"
    />
    <v-textarea
      outlined
      v-model="proxyCompanyDescription"
      label="Proxy Company Description"
    />
    <v-textarea
      outlined
      v-model="description"
      label="Job Description"
    />
    <v-textarea
      outlined
      v-model="requirementDescription"
      label="Job Requirements"
    />
    <SkillLabel
      v-for="(skill, i) in skills"
      :key="i"
      :nth="i"
      :skill="skill"
      @delete-skill="deleteSkill"
    />
    <JobSkillsInput
      @skillAdded="addSkill"
    />
    <!-- <ExperienceRadio
      @experienceUpdated="setExperience"
    /> -->
    <v-switch
      v-model="isPortfolioRequired"
      label="Require Portfolio"
    />
    <!-- <LanguageRequirementInput /> -->
    <BenefitsCombo
      @benefits-updated="setBenefits"
    />
    <v-btn
      color="primary"
      @click.prevent="save"
    >
      Continue & Save
    </v-btn>
    <v-btn
      text
      @click="changeStep(2)"
    >
      Cancel
    </v-btn>
  </v-form>
</template>

<script>
// import ExperienceRadio from '@/components/Marketplaces/Jobs/Radios/ExperienceRadio';
import JobSkillsInput from '@/components/Marketplaces/Jobs/Inputs/JobSkillsInput';
// import LanguageRequirementInput
// from '@/components/Marketplaces/Jobs/Inputs/LanguageRequirementInput';
import BenefitsCombo from '@/components/Marketplaces/Jobs/Comboboxes/BenefitsCombo';
import SkillLabel from '@/components/Marketplaces/Jobs/Labels/SkillLabel';

export default {
  components: {
    // ExperienceRadio,
    // LanguageRequirementInput,
    BenefitsCombo,
    JobSkillsInput,
    SkillLabel,
  },

  data: () => ({
    valid: false,
    description: '',
    requirementDescription: '',
    skills: [],
    experience: '0',
    benefits: [],
    isPortfolioRequired: false,
    proxyCompanyName: '',
    proxyCompanyDescription: '',
  }),

  methods: {
    setExperience(experience) {
      this.$log.debug('setting the exp', experience);
      this.experience = experience;
    },
    addSkill(skill) {
      this.skills.push(skill);
    },
    setBenefits(benefits) {
      this.benefits = benefits;
    },
    changeStep(n) {
      this.$root.$emit('job-create-step', n);
    },
    deleteSkill(nth) {
      this.skills.splice(nth, 1);
    },
    save() {
      const job = {
        description: this.description,
        requirementDescription: this.requirementDescription,
        skills: this.skills,
        experience: this.experience,
        benefits: this.benefits,
        isPortfolioRequired: this.isPortfolioRequired,
        proxyCompanyName: this.proxyCompanyName,
        proxyCompanyDescription: this.proxyCompanyDescription,
      };

      this.$root.$emit('save-job-create-form-data', job);
      this.$root.$emit('job-create-step', 4);
    },
  },
};
</script>
