<template>
  <div class="px-4">
    <v-row
      justify="left"
      align="center"
      class="py-4"
    >
      <span class="display-1 ml-4">Disbursement</span>
    </v-row>
    <v-row
      no-gutters
      justify="start"
      class="pb-4"
    >
      <v-btn-toggle>
        <v-menu
          v-model="changesMenu"
          :close-on-content-click="false"
          :nudge-width="200"
          offset-y
          max-width="215"
        >
          <template v-slot:activator="{ on }">
            <v-btn
              id="btn-PaymentDisbursementPage-ImportVerifiedData"
              small
              v-if="$AccessService.isPermitted('WRITE_DISBURSEMENT')"
              v-on="on"
            >
              <span id="btn-PaymentDisbursementPage-ImportVerifiedData">
                1. import verified data
              </span>
              <v-icon
                id="btn-PaymentDisbursementPage-ImportVerifiedData"
                right
              >
                mdi-menu-down
              </v-icon>
            </v-btn>
          </template>

          <v-card>
            <v-list
              dense
              class="pa-0"
            >
              <ImportEmployeeDataButton
                :organisation="organisation"
                @getConflictData="getConflictData"
              />
            </v-list>
          </v-card>
        </v-menu>
        <v-menu
          v-model="exportMenu"
          :close-on-content-click="false"
          :nudge-width="200"
          offset-y
          max-width="115"
        >
          <template v-slot:activator="{ on }">
            <v-btn
              id="btn-PaymentDisbursementPage-Export"
              small
              v-if="$AccessService.isPermitted('WRITE_DISBURSEMENT')"
              v-on="on"
            >
              <span id="btn-PaymentDisbursementPage-Export">2. Export</span>
              <v-icon
                id="btn-PaymentDisbursementPage-Export"
                right
              >
                mdi-menu-down
              </v-icon>
            </v-btn>
          </template>

          <v-card>
            <v-list
              dense
              class="pa-0"
            >
              <OngoExportButton
                :organisation="organisation"
                @getExportData="getExportData"
              />
              <KbzPayExportButton
                :organisation="organisation"
                @getExportData="getExportData"
              />
              <TapAndGoExportButton
                :organisation="organisation"
                @getExportData="getExportData"
              />
            </v-list>
          </v-card>
        </v-menu>
        <v-menu
          v-model="importTransactionMenu"
          :close-on-content-click="false"
          :nudge-width="200"
          offset-y
          max-width="230"
        >
          <template v-slot:activator="{ on }">
            <v-btn
              id="btn-PaymentDisbursementPage-ImportTransactionId"
              small
              v-if="$AccessService.isPermitted('WRITE_DISBURSEMENT')"
              v-on="on"
            >
              <span id="btn-PaymentDisbursementPage-ImportTransactionId">
                3. Import transaction id
              </span>
              <v-icon
                id="btn-PaymentDisbursementPage-ImportTransactionId"
                right
              >
                mdi-menu-down
              </v-icon>
            </v-btn>
          </template>

          <v-card>
            <v-list
              dense
              class="pa-0"
            >
              <DisbursementOngoImportButton
                @getOngoTransactionData="getOngoTransactionData"
              />
              <DisbursementKBZImportButton
                @getKBZTransactionData="getKBZTransactionData"
              />
            </v-list>
          </v-card>
        </v-menu>
      </v-btn-toggle>
      <v-spacer />
      <div class="text-center py-2">
        <v-row
          dense
          align="center"
        >
          <v-spacer />
          <v-btn
            id="btn-DisbursementPage-GoPreviousPage"
            text
            icon
            color="pink"
            @click="prevPageChange"
          >
            <v-icon id="btn-DisbursementPage-GoPreviousPage">
              mdi-chevron-left
            </v-icon>
          </v-btn>
          Page: {{ pageNo }}
          <span class="mx-2">-</span>
          <v-select
            v-model="itemsPerPage"
            :items="itemsPerPageArray"
            @change="itemChange"
            style="max-width: 100px"
            dense
            outlined
            hide-details
          />
          <v-btn
            id="btn-DisbursementPage-GoNextPage"
            text
            icon
            color="pink"
            @click="nextPageChange"
          >
            <v-icon id="btn-DisbursementPage-GoNextPage">
              mdi-chevron-right
            </v-icon>
          </v-btn>
        </v-row>
      </div>
    </v-row>
    <v-row
      v-if="renderComponent"
      no-gutters
    >
      <v-col
        cols="12"
      >
        <DisbursementTable
          :organisation="organisation"
          :transactions-data="[...ongoTransactionData, ...kbzTransactionData]"
          :conflict-data="conflictData"
          :page-no="pageNo"
          :page-count="pageCount"
          :items-per-page="itemsPerPage"
          :items-per-page-array="itemsPerPageArray"
          :shifts="shifts"
          :calculate-row-data-array="calculateRowDataArray"
          ref="disbursementTable"
        />
      </v-col>
    </v-row>
  </div>
</template>

<script>

// import gql from 'graphql-tag';
import gql from 'graphql-tag';
import apollo from '@/assets/js/apollo';
import OngoExportButton from '@/components/Payments/Buttons/OngoExportButton';
import TapAndGoExportButton from '@/components/Payments/Buttons/Tap&GoExportButton';
import KbzPayExportButton from '@/components/Payments/Buttons/KbzPayExportButton';
import DisbursementOngoImportButton from '@/components/Payments/Buttons/DisbursementOngoImportButton';
import DisbursementKBZImportButton from '@/components/Payments/Buttons/DisbursementKBZImportButton';
import ImportEmployeeDataButton from '@/components/Payments/Buttons/ImportEmployeeDataButton';
import DisbursementTable from '@/components/Payments/Tables/DisbursementTable';
import queries from '@/assets/js/gql/queries';


export default {
  components: {
    OngoExportButton,
    TapAndGoExportButton,
    KbzPayExportButton,
    DisbursementOngoImportButton,
    DisbursementKBZImportButton,
    DisbursementTable,
    ImportEmployeeDataButton,
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    renderComponent: true,
    changesMenu: false,
    exportMenu: false,
    importTransactionMenu: false,
    exportData: [],
    importData: [],
    conflictData: {},
    ongoTransactionData: [],
    kbzTransactionData: [],
    shifts: [],
    calculateRowDataArray: [],

    // for pagination
    pageNo: 1,
    pageCount: 0,
    itemsPerPage: 15,
    itemsPerPageArray: [15, 'All'],
  }),

  computed: {
  },

  watch: {
    $route(to, from) {
      if (from.name === 'payment-disbursements') {
        this.$destroy();
      }
    },
  },

  async mounted() {
    this.shifts = await this.shiftsQuery();
    // eslint-disable-next-line arrow-body-style
    await Promise.all(this.shifts.map(async (shift) => {
      const ret = await this.calculateRowData(shift);
      this.calculateRowDataArray.push(ret);
    }));
    if (this.shifts.length === 0) this.calculateRowDataArray = null;
    this.$eventHub.$on('reload_disbursement', async () => {
      this.shifts = await this.shiftsQuery();
      this.calculateRowDataArray = [];
      await Promise.all(this.shifts.map(async (shift) => {
        const ret = await this.calculateRowData(shift);
        this.calculateRowDataArray.push(ret);
      }));
    });
  },

  methods: {
    forceRerender() {
      // Remove my-component from the DOM
      this.renderComponent = false;

      this.$nextTick(() => {
        // Add the component back in
        this.renderComponent = true;
      });
    },
    getOngoTransactionData(value) {
      this.ongoTransactionData = value;
      this.$log.info(value);
    },
    getKBZTransactionData(value) {
      this.kbzTransactionData = value;
      this.$log.info(value);
    },
    getConflictData(value) {
      this.$log.debug('disbursementconflictData', value);
      this.conflictData = value;
    },
    getExportData(value) {
      this.exportData = value;
    },
    async itemChange(event) {
      this.$log.debug({ event });
      this.shifts = await this.shiftsQuery();
      this.calculateRowDataArray = [];
      await Promise.all(this.shifts.map(async (shift) => {
        const ret = await this.calculateRowData(shift);
        this.calculateRowDataArray.push(ret);
      }));
      this.$nextTick(() => {
        this.forceRerender();
      });
    },
    async prevPageChange() {
      if (this.pageNo > 1) {
        this.pageNo -= 1;
      }
      this.shifts = await this.shiftsQuery();
      this.calculateRowDataArray = [];
      await Promise.all(this.shifts.map(async (shift) => {
        const ret = await this.calculateRowData(shift);
        this.calculateRowDataArray.push(ret);
      }));
      this.$nextTick(() => {
        this.forceRerender();
      });
    },
    async nextPageChange() {
      this.forceRerender();
      if (this.shifts.length === this.itemsPerPage) {
        this.pageNo += 1;
      }
      this.shifts = await this.shiftsQuery();
      this.calculateRowDataArray = [];
      await Promise.all(this.shifts.map(async (shift) => {
        const ret = await this.calculateRowData(shift);
        this.calculateRowDataArray.push(ret);
      }));
      this.$nextTick(() => {
        this.forceRerender();
      });
    },

    async calculateRowData(shift) {
      const timeRange = {
        from: this.calendarStartDate(this.organisation, []),
        to: this.calendarEndDate(this.organisation, []),
      };
      const workTokens = await this.workTokensQuery(shift.id);
      const khupayWorkTokens = await this.khupayWorkTokensQuery(shift.id, timeRange);
      const currentWorkTokens = await workTokens
        .filter(workToken => workToken.fiatTokens.length === 0
        && workToken.payNow === true && workToken.confirmed === true);
      const timeRangeForMTD = {
        from: this.calendarStartDate(this.organisation, currentWorkTokens),
        to: this.calendarEndDate(this.organisation, currentWorkTokens),
      };
      this.timeRange = timeRangeForMTD;
      const fiatTokens = await khupayWorkTokens.map(workToken => workToken.fiatTokens).flat();
      let khupay = await this.getMTDFromFiatTokens({
        fiatTokens,
        timeRange: timeRangeForMTD,
      }).data;
      const currentWorkTokenValues = this.getWorkTokenValuesFromWorkTokens({
        workTokens: currentWorkTokens,
      }).data;
      const khupayWorkTokenValues = this.getWorkTokenValuesFromWorkTokens({
        workTokens: khupayWorkTokens.filter(e => e.fiatTokens.length > 0),
      }).data;
      // currentWorkTokenValues = this.getPayCycleWorkTokenValues({
      //   workTokenValues: currentWorkTokenValues,
      //   timeRange: timeRangeForMTD,
      // });


      const standardWorkTokenValues = await this.filterStandardWorkTokenValues({
        workTokenValues: currentWorkTokenValues,
      }).data;

      const bonusWorkTokenValues = await this.filterBonusWorkTokenValues({
        workTokenValues: currentWorkTokenValues,
      }).data;

      const paymentData = await this.getPaymentDataFromWorkTokenValues({
        workTokenValues: standardWorkTokenValues,
      }).data;

      const totalAmountWithFee = await this
        .getTotalAmountFromWorkTokenValues({
          workTokenValues: standardWorkTokenValues,
        }).data;
      let differenceAmount = await this
        .getDifferenceAmountFromWorkTokenValues({
          workTokenValues: standardWorkTokenValues,
        }).data;
      this.$log.debug('difference', differenceAmount);
      let totalBonusAmount = await this
        .getTotalAmountFromWorkTokenValues({
          workTokenValues: bonusWorkTokenValues,
        }).data;
      const feeData = await this.getTotalFeeFromWorkTokenValues({
        workTokenValues: standardWorkTokenValues,
      }).data;
      let feeForEachWorker = feeData.amount;
      let khupayTotalFee = 0;
      if (khupayWorkTokenValues.length > 0) {
        khupayTotalFee = await this.getTotalFeeFromWorkTokenValues({
          workTokenValues: khupayWorkTokenValues,
        }).data.amount;
      }


      let totalAmountWithoutFee = totalAmountWithFee - feeForEachWorker + differenceAmount;

      if (standardWorkTokenValues[0].currency === 'USD') {
        totalBonusAmount = this.roundTo(totalBonusAmount, 2);
        feeForEachWorker = this.roundTo(feeForEachWorker, 2);
        totalAmountWithoutFee = this.roundTo(totalAmountWithoutFee, 2);
        differenceAmount = this.roundTo(differenceAmount, 2);
        khupay = this.roundTo(khupay, 2);
      } else if (standardWorkTokenValues[0].currency === 'MMK') {
        totalBonusAmount = this.roundTo(totalBonusAmount, 0);
        feeForEachWorker = this.roundTo(feeForEachWorker, 0);
        totalAmountWithoutFee = this.roundTo(totalAmountWithoutFee, 0);
        differenceAmount = this.roundTo(differenceAmount, 0);
        khupay = this.roundTo(khupay, 0);
      }

      let strIdentification = shift.worker.identification;
      strIdentification = strIdentification
        .substring(strIdentification.length - 6, strIdentification.length);
      // const paymentCoordinates = new PhoneValidator(this.shift.worker.paymentCoordinates);
      // const paymentCoordinates = 'asfsaf';
      // const dateRangeStart = this.$moment(workTokens[0].checkinTime)
      //   .format('YYYY-MM-DD');
      const dateRangeEnd = this.$moment(workTokens[workTokens.length - 1].checkoutTime)
        .format('YYYY-MM-DD');
      this.$emit('getFeeArray', feeData);
      const ret = {
        name: shift.worker.name,
        identification: strIdentification,
        paymentCoordinates: paymentData.coordinates,
        paymentMethod: paymentData.method,
        paymentCurrency: paymentData.currency,
        totalAmount: totalAmountWithoutFee + totalBonusAmount,
        totalFee: feeForEachWorker,
        differenceAmount,
        khupay,
        shift,
        currentWorkTokenValues,
        workTokens,
        fiatTokens,
        timeRangeForMTD,
        requestedDate: String(dateRangeEnd),
        khupayWorkTokenValues,
        khupayWorkTokens,
        khupayTotalFee,
      };
      return ret;
    },
    async shiftsQuery() {
      let result = [];
      const first = this.itemsPerPage !== 'All' ? this.itemsPerPage : null;
      const skip = this.itemsPerPage * (this.pageNo - 1);
      const query = await apollo.defaultClient.query({
        query: gql`query shifts(
          $filter: FilterType,
          $orderBy: String,
          $skip: Int,
          $first: Int,
        ) {
          shifts(
            filter: $filter,
            orderBy: $orderBy,
            skip: $skip,
            first: $first,
          ) {
          id
          unpaid
          unconfirmed
          job {
            id
            renumerationValue
          }
          worker {
            id
            name
            phone
            identification
            paymentCurrency
            paymentCoordinates
            languageSetting
          }
          organisation {
            id
            name
          }
        }
      }
      `,
        variables: {
          filter: {
            query: {
              AND: [
                {
                  organisationId: this.organisation.id,
                },
              ],
            },
            advanced: {
              unpaid: true,
            },
          },
          first,
          skip,
          // orderBy: 'worker.name',
          orderBy: 'createdAt',
        },
      })
        .catch((err) => {
          this.$log.error('shifts query error', err);
        });
      if (query.data.shifts.length > 0) {
        result = query.data.shifts;
      }
      return result;
    },
    async workTokensQuery(shiftId) {
      let resultWorkTokens = [];
      const query = await apollo.defaultClient.query({
        query: queries.disbursementWorkTokensQuery,
        variables: {
          filter: {
            query: {
              shiftId,
              unpaid: true,
            },
          },
          first: null,
          skip: 0,
          orderBy: 'createdAt',
        },
      })
        .catch((err) => {
          this.$log.debug('queryError', err);
        });
      if (query && query.data.workTokens.length > 0) {
        this.$store.dispatch('addQueryVariable', {
          name: 'disbursementWorkTokensQuery',
          variables: {
            filter: {
              query: {
                shiftId,
                unpaid: true,
              },
            },
            first: null,
            skip: 0,
            orderBy: 'createdAt',
          },
        });
        resultWorkTokens = query.data.workTokens;
      }
      return resultWorkTokens.filter(({ type }) => !['LEAVE_SICK', 'LEAVE_PERSONAL', 'LEAVE_SPECIAL', 'LEAVE_UNPAID'].includes(type));
    },
    async khupayWorkTokensQuery(shiftId, timeRange) {
      let resultWorkTokens = [];
      const query = await apollo.defaultClient.query({
        query: gql`query workTokens(
          $filter: FilterType,
          $orderBy: String,
          $skip: Int,
          $first: Int,
        ) {
        workTokens(
          filter: $filter,
          orderBy: $orderBy,
          skip: $skip,
          first: $first,
        ) {
          id
          workTokenValue{
            id
            fee
            amount
            workToken{
              id
              confirmed
            }
          }
          fiatTokens{
            id
            workToken{
              checkinTime
              checkoutTime
            }
            createdAt
            amount
            currency
            method
            coordinates
            transactionRef
          }
        }
      }
      `,
        variables: {
          filter: {
            query: {
              shiftId,
              checkinTime: {
                GTE: timeRange.from.add(-1, 'days').toDate(),
                LTE: timeRange.to.toDate(),
              },
            },
          },
          first: null,
          skip: 0,
          orderBy: 'createdAt',
          // unpaid: true,
        },
      })
        .catch((err) => {
          this.$log.debug('queryError', err);
        });
      if (query && query.data.workTokens.length > 0) {
        resultWorkTokens = query.data.workTokens;
      }
      return resultWorkTokens.filter(({ type }) => !['LEAVE_SICK', 'LEAVE_PERSONAL', 'LEAVE_SPECIAL', 'LEAVE_UNPAID'].includes(type));
    },
  },
};
</script>
