<template>
  <v-container>
    <v-row
      dense
      align="center"
      no-gutters
    >
      <span class="headline">
        Timesheet
        <span v-if="timesheetMode === 'HYBRID'">(Trial Checkin)</span>
        <span v-else-if="timesheetMode === 'FULL'">(Full Checkin)</span>
      </span>
      <v-spacer />
    </v-row>
    <v-row dense>
      <v-col cols="4">
        <ShiftWorkerNameList
          v-if="shifts != null"
          :shifts="shifts"
          @shiftsSelected="shiftsSelected"
        />
      </v-col>
      <v-col cols="8">
        <AttendanceList
          v-if="selectedShifts != null"
          :organisation="organisation"
          :shifts="selectedShifts"
          :time-range="timeRange"
          :is-send-notification="isSendNotification"
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import gql from 'graphql-tag';
import ShiftWorkerNameList from '@/components/Payments/Lists/ShiftWorkerNameList';
import AttendanceList from '@/components/Payments/Lists/AttendanceList';
import moment from 'moment';

export default {
  components: {
    ShiftWorkerNameList,
    AttendanceList,
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    moment,
    shifts: [],
    selectedShifts: null,
    shift: {},
    timeRange: {},
    isSendNotification: true,
  }),

  async mounted() {
    const currentPayCycle = await this.getCurrentPayCycleFromOragnisation({
      organisation: this.organisation,
    }).data;
    this.timeRange = {
      from: currentPayCycle.startDate,
      to: currentPayCycle.endDate,
    };
    this.$eventHub.$on('refresh-timesheet', () => {
      // this.$apollo.queries.shift.refetch();
    });
  },

  watch: {
    $route(to, from) {
      if (from.name === 'timesheets') {
        this.$destroy();
      }
    },
  },

  computed: {
    timesheetMode() {
      if (this.$store.getters.currentOrganisation.settings == null) return 'NONE';
      const workTokenSetting = this.$store.getters.currentOrganisation.settings.find(e => e.key === 'TIMESHEETING_FEATURE_LEVEL');
      return workTokenSetting.value;
    },
  },

  methods: {
    shiftSelected(shift) {
      this.shift = shift;
    },
    shiftsSelected(shifts) {
      this.selectedShifts = shifts;
    },
  },

  apollo: {
    shifts: {
      query: gql`query shifts(
          $filter: FilterType,
          $orderBy: String,
          $skip: Int,
          $first: Int,
        ) {
          shifts(
            filter: $filter,
            orderBy: $orderBy,
            skip: $skip,
            first: $first,
          ) {
          id
          unpaid
          unconfirmed
          startTime
          endTime
          currentTimesheetConfirm
          job {
            id
            renumerationValue
            type
          }
          worker {
            id
            name
            phone
            verified
            identification
            paymentCurrency
            paymentCoordinates
            languageSetting
          }
          organisation {
            id
            name
          }
          unconfirmedLeaves {
            id
          }
        }
      }
      `,
      variables() {
        return {
          filter: {
            query: {
              AND: [
                { organisationId: this.$store.getters.currentOrganisation.id },
                // { workComplete: false }, // deprecated
                { endTime: { GT: this.moment().add(-1, 'month').toDate() } },
              ],
            },
          },
          first: null,
          skip: 0,
          orderBy: 'createdAt',
        };
      },
      // eslint-disable-next-line no-unused-vars
      result({ data, loading, error }) {
        if (error) {
          this.$log.error(error);
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message: 'The shifts query error',
          });
        }
        if (data) {
          this.shifts = data.shifts.map(s => Object.assign(s, { unconfirmed: true }));
        }
      },
    },
  },
};
</script>
