<template>
  <v-btn
    id="btn-any-ProductListCard-ViewPayment"
    @touchstart.stop
    @mousedown.stop
    @click.stop="openPurchaseDialog"
    :loading="loading"
    color="default"
    depressed
    icon
  >
    <v-icon id="btn-any-ProductListCard-ViewPayment">
      mdi-file-document-outline
    </v-icon>
    <v-dialog
      v-model="dialog"
      scrollable
      width="400"
    >
      <v-card
        class="pa-3"
        width="400px"
      >
        <v-card-title class="px-4">
          {{ product.title }}
        </v-card-title>
        <v-card-subtitle class="py-0 pt-1 px-4">
          Price: <b>{{ product.price | currency('MMK') }}, {{ product.lumpSum }}
            instalments</b>
        </v-card-subtitle>
        <v-card-subtitle
          v-if="payslips != null"
          class="py-0 px-4"
        >
          Processing fee:
          <b> {{ Math.round(payslips[0].amount)| currency(payslips[0].currency) }}</b>
        </v-card-subtitle>

        <v-card-title class="px-4">
          Payment Schedule
        </v-card-title>
        <v-divider />
        <v-card-text class="pa-0">
          <v-simple-table
            dense
          >
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left">
                    Date
                  </th>
                  <th class="text-right">
                    Instalment Amounts
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    {{ moment().add(2, 'days').format('MMM-DD') }} -
                    {{ moment().add(9, 'days').format('MMM-DD') }}
                  </td>
                  <td class="text-right">
                    <b>*receive product</b>
                  </td>
                </tr>
                <tr
                  v-for="(payslip, i) in payslips"
                  :key="i"
                >
                  <td v-if="payslip.deductDate != null && payslip.hasPayBack != null">
                    {{ moment(payslip.deductDate).format('MMM-DD') }}<br>
                  </td>
                  <td v-else-if="payslip.deductDate != null && payslip.hasPayBack == null">
                    {{ moment(payslip.deductDate).format('MMM-DD') }}
                  </td>
                  <td
                    v-if="payslip.deductDate != null || payslip.hasPayBack != null"
                    class="text-right"
                  >
                    <span
                      v-if="payslip.deductDate != null && payslip.hasPayBack != null"
                    >rebate of: <b>-</b></span>
                    <b>{{ Math.round(payslip.amount)| currency(payslip.currency) }}</b>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />

          <v-btn
            id="btn-ProductListPage-PurchaseDialog-Close"
            color="grey"
            text
            @click="dialog = false"
            v-html="'Cancel'"
          />
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-btn>
</template>

<script>
import gql from 'graphql-tag';
import moment from 'moment';
import apollo from '@/assets/js/apollo';

export default {
  props: {
    product: {
      type: Object,
      required: true,
    },
    workerId: {
      type: String,
      required: true,
    },
    jobId: {
      type: String,
      required: true,
    },
    block: Boolean,
  },

  mounted() {
  },

  data() {
    return {
      moment,
      loading: false,
      payslips: null,
      valid: false,
      currentJob: null,
      dialog: false,
      small: Boolean,
    };
  },

  computed: {
  },

  methods: {
    async openPurchaseDialog() {
      this.loading = true;
      this.payslips = await this.estimatedProductBalanceQuery();
      this.loading = false;
      this.dialog = true;
    },
    async estimatedProductBalanceQuery() {
      // eslint-disable-next-line no-underscore-dangle
      // const _this = this;
      let result = [];
      const query = await apollo.defaultClient.query({
        query: gql`query estimatedProductBalance(
          $jobId: ID!
          $workerId: String!
          $productId: String!
        ) {
        estimatedProductBalance(
          jobId: $jobId
          workerId: $workerId
          productId: $productId
        ) 
      }
      `,
        variables: {
          productId: this.product.id,
          workerId: this.workerId,
          jobId: this.jobId,
        },
      })
        .catch((err) => {
          this.$log.error(err);
          this.$eventHub.$emit('show-alert', {
            type: 'error',
            message: err.graphQLErrors[0].message,
          });
        });
      if (query != null && query.data.estimatedProductBalance.length > 0) {
        result = query.data.estimatedProductBalance;
      }
      return result;
    },
  },
};
</script>

<style>

</style>
