<template>
  <!-- eslint-disable max-len -->
  <v-dialog
    v-if="employer"
    v-model="showDialog"
    width="600px"
    scrollable
  >
    <v-card>
      <v-alert
        v-if="highlightZoom"
        icon="mdi-link-variant"
        type="info"
        tile
        class="mb-0"
      >
        <b>Connect with Zoom</b> first before you continue
      </v-alert>
      <v-alert
        v-if="!employer.access.writable"
        tile
        type="warning"
        icon="mdi-pencil-off-outline"
        class="mb-0"
      >
        You only have access to view the dashboard <b>(Read Only)</b>
      </v-alert>
      <v-card-title class="py-0">
        <v-list-item
          class="pa-0"
        >
          <v-list-item-avatar
            class="black white--text"
          >
            {{ currentLevelNumber }}
          </v-list-item-avatar>
          <v-list-item-content v-if="employer">
            <v-list-item-title v-text="employer.name" />
            <v-list-item-subtitle>
              <v-row
                no-gutters
                align="center"
              >
                <span>{{ employer.email }}</span>
                <v-divider
                  vertical
                  class="mx-2"
                />
                <v-chip
                  id="btn-any-AccountInfoDialog-LogOut"
                  label
                  small
                  outlined
                  @click.stop="logout"
                  v-html="'Log out'"
                />
              </v-row>
            </v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-icon>
            <ConnectedAppButton
              v-if="employer!=null"
              :connected="!!zoomAuthorized"
              app-name="ZOOM"
              description="Connect with ZOOM to interview with workers"
              @connect="authorizeZoom"
              @disconnect="logoutZoom"
            >
              <template #default>
                <v-img
                  v-on="on"
                  contain
                  :aspect-ratio="1/1"
                  :src="require('../../../assets/img/zoom_logo.png')"
                />
              </template>
            </ConnectedAppButton>
          </v-list-item-icon>
        </v-list-item>
      </v-card-title>

      <v-divider />

      <v-card-text>
        <v-card
          class="ma-5 px-5 py-2"
          style="font-size: 13px;"
          outlined
        >
          <v-row dense>
            <v-col>
              Employer Name:
            </v-col>
            <v-col>
              {{ employer.name }}
            </v-col>
          </v-row>
          <v-row dense>
            <v-col>
              Address:
            </v-col>
            <v-col>
              {{ $store.getters.currentOrganisation.address }}
            </v-col>
          </v-row>
          <v-row
            dense
          >
            <v-col>
              Rating:
            </v-col>
            <v-col>
              <v-rating
                readonly
                background-color="gray"
                color="gray"
                :length="5"
                small
                v-model="$store.getters.currentOrganisation.feedbacks.avg"
              />
            </v-col>
          </v-row>
        </v-card>
        <v-card
          flat
          v-if="currentLevel.features.length || currentLevel.adminLevel"
        >
          <v-card-title class="body-1">
            <span>
              Level <b>{{ currentLevelNumber }}</b> •
              {{ currentLevel.title }}
            </span>
          </v-card-title>
          <v-card-text>
            <v-list-item
              dense
              v-for="feature in unlockedFeatures"
              :key="feature.name"
            >
              <v-list-item-icon>
                <v-icon>mdi-check-circle</v-icon>
              </v-list-item-icon>
              <v-list-item-content class="pa-0">
                <div>{{ feature.description }}</div>
              </v-list-item-content>
            </v-list-item>
          </v-card-text>
        </v-card>

        <v-btn
          v-if="levelToUnlock"
          @click="() => {
            requestingUserLevel = levelToUnlock
            showLevelUnlockDialog = true;
          }"
          small
          outlined
          block
          color="#C2232A"
        >
          Unlock Level {{ levelToUnlock.userLevel }}
        </v-btn>

        <v-card
          v-for="level in lockedLevels"
          :key="level.userLevel"
          flat
        >
          <v-card-title class="body-1">
            <span class="grey--text">
              Level <b>{{ level.userLevel }}</b> • {{ level.title }}
            </span>
            <v-spacer />
          </v-card-title>
          <v-card-text class="pb-0">
            <v-list-item
              dense
              v-for="feature in level.features"
              :key="feature.name"
              disabled
            >
              <v-list-item-icon>
                <v-icon>mdi-check-circle-outline</v-icon>
              </v-list-item-icon>
              <v-list-item-content class="pa-0">
                <div>
                  {{ feature.description }}
                </div>
              </v-list-item-content>
            </v-list-item>
          </v-card-text>
        </v-card>
      </v-card-text>
    </v-card>
    <LevelUnlockDialog
      v-model="showLevelUnlockDialog"
      :prop-organisation="organisation"
      :user-level="requestingUserLevel"
    />
  </v-dialog>
</template>

<script>
import LevelUnlockDialog from '@/components/Common/Dialog/LevelUnlockDialog';
import ConnectedAppButton from '@/components/Common/Buttons/ConnectedAppButton';

export default {
  components: {
    LevelUnlockDialog,
    ConnectedAppButton,
  },

  data() {
    return {
      showDialog: false,
      showLevelUnlockDialog: false,
      requiredPermissions: [],
      loading: false,
      preQuestionsForm: false,
      requestingUserLevel: null,
      formValid: false,
      highlightZoom: false,
    };
  },
  computed: {
    zoomAuthorized() {
      if (this.$store.state.employer.zoomAuthorized == null) {
        return false;
      }
      return this.$store.state.employer.zoomAuthorized;
    },
    levelToUnlock() {
      return this.lockedLevels.find(l => l.userLevel - 1 === this.currentLevelNumber);
    },
    employer() {
      return this.$store.state.employer;
    },
    requestingFeatures() {
      // const requestingLevel = this.requestingUserLevel.userLevel;
      return this.requestingUserLevel && this.requestingUserLevel.features.flatMap(f => f.name);
    },
    unlockedFeatures() {
      return this.$store.getters.unlockedFeatures;
    },
    currentLevel() {
      return this.employerLevels.find(e => e.userLevel === this.currentLevelNumber);
    },
    currentLevelNumber() {
      return this.$store.state.userLevel;
    },
    organisation() {
      return this.$store.getters.currentOrganisation;
    },
    employerLevels() {
      return this.$store.state.employerLevels || [];
    },
    lockedLevels() {
      return this.employerLevels
        .filter(e => e.userLevel > this.currentLevelNumber && !e.adminLevel);
    },
    // maxUpgradableLevel() {
    //   return Array.from(this.employerLevels)
    //     .filter(l => !l.upgradable)
    //     .map(l => l.userLevel)
    //     .pop() - 1;
    // },
    // unlockedLevelNumbers() {
    //   const levels = Array.from(this.employerLevels)
    //     .filter(e => e.userLevel <= this.currentLevelNumber)
    //     .map(e => e.userLevel);

    //   const ret = new Set([[...levels].shift(), [...levels].pop()]);

    //   return Array.from(ret).join(' - ');
    // },
    // permissions() {
    //   return this.requiredPermissions && this.requiredPermissions.join(', ');
    // },
    // requiredUserLevel() {
    //   const requiredLevel = this.employerLevels
    //     .find(e => this.requiredPermissions.some(p => e.permissions.includes(p)));
    //   return requiredLevel && requiredLevel.userLevel;
    // },
  },
  methods: {
    async logoutZoom() {
      await this.$UserService
        .updateEmployer({ id: this.employer.id, zoomAuthCode: null });
      this.$eventHub.$emit('refetch-employer');
    },
    getZoomClientId() {
      const env = process.env.NODE_ENV;
      if (env === 'production') return 'ykzXAWorT0eJvkSgd5NbYg';
      if (env === 'staging') return 'FXK1CIfKSca0mmi8vsKFA';
      return 'C1MVKVmlS_CTtHUaYgAn5g';
    },
    authorizeZoom() {
      const clientId = this.getZoomClientId();
      // const currentPath = this.$route.path;
      const redirectUri = window.location.origin;
      const url = `https://zoom.us/oauth/authorize?response_type=code&client_id=${clientId}&redirect_uri=${redirectUri}`;
      window.open(url);
    },
    getUpgradableStatus(level) {
      if (level === 2) {
        return !!this.organisation.description
        && !!this.organisation.phone
        && !!this.organisation.address;
      }
      // if (level === 3) return false;
      return true;
    },
    async logout() {
      await this.$UserService.logout();
      this.$router.push({ path: '/' });
    },
    onClose() {
      this.showDialog = false;
    },
  },
  mounted() {
    this.$eventHub.$on('show-account-info', (options) => {
      this.highlightZoom = options && options.highlightZoom;
      // this.requiredPermissions = permissions;
      this.showDialog = true;
    });
  },
};
</script>
