<template>
  <v-dialog
    v-model="showDialog"
    max-width="600px"
    @click:outside="onClose"
    eager
  >
    <!--☝️ eager to render on mount for avoiding ui problem from v-data-table  -->
    <template #activator="{ on }">
      <v-chip
        id="btn-any-Leave"
        v-on="on"
        outlined
        v-html="'Leave'"
        color="black"
        class="mx-1"
        small
        @mousedown.stop
        @touchstart.stop
      />
    </template>
    <v-card>
      <v-card-title>
        Edit Leave
      </v-card-title>
      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="leaveTypes"
          hide-default-footer
          :group-by="[]"
          disable-pagination
        >
          <template v-slot:[`item.days`]="{item}">
            <v-edit-dialog>
              <v-chip
                v-text="item.days"
              />
              <template v-slot:input>
                <v-text-field
                  :value="item.days"
                  @input="item.onDayChange"
                  label="Edit"
                  single-line
                  type="number"
                />
              </template>
            </v-edit-dialog>
          </template>
          <template v-slot:[`item.updatedDate`]="{item}">
            <v-menu
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-chip
                  v-on="on"
                  v-bind="attrs"
                  v-text="$moment(item.updatedDate).format('DD-MM-YYYY')"
                />
              </template>
              <v-date-picker
                :value="item.updatedDate"
                @input="item.onUpdatedDateChange"
              />
            </v-menu>
          </template>
          <template v-slot:[`item.actualDays`]="{item}">
            <span>{{ item.actualDays.toFixed(6) }}</span>
          </template>
        </v-data-table>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn
          id="btn-any-EditLeaveDialog-Close"
          @click="onClose"
          text
          v-html="'Close'"
        />
        <v-btn
          v-access="['WRITE_ACCESS']"
          id="btn-any-EditLeaveDialog-Update"
          @click="updateLeave"
          class="jobdoh white--text"
          :loading="loading"
          :disabled="!hasChanges"
          v-html="'Update Leave'"
        />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import moment from 'moment';

/* eslint-disable vue/no-side-effects-in-computed-properties */

export default {
  props: {
    propShift: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      showDialog: false,
      shift: Object.assign({}, this.propShift),
      oldShift: Object.assign({}, this.propShift),
      headers: [
        { text: 'Leave Types', value: 'type', sortable: false },
        { text: 'Days', value: 'days', sortable: false },
        { text: 'Updated Date', value: 'updatedDate', sortable: false },
        { text: 'Today\'s Leave', value: 'actualDays', sortable: false },
      ],
    };
  },

  computed: {
    leaveAccu() {
      const currentOrg = this.$store.getters.currentOrganisation;
      return {
        personal: currentOrg.leavePersonalAccrualRateDaysPerYear,
        sick: currentOrg.leaveSickAccuralRateDaysPerYear,
        special: currentOrg.leaveSpecialAccuralRateDaysPerYear,
      };
    },
    leaveTypes() {
      // eslint-disable-next-line no-underscore-dangle
      const _this = this;
      const {
        leaveSickDays,
        leaveSickUpdateDate,
        leavePersonalDays,
        leavePersonalUpdateDate,
        leaveSpecialDays,
        leaveSpecialUpdateDate,
      } = _this.shift;

      const today = new Date().toISOString();

      return [
        {
          type: 'Sick Leave',
          days: leaveSickDays,
          onDayChange: (day) => {
            _this.shift.leaveSickDays = day && parseFloat(day);
            _this.shift.leaveSickUpdateDate = today;
          },
          actualDays: _this.getActualLeave(
            leaveSickDays, leaveSickUpdateDate, _this.leaveAccu.sick,
          ),
          updatedDate: moment(leaveSickUpdateDate).format('YYYY-MM-DD'),
          onUpdatedDateChange: (date) => {
            _this.shift.leaveSickUpdateDate = moment(date).toISOString();
          },
        },
        {
          type: 'Personal Leave',
          days: leavePersonalDays,
          onDayChange: (day) => {
            _this.shift.leavePersonalDays = day && parseFloat(day);
            _this.shift.leavePersonalUpdateDate = today;
          },
          actualDays: _this.getActualLeave(
            leavePersonalDays, leavePersonalUpdateDate, _this.leaveAccu.personal,
          ),
          updatedDate: moment(leavePersonalUpdateDate).format('YYYY-MM-DD'),
          onUpdatedDateChange: (date) => {
            _this.shift.leavePersonalUpdateDate = moment(date).toISOString();
          },
        },
        {
          type: 'Other Leaves',
          days: leaveSpecialDays,
          onDayChange: (day) => {
            _this.shift.leaveSpecialDays = day && parseFloat(day);
            _this.shift.leaveSpecialUpdateDate = today;
          },
          actualDays: _this.getActualLeave(
            leaveSpecialDays, leaveSpecialUpdateDate, _this.leaveAccu.special,
          ),
          updatedDate: moment(leaveSpecialUpdateDate).format('YYYY-MM-DD'),
          onUpdatedDateChange: (date) => {
            _this.shift.leaveSpecialUpdateDate = moment(date).toISOString();
          },
        },
      ];
    },
    hasChanges() {
      return JSON.stringify(this.shift) !== JSON.stringify(this.oldShift);
    },
  },

  methods: {
    getActualLeave(leaveDay, updatedDate, leaveAccuPerYear) {
      const lastUpdatedDay = moment().diff(moment(updatedDate || moment.now()), 'days');
      this.$log.info(leaveDay, `${lastUpdatedDay}days ago`, leaveAccuPerYear / 365);
      const ret = leaveAccuPerYear && leaveDay + lastUpdatedDay * (leaveAccuPerYear / 365);
      this.$log.info(ret);
      return ret;
    },
    getLeave(actualLeave, updatedDate, leaveAccuPerYear) {
      const lastUpdatedDay = moment().diff(moment(updatedDate || moment.now()), 'days');
      return leaveAccuPerYear && lastUpdatedDay * (leaveAccuPerYear / 365) - actualLeave;
    },
    async updateLeave() {
      this.loading = true;
      const args = {
        id: this.shift.id,
        startTime: this.shift.startTime,
        endTime: this.shift.endTime,
        leaveSickDays: parseFloat(this.shift.leaveSickDays),
        leaveSickUpdateDate: this.shift.leaveSickUpdateDate,
        leavePersonalDays: parseFloat(this.shift.leavePersonalDays),
        leavePersonalUpdateDate: this.shift.leavePersonalUpdateDate,
        leaveSpecialDays: parseFloat(this.shift.leaveSpecialDays),
        leaveSpecialUpdateDate: this.shift.leaveSpecialUpdateDate,
        currentTimesheetConfirm: this.shift.currentTimesheetConfirm,
      };
      const ret = await this.$JobService
        .updateShift(args)
        .catch((err) => {
          this.$log.error('updateLeave error:', err);
          this.$eventHub.$emit('show-alert', {
            type: 'error',
            message: 'Error updating shift',
          });
        });
      if (ret) {
        this.loading = false;
        this.showDialog = false;
        this.oldShift = Object.assign({}, this.shift);
        this.$eventHub.$emit('show-alert', {
          type: 'success',
          message: 'Shift updated successfully',
        });
        this.$eventHub.$emit('refetch-job-edit');
        this.$root.$emit('refresh-job');
      }
    },
    onClose() {
      this.resetData();
      this.showDialog = false;
    },
    resetData() {
      this.shift = Object.assign({}, this.oldShift);
    },
  },
};
</script>
