<template>
  <div>
    <v-snackbar
      v-model="feedbackSnackbar"
      :timeout="-1"
      vertical
      light
      right="1"
    >
      <v-card
        flat
        max-width="400"
      >
        <v-list-item>
          <v-list-item-icon>
            <v-icon class="jobdoh-red">
              mdi-message-alert-outline
            </v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <div><b>{{ feedbackQuestion }}</b></div>
          </v-list-item-content>
          <v-list-item-action>
            <v-btn
              id="btn-any-FeedbackDialog-Close"
              icon
              @click="feedbackSnackbar = false"
            >
              <v-icon id="btn-any-FeedbackDialog-Close">
                mdi-close
              </v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>

        <div class="text-center">
          <v-rating
            v-model="rating"
            color="yellow darken-3"
            background-color="grey darken-1"
            empty-icon="$ratingFull"
            hover
            :length="7"
          />
        </div>
      </v-card>

      <template v-slot:action="{ attrs }">
        <v-btn
          id="btn-any-FeedbackDialog-Submit"
          color="black"
          text
          v-bind="attrs"
          @click="submitFeedback"
          :disabled="!rating"
          :loading="loading"
          v-html="'Submit'"
        />
      </template>
    </v-snackbar>
    <v-snackbar
      v-model="thankuSnackbar"
      :timeout="3000"
      light
      right="1"
    >
      <v-card
        flat
        max-width="400"
      >
        <v-list-item>
          <v-list-item-icon>
            <v-icon class="jobdoh-red">
              mdi-message-alert-outline
            </v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <div><b>Thank you for your feedback!</b></div>
          </v-list-item-content>
          <v-list-item-action>
            <v-btn
              id="btn-any-ThankYouDialog-Close"
              icon
              @click="thankuSnackbar = false"
            >
              <v-icon id="btn-any-ThankYouDialog-Close">
                mdi-close
              </v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>
      </v-card>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  data() {
    return {
      feedbackSnackbar: false,
      thankuSnackbar: false,
      rating: null,
      feedbackQuestion: null,
      featureId: null,
      loading: false,
      onSubmit: null,
    };
  },

  methods: {
    async submitFeedback() {
      this.loading = true;

      const feedbackToken = await this.createFeedbackToken();
      if (feedbackToken && this.onSubmit) this.onSubmit();

      this.loading = false;
      this.rating = null;
      this.feedbackSnackbar = false;
      this.thankuSnackbar = true;
    },
    createFeedbackToken() {
      const args = {
        fromType: 'employer',
        fromId: this.$store.state.myId,
        targetType: 'feature',
        targetId: this.featureId,
        feedbackType: 'CES',
        feedbackValue: `${this.rating}`,
      };
      return this.$RatingService
        .createFeedbackToken(args)
        .catch(e => this.$log.error(e));
    },
  },

  computed: {
    surveyTriggers() {
      return this.$store.state.employer.surveyTriggers;
    },
  },

  mounted() {
    this.$eventHub.$on('show-feedback-dialog', ({ featureId, feedbackQuestion, onSubmit }) => {
      this.featureId = featureId;
      this.feedbackQuestion = feedbackQuestion;
      this.feedbackSnackbar = true;
      this.onSubmit = onSubmit;
    });

    this.$eventHub.$on('ask-first-worker-hiring-feedback', (onSubmit) => {
      this.featureId = 'HIRED_FIRST_WORKER';
      this.feedbackQuestion = 'Overall, how easy was it to hire your first worker using JOBDOH?';
      this.onSubmit = onSubmit;
      this.feedbackSnackbar = true;
    });

    this.$eventHub.$on('ask-workers-hiring-feedback', (onSubmit) => {
      this.featureId = 'HIRED_WORKERS';
      this.feedbackQuestion = 'Overall, how easy was it to hire your last worker using JOBDOH?';
      this.onSubmit = onSubmit;
      this.feedbackSnackbar = true;
    });
  },
};
</script>

<style scoped>
.custom-snack >>> .v-snack__wrapper >>> .v-snack__content {
  padding: 0px !important;
}
</style>
