<template>
  <v-dialog
    v-model="showDialog"
    width="500px"
  >
    <v-card>
      <v-card-title>
        <v-row justify="center">
          <v-icon x-large>
            mdi-party-popper
          </v-icon>
        </v-row>
      </v-card-title>
      <v-card-title>
        Congratulation on creating your first job
      </v-card-title>
      <v-card-text>
        We can only show your job to workers once we verify that your company is real.
        You can do this by upgrading to level 2,
        which requires you to send us your company registration.
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn
          text
          color="grey"
          @click="showDialog = false"
        >
          Close
        </v-btn>
        <v-btn
          outlined
          @click=" ()=> {
            showDialog = false
            $eventHub.$emit('show-tutorial-feature', 'POST_JOB', true)
          }"
        >
          Continue
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      showDialog: false,
    };
  },
  mounted() {
    this.$eventHub.$on('show-first-job-created-dialog', () => {
      this.showDialog = true;
    });
  },
};
</script>

<style>

</style>
