<template>
  <v-dialog
    v-if="region != null"
    v-model="dialog"
    width="300"
  >
    <v-card>
      <v-card-actions
        style="flex-direction: column;"
      >
        <v-row>
          <a
            href="http://m.me/jobdohmyanmar"
            target="_blank"
            @click="clickHelp('facebook_messenger_app')"
            class="black--text"
            id="btn-any-FacebookHelp"
          >
            <!-- {{ $t('facebookHelp') }} -->
            Facebook Help
          </a>
        </v-row>

        <v-row
          v-if="region === 'hk'"
        >
          <a
            class="black--text"
            href="https://wa.me/85259897312"
            @click="clickHelp('whatapp_app')"
            id="btn-any-WhatsAppHelp"
          >
            <!-- {{ $t('chatHelp') }} -->
            Whatsapp Help
          </a>
        </v-row>

        <v-row
          v-else
        >
          <a
            class="black--text"
            href="viber://chat/?number=%2B959406582601"
            @click="clickHelp('viber_app')"
            id="btn-any-ViberHelp"
          >
            <!-- {{ $t('chatHelp') }} -->
            Viber Help
          </a>
        </v-row>

        <v-row>
          <a
            class="black--text"
            :href="`tel:${phone}`"
            @click="clickHelp('phone_app')"
            id="btn-any-PhoneHelp"
          >
            {{ phone }} (9am - 6pm)
          </a>
        </v-row>

        <v-row>
          <a
            class="black--text"
            :href="`https://public.jobdoh.com/#/faq?lang=${locale}&ref=1`"
            target="_blank"
            id="btn-any-FAQs"
          >
            {{ $t('FAQs') }}
          </a>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
  }),

  computed: {
    locale() {
      if (this.region === 'mm') return 'mm';
      return 'en';
    },
    region() {
      if (this.$store.getters.currentOrganisation == null) {
        return 'mm';
      }
      return this.$store.getters.currentOrganisation.region;
    },
    phone() {
      if (this.region === 'hk') {
        return '+85259897312';
      }
      return '+959406582601';
    },
  },

  methods: {
    clickHelp(target) {
      this.$log.debug('target_open_link', target);
      this.$AnalyticsService.logEvent('open_link', {
        target,
      });
    },
  },

  mounted() {
    this.$eventHub.$on('help-dialog', () => {
      this.dialog = true;
    });
  },
};
</script>

<style scoped>
.v-card__actions >>> a {
  text-decoration: none;
}
.row >>> a {
  padding: 5px;
}
</style>
