<template>
  <v-dialog
    v-if="employer!=null && currentLevel!=null"
    v-model="showDialog"
    width="600px"
    persistent
  >
    <v-form v-model="valid">
      <v-card :loading="loading">
        <v-row
          no-gutters
          justify="end"
          style="min-height: 16px"
        >
          <v-btn
            id="btn-any-LevelChangedDialog-Close"
            icon
            @click="onClose"
          >
            <v-icon
              id="btn-any-LevelChangeDialog-Close"
            >
              mdi-close
            </v-icon>
          </v-btn>
        </v-row>


        <div
          class="title px-4"
          v-html="`Welcome to Level ${currentLevel.userLevel} • ${ currentLevel.title}`"
        />
        <v-card-text>
          You've unlocked these features.
          <a
            class="text-decoration-underline"
            @click="$eventHub.$emit('show-tutorial-level', currentLevel.userLevel, false)"
            id="btn-any-LevelChangedDialog-LearnMore"
          >Learn More</a>
          <v-list-item
            dense
            v-for="(feature) in currentLevel.features"
            :key="feature.name"
          >
            <v-list-item-icon>
              <v-icon> mdi-lock-open-variant </v-icon>
            </v-list-item-icon>
            <v-list-item-content class="pa-0">
              <div>{{ feature.description }}</div>
            </v-list-item-content>
          </v-list-item>
        </v-card-text>
        <v-divider />

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              To set your unlocked features, please go to
              <a
                class="text-decoration-underline"
                @click="() => {
                  showDialog = false
                  $router.push('/app/edit-organisation')
                }"
                id="btn-any-LevelChangedDialog-GoConfigPage"
              >settings</a>.
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <!-- <div v-if="hasPreSurveyQuestion">
          <v-card-title>
            Tell us more about you before we continue
          </v-card-title>
          <v-card-text class="pt-1">
            <div
              v-if="currentFeatures.includes('TIMESHEET')"
            >
              <v-text-field
                outlined
                :value="organisation.payCycleMonthDays && organisation.payCycleMonthDays.toString()"
                @input="v => organisation.payCycleMonthDays = v.split(',')"
                label="Pay Cycle (Eg: 1,1,2,3)"
                :rules="[$Validate.required, $Validate.payCycle]"
              />

              <v-text-field
                outlined
                v-model="organisation.billingDetails"
                label="Billing Details"
                :rules="[$Validate.required]"
              />
            </div>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              id="btn-any-LevelChangedDialog-Confirm"
              @click="onConfirm"
              :loading="loading"
              :disabled="!okToConfirm"
              class="black white--text"
              v-html="'Confirm'"
            />
          </v-card-actions>
        </div> -->
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      showDialog: false,
      organisation: {},
      valid: false,
      loading: false,
      currentLevelNumber: null,
      surveyRequiredFeatures: [
        'TIMESHEET',
      ],
      surveys: {},
    };
  },

  watch: {
    currentOrganisation(newV) {
      this.organisation = Object.assign({}, newV);
      this.surveys = Object.assign({}, this.organisation.surveys);
    },
    showDialog(newV) {
      if (!newV) {
        if (this.$AccessService.isUnlocked('POST_JOB')) {
          this.postUnpostedJobs();
        }
      }
    },
  },

  beforeDestroy() {
    if (this.$AccessService.isUnlocked('POST_JOB')) {
      this.postUnpostedJobs();
    }
  },

  computed: {
    hasPreSurveyQuestion() {
      return this.currentFeatures.some(f => this.surveyRequiredFeatures.includes(f));
    },
    okToConfirm() {
      return this.valid;
    },
    employer() {
      return this.$store.state.employer;
    },
    requestingFeatures() {
      return this.requestingUserLevel && this.requestingUserLevel.features.flatMap(f => f.name);
    },
    currentLevel() {
      return this.employerLevels.find(e => e.userLevel === this.currentLevelNumber);
    },
    currentFeatures() {
      return this.currentLevel.features.map(f => f.name);
    },
    currentOrganisation() {
      return this.$store.getters.currentOrganisation;
    },
    employerLevels() {
      return this.$store.state.employerLevels;
    },
  },

  methods: {
    async onClose() {
      this.showDialog = false;
    },
    async onConfirm() {
      this.loading = true;
      await this.updateOrganisation();
      this.showDialog = false;
      this.loading = false;
    },
    async updateOrganisation() {
      const result = await this.$OrganisationService.updateOrganisation({
        id: this.organisation.id,
        name: this.organisation.name,
        phone: this.organisation.phone,
        address: this.organisation.address,
        payrollMethod: this.organisation.payrollMethod,
        payrollCurrency: this.organisation.payrollCurrency,
        accountingStyle: this.organisation.accountingStyle,
        // eslint-disable-next-line radix
        payCycleMonthDays: this.organisation.payCycleMonthDays,
        fee: parseFloat(this.organisation.fee),
        region: this.organisation.region,
        description: this.organisation.description,
        logoUrl: this.organisation.logoUrl,
        industryType: this.organisation.industryType,
        videoUrl: this.organisation.videoUrl,
        disbursementPaymentType: this.organisation.disbursementPaymentType,
        billingDetails: this.organisation.billingDetails,
        surveys: this.surveys,
        payrollOfficerPhone: this.organisation.payrollOfficerPhone,
        payrollOfficerEmail: this.organisation.payrollOfficerEmail,
        leaveSickAccuralRateDaysPerYear: parseInt(
          this.organisation.leaveSickAccuralRateDaysPerYear, 10,
        ),
        leavePersonalAccrualRateDaysPerYear: parseInt(
          this.organisation.leavePersonalAccrualRateDaysPerYear, 10,
        ),
        leaveSpecialAccuralRateDaysPerYear: parseInt(
          this.organisation.leaveSpecialAccuralRateDaysPerYear, 10,
        ),
      });

      if (result) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Organisation update successful.',
        });
        this.$eventHub.$emit('refetch-employer');
        // this.$router.push({ path: '/app/view-jobs' });
      } else {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'error',
          message: 'Organisation update fail.',
        });
      }
    },
    async postUnpostedJobs() {
      this.loading = true;
      await this.$JobService.updateJobsMarketplace({
        organisationId: this.$store.state.currentOrganisationId,
      });
      this.$eventHub.$emit('refresh-organisation-jobs');

      this.loading = false;
    },
  },

  mounted() {
    this.$eventHub.$on('show-level-changed-dialog', (currentLevelNumber) => {
      this.$log.info({ currentLevelNumber, surveyRequiredFeatures: this.surveyRequiredFeatures });
      this.currentLevelNumber = currentLevelNumber;
      this.showDialog = true;
    });
  },
};
</script>

<style>

</style>
