<template>
  <v-dialog
    :value="value"
    @input="v => $emit('input', v)"
    width="600px"
    scrollable
  >
    <v-form
      v-model="formValid"
      ref="lvlunlockform"
      v-if="userLevel"
      @input="() => {
        $refs.lvlunlockform.validate()
      }"
    >
      <v-card>
        <v-card-title>
          Unlock Level {{ userLevel.userLevel }}
        </v-card-title>
        <v-divider />
        <v-card-text>
          <div class="mb-4">
            To unlock level {{ userLevel.userLevel }}, you need to fill this form.
          </div>

          <!-- <v-text-field
            label="Address"
            v-model="organisation.address"
            outlined
            :rules="[required]"
          /> -->
          <div
            v-if="requestingFeatures.includes('POST_JOB')"
          >
            <BusinessRegFileUploader
              :key="organisation"
              v-model="organisation.businessRegFileUrl"
              :organisation-id="organisation.id"
              required
            />

            <v-text-field
              :key="organisation"
              v-model="organisation.businessRegNumber"
              label="Business Registration No."
              :rules="[$Validate.required]"
              outlined
            />
          </div>

          <!-- <v-text-field
            v-if="requestingFeatures.includes('TIMESHEET')"
            outlined
            :value="organisation.payCycleMonthDays.toString()"
            @input="v => organisation.payCycleMonthDays = v.split(',')"
            label="Pay Cycle (Eg: 1,1,2,3)"
            :rules="[required, payCycleFormat]"
          /> -->

          <div v-if="requestingFeatures.includes('TIMESHEET')">
            <!-- <v-text-field
              outlined
              v-model="organisation.payrollOfficerPhone"
              label="Payroll officer phone number"
              :rules="[$Validate.required, $Validate.phone]"
            /> -->
            <PhoneInput
              v-model="organisation.payrollOfficerPhone"
              required
            />
            <v-text-field
              outlined
              v-model="organisation.payrollOfficerEmail"
              label="Payroll officer email address"
              :rules="[$Validate.email]"
            />
            <DisbursementPaymentTypeSelect
              v-model="organisation.disbursementPaymentType"
              :rules="[$Validate.required]"
            />
            <PayrollContractFileUploader
              v-model="organisation.payrollContractFileUrl"
              :organisation-id="organisation.id"
              class="mb-8"
            />
          </div>

          <div v-if="requestingFeatures.includes('ROSTER')">
            <v-text-field
              outlined
              v-model="organisation.numberOfStuff"
              label="Number of staff"
              type="number"
              :rules="[$Validate.required, $Validate.integer]"
            />
            <v-text-field
              outlined
              v-model="organisation.approxTotalSalary"
              label="Total salary (estimate)"
              type="number"
              :rules="[$Validate.required, $Validate.number]"
              :suffix="$store.getters.localCurrency"
            />
            <v-text-field
              outlined
              v-model="organisation.companyAge"
              label="Years of operation"
              type="number"
              :rules="[$Validate.required, $Validate.integer]"
            />
          </div>

          <div v-if="requestingFeatures.includes('EXTRA_ORGANISATIONS')">
            <OrgChartUploader
              v-model="organisation.organisationRelationChartUrl"
              :organisation-id="organisation.id"
              required
            />
          </div>

          <div v-if="requestingFeatures.includes('DISBURSEMENT')">
            <v-textarea
              outlined
              v-model="organisation.reasonForSelfPayrollAndDisbursement"
              label="Why you want to conduct your own payroll calculation and disbursements?"
              :rules="[$Validate.required]"
            />
          </div>
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            id="btn-any-LevelUnlockDialog-Close"
            @click="closeDialog"
            text
            v-html="'Close'"
          />
          <v-btn
            id="btn-any-LevelUnlockDialog-Request"
            :disabled="!formValid"
            :loading="loading"
            @click="requestPermission()"
            class="black white--text"
            v-html="'Request'"
          />
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import axios from 'axios';
import BusinessRegFileUploader from '@/components/Common/Uploaders/BusinessRegFileUploader';
import OrgChartUploader from '@/components/Common/Uploaders/OrgChartUploader';
import PayrollContractFileUploader from '@/components/Common/Uploaders/PayrollContractFileUploader';
import DisbursementPaymentTypeSelect from '@/components/Common/Selects/DisbursementPaymentTypeSelect';
import PhoneInput from '@/components/Common/Inputs/PhoneInput';

export default {
  components: {
    BusinessRegFileUploader,
    PayrollContractFileUploader,
    DisbursementPaymentTypeSelect,
    OrgChartUploader,
    PhoneInput,
  },

  // eslint-disable-next-line vue/require-prop-types
  props: ['value', 'userLevel', 'propOrganisation'],

  data() {
    return {
      organisation: Object.assign({}, this.propOrganisation),
      formValid: false,
      loading: false,
      payCyclePeriod: this.propOrganisation && this.propOrganisation.payCycleMonthDays.toString(),
      required: v => !!v || 'Value Required',
      phone: v => !!v.match(/^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[- ./0-9]{6,20}$/) || 'Invalid Phone Number',
      payCycleFormat: v => !!v.match(/^\d+(,\d+)+$/) || 'Invalid Format',
    };
  },

  watch: {
    propOrganisation(newValue) {
      this.organisation = JSON.parse(JSON.stringify(newValue));
    },
    // value() {
    //   this.$refs.lvlunlockform.validate();
    // },
  },

  computed: {
    requestingFeatures() {
      return this.$AccessService
        .getLockedFeaturesOfLevel(this.userLevel.userLevel)
        .map(f => f.name);
    },
    hasChangesInOrganisation() {
      return JSON.stringify(this.propOrganisation) !== JSON.stringify(this.organisation);
    },
    currentLevel() {
      return this.$store.state.userLevel;
    },
  },

  methods: {
    async requestPermission() {
      this.loading = true;
      if (this.hasChangesInOrganisation) await this.updateOrganisation();
      await this.sendMessageToSlack();
      this.sendNotification();
      this.loading = false;
      this.closeDialog();
    },
    async sendNotification() {
      const data = {
        title: 'Requested account level upgrade',
        body: 'We will notify you after proceeding.',
        receiveDate: new Date(),
        isRead: false,
      };
      await this.$IdbService.addNotificaitonsToDb(data);
      this.$store.dispatch('refreshNotifications');
    },
    sendMessageToSlack() {
      return this.$MessageService.sendMessageToSlack('#sales', this.getRequestMessage(this.userLevel.userLevel))
        .then((r) => {
          this.$eventHub.$emit('show-alert-success', { message: 'Request successfully sent' });
          return r;
        }).catch((e) => {
          this.$log.error(e);
          this.$eventHub.$emit('show-alert-error', { message: 'Failed to send the request' });
        });
    },
    getRequestMessage(userLevel) {
      const { employer } = this.$store.state;
      const organisations = employer.organisations ? employer.organisations.map(e => e.name).join(' | ') : '';
      const message = `
      USER LEVEL UPGRADE REQUEST
      Requesting to upgrade from level ${this.currentLevel} to ${userLevel}
      Employer Name: ${employer.name}
      Phone: ${[this.organisation.payrollOfficerPhone, this.organisation.phone].filter(e => !!e)}
      Email: ${[employer.email, this.organisation.payrollOfficerEmail]}
      Organisations: ${organisations || 'NONE'}
      `;
      return message;
    },
    async updateOrganisation() {
      const businessRegFileUrl = typeof this.organisation.businessRegFileUrl === 'function'
        ? await this.organisation.businessRegFileUrl()
        : this.organisation.businessRegFileUrl;
      return this.$OrganisationService.updateOrganisation({
        id: this.organisation.id,
        name: this.organisation.name,
        phone: this.organisation.phone,
        address: this.organisation.address,
        payrollMethod: this.organisation.payrollMethod,
        payrollCurrency: this.organisation.payrollCurrency,
        accountingStyle: this.organisation.accountingStyle,
        // eslint-disable-next-line radix
        payCycleMonthDays: this.organisation.payCycleMonthDays,
        fee: parseFloat(this.organisation.fee),
        region: this.organisation.region,
        description: this.organisation.description,
        logoUrl: this.organisation.logoUrl,
        industryType: this.organisation.industryType,
        videoUrl: this.organisation.videoUrl,
        payrollOfficerPhone: this.organisation.payrollOfficerPhone,
        payrollOfficerEmail: this.organisation.payrollOfficerEmail,
        disbursementPaymentType: this.organisation.disbursementPaymentType,
        leaveSickAccuralRateDaysPerYear: parseInt(
          this.organisation.leaveSickAccuralRateDaysPerYear, 10,
        ),
        leavePersonalAccrualRateDaysPerYear: parseInt(
          this.organisation.leavePersonalAccrualRateDaysPerYear, 10,
        ),
        leaveSpecialAccuralRateDaysPerYear: parseInt(
          this.organisation.leaveSpecialAccuralRateDaysPerYear, 10,
        ),
        numberOfStuff: parseInt(this.organisation.numberOfStuff, 10),
        approxTotalSalary: parseFloat(this.organisation.approxTotalSalary),
        companyAge: parseInt(this.organisation.companyAge, 10),
        organisationRelationChartUrl: this.organisation.organisationRelationChartUrl,
        reasonForSelfPayrollAndDisbursement: this.organisation.reasonForSelfPayrollAndDisbursement,
        businessRegFileUrl,
        businessRegNumber: this.organisation.businessRegNumber,
      }).then((r) => {
        this.$eventHub.$emit('show-alert-success', { message: 'Organisation update successful.' });
        this.$eventHub.$emit('refetch-employer');
        return r;
      }).catch((e) => {
        this.log.error(e);
        this.$eventHub.$emit('show-alert-error', { message: 'Organisation update failed.' });
      });
    },
    closeDialog() {
      this.$emit('input', false);
    },
  },
};
</script>

<style>

</style>
