<template>
  <v-dialog
    v-model="showDialog"
    width="500px"
    scrollable
    persistent
  >
    <v-card
      :loading="loading"
      :disabled="loading"
    >
      <v-form v-model="valid">
        <v-card-title>
          {{ title }}
        </v-card-title>
        <v-card-text>
          <div
            v-if="featuresName.includes('CREATE_MARKETPLACE_JOB')"
          >
            <v-select
              outlined
              v-model="surveys.isActivelyHiring"
              label="Are you still actively hiring or just looking as a back up?"
              :items="['Yes', 'No']"
              :rules="[$Validate.required]"
            />
            <v-text-field
              outlined
              v-model="surveys.numOfHiring"
              label="How many headcounts are you still hiring?"
              type="number"
              :rules="[$Validate.required]"
            />
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            id="btn-any-SurveyDialog-Submit"
            outlined
            :disabled="!valid"
            @click="submit"
            v-html="'Submit'"
          />
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      valid: false,
      loading: false,
      surveys: {},
      showDialog: false,
      title: '',
      featuresName: [],
      onSubmit: null,
    };
  },

  computed: {
    organisation() {
      return this.$store.getters.currentOrganisation;
    },
  },

  mounted() {
    this.$eventHub.$on('show-survey', ({ featuresName, title, onSubmit }) => {
      this.featuresName = featuresName;
      this.title = title || 'Survey';
      this.showDialog = true;
      this.onSubmit = onSubmit;
    });
  },

  methods: {
    async submit() {
      this.loading = true;
      await this.updateOrganisation();
      if (this.onSubmit) this.onSubmit();
      this.showDialog = false;
      this.loading = false;
    },

    async updateOrganisation() {
      const oldSurveys = Object.assign({}, this.organisation.surveys);
      return this.$OrganisationService.updateOrganisation({
        id: this.organisation.id,
        surveys: {
          ...oldSurveys,
          ...this.surveys,
        },
      }).then(() => {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Organisation update successful.',
        });
        this.$eventHub.$emit('refetch-employer');
      }).catch((e) => {
        this.$log.error(e);
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'error',
          message: 'Organisation update fail.',
        });
      });
    },
  },
};
</script>

<style>

</style>
