<template>
  <v-dialog
    v-if="userLevel != null"
    v-model="showDialog"
    :width="getGifOf(userLevel.features[currentIndex].name) ? '900px' : '600px'"
  >
    <v-card>
      <v-hover
        v-if="isLock"
        v-model="isHover"
        v-slot:default="{ hover }"
        class="mb-4"
      >
        <v-list-item
          dense
          dark
          :style="`background-color: ${hover ? '#C2232A' : 'grey'} !important;`"
          @click="onUnlockFeature"
          id="btn-any-TutorialDialog-UnlockFeature"
        >
          <v-list-item-action class="mr-4">
            <v-chip
              @click.prevent
              style="width: 95px !important; background-color: #C2232A"
            >
              <v-icon left>
                {{ hover ? 'mdi-lock-open-variant' : 'mdi-lock' }}
              </v-icon>
              {{ hover ? 'Unlock' : 'Locked' }}
            </v-chip>
          </v-list-item-action>
          <v-list-item-content>
            <div class="title">
              Oops! You haven't got access to <b>level {{ userLevel.userLevel }}</b> yet!
            </div>
          </v-list-item-content>
          <v-list-item-action>
            <v-btn
              id="btn-any-TutorialDialog-Close"
              @mouseover="isHover = false"
              @mouseleave="isHover = true"
              icon
              @keypress.stop="showDialog = false"
              @click.stop="showDialog = false"
            >
              <v-icon id="btn-any-TutorialDialog-Close">
                mdi-close
              </v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>
      </v-hover>
      <v-row
        v-else
        no-gutters
      >
        <v-spacer />
        <v-btn
          id="btn-any-TutorialDialog-Close"
          icon
          @keypress.stop="showDialog = false"
          @click.stop="showDialog = false"
        >
          <v-icon id="btn-any-TutorialDialog-Close">
            mdi-close
          </v-icon>
        </v-btn>
      </v-row>
      <v-card-title class="pt-0">
        <span class="subtitle-1">
          Level {{ userLevel.userLevel }} • {{ userLevel.title }}
        </span>
      </v-card-title>
      <v-card-text>
        <span
          v-if="userLevel.description && isLock"
          v-html="userLevel.description"
        />
        <v-subheader class="pa-0">
          Additional features you can get:
        </v-subheader>
        <v-list-item
          dense
          v-for="(feature, i) in userLevel.features"
          :key="feature.name"
          @click="currentIndex = i"
        >
          <v-list-item-icon>
            <v-icon v-if="isLock">
              {{ isHover ? 'mdi-lock-open-variant' : 'mdi-lock' }}
            </v-icon>
            <v-icon v-else>
              mdi-circle-small
            </v-icon>
          </v-list-item-icon>
          <v-list-item-content class="pa-0">
            <div>{{ feature.description }}</div>
          </v-list-item-content>
        </v-list-item>
        <v-hover
          v-model="isHover"
        >
          <v-btn
            block
            @click="onUnlockFeature"
            small
            :color="'#C2232A'"
            class="white--text"
          >
            Unlock
          </v-btn>
        </v-hover>
      </v-card-text>
      <v-divider />
      <v-carousel
        v-model="currentIndex"
        height="auto"
        light
        hide-delimiter-background
      >
        <v-carousel-item
          v-for="(feature, i) in userLevel.features"
          :key="i"
          class="pb-4"
        >
          <v-sheet
            height="100%"
            color="white"
          >
            <div class="py-3">
              <v-row
                justify="center"
                no-gutters
              >
                <v-icon
                  size="60"
                  color="grey darken-2"
                  v-text="getIconOf(feature.name)"
                />
              </v-row>
              <div class="black--text pl-2 text-center">
                {{ feature.description }}
              </div>
            </div>
            <img
              style="width: 100%; height: auto;"
              :src="getGifOf(feature.name)"
            >
          </v-sheet>
        </v-carousel-item>
      </v-carousel>
      <!-- <v-card-actions>
        <v-spacer />
        <v-btn
          @click="showDialog = false"
          text
          small
        >
          Close
        </v-btn>
        <v-btn
          v-if="isLock"
          @click="onUnlockFeature"
          class="black white--text"
          small
        >
          Unlock
        </v-btn>
      </v-card-actions> -->
    </v-card>
  </v-dialog>
</template>

<script>
/* eslint-disable global-require */
export default {
  data() {
    return {
      currentIndex: 0,
      showDialog: false,
      permission: null,
      featureName: null,
      isLock: false,
      tutorial: {},
      userLevel: null,
      isHover: false,
      kFeatureNameToTutorial: {
        CREATE_OFFLINE_JOB: {
          icon: 'mdi-briefcase-plus',
          gif: '',
        },
        CREATE_MARKETPLACE_JOB: {
          icon: 'mdi-briefcase-plus',
          gif: '',
        },
        REVIEW_ACCEPT_APPLICANTS: {
          icon: 'mdi-view-dashboard',
          gif: require('../../../assets/img/tutorial-createjob.gif'),
        },
        VIEW_PAST_JOBS: {
          icon: 'mdi-view-dashboard',
          gif: '',
        },
        MARKETPLACE_CHECK_IN: {
          icon: 'mdi-view-dashboard',
          gif: '',
        },
        TIMESHEET: {
          icon: 'mdi-table',
          gif: require('../../../assets/img/test-gif.gif'),
        },
        REPORT: {
          icon: 'mdi-file-chart',
          gif: '',
        },
        ROSTER: {
          icon: 'mdi-account-multiple',
          gif: '',
        },
        FULL_CHECKIN: {
          icon: 'mdi-view-dashboard',
          gif: '',
        },
        LEAVE_SYS: {
          icon: 'mdi-view-dashboard',
          gif: '',
        },
        DISBURSEMENT: {
          icon: 'mdi-view-dashboard',
          gif: '',
        },
        EXTRA_ORGANISATIONS: {
          icon: 'mdi-view-dashboard',
          gif: '',
        },
        CREATE_PRIVATE_MARKETPLACE_JOBS: {
          icon: 'mdi-account-group',
          gif: '',
        },
        POST_JOB: {
          icon: 'mdi-view-dashboard',
          gif: '',
        },
        CREATE_PUBLIC_JOB: {
          icon: 'mdi-view-dashboard',
          gif: '',
        },
        ACCESS_LOW_FINACING_RATE: {
          icon: 'mdi-view-dashboard',
          gif: '',
        },
      },
    };
  },
  methods: {
    getGifOf(featureName) {
      const tutorial = this.kFeatureNameToTutorial[featureName];
      return tutorial && tutorial.gif;
    },
    getIconOf(featureName) {
      const tutorial = this.kFeatureNameToTutorial[featureName];
      return tutorial && tutorial.icon;
    },
    onUnlockFeature() {
      this.showDialog = false;
      this.$eventHub.$emit('show-account-info');
    },
    getUserLevelOf(permission) {
      return this.employerLevels
        .find(l => l.features.some(f => f.permissions.includes(permission)));
    },
    getUserLevelOfFeature(featureName) {
      return this.employerLevels.find(l => l.features.some(f => f.name === featureName));
    },
  },
  computed: {
    employerLevels() {
      return this.$store.state.employerLevels;
    },
    indexOfRespectivePermission() {
      return this.userLevel.features.findIndex(f => f.permissions.includes(this.permission));
    },
    indexOfRespectiveFeature() {
      return this.userLevel.features.findIndex(f => f.name === this.featureName);
    },
  },
  mounted() {
    this.$eventHub.$on('show-tutorial-level', (level, isLock) => {
      const userLevel = this.employerLevels.find(l => l.userLevel === level);
      this.$log.info({ userLevel });
      if (userLevel) {
        this.userLevel = userLevel;
        this.currentIndex = 0;
        this.isLock = isLock;
        this.showDialog = true;
      }
    });
    this.$eventHub.$on('show-tutorial-feature', (featureName, isLock) => {
      this.$log.info({ featureName });
      if (featureName === 'WRITE_ACCESS') {
        this.$eventHub.$emit('show-account-info');
      } else {
        const userLevel = this.getUserLevelOfFeature(featureName);
        if (userLevel) {
          this.userLevel = userLevel;
          this.featureName = featureName;
          this.currentIndex = this.indexOfRespectiveFeature;
          this.isLock = isLock;
          this.showDialog = true;
        }
      }
    });
    this.$eventHub.$on('show-tutorial', (permission, isLock) => {
      const userLevel = this.getUserLevelOf(permission);
      if (userLevel) {
        this.userLevel = userLevel;
        this.permission = permission;
        this.currentIndex = this.indexOfRespectivePermission;
        this.isLock = isLock;
        this.showDialog = true;
      }
    });
  },
};
</script>
