<template>
  <v-container>
    <v-row align="center">
      <v-text-field
        prepend-icon="attach_file"
        single-line
        v-model="filename"
        :label="label"
        :required="required"
        readonly
        @click.native="onFocus"
        :disabled="disabled"
        ref="fileTextField"
      />
      <input
        type="file"
        :accept="accept"
        :multiple="false"
        :disabled="disabled"
        ref="fileInput"
        @change="onFileChange"
      >
      <v-btn
        id="btn-any-BatchUploadDialog-Upload"
        v-if="valid == false"
        class="disable-events"
        @click="upload"
        v-html="'Upload'"
      />
      <v-btn
        id="btn-any-BatchUploadDialog-Upload"
        v-if="valid == true"
        :loading="loading"
        @click="upload"
        v-html="'Upload'"
        outlined
      />
    </v-row>
    <!-- <DialogBox /> -->
  </v-container>
</template>

<script src="xlsx.full.min.js"></script>
<script>
import { storage } from '@/assets/js/firebase';
import moment from 'moment';
import XLSX from 'xlsx';
import validator from 'validator';
import PhoneValidator from 'awesome-phonenumber';
import DialogBox from '@/components/Utils/DialogBox';
import gql from 'graphql-tag';
import apollo from '@/assets/js/apollo';
import mongoose from 'mongoose';
import CONTRACTS from '@/assets/utils/jobContracts';
import { locationDataOf } from '@/assets/js/GeocodeService';

// import { parse } from 'graphql';

export default {
  components: {
    DialogBox,
  },
  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
    value: {
      type: [Array, String],
      default: '',
    },
    accept: {
      type: String,
      default: '*',
    },
    label: {
      type: String,
      default: 'Please choose...',
    },
    required: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    multiple: {
      type: Boolean, // not yet possible because of data
      default: false,
    },
    test: {
      type: Array,
      default: () => [],
    },
  },

  data: () => ({
    filename: '',
    moment,
    files: {},
    result: {},
    paymentMethods: ['ONGO'],
    paymentCurrencys: ['MMK', 'USD'],
    jobTypes: ['PART_TIME', 'FULL_TIME', 'CONTRACT'],
    checkErrorData: [],
    valid: true,
    loading: false,
    contracts: CONTRACTS,
  }),

  watch: {
    value(v) {
      this.filename = v;
    },
  },

  mounted() {
    this.filename = this.value;
  },

  methods: {
    onFocus() {
      if (!this.disabled) {
        this.$refs.fileInput.click();
      }
    },
    onFileChange($event) {
      this.files = $event.target.files || $event.dataTransfer.files;
      this.result = $event.target.result;
      if (this.files) {
        if (this.files.length > 0) {
          this.filename = [...this.files].map(file => file.name).join(', ');
        } else {
          this.filename = null;
        }
      } else {
        this.filename = $event.target.value.split('\\').pop();
      }
    },

    async jsonUpload() {
      this.loading = true;
      let file = this.files[0];
      let reader = new FileReader();
      const _this = this;
      // _this.$log.debug('jsonData...', this.result);
      reader.onload = async function(e) {
        // var data = new Uint8Array(this.result);
        _this.$log.debug('jsonData...', JSON.parse(e));
      };
      reader.readAsArrayBuffer(file);
    },
    async upload() {
      this.loading = true;
      let file = this.files[0];
      let reader = new FileReader();
      const _this = this;
      // let failCount = 0;

      reader.onload = async function() {
        var data = new Uint8Array(this.result);
        var workbook = XLSX.read(data, {type: 'array', raw: true });
        const firstWorksheet = workbook.Sheets[workbook.SheetNames[0]];
        const batchDataArray = XLSX.utils.sheet_to_json(firstWorksheet, { header: 0 });

        async function batchDataLoop(i) {
          let failCount = 0;
          let successCount = 0;

          if(i < batchDataArray.length){
            _this.$log.debug('batchDataArray[i]', batchDataArray[i]);
            _this.$log.debug('batchData...', batchDataArray[i]);
            await _this.createJob(batchDataArray[i]);
            await batchDataLoop(i + 1);
          }
        }
        await batchDataLoop(0);
        _this.loading = false;
      };
      reader.readAsArrayBuffer(file);
    },
    async createJob(batchData) {
      const _this = this;
      const marketplaces = await this.marketplacesQuery();
      const marketplaceId = await marketplaces.find(e => e.name === batchData.marketplace).id;
      this.$log.debug({ marketplaceId });
      const jobRoles = await this.jobRolesQuery();
      const jobRoleId = await jobRoles.find(e => e.name === batchData.role).id;
      this.$log.debug({ jobRoleId });
      const paymentMethods = await this.paymentMethodsQuery();
      const paymentMethodsIds = await paymentMethods
        .filter(e => e.name.includes(batchData.paymentMethod))
        .map(e => e.id);
      this.$log.debug({ paymentMethodsIds });
      const listingStartDate = this.$moment(`${batchData.listingStartDate}`,
        'YYYY-MM-DD').toDate();
      const listingEndDate = this.$moment(`${batchData.listingEndDate}`,
        'YYYY-MM-DD').toDate();
      const locationCoordinates = {
        type: 'Point',
        // coordinates: batchData.locationCoordinates.split(','),
        coordinates: [
          parseFloat(batchData.locationCoordinates.split(',')[0]),
          parseFloat(batchData.locationCoordinates.split(',')[1]),
        ],
      };
      const jobSkills = await this.jobSkillsQuery();
      this.$log.debug('jobSkills...', jobSkills);
      const jobSkillRequirements= [];
      for (let i = 0; i < 10; i += 1) {
        if ( i === 0 ) {
          if (batchData[`requirementName`] != null) {
            this.$log.debug('skillName', batchData[`requirementName`]);
            const skill = jobSkills.find(e => e.name === batchData[`requirementName`]);
            jobSkillRequirements.push({
              skillId: skill.id,
              level: batchData[`requirementLevel`],
              notes: batchData[`requirementSpecialization`],
            });
          }
        } else {
          if (batchData[`requirementName_${i}`] != null) {
            this.$log.debug('skillName', batchData[`requirementName_${i}`]);
            const skill = jobSkills.find(e => e.name === batchData[`requirementName_${i}`]);
            jobSkillRequirements.push({
              skillId: skill.id,
              level: batchData[`requirementLevel_${i}`],
              notes: batchData[`requirementSpecialization_${i}`],
            });
          }
        }
      }
      this.$log.debug('jobSkillRequirements', jobSkillRequirements);
      const [lng, lat] = locationCoordinates.coordinates;
      const location = await locationDataOf(`latlng=${lat},${lng}`);
      const job = {
        organisationId: this.organisation.id,
        marketplaceId: marketplaceId,
        title: batchData.title,
        description: batchData.description,
        requirementDescription: batchData.requirementExtra,
        address: batchData.address,
        type: batchData.type,
        jobRoleId,
        paymentOption: batchData.paymentOption,
        renumerationValue: parseFloat(batchData.renumerationValue, 10),
        hoursPerWeek: parseFloat(batchData.hoursPerWeek),
        paymentMethodsIds,
        allowAdvancedPay: true,
        minShiftsBalance: 0,
        locationCoordinates,
        jobSkillRequirements,
        benefits: batchData.benefits == null ? [] : batchData.benefits.split(',') ,
        isPortfolioRequired: false,
        notes: '',
        proxyCompanyName: this.organisation.name,
        proxyCompanyDescription: batchData.companyDescription,
        isOpenEnded: Boolean(batchData.isOpenEnded),
        allowFlexibleTime: Boolean(batchData.allowFlexibleTime),
        location,
        listingStartDate,
        listingEndDate,
      };
      this.$log.debug({ job });
      const { data } = await this.$JobService.createJob(job)
        .catch((err) => {
          this.$eventHub.$emit('show-alert', {
            type: 'error',
            message: err.graphQLErrors[0].message,
          });
          this.$log.error(err);
        });

      if (data.createJob == null) {
        throw new Error();
      }
      const jobId = data.createJob.id;
      this.$log.debug('jobId...', jobId);
      await this.$OrganisationService.addOrganisationJob({
        organisationId: this.organisation.id,
        id: jobId,
      });

      let shift = {};
      const promises = [];

      for (let i = 0; i < batchData.numberOfVacancies; i += 1) {
        let startTime = this.moment(`${batchData.startDate} ${batchData.startTime}`,
          'YYYY-MM-DD hh:mmZ').toDate();
        let endTime = this.moment(`${batchData.endDate} ${batchData.endTime}`,
          'YYYY-MM-DD hh:mmZ').toDate();
        if (Boolean(batchData.isOpenEnded)) {
          startTime = this.moment(`${batchData.listingStartDate}`,
          'YYYY-MM-DD hh:mmZ').toDate();
          endTime = this.moment(`${batchData.listingEndDate}`,
          'YYYY-MM-DD hh:mmZ').toDate();
        }
        shift = {
          jobId,
          startTime,
          endTime,
        };
        promises.push(this.$JobService.addJobShift(shift));
      }
      const ret2 = await Promise.all(promises)
        .catch((err) => {
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message: 'Error Created',
          });
          this.$log.error(err);
        });
      this.$log.info(ret2);

      if (ret2) {
        const createdContracts = [];
        let contract = this.getContractByCountry(this.organisation.region);
        contract = contract.replace('@@title@@', batchData.title);
        contract = contract
          .replace('@@startDate@@', batchData.startDate || batchData.listingStartDate);
        contract = contract.replace('@@renumerationValue@@',
          `${batchData.renumerationValue}/${batchData.paymentOption}`);
        contract = contract.replace(/@@employerName@@/g, 'JOBDOH');
        contract = contract.replace(/@@companyName@@/g, this.organisation.name);
        const totalContractsToCreate = batchData.numberOfVacancies;
        for (let i = 0; i < totalContractsToCreate; i += 1) {
          createdContracts.push(_this
            .createJobContract(jobId, batchData.renumerationValue, contract));
        }
        await Promise.all(createdContracts);

        const ret3 = await this.$JobService.calculateSiblingShifts({ jobId })
          .catch((err) => {
            this.$eventHub.$emit('show-alert', {
              alert: true,
              type: 'error',
              message: 'Error Created Multiple Vacancies',
            });
            this.$log.error(err);
          });
        // if (ret3) {
        //   this.$eventHub.$emit('show-alert', {
        //     alert: true,
        //     type: 'success',
        //     message: 'Successfully Created',
        //   });
        // }
      }
    },

    getContractByCountry(countryCode) {
      switch (countryCode) {
        case 'hk':
          return this.contracts.template_hk;
        case 'mm':
          return this.contracts.template_mm;
        case 'vn':
          return this.contracts.template_vn;
        default:
          return null;
      }
    },

    async createJobContract(jobId, renumerationValue, contract) {
      const args = {
        jobId,
        // jobId: '5ec241aaecfbb7cf472bab58',
        jobStartDate: new Date(),
        renumerationValue: String(renumerationValue),
        employerId: this.$store.getters.myId,
        signingDateEmployer: new Date(),
        contract,
      };

      const ret = await this.$JobService.createJobContract(args)
        .catch((err) => {
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message: 'Error Creating Contract',
          });
          this.$log.error(err);
        });
      this.$log.info({ ret });
      return ret;
    },
    async paymentMethodsQuery() {
      // eslint-disable-next-line no-underscore-dangle
      // const _this = this;
      let paymentMethods = [];
      const query = await apollo.defaultClient.query({
        query: gql`query paymentMethods(
          $region: String,
        ) {
        paymentMethods(
          region: $region,
        ) {
          id
          name
          code
        }
      }
      `,
        variables: {
          region: this.organisation.region,
        },
      })
        .catch(() => {
        });
      return query.data.paymentMethods;
    },
    async marketplacesQuery() {
      let result = [];
      const query = await apollo.defaultClient.query({
        query: gql`query marketplaces(
          $organisationId: ID
        ) {
        marketplaces(
          organisationId: $organisationId,
        ) {
          id
          name
        }
      }
      `,
        variables: {
          organisationId: this.organisation.id,
        },
      })
        .catch((err) => {
          this.$log.debug('queryError', err);
        });
      if (query.data.marketplaces.length > 0) {
        result = query.data.marketplaces;
      }
      return result;
    },
    async jobRolesQuery() {
      let result = [];
      const query = await apollo.defaultClient.query({
        query: gql`query jobRoles{
        jobRoles{
          id
          name
        }
      }
      `,
      })
        .catch((err) => {
          this.$log.debug('queryError', err);
        });
      if (query.data.jobRoles.length > 0) {
        result = query.data.jobRoles;
      }
      return result;
    },
    async jobSkillsQuery() {
      let result = [];
      const query = await apollo.defaultClient.query({
        query: gql`query jobSkills{
        jobSkills{
          id
          name
          levels {
            level
            definition
          }
          description
        }
      }
      `,
      })
        .catch((err) => {
          this.$log.debug('queryError', err);
        });
      if (query.data.jobSkills.length > 0) {
        result = query.data.jobSkills;
      }
      return result;
    },

  },
};
</script>
<style scoped>
input[type=file] {
    position: absolute;
    left: -99999px;
}

.disable-events {
  pointer-events: none
}
</style>
