<template>
  <v-dialog
    :value="warningDialog"
    @click:outside="warningDialog = false"
    width="400px"
  >
    <v-card>
      <v-card-title>
        Oops, something is missing!
      </v-card-title>
      <v-card-text>
        <v-list-item
          v-for="({tab, message}, i) in requiredFields.filter(f => f.isEmpty)"
          :key="i"
        >
          <v-list-item-icon>
            <v-icon>mdi-alert-circle-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <div v-html="message" />
            <v-list-item-subtitle v-if="tab">
              {{ `under the "${tab}" tab` }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn
          id="btn-CreateMarketplaceJobPage-FillRequiredFieldsDialog-Ok"
          text
          @click="warningDialog = false"
          v-html="'OK'"
        />
      </v-card-actions>
    </v-card>
    <template v-slot:activator="{}">
      <v-btn
        id="btn-CreateMarketplaceJobPage-CreateJob"
        @click="onFinish"
        :loading="isLoading"
        class="ma-1 mr-7 jobdoh"
        dark
      >
        <v-icon
          v-if="requiredFieldsExist"
          left
          id="btn-CreateMarketplaceJobPage-CreateJob"
        >
          mdi-alert-circle-outline
        </v-icon>
        <span id="btn-CreateMarketplaceJobPage-CreateJob">Finish</span>
      </v-btn>
    </template>
  </v-dialog>
</template>

<script>
import { locationDataOf } from '@/assets/js/GeocodeService';
import moment from 'moment';

export default {
  props: {
    job: {
      type: Object,
      default: () => {},
    },
    tempId: {
      type: String,
      default: () => '',
    },
    jobContract: {
      type: String,
      default: () => '',
    },
  },

  data() {
    return {
      warningDialog: false,
      isLoading: false,
    };
  },

  computed: {

    requiredFieldsExist() {
      return this.requiredFields.some(field => field.isEmpty);
    },
    requiredFields() {
      const { job } = this;
      return [
        {
          tab: 'Role',
          message: 'Please select template',
          isEmpty: !job.jobRoleId,
        },
        {
          tab: 'Job Description',
          message: 'Please enter job title',
          isEmpty: !job.title,
        },
        {
          tab: 'Job Description',
          message: 'Please select job type',
          isEmpty: !job.type,
        },
        {
          tab: 'Location',
          message: 'Please enter location',
          isEmpty: !job.locationCoordinates,
        },
        {
          tab: 'Location',
          message: 'Please enter address',
          isEmpty: !job.address,
        },
        {
          tab: '',
          message: 'Marketplace is required for private marketplace job',
          isEmpty: !job.marketplaceId,
        },
        {
          tab: 'Time',
          message: 'Please enter a shift',
          isEmpty: !job.isOpenEnded && job.times.length === 0,
        },
        {
          tab: 'Payment',
          message: 'Please select a payment method',
          isEmpty: job.allowAdvancedPay
            && (!job.paymentMethods || job.paymentMethods.length === 0)
            && job.renumerationValue !== 0,
        },
      ];
    },
  },

  methods: {
    onFinish() {
      if (this.requiredFieldsExist) {
        this.warningDialog = true;
      } else {
        this.createJobData();
      }
    },

    async createJobData() {
      this.isLoading = true;

      const createdJob = await this.createJob();
      if (createdJob) {
        const jobId = createdJob.id;
        await this.addOrganisationJob(jobId);
        const shiftsCreated = await this.createShifts(jobId);
        if (shiftsCreated) {
          const siblingShiftsCalculated = this.calculateSiblingShifts(jobId);
          if (siblingShiftsCalculated) {
            const totalContractsToCreate = shiftsCreated.length || 1;
            const createdContracts = await this.createContract(jobId, totalContractsToCreate);
            if (createdContracts.length === totalContractsToCreate) {
              this.alertSuccess('Job Successfully Created');
              this.clearFromIDB();
              this.$emit('created');
              this.$eventHub.$emit('show-feedback-dialog', {
                featureId: 'CREATE_JOB',
                feedbackQuestion: 'Overall, how easy was it to create a job using JOBDOH?',
              });
              if (!this.$AccessService.isUnlocked('POST_JOB')) {
                this.$eventHub.$emit('show-first-job-created-dialog');
              }
            } else {
              this.alertError(`Only created ${createdContracts.length} contract(s) out of ${totalContractsToCreate}.`);
            }
          }
        }
      }
      this.isLoading = false;
    },
    async createJob() {
      const listingStartDate = this.getListingStartDate();
      const listingEndDate = this.getListingEndDate();
      const jobSkillRequirements = this.job.skills
        .map(({ skillId, level, notes }) => ({ skillId, level, notes }));
      const [lng, lat] = this.job.locationCoordinates.coordinates;
      const location = await locationDataOf(`latlng=${lat},${lng}`);
      this.$log.info(location);
      const marketplaceId = this.$AccessService.isUnlocked('POST_JOB') ? this.job.marketplaceId : this.NOT_POSTED_MARKETPLACE_ID;
      if (this.job.jobRoleId === 'other') {
        this.job.jobRoleId = null;
      }
      const job = {
        organisationId: this.job.organisationId,
        marketplaceId,
        title: this.job.title,
        description: this.job.description,
        requirementDescription: this.job.requirementDescription,
        address: this.job.address,
        type: this.job.type,
        jobRoleId: this.job.jobRoleId,
        paymentOption: this.job.paymentOption,
        allowAdvancedPay: this.job.allowAdvancedPay,
        isPortfolioRequired: this.job.isPortfolioRequired,
        notes: this.job.notes,
        benefits: this.job.benefits,
        proxyCompanyName: this.job.proxyCompanyName,
        proxyCompanyDescription: this.job.proxyCompanyDescription,
        proxyEmployerName: this.job.proxyEmployerName,
        proxyCompanyContact: this.job.proxyCompanyContact,
        proxyCompanyAddress: this.job.proxyCompanyAddress,
        proxyCompanyWebsiteUrl: this.job.proxyCompanyWebsiteUrl,
        isOpenEnded: this.job.isOpenEnded,
        allowFlexibleTime: this.job.allowFlexibleTime,
        location,
        locationCoordinates: this.job.locationCoordinates,
        requirementMinExperienceLevel: this.job.requirementMinExperienceLevel,
        jobSkillRequirements,
        listingStartDate: moment(listingStartDate).isSame(moment(), 'days')
          ? moment().toISOString() : listingStartDate,
        listingEndDate,
        paymentMethodsIds: this.job.paymentMethods.map(e => e.id),
        renumerationValue: parseFloat(this.job.renumerationValue, 10),
        renumerationCurrency: this.job.renumerationCurrency,
        hoursPerWeek: parseFloat(this.job.hoursPerWeek),
        minShiftsBalance: parseInt(this.job.minShiftsBalance, 10),
        affiliateIds: this.job.affiliateIds,
        workingDays: this.job.workingDays,
        workingHours: this.job.workingHours,
        lunchHour: this.job.lunchHour,
        sickLeaveDays: parseInt(this.job.sickLeaveDays, 10),
        personalLeaveDays: parseInt(this.job.personalLeaveDays, 10),
        specialLeaveDays: parseInt(this.job.specialLeaveDays, 10),
        requirementDemographicGender: this.job.requirementDemographicGender,
        availableCountries: this.job.availableCountries,
      };

      const { data } = await this.$JobService.createJob(job)
        .catch(err => this.alertError(err.message, err));
      if (data.createJob == null) throw new Error();
      else return data.createJob;
    },
    async addOrganisationJob(jobId) {
      await this.$OrganisationService.addOrganisationJob({
        organisationId: this.job.organisationId,
        id: jobId,
      });
    },
    async createShifts(jobId) {
      const promises = [];

      if (this.job.isOpenEnded && this.job.times.length === 0) {
        for (let i = 0; i < this.job.vacancies; i += 1) {
          promises.push(
            this.$JobService.addJobShift({
              jobId,
              startTime: this.getListingStartDate(),
              endTime: this.getListingEndDate(),
            }),
          );
        }
      } else {
        const divisible = !(this.job.times.length > 1);
        this.job.times.forEach((time) => {
          for (let i = 0; i < this.job.vacancies; i += 1) {
            promises.push(this.$JobService.addJobShift({
              jobId,
              startTime: time.start,
              endTime: time.end,
              divisible,
            }));
          }
        });
      }

      const shiftsCreated = await Promise.all(promises)
        .catch(err => this.alertError('Error Creating Shifts', err));
      this.$log.info(shiftsCreated);
      return shiftsCreated;
    },
    async createContract(jobId, total) {
      const createdContracts = [];
      for (let i = 0; i < total; i += 1) {
        createdContracts.push(this.createJobContract(jobId));
      }
      await Promise.all(createdContracts);
      return createdContracts;
    },
    async calculateSiblingShifts(jobId) {
      const ret = await this.$JobService.calculateSiblingShifts({ jobId })
        .catch(err => this.alertError('Error Created Multiple Vacancies', err));
      return ret;
    },
    async createJobContract(jobId) {
      const args = {
        jobId,
        // jobId: '5ec241aaecfbb7cf472bab58',
        jobStartDate: new Date(),
        renumerationValue: String(this.job.renumerationValue),
        employerId: this.$store.getters.myId,
        signingDateEmployer: new Date(),
        contract: this.jobContract,
      };

      const ret = await this.$JobService.createJobContract(args)
        .catch(err => this.alertError('Error Creating Contract', err));
      this.$log.info({ ret });
      return ret;
    },
    clearFromIDB() {
      this.$IdbService.editTempJobToDb({ ...this.job, id: this.tempId, complete: true });
    },

    // utils
    getListingStartDate() {
      return this.$moment(`${this.job.listingStartDate}`, 'YYYY-MM-DD').toDate();
    },
    getListingEndDate() {
      return this.$moment(`${this.job.listingEndDate}`, 'YYYY-MM-DD').toDate();
    },
    alertSuccess(message) {
      this.$eventHub.$emit('show-alert', {
        alert: true,
        type: 'success',
        message,
      });
    },
    alertError(message, err) {
      this.$eventHub.$emit('show-alert', {
        alert: true,
        type: 'error',
        message,
      });
      if (err) this.$log.error(err);
    },
  },
};
</script>
