<template>
  <v-btn
    id="btn-EditJobPage-UpdateJob"
    class="jobdoh"
    @click="updateJob"
    :dark="hasChanges"
    :disabled="!hasChanges"
    v-html="'Update Job'"
  />
</template>

<script>
export default {
  props: {
    job: {
      type: Object,
      default: () => {},
    },
    oldJob: {
      type: Object,
      default: () => {},
    },
    organisation: {
      type: Object,
      default: () => {},
    },
  },
  computed: {
    hasChanges() {
      return JSON.stringify(this.job) !== JSON.stringify(this.oldJob);
    },
  },
  methods: {
    getListingStartDate() {
      return this.$moment(`${this.job.listingStartDate}`, 'YYYY-MM-DD').toDate();
    },
    getListingEndDate() {
      return this.$moment(`${this.job.listingEndDate}`, 'YYYY-MM-DD').toDate();
    },
    async updateJob() {
      // let failCount = 0;
      const listingStartDate = this.getListingStartDate();
      const listingEndDate = this.getListingEndDate();
      const organisationId = this.organisation.id;
      const jobSkillRequirements = this.job.skills
        .map(({ skillId, level, notes }) => ({ skillId, level, notes }));
      const args = {
        id: this.job.id,
        organisationId,
        title: this.job.title,
        type: this.job.type,
        renumerationValue: parseFloat(this.job.renumerationValue),
        renumerationCurrency: this.job.renumerationCurrency,
        // eslint-disable-next-line radix
        minShiftsBalance: parseInt(this.job.minShiftsBalance),
        paymentMethodsIds: this.job.paymentMethods.map(e => e.id),
        paymentOption: this.job.paymentOption,
        locationCoordinates: this.locationCoordinates,
        allowAdvancedPay: this.job.allowAdvancedPay,

        requirementDescription: this.job.requirementDescription,
        description: this.job.description,
        address: this.job.address,
        location: this.job.location,
        role: this.job.role,
        fulltimeStandardHoursStart: this.job.fulltimeStandardHoursStart,
        fulltimeStandardHoursEnd: this.job.fulltimeStandardHoursEnd,
        fulltimeOvertimeRenumerationPerHour: this.job.fulltimeOvertimeRenumerationPerHour,
        fulltimeLeavePersonalAccruePerDay: this.job.fulltimeLeavePersonalAccruePerDay,
        fulltimeLeaveSickAccruePerDay: this.job.fulltimeLeaveSickAccruePerDay,
        fulltimePublicHolidays: this.job.fulltimePublicHolidays,
        fulltimeNonWorkWeekDays: this.job.fulltimeNonWorkWeekDays,
        benefits: this.job.benefits,
        jobTypeConversion: this.job.jobTypeConversion,
        contractAcceptanceTest: this.job.contractAcceptanceTest,
        requirementNumberOfContracts: this.job.requirementNumberOfContracts,
        requirementSpokenLanguages: this.job.requirementSpokenLanguages,
        requirementWrittenLanguages: this.job.requirementWrittenLanguages,
        requirementDocuments: this.job.requirementDocuments,
        requirementScreeningChannels: this.job.requirementScreeningChannels,
        requirementRequiredSkills: this.job.requirementRequiredSkills,
        requirementVenueWorked: this.job.requirementVenueWorked,
        requirementPreferredSkills: this.job.requirementPreferredSkills,
        requirementDressCodes: this.job.requirementDressCodes,
        requirementCustomDressCode: this.job.requirementCustomDressCode,
        requirementDemographicAgeGroup: this.job.requirementDemographicAgeGroup,
        requirementDemographicGender: this.job.requirementDemographicGender,
        isOpenEnded: this.job.isOpenEnded,
        proxyCompanyName: this.job.proxyCompanyName,
        proxyCompanyDescription: this.job.proxyCompanyDescription,
        proxyEmployerName: this.job.proxyEmployerName,
        proxyCompanyContact: this.job.proxyCompanyContact,
        proxyCompanyAddress: this.job.proxyCompanyAddress,
        requirementMinExperienceLevel: this.job.requirementMinExperienceLevel,
        listingStartDate,
        listingEndDate,
        jobSkillRequirements,
        jobRoleId: this.job.jobRoleId,
        availableCountries: this.job.availableCountries,
      };

      const result = await this.$JobService.updateJob(args)
        .catch((err) => {
          // failCount = 0;
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message: `Updating job is not successful! ${err}`,
          });
        });
      if (result) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Job updated successfully',
        });
        this.$emit('updated');
        this.$router.back();
      }
    },
  },
};
</script>
