<template>
  <v-btn
    id="btn-CreateMarketplaceJobPage-CreateOfflineJob"
    class="ma-1 mr-7 jobdoh"
    dark
    @click.once="createJob"
    v-html="'Finish'"
    :loading="loading"
  />
</template>

<script>
import CONTRACTS from '@/assets/utils/jobContracts';

export default {
  props: {
    /*
    jobData: {
        paymentOptions: 'hourly',
        renumerationValue: 0,
        paymentMethods: [],
        currency: '',
        allowAdvancedPay: false,
        minShiftsBalance: 0,
      },
    */
    organisation: {
      type: Object,
      default: () => {},
    },
    job: {
      type: Object,
      default: () => {},
    },
    tempId: {
      type: String,
      default: () => '',
    },
  },

  data: () => ({
    loading: false,
    organisationId: '',
    title: '',
    marketplaceId: '',
    jobRoleId: '',
    type: '',
    times: [],
    address: '',
    location: {},
    coordinates: '',
    notes: '',
    description: '',
    requirementDescription: '',
    skills: [],
    experience: '',
    benefits: [],
    isPortfolioRequired: false,
    paymentOption: 'HOURLY',
    renumerationValue: 0,
    paymentMethods: [],
    allowAdvancedPay: false,
    minShiftsBalance: 0,
    hoursPerWeek: 0,
    isOpenEnded: false,
    allowFlexibleTime: false,
    listingStartDate: null,
    listingEndDate: null,
    contracts: CONTRACTS,
  }),

  computed: {
    contract() {
      let str = this.getContractByCountry(this.organisation.region);
      const {
        title, paymentOption, proxyCompanyName, proxyEmployerName,
      } = this.job;
      str = str.replace('@@title@@', title);
      str = str.replace('@@startDate@@', this.startDate);
      str = str.replace('@@renumerationValue@@', `${this.renumerationValue}/${paymentOption}`);
      str = str.replace(/@@employerName@@/g, proxyEmployerName);
      str = str.replace(/@@companyName@@/g, proxyCompanyName);
      return str;
    },
  },

  methods: {
    async createJob() {
      this.loading = true;
      const job = {
        organisationId: this.organisation.id,
        title: this.job.title,
        description: this.job.description,
        requirementDescription: this.job.requirementDescription,
        address: this.job.address,
        type: this.job.type,
        // jobRoleId: this.job.jobRoleId,
        paymentOption: this.job.paymentOption,
        renumerationValue: parseFloat(this.job.renumerationValue, 10),
        hoursPerWeek: parseFloat(this.job.hoursPerWeek),
        paymentMethodsIds: this.job.paymentMethods.map(e => e.id),
        allowAdvancedPay: true,
        minShiftsBalance: parseInt(this.job.minShiftsBalance, 10),
        locationCoordinates: this.job.locationCoordinates,
        isPortfolioRequired: this.job.isPortfolioRequired,
        notes: this.job.notes,
        private: true,
        allowFlexibleTime: this.job.allowFlexibleTime,
      };
      const { data } = await this.$JobService.createJob(job)
        .catch((err) => {
          this.$eventHub.$emit('show-alert', {
            type: 'error',
            message: err.graphQLErrors[0].message,
          });
          this.$log.error(err);
        });

      if (data.createJob == null) {
        throw new Error();
      }
      const jobId = data.createJob.id;
      await this.$OrganisationService.addOrganisationJob({
        organisationId: this.organisationId,
        id: jobId,
      });

      let shift = {};
      const promises = [];

      this.times.forEach((time) => {
        for (let i = 0; i < time.vacancies; i += 1) {
          shift = {
            jobId,
            startTime: time.start,
            endTime: time.end,
          };
          promises.push(this.$JobService.addJobShift(shift));
        }
      });
      const ret2 = await Promise.all(promises)
        .catch((err) => {
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message: 'Error Created',
          });
          this.$log.error(err);
        });
      this.$log.info(ret2);

      if (ret2) {
        const ret3 = await this.$JobService.calculateSiblingShifts({ jobId })
          .catch((err) => {
            this.$eventHub.$emit('show-alert', {
              alert: true,
              type: 'error',
              message: 'Error Created Multiple Vacancies',
            });
            this.$log.error(err);
          });
        if (ret3) {
          await this.createJobContract(jobId, this.contract);
          const tempJob = this.job;
          tempJob.id = this.tempId;
          tempJob.complete = true;
          this.$IdbService.editTempJobToDb(tempJob);
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'success',
            message: 'Successfully Created',
          });
          this.$emit('created');
        }
      }
      this.loading = false;
    },
    async createJobContract(jobId, contract) {
      const args = {
        jobId,
        jobStartDate: new Date(),
        renumerationValue: String(this.job.renumerationValue),
        employerId: this.$store.getters.myId,
        signingDateEmployer: new Date(),
        contract,
      };

      const ret = await this.$JobService.createJobContract(args)
        .catch((err) => {
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message: 'Error Creating Contract',
          });
          this.$log.error(err);
        });
      this.$log.info({ ret });
      return ret;
    },
    extractData(job) {
      const keys = Object.keys(job);

      keys.forEach((key) => {
        this[key] = job[key];
      });
    },
    getContractByCountry(countryCode) {
      switch (countryCode) {
        case 'hk':
          return this.contracts.template_hk;
        case 'mm':
          return this.contracts.template_mm;
        case 'vn':
          return this.contracts.template_vn;
        default:
          return null;
      }
    },
  },

  watch: {
    job() {
      this.extractData(this.job);
    },
  },

  mounted() {
    // this.$root.$on('save-job-create-form-data', (job) => {
    //   this.$log.debug('info received', job);
    //   this.extractData(job);
    // });
    this.extractData(this.job);
  },
};
</script>
