<template>
  <v-btn
    id="btn-any-CopyText"
    icon
    @click="copyShareLink"
  >
    <v-icon id="btn-any-CopyText">
      mdi-share-variant
    </v-icon>
  </v-btn>
</template>

<script>

export default {
  components: {
  },

  props: {
    link: {
      type: String,
      default: () => '',
    },
  },

  data: () => ({
  }),

  watch: {
  },

  mounted() {
  },

  methods: {
    copyShareLink() {
      this.$copyText(this.link).then(() => {
        // eslint-disable-next-line no-alert
        alert('Copied');
      }, (e) => {
        // eslint-disable-next-line no-alert
        alert('Can not copy');
        this.$log.error('Copy Error', e);
      });
    },
  },
};
</script>
