<template>
  <div>
    <v-dialog
      v-model="showDialog"
      height="600"
      width="600"
    >
      <v-card>
        <v-card-text>
          <v-row>
            <v-col
              cols="6"
            >
              <v-layout
                style="display: flex; flex-direction: column;"
              >
                <v-label>
                  Checkin Time
                </v-label>
                <div
                  :style="`
                    color: ${checkinTimeFlag ? 'red': ''}
                  `"
                >
                  {{ workToken.checkinTime | moment('DD-MMM ddd hh:mm A') }}
                </div>
              </v-layout>
            </v-col>
            <v-col
              cols="6"
            >
              <v-layout
                style="display: flex; flex-direction: column;"
              >
                <v-label>
                  Checkout Time
                </v-label>
                <div
                  :style="`
                    color: ${checkoutTimeFlag ? 'red': ''}
                  `"
                >
                  {{ workToken.checkoutTime | moment('DD-MMM ddd hh:mm A') }}
                </div>
              </v-layout>
            </v-col>
          </v-row>

          <v-row>
            <v-col
              cols="6"
            >
              <v-label>
                Checkin Image
              </v-label>
              <v-img
                class="ml-0"
                width="200"
                height="200"
                :src="checkinImage"
              />
            </v-col>
            <v-col
              cols="6"
            >
              <v-label>
                Checkout Image
              </v-label>
              <v-img
                class="ml-0"
                width="200"
                height="200"
                :src="checkoutImage"
              />
            </v-col>
          </v-row>

          <v-row>
            <v-col
              cols="6"
            >
              <v-label>Checkin Location</v-label>
              <gmap-map
                :center="checkinCoordinates"
                :zoom="17"
                :options="{ fullScreenControl: false }"
                :style="`
                  width: 200px;
                  height: 200px;
                  border: ${checkinLocationFlag ? '3px solid red': ''}
                `"
              >
                <gmap-marker
                  :key="index"
                  v-for="(m, index) in markers"
                  :position="m.position"
                  :clickable="true"
                />
              </gmap-map>
            </v-col>
            <v-col
              cols="6"
            >
              <v-label>Checkout Location</v-label>
              <gmap-map
                :center="checkoutCoordinates"
                :zoom="17"
                :style="`
                  width: 200px;
                  height: 200px;
                  border: ${checkoutLocationFlag ? '3px solid red': ''}
                `"
              >
                <gmap-marker
                  :key="index"
                  v-for="(m, index) in markers"
                  :position="m.position"
                  :clickable="true"
                />
              </gmap-map>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-chip
      :color="color"
      text-color="white"
      label
      style="height: 40px; font-size: 20px;"
      @click="showDialog = true"
    >
      {{ workToken.checkinTime | moment("DD-MMM ddd") }}
      ({{ workToken.checkinTime | moment("hh:mm A") }}-
      {{ workToken.checkoutTime | moment("hh:mm A") }})
    </v-chip>
  </div>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: '',
    },
    workToken: {
      type: Object,
      default: () => {},
    },
  },

  computed: {
    checkinImage() {
      const { references } = this.workToken;
      if (references == null) return null;
      this.$log.warn({ references });

      const o = references.find(e => e.key === 'CHECKIN_IMAGE');
      if (o == null) return null;

      return o.value;
    },
    checkoutImage() {
      const { references } = this.workToken;
      if (references == null) return null;

      const o = references.find(e => e.key === 'CHECKOUT_IMAGE');
      if (o == null) return null;

      return o.value;
    },
    checkinCoordinates() {
      const { references } = this.workToken;
      if (references == null) return null;

      const o = references.find(e => e.key === 'CHECKIN_COORDINATES');
      if (o == null) return null;

      return o.value;
    },
    checkoutCoordinates() {
      const { references } = this.workToken;
      if (references == null) return null;

      const o = references.find(e => e.key === 'CHECKOUT_COORDINATES');
      if (o == null) return null;

      return o.value;
    },
    markers() {
      if (this.checkoutCoordinates == null || this.checkinCoordinates == null) {
        return [];
      }
      const markers = [{
        position: {
          lat: this.checkinCoordinates.lat,
          lng: this.checkinCoordinates.lng,
        },
        label: 'Checkin Location',
      }, {
        position: {
          lat: this.checkoutCoordinates.lat,
          lng: this.checkoutCoordinates.lng,
        },
        label: 'Checkout Location',
      }];

      // job
      const { shift } = this.workToken;
      if (shift != null) {
        const { job } = shift;
        const { locationCoordinates } = job;
        if (locationCoordinates != null) {
          const { type, coordinates } = locationCoordinates;
          if (type === 'Point') {
            const [lng, lat] = coordinates;
            const label = 'Office';
            const position = {
              lat,
              lng,
            };
            markers.push({ position, label });
          }
        }
      }

      return markers;
    },
    checkinLocationFlag() {
      if (this.workToken.references == null) return false;
      const { references } = this.workToken;
      const checkin = references.find(e => e.key === 'CHECKIN_COORDINATES');
      if (checkin == null) return null;

      if (this.workToken.shift == null) return false;
      const { shift } = this.workToken;
      if (shift.job == null) return false;
      const { job } = shift;
      if (job.locationCoordinates == null) return false;
      const { locationCoordinates } = job;
      const { type, coordinates } = locationCoordinates;

      if (type === 'Point') {
        const [lng, lat] = coordinates;
        const jobCoords = {
          lat,
          lng,
        };

        const checkinDistanceInKM = this.$TimesheetService
          .haversineDistanceKilometer(checkin.value, jobCoords);

        return checkinDistanceInKM > 0.2;
      }

      return false;
    },
    checkoutLocationFlag() {
      if (this.workToken.references == null) return false;
      const { references } = this.workToken;
      const checkout = references.find(e => e.key === 'CHECKOUT_COORDINATES');
      if (checkout == null) return null;


      if (this.workToken.shift == null) return false;
      const { shift } = this.workToken;
      if (shift.job == null) return false;
      const { job } = shift;
      if (job.locationCoordinates == null) return false;
      const { locationCoordinates } = job;
      const { type, coordinates } = locationCoordinates;

      if (type === 'Point') {
        const [lng, lat] = coordinates;
        const jobCoords = {
          lat,
          lng,
        };


        const checkoutDistanceInKM = this.$TimesheetService
          .haversineDistanceKilometer(checkout.value, jobCoords);

        return checkoutDistanceInKM > 0.2;
      }
      return false;
    },
    checkinTimeFlag() {
      const { references } = this.workToken;
      if (references == null) return false;
      const o = references.find(e => e.key === 'MANUAL_CHECKOUT_TIME');
      if (o != null && o.value) {
        return true;
      }

      if (this.workToken.shift == null) return false;
      const { shift } = this.workToken;
      const { startTime } = shift;
      const { checkinTime } = this.workToken;

      const diff = this.$TimesheetService
        .compareTimeOnlyDifference(startTime, checkinTime);

      return (diff > 60);
    },
    checkoutTimeFlag() {
      const { references } = this.workToken;
      if (references == null) return false;
      const o = references.find(e => e.key === 'MANUAL_CHECKOUT_TIME');
      if (o != null && o.value) {
        return true;
      }

      if (this.workToken.shift == null) return false;
      const { shift } = this.workToken;
      const { endTime } = shift;
      const { checkinTime } = this.workToken;

      const diff = this.$TimesheetService
        .compareTimeOnlyDifference(endTime, checkinTime);

      return (diff > 60);
    },
  },

  data: () => ({
    showDialog: false,
  }),
};
</script>
