<template>
  <v-list-item
    class="pa-0"
    :disabled="disabled"
  >
    <v-list-item-avatar class="my-0">
      <v-icon>mdi-calendar</v-icon>
    </v-list-item-avatar>
    <v-list-item-content class="pa-0">
      <v-list-item-subtitle v-text="status" />
      <v-list-item-title v-text="`${leaveDate}  (${leaveValue} days)`" />
      <v-list-item-subtitle v-text="leaveType" />
    </v-list-item-content>
    <v-btn
      id="btn-LeavePage-Check"
      v-if="employer && isPending"
      class="success white--text"
      small
      icon
      @click="$emit('accept')"
    >
      <v-icon
        id="btn-LeavePage-Check"
        small
      >
        mdi-check
      </v-icon>
    </v-btn>
    <div class="mx-1" />
    <v-btn
      id="btn-LeavePage-Reject"
      v-if="employer && isPending"
      class="error white--text"
      small
      icon
      @click="$emit('reject')"
    >
      <v-icon
        id="btn-LeavePage-Reject"
        small
      >
        mdi-close
      </v-icon>
    </v-btn>
  </v-list-item>
</template>

<script>
import moment from 'moment';

export default {
  props: {
    leaveToken: {
      type: Object,
      required: true,
    },
    employer: Boolean,
    disabled: Boolean,
    showStatus: Boolean,
  },
  computed: {
    leaveDate() {
      const dateFormat = 'MMM D, YYYY';
      const { leaveStart, leaveEnd } = this.leaveToken.references[0];
      const momentStart = moment(leaveStart);
      const momentEnd = moment(leaveEnd);
      if (momentStart.isSame(momentEnd, 'day')) return momentStart.format(dateFormat);
      return `${momentStart.format(dateFormat)} ~ ${momentEnd.format(dateFormat)}`;
    },
    leaveValue() {
      const { leaveStart, leaveEnd, halfDay } = this.leaveToken.references[0];
      return moment(leaveEnd || leaveStart).diff(leaveStart, 'days') + 1 - (halfDay ? 0.5 : 0);
    },
    leaveType() {
      const { type } = this.leaveToken;
      if (type === 'LEAVE_SICK') return this.$t('sickleave');
      if (type === 'LEAVE_PERSONAL') return this.$t('personalleave');
      if (type === 'LEAVE_SPECIAL') return this.$t('specialleave');
      if (type === 'LEAVE_UNPAID') return this.$t('unpaidleave');
      return '';
    },
    isHalfDay() {
      return this.leaveToken.references[0].halfDay;
    },
    isPending() {
      return this.leaveToken.confirmed === null;
    },
    status() {
      if (this.showStatus) {
        return this.isPending ? this.$t('pending') : this.$t('approved');
      }
      return '';
    },
  },
};
</script>

<style>

</style>
