<template>
  <!-- eslint-disable max-len  -->
  <v-card flat>
    <v-card-title>
      {{ $t('leaveSummary') }}
    </v-card-title>
    <v-card-text>
      <v-card
        outlined
      >
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">
                  {{ $t('leaveType') }}
                </th>
                <th class="text-left">
                  {{ $t('available') }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="{type, label, pendingLeave, availableLeave} in leaveTypes"
                :key="type"
              >
                <td>{{ $t(label.toLowerCase().replace(/\s/g, '')) }}</td>
                <td>
                  {{ `${availableLeave.toFixed(1)} days` }}
                  <span class="grey--text">
                    {{ `${pendingLeave ? `(${(availableLeave - pendingLeave).toFixed(1)} ${$t('pending')})` : ''}` }}
                  </span>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-card>
      <v-list
        dense
        two-line
        subheader
      >
        <!-- <div v-if="currentLeave">
          <v-subheader>
            Current Leave
          </v-subheader>
          <leave-item
            :leave-token="currentLeave"
          />
        </div> -->
        <div v-if="requestedLeaves.length">
          <v-subheader>
            {{ $t('requestedLeave') }}
          </v-subheader>
          <leave-item
            :employer="employer"
            v-for="(leaveToken, i) in requestedLeaves"
            :key="i"
            :leave-token="leaveToken"
            @accept="$emit('accept-leave', leaveToken)"
            @reject="$emit('reject-leave', leaveToken)"
            show-status
          />
        </div>
        <!-- <div v-if="futureLeaves.length">
          <v-divider />
          <v-subheader>
            Future Leave (Approved)
          </v-subheader>
          <leave-item
            v-for="(leaveToken, i) in futureLeaves"
            :key="i"
            :leave-token="leaveToken"
          />
        </div> -->
        <div v-if="rejectedLeaves.length">
          <v-divider />
          <v-subheader>
            {{ $t('rejectedLeave') }}
          </v-subheader>
          <leave-item
            :employer="employer"
            v-for="(leaveToken, i) in rejectedLeaves"
            :key="i"
            :leave-token="leaveToken"
            @accept="$emit('accept-leave', leaveToken)"
            @reject="$emit('reject-leave', leaveToken)"
            disabled
          />
        </div>
        <div v-if="pastLeaves.length">
          <v-divider />
          <v-subheader>
            Past Leave
          </v-subheader>
          <leave-item
            v-for="(leaveToken, i) in pastLeaves"
            :key="i"
            :leave-token="leaveToken"
            disabled
          />
        </div>
      </v-list>
    </v-card-text>
    <v-card-actions
      v-if="!employer"
      class="elevation-4"
      style="
        position: fixed;
        justify-content: center;
        bottom: 0;
        width: 100%;
        background-color: white;
        "
    >
      <leave-button
        style="width: 100%"
        :shift="shift"
        :leave-types="leaveTypes"
        @requested="$emit('requested')"
      />
    </v-card-actions>
  </v-card>
</template>

<script>
/* eslint-disable vue/require-default-prop */
import moment from 'moment';
import LeaveButton from './LeaveButton';
import LeaveItem from './LeaveItem';

export default {
  components: {
    LeaveButton,
    LeaveItem,
  },
  props: {
    employer: Boolean,
    organisation: {
      type: Object,
      required: true,
    },
    shift: {
      type: Object,
      required: true,
    },
  },
  computed: {
    pastLeaves() {
      return this.shift.pastLeaves;
    },
    requestedLeaves() {
      const { unconfirmedLeaves, futureLeaves, currentLeave } = this.shift;
      return [...unconfirmedLeaves, ...futureLeaves, currentLeave].filter(e => !!e);
    },
    unconfirmedLeaves() {
      return this.shift.unconfirmedLeaves;
    },
    rejectedLeaves() {
      return this.shift.rejectedLeaves;
    },
    futureLeaves() {
      return this.shift.futureLeaves;
    },
    currentLeave() {
      return this.shift.currentLeave;
    },
    leaveTypes() {
      const {
        leaveSickAccuralRateDaysPerYear,
        leavePersonalAccrualRateDaysPerYear,
        leaveSpecialAccuralRateDaysPerYear,
      } = this.organisation;
      const {
        leaveSickDays,
        leaveSickUpdateDate,
        leavePersonalDays,
        leavePersonalUpdateDate,
        leaveSpecialDays,
        leaveSpecialUpdateDate,
      } = this.shift;

      const totalDayForSickLeave = this.getLeaveDay(
        leaveSickDays,
        leaveSickUpdateDate,
        leaveSickAccuralRateDaysPerYear,
      );
      const totalDayForPersonalLeave = this.getLeaveDay(
        leavePersonalDays,
        leavePersonalUpdateDate,
        leavePersonalAccrualRateDaysPerYear,
      );
      const totalDayForSpecialLeave = this.getLeaveDay(
        leaveSpecialDays,
        leaveSpecialUpdateDate,
        leaveSpecialAccuralRateDaysPerYear,
      );

      const leaveTypes = [
        {
          type: 'LEAVE_SICK',
          availableLeave: totalDayForSickLeave,
          label: 'Sick Leave',
        },
        {
          type: 'LEAVE_PERSONAL',
          availableLeave: totalDayForPersonalLeave,
          label: 'Personal Leave',
        },
        {
          type: 'LEAVE_SPECIAL',
          availableLeave: totalDayForSpecialLeave,
          label: 'Other Leaves',
        },
      ].map((e) => {
        const requestedLeavesValue = this.unconfirmedLeaves
          .filter(l => l.type === e.type)
          .map(l => this.getLeaveValue(l.references[0]))
          .reduce((p, c) => p + c, 0);
        return {
          ...e,
          availableLeave: e.availableLeave,
          pendingLeave: requestedLeavesValue,
        };
      });
      return leaveTypes;
    },
  },
  methods: {
    // hasRequestLeaves(leaveType) {
    //   return this.requestedLeaves.some(e => e.type === leaveType);
    // },

    // leaveDays = lastUpdatedDay * (leaveAccuPerYear / 365) - actualLeaveDays
    getLeaveDay(leaveDay, updatedDate, leaveAccuPerYear) {
      const lastUpdatedDay = moment().diff(moment(updatedDate || moment.now()), 'days');
      this.$log.debug(leaveDay, `${lastUpdatedDay}days ago`, leaveAccuPerYear / 365);
      const ret = leaveAccuPerYear && leaveDay + lastUpdatedDay * (leaveAccuPerYear / 365);
      this.$log.debug(ret);
      return ret;
    },
    getLeaveValue({ leaveStart, leaveEnd, halfDay }) {
      return moment(leaveEnd || leaveStart).diff(leaveStart, 'days') + (halfDay ? 0.5 : 1);
    },
  },
};
</script>

<style>

</style>
