<template>
  <!-- eslint-disable max-len -->
  <v-dialog
    v-model="showDialog"
  >
    <v-card>
      <v-card-title>
        {{ $t('requestLeave') }}
      </v-card-title>
      <v-card-text>
        <v-radio-group
          v-model="selectedLeaveType"
          mandatory
        >
          <v-radio
            v-for="leaveType in [...leaveTypes, unpaidLeaveType]"
            :key="leaveType.type"
            :value="leaveType"
            :disabled="leaveType.availableLeave - leaveType.pendingLeave < 0.5"
            :label="`${ $t(leaveType.label.toLowerCase().replace(/\s/g, ''))}`"
          />
        </v-radio-group>
        <v-dialog
          ref="dialog"
          v-model="datePickerDialog"
          :return-value.sync="date"
          persistent
          width="290px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              v-model="dateRange"
              :label="$t('chooseLeaveDays')"
              prepend-inner-icon="event"
              readonly
              outlined
              v-bind="attrs"
              v-on="on"
              :error="insufficientLeave"
              hide-details
            />
          </template>
          <v-date-picker
            v-model="date"
            type="date"
            range
            scrollable
          >
            <v-spacer />
            <v-btn
              id="btn-LeavePage-DatePickerDialog-Cancel"
              text
              color="primary"
              @click="datePickerDialog = false"
              v-html="$t('cancel')"
            />
            <v-btn
              id="btn-LeavePage-DatePickerDialog-OK"
              text
              color="primary"
              @click="$refs.dialog.save(date)"
              v-html="$t('btnOkText')"
            />
          </v-date-picker>
        </v-dialog>
        <v-alert
          v-if="insufficientLeave"
          color="error"
          dense
          style="font-size: 0.9em"
          :rounded="false"
        >
          {{ `Insufficient leave (${availableLeave && availableLeave.toFixed(1)} days available)` }}
        </v-alert>
        <v-checkbox
          v-if="selectedLeaveType && selectedLeaveType.type !== 'LEAVE_UNPAID'"
          class="mt-2"
          v-model="halfDay"
          :label="$t('halfDayLeave')"
          hide-details
        />
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn
          id="btn-LeavePage-RequestLeaveDialog-Close"
          text
          @click="showDialog = false"
          v-html="$t('close')"
        />
        <v-btn
          id="btn-LeavePage-RequestLeaveDialog-Request"
          :loading="loading"
          @click="requestLeave"
          :dark="!invalidRequest"
          :disabled="invalidRequest"
          v-html="$t('request')"
        />
      </v-card-actions>
    </v-card>
    <template #activator="{on}">
      <v-btn
        id="btn-LeavePage-RequestLeave"
        v-on="on"
        small
        block
        dark
        :loading="loading"
      >
        {{ $t('requestLeave') }}
      </v-btn>
    </template>
  </v-dialog>
</template>

<script>
/* eslint-disable vue/require-default-prop */
import moment from 'moment';

export default {
  props: {
    shift: {
      type: Object,
      required: true,
    },
    leaveTypes: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      showDialog: false,
      datePickerDialog: false,
      date: [moment().format('YYYY-MM-DD')],
      selectedLeaveType: null,
      halfDay: false,
      loading: false,
      unpaidLeaveType: {
        type: 'LEAVE_UNPAID',
        label: 'Unpaid Leave',
      },
    };
  },
  computed: {
    invalidRequest() {
      return !this.leaveRange.length || this.insufficientLeave;
    },
    insufficientLeave() {
      return (this.selectedLeaveType && this.selectedLeaveType.type !== 'LEAVE_UNPAID')
          && (this.availableLeave < this.expectedLeaveValue);
    },
    expectedLeaveValue() {
      if (!this.leaveRange.length) return 0;
      const [leaveStart, leaveEnd] = this.leaveRange;
      return moment(leaveEnd || leaveStart).diff(leaveStart, 'days') + (this.halfDay ? 0.5 : 1);
    },
    leaveRange() {
      return Array.from(this.date).sort((a, b) => moment(a).utc() - moment(b).utc());
    },
    availableLeave() {
      return this.selectedLeaveType
        ? this.selectedLeaveType.availableLeave - this.selectedLeaveType.pendingLeave : 1;
    },
    dateRange() {
      return this.leaveRange.join(' ~ ');
    },
    canTakeLeave() {
      return this.leaveTypes.some(t => t.availableLeave - t.pendingLeave >= 0.5);
    },
    leaveRequestIsPending() {
      return this.shift.leaveUnconfirmed;
    },
    onLeave() {
      return !!this.shift.currentLeave;
    },
    // totalAvaliableLeave() {
    //   return Math.round(this.leaveTypes.map(e => e.availableLeave).reduce((p, c) => p + c));
    // },
    totalShiftHour() {
      let { startTime, endTime } = this.shift;
      startTime = `${moment().format('YYYY-MM-DD') + moment(startTime).format('THH:mm:ss')}`;
      endTime = `${moment().format('YYYY-MM-DD') + moment(endTime).format('THH:mm:ss')}`;
      return moment(endTime).diff(startTime, 'hours');
    },
    leaveEndTime() {
      const { endTime } = this.shift;
      if (this.halfDay) {
        return moment(endTime).subtract(this.totalShiftHour / 2, 'hours').format('HH:mm:ss');
      }
      return '23:59:59';
    },
  },
  methods: {
    async requestLeave() {
      this.loading = true;
      const { shift } = this;
      const [startDate, endDate] = this.leaveRange;
      const utcOffset = moment().utcOffset();
      const leaveStart = moment(`${moment(startDate).format('YYYY-MM-DD')}T00:00:00`).toISOString();
      const leaveEnd = moment(`${moment(endDate || startDate).format('YYYY-MM-DD')}T${this.leaveEndTime}`).toISOString();
      const args = {
        shiftId: shift.id,
        workerId: this.$store.getters.myId,
        leaveType: this.selectedLeaveType.type,
        checkinTime: moment().toISOString(),
        references: {
          leaveStart,
          leaveEnd,
          halfDay: this.halfDay,
          utcOffset,
        },
      };
      const ret = await this.$TimesheetService.requestLeave(args);
      this.loading = false;
      if (ret) {
        this.showDialog = false;
        this.selectedLeaveType = null;
        this.$EventBus.$emit('refresh-worker');
        this.$emit('requested');
        this.$EventBus.$emit('show-alert', {
          type: 'success',
          message: this.$t('leaveRequested'),
        });
      }
    },
  },
};
</script>
