<template>
  <v-card
    v-if="!hasRejectedShifts"
  >
    <!-- Applied Status -->
    <div class="company-info-box">
      <v-row
        v-if="job.hasBeenApplied"
        class="jobdoh-red white--text pr-3 text-caption"
        align="center"
        justify="end"
        no-gutters
      >
        <v-icon
          v-if="interviewRequested"
          small
          left
          dark
        >
          mdi-email
        </v-icon>
        <span v-if="interviewRequested">
          Interview
        </span>
        <v-divider
          vertical
          dark
          class="mx-2"
        />
        <span>{{ $t('applied') }}</span>
      </v-row>
      <v-card-text
        id="btn-MarketplacePage-GoToOrganisationDetail"
        class="pa-0"
        v-ripple="!readonly"
        @click="() => {
          if (!readonly) {
            goToOrganisationDetail();
          }
        }"
      >
        <v-row
          no-gutters
          align="center"
          style="height: 50px"
        >
          <v-col
            align-self="center"
            style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"
          >
            <v-row no-gutters>
              <div
                style="font-size: 0.9em;"
              >
                <b>
                  {{ companyName }}
                </b>
                <v-icon x-small>
                  mdi-open-in-new
                </v-icon>
              </div>
            </v-row>
            <div
              style="
            font-size:0.8em;
            line-height: 1rem;
            text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"
            >
              <v-icon x-small>
                mdi-map-marker
              </v-icon>
              <span>
                {{ job.address }}
              </span>
            </div>
          </v-col>
          <v-col
            v-if="affiliate"
            cols="3"
            class="pa-0 text-center white"
          >
            <v-img
              style="margin: 0 auto; width: 30vw;"
              height="50px"
              contain
              v-ripple
              @click.stop="$emit('click:affiliate', affiliate)"
              @touchstart.stop
              @mousedown.stop
              :src="affiliate.imageUrl"
            />
          </v-col>
        </v-row>
      </v-card-text>
    </div>

    <!-- 🏢 Company Info -->
    <v-divider />


    <v-card-text
      id="btn-MarketplacePage-GoToJobDetail"
      class="pa-0 pt-1"
      v-ripple
      @click="goToDetail"
    >
      <!-- 🛄 Job Category & Industry -->
      <v-row
        v-if="!!job.jobCategory || !!job.industrySkill"
        no-gutters
        align="center"
        class="px-2"
      >
        <v-chip
          v-if="isPrivateJob"
          small
          label
          outlined
          v-text="job.marketplace.name"
          class="mr-1"
          color="#C2232A"
        />
        <v-chip
          v-if="job.jobCategory"
          small
          label
          outlined
          v-text="job.jobCategory.name"
          class="mr-1"
        />
        <v-chip
          v-if="job.industrySkill"
          small
          label
          outlined
          v-text="job.industrySkill.name.split('Experience')[0].trim()"
        />
      </v-row>
      <!-- 🆃 Job Title -->
      <v-row
        align="center"
        no-gutters
      >
        <h2 class="jobtitle text--primary pt-1">
          {{ jobTitle }}
        </h2>
      </v-row>
      <!-- ℹ️ Job Info -->
      <v-row
        align="start"
        justify="center"
        no-gutters
      >
        <v-col
          cols="9"
          class="py-0"
        >
          <v-row
            no-gutters
            align="center"
          >
            <v-icon
              small
              left
            >
              mdi-calendar
            </v-icon>
            <span
              v-if="job.isOpenEnded"
            >
              {{ $t('startDate') }} - TBC
            </span>
            <span
              v-else
              :class="{
                jobdoh: startDateIsWithin48hrs
              }"
            >
              {{ timeline }}
            </span>
          </v-row>
          <v-row
            v-if="job.type === 'PART_TIME'"
            no-gutters
            align="center"
          >
            <v-icon
              small
              left
            >
              mdi-clock
            </v-icon>
            <span>
              {{ shiftTimeline }}
            </span>
          </v-row>
          <PaymentRateLabel :job="job" />
          <v-row
            v-if="job.travelTime > -1"
            no-gutters
            align="center"
          >
            <v-icon
              small
              left
            >
              mdi-car
            </v-icon>
            {{ `~ ${jobTravelTime} to work` }}
          </v-row>
        </v-col>
        <v-col
          cols="3"
          class="pl-0 pt-0"
        >
          <JobTypeLabel :job-type="job.type" />
        </v-col>
      </v-row>
      <!-- <v-row
        style="align-items: baseline;"
      >
        <v-col
          cols="7"
        >
          <span
            v-if="job.allowFlexibleTime"
          >
            (<v-icon>fa-hourglass-start</v-icon>)
            {{ flexitime }}
          </span>
        </v-col>
        <v-col
          style="background-color: #8080805c; display: flex; justify-content: center;"
        />
      </v-row> -->
      <!-- 🎛 Actions -->
      <v-row
        align="center"
        no-gutters
        class="pl-2"
        style="min-height: 8px;"
      >
        <v-chip
          v-if="hoursBeforeJobClose <= 72"
          small
        >
          <v-icon
            small
            left
          >
            mdi-information
          </v-icon>
          <span v-if="hoursBeforeJobClose <= 24">
            Apply in next {{ hoursBeforeJobClose }} hour(s)

          </span>
          <span v-else>
            {{ $t('applyBefore') }} {{ jobCloseDate }}
          </span>
        </v-chip>
        <v-spacer />
        <SaveButton
          v-if="!readonly"
          :value="bookmarked"
          @click="onSaveBtnClick"
        />
      </v-row>
    </v-card-text>
    <!-- <v-card-actions class="pa-0">
    </v-card-actions> -->
    <!-- <v-card-text
      v-if="job.marketplace.name !== 'Public'"
      class="pa-0"
    >
      <v-row>
        <v-col
          class="text-center"
        >
          {{ $t('Affiliate') }}
        </v-col>
      </v-row>
      <v-row
        justify="center"
      >
        <v-col>
          <v-img
            :src="job.marketplace.imageUrl"
            style="margin: 0 auto;"
            max-width="100"
          />
        </v-col>
      </v-row>
    </v-card-text> -->
  </v-card>
</template>

<script>
import moment from 'moment';
import PaymentRateLabel from './components/PaymentRateLabel';
import JobTypeLabel from './components/JobTypeLabel';
import SaveButton from './components/SaveButton';
// import PaymentMethodsLabel from '@/components/Payments/Labels/PaymentMethodsLabel';

export default {
  components: {
    PaymentRateLabel,
    JobTypeLabel,
    SaveButton,
    // ShiftTimelineLabel,
    // PaymentMethodsLabel,
  },

  props: {
    job: {
      type: Object,
      default: () => {},
    },
    bookmarked: Boolean,
    readonly: Boolean,
  },

  data() {
    return {
      saved: false,
    };
  },

  computed: {
    description() {
      return `${this.timeline}\nAt ${this.companyName}`;
    },
    interviewRequested() {
      return this.interviews && this.interviews.length && !this.interviewConfirmed;
    },
    interviewConfirmed() {
      // if (this.isAcceptInterview) return true;
      if (!this.interviews) return false;
      const interview = this.interviews
        .find(e => e.workerId === this.$store.state.worker.id);
      if (interview == null) return false;
      return interview.confirmed;
    },
    interviews() {
      if (this.job.shifts[0].interviews == null) return [];
      const interviews = this.job.shifts[0].interviews
        .filter(e => e.workerId === this.$store.state.worker.id);
      return interviews;
    },
    isPrivateJob() {
      return this.job.marketplace.id !== '5e1d54053998d418ddc644ba';
    },
    jobTravelTime() {
      const hour = Math.floor(this.job.travelTime / 60);
      const minute = Math.round(this.job.travelTime % 60);
      return `${hour ? `${hour}h ` : ''}${minute ? `${minute}min` : ''}`;
    },
    jobTitle() {
      return this.getExperienceLabel(this.job.requirementMinExperienceLevel) + this.job.title;
    },
    jobType() {
      if (this.job == null) return '';
      if (this.job.type === 'FULL_TIME') return 'FT';
      return 'PT';
    },
    companyName() {
      if (this.job.organisation == null
        || this.job.proxyCompanyName == null) return '';

      if (this.job.proxyCompanyName.length > 0) {
        return this.job.proxyCompanyName;
      }
      return this.job.organisation.name;
    },
    companyNameShort() {
      const [firstName] = this.companyName.split(' ');
      return firstName || this.companyName;
    },
    flexitime() {
      const { allowFlexibleTime } = this.job;
      if (allowFlexibleTime == null) return '';

      if (allowFlexibleTime) {
        return `${this.job.hoursPerWeek} hr/week`;
      }
      return '';
    },
    startDateIsWithin48hrs() {
      // return false;
      return this.earliestStartDate.isBefore(moment().add(48, 'hours'));
    },
    jobClosedIn24Hrs() {
      return moment(this.job.listingEndDate).isBefore(moment().add(24, 'hours'));
    },
    jobClosedIn3Days() {
      return moment(this.job.listingEndDate).isBefore(moment().add(72, 'hours'));
    },
    hoursBeforeJobClose() {
      return moment(this.job.listingEndDate).diff(moment(), 'hours');
    },
    jobCloseDate() {
      return moment(this.job.listingEndDate).format('DD MMM');
    },
    earliestStartDate() {
      const startDates = this.job.shifts.map(shift => new Date(shift.startTime));
      return moment(Math.min.apply(null, startDates));
    },
    latestEndDate() {
      const endDates = this.job.shifts.map(shift => new Date(shift.endTime));
      return moment(Math.max.apply(null, endDates));
    },
    timeline() {
      const startDate = this.earliestStartDate.format('MMM D');
      const endDate = this.latestEndDate.format('MMM D');

      if (this.job.type.includes('FULL_TIME')) {
        return `${startDate} - ${this.$t('permanent')}`;
      }
      return `${startDate} - ${endDate}`;
    },
    shiftTimeline() {
      const startTime = this.earliestStartDate.format('hh:mmA');
      const endTime = this.latestEndDate.format('hh:mmA');
      return `${startTime} - ${endTime}`;
    },
    hasRejectedShifts() {
      const { shifts } = this.job;
      const rejectedCandidatesIds = shifts.map(e => e.rejectedCandidatesIds || []).flat();
      this.$log.debug('reject...', rejectedCandidatesIds.length);
      return rejectedCandidatesIds.includes(this.$store.getters.myId);
    },
    affiliate() {
      const { affiliates } = this.job;
      return affiliates && affiliates.length > 0 && affiliates[0];
    },
  },

  methods: {
    getExperienceLabel(experienceLevel) {
      if (experienceLevel === 'INTERN') return 'Intern ';
      if (experienceLevel === 'JUNIOR') return 'Junior ';
      if (experienceLevel === 'MID_LEVEL') return 'Mid-Level ';
      if (experienceLevel === 'SENIOR') return 'Senior ';
      return '';
    },
    onSaveBtnClick(bookmarked) {
      if (bookmarked) {
        this.$emit('remove-bookmark', this.job.id);
      } else {
        this.$emit('add-bookmark', this.job.id);
      }
    },
    goToDetail() {
      this.$emit('click', this.job.id);
    },
    goToOrganisationDetail() {
      this.$log.debug('organisaton', this.job.organisation);
      const hasProxyData = !!this.job.proxyCompanyName
                          && this.job.proxyCompanyName.length > 0;
      const proxyInfos = hasProxyData ? {
        name: this.job.proxyCompanyName,
        address: this.job.proxyCompanyAddress,
        phone: this.job.proxyCompanyContact,
        description: this.job.proxyCompanyDescription,
        website: this.job.proxyCompanyWebsiteUrl,
      } : {};
      this.$store.dispatch('setSelectedOrganisationId', this.job.organisation.id);
      this.$router.push({
        name: 'Organisation-Detail',
        params: {
          id: this.job.organisation.id,
          proxyInfos: JSON.stringify(proxyInfos),
        },
      });
    },

  },

  metaInfo() {
    return {
      meta: [
        { vmid: 'og:description', name: 'og:description', content: this.description },
      ],
    };
  },
};
</script>

<style scoped>
.row >>> .col {
  padding: 2px 10px;
}
.container >>> .row {
  line-height: 1.2;
}
.v-rating >>> .v-icon {
  padding: 0px;
}
.jobtitle {
  font-weight: normal;
  padding: 10px;
}
.category-label {
  width: 100%;
  place-content: center;
  border-radius: 4px !important;
  border-color: #1976d2;
  border-width: 1px;
  color: #1976d2;
  font-weight: 500;
  font-size: 0.75em !important;
  /* background-color:  !important; */
}
.company-info-box {
  /* background-color: #a5a5a55c; */
  border: 2px solid #7979795c;
  border-bottom: 1px solid #7979795c !important;
}
</style>
