<template>
  <v-card>
    <!-- Job Applied Status -->
    <!-- <div
      v-if="job.hasBeenApplied"
      class="jobdoh-red white--text text-right pr-3"
    >
      {{ $t('applied') }}
    </div> -->

    <!-- Product Info -->
    <v-card-text
      class="pa-0"
      v-ripple
      @click="goToDetail"
    >
      <v-card-title class="py-1 pb-0">
        <!-- 25 chars for 1 line -->
        {{ product.title }}
      </v-card-title>
      <v-card-text class="text-primary pb-1">
        <span v-if="product.tagLine">
          <!-- 75 chars for 2 line -->
          {{ product.tagLine }}
        </span>
      </v-card-text>
      <!-- <v-card-text class="text-primary py-1">
        {{ product.description }}
      </v-card-text> -->
      <v-row
        no-gutters
      >
        <v-col cols="6">
          <v-card-text class="pa-0 ma-0">
            <v-card
              flat
            >
              <v-img
                v-if="product.productMetadata.images"
                :src="product.productMetadata.images[0]"
                max-height="100"
                contain
                alt="There has no image for product"
              />
              <v-img
                v-if="product.productMetadata.image"
                :src="product.productMetadata.image"
                max-height="100"
                contain
                alt="There has no image for product"
              />
            </v-card>
          </v-card-text>
        </v-col>
        <v-col
          class="pa-0 ma-0"
          cols="5"
        >
          <div class="pl-2 pt-3">
            <b>
              <ProductPaymentRateLabel
                :product="product"
              />
            </b>
          </div>

          <AddToCart
            style="margin-top: 40px"
            v-if="!product.isPurchased"
            :value="bookmarked"
            @click="onSaveBtnClick"
          />
          <v-btn
            small
            v-else
            text
            disabled
          />
        </v-col>
        <!-- <ProductReceiveButton
          v-else-if="product.finishStatus === 'confirmed'"
          :product="product"
          small
        />
        <ProductReceiptButton
          v-else-if="product.finishStatus === 'received'"
          :product="product"
          small
        /> -->
        <!-- <v-btn
          v-else
          v-text="'Processing Purchase...'"
          text
          disabled
          small
        /> -->
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import ProductPaymentRateLabel from './components/ProductPaymentRateLabel';
import AddToCart from './components/AddToCart';
// import PaymentMethodsLabel from '@/components/Payments/Labels/PaymentMethodsLabel';

export default {
  components: {
    ProductPaymentRateLabel,
    // ProductReceiptButton,
    // ProductReceiveButton,
    AddToCart,
    // ShiftTimelineLabel,
    // PaymentMethodsLabel,
  },

  props: {
    product: {
      type: Object,
      default: () => {},
    },
    bookmarked: Boolean,
  },

  data() {
    return {
      saved: false,
    };
  },

  computed: {
    companyName() {
      return this.product.organisation.name;
    },
  },

  methods: {
    onSaveBtnClick(bookmarked) {
      if (bookmarked) {
        this.$emit('removeAddToCartProduct', this.product.id);
      } else {
        this.$emit('addToCartProduct', this.product.id);
      }
    },

    goToDetail() {
      this.$router.push({
        name: 'Product-Detail',
        params: {
          id: this.product.id,
        },
      });
      // this.$emit('click', this.job.id);
    },

    goToOrganisationDetail() {
      this.$log.debug('organisaton', this.product.organisation);
      this.$store.dispatch('setSelectedOrganisationId', this.product.organisation.id);
      this.$router.push({
        name: 'Organisation-Detail',
        params: {
          id: this.product.organisation.id,
        },
      });
    },

  },
};
</script>

<style scoped>
.row >>> .col {
  padding: 2px 10px;
}
.container >>> .row {
  line-height: 1.2;
}
.v-rating >>> .v-icon {
  padding: 0px;
}
.jobtitle {
  font-weight: normal;
  padding: 10px;
}
.category-label {
  width: 100%;
  place-content: center;
  border-radius: 4px !important;
  border-color: #1976d2;
  border-width: 1px;
  color: #1976d2;
  font-weight: 500;
  font-size: 0.75em !important;
  /* background-color:  !important; */
}
</style>
