<template>
  <div
    style="overflow-y: scroll;"
    :style="{
      'max-height': maxHeight,
      height: !maxHeight && 'calc(100vh - 97px)',
    }"
  >
    <v-card-text class="px-3 py-0">
      <MarketplaceJobCard
        :job="job"
        class="my-3"
        :job-category="jobCategory"
        :readonly="readonly"
        :bookmarked="bookmarked"
        @add-bookmark="bookmarkJob"
        @remove-bookmark="unbookmarkJob"
      />
      <v-divider />

      <!-- Job Description -->
      <div
        v-if="job.description"
        class="my-3"
      >
        <div class="small-title">
          {{ $t('jobDescription') }}
        </div>
        <div
          class="paragraph text--secondary"
          v-html="markedDown(job.description)"
        />
      </div>
      <v-divider />
      <!-- Job Arrangements -->
      <div
        v-if="job.sickLeaveDays != null"
        class="my-3"
      >
        <div class="small-title">
          WORKING ARRANGEMENTS
        </div>
        <v-container>
          <v-row>
            <v-col>
              Working Days:
            </v-col>
            <v-col>
              {{ job.workingDays[0].toUpperCase() }} to
              {{ job.workingDays[job.workingDays.length-1].toUpperCase() }}
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              Working Hours:
            </v-col>
            <v-col>
              {{ job.workingHours[0] }} to {{ job.workingHours[job.workingHours.length-1] }}
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              Lunch Hour:
            </v-col>
            <v-col>
              {{ job.lunchHour[0] }} to {{ job.lunchHour[job.lunchHour.length-1] }}
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              Sick Leave Days:
            </v-col>
            <v-col>
              {{ job.sickLeaveDays }}
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              Personal Leave Days:
            </v-col>
            <v-col>
              {{ job.personalLeaveDays }}
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              Special Leave Days:
            </v-col>
            <v-col>
              {{ job.specialLeaveDays }}
            </v-col>
          </v-row>
        </v-container>
      </div>
      <v-divider />

      <!-- Job Requirements -->
      <div
        v-if="job.jobSkillRequirements && job.jobSkillRequirements.length > 0"
        class="my-3"
      >
        <div class="small-title">
          {{ $t('jobRequirements') }}
        </div>
        <v-list
          v-if="worker"
          subheader
          dense
          class="pa-0"
        >
          <div v-if="relevantQualifications.length > 0">
            <v-subheader>Your Relevant Qualifications</v-subheader>
            <JobSkillChip
              v-for="(skill, i) in relevantQualifications"
              :key="i+'re'"
              :job-skill="skill"
            />
          </div>
          <v-divider
            v-if="relevantQualifications.length > 0 && missingQualifications.length > 0"
            class="ml-12"
          />
          <div v-if="missingQualifications.length > 0">
            <v-subheader>Your Missing Qualifications</v-subheader>
            <JobSkillChip
              v-for="(skill, i) in missingQualifications"
              :key="i+'mis'"
              :job-skill="skill"
              missing-skill
              @click="onSkillAdd(skill)"
              :actual-skill="workerQualifications
                .find(q => q.jobSkill.id === skill.jobSkill.id)"
            />
          </div>
        </v-list>
        <v-list
          v-else
          dense
          class="pa-0"
        >
          <JobSkillChip
            v-for="(skill, i) in jobRequirements"
            :key="i+'req'"
            :job-skill="skill"
          />
        </v-list>
        <div
          v-if="job.requirementDescription && job.requirementDescription.length > 0"
          class="paragraph text--secondary"
          v-html="markedDown(job.requirementDescription)"
        />
        <div
          v-if="job.isPortfolioRequired"
        >
          Portfolio is required for this job.
        </div>
      </div>
      <v-divider />

      <!-- About Org / Company -->
      <div
        v-if="job.organisation.description || job.proxyCompanyDescription"
        class="my-3"
      >
        <div
          v-if="job.organisation && job.proxyCompanyName == null"
        >
          <div
            class="small-title"
            v-html="`About ${job.organisation.name}`"
          />
          <div
            class="paragraph text--secondary"
            v-html="markedDown(job.organisation.description)"
          />
        </div>
        <div v-else-if="job.proxyCompanyName && job.proxyCompanyDescription">
          <div
            class="small-title"
            v-html="`About ${job.proxyCompanyName}`"
          />
          <div
            class="paragraph text--secondary"
            v-html="markedDown(job.proxyCompanyDescription)"
          />
        </div>
      </div>
      <v-divider />

      <!-- Benefits -->
      <div
        v-if="job.benefits && job.benefits.length > 0"
        class="mt-3"
      >
        <v-flex class="small-title">
          {{ $t('allowancesAndBenefits') }}
        </v-flex>
        <v-list>
          <v-list-item
            v-for="(benefit, i) in job.benefits"
            :key="i"
            dense
          >
            <v-list-item-icon>
              <v-icon v-text="'mdi-check'" />
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title style="text-transform: capitalize;">
                {{ benefit.replace(/_/g, ' ').toLowerCase() }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </div>
      <v-divider />

      <!-- About Marketplace -->
      <div
        class="my-3"
        v-if="job.marketplace
          && job.marketplace.name != 'Public' && job.marketplace.name != 'Not Posted'"
      >
        <v-flex
          class="small-title text--secondary paragraph"
        >
          ABOUT {{ job.marketplace.name }}
        </v-flex>
        <v-flex
          class="paragraph text--secondary"
          v-html="markedDown(job.marketplace.description)"
        />
      </div>
      <v-divider />

      <!-- Logos and Date -->
      <div class="my-3">
        <v-row no-gutters>
          <v-col
            justify="center"
          >
            <div class="caption text-center">
              Powered By
            </div>
            <v-img
              class="rounded"
              style="margin: 0 auto;"
              width="50px"
              height="50px"
              :src="require('../../../../../static/img/icons/icon-192x192.png')"
            />
          </v-col>
          <v-col
            id="btn-MarketplaceJobDetailPage-Affiliate"
            v-if="affiliate"
            align-self="center"
            v-ripple
            @click="$router.push(`/affiliate/${affiliate.name}`)"
          >
            <div
              id="btn-MarketplaceJobDetailPage-Affiliate"
              class="caption text-center"
            >
              Affiliate
            </div>
            <v-row justify="center">
              <v-img
                v-if="affiliate.imageUrl"
                style="margin: 0 auto; width: 30vw;"
                height="50px"
                :src="affiliate.imageUrl"
              />
              <v-chip
                v-else
                outlined
                style="height: 50px;"
              >
                {{ affiliate.name }}
              </v-chip>
            </v-row>
          </v-col>
          <v-col
            align-self="center"
          >
            <div class="caption text-center">
              {{ $t('posted') }}
            </div>
            <v-row
              no-gutters
              justify="center"
              align="center"
            >
              <v-chip
                outlined
                style="height: 50px;"
              >
                {{ job.listingStartDate | fromNow }}
              </v-chip>
            </v-row>
          </v-col>
        </v-row>
      </div>
      <v-divider />
    </v-card-text>
    <v-card-actions
      v-if="!readonly && !!$slots.bottomBar"
      class="elevation-4"
      style="
        position: fixed;
        justify-content: center;
        bottom: 0;
        width: 100%;
        background-color: white;
        "
    >
      <slot
        name="bottomBar"
        style="width: 100%"
      />
    </v-card-actions>

    <!-- 💬 Dialogs -->
    <v-dialog
      v-if="skillToAdd"
      v-model="skillAddDialog"
    >
      <v-card>
        <v-card-text>
          <JobSkillChip :job-skill="skillToAdd" />
          Can you prove you have this qualification in an interview?
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            id="btn-MarketplaceJobDetailPage-AddSkillDialog-No"
            text
            v-html="$t('no')"
            @click="skillAddDialog = false"
          />
          <v-btn
            id="btn-MarketplaceJobDetailPage-AddSkillDialog-Yes"
            text
            v-html="$t('yes')"
            @click="addSkill"
          />
        </v-card-actions>
      </v-card>
      <!--  -->
    </v-dialog>
    <v-dialog
      v-model="withdrawInterviewDialog"
    >
      <v-card>
        <v-card-title>
          Are you sure want to withdraw the job?
        </v-card-title>
        <v-card-action>
          <v-container>
            <v-row>
              <v-spacer />
              <v-btn
                id="btn-MarketplaceJobDetailPage-WithdrawlInterviewDialog-Cancel"
                class="ma-1"
                color="default"
                small
                @click="withdrawInterviewDialog = false"
              >
                Cancel
              </v-btn>
              <v-btn
                id="btn-MarketplaceJobDetailPage-WithdrawlInterviewDialog-Withdraw"
                class="jobdoh-red ma-1"
                dark
                small
                @click="withdrawJob"
              >
                Withdraw
              </v-btn>
            </v-row>
          </v-container>
        </v-card-action>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
/* eslint-disable no-underscore-dangle */
import MarkedDownIt from 'markdown-it';
import moment from 'moment';
import JobSkillChip from './components/JobSkillChip';
import MarketplaceJobCard from './MarketplaceJobCard';


const markdown = new MarkedDownIt();

export default {
  components: {
    JobSkillChip,
    MarketplaceJobCard,
    // InterviewButton,
    // JobApplyButton,
    // JobAcceptButton,
    // JobWithdrawButton,
    // JobAppliedDateLabel,
    // ContactEmployerButton,
  },
  props: {
    job: {
      type: Object,
      default: () => {},
    },
    worker: {
      type: [Object, null],
      default: null,
    },
    jobCategories: {
      type: Array,
      default: () => [],
    },
    readonly: Boolean,
    maxHeight: {
      type: String,
      default: '',
    },
  },

  data() {
    return {
      moment,
      interviewTimeIndex: 0,
      interviewDate: {},
      // isAcceptInterview: false,
      withdrawInterviewDialog: false,
      skillAddDialog: false,
      skillToAdd: null,
      shiftsAppliedDate: null,
      // interviewConfirmed: false,
    };
  },

  async  mounted() {
    if (this.appliedShifts.length > 0) {
      this.shiftsAppliedDate = await this.$UtilityService
        .getShiftAppliedDate({ workerId: this.worker.id, shiftId: this.appliedShifts[0].id });
    }
    // if (this.job.marketplace == null) {
    //   this.$router.back();
    // }
  },

  computed: {
    jobHasBeenWithdrawn() {
      return this.worker.jobsWithdrew.map(e => e.id).includes(this.job.id);
    },
    bookmarked() {
      const { worker } = this.$store.state;
      const bookmarkedJobIds = (worker && worker.jobsBookmarked.map(e => e.id)) || [];
      return bookmarkedJobIds.includes(this.job.id);
    },
    shiftsAppliedFromNowInHour() {
      return moment().diff(moment(this.shiftsAppliedDate), 'hours', true);
    },
    appliedShifts() {
      return this.job.shifts.filter(shift => shift.candidates.some(c => c.id === this.worker.id));
    },
    interviews() {
      const interviews = Array.from(this.job.shifts || [])
        .map(e => e.interviews)
        .flat()
        .filter(e => e.workerId === this.$store.state.worker.id);
      return interviews;
    },
    // requirements
    jobRequirements() {
      return this.job ? this.job.jobSkillRequirements.filter(r => !!r.jobSkill) : [];
    },
    workerQualifications() {
      return this.worker ? this.worker.jobSkills : [];
    },
    relevantQualifications() {
      return this.workerQualifications
        .filter(q => this.jobRequirements
          .some(r => q.jobSkill._id === r.jobSkill.id && q.level >= r.level));
    },
    missingQualifications() {
      return this.jobRequirements
        .filter(r => this.workerQualifications
          .every(q => q.jobSkill._id !== r.jobSkill.id || q.level < r.level));
    },
    otherQualifications() {
      return this.workerQualifications
        .filter(q => this.jobRequirements
          .every(r => q.jobSkill._id !== r.jobSkill.id));
    },
    jobCategory() {
      return this.jobCategories
        .find(c => c.jobRoles.some(r => r.id === this.job.jobRoleId));
    },
    hasVacancyLeft() {
      return this.job.shifts.some(shift => shift.vacanciesLeft > 0);
    },
    isParttimeJob() {
      return (this.job.type === 'PART_TIME');
    },
    hasMultipleShift() {
      const shifts = this.getUniqueShiftByTimes(this.job.shifts);
      return (shifts.length > 1);
    },
    hasBeenOffered() {
      return this.job.shifts.some(shift => shift.worker && shift.worker.id === this.worker.id);
    },
    hasBeenHired() {
      return this.job.shifts.some(shift => shift.worker
        && shift.worker.id === this.worker.id
        && shift.workerAccepted);
    },
    companyName() {
      if (this.job.organisation == null
        || this.job.proxyCompanyName == null) return '';

      if (this.job.proxyCompanyName.length > 0) {
        return this.job.proxyCompanyName;
      }
      return this.job.organisation.name;
    },
    salaryInfo() {
      return `${this.job.renumerationCurrency} ${this.job.renumerationValue} ${this.job.paymentOption}`;
    },
    jobType() {
      if (this.job == null) return '';
      if (this.job.type === 'FULL_TIME') return 'FT';
      return 'PT';
    },
    flexitime() {
      const { allowFlexibleTime } = this.job;
      if (allowFlexibleTime == null) return '';

      if (allowFlexibleTime) {
        return `${this.job.hoursPerWeek} hr/week`;
      }
      return '';
    },
    affiliate() {
      const { affiliates } = this.job;
      return affiliates && affiliates.length > 0 && affiliates[0];
    },
  },

  methods: {
    // addSkill() {

    // },
    getUniqueShiftByTimes: (shifts) => {
      const startTimes = shifts.map(shift => shift.startTime);
      const uniqueStartTimes = startTimes
        .map(startTime => startTime.toString())
        .filter((startTime, i, arr) => arr.indexOf(startTime) === i)
        .map(startTime => startTime.toString());

      const endTimes = shifts.map(shift => shift.endTime);
      const uniqueEndTimes = endTimes
        .map(endTime => endTime.toString())
        .filter((endTime, i, arr) => arr.indexOf(endTime) === i)
        .map(endTime => endTime.toString());

      // if (uniqueStartTimes.length !== uniqueEndTimes.length) {
      //   throw new Error('Faulty algorithm');
      // }

      const uniqueShifts = [];
      let unique = {};
      for (let i = 0; i < uniqueEndTimes.length; i += 1) {
        unique = shifts.find(shift => shift.startTime.toString() === uniqueStartTimes[i]
          && shift.endTime.toString() === uniqueEndTimes[i]);

        uniqueShifts.push(unique);
      }
      return uniqueShifts;
    },
    onSkillAdd(skill) {
      this.skillToAdd = Object.assign({}, skill);
      this.skillAddDialog = true;
    },
    async addSkill() {
      const newSkills = Array.from(this.workerQualifications);
      const skillToAdd = this.getWorkerSkill(this.skillToAdd);
      const duplicatedIndex = this.workerQualifications
        .findIndex(s => s.jobSkillId === skillToAdd.jobSkillId);
      const duplicatedItemExits = duplicatedIndex > -1;
      if (duplicatedItemExits) {
        newSkills.splice(duplicatedIndex, 1, skillToAdd);
      } else {
        newSkills.push(skillToAdd);
      }
      await this.saveSkills(newSkills);
      this.skillAddDialog = false;
      this.$EventBus.$emit('refresh-worker');
    },
    getWorkerSkill({ jobSkill, level }) {
      const { definition } = jobSkill.levels.find(l => l.level === level);
      return {
        jobSkill: Object.assign({}, jobSkill),
        jobSkillId: jobSkill.id,
        jobSkillName: jobSkill.name,
        level,
        definition,
        skillNote: '',
        uploads: [],
      };
    },
    async saveSkills(newSkills) {
      this.savingDialog = true;

      let skillLevels = Array.from(newSkills.flat());
      const oldSkillLevels = Array.from(this.workerQualifications);
      let newSkillLevels = skillLevels
        .filter(sl => oldSkillLevels.every(o => o.jobSkillId !== sl.jobSkillId));
      const workerId = this.$store.state.worker.id;
      this.$log.debug('Skill Levels', skillLevels);
      this.$log.debug('New Skill Levels', newSkillLevels);

      //* upload document images to firebase
      newSkillLevels = await Promise.all(newSkillLevels.map(async sl => ({
        ...sl,
        uploads: await Promise.all(sl.uploads && sl.uploads.map(
          async ({ requirementName, img }) => new Promise(async (resolve) => {
            const url = await this.uploadImage(img, `workers/${workerId}/images/requirements/${requirementName}`);
            resolve({
              requirementName,
              url,
            });
          }),
        )),
      })));

      skillLevels = [
        ...skillLevels,
        ...newSkillLevels,
      ];
      skillLevels = [...new Map(skillLevels.map(s => [s.jobSkillId, s])).values()];

      const args = {
        id: this.$store.getters.myId,
        jobSkills: skillLevels,
      };

      const { data } = await this.$WorkerService.updateWorker(args)
        .catch(this.$ErrorHandlingService.handleError);

      if (data) {
        this.$EventBus.$emit('show-alert', {
          type: 'success',
          message: this.$t('updateJobSkillsSuccess'),
        });
      }
    },
    async bookmarkJob(jobId) {
      await this.$JobService.bookmarkJob({ jobId });
      this.$EventBus.$emit('refresh-worker');
    },
    async unbookmarkJob(jobId) {
      await this.$JobService.removeBookmarkJob({ jobId });
      this.$EventBus.$emit('refresh-worker');
    },
    async confirmInterview() {
      // this.isAcceptInterview = true;
      const ret = await this.$InterviewService.confirmInterview({
        shiftId: this.job.shifts[0].id,
        workerId: this.$store.state.worker.id,
        jobId: this.job.id,
        startTime: this.interviewDate.startDate,
        endTime: this.interviewDate.endDate,
      }).catch((err) => {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'error',
          message: 'Error Request Send',
        });
        this.$log.error(err);
      });

      if (ret) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Successfully Confirmed the Interview',
        });
      }
    },
    async withdrawJob() {
      const workerId = this.$store.state.worker.id;
      const shift = this.job.shifts.find(s => s.worker && (s.worker.id === workerId));
      return this.$JobService
        .withdrawJob({
          shiftId: shift && shift.id,
          workerId,
          jobId: this.job.id,
        })
        .then(() => {
          this.$emit('withdraw');
          this.$EventBus.$emit('show-alert', {
            type: 'info',
            message: 'Job Withdraw Successfully',
          });
        })
        .catch(e => this.$log.error(e));
    },
    markedDown(text) {
      return markdown.render(text);
    },
  },

  metaInfo() {
    return {
      title: `${this.job.title} Job`,
      meta: [
        { vmid: 'og:title', name: 'og:title', content: `${this.job.title} Job` },
      ],
    };
  },
};
</script>

<style scoped>
.row >>> .col {
  padding: 2px 10px;
}
.container >>> .row {
  line-height: 1.2;
}
.v-rating >>> .v-icon {
  padding: 0px;
  font-size: 13px !important;
}

.caption {
  font-size: 0.8em;
  color: grey;
}
.paragraph {
  white-space: pre-wrap;
}
</style>>

<style>
.small-title {
 font-size: 1.2em !important;
    font-weight: 500;
    letter-spacing: .0125em!important;
    margin: 6px 0px;
}
</style>
