<template>
  <v-card>
    <v-card-text
      class="pa-0"
      v-ripple
      @click="goToDetail"
    >
      <!-- Job Applied Status -->
      <v-card-text
        v-if="product.isPurchased"
        class="overline jobdoh font-weight-bold py-0"
        style="font-size: 0.8em !important;"
      >
        <span v-if="product.finishStatus === ''">
          Purchased Being Processed
        </span>
        <span v-else-if="product.finishStatus === 'confirmed'">
          Purchased
        </span>
        <span
          v-else
          class="black--text"
        >
          {{ status }}
        </span>
      </v-card-text>

      <!-- Product Info -->
      <v-card-title class="py-0 pt-1">
        {{ product.title }}
      </v-card-title>
      <v-card-text class="text-primary pb-1">
        <ProductPaymentRateLabel :product="product" />
      </v-card-text>
      <v-card-actions class="pt-0">
        <AddToCart
          v-if="!product.isPurchased"
          :value="bookmarked"
          @click="onSaveBtnClick"
        />
        <v-spacer />
        <ProductPurchaseButton
          v-if="!product.isPurchased"
          :product="product"
        />
        <ProductReceiveButton
          v-else-if="product.finishStatus === 'confirmed'"
          :product="product"
        />

        <ProductReceiptButton
          v-else-if="product.finishStatus === 'received'"
          :product="product"
        />
      </v-card-actions>
    </v-card-text>
  </v-card>
</template>

<script>
import moment from 'moment';
import apollo from '@/assets/js/apollo';
import gql from 'graphql-tag';
import ProductPurchaseButton from './components/ProductPurchaseButton';
import ProductReceiveButton from './components/ProductReceiveButton';
import ProductReceiptButton from './components/ProductReceiptButton';
import ProductPaymentRateLabel from './components/ProductPaymentRateLabel';
import AddToCart from './components/AddToCart';
// import PaymentMethodsLabel from '@/components/Payments/Labels/PaymentMethodsLabel';

export default {
  components: {
    ProductPaymentRateLabel,
    ProductReceiveButton,
    AddToCart,
    ProductPurchaseButton,
    ProductReceiptButton,
    // ShiftTimelineLabel,
    // PaymentMethodsLabel,
  },

  props: {
    product: {
      type: Object,
      default: () => {},
    },
    bookmarked: Boolean,
  },

  data() {
    return {
      moment,
      saved: false,
      dialog: false,
      confirmDialog: false,
      receiptDialog: false,
      // status: 'Purchased',
      isReceived: false,
      payslips: null,
      receipt: null,
      currentJob: null,
      valid: false,
    };
  },

  async mounted() {
    [this.currentJob] = this.jobsHired;
    this.receipt = await this.receiptQuery();
  },

  computed: {
    productReceived() {
      return this.receipt && this.receipt.receivedAt !== null;
    },
    jobsHired() {
      return this.$store.state.worker.jobsHired || [];
    },
    companyName() {
      return this.product.organisation.name;
    },
    status() {
      if (this.product.finishStatus === 'confirmed') return 'Purchased';
      if (this.product.finishStatus === 'received') return 'Received';
      return '';
    },
  },

  methods: {
    // confirmReceived() {
    //   const { worker } = this.$store.state;
    //   // this.status = 'Received';

    //   // this.isReceived = true;
    //   this.$ProductService.updateReceipt({
    //     productId: this.product.id,
    //     workerId: worker.id,
    //     receivedAt: new Date(),
    //   });
    //   this.confirmDialog = false;
    // },
    onSaveBtnClick(bookmarked) {
      if (bookmarked) {
        this.$emit('removeAddToCartProduct', this.product.id);
      } else {
        this.$emit('addToCartProduct', this.product.id);
      }
    },

    goToDetail() {
      // this.$emit('click', this.job.id);
      this.$router.push({
        name: 'Product-Detail',
        params: {
          id: this.product.id,
        },
      });
    },

    goToOrganisationDetail() {
      this.$log.debug('organisaton', this.product.organisation);
      this.$store.dispatch('setSelectedOrganisationId', this.product.organisation.id);
      this.$router.push({
        name: 'Organisation-Detail',
        params: {
          id: this.product.organisation.id,
        },
      });
    },

    async estimatedProductBalanceQuery() {
      // eslint-disable-next-line no-underscore-dangle
      // const _this = this;
      let result = [];
      const { worker } = this.$store.state;
      const query = await apollo.defaultClient.query({
        query: gql`query estimatedProductBalance(
          $jobId: ID!
          $workerId: String!
          $productId: String!
        ) {
        estimatedProductBalance(
          jobId: $jobId
          workerId: $workerId
          productId: $productId
        ) 
      }
      `,
        variables: {
          productId: this.product.id,
          workerId: worker.id,
          jobId: this.currentJob.id,
        },
      })
        .catch((err) => {
          this.$log.error(err);
          this.loading = false;
          this.$eventHub.$emit('show-alert', {
            type: 'error',
            message: err.graphQLErrors[0].message,
          });
        });
      if (query != null && query.data.estimatedProductBalance.length > 0) {
        result = query.data.estimatedProductBalance;
      }
      return result;
    },

    async receiptQuery() {
      // eslint-disable-next-line no-underscore-dangle
      // const _this = this;
      let result = [];
      const { worker } = this.$store.state;
      const query = await apollo.defaultClient.query({
        query: gql`query receipt(
          $workerId: String
          $productId: String
        ) {
        receipt(
          workerId: $workerId
          productId: $productId
        ) {
          id
          code
          paidLevel
          receivedAt
        }
      }
      `,
        variables: {
          productId: this.product.id,
          workerId: worker.id,
        },
      })
        .catch((err) => {
          this.$log.error(err);
          this.loading = false;
          this.$eventHub.$emit('show-alert', {
            type: 'error',
            message: err.graphQLErrors[0].message,
          });
        });
      if (query != null && query.data.receipt != null) {
        result = query.data.receipt;
      }
      return result;
    },

  },
};
</script>

<style scoped>
.row >>> .col {
  padding: 2px 10px;
}
.container >>> .row {
  line-height: 1.2;
}
.v-rating >>> .v-icon {
  padding: 0px;
}
.jobtitle {
  font-weight: normal;
  padding: 10px;
}
.category-label {
  width: 100%;
  place-content: center;
  border-radius: 4px !important;
  border-color: #1976d2;
  border-width: 1px;
  color: #1976d2;
  font-weight: 500;
  font-size: 0.75em !important;
  /* background-color:  !important; */
}
</style>
