<template>
  <div>
    <v-card
      v-if="organisation || proxyInfos"
      tile
      flat
      elevation="0"
    >
      <div class="title px-0 text-center mb-1">
        <span>{{ proxyInfos.name || organisation.name }}</span>
      </div>
      <v-row justify="center">
        <v-rating
          v-if="organisation.feedbacks.avg"
          readonly
          background-color="gray"
          color="gray"
          :length="5"
          small
          :value="organisation.feedbacks.avg"
        />
      </v-row>
      <v-row
        v-if="organisation.feedbacks.nFeedback"
        justify="center"
      >
        <span class="caption">
          {{ organisation.feedbacks.nFeedback }} ratings
          <v-icon
            small
          >
            mdi-circle-small
          </v-icon>
          {{ moment(organisation.feedbacks.lastRatedAt).format('DD MMM YYYY') }}
        </span>
      </v-row>
      <v-card-text class="pa-0 mt-2">
        <!-- <v-row justify="center">
          12,000 rating
        </v-row> -->
        <div v-if="proxyInfos.address || organisation.address">
          <v-row
            no-gutters
            justify="center"
          >
            <span>
              <v-icon small>
                mdi-map-marker
              </v-icon>
              {{ proxyInfos.address || organisation.address }}
            </span>
          </v-row>
          <v-divider class="my-3" />
        </div>
        <div v-if="proxyInfos.description || organisation.description">
          <v-row
            no-gutters
          >
            <span>
              <v-icon small>
                mdi-text
              </v-icon>
              {{ proxyInfos.description || organisation.description }}
            </span>
          </v-row>
          <v-divider class="my-3" />
        </div>
        <div>
          <v-row
            no-gutters
            justify="center"
          >
            <v-col
              cols="6"
              xs="6"
              sm="5"
            >
              <v-icon small>
                mdi-web
              </v-icon>
              Website:
            </v-col>
            <v-col
              cols="6"
              xs="6"
              sm="7"
            >
              {{ proxyInfos.website || organisation.websiteUrl }}
            </v-col>
          </v-row>
          <v-divider class="my-3" />
        </div>
      </v-card-text>
    </v-card>
    <v-card flat>
      <div
        class="caption text-center"
      >
        CURRENT JOBS
      </div>
      <!-- <v-card-text class="px-3 pt-0">
        <MarketplaceJobCard
          class="my-5"
          v-for="(job, i) in jobs"
          :key="i"
          :job="job"
          :bookmarked="bookmarkedJobIDs.includes(job.id)"
          :job-category="getJobCategory(job)"
          @click="onJobCardClick"
          @add-bookmark="bookmarkJob"
          @remove-bookmark="unbookmarkJob"
        />
      </v-card-text> -->
    </v-card>
  </div>
</template>

<script>
import moment from 'moment';

export default {
  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
    proxyInfos: {
      type: Object,
      default: () => {},
    },
  },

  data() {
    return {
      moment,
    };
  },

  computed: {
    bookmarkedJobIDs() {
      const { worker } = this.$store.state;
      return (worker && worker.jobsBookmarked.map(e => e.id)) || [];
    },
  },
  methods: {
    getJobCategory(job) {
      return this.$store.state.jobCategories
        .find(c => c.jobRoles.some(r => r.id === job.jobRoleId));
    },
    async bookmarkJob(jobId) {
      await this.$JobService.bookmarkJob({ jobId });
      this.$EventBus.$emit('refresh-worker');
    },
    async unbookmarkJob(jobId) {
      await this.$JobService.removeBookmarkJob({ jobId });
      this.$EventBus.$emit('refresh-worker');
    },
    onJobCardClick(jobId) {
      if (this.isPublic) {
        this.loginDialog = true;
        return;
      }
      this.$router.push(`/marketplace-job-detail/${jobId}`);
    },
  },
};
</script>

<style scoped>
/* .row >>> .col {
  padding: 2px 10px;
}
.container >>> .row {
  line-height: 1.2;
}
.v-rating >>> .v-icon {
  padding: 0px;
  font-size: 13px !important;
}
.small-title {
  font-size: 1em !important;
  font-weight: 500;
  letter-spacing: .0125em!important;
}
.caption {
  font-size: 0.8em;
  color: grey;
} */
</style>>
