<template>
  <div
    style="height: calc(100vh - 99px); overflow: scroll"
  >
    <v-card-text>
      <v-carousel
        height="250"
        :show-arrows="imgUrls && imgUrls.length > 1"
        hide-delimiters
      >
        <v-carousel-item
          v-for="(imgUrl, i) in imgUrls"
          :key="i"
        >
          <v-sheet
            color="white"
            tile
          >
            <v-img
              v-if="imgUrl"
              :src="imgUrl"
              alt="There has no image for product"
              max-height="200"
              contain
            />
          </v-sheet>
        </v-carousel-item>
      </v-carousel>


      <v-card
        outlined
        class="mt-4"
      >
        <v-divider />
        <v-card-text v-if="product.title">
          <v-row>
            <v-col cols="4">
              <b>Name</b>
            </v-col>
            <v-col cols="8">
              {{ product.title }}
            </v-col>
          </v-row>
        </v-card-text>
        <v-divider />
        <!-- <v-card-text v-if="product.price">
          <v-row>
            <v-col cols="4">
              <b>Price</b>
            </v-col>
            <v-col cols="8">
              <span class="text-decoration-line-through mr-1">
                {{ product.price + 5000 | currency('MMK') }}
              </span>
              <span>
                {{ product.price | currency('MMK') }}
              </span>
            </v-col>
          </v-row> -->
        <v-card-text>
          <b>Benefits</b>
          <v-list
            dense
            class="pa-0"
          >
            <div
              v-for="(spec, i) in product.benefits"
              :key="i"
            >
              <v-list-item class="pa-0">
                <v-list-item-icon>
                  <v-icon>mdi-circle-small</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <div>
                    {{ spec }}
                  </div>
                </v-list-item-content>
              </v-list-item>
            </div>
          </v-list>
        </v-card-text>
        <v-divider />
        <v-card-text v-if="product.description">
          <v-row>
            <v-col cols="4">
              <b>Description</b>
            </v-col>
            <v-col cols="8">
              {{ product.description }}
            </v-col>
          </v-row>
        </v-card-text>
        <v-divider />
        <v-card-text>
          <b>Detail</b>
          <v-list
            dense
            class="pa-0"
          >
            <div
              v-for="(spec, i) in product.itemAttributes"
              :key="i"
            >
              <v-list-item class="pa-0">
                <v-list-item-icon>
                  <v-icon>mdi-circle-small</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <div v-html="spec" />
                </v-list-item-content>
              </v-list-item>
            </div>
          </v-list>
        </v-card-text>
        <v-divider />
        <v-btn
          id="btn-ProductDetailPage-More"
          text
          block
          link
          :href="product.productMetadata.productUrl"
          target="_blank"
        >
          More...
        </v-btn>
      </v-card>
    </v-card-text>
    <v-card-actions
      class="elevation-4"
      style="
        position: fixed;
        justify-content: center;
        bottom: 0;
        width: 100%;
        background-color: white;
      "
    >
      <ProductPurchaseButton
        id="btn-ProductDetailPage-ProductPurchaseButton"
        v-if="!product.isPurchased"
        :product="product"
        block
        style="width: 100%;"
      />
      <ProductReceiveButton
        id="btn-ProductDetailPage-ProductReceiveButton"
        v-else-if="product.finishStatus === 'confirmed'"
        :product="product"
        block
        style="width: 100%;"
      />
      <ProductReceiptButton
        id="btn-ProductDetailPage-ProductReceiptButton"
        v-else-if="product.finishStatus === 'received'"
        :product="product"
        block
        style="width: 100%;"
      />
      <ProductWithdrawButton
        id="btn-ProductDetailPage-ProductWithdrawButton"
        v-else
        :product="product"
        block
        style="width: 100%"
      />
    </v-card-actions>
    <v-dialog
      v-model="dialog"
      max-width="320"
    >
      <v-card>
        <v-card-title class="headline">
          <v-row
            no-gutters
            v-if="product.lumpSum > 0"
            justify="center"
          >
            {{ product.price / product.lumpSum }} over {{ product.lumpSum }} months.
          </v-row>
          <v-row
            v-else
            justify="center"
          >
            {{ product.price }}
          </v-row>
        </v-card-title>
        <v-card-subtitle class="text-center mt-1">
          {{ $t('serviceFee') }}
          {{ (3/100) * product.price / product.lumpSum }}
          <!-- <v-row dense>
            <v-col>{{ $t('discount') }}</v-col>
            <v-col class="text-right">
              {{ (discount || 0) | currency(job.renumerationCurrency) }}
            </v-col>
          </v-row> -->
        </v-card-subtitle>
        <v-card-text>
          <a
            href="https://page.jobdoh.com/terms"
            target="blank"
          >
            {{ $t('byRequestingKhuPay') }}
            {{ $t('termsAndConditions') }}
          </a>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            id="btn-ProductDetailPage-ProductPurchaseDialog-Cancel"
            color="grey"
            text
            @click="dialog = false"
            v-html="$t('btnCancelText')"
          />

          <v-btn
            id="btn-ProductDetailPage-ProductPurchaseDialog-Ok"
            color="red darken-2"
            text
            @click="purchaseProduct"
            v-html="$t('btnOkText')"
          />
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- <v-dialog v-model="dialog">
      <v-card>
        <v-card-title>
          Are you sure to purchase.
        </v-card-title>
        <v-card-actions>
          <v-row justify="end">
            <v-btn
              text
              color="red"
              @click="purchaseProduct"
            >
              Yes
            </v-btn>
            <v-btn
              text
              @click="dialog = false"
            >
              No
            </v-btn>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog> -->
    <v-dialog v-model="confirmDialog">
      <v-card>
        <v-card-title>
          Confirm Received
        </v-card-title>
        <v-container class="pa-2 pl-5">
          <v-row class="ml-3">
            Product : {{ product.title }}
          </v-row>
          <v-row class="ml-3">
            Description : { product.description }}
          </v-row>
          <v-row class="ml-3">
            Price : {{ product.price }}
          </v-row>
        </v-container>
        <v-card-actions>
          <v-row justify="end">
            <v-btn
              text
              color="red"
            >
              Received
            </v-btn>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
// import MarketplaceJobCard from '@/components/shared/components/Marketplace/MarketplaceJobCard';
// import AppBar from '@/components/Commons/AppBar';
import ProductPurchaseButton from './components/ProductPurchaseButton';
import ProductReceiveButton from './components/ProductReceiveButton';
import ProductReceiptButton from './components/ProductReceiptButton';
import ProductWithdrawButton from './components/ProductWithdrawButton';

export default {
  components: {
    ProductPurchaseButton,
    ProductReceiveButton,
    ProductWithdrawButton,
    ProductReceiptButton,
    // AppBar,
    // MarketplaceJobCard,
  },

  props: {
    product: {
      type: Object,
      default: () => {},
    },
  },

  data() {
    return {
      dialog: false,
      confirmDialog: false,
    };
  },

  computed: {
    imgUrls() {
      if (this.product.productMetadata.image) {
        return [this.product.productMetadata.image];
      }
      return this.product.productMetadata.images;
    },
  },
  methods: {
    async purchaseProduct() {
      const { worker } = this.$store.state;
      const ret = await this.$ProductService.requestProductPay({
        productId: this.product.id,
        workerId: worker.id,
        amount: this.product.price,
        fee: 1000,
        currency: 'MMK',
        method: 'ONGO',
        coordinates: '+959691831271',
      });
      if (ret) {
        this.dialog = false;
        this.$EventBus.$emit('show-alert', {
          type: 'success',
          message: 'Product purchase successful',
        });
        this.$EventBus.$emit('refresh-worker');
      }
    },
  },
};
</script>

<style scoped>
.row >>> .col {
  padding: 2px 10px;
}
.container >>> .row {
  line-height: 1.2;
}
.v-rating >>> .v-icon {
  padding: 0px;
  font-size: 13px !important;
}
.small-title {
  font-size: 1em !important;
  font-weight: 500;
  letter-spacing: .0125em!important;
}
.caption {
  font-size: 0.8em;
  color: grey;
}
</style>>
