<template>
  <v-container>
    <v-layout
      v-for="(shift, i) in shifts"
      :key="i"
      row
    >
      <ShiftTimeLabel
        :shift="shift"
      />
      <VacanciesLeftLabel
        :shift="shift"
      />
    </v-layout>
  </v-container>
</template>

<script>
import ShiftTimeLabel from '@/components/Shifts/Labels/ShiftTimeLabel';
import VacanciesLeftLabel from '@/components/Shifts/Labels/VacanciesLeftLabel';

export default {
  components: {
    ShiftTimeLabel,
    VacanciesLeftLabel,
  },

  props: {
    shifts: {
      type: Array,
      default: () => [],
    },
  },
};
</script>
