<template>
  <v-card>
    <v-card-title>
      <v-layout div-col>
        <v-flex>{{ candidate.name }}</v-flex>
        <v-flex>{{ candidate.phone }}</v-flex>
        <v-flex>{{ candidate.locationFrom }}</v-flex>
      </v-layout>
    </v-card-title>
    <v-card-text>
      <h3>Shifts Applied</h3>
      <div
        v-for="(shift, i) in shiftsApplied"
        :key="i"
      >
        <span
          :class="(shiftOfferedToOther(shift)) ? 'offered' : ''"
        >
          <span>
            {{ $moment(shift.startTime).format('MMM D') }}
          </span>
          <span>
            {{ $moment(shift.startTime).format('hh:mmA') }}
            -
            {{ $moment(shift.endTime).format('hh:mmA') }}
          </span>
        </span>
        <span
          v-if="shiftOfferedToOther(shift)"
        >
          <span>Offered to </span>
          <span>{{ shift.worker.name }}</span>
        </span>
      </div>
    </v-card-text>
    <v-card-actions>
      <v-btn
        id="btn-JobDetailPage-Accept"
        @click="offerShift"
        :disabled="!candidateIsAcceptable"
        color="success"
        v-html="'Accept'"
      />
      <v-btn
        id="btn-JobDetailPage-Interview"
        color="info"
        v-html="'Interview'"
      />
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    candidate: {
      type: Object,
      default: () => {},
    },
    shifts: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    shiftsApplied() {
      const shiftsApplied = this.shifts.filter((shift) => {
        if (shift.candidates) {
          const index = shift.candidates.findIndex(candidate => candidate.id === this.candidate.id);
          return (index > -1);
        }
        return -1;
      });
      return shiftsApplied;
    },

    candidateIsAcceptable() {
      let isAcceptable = true;

      this.shiftsApplied.forEach((shift) => {
        if (shift.worker != null) {
          if (shift.worker.id !== this.candidate.id) {
            isAcceptable = false;
          }
        }
      });

      return isAcceptable;
    },
  },
  methods: {
    shiftOfferedToOther(shift) {
      if (shift.worker != null) {
        if (shift.worker.id !== this.candidate.id) {
          return true;
        }
      }
      return false;
    },

    async offerShift() {
      const promises = [];
      let args = {};

      this.shiftsApplied.forEach((shift) => {
        args = {
          id: shift.id,
          workerId: this.candidate.id,
        };

        promises.push(this.$JobService.offerShift(args));
      });

      const ret = await Promise.all(promises)
        .catch((err) => {
          this.$log.error(err);
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message: 'Cannont the candidate',
          });
        });

      if (ret) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Candidate accepted',
        });
      }
    },
  },
};
</script>

<style scoped>
.offered {
  text-decoration: line-through;
}
</style>
