<template>
  <v-card>
    <v-card-title>
      <v-layout div-col>
        <v-flex>{{ candidate.name }}</v-flex>
        <v-flex>{{ candidate.phone }}</v-flex>
        <v-flex>{{ candidate.locationFrom }}</v-flex>
      </v-layout>
    </v-card-title>
    <v-card-text>
      <h3>Shifts Applied</h3>
      <div
        v-for="(shift, i) in shiftsOffered"
        :key="i"
      >
        <div>
          <span>
            {{ $moment(shift.startTime).format('MMM D') }}
          </span>
          <span>
            {{ $moment(shift.startTime).format('hh:mmA') }}
            -
            {{ $moment(shift.endTime).format('hh:mmA') }}
          </span>
        </div>
      </div>
    </v-card-text>
    <v-card-actions>
      <!-- <v-btn
        color="error"
      >
        Reject
      </v-btn>
      <v-btn
        color="info"
      >
        Interview
      </v-btn> -->
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    candidate: {
      type: Object,
      default: () => {},
    },
    shifts: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    shiftsOffered() {
      const shiftsOffered = this.shifts.filter((shift) => {
        if (shift.worker != null) {
          return shift.worker.id === this.candidate.id;
        }
        return false;
      });

      return shiftsOffered;
    },
  },
  methods: {
  },
};
</script>
