<template>
  <v-container>
    <v-expansion-panels
      v-model="panel"
      multiple
    >
      <v-expansion-panel>
        <v-expansion-panel-header>
          Hired Candidates
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <JobCandidateListChosenCandidate
            v-for="(candidate, i) in acceptedCandidates"
            :key="i"
            :candidate="candidate"
            :shifts="shifts"
          />
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>
          Offered Candidates
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <JobCandidateListChosenCandidate
            v-for="(candidate, i) in offeredCandidates"
            :key="i"
            :candidate="candidate"
            :shifts="shifts"
          />
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>
          Candidates
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <JobCandidateListCard
            v-for="(candidate, j) in candidates"
            :key="j + 100"
            :candidate="candidate"
            :shifts="shifts"
          />
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>
          Rejected Candidates
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <JobCandidateListCard
            v-for="(candidate, j) in rejectedCandidates"
            :key="j + 100"
            :candidate="candidate"
            :shifts="shifts"
          />
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-container>
</template>

<script>
import JobCandidateListCard from '@/components/Jobs/JobCandidateListCard';
import JobCandidateListChosenCandidate from '@/components/Jobs/JobCandidateListChosenCandidate';

export default {
  components: {
    JobCandidateListCard,
    JobCandidateListChosenCandidate,
  },
  props: {
    shifts: {
      type: Array,
      default: () => [],
    },
  },
  data: () => ({
    panel: [1],
  }),
  computed: {
    acceptedCandidates() {
      const acceptedCandidates = new Set();

      this.shifts.forEach((shift) => {
        if (shift.worker != null && shift.workerAccepted) {
          acceptedCandidates.add(shift.worker);
        }
      });

      return Array.from(acceptedCandidates);
    },

    offeredCandidates() {
      const offeredCandidates = new Set();

      this.shifts.forEach((shift) => {
        if (shift.worker != null && !shift.workerAccepted) {
          offeredCandidates.add(shift.worker);
        }
      });

      return Array.from(offeredCandidates);
    },

    candidates() {
      const candidates = new Set();

      this.shifts.forEach((shift) => {
        shift.candidates.forEach((candidate) => {
          candidates.add(candidate);
        });
      });

      let filteredCandidates = Array.from(candidates);
      if (this.rejectedCandidates.length === 0) {
        return filteredCandidates;
      }

      filteredCandidates = filteredCandidates.filter(candidate => this.rejectedCandidates.find(
        reject => reject.id === candidate.id,
      ) > -1);

      return filteredCandidates;
    },

    rejectedCandidates() {
      const rejectedCandidates = new Set();

      this.shifts.forEach((shift) => {
        if (shift.workerAccepted) {
          shift.candidates.forEach((candidate) => {
            rejectedCandidates.add(candidate);
          });
        }
      });

      return Array.from(rejectedCandidates);
    },
  },
};
</script>
