<template>
  <v-card
    width="100%"
    outlined
  >
    <v-card-title>
      <v-container>
        <v-row
          class="title"
        >
          {{ job.title }}
        </v-row>
      </v-container>
    </v-card-title>
    <v-card-text>
      <v-container>
        <v-layout>
          <v-row
            v-if="job.type === 'PART_TIME'"
          >
            ({{ job.shifts.length }}
            {{ (job.shifts.length === 1) ? 'day' : 'days' }})
          </v-row>
          <v-row
            v-if="job.type === 'PART_TIME'"
          >
            ({{ totalWorkHours }}
            {{ (totalWorkHours === 1) ? 'hour' : 'hours' }})
          </v-row>
        </v-layout>
        <v-row
          v-if="job.type === 'FULL_TIME'"
        >
          Monthly Salary:
          {{ formatCurrency(job.renumerationValue) }}
        </v-row>
        <v-row
          v-else
        >
          {{ job.renumerationValue * totalWorkHours }} total
        </v-row>
        <v-row>
          {{ job.address }}
        </v-row>

        <div
          v-for="(shift, i) in job.shifts"
          :key="i"
        >
          <v-row
            v-if="job.type === 'FULL_TIME'"
          >
            {{ $moment(shift.startTime).format('MMM D YYYY') }}
            - {{ $moment(shift.endTime).format('MMM D YYYY') }}
          </v-row>
          <v-row>
            {{ $moment(shift.startTime).format('hh:mmA') }}
            - {{ $moment(shift.endTime).format('hh:mmA') }}
          </v-row>
          <!-- <v-row class="mt-3">
            <DeductionButton :shift="shift" />
            <TaxConfigButton
              :shift="shift"
              :tax-configurations="shift.taxConfigurations"
            />
            <EditLeaveDialog :prop-shift="shift" />
          </v-row> -->
          <!-- <v-row class="mt-5">
            <WorkerAssignManual
              v-if="job.private"
              :job="job"
              :shift="shift"
            />
            <JobCandidateList
              v-else
              :shifts="job.shifts"
            />
          </v-row> -->
        </div>
        <v-row
          no-gutters
          justify="end"
          class="caption "
        >
          <span>created on: {{ job.createdAt | dateTime('DD-MM-YYYY') }}</span>
        </v-row>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import PayrollDeductionsList from '@/components/Payrolls/Lists/PayrollDeductionsList';
import PayrollTaxConfigurationList from '@/components/Payrolls/Lists/PayrollTaxConfigurationList';
import DeductionButton from '@/components/Payrolls/Buttons/DeductionButton';
import TaxConfigButton from '@/components/Payrolls/Buttons/TaxConfigButton';
import EditLeaveDialog from '@/components/Common/Dialog/EditLeaveDialog';
import JobCandidateList from '@/components/Jobs/JobCandidateList';
import WorkerAssignManual from '@/components/Workers/WorkerAssignManual';

export default {
  components: {
    // PayrollDeductionsList,
    // PayrollTaxConfigurationList,
    // DeductionButton,
    // TaxConfigButton,
    // EditLeaveDialog,
    // JobCandidateList,
    // WorkerAssignManual,
  },

  props: {
    job: {
      type: Object,
      default: () => {},
    },
  },

  computed: {
    totalWorkHours() {
      if (this.job.shifts == null) {
        return 0;
      }
      const totalWorkHours = this.job.shifts.reduce((accumulator, shift) => accumulator
        + (Math.abs(new Date(shift.endTime) - new Date(shift.startTime)) / 36e5), 0);
      return totalWorkHours.toFixed(1);
    },
  },
};
</script>
