<template>
  <v-list-item
    @click="viewDetails(job)"
  >
    <v-list-item-content>
      <v-list-item-title>
        <v-row
          no-gutters
          align="center"
        >
          <span v-if="worker">
            <b>{{ job.title + proxyCompanyName }}</b>
            <span class="mx-1">•</span>
            <b>{{ worker.name }}</b>
          </span>
          <span
            v-else
            :class="{'jobdoh-red': !jobNotPosted}"
          >
            <!-- TODO: mark unpublish -->
            <b>{{ job.title }} {{ proxyCompanyName }}  </b>
            <span class="mx-1">•</span>
            <b v-if="job.isOfflineJob || !jobNotPosted">POSITION OPEN</b>
            <b v-else>UNPUBLISHED</b>
          </span>
          <span
            v-if="!shift.workerAccepted"
            class="mx-1"
            outlined
            small
          >
            <span class="mx-1">•</span>
            {{ vacancyLeft }}
          </span>
        </v-row>
      </v-list-item-title>
      <v-list-item-subtitle>
        {{ jobType }}
        <v-chip
          small
          outlined
        >
          <v-icon
            small
            left
          >
            mdi-calendar
          </v-icon>
          {{ shiftTimeline }}
          <v-row
            no-gutters
            v-if="job.type === 'PART_TIME' && !isMockupShift(shift)"
          >
            <v-divider
              vertical
              class="mx-1"
            />
            <v-icon
              small
              class="mr-1"
            >
              mdi-clock-outline
            </v-icon>
            <span>
              {{ shiftTime }}
            </span>
          </v-row>
          <v-row
            no-gutters
            v-if="!jobComplete && $AccessService.isUnlocked('TIMESHEET')"
          >
            <v-divider
              vertical
              class="mx-1"
            />
            <span>{{ payCycleStartDate }} - {{ payCycleEndDate }}</span>
            <v-icon
              small
              class="mx-1"
            >
              mdi-sync
            </v-icon>
            <span>
              {{ paymentStatus }}
            </span>
          </v-row>
        </v-chip>
      </v-list-item-subtitle>
      <v-list-item-subtitle>
        <PaymentRateLabel
          :job="job"
          :shift="shift"
        />
      </v-list-item-subtitle>
      <v-list-item-subtitle v-if="job.address">
        <v-row
          align="center"
          no-gutters
        >
          <span>
            <v-icon
              small
              left
            >
              mdi-map-marker
            </v-icon>
            {{ job.address }}
          </span>
        </v-row>
      </v-list-item-subtitle>
    </v-list-item-content>
    <v-list-item-action v-if="jobComplete">
      <WorkerDismissFeedbackButton
        feedback
        :shift="shift"
        @gave-feedback="$eventHub.$emit('refresh-organisation-jobs')"
      />
      <!-- <v-dialog
        v-model="feedbackDialog"
        max-width="400"
      >
        <v-card>
          <v-card-title>
            Give Feedback
          </v-card-title>
          <v-card-text>
            <v-select
              outlined
              v-model="feedback"
              :items="['MUST_HIRE', 'WILL_HIRE_AGAIN', 'WILL_NOT_HIRE', 'ABSENT']"
              flat
              hide-details
            />
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              @click="feedbackDialog = false"
              text
            >
              Close
            </v-btn>
            <v-btn
              class="jobdoh"
              :dark="!disableFeedback"
              :disabled="disableFeedback"
              @click="giveFeedback"
              :loading="feedbackLoading"
            >
              Feedback
            </v-btn>
          </v-card-actions>
        </v-card>
        <template #activator="{on}">
          <v-chip
            v-on="on"
            @mousedown.stop
            @touchstart.stop
            @click.stop
            outlined
          >
            <v-icon
              small
              left
            >
              mdi-message-alert-outline
            </v-icon>
            Feedback
          </v-chip>
        </template>
      </v-dialog> -->
    </v-list-item-action>
    <v-list-item-action v-else>
      <v-row v-if="jobNotPosted">
        <v-chip
          outlined
          @click.stop="$eventHub.$emit('show-tutorial-feature', 'POST_JOB', true)"
          class="ma-2 black"
          color="error"
          style=" justify-content: center;"
        >
          <span class="font-weight-bold mr-1">
            {{ job.isOfflineJob ? 'Private ': 'Unpublished' }}
          </span>
          <span>(click to publish job)</span>
        </v-chip>
        <!-- <v-chip
          v-if="$AccessService.isUnlocked('POST_JOB')"
          outlined
          @click.stop="$eventHub.$emit('show-tutorial-feature', 'POST_JOB', true)"
          class="ma-2 black"
          color="error"
          style="justify-content: center;"
        >
          <b>{{ workerAccepted ? 'Working': 'Hire' }}</b>
          <v-icon
            right
            color="error"
          >
            mdi-alert-circle-outline
          </v-icon>
        </v-chip> -->
      </v-row>
      <v-row v-else>
        <v-chip
          outlined
          class="ma-2 black"
          style=" justify-content: center;"
        >
          <span class="font-weight-bold mr-1">
            {{ job.isOfflineJob ? 'Private ': job.marketplace.name }}
          </span>
          <span />
        </v-chip>
        <v-badge
          v-if="$AccessService.isUnlocked('POST_JOB')"
          overlap
          color="red"
          :offset-x="20"
          :offset-y="20"
          :content="candidates.length"
          :value="candidates.length"
        >
          <v-chip
            outlined
            class="ma-2 black"
            style="justify-content: center;"
            :color="shift.candidates.length === 0 && !workerAccepted ? 'grey' : ''"
          >
            <b>{{ workerAccepted ? 'Working': 'Hire' }}</b>
          </v-chip>
        </v-badge>
      </v-row>
    </v-list-item-action>
  </v-list-item>
</template>

<script>
// import gql from 'graphql-tag';
import PaymentRateLabel from '@/components/shared/components/Marketplace/components/PaymentRateLabel';
import WorkerDismissFeedbackButton from '@/components/Workers/Buttons/WorkerDismissButton';
import moment from 'moment';

export default {
  components: {
    PaymentRateLabel,
    WorkerDismissFeedbackButton,
  },
  props: {
    job: {
      type: Object,
      default: () => {},
    },
    shift: {
      type: Object,
      default: () => {},
    },
    organisation: {
      type: Object,
      default: () => {},
    },
    jobComplete: {
      type: Boolean,
      default: () => false,
    },
  },
  data() {
    return {
      feedback: 'WILL_HIRE_AGAIN',
      feedbackDialog: false,
      feedbackLoading: false,
      disableFeedback: false,
    };
  },

  computed: {
    candidates() {
      if (this.shift.workerAccepted) return [];
      const vacancyShifts = this.job.shifts
        .filter(e => e.startTime === this.shift.startTime);
      const candidates = vacancyShifts.map(e => e.candidates);
      return candidates.filter(e => e != null && e.length > 0).flat();
    },

    vacancyLeft() {
      const vacancyShifts = this.job.shifts
        .filter(e => e.startTime === this.shift.startTime);
      const hiredShifts = vacancyShifts.filter(e => e.workerAccepted === false);
      return `${hiredShifts.length}/${vacancyShifts.length} vacancies`;
    },
    proxyCompanyName() {
      const { proxyCompanyName } = this.job;
      if (proxyCompanyName && this.$store.getters.currentOrganisation.name !== proxyCompanyName) {
        return `for ${proxyCompanyName}`;
      }
      return '';
    },
    jobNotPosted() {
      return this.job.marketplace && this.job.marketplace.id === this.NOT_POSTED_MARKETPLACE_ID;
    },
    worker() {
      return this.shift.worker;
    },
    hasApplicants() {
      const { candidates } = this.shift;
      return candidates && Array.isArray(candidates) && candidates.length > 0;
    },
    workerAccepted() {
      return this.shift.workerAccepted;
    },
    paymentStatus() {
      const paymentStatus = `Pay on ${this.payCycleEndDate}`;
      const paymentInfo = (this.paymentInformation && this.paymentInformation.paymentMethod)
        ? ` - ${this.paymentInformation.paymentMethod.code}` : '';

      return `${paymentStatus}${paymentInfo}`;
    },
    shiftTime() {
      const { startTime, endTime } = this.shift;
      return `${moment(startTime).format('HH:mm')} - ${moment(endTime).format('HH:mm')}`;
    },
    shiftTimeline() {
      const startDate = moment(this.shift.startTime).format('DD MMM YYYY');
      const isExpired = moment().isAfter(this.shift.endTime);
      const endDate = isExpired ? moment(this.shift.endTime).format('DD MMM YYYY') : 'Ongoing';
      return `${startDate} - ${endDate}`;
    },
    paymentInformation() {
      return this.worker && this.worker.defaultWorkerPaymentMethod;
    },
    payCycleStartDate() {
      const startDate = moment()
        .date(this.organisation.payCycleMonthDays[0])
        .format('DD MMM');
      return startDate;
    },
    payCycleEndDate() {
      const endDate = moment()
        .date(this.organisation.payCycleMonthDays[0])
        .add(1, 'months')
        .subtract(1, 'days')
        .format('DD MMM');
      return endDate;
    },
    jobType() {
      if (this.job.type.includes('FULL_TIME')) {
        return 'Full Time';
      }
      if (this.job.type === 'PART_TIME') {
        return 'Part Time';
      }
      return 'Contract';
    },
    specialInvitePhone() {
      const found = this.$store.getters.specialInviteJobs
        .find(specialInviteJob => specialInviteJob.jobId === this.job.id);
      if (found) {
        return found.phone;
      }
      // const specialInviteJob = {
      //   phone: found.phone,
      // };
      // this.$store.dispatch('removeSpecialInviteJob', specialInviteJob);
      return false;
    },
    isPosted() {
      return !!this.job.marketplaceId;
    },
  },

  mounted() {
  },

  methods: {
    async giveFeedback() {
      this.feedbackLoading = true;
      const ret = await this.$RatingService.createFeedbackToken({
        fromType: 'employer',
        fromId: this.shift.employerId,
        targetType: 'worker',
        targetId: this.worker.id,
        feedbackType: 'WorkerRating',
        feedbackValue: this.feedback,
      });
      if (ret) {
        this.$log.debug('feedback token create successfully');
        this.disableFeedback = true;
      }
      this.feedbackLoading = false;
      this.feedbackDialog = false;
    },
    viewDetails(job) {
      if (this.job.isOfflineJob) {
        this.$router.push({
          // path: `/app/view-job/${job.id}`,
          name: 'view-job',
          params: {
            jobId: job.id,
            organisation: this.organisation,
          },
        });
      } else {
        this.$router.push({
          path: `/app/view-job-detail/${job.id}`,
        });
      }
    },
    isMockupShift(shift) {
      return moment(shift.startTime).format('HH:mm') === moment(shift.endTime).format('HH:mm');
    },
  },
};
</script>
<style scoped>
.fc-green{
  color:green;
}
.fc-red{
  color: red;
}
.fs-10{
  font-size: 10px;
}
.text-align-end{
  text-align: right;
}
.card-margin{
  margin-top: 10px;
  margin-bottom: 10px;
}

</style>
