<template>
  <div
    style="overflow: auto; height: calc(100vh - 107px)"
  >
    <div class="text-center py-2">
      <v-row
        dense
        align="center"
        no-gutters
      >
        <v-spacer />
        <v-btn
          id="btn-DisbursementPage-GoPreviousPage"
          text
          icon
          color="pink"
          @click="prevPageChange"
        >
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
        Page: {{ pageNo }}
        <span class="mx-2">-</span>
        <v-select
          v-model="itemsPerPage"
          :items="itemsPerPageArray"
          @change="itemChange"
          style="max-width: 100px"
          dense
          outlined
          hide-details
        />
        <v-btn
          id="btn-DisbursementPage-GoNextPage"
          text
          icon
          color="pink"
          @click="nextPageChange"
        >
          <v-icon>mdi-chevron-right</v-icon>
        </v-btn>
      </v-row>
    </div>
    <center v-if="loading">
      <v-progress-circular indeterminate />
    </center>
    <v-expansion-panels
      v-else
      accordion
      multiple
      v-model="expansionPanelsState"
    >
      <v-expansion-panel v-model="panel">
        <v-expansion-panel-header>CURRENT JOBS : </v-expansion-panel-header>
        <v-expansion-panel-content class="custom-expansion-panel-content">
          <v-row
            v-if="currentJobs.length === 0"
            justify="center"
            class="ma-3"
          >
            No jobs created yet
          </v-row>
          <div v-else>
            <v-card
              v-for="job in currentJobs"
              :key="job.id"
              class="ma-3"
              outlined
            >
              <v-card-text
                v-for="(shift, i) in uniqueShifts(job.shifts)"
                :key="i+shift.id"
                class="pa-0"
              >
                <JobListCard
                  class="px-6"
                  :job-complete="false"
                  :shift="shift"
                  :organisation="organisation"
                  :job="shift.job"
                />
              </v-card-text>
            </v-card>
          </div>
        </v-expansion-panel-content>
        <v-divider />
      </v-expansion-panel>
      <AccessBlocker
        style="width: 100%"
        :features="['VIEW_PAST_JOBS']"
      >
        <v-expansion-panel :disabled="allShifts.past.length === 0">
          <!-- <template v-slot:header>
          <h3>PAST JOBS:</h3>
        </template> -->
          <v-expansion-panel-header>PAST JOBS : </v-expansion-panel-header>
          <v-expansion-panel-content class="custom-expansion-panel-content">
            <div>
              <v-card
                v-for="(shift, i) in allShifts.past"
                :key="i"
                class="ma-3"
                outlined
              >
                <JobListCard
                  class="px-6"
                  :job-complete="true"
                  :organisation="organisation"
                  :shift="shift"
                  :job="shift.job"
                />
              </v-card>
            </div>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </AccessBlocker>
    </v-expansion-panels>
  </div>
</template>

<script>
import JobListCard from '@/components/Jobs/JobListCard';
import Center from '@/components/Common/Center';
import AccessBlocker from '@/components/Common/AccessBlocker';
import gql from 'graphql-tag';
import moment from 'moment';

export default {
  components: {
    Center,
    AccessBlocker,
    JobListCard,
  },

  // eslint-disable-next-line vue/require-prop-types
  props: ['organisation'],

  data() {
    return {
      panel: true,
      loading: true,
      jobs: [],
      shifts: [],
      expansionPanelsState: [0],

      // for pagination
      pageNo: 1,
      pageCount: 0,
      itemsPerPage: 30,
      itemsPerPageArray: [30, 'All'],
      first: 30,
      skip: 0,
    };
  },

  computed: {
    allShifts() {
      const current = [];
      const past = [];
      this.shifts.forEach((s) => {
        if (s.workComplete) {
          past.push(s);
        } else {
          current.push(s);
        }
      });

      return { current, past };
    },
    currentJobs() {
      const { current } = this.allShifts;
      const jobIds = Array.from(new Set(current.map(e => e.job.id)));
      return jobIds.map(id => ({
        id,
        shifts: current.filter(s => s.job.id === id),
      }));
    },
    surveyTriggers() {
      return this.$store.state.employer.surveyTriggers;
    },
  },

  watch: {
    allShifts({ current, past }) {
      const { firstJobPosted, numOfHiredWorkers } = this.surveyTriggers;

      if (past.length > 0) {
        const newSurveyTriggers = { ...this.surveyTriggers, firstJobPosted: true };
        if (!firstJobPosted) {
          this.$eventHub.$emit('show-survey', {
            featuresName: ['CREATE_MARKETPLACE_JOB'],
            title: 'Tell us more about your hiring before we continue',
            onSubmit: () => {
              this.$store.dispatch('setSurveyTriggers', newSurveyTriggers);
            },
          });
        }
      }

      const currentHiredWorkers = current.filter(shift => shift.worker);
      if (currentHiredWorkers.length > 0) {
        const newSurveyTriggers = {
          ...this.surveyTriggers,
          numOfHiredWorkers: currentHiredWorkers.length,
        };
        if (!numOfHiredWorkers) {
          this.$eventHub.$emit('ask-first-worker-hiring-feedback', () => {
            this.$store.dispatch('setSurveyTriggers', newSurveyTriggers);
          });
        } else if (currentHiredWorkers.length > numOfHiredWorkers) {
          this.$eventHub.$emit('ask-workers-hiring-feedback', () => {
            this.$store.dispatch('setSurveyTriggers', newSurveyTriggers);
          });
        }
      }
    },
  },

  mounted() {
    // this.shifts = await this.shiftsQuery();
    // const jobs = this.shifts ? this.shifts.map(e => e.job) : [];
    // this.jobs = jobs.filter(e => e != null);
    this.$eventHub.$on('refresh-organisation-jobs', () => {
      this.$apollo.queries.shifts.refetch();
    });
  },

  methods: {
    uniqueShifts(shifts) {
      const ret = this.getUniqueShiftByTimesNotIncludeHired(shifts);

      return ret.filter(e => e != null);
    },
    async itemChange(event) {
      this.$log.debug({ event });
      this.first = this.itemsPerPage !== 'All' ? this.itemsPerPage : null;
      this.skip = this.itemsPerPage * (this.pageNo - 1);
      // this.$apollo.queries.shifts.refetch();
    },
    async prevPageChange() {
      if (this.pageNo > 1) {
        this.pageNo -= 1;
      }
      this.first = this.itemsPerPage !== 'All' ? this.itemsPerPage : null;
      this.skip = this.itemsPerPage * (this.pageNo - 1);
      // this.$apollo.queries.shifts.refetch();
    },
    async nextPageChange() {
      if (this.shifts.length === this.itemsPerPage) {
        this.pageNo += 1;
      }
      this.first = this.itemsPerPage !== 'All' ? this.itemsPerPage : null;
      this.skip = this.itemsPerPage * (this.pageNo - 1);
      // this.$apollo.queries.shifts.refetch();
    },
  },

  apollo: {
    shifts: {
      query: gql`query shifts(
        $filter: FilterType,
        $sort: GraphQLJSON,
        $skip: Int,
        $first: Int,
        # $myId: String!,
      ) {
        shifts(
          filter: $filter,
          sort: $sort,
          skip: $skip,
          first: $first,
        ) {
          id
          startTime
          endTime
          workComplete # deprecated
          completedAt
          employerId
          salary
          candidates {
            id
          }
          jobContract {
            id
          }
          feedbackToWorker {
            id
            feedbackValue
            createdAt
            updatedAt 
          }
          feedbackToEmployer {
            id
            feedbackValue
            createdAt
            updatedAt 
          }
          worker {  
            id
            name
            phone
            verified
            defaultWorkerPaymentMethod{
              id
              paymentMethod{
                id
                code
              }
              coordinates
            }
            # feedback(employerId: $myId) {
            #   id
            # }
          }
          workerAccepted
          job {
            id
            title
            type
            role
            address
            shifts {
              id
              startTime
              endTime
              workComplete 
              completedAt
              employerId
              candidates {
                id
              }
              worker {
                id
                name
                phone
                verified
                defaultWorkerPaymentMethod{
                  id
                  paymentMethod{
                    id
                    code
                  }
                  coordinates
                }
              }
              workerAccepted
            }
            location {
              township
              state
              country
            }
            renumerationValue
            renumerationCurrency
            minShiftsBalance
            private
            proxyCompanyName
            organisation {
              id
            }
            marketplace {
              id
              name
            }
            paymentMethods {
              id
              name
              currency
            }
            paymentOption
            jobContract {
              id
            }
            isOfflineJob
          }
        }
      }
      `,
      variables() {
        return {
          filter: {
            query: {
              AND: [
                {
                  organisationId: this.organisation.id,
                },
              ],
            },
          },
          first: this.first,
          skip: this.skip,
          // orderBy: 'createdAt',
          sort: {
            dismissed: 1,
            createdAt: -1,
          },
          // myId: this.$store.state.employer.id,
        };
      },
      // eslint-disable-next-line no-unused-vars
      result({ data, loading, error }) {
        this.loading = loading;
        if (error) {
          this.$log.error(error);
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message: 'The shifts query error',
          });
        }
        if (data) {
          this.shifts = data.shifts;
          const jobs = this.shifts.map(e => e.job);
          this.jobs = jobs.filter(e => e != null);
          this.$emit('update:prop-jobs', this.jobs);
        }
      },
    },
  },

};
</script>

<style scoped>
.custom-expansion-panel-content >>> .v-expansion-panel-content__wrap{
  padding: 0 !important;
}
</style>
