<template>
  <v-card
    v-if="job"
    @click="viewDetails(job)"
  >
    <v-card-title>
      <v-layout row>
        <v-flex>
          <div class="title font-weight-bold">
            {{ job.title }}
          </div>
          <div class="subtitle-1">
            {{ jobType }} @{{ job.location }}
          </div>
        </v-flex>
        <v-flex>
          <div class="subtitle-1">
            {{ formatCurrency(job.renumerationValue) }}
          </div>
        </v-flex>
        <v-flex
          class="flex-center"
        >
          <v-chip
            outlined
          >
            {{ (job.private) ? 'Private' : 'Public' }}
          </v-chip>
          <v-btn
            fab
            outlined
            small
            @click="editJob"
          >
            <v-icon dark>
              edit
            </v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-card-title>
    <v-card-text>
      <h4>{{ jobType }} Employees</h4>
      <v-list
        v-if="job.type === 'FULL_TIME'"
        two-line
      >
        <template v-for="(shift, i) in job.shifts">
          <v-list-item
            v-if="shift.workerAccepted && shift.worker != null"
            :key="i"
          >
            <v-list-item-icon>
              <v-icon
                size="50px"
              >
                account_circle
              </v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title v-html="shift.worker.name" />
              <v-list-item-subtitle v-html="shift.worker.phone" />
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            v-if="specialInvitePhone"
            :key="i"
          >
            <v-list-item-icon>
              <v-icon
                size="50px"
              >
                account_circle
              </v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-html="specialInvitePhone" />
              <v-btn
                color="info"
                @click="offerShifts"
              >
                Invite
              </v-btn>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
      <v-list
        v-if="job.type === 'PART_TIME'"
        two-line
      >
        <template v-for="(shift, i) in job.shifts">
          <v-list-tile
            v-if="shift.workerAccepted && shift.worker != null"
            :key="i"
          >
            <v-list-tile-avatar>
              <v-icon
                size="50px"
              >
                account_circle
              </v-icon>
            </v-list-tile-avatar>

            <v-list-tile-content>
              <h6>Shift {{ (i + 1) }}</h6>
              <v-list-tile-title v-html="shift.worker.name" />
              <v-list-tile-sub-title v-html="shift.worker.phone" />
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile
            v-if="specialInvitePhone"
            :key="i"
          >
            <v-list-tile-avatar>
              <v-icon
                size="50px"
              >
                account_circle
              </v-icon>
              <v-list-tile-content>
                <v-btn>
                  Invite
                </v-btn>
                <v-list-tile-title v-html="specialInvitePhone" />
              </v-list-tile-content>
            </v-list-tile-avatar>
          </v-list-tile>
        </template>
      </v-list>
    </v-card-text>
  </v-card>
</template>

<script>
import gql from 'graphql-tag';

export default {
  props: {
    job: {
      type: Object,
      default: () => {},
    },
  },

  computed: {
    jobType() {
      if (this.job.type === 'FULL_TIME') {
        return 'Full Time';
      }
      if (this.job.type === 'PART_TIME') {
        return 'Part Time';
      }
      return '';
    },
    specialInvitePhone() {
      const found = this.$store.getters.specialInviteJobs
        .find(specialInviteJob => specialInviteJob.jobId === this.job.id);
      if (found) {
        return found.phone;
      }
      // const specialInviteJob = {
      //   phone: found.phone,
      // };
      // this.$store.dispatch('removeSpecialInviteJob', specialInviteJob);
      return false;
    },
  },

  mounted() {
    // tech debt, remove the logic somewhere, otherwise it is not scalable
    // if (this.job.shifts[0].workerAccepted != null
    // && this.job.shifts[0].workerAccepted !== false
    // && this.job.shifts[0].worker != null) {
    //   const phoneNo = this.job.shifts[0].worker.phone;
    //   this.$store.dispatch('removeSpecialInviteJob', phoneNo);
    // }
  },

  methods: {
    viewDetails(job) {
      this.$router.push({
        path: `/app/view-job/${job.id}`,
      });
    },
    editJob() {
      const propJob = this.job;

      this.$eventHub.$emit('jobedit-prepare-data', propJob);
      this.$router.push({
        name: 'edit-job',
        params: { jobObj: propJob },
      });
    },
    async offerShifts() {
      const { data } = await this.$apollo.query({
        query: gql`query workers($organisationId: ID, $phone: String) {
          workers(organisationId: $organisationId, phone: $phone) {
            id
            name
            verified
          }
        }`,
        variables: {
          organisationId: this.job.organisation.id,
          // organisationId: '5d3801b13facc71c84c0cda5',
          // phone: '+959696632800',
          phone: this.specialInvitePhone,
        },
      }).catch(err => this.$log.error({ err }));

      // const verifiedWorker = data.workers.find(worker => worker.verified);

      // if (verifiedWorker == null) {
      //   this.hasError = true;
      //   this.errorMessage = `Cannot find an account with ${this.phone}`;
      //   return;
      // }

      if (data.workers) {
        const ret = await Promise.all(this.job.shifts.map(shift => this.$JobService.offerShift({
          id: shift.id,
          workerId: data.workers[0].id,
        })))
          .catch(err => this.$log.error(err));
        if (ret) {
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'success',
            message: 'Successfully Invited!',
          });
        }
      }
    },
  },
};
</script>
<style scoped>
.fc-green{
  color:green;
}
.fc-red{
  color: red;
}
.fs-10{
  font-size: 10px;
}
.text-align-end{
  text-align: right;
}
.card-margin{
  margin-top: 10px;
  margin-bottom: 10px;
}
</style>
