<template>
  <div class="card-margin">
    <v-flex
      xs12
      offset-xs1
    >
      <v-card v-if="job">
        <v-card-title>
          <template>
            <v-layout row>
              <v-flex xs6>
                <div class="title font-weight-bold">
                  {{ job.title }}
                </div>
                <div class="subtitle-1">
                  {{ job.type }}
                </div>
              </v-flex>
            </v-layout>
          </template>
        </v-card-title>
      </v-card>
    </v-flex>
  </div>
</template>

<script>
export default {
  props: {
    job: {
      type: Object,
      default: () => {},
    },
  },
  methods: {
  },
  mounted() {
  },
};
</script>
<style>
.text-align-end{
  text-align: right;
}
.card-margin{
  margin-top: 10px;
  margin-bottom: 10px;
}
</style>
