<template>
  <v-card
    v-if="job"
    flat
  >
    <v-card-title class="pa-0">
      <v-list-item three-line>
        <v-list-item-content class="pt-1">
          <div
            v-if="organisation"
            class="overline mb-0 font-weight-bold"
          >
            {{ organisation.name }}
          </div>
          <v-list-item-title v-text="job.title" />
          <v-list-item-subtitle>
            {{ jobType }}
            <v-icon
              small
              v-text="'mdi-clock'"
            />
            {{ startTime }} - {{ endTime }}
          </v-list-item-subtitle>
          <v-list-item-subtitle v-if="job.shifts.length">
            <PaymentRateLabel
              :job="job"
              :shift="job.shifts[0]"
            />
          </v-list-item-subtitle>
          <v-list-item-subtitle v-if="job.address">
            <v-icon
              small
              left
              v-text="'mdi-domain'"
            />
            {{ job.address }}
          </v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-action v-if="assignable">
          <v-chip
            outlined
            @click.stop="$emit('assign', job)"
          >
            Assign
          </v-chip>
        </v-list-item-action>
      </v-list-item>
    </v-card-title>

    <!-- <v-container>
      <v-col
        cols="12"
      >
        <v-row dense>
          <v-col
            cols="7"
          >
            {{ organisation.name }}
          </v-col>
          <v-col
            cols="5"
          >
            <v-row class="pr-3">
              <v-spacer />
              {{ jobType }}
            </v-row>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col>
            <b> {{ job.title }} </b>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col
            cols="4"
          >
            {{ payCycleStartDate }} - {{ payCycleEndDate }}
          </v-col>
          <v-col
            cols="5"
          >
            {{ startTime }} - {{ endTime }}
          </v-col>
          <v-col
            cols="3"
          >
            <v-row class="pr-3">
              <v-spacer />
              {{ job.location }}
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-container> -->
  </v-card>
</template>

<script>
import moment from 'moment';
import PaymentRateLabel from '@/components/shared/components/Marketplace/components/PaymentRateLabel';

export default {
  components: {
    PaymentRateLabel,
  },

  props: {
    job: {
      type: Object,
      default: () => {},
    },
    organisation: {
      type: [Object, null],
      default: null,
    },
    assignable: Boolean,
  },

  computed: {
    startTime() {
      return moment(this.job.fulltimeStandardHoursStart, 'HH:mm').format('hh:mm A');
    },
    endTime() {
      return moment(this.job.fulltimeStandardHoursEnd, 'HH:mm').format('hh:mm A');
    },
    payCycleStartDate() {
      const startDate = moment()
        .date(this.organisation.payCycleMonthDays[0])
        .format('DD-MMM');
      return startDate;
    },
    payCycleEndDate() {
      const endDate = moment()
        .date(this.organisation.payCycleMonthDays[0])
        .add(1, 'months')
        .subtract(1, 'days')
        .format('DD-MMM');
      return endDate;
    },
    jobType() {
      if (this.job.type.includes('FULL_TIME')) {
        return 'Full Time';
      }
      if (this.job.type.includes('PART_TIME')) {
        return 'Part Time';
      }
      return 'Contract';
    },
  },

};
</script>
<style>
.text-align-end{
  text-align: right;
}
.card-margin{
  margin-top: 10px;
  margin-bottom: 10px;
}
</style>
