<template>
  <ApolloQuery
    :query="jobQuery"
    :variables="{
      jobId: $route.query.id,
    }"
  >
    <template slot-scope="{ result: { data, loading, error } }">
      <div v-if="loading">
        Loading...
      </div>
      <div v-else-if="error">
        Error: {{ error }}
      </div>
      <div v-else>
        <JobDetail
          :job="data.job"
        />
      </div>
    </template>
  </ApolloQuery>
</template>

<script>
import gql from 'graphql-tag';
import JobDetail from '@/components/Marketplaces/Jobs/Containers/JobDetail';

export default {
  components: {
    JobDetail,
  },

  data: () => ({
    jobQuery: gql`query job($jobId: ID!) {
      job(id: $jobId) {
        id
        title
        description
        organisation {
          id
          name
          description
        }
        proxyCompanyName
        proxyCompanyDescription
        marketplace {
          id
          name
          description
          imageUrl
        }
        type
        renumerationValue
        renumerationCurrency
        paymentOption
        location
        address
        paymentMethods {
          id
          name
        }
        jobSkillRequirements {
          jobSkill {
            id
            name
            levels {
              level
              definition
            }
          }
          level
          notes
        }
        benefits
        isPortfolioRequired
        notes
        shifts (uniqueVacancy: true) {
          id
          startTime
          endTime
          vacanciesLeft
        }
        createdAt
      }
    }`,
  }),
};
</script>
