<template>
  <div class="fill-height">
    <center v-if="loading">
      <v-progress-circular indeterminate />
    </center>
    <center v-else-if="error">
      Error: {{ error }}
    </center>
    <div v-else>
      <JobMatching
        v-if="job"
        :job="job"
        :organisation="organisation"
        @refresh-job-detail="refetchQuery"
      />
    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag';
import JobMatching from '@/components/Marketplaces/Jobs/Containers/JobMatching';
import Center from '@/components/Common/Center';
import fragments from '@/assets/js/gql/fragments';

export default {
  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  components: {
    JobMatching,
    Center,
  },

  data() {
    return {
      loading: false,
      error: null,
      job: null,
    };
  },

  methods: {
    refetchQuery() {
      return this.$apollo.queries.job.refetch();
    },
  },

  apollo: {
    job: {
      query: gql`query job($jobId: ID!) {
      job(id: $jobId) {
        id
        title
        description
        listingStartDate
        listingEndDate
        createdAt
        availableCountries
        location {
          township
          country
        }
        organisation {
          id
          name
          description
        }
        location {
          township
        }
        locationCoordinates{
          type
          coordinates
        }
        marketplace {
          id
          name
          description
          imageUrl
        }
        proxyCompanyName
        proxyCompanyDescription
        type
        role
        jobRole{
          id
          name
          jobSkills{
            jobSkill {
              id
              name
            }
          }
        }
        renumerationValue
        renumerationCurrency
        minShiftsBalance
        paymentOption
        address
        requirementDescription
        jobCategory {
          id
          name
        }
        paymentMethods {
          id
          name
          currency
        }
        jobRole{
          id
          name
          jobSkills{
            jobSkill {
              id
              name
            }
          }
        }
        jobSkillRequirements {
          jobSkill {
            id
            name
            levels {
              level
              definition
            }
            urls
          }
          level
          notes
        }
        jobCategory {
          id
          name
          jobRoles{
            id
            name
          }
        }
        benefits
        isPortfolioRequired
        notes
        isOpenEnded
        shifts (uniqueVacancy: true) {
          id
          startTime
          endTime
          completedAt
          interviews
          deductions {
            type
            amount
            enabledDate
            disabledDate
            notes
          }
          taxConfigurations {
            parents
            children
            spouse
            socialSecurityFee
          }
          candidates {
            ...worker
            profileUrl
          }
          resignRequestedDate
          jobContract { id }
          feedbackToWorker {
            id
            feedbackValue
            createdAt
            updatedAt
          }
          feedbackToEmployer {
            id
            feedbackValue
            createdAt
            updatedAt
          }
          worker {
            ...worker
            profileUrl
          }
          siblingShifts {
            id
            candidates {
              ...worker
              profileUrl
            }
            rejectedCandidates {
              ...worker
              profileUrl
            }
            worker {
              ...worker
            }
            workerAccepted
          }
          workComplete # deprecated
          workerAccepted
          leaveSickDays
          leaveSickUpdateDate
          leavePersonalDays
          leavePersonalUpdateDate
          leaveSpecialDays
          leaveSpecialUpdateDate
          vacanciesLeft
          workComplete # deprecated
          workerAccepted
        }
        fulltimeStandardHoursStart
        fulltimeStandardHoursEnd
        fulltimeOvertimeRenumerationPerHour
        fulltimeLeavePersonalAccruePerDay
        fulltimeLeaveSickAccruePerDay
        fulltimePublicHolidays
        fulltimeNonWorkWeekDays
        jobTypeConversion
        contractAcceptanceTest
        requirementNumberOfContracts
        requirementSpokenLanguages
        requirementWrittenLanguages
        requirementDocuments
        requirementScreeningChannels
        requirementRequiredSkills
        requirementVenueWorked
        requirementPreferredSkills
        requirementDressCodes
        requirementCustomDressCode
        requirementDemographicAgeGroup
        requirementDemographicGender
        allowAdvancedPay
        isOpenEnded
        proxyCompanyName
        proxyCompanyDescription
        proxyEmployerName
        proxyCompanyContact
        proxyCompanyAddress
        proxyCompanyWebsiteUrl
        requirementMinExperienceLevel
        workingDays
        workingHours
        lunchHour
        sickLeaveDays
        personalLeaveDays 
        specialLeaveDays
      }
    }
    ${fragments.worker}
    `,

      variables() {
        return {
          jobId: this.$route.params.jobId,
        };
      },
      result({ loading, error }) {
        this.loading = loading;
        this.error = error;
      },
    },

  },
};
</script>
