<template>
  <div>
    <!--
    <CustomNavBar
      title="Create a Job"
      :organisation="organisation"
    /> -->
    <JobForm
      :organisation="organisation"
      :employer="employer"
      :prop-job="job"
      :form-status.sync="formStatus"
    />
  </div>
</template>

<script>
import JobForm from '@/components/Marketplaces/Jobs/Forms/JobForm';
// import CustomNavBar from '@/components/Common/CustomNavBar';

export default {
  components: {
    JobForm,
    // CustomNavBar,
  },

  props: {
    // formType: {
    //   type: String,
    //   default: () => 'PUBLIC',
    // },
    employer: {
      type: Object,
      required: true,
    },
    job: {
      type: Object,
      default: () => null,
    },
  },

  data() {
    return {
      formStatus: null,
    };
  },

  computed: {
    organisation() {
      return this.$store.getters.currentOrganisation;
    },
  },

  beforeRouteLeave(to, from, next) {
    if (this.formStatus !== 'COMPLETE') {
      // eslint-disable-next-line no-alert
      const answer = window.confirm('Are you sure you want to navigate away?\nYou have unsaved changes!');
      if (answer) {
        this.$eventHub.$emit('save-job-create-temp');
        next();
      } else {
        next(false);
      }
    } else {
      next();
    }
  },
};
</script>
