<template>
  <v-dialog
    :value="show"
    :width="isInputState ? 960 : 500"
    @input="v => $emit('update:show', v)"
    scrollable
  >
    <!-- <v-alert
      v-if="!zoomAuthorized"
      class="ma-0 text-center white--text"
      color="info"
    >
      <v-row
        no-gutters
        align="center"
      >
        <v-icon
          left
          dark
        >
          mdi-link-variant
        </v-icon>
        <span>
          <b>Connect with Zoom </b> first before you continue
        </span>
        <v-spacer />
        <v-btn @click="$eventHub.$emit('show-account-info')">
          Take action
        </v-btn>
      </v-row>
    </v-alert> -->
    <v-card
      v-if="!isInputState"
      tile
    >
      <v-card-title>Interview</v-card-title>
      <v-card-text>
        <v-btn
          block
          text
          outlined
          @click="() => {
            if (zoomAuthorized) $emit('update:interview-type', 'ZOOM')
            else $eventHub.$emit('show-account-info', {highlightZoom: true})
          }"
        >
          Zoom Interview
        </v-btn>
        <div class="my-2" />
        <v-btn
          block
          text
          outlined
          @click=" $emit('update:interview-type', 'IN_PERSON')"
        >
          In-person Interview
        </v-btn>
      </v-card-text>
    </v-card>
    <v-card
      v-else
      tile
    >
      <v-card-title>
        Interview Availablity
      </v-card-title>
      <v-card-text class="pt-0">
        <div class="mb-2">
          Please select your available time to interview this candidate
          <v-hover v-model="showTutorial">
            <a>
              (click and drag to select interview time)
            </a>
          </v-hover>
        </div>
        <InterviewTimesInput
          v-model="times"
          :show-tutorial="showTutorial"
        />

        <v-row
          class="mt-4"
        >
          <v-col>
            <v-row
              no-gutters
              align="center"
            >
              <v-text-field
                label="Interview Length"
                v-model="interviewLengthString"
                outlined
                hide-details
                class="mr-1"
                readonly
                prepend-inner-icon="mdi-clock"
              >
                <template #append>
                  <v-row
                    no-gutters
                    align="center"
                    class="p-auto"
                  >
                    <v-btn
                      icon
                      :disabled="interviewLength <= 0.25"
                      @click="interviewLength -= 0.25"
                      x-small
                    >
                      <v-icon>
                        mdi-minus
                      </v-icon>
                    </v-btn>
                    <v-btn
                      icon
                      @click="interviewLength += 0.25"
                      x-small
                    >
                      <v-icon>
                        mdi-plus
                      </v-icon>
                    </v-btn>
                  </v-row>
                </template>
              </v-text-field>
            </v-row>
          </v-col>
          <v-col>
            <v-text-field
              label="Address"
              v-model="address"
              outlined
              hide-details
            />
          </v-col>
        </v-row>

        <v-row
          align="center"
          no-gutters
          class="mt-3"
        >
          <v-text-field
            outlined
            v-model="requirement"
            label="Materials to prepare"
            @keydown.enter="addRequirement"
            hint="Specify items you want the interviewee to prepare to bring to the interview"
            persistent-hint
          />
          <v-btn
            color="default"
            :disabled="!requirement"
            @click="addRequirement"
            text
          >
            Add
          </v-btn>
        </v-row>
        <v-chip
          v-for="(attr, i) in requirements"
          :key="i"
          color="default"
          outlined
          close
          close-icon="mdi-close"
          label
          @click:close="removeRequirement(i)"
          class="mr-1 mb-2"
        >
          {{ attr }}
        </v-chip>
      </v-card-text>
      <v-card-actions class="mr-3 justify-end">
        <v-btn
          text
          @click="$emit('update:show', false)"
        >
          {{ $t('close') }}
        </v-btn>
        <v-btn
          class="jobdoh white--text"
          :disabled="times.length === 0"
          @click.once="saveInterview"
        >
          {{ value && value.times ? 'Update' : 'Request' }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import InterviewTimesInput from '@/components/Marketplaces/Jobs/Inputs/InterviewTimesInput';

export default {
  components: { InterviewTimesInput },

  props: {
    show: {
      type: Boolean,
      require: true,
    },
    value: {
      type: Object,
      default: () => {},
    },
    interviewType: {
      type: [String, null],
      default: () => null,
    },
  },

  data() {
    return {
      showInterviewInput: false,
      showTutorial: false,
      times: this.value
        ? this.value.times
          .map(({ startDate, endDate }) => ({ start: new Date(startDate), end: new Date(endDate) }))
        : [],
      interviewLength: this.value ? this.value.interviewLength : 0.5,
      requirement: '',
      requirements: this.value ? this.value.requirements : [],
      address: this.value ? this.value.address : this.$store.getters.currentOrganisation.address,
    };
  },

  computed: {
    isInputState() {
      return (this.value || this.interviewType !== null);
    },
    zoomAuthorized() {
      return !!this.$store.state.employer.zoomAuthorized;
    },
    interviewLengthString() {
      const hour = parseInt(this.interviewLength, 10);
      const minute = parseInt((this.interviewLength % 1) * 60, 10);
      return `${`${hour}`.length < 2 ? `0${hour}` : hour}:${`${minute}`.length < 2 ? `0${minute}` : minute}`;
    },
    interviewData() {
      return {
        interviewLength: parseFloat(this.interviewLength),
        requirements: this.requirements,
        times: this.times.map(({ start, end }) => ({ startDate: start, endDate: end })),
        address: this.address,
      };
    },
  },

  methods: {
    setValues(nValue) {
      this.times = nValue
        ? nValue.times
          .map(({ startDate, endDate }) => ({ start: new Date(startDate), end: new Date(endDate) }))
        : [];
      this.requirements = nValue ? nValue.requirements : [];
      this.interviewLength = nValue ? nValue.interviewLength : 0.5;
    },
    saveInterview() {
      this.$emit('input', this.interviewData);
    },
    removeRequirement(i) {
      this.requirements.splice(i, 1);
    },
    addRequirement() {
      if (this.requirement != null) {
        this.requirements.push(this.requirement);
      }
      this.requirement = null;
    },
  },
};
</script>

<style>

</style>
