<template>
  <div>
    <v-list-item
      :width="width"
      two-line
      @click="onItemClick"
    >
      <v-list-item-avatar color="grey">
        <v-img
          v-if="candidate.profileUrl"
          :src="candidate.profileUrl"
        />
        <v-icon
          v-else
          color="white"
        >
          mdi-account
        </v-icon>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title>
          {{ candidate.name }} | {{ candidate.phone }}
        </v-list-item-title>
        <v-list-item-subtitle>
          <span v-if="roster">
            <span v-if="isVerified">
              <v-chip
                x-small
                class="black white--text"
                v-text="isAlien ? 'Non app staff' : 'Citizen'"
              />
              <v-chip
                v-if=" isDismissed"
                x-small
                outlined
                v-text="'Dismissed'"
              />
            </span>
            <v-chip
              v-else
              x-small
              class="jobdoh white--text"
              v-text="isAlien ? 'Non app staff' : 'Unverified'"
            />
          </span>
          <span v-else-if="!recommanded">
            <v-chip
              x-small
              class="jobdoh white--text"
            >
              <span v-if="isRejected">REJECTED</span>
              <AppliedDateLabel
                v-else
                :shift-id="shiftId"
                :worker-id="candidate.id"
              />
            </v-chip>
          </span>
          <v-chip
            v-if="offered && !shift.workerAccepted"
            x-small
            class="jobdoh white--text"
          >
            Offered
          </v-chip>
          <v-chip
            v-if="!roster && shift.workerAccepted && !isRejected"
            x-small
            class="jobdoh white--text"
          >
            Hired
          </v-chip>
          <v-container v-if="!roster">
            <v-row
              v-if="!isRejected && !isOffered"
            >
              <CandidateActions
                :job="job"
                :shift="shift"
                :candidate="candidate"
                :shift-id="shiftId"
                :recommanded="recommanded"
              />
            </v-row>
            <v-row
              v-if="!isRejected && shift.workerAccepted"
              no-gutters
            >
              <v-spacer />
              <span
                v-if="shift.resignRequestedDate != null"
                class="my-1"
                style="font-size: 12px; color: #C2232A"
              >
                Resignation requested at
                {{ moment(shift.completedAt).format('DD-MM-YYYY HH:mm') }}
              </span>
              <DeductionButton
                :shift="shift"
              />
              <TaxConfigButton
                :shift="shift"
                :tax-configurations="shift.taxConfigurations"
              />
              <EditLeaveDialog :prop-shift="shift" />

              <WorkerDismissButton
                :feedback="shift.workComplete"
                :shift="shift"
                @click-profile="showDialog = true"
                @complete="createSameJobDialog = true"
              />
            </v-row>
          </v-container>
        </v-list-item-subtitle>
      </v-list-item-content>
      <span
        v-if="roster"
      >
        <v-chip
          v-if="candidate.jobsHired.length > 0"
          class="mx-1"
          outlined
          @click.stop="jobPanel = jobPanel === undefined ? 0 : undefined"
          @mousedown.stop
          @touchstart.stop
        >
          <v-icon
            left
            v-text="jobPanel === undefined ? 'mdi-chevron-down' : 'mdi-chevron-up'"
          />
          {{ isDismissed ? 'Past Jobs' : 'Jobs' }} ( {{ organisationJobsByWorker.length }} )
        </v-chip>
        <v-chip
          v-else
          class="mx-1"
          outlined
          @click.stop="assignJobToWorker"
          @mousedown.stop
          @touchstart.stop
        >
          <v-icon left>
            mdi-clipboard-account-outline
          </v-icon>
          Assign
        </v-chip>
      </span>

      <WorkerDetailDialog
        v-if="detail"
        :worker-id="candidate.id"
        :job="job"
        :dialog-value.sync="showDialog"
        :shift-id="shiftId"
        :recommanded="recommanded"
      />
    </v-list-item>
    <v-container v-if="interviews.length > 0 && !isOffered">
      <v-row
        class="px-5"
        v-if="pendingInterviews.length > 0"
      >
        <div>
          Pending on worker's acceptance <br>
          Requested Date: {{ moment().format('DD-MM-YYYY') }}
        </div>
        <v-spacer />
        <v-chip
          outlined
          color="default"
          @mousedown.stop
          @touchstart.stop
          @click.stop="withdrawInterviewDialog = true"
        >
          Withdraw
        </v-chip>
        <v-chip
          outlined
          class="jobdoh-red mx-1"
          @click.stop="openInterviewDialog"
          @mousedown.stop
          @touchstart.stop
        >
          Edit
        </v-chip>
      </v-row>
      <v-row
        class="px-5"
        v-else-if="confirmedInterviews.length > 0"
      >
        <div>
          Name: {{ confirmedInterviews[0].name }}<br>
          Date: {{ moment(confirmedInterviews[0].startTime ).format('YYYY-MM-DD') }}<br>
          Time: {{ moment(confirmedInterviews[0].startTime ).format('HH:mm A') }}
          - {{ moment(confirmedInterviews[0].endTime ).format('HH:mm A') }} <br>
          <span v-if="confirmedInterviews[0].link">
            Link: <a
              :href="confirmedInterviews[0].link"
              target="_blank"
            > {{ confirmedInterviews[0].link }} </a> <br>
          </span>
          <ul
            v-if="confirmedInterviews[0].requirements != null
              && confirmedInterviews[0].requirements.length"
          >
            <b> Materials to prepare </b> <br>
            <li
              v-for="(requirement, i) in confirmedInterviews[0].requirements"
              :key="i"
            >
              {{ requirement }}
            </li>
          </ul>
          <!-- <v-list
            dense
            class="pa-0"
          >
            <v-list-item
              class="my-0"
              v-for="(requirement, i) in confirmedInterviews[0].requirements"
              :key="i"
            >
              - {{ requirement }}
            </v-list-item>
          </v-list> -->
        </div><br>
        <v-spacer />
        <v-chip
          outlined
          color="default"
          @click.stop="withdrawInterviewDialog=true"
          @mousedown.stop
          @touchstart.stop
        >
          Cancel
        </v-chip>
      </v-row>
    </v-container>

    <v-expansion-panels
      v-if="roster && candidate.jobsHired.length > 0"
      v-model="jobPanel"
    >
      <v-expansion-panel>
        <v-expansion-panel-content
          class="custom-expansion-panel-content"
          style="margin-left: 56px"
        >
          <div
            v-for="(organisationJob, i) in organisationJobsByWorker"
            :key="i"
          >
            <JobRosterCard
              :job="organisationJob"
              :organisation="organisation"
            />
            <v-divider />
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <v-divider v-if="divider" />

    <!-- Interview Dialogs -->
    <InterviewDialog
      v-if="interviewData"
      :value="interviewData"
      :show.sync="showInterviewDialog"
      @input="updateInterview"
    />
    <v-dialog
      v-model="withdrawInterviewDialog"
      width="500px"
    >
      <v-card>
        <v-card-title>
          Withdraw Interview
        </v-card-title>
        <v-card-text>
          <v-alert
            type="warning"
            class="mb-2"
          >
            The worker will be notified of the cancellation and
            your time slot will be available again.
          </v-alert>
          <div>
            Do you comfirm to withdraw the interview?
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            class="ma-1"
            text
            @click="withdrawInterviewDialog = false"
          >
            Cancel
          </v-btn>
          <v-btn
            class="jobdoh ma-1"
            dark
            @click="withdrawInterview"
          >
            Withdraw
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-if="job != null && job.shifts != null && job.shifts.length === 1"
      v-model="createSameJobDialog"
      width="500px"
    >
      <v-card>
        <v-card-title>
          Do you need to post a new job to fill the role.?
        </v-card-title>
        <v-card-action>
          <v-container>
            <v-row>
              <v-spacer />
              <v-btn
                class="ma-1"
                color="default"
                small
                @click="reload"
              >
                No
              </v-btn>
              <v-btn
                class="jobdoh ma-1"
                dark
                small
                @click="createSameJob"
              >
                Yes
              </v-btn>
            </v-row>
          </v-container>
        </v-card-action>
      </v-card>
    </v-dialog>
    <v-dialog
      v-else
      v-model="createSameJobDialog"
      width="500px"
    >
      <v-card>
        <v-card-title>
          Do you want to update this job to advertise this missing shift on the marketplace.
        </v-card-title>
        <v-card-action>
          <v-container>
            <v-row>
              <v-spacer />
              <v-btn
                class="ma-1"
                color="default"
                small
                @click="reload"
              >
                No
              </v-btn>
              <v-btn
                class="jobdoh ma-1"
                dark
                small
                @click="featureUnavalibleDialog = true"
              >
                Yes
              </v-btn>
            </v-row>
          </v-container>
        </v-card-action>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="featureUnavalibleDialog"
      width="500px"
    >
      <v-card>
        <v-card-title>
          Sorry this feature not yet avaliable.
        </v-card-title>
        <v-card-action>
          <v-container>
            <v-row>
              <v-spacer />
              <v-btn
                class="jobdoh ma-1"
                dark
                small
                @click="featureUnavalibleDialog = false"
              >
                Close
              </v-btn>
            </v-row>
          </v-container>
        </v-card-action>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import AppliedDateLabel from '@/components/Marketplaces/Jobs/Labels/AppliedDateLabel';
import WorkerDetailDialog from '@/components/Marketplaces/Jobs/Dialogs/WorkerDetailDialog';
// import ProfileImage from '@/components/Workers/ProfileImage';
import JobRosterCard from '@/components/Jobs/JobRosterCard';
import CandidateActions from '@/components/Workers/CandidateActions';
// import DismissButton from '@/components/Workers/Buttons/WorkerDismissButton';
import WorkerDismissButton from '@/components/Workers/Buttons/WorkerDismissButton';
import DeductionButton from '@/components/Payrolls/Buttons/DeductionButton';
import TaxConfigButton from '@/components/Payrolls/Buttons/TaxConfigButton';
import EditLeaveDialog from '@/components/Common/Dialog/EditLeaveDialog';
import InterviewDialog from '@/components/Marketplaces/Jobs/Cards/InterviewDialog';
import mongoose from 'mongoose';
import moment from 'moment';

export default {
  components: {
    AppliedDateLabel,
    WorkerDetailDialog,
    JobRosterCard,
    CandidateActions,
    InterviewDialog,
    WorkerDismissButton,
    DeductionButton,
    TaxConfigButton,
    EditLeaveDialog,
  },

  props: {
    shiftId: {
      type: String,
      default: () => '',
    },
    shift: {
      type: Object,
      default: () => {},
    },
    candidate: {
      type: Object,
      default: () => {},
    },
    isRejected: {
      type: Boolean,
      default: () => false,
    },
    organisation: {
      type: Object,
      default: () => {},
    },
    width: {
      type: String,
      default: () => '',
    },
    job: {
      type: Object,
      default: () => {},
    },
    roster: Boolean,
    detail: Boolean,
    assigning: Boolean,
    divider: Boolean,
    recommanded: Boolean,
    offered: Boolean,
  },

  data() {
    return {
      showDialog: false,
      showInterviewDialog: false,
      jobPanel: undefined,
      requirements: [],
      times: [],
      interviewLength: 0,
      withdrawInterviewDialog: false,
      moment,
      createSameJobDialog: false,
      featureUnavalibleDialog: false,
      interviewData: null,
    };
  },

  computed: {
    isOffered() {
      return this.shift != null && this.shift.worker != null
        && this.shift.worker.id === this.candidate.id;
    },
    interviewLengthString() {
      // if (this.interviewLength === 0) return '00:00';
      const hour = parseInt(this.interviewLength, 10);
      const minute = parseInt((this.interviewLength % 1) * 60, 10);
      return `${`${hour}`.length < 2 ? `0${hour}` : hour}:${`${minute}`.length < 2 ? `0${minute}` : minute}`;
    },
    interviews() {
      // const shift = this.job && this.job.shifts[0];
      return this.shift ? this.shift.interviews.filter(i => i.workerId === this.candidate.id) : [];
    },
    confirmedInterviews() {
      return this.interviews
        .filter(e => e.confirmed);
    },
    pendingInterviews() {
      return this.interviews
        .filter(e => !e.confirmed);
    },
    isAlien() {
      return mongoose.Types.ObjectId.isValid(this.candidate.id);
    },
    isVerified() {
      return this.candidate.verified;
    },
    isDismissed() {
      return this.organisationJobsByWorker.length && this.organisationJobsByWorker
        .map(job => job.shifts)
        .every(shift => moment().isAfter(shift.endTime));
    },
    organisationJobsByWorker() {
      return this.candidate && this.candidate.jobsHired
        .filter(job => job.organisation.id === this.organisation.id);
    },
  },

  methods: {
    reload() {
      window.location.reload();
    },
    async createSameJob() {
      const propJob = this.job;
      const times = [];
      propJob.skills = this.job.jobSkillRequirements.map((skill) => {
        const level = skill.jobSkill.levels.find(e => e.level === skill.level);
        const ret = {
          definition: level.definition,
          jobSkill: skill.jobSkill,
          level: skill.level,
          name: skill.jobSkill.name,
          notes: skill.notes,
          skillId: skill.jobSkill.id,
        };
        return ret;
      });
      propJob.category = this.job.jobCategory;
      propJob.jobCategoryId = this.job.jobCategory.id || '';
      propJob.jobRoleId = this.job.jobRole.id || '';
      // const uniqueShifts = this.getUniqueShiftByTimes(this.job.shifts);
      // uniqueShifts.forEach((shift) => {
      //   // const vacancies = propJob.shifts.filter(e => e.startTime === shift.startTime).length;
      //   if (shift != null) {
      //     times.push({
      //       start: shift.startTime,
      //       end: shift.endTime,
      //       vacancies: 4,
      //     });
      //   }
      // });
      propJob.times = [];
      propJob.listingStartDate = '';
      propJob.listingEndDate = '';
      delete propJob.shifts;
      this.$router.push({
        name: 'create-marketplace-job',
        params: {
          job: propJob,
        },
      });
    },
    removeInterviewTime(i) {
      this.times.splice(i, 1);
    },
    removeRequirement(i) {
      this.requirements.splice(i, 1);
    },
    addRequirement() {
      if (this.requirement != null) {
        this.requirements.push(this.requirement);
      }
    },
    addTime(time) {
      this.times.push(time);
    },
    increaseInterviewLength() {
      this.interviewLength += 0.25;
    },
    decreaseInterviewLength() {
      this.interviewLength -= 0.25;
    },
    addHour(time, hoursToAdd) {
      const [h, m] = time.split(':');
      let timeInFloat = parseInt(h, 10) + (parseInt(m, 10) / 60);
      timeInFloat += hoursToAdd;
      const hours = parseInt(timeInFloat, 10);
      const minutes = parseInt((timeInFloat % 1) * 60, 10);
      const zeros = ['0', '0', '', '', '', ''];
      return `${zeros[`${hours}`.length]}${hours}:${zeros[`${minutes}`.length]}${minutes}`;
    },
    openInterviewDialog() {
      const [pendingInterview] = this.pendingInterviews;
      this.interviewData = pendingInterview;
      this.showInterviewDialog = true;
    },
    onItemClick() {
      if (this.roster) this.viewProfile();
      else this.showDialog = true;
    },
    viewProfile() {
      this.$router.push({
        name: 'worker-profile',
        params: { worker: this.candidate, organisation: this.organisation },
      });
    },
    getOrganisationJobBy(worker) {
      const jobs = worker.jobsHired
        .filter(job => job.organisation.id === this.organisation.id);
      return jobs;
    },
    async assignJobToWorker() {
      // if (!this.isAlien) {
      //   this.$router.push({ path: `assign-worker-job/${this.candidate.id}` });
      // } else {
      //   this.$router.push({ path: `assign-alien-worker-job/${this.candidate.id}` });
      // }
      this.$router.push({ path: `assign-worker-job/${this.candidate.id}` });
    },

    async updateInterview(interviewData) {
      const args = {
        shiftId: this.shiftId,
        workerId: this.candidate.id,
        jobId: this.job.id,
        ...interviewData,
      };
      const ret = await this.$InterviewService.updateInterview(args).catch((err) => {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'error',
          message: 'Error Request Send',
        });
        this.$log.error(err);
      });

      if (ret) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Successfully Updated the Interview',
        });
        this.interviews.splice(0, 1);
        // TODO: remove confirmed and link
        this.interviews.push({
          ...args,
          confirmed: false,
          link: '',
        });
        this.showInterviewDialog = false;
      }
    },

    async withdrawInterview() {
      const args = {
        shiftId: this.shiftId,
        workerId: this.candidate.id,
        jobId: this.job.id,
      };
      const ret = await this.$InterviewService.withdrawInterview(args).catch((err) => {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'error',
          message: 'Error Request Send',
        });
        this.$log.error(err);
      });

      if (ret) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Successfully Withdraw the Interview',
        });
        this.interviews.splice(0, 1);
        this.withdrawInterviewDialog = false;
      }
    },
  },
};
</script>

<style scoped>
  .custom-expansion-panel-content >>> .v-expansion-panel-content__wrap{
    padding: 0 !important;
  }
</style>
