<template>
  <v-card max-width="600px">
    <v-card-title class="pa-0">
      <v-list-item class="pr-2">
        <v-list-item-content>
          <v-list-item-subtitle v-if="shiftId && !recommanded">
            <v-chip
              class="jobdoh white--text"
              small
            >
              <AppliedDateLabel
                :shift-id="shiftId"
                :worker-id="worker.id"
              />
            </v-chip>
          </v-list-item-subtitle>
          <v-list-item-title class="headline my-3">
            {{ worker.name }}
          </v-list-item-title>

          <v-list-item-subtitle
            v-if="shiftId && !isOffered"
            class="mt-2"
          >
            <CandidateActions
              :job="job"
              :candidate="worker"
              :shift-id="shiftId"
              :recommanded="recommanded"
            />
          </v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-avatar
          tile
          size="110"
          color="grey"
        >
          <v-img
            v-if="worker.profileUrl"
            :src="worker.profileUrl"
          />
        </v-list-item-avatar>
      </v-list-item>
    </v-card-title>

    <WorkerRatingCard
      :worker="worker"
      max-width="100%"
    />

    <v-card-text class="mt-4">
      <div
        v-if="worker.digitalLiteracyScore"
        class="caption"
      >
        Digital Literacy Score : <b>{{ worker.digitalLiteracyScore }}</b>
      </div>
      <div
        v-if="worker.personalityType"
        class="caption"
      >
        Personality Type : <b>{{ worker.personalityType }}</b>
      </div>
      <div
        v-if="worker.conscientiousnessLevel"
        class="caption"
      >
        Conscientiousness Level : <b>
          {{ ((worker.conscientiousnessLevel + 41)/(79) * 100).toFixed(0) }}</b>
      </div>
      <div class="my-4">
        <v-card outlined>
          <v-list
            v-if="job"
            subheader
            dense
          >
            <div
              v-if="relevantQualifications.length > 0"
              class="mb-2"
            >
              <v-subheader>Relevant Qualifications</v-subheader>
              <JobSkillChip
                :key="jobSkill.jobSkill.id"
                v-for="jobSkill in relevantQualifications"
                :job-skill="jobSkill"
              />
            </div>

            <div
              v-if="missingQualifications.length > 0"
              class="mb-2"
            >
              <v-subheader>Missing Qualifications</v-subheader>
              <JobSkillChip
                :key="jobSkill.jobSkill.id"
                v-for="jobSkill in missingQualifications"
                missing-skill
                :job-skill="jobSkill"
                :actual-skill="workerQualifications
                  .find(q => q.jobSkill.id === jobSkill.jobSkill.id)"
              />
            </div>

            <div
              v-if="otherQualifications.length > 0"
            >
              <v-subheader>Other Qualifications</v-subheader>
              <JobSkillChip
                :key="jobSkill.jobSkill.id"
                v-for="jobSkill in otherQualifications"
                :job-skill="jobSkill"
              />
            </div>
          </v-list>
          <v-list
            v-else-if="workerQualifications.length > 0"
            subheader
            dense
          >
            <v-subheader>Qualifications</v-subheader>
            <JobSkillChip
              v-for="jobSkill in workerQualifications"
              :key="jobSkill.jobSkill.id"
              :job-skill="jobSkill"
            />
          </v-list>
        </v-card>
      </div>


      <div
        class="my-4"
        v-if="worker.youtubeUrl"
      >
        <span class="caption">
          Youtube Link
        </span>
        <v-card outlined>
          <v-list-item>
            <v-list-item-content>
              <v-card-text class="pa-0">
                {{ worker.youtubeUrl }}
              </v-card-text>
            </v-list-item-content>
            <v-list-item-action>
              <v-btn
                id="btn-any-WorkerDetailCard-OpenYoutubeUrl"
                icon
                @click="openInNewTab(worker.youtubeUrl)"
              >
                <v-icon
                  id="btn-any-WorkerDetailCard-OpenYoutubeUrl"
                  color="grey"
                >
                  mdi-open-in-new
                </v-icon>
              </v-btn>
            </v-list-item-action>
          </v-list-item>
          <YoutubePlayer
            width="100%"
            height="300px"
            allowfullscreen
            :url="worker.youtubeUrl"
          />
        </v-card>
      </div>

      <div
        v-if="worker.description"
      >
        <span class="caption">
          About worker
        </span>
        <v-card outlined>
          <v-card-text style="color: black !important;">
            {{ worker.description }}
          </v-card-text>
        </v-card>
      </div>


      <v-divider class="my-4" />

      <v-card flat>
        <span class="caption"> Work Experiences</span>

        <div
          v-for="(jh,i) in worker.jobHistories"
          :key="i"
        >
          <v-card
            flat
          >
            <v-card-text class="pa-0 py-2">
              <v-list-item class="pa-0">
                <v-list-item-content class="py-1">
                  <v-list-item-title>{{ jh.position }}</v-list-item-title>
                  <v-list-item-subtitle>
                    {{ jh.companyName }}
                  </v-list-item-subtitle>
                  <v-list-item-subtitle>
                    {{ $moment(jh.startDate).format('DD MMMM, YYYY') }}
                    <span v-if="jh.currentlyWorking">
                      ( CURRENT )
                    </span>
                    <span v-else-if="jh.endDate">
                      to {{ $moment(jh.endDate).format('DD MMMM, YYYY') }}
                    </span>
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <div>
                {{ jh.description }}
              </div>
            </v-card-text>
          </v-card>
        </div>

        <v-btn
          id="btn-any-WorkerDetailCard-OpenCvFile"
          v-if="worker.cvFileUrl"
          class="mt-4"
          outlined
          color="error"
          @click="downloadResumePdf(worker.cvFileUrl)"
          block
        >
          <v-icon
            id="btn-any-WorkerDetailCard-OpenCvFile"
            left
          >
            mdi-download
          </v-icon>
          <span id="btn-any-WorkerDetailCard-OpenCvFile">View CV</span>
        </v-btn>
      </v-card>

      <v-divider
        v-if="!action"
        class="my-4"
      />

      <v-card
        v-if="!action"
        class="mt-4"
        flat
      >
        <div class="caption">
          Identification : <b>{{ worker.identification }}</b>
        </div>
        <v-card-text class="pa-0">
          <v-row>
            <v-col>
              <v-dialog max-width="500px">
                <v-card>
                  <v-img
                    :src="worker.identificationFrontFileRef"
                  />
                </v-card>
                <template #activator="{on}">
                  <v-card
                    outlined
                    v-on="on"
                    :disabled="!worker.identificationFrontFileRef"
                  >
                    <v-card-title>
                      <v-row justify="center">
                        <v-icon x-large>
                          mdi-account-box-outline
                        </v-icon>
                      </v-row>
                    </v-card-title>
                    <v-card-text class="text-center">
                      Front ID
                      <span v-if="!worker.identificationFrontFileRef">
                        (missing)
                      </span>
                    </v-card-text>
                  </v-card>
                </template>
              </v-dialog>
            </v-col>
            <v-col>
              <v-dialog max-width="500px">
                <v-card>
                  <v-img
                    :src="worker.identificationBackFileRef"
                  />
                </v-card>
                <template #activator="{on}">
                  <v-card
                    outlined
                    v-on="on"
                    :disabled="!worker.identificationBackFileRef"
                  >
                    <v-card-title>
                      <v-row justify="center">
                        <v-icon x-large>
                          mdi-id-card
                        </v-icon>
                      </v-row>
                    </v-card-title>
                    <v-card-text class="text-center">
                      Back ID
                      <span v-if="!worker.identificationBackFileRef">
                        (missing)
                      </span>
                    </v-card-text>
                  </v-card>
                </template>
              </v-dialog>
            </v-col>
          </v-row>
        </v-card-text>
        <div class="caption">
          Linkedin : <a :href="worker.linkin">{{ worker.linkin }}</a>
        </div>
      </v-card>
    </v-card-text>
    <v-divider />
    <v-card-actions v-if="action">
      <v-spacer />
      <v-btn
        id="btn-any-WorkerDetailCard-Close"
        text
        @click="$emit('close')"
        v-html="'Close'"
      />
    </v-card-actions>
  </v-card>
</template>

<script>
import axios from 'axios';
import JobSkillChip from '@/components/Marketplaces/JobSkillChip';
import YoutubePlayer from '@/components/shared/components/YoutubePlayer';
import WorkerRatingCard from '@/components/Ratings/Cards/WorkerRatingCard';
import AppliedDateLabel from '@/components/Marketplaces/Jobs/Labels/AppliedDateLabel';
import CandidateActions from '@/components/Workers/CandidateActions';
// import CopyChip from '@/components/Common/CopyChip';

export default {
  components: {
    JobSkillChip,
    YoutubePlayer,
    WorkerRatingCard,
    AppliedDateLabel,
    CandidateActions,
  },

  props: {
    worker: {
      type: Object,
      required: true,
    },
    job: {
      type: Object,
      default: () => {},
    },
    shiftId: {
      type: String,
      default: () => '',
    },
    action: Boolean,
    recommanded: Boolean,
  },

  methods: {
    openInNewTab(url) {
      window.open(url);
    },
    fileFromURL(url, filename) {
      let file = null;
      // *removed quotes from filename, typo I guess?
      // eslint-disable-next-line no-unused-vars
      const imageFile = new File([''], filename);
      const config = {
        // *removed headers as we don't know the file type anyway, I guess?
        responseType: 'blob',
      };
      axios.get(url, config)
        .then((response) => {
          const data = new File([response.data], filename);
          file = data;
        });
      return file;
    },
    downloadResumePdf(url) {
      window.open(url);
    },
  },

  computed: {
    shift() {
      return this.job.shifts.find(e => e.id === this.shiftId);
    },
    isOffered() {
      if (this.shift.worker == null) return false;
      return this.worker.id === this.shift.worker.id;
    },
    // isRejected() {
    //   return this.shift.siblingShifts.some();
    // },
    jobRequirements() {
      return this.job ? this.job.jobSkillRequirements : [];
    },
    workerQualifications() {
      return this.worker ? this.worker.jobSkills : [];
    },
    relevantQualifications() {
      return this.workerQualifications
        .filter(q => this.jobRequirements
          .some(r => q.jobSkillId === r.jobSkill.id && q.level >= r.level));
    },
    missingQualifications() {
      return this.jobRequirements
        .filter(r => this.workerQualifications
          .every(q => q.jobSkillId !== r.jobSkill.id || q.level < r.level));
    },
    otherQualifications() {
      return this.workerQualifications
        .filter(q => this.jobRequirements
          .every(r => q.jobSkillId !== r.jobSkill.id));
    },
  },
};
</script>

<style>

</style>
