<template>
  <v-layout row>
    <v-flex>
      <v-text-field
        prepend-icon="attach_file"
        single-line
        v-model="filename"
        :label="label"
        :required="required"
        readonly
        @click.native="onFocus"
        :disabled="disabled"
        ref="fileTextField"
      />
      <input
        type="file"
        :accept="accept"
        :multiple="false"
        :disabled="disabled"
        ref="fileInput"
        @change="onFileChange"
      >
    </v-flex>
    <v-flex>
      <v-btn
        @click="checkValid"
        color="info"
      >
        Check
      </v-btn>
      <v-btn
        v-if="valid == false"
        class="disable-events"
        @click="upload"
      >
        Upload
      </v-btn>
      <v-btn
        v-if="valid == true"
        :loading="loading"
        @click="upload"
        color="info"
      >
        Upload
      </v-btn>
    </v-flex>
    <!-- <DialogBox /> -->
  </v-layout>
</template>

<script src="xlsx.full.min.js"></script>
<script>
import { storage } from '@/assets/js/firebase';
import XLSX from 'xlsx';
import validator from 'validator';
import PhoneValidator from 'awesome-phonenumber';
import DialogBox from '@/components/Utils/DialogBox.vue';

export default {
  components: {
    DialogBox,
  },
  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
    value: {
      type: [Array, String],
      default: '',
    },
    accept: {
      type: String,
      default: '*',
    },
    label: {
      type: String,
      default: 'Please choose...',
    },
    required: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    multiple: {
      type: Boolean, // not yet possible because of data
      default: false,
    },
    test: {
      type: Array,
      default: () => [],
    },
  },

  data: () => ({
    filename: '',
    files: {},
    result: {},
    paymentMethods: ['ONGO', 'BANK_KBZ'],
    paymentCurrencys: ['MMK', 'USD'],
    jobTypes: ['PART_TIME', 'FULL_TIME', 'CONTRACT'],
    checkErrorData: [],
    valid: false,
    loading: false,
  }),

  watch: {
    value(v) {
      this.filename = v;
    },
  },

  mounted() {
    // this.$log.debug('test', this.a, 123)
    // this.$log.info('test', this.b)
    // this.$log.warn('test')
    // this.$log.error('test')
    // this.$log.fatal('test')
    this.filename = this.value;
  },

  methods: {
    onFocus() {
      if (!this.disabled) {
        this.$refs.fileInput.click();
      }
    },

    onFileChange($event) {
      this.files = $event.target.files || $event.dataTransfer.files;
      this.result = $event.target.result;
      if (this.files) {
        if (this.files.length > 0) {
          this.filename = [...this.files].map(file => file.name).join(', ');
        } else {
          this.filename = null;
        }
      } else {
        this.filename = $event.target.value.split('\\').pop();
      }
    },

    async checkValid() {
      this.loading = true;
      const promises = [];
      const organisationId = this.organisation.id;
      this.checkErrorData = [];
      this.$log.info({ organisationId });
      var file = this.files[0];
      if(file == null){
      this.valid = false
        const data = {
          title: 'Warning',
          message: 'No file selected.',
          dialog: true,
        };
        this.loading = false;
        this.$eventHub.$emit('show-dialog', data);
      } else {
        var reader = new FileReader();
        const resultArray = [];
        const _this = this;
        reader.onload =async function() {
          var data = new Uint8Array(this.result);
          var workbook = XLSX.read(data, {type: 'array'});
          const firstWorksheet = workbook.Sheets[workbook.SheetNames[0]];
          const batchDataArray = XLSX.utils.sheet_to_json(firstWorksheet, { header: 0 });
          batchDataArray.forEach((data) => {
            // const startTime = _this.$moment(`${data.startDate} ${data.startTime}`)
            //   .utcOffset('+06:30')
            //   .format('YYYY-MM-DD HH:mmZ');
            // this.$log.info({ startTime });
            if(_this.checkNull(data) == true){
              const result = _this.checkFormat(data);
              resultArray.push(result);
            } else {
              resultArray.push(false);
            }
          });
          const resultCount = resultArray.filter(x => x == false).length
          // this.$log.info({ resultCount });
          if(resultCount == 0){
            _this.valid = true;
            const data = {
              title: 'Check Successful',
              message: 'File is valid. Now you can upload!!',
              dialog: true,
            };
            _this.loading = false;
            _this.$eventHub.$emit('show-dialog', data);
            _this.$eventHub.$emit('checking-error', []);
          }else{
            _this.valid = false;
            const data = {
              title: 'Check Fail',
              message: 'File data is null or invalid format. Please check the file.',
              dialog: true,
            };
            _this.loading = false
            _this.$eventHub.$emit('checking-error', _this.checkErrorData);
            _this.$eventHub.$emit('show-dialog', data);
          }
        };
        this.$log.info(this.checkErrorData);
        reader.readAsArrayBuffer(file);
      }
    },

    checkFormat(data) {
      const errorArray = [];
      let falseCount = 0;
      // let phone = new PhoneValidator(data.phone);
      // let paymentCoordinates = new PhoneValidator(data.paymentCoordinates);
      const expForStandardHour = /[0-9]{2}\:[0-9]{2}\+[0-9]{2}\:[0-9]{2}/;
      const expDate = /[0-9]{4}\-[0-9]{2}\-[0-9]{2}/;
      const expTime = /[0-9]{2}\:[0-9]{2}\+[0-9]{2}\:[0-9]{2}/;
      // if (!phone.isPossible())
      //   errorArray.push({ phone: 'phone is invalid format' });
      if (data.name == null)
        errorArray.push({ name: 'name is invalid format' });
      // if(!validator.isNumeric(data.identification.toString()))
      //   falseCount += 1;
      // if(!paymentCoordinates.isPossible())
      //   falseCount += 1;
      if (this.paymentMethods.filter(x => x === data.paymentMethod ).length == 0)
        errorArray.push({ paymentMethods: 'paymentMethods is invalid format' });
      if(this.paymentCurrencys.filter(x => x === data.paymentCurrency ).length == 0)
        errorArray.push({ paymentCurrencys: 'paymentCurrencys is invalid format' });
      if(this.jobTypes.filter(x => x === data.type ).length == 0)
        errorArray.push({ jobTypes: 'jobTypes is invalid format' });
      if(!validator.isNumeric(data.renumerationValue.toString()))
        errorArray.push({ renumerationValue: 'renumerationValue is invalid format' });
      if(data.fulltimeStandardHoursStart != null &&
        !expForStandardHour.test(data.fulltimeStandardHoursStart))
        errorArray.push({
          fulltimeStandardHoursStart: 'fulltimeStandardHoursStart is invalid format'
        });
      if(data.fulltimeStandardHoursEnd != null &&
      !expForStandardHour.test(data.fulltimeStandardHoursEnd))
        errorArray.push({ fulltimeStandardHoursEnd: 'fulltimeStandardHoursEnd is invalid format' });
      // if(data.fulltimeNonWorkWeekDays == null)
      //   falseCount += 1;
      // if(data.payCycleMonthDays == null)
      //   falseCount += 1;
      if(!validator.isNumeric(data.numberOfShifts.toString()))
        errorArray.push({ numberOfShifts: 'numberOfShifts is invalid format' });
      if(!expDate.test(data.startDate))
        errorArray.push({ startDate: 'startDate is invalid format' });
      if(!expDate.test(data.endDate))
        errorArray.push({ endDate: 'endDate is invalid format' });
      if(!expTime.test(data.startTime))
        errorArray.push({ startTime: 'startTime is invalid format' });
      if(!expTime.test(data.endTime))
        errorArray.push({ endTime: 'endTime is invalid format' });

      if (errorArray.length !== 0) {
        errorArray.push({ errorTitle: data.phone });
        this.checkErrorData.push(Object.assign({}, ...errorArray));
        return false
      }
      return true;
    },

    checkNull(data) {
      const errorArray = [];
      // let falseCount = 0;
      if (data.name == null) {
        errorArray.push({ name: 'name is empty' });
      }
      // if (data.phone == null) {
      //   errorArray.push({ phone: 'phone is empty' });
      // }
      if (data.identification == null) {
        errorArray.push({ identification: 'identification is empty' });
      }
      // if(data.paymentCoordinates == null)
      //   falseCount += 1;
      if (data.paymentMethod == null) {
        errorArray.push({ paymentMethod: 'paymentMethod is empty' });
      }
      if (data.paymentCurrency == null) {
        errorArray.push({ paymentCurrency: 'paymentCurrency is empty' });
      }
      if (data.type == null) {
        errorArray.push({ type: 'type is empty' });
      }
      if (data.renumerationValue == null) {
        errorArray.push({ renumerationValue: 'renumerationValue is empty' });
      }
      if (data.title == null) {
        errorArray.push({ title: 'title is empty' });
      }
      // if(data.fulltimeStandardHoursStart == null)
      //   falseCount += 1;
      // if(data.fulltimeStandardHoursEnd == null)
      //   falseCount += 1
      // if(data.fulltimeStandardHoursEnd == null)
      //   falseCount += 1;
      // if(data.fulltimeNonWorkWeekDays == null)
      //   falseCount += 1;
      // if (data.payCycleMonthDays == null) {
      //   errorArray.push({ payCycleMonthDays: 'payCycleMonthDays is empty' });
      // }
      if (data.numberOfShifts == null) {
        errorArray.push({ numberOfShifts: 'numberOfShifts is empty' });
      }
      if (data.startDate == null) {
        errorArray.push({ startDate: 'startDate is empty' });
      }
      if (data.endDate == null) {
        errorArray.push({ endDate: 'endDate is empty' });
      }
      if (data.startTime == null) {
        errorArray.push({ startTime: 'startTime is empty' });
      }
      if (data.endTime == null) {
        errorArray.push({ endTime: 'endTime is empty' });
      }
      // this.$log.info({ errorArray });
      if (errorArray.length !== 0) {
        if (data.name != null) {
          errorArray.push({ errorTitle: data.name });
        }
        else if (data.phone != null) {
          errorArray.push({ errorTitle: data.phone });
        }
        else{
          errorArray.push({ errorTitle: 'unname' });
        }
        this.checkErrorData.push(Object.assign({}, ...errorArray));
        return false
      }
      return true;
    },

    setLogBatchOperation(resultDataArray, errorData){
      const maxLength = Math.max(...resultDataArray.map((e) => {
        return Object.keys(e).length;
      }));
      const maxLengthObject = resultDataArray.filter((e) => {
        if(Object.keys(e).length === maxLength){
          return e
        }
      })[0];
      this.$eventHub.$emit('update-props', Object.keys(maxLengthObject)
        , resultDataArray, errorData);
      this.loading = false;
      this.$log.info(maxLength);
    },

    // objectValuesToString(object) {
    //   const resultArray= [];
    //   values.forEach((value) => {

    //   });
    // },

    async upload() {
      this.loading = true;
      const promises = [];
      const errorData = [];
      let errorMessage = '';
      const organisationId = this.organisation.id;
      let file = this.files[0];
      let reader = new FileReader();
      const _this = this;
      // let failCount = 0;

      reader.onload = async function() {
        var data = new Uint8Array(this.result);
        var workbook = XLSX.read(data, {type: 'array', raw: true });
        const firstWorksheet = workbook.Sheets[workbook.SheetNames[0]];
        const batchDataArray = XLSX.utils.sheet_to_json(firstWorksheet, { header: 0 });

        let retWorker;
        let retUpdateWorker;
        let retJob;
        let retOrganisationJob;
        let retShift;
        let retAddWorkerJob;
        let retMigrateWorkerJob;

        let stage = 0;
        async function batchDataLoop(i) {
          let failCount = 0;
          let successCount = 0;

          if(i < batchDataArray.length){
            try {
              const batchData = batchDataArray[i];
              // batchData = JSON.stringify(batchData);
              this.$log.info({ batchData });
              let workerId;
              let jobId;
              let shifts = [];
              let phoneNo;
              if (batchData.phone != null) {
                phoneNo = batchData.phone.toString();
                if (phoneNo.includes('+95') && phoneNo.length === 11) {
                  // eslint-disable-next-line no-param-reassign
                  phoneNo = `${phoneNo.slice(0, 3)}0${phoneNo.slice(3)}`;
                }
              } else {
                phoneNo = '+00000000000';
              }

              _this.$log.info(`Uploading ${batchData.name},(${batchData.phone})`)
              retWorker = await _this.$WorkerService.createAlienWorker({
                organisationId,
                name: batchData.name.toString(),
                phone: phoneNo,
                identification: batchData.identification.toString(),
              })
                .catch((err) => {
                  errorMessage = 'Fail in createAlienWorker';
                  _this.$log.error('Fail in createAlienWorker');
                  failCount += 1;
                })
              if(retWorker) {
                successCount+= 1;
                _this.$log.info(`createAlienWorker success`);
                workerId = retWorker.data.createAlienWorker.id;
                retUpdateWorker = await _this.$WorkerService.updateAlienWorker({
                  organisationId,
                  alienWorkerId: workerId,
                  paymentMethod: batchData.paymentMethod.toString(),
                  paymentCoordinates: batchData.paymentCoordinates.toString(),
                  paymentCurrency: batchData.paymentCurrency.toString(),
                })
                  .catch((err) => {
                    errorMessage = 'Fail in updateAlienWorker';
                    _this.$log.error('Fail in updateAlienWorker');
                    failCount += 1;
                  });
                if (retUpdateWorker) {
                  successCount+= 1;
                }
              }
            _this.$log.info(`updateWorker success`);
            // let payCycleMonthDays = batchData.payCycleMonthDays.toString().split(",")
            //   .map(x => parseInt(x));

            let fulltimeNonWorkWeekDays = batchData.fulltimeNonWorkWeekDays.toString().split(",")
              .map(x => parseInt(x));

            retJob = await _this.$JobService.createJob({
              organisationId,
              type: batchData.type.toString(),
              role: 'INTEL',
              renumerationValue: parseFloat(batchData.renumerationValue),
              renumerationCurrency: batchData.paymentCurrency.toString(),
              title: batchData.title.toString(),
              fulltimeStandardHoursStart: batchData.fulltimeStandardHoursStart.toString(),
              fulltimeStandardHoursEnd: batchData.fulltimeStandardHoursEnd.toString(),
              minShiftsBalance: parseInt(batchData.minShiftsBalance),
              fulltimeNonWorkWeekDays: fulltimeNonWorkWeekDays,
              // payCycleMonthDays: payCycleMonthDays,
              location: 'Latha',
              private: true,
            })
              .catch((err) => {
                errorMessage = 'Fail in createJob';
                _this.$log.error('Fail in createJob');
                failCount += 1;
              })

              if (retJob) {
                successCount+= 1;
                // _this.$log.info(`create Worker and Job success`);
                jobId = retJob.data.createJob.id;
                retOrganisationJob = await _this.$OrganisationService
                  .addOrganisationJob({
                    organisationId,
                    id: jobId,
                  })
                  .catch((err) => {
                    errorMessage = 'Fail in addOrganisationJob';
                    _this.$log.error('Fail in addOrganisationJob');
                    failCount += 1;
                  })
              }
              if(retOrganisationJob){
                successCount+= 1;
                _this.$log.info(`addOrganisationJob success`);
                const argsShiftArray = [];
                let errorCount = 0;
                const startTime = _this
                      .$moment(`${batchData.startDate.toString()} ${batchData.startTime.toString()}`
                      , 'YYYY-MM-DD hh:mmZ')
                      .toDate();
                // const startTime = _this.$moment(`${batchData.startDate} ${batchData.startTime}`)
                //   .utcOffset('+0630')
                //   .format('YYYY-MM-DD HH:mmZ')
                const endTime = _this
                      .$moment(`${batchData.endDate.toString()} ${batchData.endTime.toString()}`
                      , 'YYYY-MM-DD hh:mmZ')
                      .toDate();
                // const endTime = _this.$moment(`${batchData.endDate} ${batchData.endTime}`)
                //   .utcOffset('+0630')
                //   .format('YYYY-MM-DD HH:mmZ')
                argsShiftArray.push({
                  jobId,
                  startTime,
                  endTime,
                });
                if(batchData.numberOfShifts > 1){
                  for(let j = 1 ; j < batchData.numberOfShifts ; j++){
                    const sDate = batchData[`startDate_${j}`];
                    const eDate = batchData[`endDate_${j}`];
                    const sTime = batchData[`startTime_${j}`];
                    const eTime = batchData[`endTime_${j}`];
                    const extraStartTime = _this
                          .$moment(`${sDate.toString()} ${sTime.toString()}`, 'YYYY-MM-DD hh:mmZ')
                          .toDate();
                    const extraEndTime = _this
                          .$moment(`${eDate.toString()} ${eTime.toString()}`, 'YYYY-MM-DD hh:mmZ')
                          .toDate();
                    argsShiftArray.push({
                      jobId,
                      startTime: extraStartTime,
                      endTime: extraEndTime,
                    });
                  }
                }
                async function ShiftsLoop(k) {
                  if (k < argsShiftArray.length) {

                    const result = await _this.$JobService.addJobShift(argsShiftArray[k])
                    .catch(err => errorCount += 1);
                    if (result) {
                      await _this.$JobService
                        .assignAlienWorkerToShift({
                          id: result.data.addJobShift.shifts[k].id,
                          alienWorkerId: workerId,
                        })
                        .catch(err => errorCount += 1);

                      ShiftsLoop(k + 1);
                    }
                  }
                }
                ShiftsLoop(0)

                if(errorCount === 0){
                  retShift = true;
                  successCount += 1;
                }
                else{
                  errorMessage = 'Fail in addJobShift';
                  _this.$log.error('Fail in addJobShift');
                  failCount += 1;
                  retShift = false;
                }
              }
              if (retShift === true) {
                successCount += 1;
              }

              this.$log.info({ successCount });
              if (successCount < 6) {
                errorData.push({
                  phone: batchData.phone.toString(),
                  message: errorMessage,
                });
              }
              await batchDataLoop(i + 1);
              _this.$log.info(`${batchData.name} finished`);
              stage++;
              this.$log.info(stage);
            } catch (error) {
              this.$log.info({failStage : stage})
            }
          }
        }
        await batchDataLoop(0);
        // if(failCount == 0){
        //     const data = {
        //       title: 'Successful!',
        //       message: 'Batch Upload Successful.',
        //       dialog: true,
        //     };
        //     _this.loading = false;
        //     _this.$eventHub.$emit('show-dialog', data);
        // } else {
        //     const data = {
        //       title: 'Fail!',
        //       message: 'Batch Upload Fail.',
        //       dialog: true,
        //     };
        //     _this.loading = false;
        //     _this.$eventHub.$emit('show-dialog', data);
        // }
        _this.setLogBatchOperation(batchDataArray, errorData);

      };

      reader.readAsArrayBuffer(file);
    },
  },
};
</script>
<style scoped>
input[type=file] {
    position: absolute;
    left: -99999px;
}

.disable-events {
  pointer-events: none
}
</style>
