<template>
  <v-layout row>
    <v-flex>
      <v-text-field
        prepend-icon="attach_file"
        single-line
        v-model="filename"
        :label="label"
        :required="required"
        readonly
        @click.native="onFocus"
        :disabled="disabled"
        ref="fileTextField"
      />
      <input
        type="file"
        :accept="accept"
        :multiple="false"
        :disabled="disabled"
        ref="fileInput"
        @change="onFileChange"
      >
    </v-flex>
    <v-flex>
      <v-btn
        id="btn-BatchUploadPage-CheckValid"
        @click="checkValid"
        color="info"
        v-html="'Check'"
      >
      </v-btn>
      <v-btn
        id="btn-BatchUploadPage-Upload"
        v-if="valid == false"
        class="disable-events"
        @click="upload"
        v-html="'Upload'"
      >
      </v-btn>
      <v-btn
        id="btn-BatchUploadPage-Upload"
        v-if="valid == true"
        :loading="loading"
        @click="upload"
        color="info"
        v-html="'Upload'"
      >
      </v-btn>
    </v-flex>
    <!-- <DialogBox /> -->
  </v-layout>
</template>

<script src="xlsx.full.min.js"></script>
<script>
import { storage } from '@/assets/js/firebase';
import XLSX from 'xlsx';
import validator from 'validator';
import PhoneValidator from 'awesome-phonenumber';
import DialogBox from '@/components/Utils/DialogBox.vue';

export default {
  components: {
    DialogBox,
  },
  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
    value: {
      type: [Array, String],
      default: '',
    },
    accept: {
      type: String,
      default: '*',
    },
    label: {
      type: String,
      default: 'Please choose...',
    },
    required: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    multiple: {
      type: Boolean, // not yet possible because of data
      default: false,
    },
    test: {
      type: Array,
      default: () => [],
    },
  },

  data: () => ({
    filename: '',
    files: {},
    result: {},
    paymentMethods: ['ONGO', 'BANK_KBZ'],
    paymentCurrencys: ['MMK', 'USD'],
    jobTypes: ['PART_TIME', 'FULL_TIME', 'CONTRACT'],
    checkErrorData: [],
    valid: false,
    loading: false,
  }),

  watch: {
    value(v) {
      this.filename = v;
    },
  },

  mounted() {
    // this.$log.debug('test', this.a, 123)
    // this.$log.info('test', this.b)
    // this.$log.warn('test')
    // this.$log.error('test')
    // this.$log.fatal('test')
    this.filename = this.value;
  },

  methods: {
    onFocus() {
      if (!this.disabled) {
        this.$refs.fileInput.click();
      }
    },

    onFileChange($event) {
      this.files = $event.target.files || $event.dataTransfer.files;
      this.result = $event.target.result;
      if (this.files) {
        if (this.files.length > 0) {
          this.filename = [...this.files].map(file => file.name).join(', ');
        } else {
          this.filename = null;
        }
      } else {
        this.filename = $event.target.value.split('\\').pop();
      }
    },

    async checkValid() {
      this.loading = true;
      const promises = [];
      const organisationId = this.organisation.id;
      this.checkErrorData = [];
      this.$log.info({ organisationId });
      var file = this.files[0];
      if(file == null){
      this.valid = false
        const data = {
          title: 'Warning',
          message: 'No file selected.',
          dialog: true,
        };
        this.loading = false;
        this.$eventHub.$emit('show-dialog', data);
      } else {
        var reader = new FileReader();
        const resultArray = [];
        const _this = this;
        reader.onload =async function() {
          var data = new Uint8Array(this.result);
          var workbook = XLSX.read(data, {type: 'array'});
          const firstWorksheet = workbook.Sheets[workbook.SheetNames[0]];
          const batchDataArray = XLSX.utils.sheet_to_json(firstWorksheet, { header: 0 });
          batchDataArray.forEach((data) => {
            // const startTime = _this.$moment(`${data.startDate} ${data.startTime}`)
            //   .utcOffset('+06:30')
            //   .format('YYYY-MM-DD HH:mmZ');
            // this.$log.info({ startTime });
            if(_this.checkNull(data) == true){
              const result = _this.checkFormat(data);
              resultArray.push(result);
            } else {
              resultArray.push(false);
            }
          });
          const resultCount = resultArray.filter(x => x == false).length
          // this.$log.info({ resultCount });
          if(resultCount == 0){
            _this.valid = true;
            const data = {
              title: 'Check Successful',
              message: 'File is valid. Now you can upload!!',
              dialog: true,
            };
            _this.loading = false;
            _this.$eventHub.$emit('show-dialog', data);
            _this.$eventHub.$emit('checking-error', []);
          }else{
            _this.valid = false;
            const data = {
              title: 'Check Fail',
              message: 'File data is null or invalid format. Please check the file.',
              dialog: true,
            };
            _this.loading = false
            _this.$eventHub.$emit('checking-error', _this.checkErrorData);
            _this.$eventHub.$emit('show-dialog', data);
          }
        };
        this.$log.info(this.checkErrorData);
        reader.readAsArrayBuffer(file);
      }
    },

    checkFormat(data) {
      const errorArray = [];
      let falseCount = 0;
      // let phone = new PhoneValidator(data.phone);
      // let paymentCoordinates = new PhoneValidator(data.paymentCoordinates);
      const expForStandardHour = /[0-9]{2}\:[0-9]{2}\+[0-9]{2}\:[0-9]{2}/;
      const expDate = /[0-9]{4}\-[0-9]{2}\-[0-9]{2}/;
      const expTime = /[0-9]{2}\:[0-9]{2}\+[0-9]{2}\:[0-9]{2}/;
      // if (!phone.isPossible())
      //   errorArray.push({ phone: 'phone is invalid format' });
      if (data.name == null)
        errorArray.push({ name: 'name is invalid format' });
      // if(!validator.isNumeric(data.identification.toString()))
      //   falseCount += 1;
      // if(!paymentCoordinates.isPossible())
      //   falseCount += 1;
      // if (this.paymentMethods.filter(x => x === data.paymentMethod ).length == 0)
      //   errorArray.push({ paymentMethods: 'paymentMethods is invalid format' });
      if(this.paymentCurrencys.filter(x => x === data.paymentCurrency ).length == 0)
        errorArray.push({ paymentCurrencys: 'paymentCurrencys is invalid format' });
      if(this.jobTypes.filter(x => x === data.type ).length == 0)
        errorArray.push({ jobTypes: 'jobTypes is invalid format' });
      if(!validator.isNumeric(data.renumerationValue.toString()))
        errorArray.push({ renumerationValue: 'renumerationValue is invalid format' });
      if(data.fulltimeStandardHoursStart != null &&
        !expForStandardHour.test(data.fulltimeStandardHoursStart))
        errorArray.push({
          fulltimeStandardHoursStart: 'fulltimeStandardHoursStart is invalid format'
        });
      if(data.fulltimeStandardHoursEnd != null &&
      !expForStandardHour.test(data.fulltimeStandardHoursEnd))
        errorArray.push({ fulltimeStandardHoursEnd: 'fulltimeStandardHoursEnd is invalid format' });
      // if(data.fulltimeNonWorkWeekDays == null)
      //   falseCount += 1;
      // if(data.payCycleMonthDays == null)
      //   falseCount += 1;
      if(!validator.isNumeric(data.numberOfShifts.toString()))
        errorArray.push({ numberOfShifts: 'numberOfShifts is invalid format' });
      if(!expDate.test(data.startDate))
        errorArray.push({ startDate: 'startDate is invalid format' });
      if(!expDate.test(data.endDate))
        errorArray.push({ endDate: 'endDate is invalid format' });
      if(!expTime.test(data.startTime))
        errorArray.push({ startTime: 'startTime is invalid format' });
      if(!expTime.test(data.endTime))
        errorArray.push({ endTime: 'endTime is invalid format' });

      if (errorArray.length !== 0) {
        errorArray.push({ errorTitle: data.phone });
        this.checkErrorData.push(Object.assign({}, ...errorArray));
        return false
      }
      return true;
    },

    checkNull(data) {
      const errorArray = [];
      // let falseCount = 0;
      if (data.name == null) {
        errorArray.push({ name: 'name is empty' });
      }
      // if (data.phone == null) {
      //   errorArray.push({ phone: 'phone is empty' });
      // }
      if (data.identification == null) {
        errorArray.push({ identification: 'identification is empty' });
      }
      // if(data.paymentCoordinates == null)
      //   falseCount += 1;
      if (data.paymentMethod == null) {
        errorArray.push({ paymentMethod: 'paymentMethod is empty' });
      }
      if (data.paymentCurrency == null) {
        errorArray.push({ paymentCurrency: 'paymentCurrency is empty' });
      }
      if (data.type == null) {
        errorArray.push({ type: 'type is empty' });
      }
      if (data.renumerationValue == null) {
        errorArray.push({ renumerationValue: 'renumerationValue is empty' });
      }
      if (data.title == null) {
        errorArray.push({ title: 'title is empty' });
      }
      // if(data.fulltimeStandardHoursStart == null)
      //   falseCount += 1;
      // if(data.fulltimeStandardHoursEnd == null)
      //   falseCount += 1
      // if(data.fulltimeStandardHoursEnd == null)
      //   falseCount += 1;
      // if(data.fulltimeNonWorkWeekDays == null)
      //   falseCount += 1;
      // if (data.payCycleMonthDays == null) {
      //   errorArray.push({ payCycleMonthDays: 'payCycleMonthDays is empty' });
      // }
      if (data.numberOfShifts == null) {
        errorArray.push({ numberOfShifts: 'numberOfShifts is empty' });
      }
      if (data.startDate == null) {
        errorArray.push({ startDate: 'startDate is empty' });
      }
      if (data.endDate == null) {
        errorArray.push({ endDate: 'endDate is empty' });
      }
      if (data.startTime == null) {
        errorArray.push({ startTime: 'startTime is empty' });
      }
      if (data.endTime == null) {
        errorArray.push({ endTime: 'endTime is empty' });
      }
      // this.$log.info({ errorArray });
      if (errorArray.length !== 0) {
        if (data.name != null) {
          errorArray.push({ errorTitle: data.name });
        }
        else if (data.phone != null) {
          errorArray.push({ errorTitle: data.phone });
        }
        else{
          errorArray.push({ errorTitle: 'unname' });
        }
        this.checkErrorData.push(Object.assign({}, ...errorArray));
        return false
      }
      return true;
    },

    setLogBatchOperation(resultDataArray, errorData){
      const maxLength = Math.max(...resultDataArray.map((e) => {
        return Object.keys(e).length;
      }));
      const maxLengthObject = resultDataArray.filter((e) => {
        if(Object.keys(e).length === maxLength){
          return e
        }
      })[0];
      this.$eventHub.$emit('update-props', Object.keys(maxLengthObject)
        , resultDataArray, errorData);
      this.loading = false;
      this.$log.info(maxLength);
    },

    // objectValuesToString(object) {
    //   const resultArray= [];
    //   values.forEach((value) => {

    //   });
    // },

    async upload() {
      this.loading = true;
      const promises = [];
      const errorData = [];
      let errorMessage = '';
      const organisationId = this.organisation.id;
      let file = this.files[0];
      let reader = new FileReader();
      const _this = this;
      // let failCount = 0;

      reader.onload = async function() {
        var data = new Uint8Array(this.result);
        var workbook = XLSX.read(data, {type: 'array', raw: true });
        const firstWorksheet = workbook.Sheets[workbook.SheetNames[0]];
        const batchDataArray = XLSX.utils.sheet_to_json(firstWorksheet, { header: 0 });

        let retWorker;
        let retUpdateWorker;
        let retJob;
        let retOrganisationJob;
        let retShift;
        let retAddWorkerJob;
        let retMigrateWorkerJob;

        let stage = 0;
        async function batchDataLoop(i) {
          let failCount = 0;
          let successCount = 0;

          if(i < batchDataArray.length){
            await _this.$UtilityService.alienBatchUpload({
              organisationId: _this.organisation.id,
              batchData: batchDataArray[i],
            })
              .catch((err) => {
                if (err.toString().includes('duplicate')) {
                  errorData.push({
                    phone: batchDataArray[i].phone,
                    message: 'phone no is in the system.'
                  });
                }
                else {
                  errorData.push({
                    phone: batchDataArray[i].phone,
                    message: 'some field are wrong.'
                  });
                }
              })
              .then(async () => {
                _this.$log.debug('success');
                await batchDataLoop(i + 1)
              });
          }
        }
        await batchDataLoop(0);
        _this.setLogBatchOperation(batchDataArray, errorData);
      };
      reader.readAsArrayBuffer(file);
    },
  },
};
</script>
<style scoped>
input[type=file] {
    position: absolute;
    left: -99999px;
}

.disable-events {
  pointer-events: none
}
</style>
