<template>
  <v-layout
    row
    justify-center
  >
    <!-- <v-btn
      color="primary"
      dark
      @click.stop="dialog = true"
    >
      Open Dialog
    </v-btn> -->

    <v-dialog
      v-model="dialog"
      max-width="290"
    >
      <v-card>
        <v-card-title class="headline">
          {{ title }}
        </v-card-title>

        <v-card-text>
          {{ message }}
        </v-card-text>

        <v-card-actions>
          <v-spacer />

          <v-btn
            id="btn-any-DialogBox-Okay"
            color="green darken-1"
            flat="flat"
            @click="dialog = false"
            v-html="'Okay'"
          />
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>
export default {
  name: 'asdfas',
  props: {
    // title: {
    //   type: String,
    //   default: '',
    // },
    // message: {
    //   type: String,
    //   default: '',
    // },
    // dialog: {
    //   type: Boolean,
    //   default: false,
    // },
  },
  data() {
    return {
      title: '',
      message: '',
      dialog: false,
    };
  },
  mounted() {
    this.$eventHub.$on('show-dialog', (args) => {
      this.title = args.title;
      this.message = args.message;
      this.dialog = args.dialog;
    });
  },
};
</script>
