<template>
  <v-layout row>
    <v-flex>
      <v-text-field
        prepend-icon="attach_file"
        single-line
        v-model="filename"
        :label="label"
        :required="required"
        readonly
        @click.native="onFocus"
        :disabled="disabled"
        ref="fileTextField"
      />
      <input
        type="file"
        :accept="accept"
        :multiple="false"
        :disabled="disabled"
        ref="fileInput"
        @change="onFileChange"
      >
    </v-flex>
    <v-flex>
      <v-btn
        id="btn-any-Upload"
        @click="upload"
        color="info"
        v-html="'Upload'"
      />
    </v-flex>
  </v-layout>
</template>

<script>
import { storage } from '@/assets/js/firebase';

export default {
  props: {
    value: {
      type: [Array, String],
      default: '',
    },
    accept: {
      type: String,
      default: '*',
    },
    label: {
      type: String,
      default: 'Please choose...',
    },
    required: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    multiple: {
      type: Boolean, // not yet possible because of data
      default: false,
    },
  },
  data: () => ({
    filename: '',
    files: {},
  }),
  watch: {
    value(v) {
      this.filename = v;
    },
  },
  mounted() {
    this.filename = this.value;
  },
  methods: {
    onFocus() {
      if (!this.disabled) {
        this.$refs.fileInput.click();
      }
    },
    onFileChange($event) {
      this.files = $event.target.files || $event.dataTransfer.files;
      if (this.files) {
        if (this.files.length > 0) {
          this.filename = [...this.files].map(file => file.name).join(', ');
        } else {
          this.filename = null;
        }
      } else {
        this.filename = $event.target.value.split('\\').pop();
      }
    },

    upload() {
      const storageRef = storage.ref();
      const file = this.files[0];
      // dynamically set reference to the file name
      const thisRef = storageRef.child('haha');

      // put request upload file to firebase storage
      thisRef.put(file).then((snapshot) => {
        this.$log.info('Uploaded a blob or file!');
        this.$log.info({ snapshot });
      });
    },
  },
};
</script>
<style scoped>
input[type=file] {
    position: absolute;
    left: -99999px;
}
</style>
