<template>
  <!-- <v-container> -->
  <v-btn
    color="info"
    @click="ExportCsv"
  >
    Export Csv
  </v-btn>
</template>

<script>
import { Parser } from 'json2csv';

export default {
  props: {
    exportData: {
      type: Array,
      default: () => [],
    },
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  computed: {
  },

  data: () => ({
    data: [],
  }),

  mounted() {
  },

  methods: {
    ExportCsv() {
      const name = this.organisation.name.toLowerCase();
      const year = this.$moment().format('YYYY');
      const month = this.$moment().format('MM');
      const day = this.$moment().format('DD');
      const json2csvParser = new Parser({ header: false, quote: '' });
      const result = json2csvParser.parse(this.exportData);
      const csvContent = `data:text/csv;charset=utf-8,\uFEFF${result}`;
      const link = document.createElement('a');
      link.href = encodeURI(csvContent);
      link.download = `${name}_disbursement_${year}${month}${day}.csv`;
      document.body.appendChild(link); // Required for FF
      link.click();
      document.body.removeChild(link); // Required for FF
      this.$log.info({ result });
    },
  },
};
</script>
