<template>
  <!-- <v-container> -->
  <span>
    <v-btn
      color="info"
      @click="dialog = true"
    >
      Import Csv
    </v-btn>

    <v-dialog
      v-model="dialog"
      persistent
      max-width="500px"
    >
      <v-card>
        <v-card-title class="headline">
          Import Csv
        </v-card-title>

        <v-card-text>
          <v-layout row>
            <v-flex>
              <v-text-field
                prepend-icon="attach_file"
                single-line
                v-model="filename"
                :label="label"
                :required="required"
                readonly
                @click.native="onFocus"
                :disabled="disabled"
                ref="fileTextField"
              />
              <input
                type="file"
                :accept="accept"
                :multiple="false"
                :disabled="disabled"
                ref="fileInput"
                @change="onFileChange"
              >
            </v-flex>
          </v-layout>
        </v-card-text>

        <v-card-actions>
          <v-spacer />
          <v-btn
            @click="dialog = false"
          >
            Cancel
          </v-btn>
          <v-btn
            @click="upload"
            color="info"
          >
            Upload
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </span>
</template>
<script>
// import { storage } from '@/assets/js/firebase';
import XLSX from 'xlsx';

export default {
  components: {
  },
  props: {
    exportData: {
      type: Array,
      default: () => [],
    },
    value: {
      type: [Array, String],
      default: '',
    },
    accept: {
      type: String,
      default: '*',
    },
    label: {
      type: String,
      default: 'Please choose...',
    },
    required: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    multiple: {
      type: Boolean, // not yet possible because of data
      default: false,
    },
    test: {
      type: Array,
      default: () => [],
    },
  },

  data: () => ({
    filename: '',
    files: {},
    result: {},
    valid: false,
    loading: false,
    dialog: false,
  }),

  watch: {
    value(v) {
      this.filename = v;
    },
  },

  mounted() {
    // this.$log.debug('test', this.a, 123)
    // this.$log.info('test', this.b)
    // this.$log.warn('test')
    // this.$log.error('test')
    // this.$log.fatal('test')
    this.filename = this.value;
  },

  methods: {
    onFocus() {
      if (!this.disabled) {
        this.$refs.fileInput.click();
      }
    },

    onFileChange($event) {
      this.files = $event.target.files || $event.dataTransfer.files;
      this.result = $event.target.result;
      if (this.files) {
        if (this.files.length > 0) {
          this.filename = [...this.files].map(file => file.name).join(', ');
        } else {
          this.filename = null;
        }
      } else {
        this.filename = $event.target.value.split('\\').pop();
      }
    },

    async upload() {
      this.loading = true;
      // const promises = [];
      // const errorData = [];
      // const errorMessage = '';
      const file = this.files[0];
      const reader = new FileReader();
      // eslint-disable-next-line no-underscore-dangle
      const _this = this;
      // let failCount = 0;

      // eslint-disable-next-line func-names
      reader.onload = async function () {
        const data = new Uint8Array(this.result);
        const workbook = XLSX.read(data, { type: 'array', raw: true });
        const firstWorksheet = workbook.Sheets[workbook.SheetNames[0]];
        const dataArray = XLSX.utils.sheet_to_json(firstWorksheet, { header: 0, raw: true });
        const importDataArray = [];

        dataArray.forEach((x) => {
          _this.exportData.forEach((y) => {
            _this.$log.info(Math.abs(x['E-Money']));
            if (x.Details.includes(`${y.name} for Salary`) && Math.abs(x['E-Money']) === y.totalAmount) {
              importDataArray.push({
                transactionId: x.ID,
                account: y.paymentCoordinates,
              });
            }
          });
        });
        _this.$log.info({ importDataArray });
        _this.$eventHub.$emit('import-disbursement', importDataArray);
        _this.dialog = false;
      };

      reader.readAsArrayBuffer(file);
    },
  },
};
</script>
