<template>
  <div>
    <div v-if="employer">
      <router-view
        style="height: 100%"
        v-if="employer && employer.organiations && employer.organisations.length === 0"
      />
      <div v-else-if="showNav">
        <v-row
          no-gutters
        >
          <v-col
            cols="12"
          >
            <AppNavigationBar
              :employer="employer"
            />
          </v-col>
        </v-row>
        <v-row
          no-gutters
          style="height: calc(100vh - 50px)"
        >
          <v-col
            cols="2"
            md="2"
            sm="4"
            v-if="employer.organisations && employer.organisations.length > 0"
          >
            <AppSideNav
              style="height: 100%"
              :organisations="employer.organisations"
            />
          </v-col>
          <v-col
            v-if="employer.organisations && employer.organisations.length > 0"
            cols="10"
            md="10"
            sm="8"
          >
            <router-view
              style="height: 100%"
              :organisation="currentOrganisation"
              :employer="employer"
            />
          </v-col>
          <v-col
            v-else
            cols="12"
          >
            <router-view
              style="height: 100%"
              :organisation="currentOrganisation"
              :employer="employer"
            />
          </v-col>
        </v-row>
      </div>
      <router-view
        v-else-if="employer && employerLevels"
        style="height: 100%"
        :organisation="currentOrganisation"
        :employer="employer"
      />
    </div>
    <div
      v-else
      style="height: 100vh"
    >
      <loading-dialog
        :loading="true"
        logo
      />
    </div>
    <AccountInfoDialog />
    <LevelChangedDialog />
    <SurveyDialog />
    <TutorialDialog />
    <FeedbackDialog />
    <HelpDialog />
    <FirstJobCreatedDialog />
  </div>
</template>

<script>
import gql from 'graphql-tag';
// import SideNavigation from '@/components/Common/SideNavigation';
import Alert from '@/components/Utils/Alerts/Alert';
import AppSideNav from '@/components/Common/AppSideNav';
import AppNavigationBar from '@/components/Common/AppNavBar';
import { messaging } from '@/assets/js/firebase';
// import { mapGetters } from 'vuex';
import AccountInfoDialog from '@/components/Common/Dialog/AccountInfoDialog';
import LevelChangedDialog from '@/components/Common/Dialog/LevelChangedDialog';
import SurveyDialog from '@/components/Common/Dialog/SurveyDialog';
import HelpDialog from '@/components/Common/Dialog/HelpDialog';
import TutorialDialog from '@/components/Common/Dialog/TutorialDialog';
import FeedbackDialog from '@/components/Common/Dialog/FeedbackDialog';
import FirstJobCreatedDialog from '@/components/Common/Dialog/FirstJobCreatedDialog';
import LoadingDialog from '@/components/Utils/Dialogs/LoadingDialog';

// import AccountMenu from '@/components/Common/Menus/AccountMenu';

export default {
  // components: {
  //   SideNavigation,
  //   AccountMenu,
  // },
  components: {
    AppNavigationBar,
    AppSideNav,
    AccountInfoDialog,
    HelpDialog,
    TutorialDialog,
    FeedbackDialog,
    SurveyDialog,
    LevelChangedDialog,
    FirstJobCreatedDialog,
    LoadingDialog,
  },
  data: () => ({
    active: 0,
    alert: false,
    type: null,
    message: null,
    // currentOrganisation: {},
    navigationItems: [
      { name: 'Home ( Jobs )', icon: '', route: 'view-jobs' },
      { name: 'Roster', icon: '', route: 'view-workers' },
      { name: 'Timesheets', icon: '', route: 'timesheets' },
      { name: 'Disbursement', icon: '', route: 'payment-disbursements' },
    ],
    pagesToHideSideNav: ['worker-profile', 'marketplace-job-matching', 'edit-worker'],
  }),

  computed: {
    currentOrganisation() {
      return this.$store.getters.currentOrganisation;
    },
    employer() {
      return this.$store.state.employer;
    },
    employerLevels() {
      const { employerLevels } = this.$store.state;
      return Array.isArray(employerLevels) && employerLevels.length;
    },
    showNav() {
      return !this.$route.meta.hideSideNav;
    },
  },

  methods: {
    handleLevelChanges(newUserLevel) {
      const currentUserLevel = this.$store.state.userLevel;
      this.$log.info({ currentUserLevel, newUserLevel });
      if (currentUserLevel !== newUserLevel) {
        this.$eventHub.$emit('show-level-changed-dialog', newUserLevel);
      }
    },
    storeEmployerData(employer) {
      this.$store.dispatch('setEmployer', employer);
      this.$store.dispatch('setUserLevel', employer.userLevel);
      const { organisations } = employer;
      if (organisations && organisations.length > 0) {
        this.$store.dispatch('setOrganisations', organisations);
        if (!this.currentOrganisation) {
          this.$store.dispatch('setCurrentOrganisationId', organisations[0].id);
        }
      } else {
        this.$router.push({ path: '/app/create-organisation' });
      }
    },
    async getZoomAuthCode() {
      const { query } = this.$route;
      if (query.code) {
        const ret = await this.$UserService
          .updateEmployer({ id: this.employer.id, zoomAuthCode: query.code });
        if (ret) {
          this.removeQuery('code');
          await this.refetchEmployer();
          this.$eventHub.$emit('show-account-info');
        }
      }
    },
    removeQuery(queryName) {
      const { query } = this.$route;
      delete query[queryName];
      this.$log.info({ nextQuery: query });
      this.$router.replace({ path: '/app', query });
    },
    goToNotifications() {
      this.$log.info('clicking go noitfication');
      this.$log.info('current organisation ', this.currentOrganisation.id);
      this.$log.info(this.$store.getters.getNotification);
      this.$router.push({
        name: 'notifications',
        params: { currentOrganisationId: this.currentOrganisation.id },
      });
    },
    goHome() {
      this.$router.push({ name: 'view-jobs' });
    },
    checkFcmUpdate(employer) {
      const { fcm } = this.$store.getters;
      if (employer.fcm == null || employer.fcm !== fcm) {
        const args = {
          id: employer.id,
          fcm,
        };
        this.$UserService.updateEmployer(args);
      }
    },
    addOrgnization() {
      this.$router.push({ name: 'create-organisation' });
    },
    editOrgnization(organisation) {
      this.$router.push({
        name: 'edit-organisation',
        params: { organisation },
      });
    },
    refetchEmployer() {
      return this.$apollo.queries.employer.refetch();
    },
  },
  mounted() {
    messaging.onMessage((payload) => {
      this.$log.info(payload);
      if (payload.notification) {
        const { notification } = payload;
        notification.isRead = false;
        // this.$store.dispatch('addNotification', payload.notification);
        this.$IdbService.addNotificaitonsToDb(notification);
        return;
      }
      this.$IdbService.addNotificaitonsToDb(payload.data);
    });

    this.$eventHub.$on('refetch-employer', () => {
      this.refetchEmployer();
    });
  },
  apollo: {
    userLevels: {
      query: gql`query userLevels($userType: UserType!) {
        userLevels: userLevels(userType: $userType) {
          userLevel
          title
          description
          adminLevel
          features {
            name
            description
            permissions
          }
        }
      }`,
      variables() {
        return {
          userType: 'EMPLOYER',
        };
      },
      result({ data }) {
        if (data && data.userLevels) {
          this.$log.info('Employer Levels: ', data.userLevels);
          this.$store.dispatch('setEmployerLevels', data.userLevels);
        }
      },
    },
    employer: {
      query: gql`query employer($myId: String!) {
        employer(id: $myId) {
          id
          name
          email
          userLevel
          surveyTriggers
          zoomAuthorized
          access {
            readable
            writable
          }
          affiliates {
            id
            name
          }
          organisations {
            id
            name
            fee
            payrollMethod
            payrollCurrency
            payCycleMonthDays
            accountingStyle
            region
            description
            logoUrl
            industryType
            websiteUrl
            videoUrl
            feedbacks {
              nFeedback
              avg
              lastRatedAt
            }
            socialMedia {
              facebook
              twitter
              instagram
              linkedIn
            }
            businessRegFileUrl
            businessRegNumber
            disbursementPaymentType
            payrollContractFileUrl
            billingDetails
            payrollOfficerPhone
            payrollOfficerEmail
            surveys
            organisationRating
            payCycleAdvancements {
              payCycleIdentifier
              advancedDays
            }
            marketplaces {
              id
              name
            }
            settings
            address
            phone
            permissions(employerId: $myId)
            leaveSickAccuralRateDaysPerYear
            leavePersonalAccrualRateDaysPerYear
            leaveSpecialAccuralRateDaysPerYear
            numberOfStuff
            approxTotalSalary
            companyAge
            organisationRelationChartUrl
            reasonForSelfPayrollAndDisbursement
          }
        }
      }`,
      variables() {
        return {
          myId: this.$store.getters.myId,
        };
      },
      async result({ data, loading, error }) {
        if (error) {
          await this.$UserService.logout();
          await this.$router.push({ path: '/' });
          await this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message: 'The firebase account has exist!.',
          });
          this.$log.error(error);
        }

        if (!loading) {
          if (data.employer) {
            this.handleLevelChanges(data.employer.userLevel);
            this.checkFcmUpdate(data.employer);
            this.storeEmployerData(data.employer);
            this.getZoomAuthCode();
          }
        }
      },
    },
  },
};
</script>

<style>
  .align-right{
    text-align: right;
  }
  .fixed {
    position: fixed;
  }
  .full-height {
    height: 10000px;
  }
  /* html {
    overflow: hidden;
  } */
</style>
