<template>
  <div>
    <!-- <navbar /> -->
    <router-view />
    <!-- <jobdoh-footer /> -->
  </div>
</template>

<script>
import Alert from '@/components/Utils/Alerts/Alert';

export default {
  components: {
  },

  methods: {
  },

  mounted() {
  },
};
</script>
