<template>
  <center>
    <v-row
      align="center"
      justify="center"
    >
      <v-card width="400px">
        <v-card-title>
          Verify Email
        </v-card-title>
        <v-card-text class="text-left">
          A verification mail has been sent to your email account.
          Please check your inbox to verify. <a href="/?mode=logout">Sign In Again</a>
        </v-card-text>
      </v-card>
    </v-row>
  </center>
</template>

<script>
import Center from '@/components/Common/Center';

export default {
  components: {
    Center,
  },

};
</script>

<style>

</style>
