<template>
  <span>
    <v-btn
      id="btn-TimesheetPage-Checkbox"
      icon
      v-if="workToken.confirmed == null"
      x-small
      @click="changeConfirmedStatus(true)"
    >
      <v-icon id="btn-TimesheetPage-Checkbox">mdi-checkbox-blank-outline</v-icon>
    </v-btn>
    <v-btn
      id="btn-TimesheetPage-Checkbox"
      icon
      color="green"
      x-small
      v-if="workToken.confirmed"
      @click="changeConfirmedStatus(false)"
    >
      <v-icon id="btn-TimesheetPage-Checkbox">mdi-checkbox-marked-outline</v-icon>
    </v-btn>
    <v-btn
      id="btn-TimesheetPage-Checkbox"
      icon
      color="red"
      x-small
      v-if="workToken.confirmed == false"
      @click="changeConfirmedStatus(null)"
    >
      <v-icon id="btn-TimesheetPage-Checkbox">mdi-close-box-outline</v-icon>
    </v-btn>
  </span>
</template>
<script>
export default {
  props: {
    workToken: {
      type: Array,
      default: () => [],
    },
  },
  data: () => ({
    status: null,
  }),
  mounted() {
  },
  methods: {
    changeConfirmedStatus(status) {
      this.$emit('changeConfirmedStatus', this.workToken, status);
    },
  },

};
</script>
