<template>
  <v-btn
    id="btn-any-ExcelUpload"
    @click="bulkUpload"
    :disabled="uploadData.length === 0"
    v-html="'Update'"
    block
    outlined
  />
</template>

<script>
// import mongoose from 'mon'
import mongoose from 'mongoose';

export default {
  props: {
    uploadData: {
      type: Array,
      default: () => [],
    },
    marketplaceId: {
      type: String,
      default: () => '',
    },
  },

  data() {
    return {
    };
  },

  methods: {
    async upload() {
      const promises = this.uploadData.map(data => this.$MarketplaceService
        .createMarketplaceSubscriber({
          name: data.name,
          phone: data.phone,
          identification: data.identification,
          email: data.email,
          marketplaceId: this.marketplaceId,
        }));

      const ret = await Promise.all(promises)
        .catch((err) => {
          this.$log.error(err);
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message: 'Upload Failed',
          });
        });

      if (ret) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Marketplace subscriber successfully uploaded',
        });
      }
    },

    async bulkUpload() {
      if (this.hasDuplicates(this.uploadData, 'phone')) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'error',
          message: 'Data has duplicated phone number',
        });
      } else {
        await this.$MarketplaceService.updateMarketplaceSubscriberList({
          marketplaceId: new mongoose.Types.ObjectId(this.marketplaceId),
          subscriberList: this.uploadData,
        })
          .then((res) => {
            this.$log.info('Marketplace subscribers successfully uploades', res);
            const writeResult = res.data.updateMarketplaceSubscriberList;
            this.$emit('uploaded', writeResult);
            this.$eventHub.$emit('show-alert', {
              alert: true,
              type: 'success',
              message: 'Marketplace subscribers successfully uploades',
            });
          })
          .catch((e) => {
            this.$log.error(e);
            this.$eventHub.$emit('show-alert', {
              alert: true,
              type: 'error',
              message: 'Marketplace subscribers upload failed',
            });
          });
      }
    },
  },
};
</script>
