<template>
  <v-combobox
    outlined
    chips
    multiple
    label="Custom Benefits"
    :items="sortedBenefits"
    :value="benefits"
    @input="value => $emit('benefits-updated', value)"
    :loading="loading"
  />
</template>

<script>
import queries from '@/assets/js/gql/queries';
// import Combo from '@/components/shared/components/Combo';

export default {
  props: {
    benefits: {
      type: Array,
      default: () => [],
    },
  },

  components: {
    // Combo,
  },

  data() {
    return {
      enumQuery: queries.enumQuery,
      loading: true,
      allBenefits: [
        'Insurance',
        'Can Bring Children to Work',
        'Double Pay',
        'Over-time Pay',
        'Daily Transportation Allowance',
        'Education Allowance',
        'Performance Bonus',
        'Work from Home',
        // 'Flexible Working Hours',
        'Phone Bill Allowance',
        'Meals',
        'Opportunity for Career Advancement',
        'Annual Leave',
        'Medical Insurance',
        // 'Salary advance (KhuPay)',
        'Uniform',
        'Leave Refund',
        'An Attractive Remuneration Package',
        'Birthday Leave',
        'Medical Benefits',
        'Duty Meals',
        'A Fun And Lively Working Environment',
        'Marriage Leave',
        'Compassionate Leave',
        'On The Job Training ',
        'Working Hours/Days',
        'Public Holidays',
        'Training And Development Subsidy',
        'Maternity Leave ',
        'Sick Leave',
        'Notebook Subsidy',
        'Work Life Balance',
        'Negotiable Salary Based On Experience',
        'Five-day Work Week',
        'Health Insurance',
        'Salary Increment',
        'Discretionary Bonus',
        'Tips',
        'Attendance Bonus',
        'Bonus+Commission',
        'Quarterly Bonus',
        'Welfare Events For Company Staffs',
        'Freeflow Of Snacks And Drinks',
        'Work With High Performance PCs',
      ],
    };
  },

  computed: {
    sortedBenefits() {
      return Array.from(this.allBenefits).sort((a, b) => {
        if (a < b) return -1;
        if (a > b) return 1;
        return 0;
      });
    },
  },

  mounted() {
    this.loading = false;
  },
};
</script>
