<template>
  <ApolloQuery
    :query="enumQuery"
    :variables="{ name: 'CURRENCY' }"
  >
    <template slot-scope="{ result: { data, loading, error }}">
      <div v-if="loading">
        <LoadingDialog :loading="true" />
      </div>
      <div v-else-if="error">
        Error
      </div>
      <div v-else-if="data">
        <v-combobox
          outlined
          v-if="data.__type != null"
          label="Currency"
          item-text="name"
          item-value="name"
          chips
          :multiple="multiple"
          :items="data.__type.enumValues"
          v-model="currencies"
          @change="selectCurrency"
        />
      </div>
    </template>
  </ApolloQuery>
</template>

<script>
import LoadingDialog from '@/components/Utils/Dialogs/LoadingDialog';
import queries from '@/assets/js/gql/queries';

export default {
  props: {
    organisationId: {
      type: String,
      default: () => '',
    },
    multiple: {
      type: Boolean,
      default: () => false,
    },
  },

  components: {
    LoadingDialog,
  },

  data: () => ({
    enumQuery: queries.enumQuery,
    currencies: null,
  }),

  methods: {
    selectCurrency() {
      if (this.multiple) {
        this.$log.debug(this.currencies);
        this.$emit('currenciesUpdated', this.currencies.map(e => e.name));
        return;
      }
      this.$emit('currenciesUpdated', this.currencies.name);
    },
  },
};
</script>
