<template>
  <ApolloQuery
    :query="paymentMethodQuery"
    :variables="{ currencies }"
  >
    <template slot-scope="{ result: { data, loading, error }}">
      <v-text-field
        v-if="managedByEmployer"
        :label="$t('choosePaymentMethod')"
        :value="'Managed by Employer'"
        readonly
        outlined
        append-icon="mdi-pencil"
        @click="managedByEmployer = false"
      />
      <v-select
        v-else
        outlined
        multiple
        chips
        small-chips
        :disabled="loading || disabled"
        :loading="loading"
        :error="!!error"
        :label="$t('choosePaymentMethod')"
        :items="data
          && data.paymentMethods
          && data.paymentMethods.map(e => ({
            value: e,
            text: `${e.name} (${e.currency})`
          })) || []"
        item-value="value"
        :value="paymentMethods"
        @input="selectPaymentMethod"
        :rules="requiredRules"
      >
        <template #append-item>
          <v-divider />
          <v-list-item @click="setPaymentManagedByEmployer">
            <v-list-item-icon><v-icon>mdi-file-tree</v-icon></v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>
                I will handle the payroll myself (e.g: Paying cash)
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
        <template
          #item="{ item, on, attrs }"
        >
          <v-list-item
            v-if="$AccessService.isPermittedPayment((item.value))"
            v-on="on"
            v-bind="attrs"
          >
            <v-list-item-icon>
              <v-icon v-if="attrs['aria-selected'] === 'false'">
                mdi-checkbox-blank-outline
              </v-icon>
              <v-icon v-else>
                mdi-checkbox-marked
              </v-icon>
            </v-list-item-icon>
            <v-list-item-title>
              {{ item.text }}
            </v-list-item-title>
          </v-list-item>
          <v-list-item
            v-else
            @click="$eventHub.$emit('show-tutorial-feature',
                                    $AccessService.getPaymentFeature(item.value), true)"
          >
            <v-list-item-icon>
              <v-icon color="grey">
                mdi-checkbox-blank-outline
              </v-icon>
            </v-list-item-icon>
            <v-list-item-title class="grey--text">
              {{ item.text }}
            </v-list-item-title>
          </v-list-item>
        </template>
      </v-select>
    </template>
  </ApolloQuery>
</template>

<script>
import queries from '@/assets/js/gql/queries';

export default {
  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
    paymentMethods: {
      type: Array,
      default: () => [],
    },
    currencies: {
      type: Array,
      default: () => [],
    },
    disabled: Boolean,
  },
  data() {
    return {
      managedByEmployer: false,
      paymentMethodQuery: queries.paymentMethodQuery,
      requiredRules: [
        v => (v.length > 0) || 'Oops!  Remember to select payroll methods to proceed.',
      ],
    };
  },

  methods: {
    setPaymentManagedByEmployer() {
      this.managedByEmployer = true;
      this.selectPaymentMethod([]);
    },
    selectPaymentMethod(value) {
      this.$log.debug(value);
      this.$emit('paymentMethodsUpdated', value);
    },
  },
};
</script>
