<template>
  <ApolloQuery
    :query="enumQuery"
    :variables="{ name: 'REQUIREMENT_SKILL' }"
  >
    <template slot-scope="{ result: { data, loading, error }}">
      <div v-if="loading">
        <LoadingDialog :loading="true" />
      </div>
      <div v-else-if="error">
        Error
      </div>
      <div v-else-if="data">
        <v-combobox
          outlined
          multiple
          v-if="data.__type != null"
          label="Required Skills"
          item-text="name"
          item-value="name"
          chips
          :items="data.__type.enumValues"
          v-model="skills"
          @change="selectSkill"
        />
      </div>
    </template>
  </ApolloQuery>
</template>

<script>
import LoadingDialog from '@/components/Utils/Dialogs/LoadingDialog';
import queries from '@/assets/js/gql/queries';

export default {
  components: {
    LoadingDialog,
  },

  data: () => ({
    enumQuery: queries.enumQuery,
    skills: [],
  }),

  methods: {
    selectSkill() {
      this.$log.debug(this.skills);
      this.$emit('skillsUpdated', this.skills.map(e => e.name));
    },
  },
};
</script>
