<template>
  <div>
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title>{{ product.title }}</v-list-item-title>
        <v-list-item-subtitle>
          <v-icon
            small
            left
          >
            mdi-cash
          </v-icon>{{ product.price }}
        </v-list-item-subtitle>
      </v-list-item-content>
      <v-list-item-actions>
        <v-row>
          <v-chip
            class="mx-1"
            outlined
            @click.stop="workerPanel = workerPanel === undefined ? 0 : undefined"
            @mousedown.stop
            @touchstart.stop
          >
            <v-icon
              left
              v-text="workerPanel === undefined ? 'mdi-chevron-down' : 'mdi-chevron-up'"
            />
            Workers ({{ workersData.length }})
          </v-chip>
          <v-chip
            class="mx-1"
            outlined
            @click="$router.push({
              name: 'update-product',
              params: { productData: product },
            });"
          >
            Edit
          </v-chip>
        </v-row>
      </v-list-item-actions>
    </v-list-item>
    <v-expansion-panels
      v-if="workersData != null"
      v-model="workerPanel"
    >
      <v-expansion-panel>
        <v-expansion-panel-content
          class="custom-expansion-panel-content"
        >
          <v-simple-table>
            <template v-slot:default>
              <tbody>
                <tr
                  v-for="(data, i) in workersData"
                  :key="i"
                >
                  <td class="text-left">
                    <ViewPaymentButton
                      :product="data.product"
                      :worker-id="data.worker.id"
                      :job-id="data.jobId"
                    />
                  </td>
                  <td>
                    {{ data.worker.name }}
                  </td>
                  <td>
                    {{ data.worker.phone }}
                  </td>
                  <td>
                    {{ data.status }}
                  </td>
                  <td>
                    <v-chip
                      v-if="data.status == 'Not Received Product'"
                      class="mx-1"
                      outlined
                      @click="confirmReceiveDialog = true"
                    >
                      Confirm Receive
                    </v-chip>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <v-divider />
    <v-dialog
      v-model="confirmReceiveDialog"
      width="400"
    >
      <v-card>
        <v-card-title>
          To receive the product
        </v-card-title>
        <v-container class="pa-2 pl-5">
          <v-row
            no-gutters
            class="ml-3"
          >
            1. {{ product.pickupInstructions }}
          </v-row>
          <v-row
            no-gutters
            class="ml-3"
          >
            2. Contact to {{ product.pickupContact }}
          </v-row>
          <v-row>
            <v-spacer />
            <v-text-field
              v-model="receiveCode"
            />
            <v-spacer />
          </v-row>
        </v-container>
        <v-card-actions>
          <v-row justify="end">
            <v-btn
              id="btn-ProductListPage-ConfirmReceiveDialog-Receive"
              v-if="product != null"
              text
              color="red"
              @click="confirmReceived(product.id)"
              v-html="'Receive'"
            />
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import apollo from '@/assets/js/apollo';
import gql from 'graphql-tag';
import moment from 'moment';
import ViewPaymentButton from '@/components/Marketplaces/Products/Buttons/ViewPaymentButton';

export default {
  props: {
    product: {
      type: Object,
      default: () => {},
    },
  },
  components: {
    ViewPaymentButton,
  },
  data: () => ({
    receiveCode: null,
    confirmReceiveDialog: false,
    workerPanel: undefined,
    receipts: [],
  }),

  async mounted() {
    this.receipts = await this.receiptsQuery();
  },

  computed: {
    workersData() {
      if (this.receipts == null) {
        return [];
      }
      let filteredReceipts = this.receipts.filter(e => e.product != null);
      filteredReceipts = filteredReceipts.filter(e => e.product.id === this.product.id);
      const workersData = filteredReceipts.map((receipt) => {
        if (receipt.receivedAt == null) {
          return {
            status: 'Not Received Product',
            worker: receipt.worker,
            product: receipt.product,
            jobId: receipt.jobId,
          };
        }
        if (!receipt.complete) {
          return {
            status: 'Partially Paid',
            worker: receipt.worker,
            product: receipt.product,
            jobId: receipt.jobId,
          };
        }
        return {
          status: 'Fully Paid',
          worker: receipt.worker,
          product: receipt.product,
          jobId: receipt.jobId,
        };
      });
      return workersData;
    },
  },

  methods: {

    async confirmReceived(productId) {
      const receipt = await this.receiptQuery();
      // this.status = 'Received';

      // this.isReceived = true;
      if (productId === receipt.product.id) {
        const ret = await this.$ProductService.updateReceipt({
          productId,
          organisationId: this.product.organisation.id,
          workerId: receipt.worker.id,
          receivedAt: new Date(),
        });
        if (ret) {
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'success',
            message: 'Confirm receive successful.',
          });
          const title = 'Product Received';
          const message = `You have received ${this.product.title} in ${moment().format('DD-MMM-YYYY')}`;
          this.$NotificationService.sendNotification({
            workerId: receipt.worker.id,
            title,
            body: message,
            messageData: {
              jobId: receipt.jobId,
              // organisationName: this.shift.organisation.name,
              title,
              body: message,
            },
          });
        }
      } else {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'error',
          message: 'Can not confirm receive.',
        });
      }
      this.confirmReceiveDialog = false;
    },
    async receiptsQuery() {
      // eslint-disable-next-line no-underscore-dangle
      // const _this = this;
      let result = [];
      const query = await apollo.defaultClient.query({
        query: gql`query receipts(
          $organisationId: String
        ) {
        receipts(
          organisationId: $organisationId
        ) {
          id
          code
          worker {
            id
            name
            phone
          }
          jobId
          # productId
          product {
            id
            lumpSum
            listingStartDate
            listingEndDate
            deposit
            price
            title
            description
            productMetadata
            itemAttributes
            pickupInstructions
            pickupContact
            organisation {
              id
              name
            }
          }
          complete
          receivedAt
        }
      }
      `,
        variables: {
          organisationId: null,
        },
      })
        .catch((err) => {
          this.$log.error(err);
          this.loading = false;
          this.$eventHub.$emit('show-alert', {
            type: 'error',
            message: err.graphQLErrors[0].message,
          });
        });
      if (query != null && query.data.receipts != null) {
        result = query.data.receipts;
      }
      return result;
    },
    async receiptQuery() {
      // eslint-disable-next-line no-underscore-dangle
      // const _this = this;
      let result = [];
      const query = await apollo.defaultClient.query({
        query: gql`query receipt(
          $code: String
        ) {
        receipt(
          code: $code
        ) {
          id
          code
          product {
            id
          }
          worker {
            id
            name
          }
        }
      }
      `,
        variables: {
          code: this.receiveCode,
        },
      })
        .catch((err) => {
          this.$log.error(err);
          this.loading = false;
          this.$eventHub.$emit('show-alert', {
            type: 'error',
            message: err.graphQLErrors[0].message,
          });
        });
      if (query != null && query.data.receipt != null) {
        result = query.data.receipt;
      }
      return result;
    },
  },
};
</script>
