<template>
  <v-card outlined>
    <v-row
      dense
      no-gutters
      class="py-2"
    >
      <v-col
        cols="4"
      >
        <v-row justify="center">
          <v-icon large>
            mdi-emoticon-happy-outline
          </v-icon>
        </v-row>
        <v-row justify="center">
          {{ totalScore }}
        </v-row>
      </v-col>
      <v-col
        cols="6"
        style="font-size: 12px"
      >
        <v-row
          no-gutters
          dense
        >
          {{ $t('mustHire') }}
        </v-row>
        <v-row
          no-gutters
          dense
        >
          {{ $t('willHireAgain') }}
        </v-row>
        <v-row
          no-gutters
          dense
        >
          Will Not Hire
          {{ $t('willNotHire') }}
        </v-row>
        <v-row
          no-gutters
          dense
        >
          {{ $t('absent') }}
        </v-row>
      </v-col>
      <v-col
        cols="2"
        style="font-size: 12px"
      >
        <v-row
          no-gutters
          dense
        >
          {{ mustHireCount }}
        </v-row>
        <v-row
          no-gutters
          dense
        >
          {{ willHireCount }}
        </v-row>
        <v-row
          no-gutters
          dense
        >
          {{ willNotHireCount }}
        </v-row>
        <v-row
          no-gutters
          dense
        >
          {{ absentCount }}
        </v-row>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import gql from 'graphql-tag';
import apollo from '@/assets/js/apollo';

export default {
  props: {
    worker: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    feedbackTokens: [],
  }),

  computed: {
    totalScore() {
      const must = this.mustHireCount * 2;
      const will = this.willHireCount;
      const willNot = this.willNotHireCount;
      const absent = this.absentCount * 2;
      const totalScore = (must + will) - (willNot + absent);
      return totalScore;
    },
    mustHireCount() {
      return this.worker.feedbacks.value.MUST_HIRE || 0;
    },
    willHireCount() {
      return this.worker.feedbacks.value.WILL_HIRE_AGAIN || 0;
    },
    willNotHireCount() {
      return this.worker.feedbacks.value.WILL_NOT_HIRE || 0;
    },
    absentCount() {
      return this.worker.feedbacks.value.ABSENT || 0;
    },
  },

  watch: {
    async worker() {
      this.feedbackTokens = await this.feedbackTokensQuery(this.worker.id);
    },
  },

  // async mounted() {
  //   this.feedbackTokens = await this.feedbackTokensQuery(this.worker.id);
  // },

  methods: {
    async feedbackTokensQuery(workerId) {
      let resultFeedbackTokens = [];
      const query = await apollo.defaultClient.query({
        query: gql`query feedbackTokens(
          $targetType: String,
          $targetId: String,
        ) {
        feedbackTokens(
          targetType: $targetType,
          targetId: $targetId,
        ) {
          targetId
          feedbackType
          feedbackValue
        }
      }
      `,
        variables: {
          targetType: 'worker',
          targetId: workerId,
        },
      })
        .catch((err) => {
          this.$log.debug('queryError', err);
        });
      if (query.data.feedbackTokens.length > 0) {
        resultFeedbackTokens = query.data.feedbackTokens;
      }
      return resultFeedbackTokens;
    },
  },
};
</script>
<style>
.text-align-end{
  text-align: right;
}
.card-margin{
  margin-top: 10px;
  margin-bottom: 10px;
}
</style>
