<template>
  <v-flex>
    <v-radio-group
      v-model="value"
      mandatory
      @change="v => $emit('input', v)"
      label="Shifts"
    >
      <v-radio
        v-for="(shift, i) in shifts"
        :key="i"
        :label="shift.startTime"
        :value="shift"
      >
        <template v-slot:label>
          <v-chip
            label
          >
            <span v-if="isMockupShift(shift)">
              Not provided yet
            </span>
            <span v-else>
              {{ $moment(shift.startTime).format('MMM D, HH:mm A') }}
              -
              {{ $moment(shift.endTime).format('MMM D, HH:mm A') }}
            </span>
            <v-row
              v-if="getCandidates(shift).length"
              no-gutters
            >
              <v-divider
                vertical
                class="mx-2"
              />
              <v-icon
                class="mr-1"
                small
              >
                mdi-account-outline
              </v-icon>
              {{ getCandidates(shift).length }}
            </v-row>
          </v-chip>
        </template>
      </v-radio>
    </v-radio-group>
  </v-flex>
</template>

<script>
import moment from 'moment';

export default {
  props: {
    shifts: {
      type: Array,
      default: () => [],
    },
    value: {
      type: Object,
      required: true,
    },
  },

  methods: {
    getCandidates(shift) {
      if (shift.siblingShifts == null) {
        return [];
      }
      const { siblingShifts } = shift;
      const candidates = siblingShifts.map(e => e.candidates);
      return candidates.flat();
    },
    isMockupShift(shift) {
      return moment(shift.startTime).format('HH:mm') === moment(shift.endTime).format('HH:mm');
    },
  },

  computed: {

  },
};
</script>
