<template>
  <v-container>
    <h3>Notifications will be sent to {{ workersWithFCM.length }} workers.</h3>
    <IndividualWorkerNotificationForm
      v-if="workersWithFCM.length > 0"
      :workers="workersWithFCM"
    />
  </v-container>
</template>

<script>
import gql from 'graphql-tag';
import IndividualWorkerNotificationForm from '@/components/Notifications/Forms/IndividualWorkerNotificationForm';

export default {
  components: {
    IndividualWorkerNotificationForm,
  },

  props: {
    organisationId: {
      type: String,
      default: () => '',
    },
  },

  data: () => ({
    workers: [],
  }),

  computed: {
    workersWithFCM() {
      if (this.workers.length === 0) {
        return [];
      }
      return this.workers.filter(worker => worker.fcm != null);
    },
  },

  apollo: {
    workers: {
      query: gql`query workers($organisationId: ID!) {
        workers(organisationId: $organisationId) {
          id
          name
          fcm
          languageSetting
        }
      }`,
      variables() {
        return {
          organisationId: this.organisationId,
        };
      },
    },
  },
};
</script>
