<template>
  <v-btn
    id="btn-ProductDetailPage-AddToCart"
    text
    @mousedown.stop
    @touchstart.stop
    @click.stop="$emit('click', value)"
    small
  >
    <v-icon
      id="btn-ProductDetailPage-AddToCart"
      left
    >
      {{ value ? 'mdi-cart-remove' : 'mdi-cart-plus' }}
    </v-icon>
    {{ value ? 'Remove From Cart' : 'Add To Cart' }}
  </v-btn>
</template>

<script>
export default {
  props: {
    value: Boolean,
  },
};
</script>
