<template>
  <v-dialog
    v-model="dialog"
    scrollable
    :fullscreen="!interview.confirmed"
  >
    <v-card>
      <v-card-title>
        Interview
        <v-spacer />
        <v-btn
          icon
          @click="dialog = false"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>

      <v-card-text v-if="!interview.confirmed">
        <span>
          Congratulations! you have been selected for an interview.
          Please select when you can attend a video call interview over zoom.
        </span>

        <v-divider class="my-4" />

        Select an interview time
        <v-radio-group
          v-model="interviewDate"
          column
          dense
          hide-details
          class="mt-0"
        >
          <v-radio
            v-for="(time, i) in interviewSessions"
            :key="i"
            :value="time"
          >
            <template #label>
              <span
                :style="{'font-size': '0.9em'}"
              >
                {{
                  `${moment(time.startTime).format('DD MMM YYYY')}
               •
              ${moment(time.startTime).format('hh:mm A')} -
              ${moment(time.endTime).format('hh:mm A')}`
                }}
              </span>
            </template>
          </v-radio>
        </v-radio-group>
        <br>
        <div>Interview Length: <b>{{ interviewLengthString }}</b></div>
        <br>
        <div>
          Materials to prepare
        </div>
        <!-- <v-list
          v-if="interviews[0].requirements != null"
          dense
          class="pa-0"
        >
          <v-list-item
            class="my-0 pa-0"
            v-for="(requirement, i) in interviews[0].requirements"
            :key="i"
          >
            <v-list-item-icon>
              <v-icon>mdi-circle-small</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>
                {{ requirement }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list> -->
        <ul>
          <li
            v-for="(requirement, i) in interviews[0].requirements"
            :key="i"
          >
            {{ requirement }}
          </li>
        </ul>
      </v-card-text>
      <v-card-text v-else>
        <div>
          Date: {{ moment(interviews[0].startTime || interviewDate.startTime )
            .format('YYYY-MM-DD') }}
        </div>
        <div>
          Time: {{ moment(interviews[0].startTime || interviewDate.startTime )
            .format('HH:mm A') }}
          - {{ moment(interviews[0].endTime || interviewDate.endTime )
            .format('HH:mm A') }}
        </div>
        <div v-if="interviews[0].link">
          Link: <a
            :href="interviews[0].link"
            target="_blank"
          > {{ interviews[0].link }} </a>
        </div>
        <br>
        <div> <b> Materials to prepare</b></div>
        <ul
          v-if="interviews[0].requirements != null"
        >
          <li
            v-for="(requirement, i) in interviews[0].requirements"
            :key="i"
          >
            {{ requirement }}
          </li>
        </ul>
      </v-card-text>

      <v-divider />
      <v-card-actions v-if="!interview.confirmed">
        <v-row>
          <v-col class="py-0">
            <v-btn
              class="ma-1"
              color="default"
              text
              block
              @click="withdrawInterviewDialog = true"
            >
              Withdraw
            </v-btn>
          </v-col>
          <v-col class="py-0">
            <v-btn
              class="jobdoh-red ma-1"
              dark
              block
              @click="confirmInterview"
            >
              Accept
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>

    <v-dialog
      v-model="withdrawInterviewDialog"
    >
      <v-card>
        <v-card-title
          :style="{'word-break': 'break-word'}"
        >
          Are you sure want to withdraw the job?
        </v-card-title>
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            @click="withdrawInterviewDialog = false"
          >
            Cancel
          </v-btn>
          <v-btn
            class="jobdoh-red"
            dark
            @click="withdrawJob"
          >
            Withdraw
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <template #activator="{on}">
      <v-btn
        v-on="on"
        v-bind="$attrs"
        class="jobdoh-red"
        block
        dark
      >
        Interview
      </v-btn>
    </template>
  </v-dialog>
</template>

<script>
import moment from 'moment';

export default {
  props: {
    job: {
      type: Object,
      required: true,
    },
    interviews: {
      type: Array,
      default: () => [],
    },
  },

  data() {
    return {
      moment,
      interviewDate: {},
      dialog: false,
      withdrawInterviewDialog: false,
    };
  },

  computed: {
    interview() {
      return this.interviews && this.interviews[0];
    },
    interviewLengthUnit() {
      return this.interviewLength < 1 ? 'minutes' : 'hours';
    },
    interviewLength() {
      const { interviewLength } = this.interviews[0];
      return interviewLength;
    },
    interviewLengthString() {
      // if (this.interviewLength === 0) return '00:00';
      const { interviewLength } = this.interviews[0];
      const hour = parseInt(interviewLength, 10);
      const minute = parseInt((interviewLength % 1) * 60, 10);
      return `${`${hour}`.length < 2 ? `0${hour}` : hour}:${`${minute}`.length < 2 ? `0${minute}` : minute}`;
    },
    interviewTimes() {
      const [interview] = this.interviews;
      const interviewTimes = interview ? Array.from(interview.times).sort(this.byTime) : [];
      // const availableInterviewTimes = interviewTimes
      //   .map(time => time.)
      return interviewTimes;
    },
    interviewSessions() {
      return this.interviewTimes
        .map(({ startDate, endDate }) => this.getSessions(
          { startTime: startDate, endTime: endDate },
          this.interviewLength,
        ))
        .flat();
    },
  },

  methods: {
    async confirmInterview() {
      const ret = await this.$InterviewService.confirmInterview({
        shiftId: this.job.shifts[0].id,
        workerId: this.$store.state.worker.id,
        jobId: this.job.id,
        startTime: this.interviewDate.startTime,
        endTime: this.interviewDate.endTime,
      }).catch((err) => {
        this.$EventBus.$emit('show-alert', {
          alert: true,
          type: 'error',
          message: 'Error Request Send',
        });

        this.$log.error(err);
      });

      if (ret) {
        this.$EventBus.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Successfully Confirmed the Interview',
        });
        window.location.reload();
      }

      this.dialog = false;
    },
    async withdrawJob() {
      const workerId = this.$store.state.worker.id;
      // const shift = this.job.shifts.find(s => s.worker && (s.worker.id === workerId));
      const shift = this.job.shifts[0];
      return this.$JobService
        .withdrawJob({
          shiftId: shift && shift.id,
          workerId,
          jobId: this.job.id,
        })
        .then(() => {
          this.$emit('withdraw');
          this.$EventBus.$emit('show-alert', {
            type: 'info',
            message: 'Job Withdraw Successfully',
          });
          this.$router.back();
        })
        .catch(e => this.$log.error(e));
    },
    byTime(a, b) {
      const totalUTCOfA = moment(a.startDate).unix() + moment(a.endDate).unix();
      const totalUTCOfB = moment(b.startDate).unix() + moment(b.endDate).unix();
      return totalUTCOfA - totalUTCOfB;
    },
    getSessions({ startTime, endTime }, lengthByHour) {
      const availableTime = -moment(startTime).diff(endTime, 'hours');
      const numOfSessions = parseInt(availableTime / lengthByHour, 10);
      return Array(numOfSessions)
        .fill(startTime)
        .map((time, i) => ({
          startTime: moment(time).add(i * lengthByHour, 'hours').toISOString(),
          endTime: moment(time).add((i + 1) * lengthByHour, 'hours').toISOString(),
        }));
    },
  },
};
</script>

<style>

</style>
