<template>
  <v-list-item
    class="px-0"
  >
    <v-list-item-icon>
      <v-icon v-text="'mdi-circle-small'" />
    </v-list-item-icon>
    <v-list-item-content>
      <v-list-item-title>
        {{ levelRequired }}
      </v-list-item-title>
      <v-list-item-subtitle>
        {{ requiredLevel }}
      </v-list-item-subtitle>
    </v-list-item-content>
    <v-list-item-icon v-if="listeners.includes('delete-skill')">
      <v-btn
        icon
        @click="$emit('delete-skill')"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-list-item-icon>
  </v-list-item>
</template>

<script>

export default {
  props: {
    jobSkill: {
      type: Object,
      default: () => {},
    },
  },

  computed: {

    levelRequired() {
      if (this.jobSkill.jobSkill == null) {
        return '';
      }
      const { name } = this.jobSkill.jobSkill;
      // const { levels } = this.jobSkill.jobSkill;
      // const { level } = this.jobSkill;
      const { notes } = this.jobSkill;
      // if (level == null)
      // const { definition } = levels.find(e => e.level === level);
      return `${name}`.concat(notes ? ` (${notes})` : '');
    },
    requiredLevel() {
      const { level, jobSkill } = this.jobSkill;
      if (level == null) {
        return '';
      }
      return jobSkill.levels.find(l => l.level === level).definition;
    },
    maxLevels() {
      if (this.jobSkill.jobSkill == null) {
        return 0;
      }
      const { levels } = this.jobSkill.jobSkill;
      return levels.length;
    },
    score() {
      if (this.jobSkill.level == null) return 0;
      const { level } = this.jobSkill;
      return (level + 1);
    },
    listeners() {
      return Object.keys(this.$vnode.componentOptions.listeners || {});
    },
    // baseLevel() {
    //   if (this.jobSkill.jobSkill == null) return '';
    //   const { levels } = this.jobSkill.jobSkill;
    //   const { definition } = levels.find(e => e.level === 0);
    //   return definition;
    // },
    // maxLevel() {
    //   if (this.jobSkill.jobSkill == null) return '';
    //   const { levels } = this.jobSkill.jobSkill;
    //   const { definition } = levels.find(e => e.level === (levels.length - 1));
    //   return definition;
    // },
  },
};
</script>
