<template>
  <v-card
    :ripple="isSpecialJobType"
    @click.stop="() => {if (isSpecialJobType) dialog = true}"
    @mousedown.stop
    @touchstart.stop
    class="text-center pa-1"
    outlined
  >
    <v-badge
      :value="isSpecialJobType"
      :icon="jobTypeStamp.badgeIcon"
      color="black"
    >
      <v-icon
        large
        v-text="jobTypeStamp.icon"
      />
      <v-icon
        small
        v-if="flexibleTime"
      >
        fa-hourglass-start
      </v-icon>
    </v-badge>
    <div style="font-size: 0.85em">
      {{ jobTypeStamp.label }}
    </div>
    <v-dialog
      :value="dialog"
      @click:outside="dialog = false"
    >
      <v-card>
        <v-list-item>
          <v-list-item-avatar
            color="primary"
            size="25"
          >
            <v-icon
              small
              color="white"
            >
              {{ jobTypeStamp.badgeIcon }}
            </v-icon>
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-subtitle v-html="jobTypeStamp.tooltip" />
          </v-list-item-content>
        </v-list-item>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
export default {
  props: {
    jobType: {
      type: String,
      required: true,
    },
    flexibleTime: Boolean,
    chip: Boolean,
  },

  data() {
    return {
      dialog: false,
    };
  },

  computed: {
    isSpecialJobType() {
      return !!this.jobTypeStamp.badgeIcon;
    },
    jobTypeStamp() {
      if (this.jobType === 'CONTRACT') return { label: this.$t('contract'), icon: 'mdi-file-document-outline' };

      if (this.jobType === 'PART_TIME') return { label: this.$t('partTime'), icon: 'mdi-calendar-clock' };

      if (this.jobType.includes('FULL_TIME')) {
        const stamp = { label: this.$t('fullTime'), icon: 'mdi-calendar' };
        if (this.jobType === 'FULL_TIME_HOME') return { ...stamp, badgeIcon: 'mdi-home', tooltip: 'Work From Home' };
        if (this.jobType === 'FULL_TIME_GOVERNMENT') return { ...stamp, badgeIcon: 'mdi-bank', tooltip: 'Government Job' };
        if (this.jobType === 'FULL_TIME_ABROAD') return { ...stamp, badgeIcon: 'mdi-airplane', tooltip: 'Abroad Job' };
        if (this.jobType === 'FULL_TIME_INTERN') return { ...stamp, badgeIcon: 'mdi-account-supervisor', tooltip: 'Internship Job' };
        return stamp;
      }
      return null;
    },
  },
};
</script>
