<template>
  <v-row
    no-gutters
    align="center"
    class="font-weight-bold"
  >
    <v-icon
      small
      left
    >
      mdi-cash
    </v-icon>
    <span v-if="shift.salary!= null && shift.salary > 0">
      {{ shift.salary | currency(job.renumerationCurrency, job.paymentOption) }}
    </span>
    <span v-else-if="job.renumerationValue > 0">
      {{ job.renumerationValue | currency(job.renumerationCurrency, job.paymentOption) }}
    </span>
    <span v-else>
      Undisclosed Salary
    </span>
  </v-row>
</template>

<script>
export default {
  props: {
    job: {
      type: Object,
      default: () => {},
    },
    shift: {
      type: Object,
      default: () => {},
    },
  },

  computed: {
    // renumerationRate() {
    //   return this.getRenumerationRate({
    //     amount: this.job.renumerationValue,
    //     currency: this.job.renumerationCurrency,
    //     type: this.job.type,
    //   });
    // },
    // paymentRateLabel() {
    //   const label = '';
    //   return label;
    // },

  },
};
</script>
