<template>
  <div>
    {{ product.price | currency('MMK', '') }}
  </div>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
      default: () => {},
    },
  },

  computed: {
    // renumerationRate() {
    //   return this.getRenumerationRate({
    //     amount: this.job.renumerationValue,
    //     currency: this.job.renumerationCurrency,
    //     type: this.job.type,
    //   });
    // },
    // paymentRateLabel() {
    //   const label = '';
    //   return label;
    // },
    paymentOption() {
      switch (this.job.paymentOption) {
        case 'MONTHLY':
          return '/month';
        case 'HOURLY':
          return '/hour';
        case 'FIXED':
          return '/fixed';
        default:
          return '';
      }
    },
  },
};
</script>
