<template>
  <div
    v-ripple
    @touchstart.stop
    @mousedown.stop
    @click.stop="withdrawDialog = true"
  >
    <v-btn
      v-bind="$attrs"
      disabled
      depressed
    >
      Processing Purchase
    </v-btn>
    <v-dialog v-model="withdrawDialog">
      <v-card>
        <v-card-title>
          Withdraw Purchase?
        </v-card-title>
        <v-card-text>
          Do you want to cancel the purchase?
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            @click="withdrawDialog = false"
            text
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            @click.stop
            text
          >
            OK
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      withdrawDialog: false,
    };
  },
};
</script>

<style>

</style>
