<template>
  <div>
    <v-btn
      class="jobdoh-red white--text"
      @touchstart.stop
      @mousedown.stop
      @click.stop="openReceiveDialog"
      :block="block"
      depressed
      v-bind="$attrs"
    >
      Receive
    </v-btn>
    <v-dialog v-model="dialog">
      <v-card>
        <v-card-title>
          To receive the product
        </v-card-title>
        <v-container class="pa-2 pl-5">
          <v-row
            no-gutters
            class="ml-3"
          >
            1. {{ product.pickupInstructions }}
          </v-row>
          <v-row
            no-gutters
            class="ml-3"
          >
            2. Contact to {{ product.pickupContact }}
          </v-row>
          <br>
          <div
            class="ml-3"
          >
            Code for agent:
          </div>
          <br>
          <v-row
            no-gutters
            v-if="receipt != null"
          >
            <v-spacer />
            <h2>{{ receipt.code }}</h2>
            <v-spacer />
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            @click="dialog = false"
          >
            {{ $t('cancel') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import gql from 'graphql-tag';
import apollo from '@/assets/js/apollo';

export default {
  props: {
    product: {
      type: Object,
      required: true,
    },
    block: Boolean,
  },

  data() {
    return {
      dialog: false,
      loading: false,
      receipt: null,
    };
  },

  methods: {
    async openReceiveDialog() {
      this.loading = true;
      if (!this.receipt) this.receipt = await this.receiptQuery();
      this.loading = false;
      this.dialog = true;
    },

    async receiptQuery() {
      // eslint-disable-next-line no-underscore-dangle
      // const _this = this;
      let result = [];
      const { worker } = this.$store.state;
      const query = await apollo.defaultClient.query({
        query: gql`query receipt(
          $workerId: String
          $productId: String
        ) {
        receipt(
          workerId: $workerId
          productId: $productId
        ) {
          id
          code
          paidLevel
          receivedAt
        }
      }
      `,
        variables: {
          productId: this.product.id,
          workerId: worker.id,
        },
      })
        .catch((err) => {
          this.$log.error(err);
          this.$eventHub.$emit('show-alert', {
            type: 'error',
            message: err.graphQLErrors[0].message,
          });
        });
      if (query != null && query.data.receipt != null) {
        result = query.data.receipt;
      }
      return result;
    },

  },
};
</script>

<style>

</style>
