<template>
  <v-btn
    class="grey lighten-1 black--text"
    @touchstart.stop
    @mousedown.stop
    @click.stop="openReceiptDialop"
    :block="block"
    depressed
    v-bind="$attrs"
  >
    <v-icon
      small
      left
    >
      mdi-receipt
    </v-icon>
    View Receipt
    <v-dialog v-model="dialog">
      <v-card>
        <v-card-title>
          {{ product.title }} Receipt
        </v-card-title>
        <v-card-subtitle class="mt-3">
          <div v-if="receipt != null">
            You received item on {{ moment(receipt.receivedAt).format('MMM-DD HH:mm') }}
          </div>
          <br>
          <h3>Paid</h3>
          <v-container v-if="payslips != null && receipt != null">
            <v-row
              dense
            >
              <v-col>Processing fee:</v-col>
              <v-col class="text-right">
                <b> {{ Math.round(payslips[0].amount)| currency(payslips[0].currency) }}</b>
              </v-col>
            </v-row>
            <v-row
              v-for="(payslip, i) in payslips.slice(0, receipt.paidLevel + 1)"
              :key="i"
              dense
            >
              <!-- <v-col v-if="payslip.deductDate == null && payslip.hasPayBack == null">
              Current Pay:
            </v-col> -->
              <v-col v-if="payslip.deductDate == null && payslip.hasPayBack != null">
                {{ moment().add(2, 'M').endOf('month').format('MMM-DD') }}: rebate:
              </v-col>
              <v-col v-else-if="payslip.deductDate != null && payslip.hasPayBack == null">
                {{ moment(payslip.deductDate).format('MMM-DD') }}
              </v-col>
              <v-col
                v-if="payslip.deductDate != null && payslip.hasPayBack == null"
                class="text-right"
              >
                <b>{{ Math.round(payslip.amount)| currency(payslip.currency) }}</b>
              </v-col>
              <v-col
                v-if="payslip.deductDate == null && payslip.hasPayBack != null"
                class="text-right"
              >
                <b>- {{ Math.round(payslip.amount)| currency(payslip.currency) }}</b>
              </v-col>
            </v-row>
          </v-container>
          <br>
          <h3 v-if="payslips != null && payslips.slice(receipt.paidLevel + 1).length > 0">
            Remaining Instalments
          </h3>
          <v-container v-if="payslips != null && receipt != null">
            <v-row
              v-for="(payslip, i) in payslips.slice(receipt.paidLevel + 1)"
              :key="i"
              dense
            >
              <!-- <v-col v-if="payslip.deductDate == null && payslip.hasPayBack == null">
              Current Pay:
            </v-col> -->
              <v-col v-if="payslip.deductDate != null && payslip.hasPayBack != null">
                {{ moment().add(2, 'M').endOf('month').format('MMM-DD') }}: rebate:
              </v-col>
              <v-col v-else-if="payslip.deductDate != null && payslip.hasPayBack == null">
                {{ moment(payslip.deductDate).format('MMM-DD') }}
              </v-col>
              <v-col
                v-if="payslip.deductDate != null && payslip.hasPayBack == null"
                class="text-right"
              >
                <b>{{ Math.round(payslip.amount)| currency(payslip.currency) }}</b>
              </v-col>
              <v-col
                v-if="payslip.deductDate != null && payslip.hasPayBack != null"
                class="text-right"
              >
                <b>- {{ Math.round(payslip.amount)| currency(payslip.currency) }}</b>
              </v-col>
            </v-row>
            <v-row>
              <h4 v-if="payslips != null && payslips.slice(receipt.paidLevel + 1).length === 0">
                Your <b>{{ receipt.product.title }}</b> has been paid already.
              </h4>
            </v-row>
          </v-container>
        </v-card-subtitle>
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            @click="dialog = false"
          >
            {{ $t('close') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-btn>
</template>

<script>

import gql from 'graphql-tag';
import moment from 'moment';
import apollo from '@/assets/js/apollo';

export default {
  props: {
    product: {
      type: Object,
      required: true,
    },
    block: Boolean,
  },

  data() {
    return {
      moment,
      dialog: false,
      loading: false,
      receipt: null,
      payslips: null,
    };
  },

  methods: {
    async openReceiptDialop() {
      this.loading = true;
      this.payslips = await this.estimatedProductBalanceQuery();
      this.receipt = await this.receiptQuery();
      this.loading = false;
      this.dialog = true;
    },
    async estimatedProductBalanceQuery() {
      // eslint-disable-next-line no-underscore-dangle
      // const _this = this;
      let result = [];
      const { worker } = this.$store.state;
      const query = await apollo.defaultClient.query({
        query: gql`query estimatedProductBalance(
          $jobId: ID!
          $workerId: String!
          $productId: String!
        ) {
        estimatedProductBalance(
          jobId: $jobId
          workerId: $workerId
          productId: $productId
        ) 
      }
      `,
        variables: {
          productId: this.product.id,
          workerId: worker.id,
          jobId: worker.jobsHired[0].id,
        },
      })
        .catch((err) => {
          this.$log.error(err);
          this.$eventHub.$emit('show-alert', {
            type: 'error',
            message: err.graphQLErrors[0].message,
          });
        });
      if (query != null && query.data.estimatedProductBalance.length > 0) {
        result = query.data.estimatedProductBalance;
      }
      return result;
    },
    async receiptQuery() {
      // eslint-disable-next-line no-underscore-dangle
      // const _this = this;
      let result = [];
      const { worker } = this.$store.state;
      const query = await apollo.defaultClient.query({
        query: gql`query receipt(
          $workerId: String
          $productId: String
        ) {
        receipt(
          workerId: $workerId
          productId: $productId
        ) {
          id
          code
          paidLevel
          receivedAt
          product {
            title
          }
        }
      }
      `,
        variables: {
          productId: this.product.id,
          workerId: worker.id,
        },
      })
        .catch((err) => {
          this.$log.error(err);
          this.$eventHub.$emit('show-alert', {
            type: 'error',
            message: err.graphQLErrors[0].message,
          });
        });
      if (query != null && query.data.receipt != null) {
        result = query.data.receipt;
      }
      return result;
    },
  },
};
</script>

<style>

</style>
