<template>
  <v-btn
    v-if="!product.isPurchased"
    class="jobdoh-red white--text"
    @touchstart.stop
    @mousedown.stop
    @click.stop="openPurchaseDialog"
    :loading="loading"
    :block="block"
    depressed
  >
    View Price
    <v-dialog
      v-model="dialog"
      fullscreen
      scrollable
    >
      <v-card
        class="pa-3"
      >
        <v-card-title class="px-4">
          {{ product.title }}
        </v-card-title>
        <v-form v-model="valid">
          <v-select
            class="px-4"
            v-model="currentJob"
            item-text="title"
            item-value="id"
            :items="jobsHired"
            flat
            @change="changeJobs"
            outlined
            hide-details
            placeholder="Choose a Job"
            label="Paid with this salary"
            return-object
            :rules="[v => !!v || 'Required']"
          />
        </v-form>
        <v-card-subtitle class="py-0 pt-1 px-4">
          Price: <b>{{ product.price | currency('MMK') }}, {{ product.lumpSum }}
            instalments</b>
        </v-card-subtitle>
        <v-card-subtitle
          v-if="payslips != null"
          class="py-0 px-4"
        >
          Processing fee:
          <b> {{ Math.round(payslips[0].amount)| currency(payslips[0].currency) }} (immediately)</b>
        </v-card-subtitle>

        <v-card-title class="px-4">
          Payment Schedule
        </v-card-title>
        <v-divider />
        <v-card-text class="pa-0">
          <v-simple-table
            dense
          >
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left">
                    Date
                  </th>
                  <th class="text-right">
                    Instalment Amounts
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    {{ moment().add(2, 'days').format('MMM-DD') }} -
                    {{ moment().add(9, 'days').format('MMM-DD') }}
                  </td>
                  <td class="text-right">
                    <b>*receive product</b>
                  </td>
                </tr>
                <tr
                  v-for="(payslip, i) in payslips"
                  :key="i"
                >
                  <td v-if="payslip.deductDate != null && payslip.hasPayBack != null">
                    {{ moment(payslip.deductDate).format('MMM-DD') }}<br>
                  </td>
                  <td v-else-if="payslip.deductDate != null && payslip.hasPayBack == null">
                    {{ moment(payslip.deductDate).format('MMM-DD') }}
                  </td>
                  <td
                    v-if="payslip.deductDate != null || payslip.hasPayBack != null"
                    class="text-right"
                  >
                    <span
                      v-if="payslip.deductDate != null && payslip.hasPayBack != null"
                    >rebate of: <b>-</b></span>
                    <b>{{ Math.round(payslip.amount)| currency(payslip.currency) }}</b>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card-text>
        <v-divider />
        <v-card-subtitle class="pb-0 pt-1 px-4 text-center">
          <a
            href="https://page.jobdoh.com/terms"
            target="blank"
          >
            {{ $t('termsAndConditions') }}
          </a>
        </v-card-subtitle>
        <v-card-actions>
          <v-spacer />

          <v-btn
            color="grey"
            text
            @click="dialog = false"
          >
            {{ $t('btnCancelText') }}
          </v-btn>

          <v-btn
            color="red darken-2"
            text
            :loading="loading"
            :disabled="!valid"
            @click="purchaseProduct"
          >
            Purchase
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-btn>
</template>

<script>
import gql from 'graphql-tag';
import moment from 'moment';
import apollo from '@/assets/js/apollo';

export default {
  props: {
    product: {
      type: Object,
      required: true,
    },
    block: Boolean,
  },

  mounted() {
    [this.currentJob] = this.jobsHired;
  },

  data() {
    return {
      moment,
      loading: false,
      payslips: null,
      valid: false,
      currentJob: null,
      dialog: false,
      small: Boolean,
    };
  },

  computed: {
    worker() {
      return this.$store.state.worker;
    },
    jobsHired() {
      return this.$store.state.worker.jobsHired || [];
    },
  },

  methods: {
    async changeJobs() {
      this.payslips = await this.estimatedProductBalanceQuery();
    },
    async openPurchaseDialog() {
      this.loading = true;
      this.payslips = await this.estimatedProductBalanceQuery();
      this.loading = false;
      this.dialog = true;
    },
    async estimatedProductBalanceQuery() {
      // eslint-disable-next-line no-underscore-dangle
      // const _this = this;
      let result = [];
      const { worker } = this.$store.state;
      const query = await apollo.defaultClient.query({
        query: gql`query estimatedProductBalance(
          $jobId: ID!
          $workerId: String!
          $productId: String!
        ) {
        estimatedProductBalance(
          jobId: $jobId
          workerId: $workerId
          productId: $productId
        ) 
      }
      `,
        variables: {
          productId: this.product.id,
          workerId: worker.id,
          jobId: this.currentJob.id,
        },
      })
        .catch((err) => {
          this.$log.error(err);
          this.$eventHub.$emit('show-alert', {
            type: 'error',
            message: err.graphQLErrors[0].message,
          });
        });
      if (query != null && query.data.estimatedProductBalance.length > 0) {
        result = query.data.estimatedProductBalance;
      }
      return result;
    },
    async purchaseProduct() {
      this.loading = true;
      const { worker } = this.$store.state;
      const ret = await this.$ProductService.requestProductPay({
        productId: this.product.id,
        workerId: worker.id,
        jobId: this.currentJob.id,
        numberRequested: 5,
        workerPaymentMethodId: worker.defaultWorkerPaymentMethod.id,
      });
      if (ret) {
        this.dialog = false;
        this.$EventBus.$emit('show-alert', {
          type: 'success',
          message: 'Product purchase successful',
        });
        this.sendToSlack();
        this.$EventBus.$emit('refresh-worker');
        this.$EventBus.$emit('refresh-product-detail');
      }
      this.loading = false;
    },
    sendToSlack() {
      const { worker } = this.$store.state;
      const environment = process.env.NODE_ENV;
      if (environment === 'production') {
        const text = `*Product Purchase Request* is received for ${this.product.title} (${this.product.organisation.name}) by ${worker.name} (${this.jobsHired[0].organisation.name}) : ${worker.phone} (Timesheet).`;
        // eslint-disable-next-line camelcase
        const icon_emoji = ':star-struck:';
        this.$UtilityService.sendMessageToSlackOperationsChannel({ text, icon_emoji });
        return;
      }

      const text = `[_${environment}_] *Product Purchase Request* is received for ${this.product.title} (${this.product.organisation.name}) by ${worker.name} (${this.jobsHired[0].organisation.name}) : ${worker.phone} (Timesheet).`;
      // eslint-disable-next-line camelcase
      const icon_emoji = ':robot_face:';
      const channel = '#testing_slack_messages';
      this.$UtilityService.sendMessageToSlackOperationsChannel({ text, icon_emoji, channel });
    },
  },
};
</script>

<style>

</style>
