<template>
  <v-btn
    id="btn-SaveButton-Bookmark"
    text
    @mousedown.stop
    @touchstart.stop
    @click.stop="$emit('click', value)"
  >
    <v-icon
      id="btn-SaveButton-Bookmark"
      left
      small
    >
      {{ value ? 'mdi-bookmark' : 'mdi-bookmark-outline' }}
    </v-icon>
    {{ value ? $t('saved') : $t('save') }}
  </v-btn>
</template>

<script>
export default {
  props: {
    value: Boolean,
  },
};
</script>
