<template>
  <v-row
    justify="center"
  >
    <v-icon
      class="fs-13"
      v-for="i in score"
      :key="i"
    >
      star
    </v-icon>
    <v-icon
      class="fs-13"
      v-for="j in blank"
      :key="j + score"
    >
      star_outline
    </v-icon>
  </v-row>
</template>

<script>
export default {
  props: {
    max: {
      type: Number,
      default: () => 0,
    },
    score: {
      type: Number,
      default: () => 0,
    },
  },

  computed: {
    blank() {
      return (this.max - this.score);
    },
  },
};
</script>
