<template>
  <v-menu
    v-model="menu"
    :close-on-content-click="false"
    :nudge-right="40"
    lazy
    transition="scale-transition"
    offset-y
    min-width="290px"
  >
    <template v-slot:activator="{ on }">
      <v-text-field
        v-model="datePicked"
        :label="title"
        prepend-inner-icon="event"
        outlined
        readonly
        v-on="on"
      />
    </template>
    <v-date-picker
      v-model="datePicked"
      @change="updateDatePicked"
    />
  </v-menu>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: () => '',
    },
    date: {
      type: String,
      default: () => '',
    },
  },

  data() {
    return {
      menu: false,
      datePicked: this.date,
    };
  },

  methods: {
    updateDatePicked() {
      this.menu = false;
      this.$emit('datePicked', this.datePicked);
    },
  },
};
</script>
