<template>
  <div>
    <div>
      <label>
        <gmap-autocomplete
          placeholder="Nearby Location"
          style="width: 400px; height: 50px; font-size: 15px;"
          @place_changed="setPlace"
        />
        <v-btn
          id="btn-"
          color="primary"
          @click="addMarker"
          v-html="'Choose'"
        />
        <v-btn
          color="success"
          @click="confirm"
          :disabled="markers.length === 0"
        >
          Confirm
        </v-btn>
      </label>
    </div>
    <br>
    <gmap-map
      :center="center"
      :zoom="17"
      style="width:100%;  height: 400px;"
    >
      <gmap-marker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        :clickable="true"
        :draggable="true"
        @dragend="dragEndded"
      />
    </gmap-map>
  </div>
</template>
<script>
export default {
  components: {
  },

  name: 'GoogleMap',
  data() {
    return {
      // default to Montreal to keep it simple
      // change this to whatever makes sense
      center: { lat: 45.508, lng: -73.587 },
      markers: [],
      places: [],
      currentPlace: null,
      location: {},
    };
  },
  mounted() {
    this.geolocate();
  },
  methods: {
    confirm() {
      this.$emit('locationUpdated', this.location);
      this.$eventHub.$emit('show-alert', {
        type: 'success',
        message: 'Location Selected',
        permanent: true,
      });
    },
    dragEndded(e) {
      this.location = {
        lat: e.latLng.lat(),
        lng: e.latLng.lng(),
      };
    },

    // receives a place object via the autocomplete component
    setPlace(place) {
      this.currentPlace = place;
    },
    addMarker() {
      this.markers = [];
      if (this.currentPlace) {
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng(),
        };
        this.markers.push({ position: marker });
        this.places.push(this.currentPlace);
        this.center = marker;
        this.currentPlace = null;

        this.location = marker;
        this.$eventHub.$emit('show-alert', {
          type: 'info',
          message: 'Please place the location pin for accurate job location',
          permanent: true,
        });
      }
    },
    geolocate() {
      navigator.geolocation.getCurrentPosition((position) => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude,
        };
      });
    },
  },
};
</script>
