<template>
  <div style="width: 100%">
    <gmap-autocomplete
      style="width: 100%; height: 50px; font-size: 15px;"
      placeholder=""
      @place_changed="setPlace"
      :options="{
        types: []
      }"
    >
      <template v-slot:input="slotProps">
        <v-text-field
          outlined
          prepend-inner-icon="place"
          label="Enter Address"
          placeholder=""
          ref="input"
          v-model="autocompleteInput"
          @listeners="slotProps.listeners"
          @attrs="slotProps.attrs"
          :rules="required ? [v => !!v || 'Address is required']: []"
        />
      </template>
    </gmap-autocomplete>
    <gmap-map
      :center="center"
      :zoom="17"
      style="width:100%;  height: 400px;"
    >
      <gmap-marker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        :clickable="true"
        :draggable="true"
        @dragend="dragEndded"
      />
    </gmap-map>
  </div>
</template>
<script>

export default {
  props: {
    required: Boolean,
  },

  data() {
    return {
      // default to Montreal to keep it simple
      // change this to whatever makes sense
      center: { lat: 45.508, lng: -73.587 },
      markers: [],
      places: [],
      currentPlace: null,
      location: {},
      autocompleteInput: '',
    };
  },
  mounted() {
    this.geolocate();
  },
  methods: {
    dragEndded(e) {
      this.location = {
        lat: e.latLng.lat(),
        lng: e.latLng.lng(),
      };
    },
    // receives a place object via the autocomplete component
    setPlace(place) {
      this.currentPlace = place;
      this.$log.info('place...', place);
      this.autocompleteInput = place.formatted_address;
      this.$emit('getAddress', place.formatted_address);
      this.addMarker();
      this.confirm();
    },
    addMarker() {
      this.markers = [];
      if (this.currentPlace) {
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng(),
        };
        this.markers.push({ position: marker });
        this.places.push(this.currentPlace);
        this.center = marker;
        this.currentPlace = null;
        this.location = marker;
      }
    },
    confirm() {
      this.$emit('locationUpdated', this.location);
      this.$eventHub.$emit('show-alert', {
        type: 'success',
        message: 'Location Selected',
        permanent: true,
      });
    },
    geolocate() {
      navigator.geolocation.getCurrentPosition((position) => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude,
        };
      });
    },
  },
};
</script>
