<template>
  <v-row justify="center">
    <v-col
      class="py-0"
      cols="6"
    >
      <v-menu
        v-model="menu"
        transition="scale-transition"
        offset-y
        min-width="250px"
        :disabled="readonly"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="timeinput.startDate"
            :label="pickerLabels.startDateLabel"
            prepend-inner-icon="event"
            outlined
            :disabled="readonly"
            readonly
            v-on="on"
            hide-details
            :loading="loading"
          />
        </template>
        <v-date-picker
          v-model="timeinput.startDate"
          @input="updateTimeInput"
        />
      </v-menu>
    </v-col>
    <v-col
      class="py-0"
      cols="6"
    >
      <v-menu
        v-model="menu2"
        :close-on-content-click="false"
        :nudge-right="40"

        transition="scale-transition"
        offset-y
        min-width="250px"
        :disabled="readonly"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="timeinput.endDate"
            :label="pickerLabels.endDateLabel"
            prepend-inner-icon="event"
            outlined
            readonly
            :disabled="readonly"
            v-on="on"
            hide-details
            :loading="loading"
          />
        </template>
        <v-date-picker
          v-model="timeinput.endDate"
          @input="updateTimeInput"
          :allowed-dates="v => $moment(v).isAfter(timeinput.startDate) "
        />
      </v-menu>
    </v-col>
    <!-- <v-flex sm2>
      <v-btn
        v-if="clearable"
        ml-4
        @click="clearDates"
      >
        Clear
      </v-btn>
    </v-flex> -->
  </v-row>
</template>

<script>
import moment from 'moment';

export default {
  props: {
    pickerLabels: {
      type: Object,
      default: () => ({
        startDateLabel: 'Start Date',
        endDateLabel: 'End Date',
      }),
    },
    listing: {
      type: Boolean,
      default: false,
    },
    timeinput: {
      type: Object,
      default: () => ({
        startDate: moment().format('YYYY-MM-DD'),
        endDate: moment().add(3, 'years').format('YYYY-MM-DD'),
      }),
    },
    readonly: {
      type: Boolean,
      default: false,
    },
    message: {
      type: String,
      default: '',
    },
  },

  data() {
    return {
      menu: false,
      menu2: false,
      time: null,
      loading: true,
    };
  },

  methods: {
    updateTimeInput() {
      this.menu = false;
      this.menu2 = false;
      this.$emit('dateUpdated', this.timeinput);
    },
    clearDates() {
      this.timeinput = {
        startDate: null,
        endDate: null,
      };
      this.updateTimeInput();
    },
  },

  mounted() {
    this.loading = false;
    this.$emit('dateUpdated', this.timeinput);
    if (!this.listing) {
      this.$root.$on('clear-date-time', () => {
        this.clearDates();
      });
    }
  },
};
</script>
