<template>
  <v-row justify="center">
    <v-col
      cols="6"
      class="py-0"
    >
      <v-text-field
        type="time"
        label="Start Time"
        outlined
        :value="timeinput.startTime"
        @input="v => updateTimeInput({...timeinput, startTime: v})"
      />
      <!-- <v-menu
        ref="menu1"
        v-model="menu1"
        :close-on-content-click="false"
        :nudge-right="40"
        :return-value.sync="time"
        transition="scale-transition"
        offset-y
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="timeinput.startTime"
            label="Start Time"
            outlined
            prepend-inner-icon="access_time"
            readonly
            v-on="on"
            hide-details
          />
        </template>
        <v-time-picker
          v-if="menu1"
          v-model="timeinput.startTime"
          full-width
          @click:minute="updateTimeInput"
        />
      </v-menu> -->
    </v-col>

    <v-col
      cols="6"
      class="py-0"
    >
      <v-text-field
        type="time"
        label="End Time"
        outlined
        :value="timeinput.endTime"
        @input="v => updateTimeInput({...timeinput, endTime: v})"
      />
      <!-- <v-menu
        ref="menu2"
        v-model="menu2"
        :close-on-content-click="false"
        :nudge-right="40"
        :return-value.sync="time"
        transition="scale-transition"
        offset-y
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="timeinput.endTime"
            label="End Time"
            outlined
            prepend-inner-icon="access_time"
            readonly
            v-on="on"
            hide-details
          />
        </template>
        <v-time-picker
          v-if="menu2"
          v-model="timeinput.endTime"
          full-width
          @click:minute="updateTimeInput"
        />
      </v-menu> -->
    </v-col>


    <!-- <v-flex
      sm2
      v-if="clearable"
    >
      <v-btn
        ml-4
        @click="clearTimes"
      >
        Clear
      </v-btn>
    </v-flex> -->
  </v-row>
</template>

<script>
export default {
  props: {
    clearable: Boolean,
    timeData: {
      type: Object,
      default: () => ({
        endTime: '18:00',
        startTime: '09:00',
      }),
    },
  },

  data() {
    return {
      menu1: false,
      menu2: false,
      time: null,
      // timeinput: this.timeData
      //   ? Object.assign({}, this.timeData)
      //   : {
      //     startTime: '09:00',
      //     endTime: '18:00',
      //   },
    };
  },

  computed: {
    timeinput() {
      return Object.assign({ startTime: '09:00', endTime: '18:00' }, this.timeData);
    },
  },

  methods: {
    updateTimeInput(timeinput) {
      this.$emit('timeUpdated', timeinput);
    },
    clearTimes() {
      const timeinput = { startTime: null, endTime: null };
      this.$emit('timeUpdated', timeinput);
    },
  },

  mounted() {
    this.$emit('timeUpdated', this.timeinput);
    this.$root.$on('clear-date-time', () => {
      this.clearTimes();
    });
  },
};
</script>
