<template>
  <!-- <div>
    This is notification page.
  </div> -->
  <div id="app">
    <div id="inspire">
      <v-layout row>
        <v-flex>
          <v-card>
            <v-subheader>
              Notifications
            </v-subheader>
            <NotificaionCard
              v-for="(notification, index) in notificaitonsInCurrentOrganisation"
              :key="index"
              :notification="notification"
            />
          </v-card>
        </v-flex>
      </v-layout>
    </div>
  </div>
</template>

<script>
import NotificaionCard from '@/components/Notifications/NotificationCard';

export default {
  props: {
    currentOrganisationId: {
      type: String,
      default: () => '',
    },
  },

  components: {
    NotificaionCard,
  },

  computed: {
    notificaitonsInCurrentOrganisation() {
      this.$log.info('call notificaion ', this.currentOrganisationId);
      if (this.currentOrganisationId === '' || this.currentOrganisationId == null) {
        return [];
      }
      const notificationList = this.$store.getters.getNotification;
      this.$log.info(notificationList[0].Notification.data.organisationId);
      const notifications = notificationList
        .map(e => e.Notification.data)
        .filter(noti => noti.organisationId === this.currentOrganisationId)
        .sort((a, b) => b.receiveDate - a.receiveDate);
      this.$log.info(notifications.length);
      return notifications;
    },
  },

};
</script>
