<template>
  <v-container
    class="ma-0 pa-0"
  >
    <!-- <v-badge
      v-if="!notification.isRead"
      color="red"
      :content="badgeContent"
      left
      top
    >
      <v-list-item-content
        :key="notification.title"
        @click="openViewDialog"
      >
        <v-list-item-title v-html="notification.title" />
        <v-list-item-sub-title v-html="notification.body" />
      </v-list-item-content>
    </v-badge>
    <v-list-item-content
      v-else
      :key="notification.title"
      @click="openViewDialog"
    >
      <v-list-item-title>
        <b>{{ notification.title }}</b>
      </v-list-item-title>
      <v-list-item-sub-title v-html="notification.body" />
    </v-list-item-content> -->
    <v-list-item @click="openViewDialog">
      <v-list-item-content>
        <v-list-item-title>
          {{ notification.title }}
        </v-list-item-title>
        <v-list-item-subtitle>{{ notification.body }}</v-list-item-subtitle>
      </v-list-item-content>
      <v-list-item-action>
        <v-chip
          :style="{visibility: notification.isRead ? 'hidden': 'visible'}"
          class="ml-3 jobdoh-red white--text"
          x-small
        >
          New
        </v-chip>

        <v-list-item-action-text v-text="getTimeStamp(notification.receiveDate)" />
      </v-list-item-action>
    </v-list-item>
    <v-divider />
    <NotificationViewDialog
      :notification="notification"
      :dialog="viewDialog"
    />
  </v-container>
</template>

<script>
import NotificationViewDialog from '@/components/Notifications/Dialogs/NotificationViewDialog';
import moment from 'moment';

export default {
  components: {
    NotificationViewDialog,
  },

  props: {
    notification: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    badgeContent: '',
    viewDialog: false,
  }),

  mounted() {
    if (this.notification.isRead === false) {
      this.badgeContent = 'unread';
    }
    this.getNoti();
  },
  methods: {
    getNoti() {
      this.$log.info(this.notification);
    },
    getTimeStamp(date) {
      return moment(date).fromNow();
    },
    openViewDialog() {
      this.viewDialog = true;
      this.$log.debug('debug', this.dialog);
      this.notification.isRead = true;
      this.$IdbService.editNotificaitonsToDb(this.notification)
        .catch(() => { this.$log.debug('error update notification '); });
    },
  },
};
</script>
