<template>
  <v-container>
    <v-layout row>
      <v-flex sm8>
        <WorkerList
          v-if="organisationId != null"
          :organisation-id="organisationId"
        />
      </v-flex>
      <v-flex sm4>
        <OrganisationSelect @organisationSelected="changeOrganisation" />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import OrganisationSelect from '@/components/Common/Selects/OrganisationSelect';
import WorkerList from '@/components/Notifications/Lists/WorkerList';

export default {
  components: {
    OrganisationSelect,
    WorkerList,
  },

  data: () => ({
    organisationId: null,
  }),

  methods: {
    changeOrganisation(organisationId) {
      this.organisationId = organisationId;
    },
  },
};
</script>
