<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <v-card v-if="calculatedData">
        <v-card-title
          class="jobdoh headline"
          style="color: white"
          primary-title
        >
          Disbursement Details
        </v-card-title>

        <v-card-text v-if="detailData.item">
          <div class="mt-5">
            <b>Name:</b> {{ detailData.item.name }}<br>
            <b>Identification:</b> {{ detailData.item.identification }} <br>
            <b>Date:</b>
            {{ moment.utc(detailData.item.workTokens[0].createdAt).format('DD-MM-YYYY') }} <br>
            <b v-if="isKhupay">KhuPay:</b> <b v-else>Salary:</b>
            {{ (calculatedData.salary || 0).toFixed(0) }}
            {{ detailData.item.paymentCurrency }}
            ({{ detailData.shift.job.renumerationValue }}
            {{ detailData.item.paymentCurrency }})
          </div>
          <div v-if="isKhupay">
            <b>Fee:</b> {{ (detailData.item.totalFee).toFixed(0) }}
            {{ detailData.item.paymentCurrency }}
          </div>
          <div
            class="mt-1"
            v-if="!isKhupay"
          >
            <b>Bonus:</b> {{ calculatedData.bonus }} {{ detailData.item.paymentCurrency }}
          </div>
          <ul
            style="font-size:11px"
            v-if="!isKhupay"
          >
            <li
              v-for="(bonus, i) in calculatedData.bonusWorkTokenValues"
              :key="i"
            >
              {{ bonus.notes }} {{
                (bonus.amount || 0).toFixed(0)
              }} {{ detailData.item.paymentCurrency }}
            </li>
          </ul>
          <div v-if="!isKhupay">
            <b>Deductions:</b> {{ calculatedData.deduction }} {{ detailData.item.paymentCurrency }}
          </div>
          <ul
            v-if="!isKhupay"
            style="font-size:11px"
          >
            <li
              v-for="(deduction, i) in calculatedData.deductionWorkTokenValues"
              :key="i"
            >
              {{ deduction.notes }} {{
                (deduction.amount || 0).toFixed(0)
              }} {{ detailData.item.paymentCurrency }}
            </li>
          </ul>
          <div>
            -------------------------------------------------------------------------------------
          </div>
          <div>
            <!-- <b>Total Paid: {{ detailData.item.totalAmount + calculatedData.bonus }} -->
            <b>Total Pay: {{ (calculatedData.totalPaid || 0).toFixed(0) }}
              {{ detailData.item.paymentCurrency }}
            </b>
          </div>
          <v-card
            class="ma-5 pa-5"
            style="font-size: 13px;"
            outlined
          >
            <div>Paid via:</div>
            <div v-if="!isKhupay">
              <b>Month End:</b> {{
                ((calculatedData.totalPaid - detailData.item.khupay) || 0).toFixed(0)
              }}
              {{ detailData.item.paymentCurrency }} {{ calculatedData.monthendPaymentCoordiantes }}
            </div>
            <div v-else>
              <b>Month End:</b> 0 {{ detailData.item.paymentCurrency }}
            </div>
            <div class="mt-1">
              <b>KhuPay:</b> {{ (detailData.item.khupay || 0).toFixed(0) }}
              {{ detailData.item.paymentCurrency }}
            <!-- <b>KhuPays:</b> {{ 0 }} {{ detailData.item.paymentCurrency }} -->
            </div>
            <ul
              v-if="detailData.item.khupay !== 0"
              style="font-size:11px"
            >
              <li>
                KhuPay Received: {{
                  ((detailData.item.khupay - detailData.item.totalFee) || 0).toFixed(0)
                }} {{ detailData.item.paymentCurrency }}
              </li>
              <li>
                KhuPay Fee: {{
                  ((detailData.item.khupayTotalFee + calculatedData.discount) || 0).toFixed(0)
                }} {{ detailData.item.paymentCurrency }}
              </li>
              <li>
                KhuPay Fee Discount: {{
                  (calculatedData.discount || 0).toFixed(0)
                }} {{ detailData.item.paymentCurrency }}
              </li>
            </ul>
          </v-card>
        </v-card-text>

        <v-divider />

        <v-card-actions>
          <v-spacer />
          <v-btn
            id="btn-MonthendReportPage-MonthendDetailsDialog-Close"
            color="primary"
            text
            @click="closeDialog"
            v-html="'Close'"
          />
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import gql from 'graphql-tag';
import moment from 'moment';
import apollo from '@/assets/js/apollo';

export default {
  components: {
  },

  props: {
    detailData: {
      type: Object,
      default: () => {},
    },
    workTokens: {
      type: Array,
      default: () => [],
    },
    organisation: {
      type: Object,
      default: () => {},
    },
    dialog: {
      type: Boolean,
      default: () => false,
    },
  },

  data: () => ({
    moment,
    calculatedData: {},
  }),

  watch: {
    async detailData() {
      await this.calculateDialogData(this.detailData.workTokens);
    },
  },

  computed: {
    isKhupay() {
      if (this.detailData.item.khupay === 0 && this.detailData.item.totalFee > 0) {
        return true;
      }
      return false;
    },
  },

  async mounted() {
    await this.calculateDialogData(this.detailData.workTokens);
  },

  methods: {
    closeDialog() {
      this.$emit('closeDialog', false);
    },
    async calculateDialogData(workTokens) {
      this.$log.debug('workTokens...', workTokens);
      // const currentPayCycleForMTD = await this.getCurrentPayCycleFromOragnisationForMTD({
      //   organisation: this.organisation,
      // });
      // const timeRangeForMTD = {
      //   from: currentPayCycleForMTD.data.startDate,
      //   to: currentPayCycleForMTD.data.endDate,
      // };

      // const fiatTokens = await workTokens.map(workToken => workToken.fiatTokens).flat();
      // let mtd = await this.getMTDFromFiatTokens({
      //   fiatTokens,
      //   timeRange: timeRangeForMTD,
      // }).data;

      const currentWorkTokens = await workTokens
        .filter(workToken => workToken.fiatTokens.length === 0
        && workToken.payNow === true && workToken.confirmed === true);

      const currentWorkTokenValues = await this.getWorkTokenValuesFromWorkTokens({
        workTokens: currentWorkTokens,
      }).data;

      const bonusWorkTokenValues = await this.filterBonusWorkTokenValues({
        workTokenValues: currentWorkTokenValues,
      }).data;
      this.$log.debug('bonusWorkTokenValues...', bonusWorkTokenValues);
      const deductionWorkTokenValues = await this.filterDeductionWorkTokenValues({
        workTokenValues: currentWorkTokenValues,
      }).data;
      // deductionWorkTokenValues = deductionWorkTokenValues
      //   .filter(e => e.expectedWorkTokenShift.id === this.detailData.shift.id);
      const workerId = currentWorkTokens[0].worker.id;
      const discountTokens = await this.discountTokensQuery(workerId);
      const discountToken = discountTokens.find(token => token.status === 'REQUESTED');
      // let discount = 0;
      // if (discountToken != null) {
      //   discount = discountToken.discount;
      // }
      let discount = 0;
      this.$log.debug('testing tokens', this.discountToken);
      // eslint-disable-next-line prefer-destructuring
      if (this.amount === 0) {
        discount = 0;
      } else if (discountToken != null) {
        this.$log.debug('discountTokenLatest', discountToken);
        discount = (parseFloat(discountToken.discountPercent)
            * ((this.detailData.item.totalAmount * this.organisation.fee) / 100)) / 100;

        this.$log.debug('discount...', discount);
        discount += discountToken.discountFixed;
      } else {
        discount = 0;
      }
      if (discount == null) {
        discount = 0;
      }

      this.$log.info({ deductionWorkTokenValues });

      let totalBonusAmount = await this
        .getTotalAmountFromWorkTokenValues({
          workTokenValues: bonusWorkTokenValues,
        }).data;
      let totalDeductionAmount = await this
        .getTotalAmountFromWorkTokenValues({
          workTokenValues: deductionWorkTokenValues,
        }).data;

      const salary = (this.detailData.item.totalAmount - totalBonusAmount)
        + totalDeductionAmount;
      const totalPaid = (salary + totalBonusAmount)
        - totalDeductionAmount;


      if (this.detailData.shift.worker.paymentCurrency === 'USD') {
        totalBonusAmount = this.roundTo(totalBonusAmount, 2);
        totalDeductionAmount = this.roundTo(totalDeductionAmount, 2);
      } else if (this.detailData.shift.worker.paymentCurrency === 'MMK') {
        totalBonusAmount = this.roundTo(totalBonusAmount, 0);
        totalDeductionAmount = this.roundTo(totalDeductionAmount, 0);
      }
      this.$log.debug(totalBonusAmount);
      // this.$log.debug('LastKhupayAmount', mtd);
      this.calculatedData = {
        discount,
        bonusWorkTokenValues,
        deductionWorkTokenValues,
        bonus: totalBonusAmount,
        deduction: totalDeductionAmount,
        totalPaid,
        salary,
      };
    },
    async discountTokensQuery(workerId) {
      // eslint-disable-next-line no-underscore-dangle
      // const _this = this;
      let result = [];
      const query = await apollo.defaultClient.query({
        query: gql`query discountTokens(
          $workerId: String!,
        ) {
        discountTokens(
          workerId: $workerId,
        ) {
          id
          discountPercent
          discountFixed
          status
        }
      }
      `,
        variables: {
          workerId,
        },
      })
        .catch(() => {
        });
      if (query.data.discountTokens.length > 0) {
        result = query.data.discountTokens;
      }
      return result;
    },
  },
};
</script>
