<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      persistent
      width="800"
    >
      <v-card>
        <v-card-title
          class="jobdoh headline"
          style="color: white"
          primary-title
        >
          Conflicts List
        </v-card-title>

        <v-card-text
          class="pa-5"
          height="80vh"
          style="overflow-y: scroll"
        >
          <v-expansion-panels
            v-model="panel"
            multiple
          >
            <v-expansion-panel>
              <v-expansion-panel-header>New</v-expansion-panel-header>
              <ConflictNewList
                v-for="(data, i) in conflictData.new"
                :key="i"
                :data="data"
              />
            </v-expansion-panel>
            <v-expansion-panel>
              <v-expansion-panel-header>Missing</v-expansion-panel-header>
              <ConflictMissingList
                v-for="(data, i) in conflictData.missing"
                :key="i"
                :data="data"
              />
            </v-expansion-panel>
            <v-expansion-panel>
              <v-expansion-panel-header>Conflicts</v-expansion-panel-header>
              <ConflictList
                v-for="(data, i) in conflictData.conflicts"
                :key="i"
                :data="data"
              />
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            id="btn-DisbursementPage-DisbursementConflictsDialog-Close"
            color="success"
            @click="closeDialog"
            v-html="'Close'"
          />
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import ConflictNewList from '@/components/Payments/Lists/ConflictNewList';
import ConflictMissingList from '@/components/Payments/Lists/ConflictMissingList';
import ConflictList from '@/components/Payments/Lists/ConflictList';

export default {
  components: {
    ConflictNewList,
    ConflictMissingList,
    ConflictList,
  },

  props: {
    dialog: {
      type: Boolean,
      default: () => false,
    },
    conflictData: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    panel: [0, 1, 2],
    // dialog: false,
  }),

  computed: {
  },

  watch: {
  },

  mounted() {
  },

  methods: {
    closeDialog() {
      this.$emit('closeDialog', false);
    },
  },
};
</script>
