<template>
  <v-menu offset-y>
    <template v-slot:activator="{ on }">
      <v-btn
        flat
        dark
        v-on="on"
      >
        <v-icon>{{ icon }}</v-icon>
        {{ title }}
      </v-btn>
    </template>
    <v-list>
      <v-list-tile>
        <v-list-tile-title class="height48">
          <LogoutButton />
        </v-list-tile-title>
      </v-list-tile>
    </v-list>
  </v-menu>
</template>

<script>
import LogoutButton from '@/components/Common/Buttons/LogoutButton';

export default {
  components: {
    LogoutButton,
  },

  props: {
    title: {
      type: String,
      default: () => '',
    },

    icon: {
      type: String,
      default: () => '',
    },
  },
};
</script>

<style>
.height48 {
  height: 48px !important;
}
</style>
