<template>
  <v-select
    :value="value"
    item-text="label"
    item-value="id"
    @change="v => $emit('input', v)"
    outlined
    :rules="rules"
    :items="paymentTypes"
    :loading="loading"
    label="How will you pay your salary?"
    :messages="paymentTypeInfos[value]"
  />
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: () => '',
    },
    rules: {
      type: Array,
      default: () => [],
    },
  },

  data() {
    return {
      paymentTypes: [
        { id: 'PREPAID', label: ' Pay in advance (to our escrow account)' },
        { id: 'POSTPAID', label: ' Pay later' },
      ],
      loading: true,
      paymentTypeInfos: {
        PREPAID: 'JOBDOH will run payroll after billing',
        POSTPAID: 'JOBDOH will run payroll before billing',
      },
    };
  },

  mounted() {
    setImmediate(() => {
      this.loading = false;
    });
  },
};
</script>

<style>

</style>
