<template>
  <ApolloQuery
    :query="employersAdminQuery"
  >
    <template slot-scope="{ result: { data, loading, error }}">
      <v-select
        :loading="loading"
        :error="!!error"
        outlined
        :label="label || 'Choose Employer'"
        :items="data ? data.employersAdmin : []"
        item-value="id"
        return-object
        :value="value"
        @change="onChange"
      >
        <template
          slot="item"
          slot-scope="d"
        >
          {{ d.item.name }} {{ d.item.email }}
        </template>
        <template
          slot="selection"
          slot-scope="d"
        >
          {{ d.item.name }} {{ d.item.email }}
        </template>
      </v-select>
    </template>
  </ApolloQuery>
</template>

<script>
import gql from 'graphql-tag';

export default {
  // eslint-disable-next-line vue/require-prop-types
  props: ['value', 'label'],
  data: () => ({
    employersAdminQuery: gql`query employersAdmin {
      employersAdmin {
        id
        name
        email
        userLevel
        organisations {
          id
        }
      }
    }`,
  }),
  methods: {
    onChange(v) {
      this.$emit('input', Object.assign({}, v));
    },
  },
};
</script>
