<template>
  <v-autocomplete
    :value="value"
    @input="v => $emit('input', v)"
    label="Industry Type"
    :items="industryTypes"
    outlined
    :loading="loading"
    :rules="rules"
  />
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: () => '',
    },
    rules: {
      type: Array,
      default: () => [],
    },
  },

  data() {
    return {
      loading: true,
      industryTypes: [
        'Agriculture Industry',
        'Banking Industry',
        'Computer Industry',
        'Construction Industry',
        'Education Industry',
        'Electronics Industry',
        'Entertainment Industry',
        'Financial Industry',
        'FMCG Industry',
        'Food Industry',
        'Health Care Industry',
        'Hospitality Industry',
        'Manufacturing Industry',
        'News Media Industry',
        'Telecommunication Industry',
        'Transport Industry',
        'Worldwide Web Industry',
      ],
    };
  },

  mounted() {
    setImmediate(() => {
      this.loading = false;
    });
  },
};
</script>

<style>

</style>
