<template>
  <v-select
    v-if="marketplaces && marketplaces.length > 0"
    outlined
    item-text="name"
    item-value="id"
    label="Choose Marketplace"
    :items="filteredMarketplaces"
    v-model="marketplaceId"
    @change="selectMarketplace"
    :loading="loading"
    :error="error"
  />
</template>

<script>
import queries from '@/assets/js/gql/queries';

export default {
  props: {
    organisationId: {
      type: String,
      default: () => '',
    },
    job: {
      type: Object,
      default: () => null,
    },
    private: Boolean,
  },

  data() {
    return {
      marketplacesQuery: queries.marketplacesQuery,
      marketplaceId: '',
      marketplaces: [],
      loading: false,
      error: null,
    };
  },

  computed: {
    filteredMarketplaces() {
      return this.private ? this.privateMarketplaces : this.marketplaces;
    },
    privateMarketplaces() {
      return this.marketplaces.filter(marketplace => marketplace.name !== 'Public');
    },
  },

  watch: {
    job() {
      if (this.job != null) {
        this.marketplaceId = this.job.marketplaceId;
      }
    },
  },

  methods: {
    selectMarketplace() {
      this.$emit('marketplaceSelected', this.marketplaceId);
    },
  },

  apollo: {
    marketplaces: {
      query: queries.marketplacesQuery,
      variables() {
        return {
          organisationId: this.organisationId,
        };
      },
      result({ loading, error }) {
        this.loading = loading;
        this.error = error;
      },
    },
  },
};
</script>
