<template>
  <ApolloQuery
    :query="organisationsAdminQuery"
  >
    <template slot-scope="{ result: { data, loading, error }}">
      <div v-if="data">
        <v-select
          outlined
          item-text="name"
          item-value="id"
          :label="label || `Choose Organization`"
          :items="data.organisationsAdmin"
          :value="value"
          @change="selectOrganisation"
          :loading="loading"
          :error="error"
          return-object
        />
      </div>
    </template>
  </ApolloQuery>
</template>

<script>
// import LoadingDialog from '@/components/Utils/Dialogs/LoadingDialog';
import queries from '@/assets/js/gql/queries';

export default {
  props: {
    value: {
      type: Object,
      default: () => {},
    },
    label: {
      type: String,
      default: () => '',
    },
  },

  components: {
  },

  data: () => ({
    organisationsAdminQuery: queries.organisationsAdminQuery,
  }),

  methods: {
    selectOrganisation(v) {
      this.$emit('input', v);
    },
  },
};
</script>
