<template>
  <v-select
    v-model="currentOrganisation"
    item-text="name"
    item-value="id"
    :items="organisations"
    @change="selectOrganisation"
    return-object
    hide-details
    label="Select Org."
    style="max-width: 250px;"
    dense
    solo
    flat
    item-color="red"
    color="red"
    error
  >
    <template #append-item>
      <v-list-item
        @click="onCreateOrg"
        id="btn-any-OrganisationSelect-CreateOrganisation"
        :disabled="!canCreateExtraOrganisation"
      >
        <v-list-item-content>
          <v-list-item-title>Create new organization</v-list-item-title>
        </v-list-item-content>
        <v-list-item-icon>
          <v-icon>mdi-plus</v-icon>
        </v-list-item-icon>
      </v-list-item>
    </template>
    <template #item="{item, on, attrs}">
      <v-list-item
        v-on="on"
        v-bind="attrs"
      >
        <v-list-item-content>
          <v-list-item-title>
            <v-row
              no-gutters
              align="center"
            >
              {{ item.name }}
              <v-spacer />
              <v-rating
                v-if="item.feedbacks.avg"
                readonly
                background-color="gray"
                color="gray"
                :length="3"
                small
                half-increments
                :value="item.feedbacks.avg * 3 / 5"
              />
            </v-row>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </template>
    <template v-slot:selection="{item}">
      <v-row
        no-gutters
        align="center"
      >
        <span class="body-2 black--text">{{ item.name }}</span>
        <v-spacer />
        <v-rating
          v-if="item.feedbacks.avg"
          readonly
          background-color="gray"
          color="gray"
          :length="3"
          small
          half-increments
          :value="item.feedbacks.avg * 3 / 5"
        />
      </v-row>
    </template>
  </v-select>
</template>

<script>

export default {
  computed: {
    organisations() {
      return this.$store.state.organisations;
    },
    currentOrganisation() {
      return this.$store.getters.currentOrganisation;
    },
    canCreateExtraOrganisation() {
      return this.$AccessService.isPermitted('CREATE_MULTIPLE_ORGANISATION');
    },
  },
  methods: {
    selectOrganisation(organisation) {
      this.$store.dispatch('setCurrentOrganisationId', organisation.id);
    },
    onCreateOrg() {
      if (this.canCreateExtraOrganisation) this.$router.push({ name: 'create-organisation', query: { secondary: true } });
      else this.$eventHub.$emit('show-tutorial-feature', 'EXTRA_ORGANISATIONS', true);
    },
  },
};
</script>

<style>

</style>
