<template>
  <v-select
    outlined
    item-text="name"
    item-value="id"
    :label="$t('choosePaymentMethod')"
    :items="paymentMethods"
    v-model="paymentMethodId"
    @change="selectPaymentMethod"
    :multiple="isMultiple"
    :loading="loading"
    :disabled="loading"
    :rules="rules"
  >
    <template
      #item="{ item, on, attrs }"
    >
      <v-list-item
        v-if="$AccessService.isPermittedPayment(item)"
        v-on="on"
        v-bind="attrs"
      >
        <v-list-item-title class="black--text">
          {{ item.name }}
        </v-list-item-title>
      </v-list-item>
      <v-list-item
        v-else
        @click="$eventHub.$emit('show-tutorial-feature',
                                $AccessService.getPaymentFeature(item), true)"
      >
        <v-list-item-title class="grey--text">
          {{ item.name }}
        </v-list-item-title>
      </v-list-item>
    </template>
  </v-select>
</template>

<script>
import gql from 'graphql-tag';
import queries from '../../../assets/js/gql/queries';

export default {
  props: {
    region: {
      type: String,
      default: () => '',
    },
    paymentData: {
      type: Object,
      default: () => {},
    },
    isMultiple: {
      type: Boolean,
      default: () => false,
    },
    rules: {
      type: Array,
      default: () => [],
    },
  },

  data: () => ({
    paymentMethodsQuery: queries.paymentMethodQuery,
    paymentMethodId: '',
    paymentMethods: [],
    loading: false,
  }),

  watch: {
    paymentData() {
      this.paymentMethodId = this.paymentData.paymentMethod.id;
    },
  },

  mounted() {
    this.paymentMethodId = this.paymentData.paymentMethod.id;
  },

  methods: {
    selectPaymentMethod() {
      this.$emit('paymentMethodSelected', this.paymentMethodId);
      this.$emit('update:payment-type', this.getPaymentMethod(this.paymentMethodId).paymentType);
    },
    getPaymentMethod(id) {
      return this.paymentMethods.find(e => e.id === id);
    },
  },

  apollo: {
    paymentMethods: {
      query: queries.paymentMethodQuery,
      variables() {
        return {
          region: this.region,
        };
      },
      result({ loading }) {
        this.loading = loading;
      },
    },
  },
};
</script>
