<template>
  <v-select
    label="Choose Region"
    :items="countries"
    item-text="name"
    item-value="code"
    :value="value"
    @change="regionCode => $emit('input', regionCode)"
    outlined
    prepend-inner-icon="mdi-map-marker"
    :rules="[$Validate.required]"
    :loading="loading"
    :disabled="disabled"
  />
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  props: {
    value: {
      type: String,
      default: '',
    },
    disabled: Boolean,
  },

  data: () => ({
    loading: true,
  }),

  computed: {
    ...mapGetters(['countries']),
  },

  mounted() {
    setImmediate(() => {
      this.loading = false;
    });
  },
};
</script>
