<template>
  <v-select
    v-if="$AccessService.isPermitted('CHECK_IN_HYBRID')"
    :items="timesheetingFeatureLevels"
    item-value="value"
    item-text="label"
    label="Timesheeting Feature Level"
    :value="value"
    @input="v => $emit('input', v)"
    outlined
    :loading="loading"
  />
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      timesheetingFeatureLevels: [
        { value: 'NONE', label: 'NONE' },
        { value: 'HYBRID', label: 'TRIAL' },
        { value: 'FULL', label: 'FULL' },
      ],
      loading: true,
    };
  },


  mounted() {
    setImmediate(() => {
      this.loading = false;
    });
  },

};
</script>

<style>

</style>
