<template>
  <v-menu
    offset-y
    v-if="connected"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        tile
        large
        icon
        v-on="on"
        v-bind="attrs"
      >
        <slot />
      </v-btn>
    </template>
    <v-list dense>
      <v-subheader>
        Connected {{ appName ? `with ${appName}` : '' }}
      </v-subheader>
      <v-list-item @click="$emit('disconnect')">
        <v-list-item-icon class="mr-2">
          <v-icon>mdi-link-off</v-icon>
        </v-list-item-icon>
        <v-list-item-title> Disconnect</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
  <v-menu
    v-else
    offset-y
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        tile
        large
        icon
        v-on="on"
        v-bind="attrs"
        :style="{filter: 'grayscale(1)'}"
      >
        <slot />
      </v-btn>
    </template>
    <v-list dense>
      <v-subheader
        v-text="description"
      />
      <v-list-item @click="$emit('connect')">
        <v-list-item-icon class="mr-2">
          <v-icon>
            mdi-link
          </v-icon>
        </v-list-item-icon>
        <v-list-item-title>
          Connect to {{ appName }}
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  props: {
    connected: Boolean,
    appName: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
  },
};
</script>

<style>

</style>
