<template>
  <v-btn
    id="btn-any-AccountMenu-Logout"
    color="primary"
    @click="logout"
    flat
    v-html="'Logout'"
  />
</template>

<script>
export default {
  methods: {
    logout() {
      this.$UserService.logout();
      this.$router.push({ path: '/public/home' });
    },
  },
};
</script>
