<template>
  <div>
    <a
      @click="showDialog = true"
      class="text-decoration-underline"
      id="btn-AuthPage-SignUp"
      style="color: #C2232A"
    >
      CREATE ACCOUNT
    </a>

    <v-dialog
      v-model="showDialog"
      max-width="400px"
      overlay-color="white"
    >
      <v-form v-model="valid">
        <v-card
          :loading="loading"
          :disabled="loading"
        >
          <v-card-title>
            Create Account
          </v-card-title>
          <v-card-text>
            <v-text-field
              v-model="email"
              @input="emailErrorMsg = null"
              label="Email"
              outlined
              :rules="[$Validate.required, $Validate.email]"
              :error-messages="emailErrorMsg"
            />

            <v-text-field
              v-model="password"
              label="Password"
              outlined
              :type="showPassword ? 'text' : 'password'"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              @click:append="showPassword = !showPassword"
              :rules="[$Validate.required]"
            />

            <v-text-field
              v-model="password2"
              label="Confirm Password"
              outlined
              :type="showPassword2 ? 'text' : 'password'"
              :append-icon="showPassword2 ? 'mdi-eye' : 'mdi-eye-off'"
              @click:append="showPassword2 = !showPassword2"
              :rules="[v => v === password || 'Passwords don\'t match']"
            />
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              id="btn-LoginPage-SignUpDialog-Close"
              @click="showDialog = false"
              text
              color="grey"
              v-html="'Close'"
            >
              Close
            </v-btn>
            <v-btn
              id="btn-LoginPage-SignUpDialog-SignUp"
              outlined
              @click="signUp"
              :disabled="!okToSignUp"
              v-html="'Create'"
            />
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showDialog: false,
      loading: false,
      email: null,
      password: null,
      password2: null,
      showPassword: false,
      showPassword2: false,
      valid: true,
      emailErrorMsg: null,
    };
  },

  computed: {
    okToSignUp() {
      return this.valid && this.password === this.password2 && !this.loading;
    },
  },

  methods: {
    async signUp() {
      this.loading = true;
      await this.$UserService.signUpEmail(this.email, this.password)
        .catch((e) => {
          this.emailErrorMsg = e.message;
        });
      this.loading = false;
    },
  },
};
</script>

<style>

</style>
