<template>
  <v-dialog
    :value="dialogValue"
    @click:outside="closeDialog"
    max-width="560"
    scrollable
  >
    <WorkerDetailCard
      v-if="worker"
      :worker="worker"
      :job="job"
      @close="closeDialog"
      :shift-id="shiftId"
      action
      :recommanded="recommanded"
    />
  </v-dialog>
</template>

<script>
import queries from '@/assets/js/gql/queries';
import WorkerDetailCard from '@/components/Marketplaces/Jobs/Cards/WorkerDetailCard';

export default {
  components: {
    WorkerDetailCard,
  },

  props: {
    job: {
      type: Object,
      required: true,
    },
    workerId: {
      type: String,
      required: true,
    },
    shiftId: {
      type: String,
      required: true,
    },
    dialogValue: {
      type: Boolean,
      default: false,
    },
    recommanded: Boolean,
  },

  data() {
    return {
      tooltip: false,
      worker: null,
    };
  },

  computed: {
    jobRequirements() {
      return this.job ? this.job.jobSkillRequirements : [];
    },
    workerQualifications() {
      return this.worker ? this.worker.jobSkills : [];
    },

  },

  methods: {
    closeDialog() {
      this.$emit('update:dialog-value', false);
    },
  },

  apollo: {
    worker: {
      query: queries.workerQuery,
      variables() {
        return {
          id: this.workerId,
        };
      },
    },
  },
};
</script>
