<template>
  <v-container>
    <h3>Topic Notification</h3>
    <v-select
      label="Choose Topic"
      item-text="name"
      item-value="topic"
      :items="topics"
      v-model="notification.topic"
    />
    <v-text-field
      placeholder="Title"
      v-model="notification.title"
    />
    <v-text-field
      placeholder="Body"
      v-model="notification.body"
    />
    <TopicNotificationButton
      :enabled="completeInfo"
      :notification="notification"
    />
  </v-container>
</template>

<script>
import TopicNotificationButton from '@/components/Notifications/Buttons/TopicNotificationButton';

export default {
  components: {
    TopicNotificationButton,
  },

  data: () => ({
    topics: [
      { name: 'Updates', topic: 'updates' },
      { name: 'Campaign English', topic: 'campaigns_en' },
      { name: 'Campaign Myanmar', topic: 'campaigns_mm' },
      { name: 'Campaign Myanmar Zawgyi', topic: 'campaigns_zg' },
      { name: 'FinLit English', topic: 'finlit_en' },
      { name: 'FinLit Myanmar', topic: 'finlit_mm' },
      { name: 'FinLit Myanmar Zawgyi', topic: 'finlit_zg' },
    ],
    notification: {
      title: '',
      body: '',
      topic: '',
    },
  }),

  computed: {
    completeInfo() {
      const { title, body, topic } = this.notification;
      return (
        title.length > 0 && body.length > 0 && topic.length > 0
      );
    },
  },
};
</script>
