<template>
  <v-container>
    <v-row>
      <v-text-field
        class="mx-3"
        v-model="amount"
        type="number"
        label="Amount"
        outlined
        :rules="[$Validate.required]"
      />
    </v-row>
    <v-braintree
      authorization="sandbox_x6jn7jj8_9t3qp28rszbbhd66"
      @success="onSuccess"
      @error="onError"
    >
      <template v-slot:button="slotProps">
        <v-row>
          <v-spacer />
          <v-btn
            class="mx-3"
            @click="slotProps.submit"
            color="#C2232A"
            dark
          >
            Pay
          </v-btn>
        </v-row>
      </template>
    </v-braintree>
  </v-container>
</template>

<script>
// import moment from 'moment';

export default {
  components: {
  },
  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      amount: 0,
      amountErrorMsg: '',
    };
  },
  methods: {
    async onSuccess(payload) {
      // const { nonce } = payload;
      this.$log.info('payload', payload);
      if (this.amount === 0) {
        this.$eventHub.$emit('show-alert', {
          type: 'error',
          message: 'Amount cannot be empty.',
        });
      } else {
        const ret = await this.$PaymentService.payWithBraintree({
          amount: parseFloat(this.amount),
          payload,
        });
        if (ret) {
          this.$eventHub.$emit('show-alert', {
            type: 'success',
            message: 'You have been paid.',
          });
        }
        this.$log.info('braintreeRet', ret);
      }
      // Do something great with the nonce...
    },
    onError(error) {
      const { message } = error;
      this.$log.error('err', message);
      // Whoops, an error has occured while trying to get the nonce
    },
  },

};
</script>
