<template>
  <div>
    <Disbursement
      :organisation="currentOrganisation"
    />
  </div>
</template>

<script>

// import gql from 'graphql-tag';
// import apollo from '@/assets/js/apollo';
import Disbursement from '@/components/Payments/Disbursement';
import { mapGetters } from 'vuex';

export default {
  components: {
    Disbursement,
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  computed: {
    ...mapGetters(['currentOrganisation']),
  },
  beforeRouteLeave(to, from, next) {
    this.$log.info('disbursement route change...');
    this.$destroy();
    next();
  },
  watch: {
    $route(to, from) {
      if (from.name === 'payment-disbursements') {
        this.$destroy();
      }
    },
  },

  mounted() {
  },

  methods: {
  },
};
</script>
