<template>
  <TimeSheet
    :organisation="currentOrganisation"
  />
</template>
<script>
import TimeSheet from '@/components/Payments/TimeSheet';
// import LoadingDialog from '@/components/Utils/Dialogs/LoadingDialog';
// import gql from 'graphql-tag';
import { mapGetters } from 'vuex';

export default {

  components: {
    TimeSheet,
    // LoadingDialog,
  },

  computed: {
    ...mapGetters(['currentOrganisation']),
  },

  async beforeRouteLeave(to, from, next) {
    this.$log.info('timesheet route change...');
    await this.$destroy();
    await next();
  },
  mounted() {
    this.$log.info('route...', this.$route);
  },
};
</script>
