<template>
  <v-container>
    <label>{{ shift.id }}</label>
    <TransactionStatement
      v-for="(transaction, i) in transactions"
      :key="i"
      :transaction="transaction"
    />
  </v-container>
</template>

<script>
import TransactionStatement from '@/components/Transactions/TransactionStatement';

export default {
  components: {
    TransactionStatement,
  },

  props: {
    shift: {
      type: Object,
      default: () => {},
    },
  },

  computed: {
    transactions() {
      this.shift.fiatTokens.forEach((fiatToken) => {
        const dd = new Date(fiatToken.createdAt);
        // eslint-disable-next-line no-param-reassign
        fiatToken.createdAt = dd.setHours(0, 0, 0, 0);
      });
      return this.groupBy(this.shift.fiatTokens, 'createdAt');
    },
  },
};
</script>
