<template>
  <v-layout>
    <v-flex>
      Transaction
    </v-flex>
    <v-flex>
      {{ totalAmount }}
    </v-flex>
    <v-flex>
      {{ totalFee }}
    </v-flex>
    <v-flex>
      {{ paymentStartDate }}
    </v-flex>
    <v-flex>
      {{ paymentEndDate }}
    </v-flex>
  </v-layout>
</template>

<script>
// const JOBDOH_COORDINATES = '+959966617840';
const JOBDOH_COORDINATES = '+959967730220';

export default {
  props: {
    transaction: {
      type: Array,
      default: () => [],
    },
  },

  computed: {
    totalAmount() {
      const toWorker = this.transaction
        .filter(fiatToken => fiatToken.coordinates !== JOBDOH_COORDINATES);
      return toWorker.reduce((total, fiatToken) => fiatToken.amount + total, 0);
    },
    totalFee() {
      const toWorker = this.transaction
        .filter(fiatToken => fiatToken.coordinates === JOBDOH_COORDINATES);
      return toWorker.reduce((total, fiatToken) => fiatToken.amount + total, 0);
    },
    paymentStartDate() {
      const dates = this.transaction.map(fiatToken => new Date(fiatToken.workToken.checkinTime));
      return this.$moment(Math.min.apply(null, dates)).format('D-MMM');
    },
    paymentEndDate() {
      const dates = this.transaction.map(fiatToken => new Date(fiatToken.workToken.checkinTime));
      return this.$moment(Math.max.apply(null, dates)).format('D-MMM');
    },
  },
};
</script>
