<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <v-card v-if="calculatedData">
        <v-card-title
          class="jobdoh headline"
          style="color: white"
          primary-title
        >
          Report Details
        </v-card-title>

        <v-card-text v-if="detailData.item">
          <div class="mt-5">
            <b>Name:</b> {{ detailData.item.name }}<br>
            <b>Identification:</b> {{ detailData.item.identification }} <br>
            <b>Phone:</b> {{ detailData.item.phone }}<br>
            <b>
              {{
                (detailData.item.totalAmount === detailData.item.khupay)? 'Khupay' : 'Salary'
              }}
            </b>
            {{ (detailData.item.totalAmount || 0).toFixed(0) }}
            {{ detailData.item.paymentCurrency }}
            ({{ detailData.shift.job.renumerationValue }}
            {{ detailData.item.paymentCurrency }})
          </div>
          <div class="mt-1">
            <b>Bonus:</b>
            {{ detailData.item.detailData.bonus }} {{ detailData.item.paymentCurrency }}
          </div>
          <ul style="font-size:11px">
            <li
              v-for="(bonus, i) in detailData.item.detailData.bonusWorkTokenValues"
              :key="i"
            >
              {{ bonus.notes }} {{
                (bonus.amount || 0).toFixed(0)
              }} {{ detailData.item.paymentCurrency }}
            </li>
          </ul>
          <div>
            <b>Deductions:</b>
            {{ detailData.item.detailData.deduction }} {{ detailData.item.paymentCurrency }}
          </div>
          <ul style="font-size:11px">
            <li
              v-for="(deduction, i) in detailData.item.detailData.deductionWorkTokenValues"
              :key="i"
            >
              {{ deduction.notes }} {{
                (deduction.amount || 0).toFixed(0)
              }} {{ detailData.item.paymentCurrency }}
            </li>
          </ul>
          <div>
            -------------------------------------------------------------------------------------
          </div>
          <div>
            <!-- <b>Total Paid: {{ detailData.item.totalAmount + calculatedData.bonus }} -->
            <b>Total Paid: {{ (calculatedData.totalPaid || 0).toFixed(0) }}
              {{ detailData.item.paymentCurrency }}
            </b>
          </div>
          <v-card
            class="ma-5 pa-5"
            style="font-size: 13px;"
            outlined
          >
            <div>Paid via:</div>
            <div>
              <b>Month End:</b> {{
                ((calculatedData.totalPaid - detailData.item.khupay) || 0).toFixed(0) }}
              {{ detailData.item.paymentCurrency }} {{ calculatedData.monthendPaymentCoordiantes }}
            </div>
            <div class="mt-1">
              <b>KhuPay:</b> {{ (detailData.item.khupay || 0).toFixed(0) }}
              {{ detailData.item.paymentCurrency }}
            <!-- <b>KhuPays:</b> {{ 0 }} {{ detailData.item.paymentCurrency }} -->
            </div>
            <ul style="font-size:11px">
              <li>
                KhuPay Received: {{
                  ((detailData.item.khupay - detailData.item.totalFee) || 0).toFixed(0)
                }} {{ detailData.item.paymentCurrency }}
              </li>
              <li>
                KhuPay Fee: {{
                  ((detailData.item.totalFee + calculatedData.discount) || 0).toFixed(0)
                }} {{ detailData.item.paymentCurrency }}
              </li>
              <li>
                KhuPay Fee Discount: {{
                  (calculatedData.discount || 0).toFixed(0)
                }} {{ detailData.item.paymentCurrency }}
              </li>
            </ul>
          </v-card>
        </v-card-text>

        <v-divider />

        <v-card-actions>
          <v-spacer />
          <v-btn
            id="btn-MonthendReportPage-MonthendDetailsDialog-Close"
            color="primary"
            text
            @click="closeDialog"
            v-html="'Close'"
          />
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import gql from 'graphql-tag';
import apollo from '@/assets/js/apollo';
// import moment from 'moment';

export default {
  components: {
  },

  props: {
    detailData: {
      type: Object,
      default: () => {},
    },
    organisation: {
      type: Object,
      default: () => {},
    },
    workTokens: {
      type: Array,
      default: () => [],
    },
    payCycle: {
      type: Object,
      default: () => {},
    },
    dialog: {
      type: Boolean,
      default: () => false,
    },
  },

  data: () => ({
    calculatedData: {},
    // workTokens: [],
  }),

  computed: {
    timeRange() {
      return {
        from: this.payCycle.startDate,
        to: this.payCycle.endDate,
      };
    },
  },

  watch: {
    payCycle() {
      this.calculateDialogData();
    },
    dialog() {
      this.calculateDialogData();
    },
  },

  mounted() {
    this.$log.debug('detailData...', this.detailData);
    this.calculateDialogData();
  },

  methods: {
    closeDialog() {
      this.$emit('closeDialog', false);
    },
    async calculateDialogData() {
      const { workTokens } = this.detailData.item;
      // const currentPayCycleForMTD = await this.getCurrentPayCycleFromOragnisationForMTD({
      //   organisation: this.organisation,
      // });
      const currentWorkTokens = await workTokens
        .filter(workToken => workToken.fiatTokens.length > 0);

      const currentWorkTokenValues = await this.getWorkTokenValuesFromWorkTokens({
        workTokens: currentWorkTokens,
      }).data;

      const bonusWorkTokenValues = await this.filterBonusWorkTokenValues({
        workTokenValues: currentWorkTokenValues,
      }).data;
      const deductionWorkTokenValues = await this.filterDeductionWorkTokenValues({
        workTokenValues: currentWorkTokenValues,
      }).data;
      const workerId = currentWorkTokens[0].worker.id;
      const discountTokens = await this.discountTokensQuery(workerId);
      const discountToken = discountTokens.find(token => token.status === 'DISBURSED');
      // let discount = 0;
      // if (discountToken != null) {
      //   discount = discountToken.discount;
      // }
      let discount = 0;
      // eslint-disable-next-line prefer-destructuring
      if (this.amount === 0) {
        discount = 0;
      } else if (discountToken != null) {
        this.$log.debug('discountTokenLatest', discountToken);
        discount = (parseFloat(discountToken.discountPercent)
            * ((this.detailData.item.totalAmount * this.organisation.fee) / 100)) / 100;

        this.$log.debug('discount...', discount);
        discount += discountToken.discountFixed;
      } else {
        discount = 0;
      }
      if (discount == null) {
        discount = 0;
      }

      // eslint-disable-next-line no-unused-vars
      let totalBonusAmount = await this
        .getTotalAmountFromWorkTokenValues({
          workTokenValues: bonusWorkTokenValues,
        }).data;
      let totalDeductionAmount = await this
        .getTotalAmountFromWorkTokenValues({
          workTokenValues: deductionWorkTokenValues,
        }).data;
      const bonus = bonusWorkTokenValues.length > 0 ? bonusWorkTokenValues[0].amount : 0;
      const totalPaid = (this.detailData.item.totalAmount + bonus) - totalDeductionAmount;


      if (this.detailData.shift.worker.paymentCurrency === 'USD') {
        totalBonusAmount = this.roundTo(totalBonusAmount, 2);
        totalDeductionAmount = this.roundTo(totalDeductionAmount, 2);
        discount = this.roundTo(discount, 2);
      } else if (this.detailData.shift.worker.paymentCurrency === 'MMK') {
        totalBonusAmount = this.roundTo(totalBonusAmount, 0);
        totalDeductionAmount = this.roundTo(totalDeductionAmount, 0);
        discount = this.roundTo(discount, 0);
      }
      this.calculatedData = {
        monthendPaymentCoordiantes: `( ${currentWorkTokenValues[0].method} :
        ${currentWorkTokenValues[0].coordinates})`,
        discount,
        bonus,
        totalPaid,
        deduction: totalDeductionAmount,
        bonusWorkTokenValues,
        deductionWorkTokenValues,
      };
    },
    async discountTokensQuery(workerId) {
      // eslint-disable-next-line no-underscore-dangle
      // const _this = this;
      let result = [];
      const query = await apollo.defaultClient.query({
        query: gql`query discountTokens(
          $workerId: String!,
        ) {
        discountTokens(
          workerId: $workerId,
        ) {
          id
          discountPercent
          discountFixed
          status
        }
      }
      `,
        variables: {
          workerId,
        },
      })
        .catch(() => {
        });
      if (query.data.discountTokens.length > 0) {
        result = query.data.discountTokens;
      }
      return result;
    },
  },
  apollo: {
    // workTokens: {
    //   query: gql`query workTokens(
    //       $filter: FilterType,
    //       $orderBy: String,
    //       $skip: Int,
    //       $first: Int,
    //   ) {
    //     workTokens(
    //       filter: $filter,
    //       orderBy: $orderBy,
    //       skip: $skip,
    //       first: $first,
    //     ) {
    //       id
    //       createdAt
    //       shift {
    //         id
    //         unconfirmed
    //       }
    //       worker {
    //         id
    //       }
    //       workTokenValue{
    //         id
    //         amount
    //         fee
    //         method
    //         currency
    //         coordinates
    //         expectedWorkTokenType
    //         notes
    //         workToken{
    //           id
    //           confirmed
    //           payNow
    //         }
    //       }
    //       fiatTokens{
    //         id
    //         createdAt
    //         amount
    //         currency
    //         method
    //         coordinates
    //         transactionRef
    //       }
    //       checkinTime
    //       checkoutTime
    //       type
    //       confirmed
    //       payNow
    //     }
    //   }`,
    //   variables() {
    //     return {
    //       filter: {
    //         query: {
    //           shiftId: this.detailData.shift.id,
    //           checkinTime: {
    //             GTE: moment(this.timeRange.from).toDate(),
    //             LTE: moment(this.timeRange.to).toDate(),
    //           },
    //         },
    //       },
    //       first: null,
    //       skip: 0,
    //       orderBy: 'createdAt',
    //     };
    //   },
    //   result({ data, loading, error }) {
    //     if (error) {
    //       // alert(error);
    //       this.$log.info('reportDetailError...', error);
    //     }

    //     if (data) {
    //       if (data.workTokens && data.workTokens.length > 0) {
    //         this.calculateDialogData(data.workTokens);
    //       }
    //     }
    //   },
    // },
  },
};
</script>
