<template>
  <div>
    <div>
      <v-data-table
        :items="calculateRowDataArray"
        class="elevation-1 custom-table"
        :group-by="[]"
        disable-pagination
        hide-default-footer
        :headers="headers"
        :loading="activityCount > 0"
        fixed-header
      >
        <template
          v-slot:body="{
            items
          }"
        >
          <tbody v-if="renderComponent">
            <!-- <tr v-if="items.length === 0">
              <td />
              <td />
              <td />
              <td />
              <td>No Data</td>
              <td />
              <td />
            </tr> -->
            <DisbursementTableRow
              v-for="item in items"
              :key="item.shift.id"
              :shift="item.shift"
              :item="item"
              :organisation="organisation"
              :transactions-data="transactionsData"
              :activity-count="activityCount"
              @openDialog="openDialog"
              @getFeeArray="getFeeArray"
              @updateActivityCount="updateActivityCount"
              @disbursement-confirmed="disbursementConfirmed"
            />
            <DisbursementFooterRow
              v-for="(feeData, index) in feeArray"
              :key="index"
              :fee-data="feeData"
              :activity-count="activityCount"
              @updateActivityCount="updateActivityCount"
            />
          </tbody>
          <div>
            <v-container>
              <v-row v-if="calculateRowDataArray == null">
                <v-spacer />
                No Data
                <v-spacer />
              </v-row>
            </v-container>
          </div>
        </template>
      </v-data-table>
      <DisbursementDetailsDialogBox
        v-if="dialogData != null && dialogData.workTokens != null"
        @closeDialog="closeDialog"
        :detail-data="dialogData"
        :organisation="organisation"
        :dialog.sync="detailDialog"
      />
      <DisbursementConflictsDialog
        v-if="conflictData != null"
        :dialog.sync="conflictDialog"
        :conflict-data="conflictData"
        @closeDialog="closeConflictDialog"
      />
    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag';
import apollo from '@/assets/js/apollo';
import DisbursementTableRow from '@/components/Payments/Tables/Rows/DisbursementTableRow';
import DisbursementFooterRow from '@/components/Payments/Tables/Rows/DisbursementFooterRow';
import DisbursementDetailsDialogBox from '@/components/Payments/Tables/DialogBoxs/DisbursementDetailsDialogBox';
import DisbursementConflictsDialog from '@/components/Payments/Tables/DialogBoxs/DisbursementConflictsDialog';
// import gql from 'graphql-tag';
// import apollo from '@/assets/js/apollo';

export default {
  components: {
    DisbursementTableRow,
    DisbursementDetailsDialogBox,
    DisbursementFooterRow,
    DisbursementConflictsDialog,
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
    transactionsData: {
      type: Array,
      default: () => [],
    },
    conflictData: {
      type: Object,
      default: () => {},
    },
    shifts: {
      type: Array,
      default: () => null,
    },
    calculateRowDataArray: {
      type: Array,
      default: () => null,
    },
  },

  data: () => ({
    renderComponent: true,
    activityCount: 0,
    detailDialog: false,
    conflictDialog: false,
    dialogData: {},
    singleExpand: false,
    expanded: [],
    headers: [
      {
        text: '',
        width: 0,
      },
      {
        text: 'Name',
        sortable: false,
        width: 150,
      },
      {
        text: 'Identification',
        sortable: false,
        width: 100,
      },
      {
        text: 'Account',
        sortable: false,
        width: 150,
      },
      {
        text: 'Method',
        sortable: false,
        width: 150,
      },
      {
        text: 'Total Amount',
        sortable: false,
        width: 200,
      },
      {
        text: 'Action',
        width: 100,
      },
    ],
    feeArray: [],
  }),

  computed: {
  },

  watch: {
    async organisation() {
      this.employeeData = [];
      this.conflictDialog = false;
    },
    // calculateRowDataArray() {
    //   this.forceRerender();
    // },

    conflictData() {
      if (this.conflictData != null) {
        this.$log.debug('conflicts', this.conflictData);
        this.conflictDialog = true;
      } else {
        this.conflictDialog = false;
      }
    },
  },

  async mounted() {
    this.employeeData = [];
    this.conflictDialog = false;
  },

  methods: {
    updateActivityCount(num) {
      this.activityCount += num;
    },
    disbursementConfirmed(shift) {
      this.calculateRowDataArray = this.calculateRowDataArray
        .filter(e => e.shift.id !== shift.id);
      if (this.calculateRowDataArray.length === 0) this.calculateRowDataArray = null;
    },
    closeDialog() {
      this.detailDialog = false;
    },
    async closeConflictDialog() {
      this.$eventHub.$emit('reload-row-worktokens-query');
      this.conflictDialog = false;
    },
    openDialog(value) {
      this.dialogData = value;
      this.detailDialog = true;
    },
    getFeeArray(value) {
      if (this.feeArray.length > 0) {
        const sameMethodFee = this.feeArray.find(e => e.method === value.method);
        if (sameMethodFee != null) {
          this.feeArray = this.feeArray.filter(e => e.method !== value.method);
          sameMethodFee.amount += value.amount;
          this.feeArray.push(sameMethodFee);
        } else {
          this.feeArray.push(value);
        }
      } else {
        this.feeArray.push(value);
      }
      // this.feeArray.push(value);
    },
  },
};
</script>

<style scoped>
.custom-table >>> .v-data-table__wrapper{
  height: calc(100vh - 262px) !important
}
</style>
