<template>
  <v-card
    outlined
    height="350px"
  >
    <vue-cal
      hide-view-selector
      :selected-date="$moment().format('YYYY-MM-DD')"
      :time-from="0 * 60"
      :time-to="24 * 60"
      :disable-views="['years', 'year', 'month', 'day']"
      :editable-events="{ title: false, drag: false, resize: true, delete: true, create: true }"
      :drag-to-create-threshold="0"
      :snap-to-time="15"
      :events="value"
      @ready="logEvents('ready', $event)"
      @view-change="logEvents('view-change', $event)"
      @event-drag-create="createEvent($event)"
      @event-delete="deleteEvent($event)"
      style="height: 350px; "
    >
      <template v-slot:title="{ title, }">
        {{ title.split(/[()]+/)[1] }}
      </template>>
    </vue-cal>
    <v-overlay
      absolute
      :value="showTutorial"
      style="left: 0; right: 0; top: 0; bottom: 0;"
    >
      <v-img
        :src="require('../../../../assets/img/interview-schedule.gif')"
      />
    </v-overlay>
  </v-card>
</template>

<script>
/* eslint-disable vue/require-default-prop */
// import StartEndTimePicker from '@/components/Common/Pickers/StartEndTimePicker';
// import DatePicker from '@/components/Common/Pickers/DatePicker';
import VueCal from 'vue-cal';
import 'vue-cal/dist/vuecal.css';

export default {
  components: {
    VueCal,
    // DatePicker,
    // StartEndTimePicker,
  },

  props: {
    value: Array, // [{ startDate, endDate }, ...]
    hideVacancies: {
      type: Boolean,
      default: false,
    },
    showTutorial: Boolean,
  },

  data() {
    return {
      date: null,
      startDate: null,
      startTime: null,
      endDate: null,
      endTime: null,
      vacancies: 1,
    };
  },

  computed: {
    isComplete() {
      return !(this.date == null
        || this.startTime == null
        || this.endTime == null);
    },
  },

  methods: {
    logEvents(...args) {
      this.$log.info(...args);
    },
    createEvent({ start, end }) {
      const newEvent = { start, end };
      this.$emit('input', this.getSetOfEvents([...this.value, newEvent]));
    },
    deleteEvent({ start }) {
      this.$emit('input', this.value.filter(e => e.start.getTime() !== start.getTime()));
    },
    getSetOfEvents(events) {
      return [...new Map(events.map(e => [e.start, e])).values()];
    },
    clearDates() {
      this.startDate = null;
      this.endDate = null;
    },
    // addTime() {
    //   const startDate = this.$moment(`${this.date} ${this.startTime}`,
    //     'YYYY-MM-DD hh:mm').toDate();
    //   const endDate = this.$moment(`${this.date} ${this.endTime}`,
    //     'YYYY-MM-DD hh:mm').toDate();

    //   this.$emit('timeAdded', { startDate, endDate });
    // },
    setDate(date) {
      this.date = date;
    },
    updateTime(time) {
      const keys = Object.keys(time);
      keys.forEach((key) => {
        this[key] = time[key];
      });
    },
  },
};
</script>
