<template>
  <v-card
    v-click-outside="{
      handler: onClickOutside,
      include: include,
    }"
    :loading="loading"
    :disabled="loading"
    :style="{
      display: !loading && jobSkills.length === 0 ? 'none' : null
    }"
    width="100%"
    outlined
  >
    <v-card-text class="included pt-1">
      <v-combobox
        :items="jobSkills"
        item-text="name"
        return-object
        v-model="skill"
        hide-details
        @click.prevent
      >
        <template #label>
          <span v-html="title" />
        </template>
        <template
          #item="{item, on, attrs}"
        >
          <v-list-item
            class="included"
            v-on="on"
            v-bind="attrs"
          >
            <v-list-item-content>
              <v-list-item-title>{{ item.name }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-combobox>
      <v-expand-transition>
        <v-radio-group
          v-if="skill && skill.levels"
          v-model="levelx"
          row
          hide-details
          class="pa-0"
        >
          <v-radio
            v-for="(item, i) in skill.levels"
            :key="i"
            :label="item.definition"
            :value="item.level"
          />
        </v-radio-group>
      </v-expand-transition>
      <!-- <v-radio-group
        v-else
        disabled
        row
        hide-details
        class="pa-0"
      >
        <v-radio
          v-for="(item, i) in ['Lvl 1', 'Lvl 2', 'Lvl 3']"
          :key="i"
          :label="item"
          :value="item"
        />
      </v-radio-group> -->
      <v-text-field
        class="mt-4"
        v-model="notes"
        hide-details
      >
        <template #label>
          <span>Specialisation <span class="caption">(optional)</span></span>
        </template>
      </v-text-field>
      <v-expand-transition>
        <v-btn
          id="btn-any-RequirementsForm-AddJobskill"
          v-if="skill"
          @click="onSkillAdd"
          class="jobdoh mt-4 white--text"
          v-html="'Add'"
          block
        />
      </v-expand-transition>
      <!-- <v-radio-group
        v-else
        disabled
        row
        hide-details
        class="pa-0"
      >
        <v-radio
          v-for="(item, i) in ['Lvl 1', 'Lvl 2', 'Lvl 3']"
          :key="i"
          :label="item"
          :value="item"
        />
      </v-radio-group> -->
    </v-card-text>
    <v-dialog
      v-if="skill"
      v-model="clickedOutsideDialog"
      class="included"
      width="400px"
    >
      <v-card class="included">
        <v-card-text class="pt-4 pb-0">
          Do you want to add following item to job requirements?
          <JobSkillRequirementLabel
            :job-skill="getSkill()"
          />
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            @click="clickedOutsideDialog = false"
            text
          >
            No
          </v-btn>
          <v-btn
            @click="onSkillAdd"
            class="jobdoh white--text"
          >
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
/* eslint-disable vue/require-default-prop */
import JobSkillRequirementLabel from '@/components/shared/components/Marketplace/components/JobSkillRequirementLabel';

export default {
  components: {
    JobSkillRequirementLabel,
  },

  props: {
    jobSkills: Array,
    title: String,
    specialisation: Boolean,
  },

  data() {
    return {
      skill: null,
      levelx: 0,
      notes: '',
      clickedOutsideDialog: false,
      loading: true,
    };
  },

  mounted() {
    setImmediate(() => {
      this.loading = false;
    });
  },

  methods: {
    include() {
      return [...document.querySelectorAll('.included')];
    },
    onClickOutside() {
      if (this.skill) {
        this.clickedOutsideDialog = true;
      }
    },
    onSkillAdd() {
      this.addSkill();
      this.clearValues();
      this.clickedOutsideDialog = false;
    },
    getSkill() {
      return Object.assign(
        {
          jobSkill: this.skill,
          skillId: this.skill.id,
          name: this.skill.name,
          notes: this.notes,
        },
        this.skill.levels.length > 0
          ? {
            definition: this.skill.levels[this.levelx].definition || null,
            level: this.levelx,
          }
          : {},
      );
    },
    addSkill() {
      const skill = this.getSkill();
      this.$emit('input', skill);
    },
    clearValues() {
      this.skill = null;
      this.notes = '';
    },
  },
};
</script>
