<template>
  <div>
    <JobSkillInput
      v-for="categoryGroup in categoryGroups"
      :key="categoryGroup.name"
      class="my-4"
      :job-skills="categoryGroup.skills"
      @input="v => $emit('skill-added', v)"
      :title="categoryGroup.name"
      :specialisation="categoryGroup.specialisation"
    />
  </div>
</template>

<script>
/* eslint-disable vue/require-default-prop */
// import queries from '@/assets/js/gql/queries';
import JobSkillInput from '@/components/Marketplaces/Jobs/Inputs/JobSkillInput';
import gql from 'graphql-tag';

export default {
  components: {
    JobSkillInput,
  },


  props: {
    skills: {
      type: Array,
      default: () => null,
    },
    jobRoleId: String,
    typesToShow: {
      type: Array,
      default: () => ['skills', 'personal', 'language'],
    },
  },

  data() {
    return {
      skill: null,
      levelx: 0,
      notes: '',
    };
  },

  computed: {
    skillCategories() {
      return this.$store.state.commonData.skillCategories || [];
    },
    jobSkills() {
      const sortedSkills = this.sortedCategories.map(c => this.getSortedSkills(c.jobSkills)).flat();
      return this.skills
        ? sortedSkills.filter(a => this.skills.some(b => b.id === a.id))
        : sortedSkills;
    },
    sortedCategories() {
      return this.getSortedCategories(this.skillCategories);
    },
    categories() {
      return this.skills
        ? this.sortedCategories.map(c => ({
          ...c,
          jobSkills: c.jobSkills.filter(a => this.skills.some(b => b.id === a.id)),
        }))
        : this.sortedCategories;
    },
    personalTraitSkills() {
      return this.categories
        .filter(c => c.name.includes('Personal'))
        .map(c => c.jobSkills)
        .flat()
        .sort(this.byAlphabet);
    },
    languageSkills() {
      return this.categories
        .filter(c => c.name.includes('Language'))
        .map(c => c.jobSkills)
        .flat()
        .sort(this.byAlphabet);
    },
    generalSkills() {
      return this.categories
        .filter(c => !c.name.includes('Personal') && !c.name.includes('Language'))
        .map(c => c.jobSkills.sort(this.byAlphabet))
        .flat();
    },
    categoryGroups() {
      const categoryGroups = [
        {
          id: 'skills',
          name: 'Select the <b>skills</b> needed',
          skills: this.generalSkills,
          specialisation: true,
        },
        {
          id: 'personal',
          name: 'Choose the relevant <b>personality traits</b>',
          skills: this.personalTraitSkills,
          specialisation: false,
        },
        {
          id: 'language',
          name: 'Select <b>languages</b>',
          skills: this.languageSkills,
          specialisation: false,
        },
      ];
      return categoryGroups.filter(category => this.typesToShow.includes(category.id));
    },
    everySkillsIsIncluded() {
      const expectedSkills = this.skills
        ? this.skills.length
        : this.skillCategories.flatMap(c => c.jobSkills).length;
      const actualSkills = this.categoryGroups.flatMap(c => c.skills).length;
      return expectedSkills === actualSkills;
    },
  },

  methods: {
    getSortedCategories(categories) {
      return categories
        ? categories.sort((a, b) => (this.getSortNumber(a.name) - this.getSortNumber(b.name)))
        : [];
    },
    getSortedSkills(skills) {
      return skills && skills.sort(this.byAlphabet);
    },
    getSortNumber(categoryName) {
      if (categoryName.includes('Skills')) return 1;
      if (categoryName.includes('Personal')) return 2;
      if (categoryName.includes('Language')) return 3;
      if (categoryName.includes('Certification')) return 4;
      return 5;
    },
    byAlphabet(a, b) {
      if (a.name < b.name) { return -1; }
      if (a.name > b.name) { return 1; }
      return 0;
    },
  },

  apollo: {
    skillCategories: {
      query: gql`query skillCategories {
        skillCategories {
          id
          name
          jobSkills {
            id
            name
            description
            requiredDocuments
            levels {
              level
              definition
            }
          }
        }
      }`,
      result({ data, error }) {
        if (data && !error) {
          this.$store.dispatch('setCommonData', { skillCategories: data.skillCategories });
        }
      },
    },
  },
};
</script>
