<template>
  <v-card
    :elevation="elevation"
    class="pa-2"
  >
    <v-row
      no-gutters
      align="center"
      v-if="label"
    >
      <v-icon
        left
        small
      >
        mdi-information-outline
      </v-icon>
      <span>{{ label }}</span>
    </v-row>
    Dates
    <StartEndDatePicker
      class="mt-2"
      @dateUpdated="updateDate"
    />
    <v-row
      no-gutters
      justify="center"
      class="mb-2"
    >
      <div
        class="caption"
        style="width: 600px"
      >
        <v-icon
          small
        >
          mdi-information-outline
        </v-icon>
        <span>
          Worker will start working on
          <b>{{ $moment(startDate).format('YYYY-MM-DD') }}</b>
          for 3 years or days
        </span>
      </div>
    </v-row>
    Working Hours
    <StartEndTimePicker
      class="mt-2"
      :time-data="{startTime, endTime}"
      @timeUpdated="updateTime"
      :disable="!startDate || !endDate"
    />
    <!-- <v-text-field
      full-width
      v-if="!hideVacancies"
      outlined
      type="number"
      v-model="vacancies"
      label="Number Of Vacancies"
    /> -->
    <v-card-actions
      class="pa-0"
      v-if="isComplete"
    >
      <v-btn
        id="btn-any-TimeForm-AddTime"
        block
        outlined
        @click="addTime"
        small
      >
        <v-icon small>
          mdi-plus
        </v-icon>
        Add Shift
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
/* eslint-disable vue/require-default-prop */
import StartEndTimePicker from '@/components/Common/Pickers/StartEndTimePicker';
import StartEndDatePicker from '@/components/Common/Pickers/StartEndDatePicker';

export default {
  components: {
    StartEndDatePicker,
    StartEndTimePicker,
  },

  props: {
    hideVacancies: {
      type: Boolean,
      default: false,
    },
    label: String,
    elevation: {
      type: String,
      default: '',
    },
  },

  data: () => ({
    startDate: null,
    startTime: '09:00',
    endDate: null,
    endTime: '18:00',
    vacancies: 1,
  }),

  computed: {
    isComplete() {
      if (this.startDate == null
        || this.startTime == null
        || this.endDate == null
        || this.endTime == null) {
        return false;
      }
      return true;
    },
  },

  methods: {
    clearDates() {
      this.startDate = null;
      this.endDate = null;
    },
    addTime() {
      const start = this.$moment(`${this.startDate} ${this.startTime}`,
        'YYYY-MM-DD hh:mm').toDate();
      const end = this.$moment(`${this.endDate} ${this.endTime}`,
        'YYYY-MM-DD hh:mm').toDate();

      this.$emit('timeAdded', { start, end, vacancies: this.vacancies });
    },
    updateDate({ startDate, endDate }) {
      this.startDate = startDate;
      this.endDate = endDate;
    },
    updateTime({ startTime, endTime }) {
      this.startTime = startTime;
      this.endTime = endTime;
    },
  },

  beforeDestroy() {
    if (this.isComplete) {
      this.addTime();
    }
  },
};
</script>
