<template>
  <v-container>
    <v-flex sm5>
      <v-slider
        v-model="english_writing"
        label="English Writing"
        min="0"
        max="5"
        :thumb-size="24"
        thumb-label="always"
      />
    </v-flex>
    <v-flex sm5>
      <v-slider
        v-model="english_speaking"
        label="English Speaking"
        min="0"
        max="5"
        :thumb-size="24"
        thumb-label="always"
      />
    </v-flex>
    <v-flex sm5>
      <v-slider
        v-model="chinese_writing"
        label="Chinese Writing"
        min="0"
        max="5"
        :thumb-size="24"
        thumb-label="always"
      />
    </v-flex>
    <v-flex sm5>
      <v-slider
        v-model="chinese_speaking"
        label="Chinese Speaking"
        min="0"
        max="5"
        :thumb-size="24"
        thumb-label="always"
      />
    </v-flex>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    english_writing: 0,
    english_speaking: 0,
    chinese_writing: 0,
    chinese_speaking: 0,
  }),
};
</script>
