<template>
  <v-row no-gutters>
    <v-col cols="8">
      <v-text-field
        outlined
        type="number"
        :value="value"
        @input="v => $emit('input', parseFloat(v, 10))"
        label="Enter the maximum remuneration you can pay for this job"
        :disabled="disabled"
        :loading="loading"
        :rules="rules"
      />
    </v-col>
    <v-col
      cols="4"
      class="pl-1"
    >
      <v-select
        :value="currency"
        @change="v => $emit('update:currency', v)"
        outlined
        :items="allCurrencies"
        label="Currency"
        :disabled="disabled"
        :loading="loading"
        :readonly="readonlyCurrency"
      />
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    value: {
      type: Number,
      required: true,
    },
    currencies: {
      type: Array,
      default: () => [],
    },
    currency: {
      type: String,
      required: true,
    },
    disabled: Boolean,
    readonlyCurrency: Boolean,
    rules: {
      type: Array,
      default: () => [],
    },
  },

  data() {
    return {
      loading: true,
    };
  },

  mounted() {
    setImmediate(() => { this.loading = false; });
  },

  computed: {
    //     formattedValue() {
    // return
    //     },
    allCurrencies() {
      return [...this.currencies, 'USD'];
    },
  },
};
</script>

<style>

</style>
