<template>
  <div>
    <div>Interview Length</div>
    <v-row
      align="center"
      no-gutters
      class="mb-6"
    >
      <v-text-field
        type="number"
        min="0"
        max="23"
        placeholder="23"
        outlined
        hide-details
        label="hour"
      />
      <div class="mx-3">
        :
      </div>
      <v-text-field
        type="number"
        min="0"
        max="59"
        placeholder="00"
        outlined
        hide-details
        label="minute"
      />
    </v-row>
  </div>
</template>

<script>
/* eslint-disable vue/require-default-prop */
export default {
  props: {
    value: String,
  },


};
</script>

<style>

</style>
