<template>
  <!--  -->
  <vue-slider
    ref="slider"
    :data="data"
    :value="value"
    @change="(v) => {
      $emit('input', v)
    }"
    v-bind="options"
    :marks="marks"
  >
    <template v-slot:label="{ label, active }">
      <div
        :class="['vue-slider-mark-label', 'custom-label', { active }]"
        style="font-size:10px !important"
      >
        {{ label }}
      </div>
    </template>
  </vue-slider>
</template>

<script>
import 'vue-slider-component/theme/default.css';
import VueSlider from 'vue-slider-component';

export default {
  components: {
    VueSlider,
  },

  props: {
    value: {
      type: Array,
      required: true,
    },
  },

  data() {
    return {
      options: {
        process: pos => [
          [pos[0], pos[1]],
          [pos[2], pos[3]],
        ],
        enableCross: true,
      },
      options2: {
        process: pos => [
          [pos[0], pos[1]],
        ],
        enableCross: true,
      },
      data: ['01:00AM', '01:15AM', '01:30AM', '01:45AM',
        '02:00AM', '02:15AM', '02:30AM', '02:45AM',
        '03:00AM', '03:15AM', '03:30AM', '03:45AM',
        '04:00AM', '04:15AM', '04:30AM', '04:45AM',
        '05:00AM', '05:15AM', '05:30AM', '05:45AM',
        '06:00AM', '06:15AM', '06:30AM', '06:45AM',
        '07:00AM', '07:15AM', '07:30AM', '07:45AM',
        '08:00AM', '08:15AM', '08:30AM', '08:45AM',
        '09:00AM', '09:15AM', '09:30AM', '09:45AM',
        '10:00AM', '10:15AM', '10:30AM', '10:45AM',
        '11:00AM', '11:15AM', '11:30AM', '11:45AM',
        '12:00PM', '12:15PM', '12:30PM', '12:45PM',
        '01:00PM', '01:15PM', '01:30PM', '01:45PM',
        '02:00PM', '02:15PM', '02:30PM', '02:45PM',
        '03:00PM', '03:15PM', '03:30PM', '03:45PM',
        '04:00PM', '04:15PM', '04:30PM', '04:45PM',
        '05:00PM', '05:15PM', '05:30PM', '05:45PM',
        '06:00PM', '06:15PM', '06:30PM', '06:45PM',
        '07:00PM', '07:15PM', '07:30PM', '07:45PM',
        '08:00PM', '08:15PM', '08:30PM', '08:45PM',
        '09:00PM', '09:15PM', '09:30PM', '09:45PM',
        '10:00PM', '10:15PM', '10:30PM', '10:45PM',
        '11:00PM', '11:15PM', '11:30PM', '11:45PM',
        '12:00AM', '12:15AM', '12:30AM', '12:45AM'],
      marks: {
        '01:00AM': '1',
        '02:00AM': '2',
        '03:00AM': '3',
        '04:00AM': '4',
        '05:00AM': '5',
        '06:00AM': '6',
        '07:00AM': '7',
        '08:00AM': '8',
        '09:00AM': '9',
        '10:00AM': '10',
        '11:00AM': '11',
        '12:00PM': '12',
        '01:00PM': '1',
        '02:00PM': '2',
        '03:00PM': '3',
        '04:00PM': '4',
        '05:00PM': '5',
        '06:00PM': '6',
        '07:00PM': '7',
        '08:00PM': '8',
        '09:00PM': '9',
        '10:00PM': '10',
        '11:00PM': '11',
        '12:00AM': '12',
      },
    };
  },
};
</script>

<style>

</style>
