<template>
  <div>
    <v-list-item
      @click="fileDownloadDialog = true"
      class="pa-0"
      :disabled="disabled"
    >
      <v-list-item-avatar class="py-0 my-1">
        <v-icon
          v-text="hasRequireUploads ? 'mdi-file-document-outline' : 'mdi-circle-small'"
        />
      </v-list-item-avatar>

      <v-list-item-content
        v-if="!!actualSkill"
        class="pa-0"
      >
        <v-list-item-title v-text="actualSkill.jobSkill.name" />
        <v-list-item-subtitle class="jobdoh-red">
          <span>{{ skillDefinition }}</span>
        </v-list-item-subtitle>
        <v-list-item-subtitle class="jobdoh-red">
          <span>(underqualified. only "{{ actualSkill.definition }}")</span>
        </v-list-item-subtitle>
      </v-list-item-content>

      <v-list-item-content
        v-else
        class="pa-0"
      >
        <v-list-item-title>
          {{ jobSkill.jobSkill.name }}
          <span v-if="jobSkill.skillNote">
            ({{ jobSkill.skillNote }})
          </span>
        </v-list-item-title>
        <v-list-item-subtitle
          :class="{'jobdoh-red': missingSkill}"
        >
          <span>{{ skillDefinition }}</span>
        </v-list-item-subtitle>
        <v-list-item-subtitle
          v-if="jobSkill.notes"
          :class="{'jobdoh-red': missingSkill}"
        >
          Note: {{ jobSkill.notes }}
        </v-list-item-subtitle>
      </v-list-item-content>

      <v-list-item-action v-if="(!!actualSkill || missingSkill) && urls.length > 0">
        <v-btn
          @mousedown.stop
          @touchstart.stop
          @click.stop="skillGapDialog = true"
          icon
        >
          <v-icon v-text="'mdi-information'" />
        </v-btn>
      </v-list-item-action>
    </v-list-item>

    <!-- 💬 File Download Dialog -->
    <v-dialog
      v-if="hasRequireUploads"
      v-model="fileDownloadDialog"
      max-width="400"
    >
      <v-card>
        <v-card-title>
          Download Documents
        </v-card-title>
        <v-list-item
          v-for="(upload, i) in jobSkill.uploads"
          :key="i"
          @click="openInNewTab(upload.url)"
        >
          <v-list-item-icon>
            <v-icon right>
              mdi-download
            </v-icon>
          </v-list-item-icon>
          <v-list-item-title>
            {{ upload.requirementName }}
          </v-list-item-title>
        </v-list-item>
        <v-card-actions>
          <v-spacer />
          <v-btn
            id="btn-any-FileDownloadDialog-close"
            text
            @click="fileDownloadDialog = false"
            v-html="'Close'"
          />
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- 💬 Skill Gap Dialog -->
    <v-dialog
      v-model="skillGapDialog"
      max-width="400"
    >
      <v-card>
        <v-card-title>
          Skill Improvement Resource
        </v-card-title>
        <v-list-item
          :key="i"
          v-for="(url, i) in urls"
          @click="openInNewTab(url)"
        >
          <v-list-item-avatar>
            <v-icon v-text="'mdi-link'" />
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>
              {{ url }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-card-actions>
          <v-spacer />
          <v-btn
            id="btn-any-SkillGapDialog-Close"
            text
            @click="skillGapDialog = false"
            v-html="'Close'"
          />
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
/* eslint-disable vue/require-default-prop */
export default {
  props: {
    jobSkill: Object,
    missingSkill: Boolean,
    actualSkill: Object,
    disabled: Boolean,
  },

  data() {
    return {
      fileDownloadDialog: false,
      skillGapDialog: false,
    };
  },

  computed: {
    urls() {
      return this.jobSkill ? this.jobSkill.jobSkill.urls : [];
      // return [
      //   'http:///awefawefawefawef',
      //   'http:///awefawefawefawef',
      //   'http:///awefawefawefawef',
      // ];
    },
    hasRequireUploads() {
      return this.jobSkill.uploads && this.jobSkill.uploads.length > 0;
    },
    skillDefinition() {
      return this.jobSkill && this.getSkillDefinition(this.jobSkill);
    },
  },

  methods: {
    getSkillDefinition(jobSkill) {
      const skillLevel = jobSkill.jobSkill.levels.find(l => l.level === jobSkill.level);
      return skillLevel && skillLevel.definition;
    },
    openInNewTab(url) {
      window.open(url);
    },
    downloadFile(url) {
      const xhr = new XMLHttpRequest();
      xhr.responseType = 'blob';
      // eslint-disable-next-line func-names
      xhr.onload = function () {
        // eslint-disable-next-line no-unused-vars
        const blob = xhr.response;
      };
      xhr.open('GET', url);
      xhr.send();
    },
  },
};
</script>
