<template>
  <v-flex>
    {{ shiftTime }}
  </v-flex>
</template>

<script>
export default {
  props: {
    shift: {
      type: Object,
      default: () => {},
    },
  },

  computed: {
    shiftTime() {
      if (this.shift.startTime == null) return '';
      const startDate = this.$moment(this.shift.startTime).format('MMM D');
      const startTime = this.$moment(this.shift.startTime).format('hh:mmA');
      const endTime = this.$moment(this.shift.endTime).format('hh:mmA');

      return `${startDate} ${startTime} - ${endTime}`;
    },
  },
};
</script>
