<template>
  <v-flex>
    {{ vacanciesLeft }}
  </v-flex>
</template>

<script>
export default {
  props: {
    shift: {
      type: Object,
      default: () => {},
    },
  },

  computed: {
    vacanciesLeft() {
      if (this.shift.vacanciesLeft == null) return '';
      const { vacanciesLeft } = this.shift;
      return `${vacanciesLeft} ${(vacanciesLeft > 1) ? 'vacancies' : 'vacancy'} left`;
    },
  },
};
</script>
