<template>
  <div>
    <v-row
      no-gutters
    >
      <span>Available to workers in
      </span>
    </v-row>
    <!-- <v-checkbox
      label="All countries"
      hide-details
      :indeterminate="value.length && value.length < countries.length"
      :value="isSelectedAll"
      class="mt-0 mb-2"
      @click="toggleSelectAll"
    /> -->
    <v-checkbox
      v-model="tempValue"
      v-for="({name, code}, i) in countries"
      :key="code"
      :value="code"
      :label="name"
      :rules="[$Validate.required]"
      :hide-details="i === countries.length - 1 ? 'auto': 'always'"
      class="mt-0 mb-2"
      :loading="loading"
    />
    <v-chip
      small
      label
      @click="toggleSelectAll"
    >
      {{ isSelectedAll ? 'Deselect' : 'Select' }} all
    </v-chip>
  </div>
</template>

<script>

export default {
  props: {
    value: {
      type: Array,
      required: true,
    },
  },

  mounted() {
    setImmediate(() => {
      this.loading = false;
    });
  },

  watch: {
    //     value(nValue) {
    //       this.tempValue = Array.from(nValue);
    //     },
    tempValue(nValue) {
      this.onChange(nValue);
    },
  },

  data() {
    return {
      tempValue: Array.from(this.value),
      loading: true,
    };
  },

  computed: {
    countries() {
      return this.$store.getters.countries.map(c => ({ ...c, code: c.code.toUpperCase() }));
    },
    isSelectedAll() {
      return this.value.length === this.countries.length;
    },
    selectAllIcon() {
      if (this.isSelectedAll) return 'mdi-close-box';
      if (this.value.length) return 'mdi-minus-box';
      return 'mdi-checkbox-blank-outline';
    },
  },

  methods: {
    getRules(index) {
      return [];
    },
    onChange(v) {
      this.$emit('input', v);
    },
    toggleSelectAll() {
      const valueToEmit = this.isSelectedAll ? [] : this.countries.map(this.getCC).slice();
      console.log({ valueToEmit });
      this.tempValue = (valueToEmit);
    },
    getCC(country) {
      return country.code;
    },
  },
};
</script>

<style>

</style>
