<template>
  <span>
    <v-btn
      text
      v-if="!value"
      color="#BEBEBE"
      x-small
      @click="changeConfirmedStatus(true)"
    >
      {{ text }}
    </v-btn>
    <v-btn
      text
      color="black"
      x-small
      v-if="value"
      @click="changeConfirmedStatus(false)"
    >
      {{ text }}
    </v-btn>
  </span>
</template>
<script>
export default {
  props: {
    text: {
      type: String,
      default: () => '',
    },
    value: {
      type: Boolean,
      default: () => false,
    },
    index: {
      type: Number,
      default: () => 0,
    },
    workingDays: {
      type: Array,
      default: () => [],
    },
  },
  data: () => ({
    status: null,
  }),
  mounted() {
    // const length = this.workingDays.filter(e => e === this.text);
    // if (length === 0) {
    //   this.$emit('update:value', false);
    // } else {
    //   this.$emit('update:value', true);
    // }
  },
  methods: {
    changeConfirmedStatus(status) {
      const days = this.workingDays;
      if (this.value === true) {
        delete days[this.index];
      } else {
        days[this.index] = this.text;
      }
      this.$emit('update:working-days', days);
      this.$emit('update:value', status);
      this.value = status;
    },
  },

};
</script>
