<template>
  <v-btn-toggle
    :value="selectedIndices"
    multiple
  >
    <v-btn
      v-for="(day, i) in days"
      :key="i"
      text
      x-small
      @click="onChange(i)"
    >
      {{ day }}
    </v-btn>
  </v-btn-toggle>
</template>

<script>

export default {
  props: {
    value: {
      type: Array,
      required: true,
    },
  },

  data() {
    return {
      days: Object.freeze([
        'mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun',
      ]),
    };
  },

  computed: {
    selectedIndices() {
      return this.value.map(v => this.days.indexOf(v));
    },
  },

  methods: {
    onChange(selectedIndex) {
      const selectedDays = this.days.filter((_, i) => i <= selectedIndex);
      this.$emit('input', selectedDays);
    },
  },
};
</script>

<style>

</style>
