<template>
  <v-form
    ref="orgform"
    :value="valid"
    @input="v => $emit('update:valid', v)"
  >
    <v-layout
      class="pt-3"
      style="overflow-y: scroll; height: calc(100vh - 115px);"
      row
      justify-center
      align-center
    >
      <v-flex
        xs7
        align-center
        justify-center
      >
        <v-text-field
          class="mt-1"
          outlined
          v-model="organisation.name"
          label="Organization Name"
          :rules="[$Validate.required]"
        />
        <v-textarea
          outlined
          v-model="organisation.description"
          label="Description"
        />
        <v-text-field
          label="Phone"
          v-model="organisation.phone"
          :rules="[$Validate.phone]"
          outlined
          prepend-inner-icon="mdi-phone"
        />
        <v-text-field
          label="Address"
          v-model="organisation.address"
          outlined
          prepend-inner-icon="mdi-domain"
        />
        <IndustrySelect v-model="organisation.industryType" />
        <BusinessRegFileUploader
          v-model="organisation.businessRegFileUrl"
          :organisation-id="organisation.id"
        />
        <v-text-field
          v-model="organisation.videoUrl"
          label="Company Video URL"
          required
          outlined
          prepend-inner-icon="mdi-youtube"
        />
        <div
          class="mb-6"
          v-if="organisation.socialMedia"
        >
          <v-divider />
          <v-subheader>Social Media</v-subheader>
          <v-text-field
            v-model="organisation.socialMedia.facebook"
            label="Facebook"
            required
            outlined
            prepend-inner-icon="mdi-facebook"
          />
          <v-text-field
            v-model="organisation.socialMedia.twitter"
            label="Twitter"
            required
            outlined
            prepend-inner-icon="mdi-twitter"
          />
          <v-text-field
            v-model="organisation.socialMedia.linkedIn"
            label="LinkedIn"
            required
            outlined
            prepend-inner-icon="mdi-linkedin"
          />
          <v-text-field
            v-model="organisation.socialMedia.instagram"
            label="Instagram"
            required
            outlined
            prepend-inner-icon="mdi-instagram"
          />
          <v-divider />
        </div>
        <!-- <v-text-field
                outlined
                v-model="organisation.payCycleMonthDays[0]"
                type="number"
                label="Pay Cycle Start"
                required
              />
              <v-text-field
                outlined
                v-model="organisation.payCycleMonthDays[1]"
                type="number"
                label="Pay Cycle End"
                required
              /> -->
        <DisbursementPaymentTypeSelect v-model="organisation.disbursementPaymentType" />
        <div
          v-if="$AccessService.isUnlocked('TIMESHEET')"
          class="mb-6"
        >
          <v-divider />
          <v-subheader>
            Timesheet
          </v-subheader>

          <v-text-field
            v-model="payCyclePeriod"
            label="Pay Cycle (Eg: 1,1,2,3)"
            required
            :rules="[$Validate.payCycle]"
            outlined
            prepend-inner-icon="mdi-calendar"
          />
          <v-select
            outlined
            label="Accounting Style"
            v-model="organisation.accountingStyle"
            :items="accountingStyles"
            autocomplete
            hide-details="auto"
            :messages="getAccountingStyleInfo(organisation.accountingStyle)"
            class="mb-7"
          />
          <v-text-field
            outlined
            v-model="organisation.payrollOfficerPhone"
            label="Payroll Officer Phone Number"
            :rules="[$Validate.required, $Validate.phone]"
          />

          <v-text-field
            outlined
            v-model="organisation.payrollOfficerEmail"
            label="Payroll Officer Email Address"
            :rules="[$Validate.email]"
          />
          <v-divider />

          <v-text-field
            v-if="$AccessService.isAdminLevel()"
            label="KhuPay Fee"
            v-model="organisation.fee"
            type="number"
            :rules="[$Validate.number]"
            outlined
            prepend-inner-icon="mdi-percent"
          />
        </div>
        <RegionSelect
          v-model="organisation.region"
        />
        <v-select
          v-if="$AccessService.isPermitted('CHECK_IN_HYBRID')"
          :items="timesheetingFeatureLevels"
          label="Timesheeting Feature Level"
          v-model="TIMESHEETING_FEATURE_LEVEL"
          outlined
        />

        <!-- LEAVE SYS SETTINGS -->
        <div v-if="$AccessService.isPermitted('LEAVE_SYS')">
          <v-divider />

          <v-subheader>Leave System</v-subheader>
          <v-text-field
            label="Personal Leave Per Year"
            v-model="organisation.leavePersonalAccrualRateDaysPerYear"
            type="number"
            outlined
            :rules="[$Validate.integer]"
          />
          <v-text-field
            label="Sick Leave Per Year"
            v-model="organisation.leaveSickAccuralRateDaysPerYear"
            type="number"
            outlined
            :rules="[$Validate.integer]"
          />
          <v-text-field
            label="Other Leaves Per Year"
            v-model="organisation.leaveSpecialAccuralRateDaysPerYear"
            type="number"
            outlined
            :rules="[$Validate.integer]"
          />
          <v-divider />
        </div>
        <!-- <Uploader /> -->
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script>
export default {
  props: {
    // eslint-disable-next-line vue/require-default-prop
    value: Object,
    valid: Boolean,
  },

  data() {
    return {
      organisation: this.value ? JSON.parse(JSON.stringify(this.value)) : { socialMedia: {} },
    };
  },

  methods: {
    getAccountingStyleInfo(accountingStyle) {
      if (accountingStyle === 'simple') return 'Will not include weekends (Sat, Sun)';
      if (accountingStyle === 'actual') return 'Will include all 7 days of the week';
      return '';
    },
  },

  watch: {
    organisation(newOrganisation) {
      this.emit('input', JSON.parse(JSON.stringify(newOrganisation)));
    },
  },

  mounted() {
    // setImmediate(() => {
    //   this.$refs.orgform.validate();
    // });
  },
};
</script>
