<template>
  <v-menu
    v-model="notificationsMenu"
    :close-on-content-click="false"
    offset-y
    max-height="90vh"
    transition="slide-y-transition"
    eager
  >
    <template v-slot:activator="{ on }">
      <v-btn
        id="btn-any-OpenNotification"
        color="white"
        icon
        v-on="on"
        @click="refreshNotifications"
        :dark="notifications.length === 0"
        :disabled="notifications.length === 0"
      >
        <v-badge
          color="red"
          bordered
          :content="unreadCount"
          :value="unreadCount"
          overlap
          id="btn-any-OpenNotification"
        >
          <v-icon id="btn-any-OpenNotification">
            mdi-bell
          </v-icon>
        </v-badge>
      </v-btn>
    </template>
    <v-card
      flat
      :loading="loading"
    >
      <v-list
        width="400"
        three-line
      >
        <v-row
          v-if="unreadCount > 0"
          justify="end"
          no-gutters
          class="px-2"
        >
          <v-chip
            small
            @click="markAsAllRead"
            :disabled="loading"
          >
            <v-icon
              small
              left
            >
              mdi-check-all
            </v-icon>
            Mark as all read
          </v-chip>
        </v-row>
        <NotificationItem
          v-for="(notification, i) in notifications"
          :key="i"
          :notification="notification"
          @click="notificationAction(notification)"
        />
      </v-list>
    </v-card>
  </v-menu>
</template>
<script>
import NotificationItem from '@/components/shared/components/NotificationItem';

export default {
  components: {
    NotificationItem,
  },

  async mounted() {
    await this.$store.dispatch('refreshNotifications');
  },

  data: () => ({
    notificationsMenu: false,
    // notifications: [],
    loading: false,
  }),

  computed: {
    notifications() {
      return this.$store.state.notifications || [];
    },
    unreadCount() {
      return this.notifications.filter(e => !e.isRead).length;
    },
  },

  methods: {
    async markAsAllRead() {
      this.loading = true;
      const isRead = true;
      await Promise.all(
        this.notifications
          .filter(e => !e.isRead)
          .map(notification => this.$IdbService.editNotificaitonsToDb({ ...notification, isRead })),
      ).catch(() => { this.$log.debug('error updating notifications '); });
      this.refreshNotifications();
      this.loading = false;
    },
    async refreshNotifications() {
      this.loading = true;
      await this.$store.dispatch('refreshNotifications');
      this.loading = false;
    },
    getNotifications() {
      return this.$IdbService
        .getNotificationsFromDb()
        .then(notifications => notifications.sort((a, b) => b.receiveDate - a.receiveDate));
    },
    async notificationAction(notification) {
      if (notification.jobId) {
        this.$router.push({
          path: `/app/view-job-detail/${notification.jobId}`,
        });
      } else if (notification.updatedLevel) {
        this.$router.push('/app/edit-organisation');
      }
      await this.$IdbService.editNotificaitonsToDb({ ...notification, isRead: true })
        .catch(() => { this.$log.debug('error updating notification '); });
      this.refreshNotifications();
    },
  },
};
</script>
