<template>
  <v-btn
    color="primary"
    @click="send"
    :disabled="!enabled"
  >
    Send
  </v-btn>
</template>

<script>
export default {
  props: {
    enabled: {
      type: Boolean,
      default: () => false,
    },
    notification: {
      type: Object,
      default: () => {},
    },
  },

  methods: {
    async send() {
      const ret = await this.$NotificationService
        .sendTopicNotification(this.notification)
        .catch((err) => {
          this.$log.error(err);
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message: 'Error sending notifications',
          });
        });

      if (ret) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: `Notifications Sent to ${this.notification.topic}`,
        });
      }
    },
  },
};
</script>
