<template>
  <v-dialog
    :value="true"
    max-width="700px"
  >
    <v-card>
      <v-card-title>
        Confirming final job offer details
      </v-card-title>
      <v-card-text>
        <span />
        <div
          v-if="job.isOpenEnded"
          class="mb-6"
        >
          <StartEndTimeLabel
            v-for="(time, i) in times"
            :key="i"
            :nth="i"
            :time="time"
            @deletetime="deleteTime"
          />
          <JobTimesInput
            class="mt-3"
            label="You need to add at least one shift before offering to candidates"
            hide-vacancies
            @timeAdded="onAddTime"
          />
        </div>

        <RenumerationInput
          v-model="renumerationValue"
          :currency.sync="renumerationCurrency"
          :currencies="job.availableCountries.length
            ? job.availableCountries.map(getCountryCurrency)
            : [job.renumerationCurrency]"
          readonly-currency
          :rules="[$Validate.renumerationValue]"
        />
        <!-- <v-text-field
          class="mt-3"
          outlined
          type="number"
          v-model="renumerationValue"
          label="What is the salary for this offer?"
          :suffix="job.renumerationCurrency"
        /> -->
        <v-row
          no-gutters
        >
          <v-card
            outlined
          >
            <v-card-text>
              <div>
                <v-row
                  dense
                  align="center"
                >
                  <v-col cols="3">
                    <span>Working Days:</span>
                  </v-col>
                  <v-col>
                    <WorkingDaysCheckbox
                      v-model="workingDays"
                    />
                  </v-col>
                </v-row>
                <v-row dense>
                  <v-col cols="3">
                    Working Hours:
                  </v-col>
                  <v-col><b>{{ workingHours[0] }}</b> to <b>{{ workingHours[3] }}</b></v-col>
                </v-row>
                <v-row dense>
                  <v-col cols="3">
                    Lunch Hour:
                  </v-col>
                  <v-col><b>{{ lunchHour[0] }}</b> to <b>{{ lunchHour[1] }}</b></v-col>
                </v-row>
                <v-row
                  no-gutters
                  justify="center"
                  style="font-size:10px !important"
                >
                  <v-col>
                    AM
                  </v-col>
                  <v-col>
                    PM
                  </v-col>
                </v-row>
                <v-row
                  no-gutters
                  justify="center"
                >
                  <div style="width:600px">
                    <vue-slider
                      ref="slider"
                      :data="data"
                      :key="workingHours"
                      :value="workingHours"
                      @change="updateLunchAndWorkingHours"
                      v-bind="options"
                      :marks="mark"
                    >
                      <template v-slot:label="{ label, active }">
                        <div
                          :class="['vue-slider-mark-label', 'custom-label', { active }]"
                          style="font-size:10px !important"
                        >
                          {{ label }}
                        </div>
                      </template>
                    </vue-slider>
                  </div>
                </v-row>
              </div>
              <v-row class="mt-10">
                <v-col>
                  <v-text-field
                    small
                    outlined
                    label="Sick leave days per year"
                    v-model="job.sickLeaveDays"
                    hide-details
                  />
                </v-col>
                <v-col>
                  <v-text-field
                    small
                    outlined
                    label="Annual leave days per year"
                    v-model="job.personalLeaveDays"
                    hide-details
                  />
                </v-col>
                <v-col>
                  <v-text-field
                    small
                    outlined
                    label="Other leaves days per year"
                    v-model="job.specialLeaveDays"
                    hide-details
                  />
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-row>
      </v-card-text>

      <v-card-actions>
        <v-spacer />
        <v-btn
          id="btn-AddShiftPage-AddShiftDialog-Close"
          text
          @click="$router.back()"
          v-html="'Close'"
        />
        <v-btn
          id="btn-AddShiftPage-AddShiftDialog-Finish"
          class="jobdoh"
          :disabled="!valid"
          :dark="valid"
          @click="addShift"
          v-html="'Offer'"
        />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
/* eslint-disable vue/require-default-prop */
import moment from 'moment';
import RenumerationInput from '@/components/Marketplaces/Jobs/Inputs/RenumerationInput';
import StartEndTimeLabel from '@/components/Marketplaces/Jobs/Labels/StartEndTimeLabel';
import JobTimesInput from '@/components/Marketplaces/Jobs/Inputs/JobTimesInput';
import WorkingDaysCheckbox from '@/components/Marketplaces/Jobs/CheckBoxes/WorkingDaysCheckbox';
import VueSlider from 'vue-slider-component';
import 'vue-slider-component/theme/default.css';
import { mapGetters } from 'vuex';

export default {
  components: {
    RenumerationInput,
    JobTimesInput,
    StartEndTimeLabel,
    WorkingDaysCheckbox,
    VueSlider,
  },

  props: {
    workerId: String,
    job: Object,
    shift: Object,
  },

  data() {
    return {
      times: [],
      renumerationValue: parseFloat(this.job.renumerationValue),
      renumerationCurrency: this.job.renumerationCurrency,
      workingHours: Array.from(this.job.workingHours),
      lunchHour: Array.from(this.job.lunchHour),
      workingDays: Array.from(this.job.workingDays),
      nonworkHour: ['1', '8', '18', '24'],
      options: {
        process: pos => [
          [pos[0], pos[1]],
          [pos[2], pos[3]],
        ],
        enableCross: true,
      },
      options2: {
        process: pos => [
          [pos[0], pos[1]],
        ],
        enableCross: true,
      },
      data: ['01:00AM', '01:15AM', '01:30AM', '01:45AM',
        '02:00AM', '02:15AM', '02:30AM', '02:45AM',
        '03:00AM', '03:15AM', '03:30AM', '03:45AM',
        '04:00AM', '04:15AM', '04:30AM', '04:45AM',
        '05:00AM', '05:15AM', '05:30AM', '05:45AM',
        '06:00AM', '06:15AM', '06:30AM', '06:45AM',
        '07:00AM', '07:15AM', '07:30AM', '07:45AM',
        '08:00AM', '08:15AM', '08:30AM', '08:45AM',
        '09:00AM', '09:15AM', '09:30AM', '09:45AM',
        '10:00AM', '10:15AM', '10:30AM', '10:45AM',
        '11:00AM', '11:15AM', '11:30AM', '11:45AM',
        '12:00PM', '12:15PM', '12:30PM', '12:45PM',
        '01:00PM', '01:15PM', '01:30PM', '01:45PM',
        '02:00PM', '02:15PM', '02:30PM', '02:45PM',
        '03:00PM', '03:15PM', '03:30PM', '03:45PM',
        '04:00PM', '04:15PM', '04:30PM', '04:45PM',
        '05:00PM', '05:15PM', '05:30PM', '05:45PM',
        '06:00PM', '06:15PM', '06:30PM', '06:45PM',
        '07:00PM', '07:15PM', '07:30PM', '07:45PM',
        '08:00PM', '08:15PM', '08:30PM', '08:45PM',
        '09:00PM', '09:15PM', '09:30PM', '09:45PM',
        '10:00PM', '10:15PM', '10:30PM', '10:45PM',
        '11:00PM', '11:15PM', '11:30PM', '11:45PM',
        '12:00AM', '12:15AM', '12:30AM', '12:45AM'],
      mark: {
        '01:00AM': '1',
        '02:00AM': '2',
        '03:00AM': '3',
        '04:00AM': '4',
        '05:00AM': '5',
        '06:00AM': '6',
        '07:00AM': '7',
        '08:00AM': '8',
        '09:00AM': '9',
        '10:00AM': '10',
        '11:00AM': '11',
        '12:00PM': '12',
        '01:00PM': '1',
        '02:00PM': '2',
        '03:00PM': '3',
        '04:00PM': '4',
        '05:00PM': '5',
        '06:00PM': '6',
        '07:00PM': '7',
        '08:00PM': '8',
        '09:00PM': '9',
        '10:00PM': '10',
        '11:00PM': '11',
        '12:00AM': '12',
      },
      emptyRules: [
        this.$Validate.required,
      ],
      sickDays: 0,
      leave: 0,
      specialLeave: 0,
      fulltimeTime: null,
      mon: true,
      tue: true,
      wed: true,
      thu: true,
      fri: true,
      sat: false,
      sun: false,
    };
  },

  computed: {
    ...mapGetters(['getCountryCurrency']),
    valid() {
      const hasShift = this.job.shifts && this.job.shifts.length > 0;
      return ((hasShift && this.job.listingStartDate !== this.shift.startTime)
          || this.times.length > 0) && parseFloat(this.renumerationValue) > 0;
    },
  },

  methods: {
    updateLunchAndWorkingHours(workingHours) {
      this.workingHours = Array.from(workingHours);
      this.lunchHour = [workingHours[1], workingHours[2]];
      // this.$emit('update:lunch-hour', [this.workingHours[1], this.workingHours[2]]);
    },
    async addShift() {
      const divisible = !(this.times.length > 1);
      // use the 1st shift data to update the shifts with listing start/end data
      if (this.times.length) {
        const shiftsToUpdate = this.shift.siblingShifts.map(shift => ({
          id: shift.id,
          startTime: this.times[0].start,
          endTime: this.times[0].end,
          divisible,
        }));
        this.$log.info('Shifts To Update', shiftsToUpdate);
        // eslint-disable-next-line no-unused-vars
        const updatedShifts = await Promise.all(
          shiftsToUpdate.map(shift => this.$JobService.updateShift(shift)),
        );
        this.$log.info(`${shiftsToUpdate.length} shift(s) updated`);
      }

      // update isOpenEnded field
      this.$JobService.updateShift({
        id: this.shift.id,
        salary: parseFloat(this.renumerationValue),
        renumerationCurrency: this.renumerationCurrency,
      });
      const updatedJob = await this.$JobService.updateJob({
        id: this.job.id,
        organisationId: this.job.organisation.id,
        isOpenEnded: false,
        workingHours: this.workingHours,
        lunchHour: this.lunchHour,
        workingDays: this.workingDays,
        // renumerationValue: parseFloat(this.renumerationValue),
      });

      if (updatedJob) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Shift Successfully Created',
        });
        // finally, offer the shft
        // eslint-disable-next-line no-unused-vars
        const shiftOffered = await this.offerShift(this.workerId, this.shift.id);
        this.$router.back();
      }
    },
    onAddTime(time) {
      this.times = [...this.times, time];
      const workingTimes = this.workingHours;
      workingTimes[0] = moment(time.start).format('hh:mmA');
      workingTimes[workingTimes.length - 1] = moment(time.end).format('hh:mmA');
      this.workingHours = workingTimes;
    },
    deleteTime(nth) {
      this.$log.debug('i am deleting nth time', nth);
      this.times.splice(nth, 1);
    },
    async offerShift(workerId, shiftId) {
      const ret = await this.$JobService.offerShift({
        id: shiftId,
        workerId,
      }).catch((err) => {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'error',
          message: 'Error Created',
        });
        this.$log.error('Error offering shift');
        this.$log.error(err);
      });

      if (ret) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Successfully Offered the Job',
        });
        this.$eventHub.$emit('refetch-job-matching-page');
      }
    },
  },
};
</script>
