<template>
  <v-container>
    <v-row
      align="center"
      justify="center"
    >
      <v-card
        width="600px"
        flat
      >
        <v-row>
          <v-col
            cols="6"
            align-self="center"
            style="text-align: -webkit-center;"
          >
            <v-card
              @click="goto('create-marketplace')"
              width="250"
            >
              <v-card-title style="height: 30vh;justify-content: center;">
                <v-icon size="100">
                  mdi-account-group
                </v-icon>
              </v-card-title>
              <v-card-text class="text-center">
                <h3>
                  Create Private Marketplace
                </h3>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col
            cols="6"
            align-self="center"
            style="text-align: -webkit-center;"
          >
            <v-card
              @click="goto('expected-marketplace-subscriber-upload')"
              width="250"
            >
              <v-card-title style="height: 30vh; justify-content: center;">
                <v-icon size="100">
                  mdi-file-upload
                </v-icon>
              </v-card-title>
              <v-card-text class="text-center">
                <h3>
                  Upload Employees
                </h3>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-card>

      <!-- <v-btn
        v-if="$AccessService.isPermitted('WRITE_PRIVATE_MARKETPLACE_JOBS')"
        color="primary"
        @click="goto('create-marketplace')"
      >
        Create Private Marketplace
      </v-btn> -->
      <!-- <v-btn
        v-if="$AccessService.isPermitted('WRITE_PRIVATE_MARKETPLACE_JOBS')"
        color="primary"
        @click="goto('create-marketplace-job')"
      >
        Create a Job
      </v-btn> -->
      <!-- <v-btn
        v-if="$AccessService.isPermitted('WRITE_PRIVATE_MARKETPLACE_JOBS')"
        color="primary"
        @click="goto('expected-marketplace-subscriber-upload')"
      >
        Upload Employees
      </v-btn> -->
    </v-row>
    <v-row
      align="center"
      justify="center"
    >
      <BatchUploadButton
        style="max-width: 600px"
        :organisation="organisation"
      />
    </v-row>
    <v-row
      align="center"
      justify="center"
    >
      <MarketplaceSelect
        v-if="organisation"
        style="max-width: 600px"
        :organisation-id="organisation.id"
        @marketplaceSelected="selectMarketplace"
        private
      />
    </v-row>
    <v-row v-if="subscribers != null">
      <v-card
        class="mx-auto"
        max-width="600"
        width="600"
        tile
      >
        <v-list>
          <v-list-item-group
            v-model="selectedItem"
            color="primary"
          >
            <v-list-item
              v-for="(item, i) in subscribers"
              :key="i"
            >
              <v-list-item-content>
                <v-list-item-title>
                  {{ item.name }} ({{ item.phone }})
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-card>
    </v-row>
    <!-- <MarketplaceJobList
      :marketplace-id="marketplaceId"
    /> -->
  </v-container>
</template>

<script>
import apollo from '@/assets/js/apollo';
import mongoose from 'mongoose';
import gql from 'graphql-tag';
import MarketplaceSelect from '@/components/Common/Selects/MarketplaceSelect';
import MarketplaceJobList from '@/components/Marketplaces/Jobs/Lists/MarketplaceJobList';
import BatchUploadButton from '@/components/Marketplaces/Jobs/Buttons/BatchUploadButton';

export default {
  components: {
    MarketplaceSelect,
    // MarketplaceJobList,
    BatchUploadButton,
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    marketplaceId: '',
    subscribers: null,
  }),
  beforeRouteLeave(to, from, next) {
    this.$log.info('route change...');
    this.$destroy();
    next();
  },

  methods: {
    async selectMarketplace(marketplaceId) {
      this.marketplaceId = marketplaceId;
      this.subscribers = await this.expectedMarketplaceSubscribers(marketplaceId);
    },
    goto(name) {
      this.$router.push({ name });
    },
    async expectedMarketplaceSubscribers(marketplaceId) {
      // eslint-disable-next-line no-underscore-dangle
      // const _this = this;
      let ret = [];
      const query = await apollo.defaultClient.query({
        query: gql`query expectedMarketplaceSubscribers(
          $marketplaceId: ID,
        ) {
        expectedMarketplaceSubscribers(
          marketplaceId: $marketplaceId
        ) {
          id
          name
          phone
          email
          identification
        }
      }
      `,
        variables: {
          marketplaceId: mongoose.Types.ObjectId(marketplaceId),
        },
      })
        .catch((e) => {
          this.$log.error(e);
        });
      if (query.data.expectedMarketplaceSubscribers.length > 0) {
        ret = query.data.expectedMarketplaceSubscribers;
      }
      return ret;
    },
  },
};
</script>
