<template>
  <v-container>
    <v-row
      class="fill-height"
      align="center"
      justify="center"
    >
      <v-col
        align-self="center"
        style="text-align: -webkit-center;"
      >
        <v-card width="400">
          <v-card-title>
            Create Private Marketplace
          </v-card-title>
          <v-card-text>
            <v-form
              ref="form"
            >
              <v-text-field
                outlined
                label="Marketplace Name"
                v-model="name"
              />
              <ImageUploader
                @upload-complete="setImageUrl"
              />
              <v-textarea
                outlined
                label="Description"
                v-model="description"
              />
              <v-btn
                id="btn-MarketplaceCreatePage-Create"
                :disabled="!isFormValid"
                class="black white--text"
                @click="createMarketplace"
                v-html="'Create'"
              />
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ImageUploader from '@/components/Common/Uploaders/ImageUploader';

export default {
  components: {
    ImageUploader,
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    name: '',
    imageUrl: '',
    description: '',
  }),

  computed: {
    isFormValid() {
      return this.name.length > 0 && this.imageUrl.length > 0;
    },
  },

  methods: {
    setImageUrl(imageUrl) {
      this.imageUrl = imageUrl;
    },
    async createMarketplace() {
      const ret = await this.$JobService.createMarketplace({
        name: this.name,
        organisationId: this.organisation.id,
        imageUrl: this.imageUrl,
        description: this.description,
      })
        .catch((err) => {
          this.$log.error('createMarketplace Error:', err);
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message: err,
          });
        });

      if (ret && ret.data) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Successfully created marketplace',
        });
        this.name = '';
        this.$router.back();
      }
    },
  },
};
</script>
