<template>
  <v-container
    class="pa-5 pb-0"
    style="height: calc(100vh - 90px) !important;"
  >
    <v-row
      align="center"
      no-gutters
    >
      <!-- <v-btn
        id="btn-MonthlyReportPage-GoPreviousPaycycle"
        @click="prev"
        icon
      >
        <v-icon id="btn-MonthlyReportPage-GoPreviousPaycycle">
          mdi-arrow-left
        </v-icon>
      </v-btn>
      {{ `${payCycleStartLabel} - ${payCycleEndLabel}` }}
      <v-btn
        v-if="paycycleChangeCount > 0"
        id="btn-MonthlyReportPage-GoNextPaycycle"
        @click="next"
        icon
      >
        <v-icon id="btn-MonthlyReportPage-GoNextPaycycle">
          mdi-arrow-right
        </v-icon>
      </v-btn> -->
      <v-select
        :items="settings"
        v-model="selectedSetting"
        label="Select Setting"
        outlined
        small
        @change="onSettingChange"
      />
      <v-select
        v-if="selectedSetting !== 'Yearly'
          && selectedSetting !== 'Total'"
        :items="years"
        v-model="selectedYear"
        label="Select Year"
        outlined
        small
        @change="onYearChange"
      />
      <v-select
        v-if="selectedSetting !== 'Yearly'
          && selectedSetting !== 'Total'
          && selectedSetting !== 'Monthly'"
        :items="months"
        v-model="selectedMonth"
        label="Select Month"
        outlined
        small
        height="10"
        @change="onMonthChange"
      />
      <v-spacer />
      <!-- <VueBlobJsonCsv
        file-type="json"
      >
        <v-btn
          color="default"
          small
        >
          Export JSON
        </v-btn>
      </VueBlobJsonCsv>
      <VueBlobJsonCsv
        file-type="csv"
      >
        <v-btn
          class="ml-2"
          color="default"
          small
        >
          Export CSV
        </v-btn>
      </VueBlobJsonCsv> -->
    </v-row>
    <v-row no-gutters>
      <v-col
        cols="12"
      >
        <!-- <v-data-table
          :headers="headers"
          :items="data"
          :items-per-page="31"
          class="elevation-1"
        /> -->
        <v-data-table
          :items="data"
          class="elevation-1 custom-table"
          :group-by="[]"
          disable-pagination
          hide-default-footer
          :headers="headers"
          fixed-header
        >
          <template
            v-slot:body
          >
            <tbody v-if="selectedSetting === 'Daily'">
              <tr
                v-for="item in moment().daysInMonth()"
                :key="item"
              >
                <td>
                  {{ item }}
                </td>
                <td>
                  {{ workerFilter(item) }}
                </td>
                <td>
                  {{ employerFilter(item) }}
                </td>
                <td>
                  {{ jobFilter(item) }}
                </td>
                <td>
                  {{ jobApplicationFilter(item) }}
                </td>
                <td>
                  {{ interviewScheduledFilter(item) }}
                </td>
                <td>
                  {{ jobOfferFilter(item) }}
                </td>
                <td>
                  {{ jobAcceptedFilter(item) }}
                </td>
                <td>
                  {{ hoursWorkedFilter(item) }}
                </td>
                <td>
                  {{ usdDisbursedFilter(item) }}
                </td>
              </tr>
            </tbody>
            <tbody v-if="selectedSetting === 'Weekly'">
              <tr
                v-for="item in 5"
                :key="item"
              >
                <td>
                  Week {{ item }}
                </td>
                <td>
                  {{ workerFilter(item) }}
                </td>
                <td>
                  {{ employerFilter(item) }}
                </td>
                <td>
                  {{ jobFilter(item) }}
                </td>
                <td>
                  {{ jobApplicationFilter(item) }}
                </td>
                <td>
                  {{ interviewScheduledFilter(item) }}
                </td>
                <td>
                  {{ jobOfferFilter(item) }}
                </td>
                <td>
                  {{ jobAcceptedFilter(item) }}
                </td>
                <td>
                  {{ hoursWorkedFilter(item) }}
                </td>
                <td>
                  {{ usdDisbursedFilter(item) }}
                </td>
              </tr>
            </tbody>
            <tbody v-if="selectedSetting === 'Monthly'">
              <tr
                v-for="item in months"
                :key="item"
              >
                <td>
                  {{ item }}
                </td>
                <td>
                  {{ workerFilter(item) }}
                </td>
                <td>
                  {{ employerFilter(item) }}
                </td>
                <td>
                  {{ jobFilter(item) }}
                </td>
                <td>
                  {{ jobApplicationFilter(item) }}
                </td>
                <td>
                  {{ interviewScheduledFilter(item) }}
                </td>
                <td>
                  {{ jobOfferFilter(item) }}
                </td>
                <td>
                  {{ jobAcceptedFilter(item) }}
                </td>
                <td>
                  {{ hoursWorkedFilter(item) }}
                </td>
                <td>
                  {{ usdDisbursedFilter(item) }}
                </td>
              </tr>
            </tbody>
            <tbody v-if="selectedSetting === 'Yearly'">
              <tr
                v-for="item in years"
                :key="item"
              >
                <td>
                  {{ item }}
                </td>
                <td>
                  {{ workerFilter(item) }}
                </td>
                <td>
                  {{ employerFilter(item) }}
                </td>
                <td>
                  {{ jobFilter(item) }}
                </td>
                <td>
                  {{ jobApplicationFilter(item) }}
                </td>
                <td>
                  {{ interviewScheduledFilter(item) }}
                </td>
                <td>
                  {{ jobOfferFilter(item) }}
                </td>
                <td>
                  {{ jobAcceptedFilter(item) }}
                </td>
                <td>
                  {{ hoursWorkedFilter(item) }}
                </td>
                <td>
                  {{ usdDisbursedFilter(item) }}
                </td>
              </tr>
            </tbody>
            <tbody v-if="selectedSetting === 'Total'">
              <tr>
                <td>
                  {{ years[0] }} -  {{ years[years.length - 1] }}
                </td>
                <td>
                  {{ workerFilter(item) }}
                </td>
                <td>
                  {{ employerFilter(item) }}
                </td>
                <td>
                  {{ jobFilter(item) }}
                </td>
                <td>
                  {{ jobApplicationFilter(item) }}
                </td>
                <td>
                  {{ interviewScheduledFilter(item) }}
                </td>
                <td>
                  {{ jobOfferFilter(item) }}
                </td>
                <td>
                  {{ jobAcceptedFilter(item) }}
                </td>
                <td>
                  {{ hoursWorkedFilter(item) }}
                </td>
                <td>
                  {{ usdDisbursedFilter(item) }}
                </td>
              </tr>
            </tbody>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// import { mapGetters } from 'vuex';
import gql from 'graphql-tag';
import { Parser } from 'json2csv';
import moment from 'moment';

export default {
  components: {
  },
  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      moment,
      headers: [
        {
          text: '',
          value: 'name',
          width: '150',
          // align: 'center',
        },
        {
          text: 'Workers',
          value: 'workers',
          align: 'center',
        },
        { text: 'Employers', value: 'employers', align: 'center' },
        { text: 'Created Jobs', value: 'jobs_created', align: 'center' },
        { text: 'Job Applications', value: 'job_applications', align: 'center' },
        { text: 'Interviews Scheduled', value: 'interviews_scheduled', align: 'center' },
        { text: 'Job Offers', value: 'job_offers', align: 'center' },
        { text: 'Job Accepted', value: 'job_accepted', align: 'center' },
        { text: 'Hours Worked', value: 'hours_worked', align: 'center' },
        { text: 'USD Disbursed', value: 'usd_disbursed', align: 'center' },
      ],
      daily: [
        {
          name: '01',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: '02',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: '03',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: '04',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: '05',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: '06',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: '07',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: '08',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: '09',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: '10',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: '11',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: '12',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: '13',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: '14',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: '15',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: '16',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: '17',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: '18',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
      ],
      weekly: {
        january: [
          {
            name: 'Week 1',
            workers: 1,
            employers: 2,
            jobs_created: 4,
            job_applications: 2,
            interviews_scheduled: 1,
            job_offers: 1,
            job_accepted: 1,
            hours_worked: 2,
            usd_disbursed: 0,
          },
          {
            name: 'Week 2',
            workers: 7,
            employers: 3,
            jobs_created: 1,
            job_applications: 2,
            interviews_scheduled: 6,
            job_offers: 7,
            job_accepted: 1,
            hours_worked: 2,
            usd_disbursed: 0,
          },
          {
            name: 'Week 3',
            workers: 3,
            employers: 7,
            jobs_created: 8,
            job_applications: 4,
            interviews_scheduled: 2,
            job_offers: 1,
            job_accepted: 1,
            hours_worked: 2,
            usd_disbursed: 0,
          },
          {
            name: 'Week 4',
            workers: 2,
            employers: 3,
            jobs_created: 4,
            job_applications: 6,
            interviews_scheduled: 1,
            job_offers: 1,
            job_accepted: 1,
            hours_worked: 2,
            usd_disbursed: 0,
          },
        ],
        february: [
          {
            name: 'Week 1',
            workers: 5,
            employers: 1,
            jobs_created: 4,
            job_applications: 2,
            interviews_scheduled: 1,
            job_offers: 1,
            job_accepted: 1,
            hours_worked: 2,
            usd_disbursed: 0,
          },
          {
            name: 'Week 2',
            workers: 5,
            employers: 1,
            jobs_created: 4,
            job_applications: 2,
            interviews_scheduled: 1,
            job_offers: 1,
            job_accepted: 1,
            hours_worked: 2,
            usd_disbursed: 0,
          },
          {
            name: 'Week 3',
            workers: 5,
            employers: 1,
            jobs_created: 4,
            job_applications: 2,
            interviews_scheduled: 1,
            job_offers: 1,
            job_accepted: 1,
            hours_worked: 2,
            usd_disbursed: 0,
          },
          {
            name: 'Week 4',
            workers: 5,
            employers: 1,
            jobs_created: 4,
            job_applications: 2,
            interviews_scheduled: 1,
            job_offers: 1,
            job_accepted: 1,
            hours_worked: 2,
            usd_disbursed: 0,
          },
        ],
        march: [
          {
            name: 'Week 1',
            workers: 5,
            employers: 1,
            jobs_created: 4,
            job_applications: 2,
            interviews_scheduled: 1,
            job_offers: 1,
            job_accepted: 1,
            hours_worked: 2,
            usd_disbursed: 0,
          },
          {
            name: 'Week 2',
            workers: 5,
            employers: 1,
            jobs_created: 4,
            job_applications: 2,
            interviews_scheduled: 1,
            job_offers: 1,
            job_accepted: 1,
            hours_worked: 2,
            usd_disbursed: 0,
          },
          {
            name: 'Week 3',
            workers: 5,
            employers: 1,
            jobs_created: 4,
            job_applications: 2,
            interviews_scheduled: 1,
            job_offers: 1,
            job_accepted: 1,
            hours_worked: 2,
            usd_disbursed: 0,
          },
          {
            name: 'Week 4',
            workers: 5,
            employers: 1,
            jobs_created: 4,
            job_applications: 2,
            interviews_scheduled: 1,
            job_offers: 1,
            job_accepted: 1,
            hours_worked: 2,
            usd_disbursed: 0,
          },
        ],
      },
      monthly: [
        {
          name: 'January',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: 'February',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: 'March',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: 'April',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: 'May',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: 'June',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: 'July',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: 'Augst',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: 'September',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: 'Octember',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: 'November',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: 'December',
          workers: 5,
          employers: 1,
          jobs_created: 4,
          job_applications: 2,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
      ],
      yearly: [
        {
          name: '2020',
          workers: 9,
          employers: 1,
          jobs_created: 5,
          job_applications: 4,
          interviews_scheduled: 2,
          job_offers: 3,
          job_accepted: 3,
          hours_worked: 2,
          usd_disbursed: 0,
        },
        {
          name: '2021',
          workers: 10,
          employers: 2,
          jobs_created: 10,
          job_applications: 5,
          interviews_scheduled: 1,
          job_offers: 1,
          job_accepted: 1,
          hours_worked: 2,
          usd_disbursed: 0,
        },
      ],
      settings: [
        'Daily',
        'Weekly',
        'Monthly',
        'Yearly',
        'Total',
      ],
      data: [],
      months: [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
        'July',
        'August',
        'September',
        'October',
        'November',
        'December',
      ],
      years: [
        '2019',
        '2020',
        '2021',
      ],
      selectedSetting: 'Daily',
      selectedMonth: 'January',
      selectedYear: '2021',
      createdWorkers: [],
      createdJobs: [],
      createdEmployers: [],
      jobApplications: [],
      interviewsScheduled: [],
      jobOffers: [],
      jobAccepted: [],
      hoursWorked: [],
      usdDisbursed: [],
    };
  },
  computed: {
  },
  methods: {
    onSettingChange(e) {
      this.selectedSetting = e;
      if (e === 'Daily') this.data = this.daily;
      else if (e === 'Weekly') this.data = this.weekly.february;
      else if (e === 'Monthly') this.data = this.monthly;
      else this.data = this.yearly;
    },
    onMonthChange(e) {
      if (this.selectedSetting === 'Weekly' && e === 'January') { this.data = this.weekly.january; }
    },
    workerFilter(item) {
      let ret = 0;
      if (this.selectedSetting === 'Daily') {
        // eslint-disable-next-line no-underscore-dangle
        const data = this.createdWorkers.find(e => e._id.day === item);
        ret = data != null ? data.count : 0;
      } else if (this.selectedSetting === 'Weekly') {
        const data = this.createdWorkers[item];
        ret = data != null ? data.count : 0;
      } else if (this.selectedSetting === 'Monthly') {
        const data = this.createdWorkers
          // eslint-disable-next-line no-underscore-dangle
          .find(e => e._id.month === parseInt(moment().month(item).format('M'), 10));
        ret = data != null ? data.count : 0;
      } else if (this.selectedSetting === 'Total') {
        const counts = this.createdWorkers.map(e => e.count);
        ret = counts.reduce((a, b) => a + b, 0);
      } else {
        const data = this.createdWorkers
          // eslint-disable-next-line no-underscore-dangle
          .find(e => e._id.year === parseInt(item, 10));
        ret = data != null ? data.count : 0;
      }
      return ret;
    },
    employerFilter(item) {
      let ret = 0;
      if (this.selectedSetting === 'Daily') {
        // eslint-disable-next-line no-underscore-dangle
        const data = this.createdEmployers.find(e => e._id.day === item);
        ret = data != null ? data.count : 0;
      } else if (this.selectedSetting === 'Weekly') {
        const data = this.createdEmployers[item];
        ret = data != null ? data.count : 0;
      } else if (this.selectedSetting === 'Monthly') {
        const data = this.createdEmployers
          // eslint-disable-next-line no-underscore-dangle
          .find(e => e._id.month === parseInt(moment().month(item).format('M'), 10));
        ret = data != null ? data.count : 0;
      } else if (this.selectedSetting === 'Total') {
        const counts = this.createdEmployers.map(e => e.count);
        ret = counts.reduce((a, b) => a + b, 0);
      } else {
        const data = this.createdEmployers
          // eslint-disable-next-line no-underscore-dangle
          .find(e => e._id.year === parseInt(item, 10));
        ret = data != null ? data.count : 0;
      }
      return ret;
    },
    jobFilter(item) {
      let ret = 0;
      if (this.selectedSetting === 'Daily') {
        // eslint-disable-next-line no-underscore-dangle
        const data = this.createdJobs.find(e => e._id.day === item);
        ret = data != null ? data.count : 0;
      } else if (this.selectedSetting === 'Weekly') {
        const data = this.createdJobs[item];
        ret = data != null ? data.count : 0;
      } else if (this.selectedSetting === 'Monthly') {
        const data = this.createdJobs
          // eslint-disable-next-line no-underscore-dangle
          .find(e => e._id.month === parseInt(moment().month(item).format('M'), 10));
        ret = data != null ? data.count : 0;
      } else if (this.selectedSetting === 'Total') {
        const counts = this.createdJobs.map(e => e.count);
        ret = counts.reduce((a, b) => a + b, 0);
      } else {
        const data = this.createdJobs
          // eslint-disable-next-line no-underscore-dangle
          .find(e => e._id.year === parseInt(item, 10));
        ret = data != null ? data.count : 0;
      }
      return ret;
    },
    jobApplicationFilter(item) {
      let ret = 0;
      if (this.selectedSetting === 'Daily') {
        // eslint-disable-next-line no-underscore-dangle
        const data = this.jobApplications.find(e => e._id.day === item);
        ret = data != null ? data.count : 0;
      } else if (this.selectedSetting === 'Weekly') {
        const data = this.jobApplications[item];
        ret = data != null ? data.count : 0;
      } else if (this.selectedSetting === 'Monthly') {
        const data = this.jobApplications
          // eslint-disable-next-line no-underscore-dangle
          .find(e => e._id.month === parseInt(moment().month(item).format('M'), 10));
        ret = data != null ? data.count : 0;
      } else if (this.selectedSetting === 'Total') {
        const counts = this.jobApplications.map(e => e.count);
        ret = counts.reduce((a, b) => a + b, 0);
      } else {
        const data = this.jobApplications
          // eslint-disable-next-line no-underscore-dangle
          .find(e => e._id.year === parseInt(item, 10));
        ret = data != null ? data.count : 0;
      }
      return ret;
    },
    interviewScheduledFilter(item) {
      let ret = 0;
      if (this.selectedSetting === 'Daily') {
        // eslint-disable-next-line no-underscore-dangle
        const data = this.interviewsScheduled.find(e => e._id.day === item);
        ret = data != null ? data.count : 0;
      } else if (this.selectedSetting === 'Weekly') {
        const data = this.interviewsScheduled[item];
        ret = data != null ? data.count : 0;
      } else if (this.selectedSetting === 'Monthly') {
        const data = this.interviewsScheduled
          // eslint-disable-next-line no-underscore-dangle
          .find(e => e._id.month === parseInt(moment().month(item).format('M'), 10));
        ret = data != null ? data.count : 0;
      } else if (this.selectedSetting === 'Total') {
        const counts = this.interviewsScheduled.map(e => e.count);
        ret = counts.reduce((a, b) => a + b, 0);
      } else {
        const data = this.interviewsScheduled
          // eslint-disable-next-line no-underscore-dangle
          .find(e => e._id.year === parseInt(item, 10));
        ret = data != null ? data.count : 0;
      }
      return ret;
    },
    jobOfferFilter(item) {
      let ret = 0;
      if (this.selectedSetting === 'Daily') {
        // eslint-disable-next-line no-underscore-dangle
        const data = this.jobOffers.find(e => e._id.day === item);
        ret = data != null ? data.count : 0;
      } else if (this.selectedSetting === 'Weekly') {
        const data = this.jobOffers[item];
        ret = data != null ? data.count : 0;
      } else if (this.selectedSetting === 'Monthly') {
        const data = this.jobOffers
          // eslint-disable-next-line no-underscore-dangle
          .find(e => e._id.month === parseInt(moment().month(item).format('M'), 10));
        ret = data != null ? data.count : 0;
      } else if (this.selectedSetting === 'Total') {
        const counts = this.jobOffers.map(e => e.count);
        ret = counts.reduce((a, b) => a + b, 0);
      } else {
        const data = this.jobOffers
          // eslint-disable-next-line no-underscore-dangle
          .find(e => e._id.year === parseInt(item, 10));
        ret = data != null ? data.count : 0;
      }
      return ret;
    },
    jobAcceptedFilter(item) {
      let ret = 0;
      if (this.selectedSetting === 'Daily') {
        // eslint-disable-next-line no-underscore-dangle
        const data = this.jobAccepted.find(e => e._id.day === item);
        ret = data != null ? data.count : 0;
      } else if (this.selectedSetting === 'Weekly') {
        const data = this.jobAccepted[item];
        ret = data != null ? data.count : 0;
      } else if (this.selectedSetting === 'Monthly') {
        const data = this.jobAccepted
          // eslint-disable-next-line no-underscore-dangle
          .find(e => e._id.month === parseInt(moment().month(item).format('M'), 10));
        ret = data != null ? data.count : 0;
      } else if (this.selectedSetting === 'Total') {
        const counts = this.jobAccepted.map(e => e.count);
        ret = counts.reduce((a, b) => a + b, 0);
      } else {
        const data = this.jobAccepted
          // eslint-disable-next-line no-underscore-dangle
          .find(e => e._id.year === parseInt(item, 10));
        ret = data != null ? data.count : 0;
      }
      return ret;
    },
    hoursWorkedFilter(item) {
      let ret = 0;
      if (this.selectedSetting === 'Daily') {
        // eslint-disable-next-line no-underscore-dangle
        const data = this.hoursWorked.find(e => e._id.day === item);
        ret = data != null ? data.count : 0;
      } else if (this.selectedSetting === 'Weekly') {
        const data = this.hoursWorked[item];
        ret = data != null ? data.count : 0;
      } else if (this.selectedSetting === 'Monthly') {
        const data = this.hoursWorked
          // eslint-disable-next-line no-underscore-dangle
          .find(e => e._id.month === parseInt(moment().month(item).format('M'), 10));
        ret = data != null ? data.count : 0;
      } else if (this.selectedSetting === 'Total') {
        const counts = this.hoursWorked.map(e => e.count);
        ret = counts.reduce((a, b) => a + b, 0);
      } else {
        const data = this.hoursWorked
          // eslint-disable-next-line no-underscore-dangle
          .find(e => e._id.year === parseInt(item, 10));
        ret = data != null ? data.count : 0;
      }
      return ret;
    },
    usdDisbursedFilter(item) {
      let ret = 0;
      if (this.selectedSetting === 'Daily') {
        // eslint-disable-next-line no-underscore-dangle
        const data = this.usdDisbursed.find(e => e._id.day === item);
        ret = data != null ? data.amount : 0;
      } else if (this.selectedSetting === 'Weekly') {
        const data = this.usdDisbursed[item];
        ret = data != null ? data.amount : 0;
      } else if (this.selectedSetting === 'Monthly') {
        const data = this.usdDisbursed
          // eslint-disable-next-line no-underscore-dangle
          .find(e => e._id.month === parseInt(moment().month(item).format('M'), 10));
        ret = data != null ? data.amount : 0;
      } else if (this.selectedSetting === 'Total') {
        const counts = this.usdDisbursed.map(e => e.amount);
        ret = counts.reduce((a, b) => a + b, 0);
      } else {
        const data = this.usdDisbursed
          // eslint-disable-next-line no-underscore-dangle
          .find(e => e._id.year === parseInt(item, 10));
        ret = data != null ? data.amount : 0;
      }
      return ret.toFixed(0);
    },
  },
  // watch: {
  //   selectedMonth() {
  //     this.$log.debug(this.selectedMonth);
  //     this.payCycle = this.getPayCycleFromMonth(
  //       this.selectedMonth, this.currentOrganisation,
  //     );
  //     // this.$log.debug(obj);
  //   },
  // },
  apollo: {
    createdWorkers: {
      query: gql`query createdWorkers(
          $filter: GraphQLJSON,
          $groupBy: String,
      ) {
        createdWorkers(
          filter: $filter,
          groupBy: $groupBy,
        )
      }
      `,
      variables() {
        return {
          filter: {
            month: parseInt(moment().month(this.selectedMonth).format('M'), 10),
            year: parseInt(this.selectedYear, 10),
          },
          groupBy: this.selectedSetting === 'Total' ? 'Yearly' : this.selectedSetting,
        };
      },
      // eslint-disable-next-line no-unused-vars
      // result({ data, loading, error }) {
      //   this.loading = loading;
      //   if (error) {
      //     this.$log.error(error);
      //     this.$eventHub.$emit('show-alert', {
      //       alert: true,
      //       type: 'error',
      //       message: 'The worktokens query error',
      //     });
      //   }
      // },
      // eslint-disable-next-line no-unused-vars
    },
    createdEmployers: {
      query: gql`query createdEmployers(
          $filter: GraphQLJSON,
          $groupBy: String,
      ) {
        createdEmployers(
          filter: $filter,
          groupBy: $groupBy,
        )
      }
      `,
      variables() {
        return {
          filter: {
            month: parseInt(moment().month(this.selectedMonth).format('M'), 10),
            year: parseInt(this.selectedYear, 10),
          },
          groupBy: this.selectedSetting === 'Total' ? 'Yearly' : this.selectedSetting,
        };
      },
      // eslint-disable-next-line no-unused-vars
      // result({ data, loading, error }) {
      //   this.loading = loading;
      //   if (error) {
      //     this.$log.error(error);
      //     this.$eventHub.$emit('show-alert', {
      //       alert: true,
      //       type: 'error',
      //       message: 'The worktokens query error',
      //     });
      //   }
      // },
      // eslint-disable-next-line no-unused-vars
    },
    createdJobs: {
      query: gql`query createdJobs(
          $filter: GraphQLJSON,
          $groupBy: String,
      ) {
        createdJobs(
          filter: $filter,
          groupBy: $groupBy,
        )
      }
      `,
      variables() {
        return {
          filter: {
            month: parseInt(moment().month(this.selectedMonth).format('M'), 10),
            year: parseInt(this.selectedYear, 10),
          },
          groupBy: this.selectedSetting === 'Total' ? 'Yearly' : this.selectedSetting,
        };
      },
      // eslint-disable-next-line no-unused-vars
      // result({ data, loading, error }) {
      //   this.loading = loading;
      //   if (error) {
      //     this.$log.error(error);
      //     this.$eventHub.$emit('show-alert', {
      //       alert: true,
      //       type: 'error',
      //       message: 'The worktokens query error',
      //     });
      //   }
      // },
      // eslint-disable-next-line no-unused-vars
    },
    jobApplications: {
      query: gql`query jobApplications(
          $filter: GraphQLJSON,
          $groupBy: String,
      ) {
        jobApplications(
          filter: $filter,
          groupBy: $groupBy,
        )
      }
      `,
      variables() {
        return {
          filter: {
            month: parseInt(moment().month(this.selectedMonth).format('M'), 10),
            year: parseInt(this.selectedYear, 10),
          },
          groupBy: this.selectedSetting === 'Total' ? 'Yearly' : this.selectedSetting,
        };
      },
      // eslint-disable-next-line no-unused-vars
      // result({ data, loading, error }) {
      //   this.loading = loading;
      //   if (error) {
      //     this.$log.error(error);
      //     this.$eventHub.$emit('show-alert', {
      //       alert: true,
      //       type: 'error',
      //       message: 'The worktokens query error',
      //     });
      //   }
      // },
      // eslint-disable-next-line no-unused-vars
    },
    interviewsScheduled: {
      query: gql`query interviewsScheduled(
          $filter: GraphQLJSON,
          $groupBy: String,
      ) {
        interviewsScheduled(
          filter: $filter,
          groupBy: $groupBy,
        )
      }
      `,
      variables() {
        return {
          filter: {
            month: parseInt(moment().month(this.selectedMonth).format('M'), 10),
            year: parseInt(this.selectedYear, 10),
          },
          groupBy: this.selectedSetting === 'Total' ? 'Yearly' : this.selectedSetting,
        };
      },
      // eslint-disable-next-line no-unused-vars
      // result({ data, loading, error }) {
      //   this.loading = loading;
      //   if (error) {
      //     this.$log.error(error);
      //     this.$eventHub.$emit('show-alert', {
      //       alert: true,
      //       type: 'error',
      //       message: 'The worktokens query error',
      //     });
      //   }
      // },
      // eslint-disable-next-line no-unused-vars
    },
    jobOffers: {
      query: gql`query jobOffers(
          $filter: GraphQLJSON,
          $groupBy: String,
      ) {
        jobOffers(
          filter: $filter,
          groupBy: $groupBy,
        )
      }
      `,
      variables() {
        return {
          filter: {
            month: parseInt(moment().month(this.selectedMonth).format('M'), 10),
            year: parseInt(this.selectedYear, 10),
          },
          groupBy: this.selectedSetting === 'Total' ? 'Yearly' : this.selectedSetting,
        };
      },
      // eslint-disable-next-line no-unused-vars
      // result({ data, loading, error }) {
      //   this.loading = loading;
      //   if (error) {
      //     this.$log.error(error);
      //     this.$eventHub.$emit('show-alert', {
      //       alert: true,
      //       type: 'error',
      //       message: 'The worktokens query error',
      //     });
      //   }
      // },
      // eslint-disable-next-line no-unused-vars
    },
    jobAccepted: {
      query: gql`query jobAccepted(
          $filter: GraphQLJSON,
          $groupBy: String,
      ) {
        jobAccepted(
          filter: $filter,
          groupBy: $groupBy,
        )
      }
      `,
      variables() {
        return {
          filter: {
            month: parseInt(moment().month(this.selectedMonth).format('M'), 10),
            year: parseInt(this.selectedYear, 10),
          },
          groupBy: this.selectedSetting === 'Total' ? 'Yearly' : this.selectedSetting,
        };
      },
      // eslint-disable-next-line no-unused-vars
      // result({ data, loading, error }) {
      //   this.loading = loading;
      //   if (error) {
      //     this.$log.error(error);
      //     this.$eventHub.$emit('show-alert', {
      //       alert: true,
      //       type: 'error',
      //       message: 'The worktokens query error',
      //     });
      //   }
      // },
      // eslint-disable-next-line no-unused-vars
    },
    hoursWorked: {
      query: gql`query hoursWorked(
          $filter: GraphQLJSON,
          $groupBy: String,
      ) {
        hoursWorked(
          filter: $filter,
          groupBy: $groupBy,
        )
      }
      `,
      variables() {
        return {
          filter: {
            month: parseInt(moment().month(this.selectedMonth).format('M'), 10),
            year: parseInt(this.selectedYear, 10),
          },
          groupBy: this.selectedSetting === 'Total' ? 'Yearly' : this.selectedSetting,
        };
      },
    },
    usdDisbursed: {
      query: gql`query usdDisbursed(
          $filter: GraphQLJSON,
          $groupBy: String,
      ) {
        usdDisbursed(
          filter: $filter,
          groupBy: $groupBy,
        )
      }
      `,
      variables() {
        return {
          filter: {
            month: parseInt(moment().month(this.selectedMonth).format('M'), 10),
            year: parseInt(this.selectedYear, 10),
          },
          groupBy: this.selectedSetting === 'Total' ? 'Yearly' : this.selectedSetting,
        };
      },
      // eslint-disable-next-line no-unused-vars
      // result({ data, loading, error }) {
      //   this.loading = loading;
      //   if (error) {
      //     this.$log.error(error);
      //     this.$eventHub.$emit('show-alert', {
      //       alert: true,
      //       type: 'error',
      //       message: 'The worktokens query error',
      //     });
      //   }
      // },
      // eslint-disable-next-line no-unused-vars
    },
  },
};
</script>
