<template>
  <v-container>
    <div v-if="loading">
      <LoadingDialog :loading="true" />
    </div>
    <!-- <div v-else-if="error">
      Please refresh the browser.
    </div> -->
    <div v-else>
      <v-row>
        <v-btn
          id="btn-Timesheet-PaycycleBack"
          icon
          @click="payCycleBack"
        >
          <v-icon id="btn-Timesheet-PaycycleBack">
            mdi-arrow-left
          </v-icon>
        </v-btn>
        (<b>{{ $moment(payCycleStartTime).format('DD-MMM') }} </b> &nbsp; to &nbsp;
        <b>{{ $moment(payCycleEndTime).add(-1,'day').format('DD-MMM') }}</b>)
        <v-btn
          id="btn-Timsheet-PaycycleNenxt"
          icon
          @click="payCycleNext"
        >
          <v-icon id="btn-Timsheet-PaycycleNenxt">
            mdi-arrow-right
          </v-icon>
        </v-btn>
        <v-spacer />
        <access-blocker
          v-if="$AccessService.isPermitted('WRITE_TIMESHEET')"
          :features="['WRITE_ACCESS']"
        >
          <v-btn
            id="btn-TimesheetPage-Confirm"

            class="mr-3"
            color="white"
            small
            @click="confirmAll"
            v-html="'Confirm All'"
          />
        </access-blocker>

        <access-blocker
          v-if="$AccessService.isPermitted('WRITE_TIMESHEET')"
          :features="['WRITE_ACCESS']"
        >
          <ConfirmWorkTokensButton
            :organisation="organisation"
            :shifts="shifts"
            :shift="shifts[0]"
            :product-work-tokens="filteredProductWorkTokens"
            :work-tokens="filteredWorkTokens"
            :is-send-notification="isSendNotification"
            :time-range="timeRange"
          />
        </access-blocker>
      </v-row>
      <v-row class="ml-5 pl-5">
        ({{ moment().format('DD-MMM-YYYY') }})
      </v-row>

      <WorkTokenList
        v-if="fullWorkTokens != null || hybridWorkTokens != null ||
          workTokens != null && workTokens.length > 0"
        :organisation="organisation"
        :shifts="shifts"
        :work-tokens="workTokens"
        :product-work-tokens="filteredProductWorkTokens"
        :hybrid-work-tokens="hybridWorkTokens"
        :full-work-tokens="fullWorkTokens"
        :is-send-notification="isSendNotification"
        :pay-cycle-start-time="payCycleStartTime"
        :pay-cycle-end-time="payCycleEndTime"
        :filtered-work-tokens="filteredWorkTokens"
        :time-range="timeRange"
        class="fill-height"
      />
    </div>
    <v-dialog
      persistent
      width="500"
      v-model="futureMonthDialog"
    >
      <v-card width="500">
        <v-card-title>
          Do you want to go to a future month?
        </v-card-title>
        <v-card-actions>
          <v-container>
            <v-row>
              <v-spacer />
              <v-btn
                class="mr-1"
                @click="payCycleBack()"
              >
                No
              </v-btn>
              <v-btn
                class="ml-1"
                dark
                color="#C2232A"
                @click="futureMonthDialog=false"
              >
                Yes
              </v-btn>
            </v-row>
          </v-container>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import LoadingDialog from '@/components/Utils/Dialogs/LoadingDialog';
import WorkTokenList from '@/components/Payments/Lists/WorkTokenList';
import ConfirmWorkTokensButton from '@/components/Payments/Buttons/ConfirmWorkTokensButton';
import moment from 'moment';
import gql from 'graphql-tag';

const LEAVE_TYPES = ['LEAVE_SICK', 'LEAVE_PERSONAL', 'LEAVE_SPECIAL', 'LEAVE_UNPAID'];

export default {
  components: {
    LoadingDialog,
    WorkTokenList,
    ConfirmWorkTokensButton,
  },

  props: {
    // shift: {
    //   type: Object,
    //   default: () => {},
    // },
    shifts: {
      type: Array,
      default: () => [],
    },
    isSendNotification: {
      type: Boolean,
      default: () => true,
    },
    workTokenType: {
      type: String,
      default: () => null,
    },
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    moment,
    shift: {},
    testWorkTokens: [],
    workTokens: [],
    productWorkTokens: [],
    loading: false,
    payCycleStartTime: null,
    payCycleEndTime: null,
    futureMonthDialog: false,
  }),

  watch: {
    async shifts() {
      this.payCycleStartTime = await this.calendarStartDate();
      this.payCycleEndTime = await this.calendarEndDate();
    },
  },

  computed: {
    hybridWorkTokens() {
      if (this.workTokens == null) {
        return [];
      }
      const ret = this.workTokens.filter(e => e.type === 'HYBRID_TIMESHEET');
      return ret;
    },
    fullWorkTokens() {
      if (this.workTokens == null) {
        return [];
      }
      const ret = this.workTokens.filter(e => e.confirmed && !e.payNow);
      return ret;
    },
    filteredWorkTokens() {
      const workTokens = this.workTokens.filter(
        workToken => !LEAVE_TYPES.includes(workToken.type)
        && !workToken.payNow
        && workToken.type === 'STANDARD'
        && !!workToken.workTokenValue,
      );
      return workTokens.sort((a, b) => (new Date(a.checkinTime) - new Date(b.checkinTime)));
    },
    isCurrent() {
      const diff = moment(this.payCycleStartTime).diff(moment(), 'month');
      return diff === 0;
    },
    shiftId() {
      return this.shifts[0].id;
    },
    filteredProductWorkTokens() {
      return this.workTokens.filter(e => e.type === 'PRODUCT')
        .filter(e => moment(this.payCycleEndTime).diff(moment(e.checkinTime), 'days') >= 0);
    },
    timeRange() {
      return {
        from: this.payCycleStartTime,
        to: this.payCycleEndTime,
      };
    },
  },

  async mounted() {
    this.loading = true;
    this.payCycleStartTime = this.calendarStartDate();
    this.payCycleEndTime = this.calendarEndDate();
    this.loading = false;
    this.$eventHub.$on('refresh-worktokens', () => {
      this.$apollo.queries.workTokens.refetch();
    });
  },

  methods: {
    async payCycleBack() {
      this.payCycleStartTime = await moment(this.payCycleStartTime).add(-1, 'month');
      this.payCycleEndTime = await moment(this.payCycleEndTime).add(-1, 'month');
      this.futureMonthDialog = false;
      this.$apollo.queries.workTokens.refetch();
    },

    async payCycleNext() {
      this.payCycleStartTime = await moment(this.payCycleStartTime).add(1, 'month');
      this.payCycleEndTime = await moment(this.payCycleEndTime).add(1, 'month');
      if (moment().add(1, 'month').format('MM') === this.payCycleStartTime.format('MM')) {
        this.futureMonthDialog = true;
      }
      this.$apollo.queries.workTokens.refetch();
    },

    confirmAll() {
      for (let i = 0; i < this.workTokens.length; i += 1) {
        const workToken = this.workTokens[i];
        if (!LEAVE_TYPES.includes(workToken.type)) workToken.confirmed = true;
      }
      for (let i = 0; i < this.productWorkTokens.length; i += 1) {
        const workToken = this.productWorkTokens[i];
        if (!LEAVE_TYPES.includes(workToken.type)) workToken.confirmed = true;
      }
    },

    calendarStartDate() {
      const payCycle = this.organisation.payCycleMonthDays;
      const today = moment();
      let startTime = moment().set('date', payCycle[0]);
      const payCycleStart = moment().set('date', payCycle[0]);
      let { workTokens } = this;
      if (this.fullWorkTokens != null
        && this.fullWorkTokens.length > 0) {
        workTokens = this.fullWorkTokens;
      }
      if (workTokens != null && workTokens.length > 0) {
        startTime = moment(workTokens[0].checkinTime).add(1, 'day');
        if (startTime >= payCycleStart) {
          return payCycleStart.format('YYYY-MM-DD');
        }
        return payCycleStart.add(-1, 'M').format('YYYY-MM-DD');
      }
      if (today >= startTime) {
        return payCycleStart.format('YYYY-MM-DD');
      }
      return payCycleStart.add(-1, 'M').format('YYYY-MM-DD');
    },

    calendarEndDate() {
      const payCycle = this.organisation.payCycleMonthDays;
      let startTime = moment().set('date', payCycle[0]);
      const today = moment();
      const payCycleStart = moment().set('date', payCycle[0]);
      let { workTokens } = this;
      if (this.fullWorkTokens != null
        && this.fullWorkTokens.length > 0) {
        workTokens = this.fullWorkTokens;
      }
      if (workTokens != null && workTokens.length > 0) {
        startTime = moment(workTokens[0].checkinTime).add(1, 'day');
        if (startTime >= payCycleStart) {
          return moment().set('date', payCycle[1]).add(1, 'M').format('YYYY-MM-DD');
        }
        return moment().set('date', payCycle[1]).format('YYYY-MM-DD');
      }
      if (today >= startTime) {
        return moment().set('date', payCycle[1])
          .add(1, 'M')
          .format('YYYY-MM-DD');
      }
      return moment().set('date', payCycle[1]).format('YYYY-MM-DD');
    },

  },
  apollo: {
    workTokens: {
      query: gql`query workTokens(
          $filter: FilterType,
          $orderBy: String,
          $skip: Int,
          $first: Int,
      ) {
        workTokens(
          filter: $filter,
          orderBy: $orderBy,
          skip: $skip,
          first: $first,
        ) {
            id
            confirmed
            checkinTime
            checkoutTime
            payNow
            workTokenValue {
              fee
              amount
              method
            }
            worker {
              id
            }
            shift {
              id
              startTime
              endTime
              job {
                id
                type
                locationCoordinates {
                  type
                  coordinates
                }
              }
            }
            fiatTokens{
              id
              workToken{
                checkinTime
                checkoutTime
              }
              createdAt
              amount
              currency
              method
              coordinates
              transactionRef
            }
            references
            type
        }
      }
      `,
      variables() {
        return {
          filter: {
            query: {
              shiftId: { IN: this.shifts.map(e => e.id) },
              // shiftId: this.shifts[0].id,
              checkinTime: {
                GTE: this.moment(this.timeRange.from).toDate(),
                LTE: this.moment(this.timeRange.to).toDate(),
              },
            },
          },
          first: null,
          skip: 0,
          orderBy: 'createdAt',
        };
      },
      // eslint-disable-next-line no-unused-vars
      result({ data, loading, error }) {
        this.loading = loading;
        if (error) {
          this.$log.error(error);
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message: 'The worktokens query error',
          });
        }
      },
      // eslint-disable-next-line no-unused-vars
    },
  },
};
</script>
