<template>
  <v-expansion-panel-content
    v-if="data.currentAmount || data.currentPhone
      || data.currentNrc || data.currentPaymentCoordinates"
  >
    <div>
      <b style="color: orange"> {{ data.id }} </b> has conflict.
    </div>
    <div v-if="data.currentPhone">
      Current Phone: <b>{{ data.currentPhone }}</b> | New Phone: <b>{{ data.newPhone }}</b>
    </div>
    <div v-if="data.currentNrc">
      Current Nrc: <b>{{ data.currentNrc }}</b> | New Nrc: <b>{{ data.newNrc }}</b>
    </div>
    <div v-if="data.currentPaymentCoordinates">
      Current Coordinates: <b>{{ data.currentPaymentCoordinates }}</b>
      | New Coordinates: <b>{{ data.newPaymentCoordinates }}</b>
    </div>
    <div
      v-if="data.currentAmount && !data.currentPhone"
    >
      Current Amount: <b>{{ roundTo(data.currentAmount, 0) }}</b>
      <span v-if="data.khupay > 0"> Include KhuPay (<b>{{ roundTo(data.khupay, 0) }}</b>)</span>
      | New Amount: <b>{{ roundTo(data.newAmount, 0) }}</b>
      <v-row>
        <ConflictUpdateButton
          :work-token-values-ids="data.workTokenValuesIds"
          :current-amount="data.currentAmount"
          :new-amount="data.newAmount"
          :enable="enableButton"
          @isEnable="isEnable"
        />
        <ConflictKhupayUpdateButton
          v-if="data.khupay > 0"
          :work-token-values-ids="data.workTokenValuesIds"
          :khupay="data.khupay"
          :current-amount="data.currentAmount"
          :new-amount="data.newAmount"
          :enable="enableButton"
          @isEnable="isEnable"
        />
        <v-btn
          id="btn-DisbursementPage-DisbursementConflictsDialog-UndoProcess"
          class="ml-5"
          color="normal"
          small
          @click="undoProcess"
          v-html="'Undo'"
        />
      </v-row>
    </div>
  </v-expansion-panel-content>
</template>
<script>
import ConflictUpdateButton from '@/components/Payments/Buttons/ConflictUpdateButton';
import ConflictKhupayUpdateButton from '@/components/Payments/Buttons/ConflictKhupayUpdateButton';

export default {
  components: {
    ConflictUpdateButton,
    ConflictKhupayUpdateButton,
  },

  props: {
    data: {
      type: Object,
      default: () => false,
    },
  },

  data: () => ({
    enableButton: true,
    // dialog: false,
  }),

  computed: {
  },

  watch: {
  },

  mounted() {
  },

  methods: {
    isEnable(value) {
      this.enableButton = value;
    },
    async undoProcess() {
      await this.$PaymentService.updateWorkTokenValues({
        workTokenValuesIds: this.data.workTokenValuesIds,
        amountConflictDifference: 0,
      })
        .catch(err => this.$log.error(err))
        .then(() => {
          this.enableButton = true;
        });
    },
  },
};
</script>
