<template>
  <v-expansion-panel-content>
    <b style="color: orange">{{ data.phone }}</b> is missing from file.
  </v-expansion-panel-content>
</template>
<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => false,
    },
  },

  data: () => ({
    // dialog: false,
  }),

  computed: {
  },

  watch: {
  },

  mounted() {
  },

  methods: {
  },
};
</script>
