<template>
  <v-container>
    <v-card
      elevation="4"
      style="
          height: calc(100vh - 172px); overflow-y: scroll; overflow-x: hidden;"
    >
      <v-list-item-group
        v-if="uniqueWorkers.length > 0"
        color="primary"
      >
        <div
          v-for="(worker, i) in uniqueWorkers"
          :key="i"
          two-line
        >
          <v-list-item
            two-line
            @click="selectWorker(worker)"
          >
            <v-list-item-avatar
              v-if="isSelected(worker.id)"
              color="primary"
            >
              <v-icon
                color="white"
              >
                mdi-check
              </v-icon>
            </v-list-item-avatar>
            <v-list-item-avatar
              v-else
            >
              {{ `${i + 1}.` }}
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title v-text="`${worker.name} ${worker.request}`" />
              <v-list-item-subtitle>
                {{ worker.phone }} | {{ worker.identification }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <v-divider />
        </div>
      </v-list-item-group>
      <div v-else>
        <v-skeleton-loader
          v-for="(s, i) in new Array(10)"
          :key="i"
          class="mx-auto my-1"
          type="list-item-two-line, divider"
        />
      </div>
    </v-card>
  </v-container>
</template>

<script>
/* eslint-disable no-param-reassign */


export default {
  props: {
    shifts: {
      type: Array,
      default: () => [],
    },
  },

  data: () => ({
    selectedShift: {},
    selectedWorker: {},
    workTokens: [],
  }),

  computed: {

    unconfirmedShifts() {
      const ret = this.shifts.filter(shift => shift.worker != null && shift.unconfirmed);
      return ret;
    },
    uniqueWorkers() {
      const unconfirmedShifts = this.shifts
        .filter(shift => shift.worker != null && shift.unconfirmed);
      const workers = unconfirmedShifts
        .map((shift) => {
          const { worker } = shift;
          if (shift.currentTimesheetConfirm === 'khupay') {
            return {
              __typename: 'Worker',
              languageSetting: worker.languageSetting,
              paymentCoordinates: worker.paymentCoordinates,
              paymentCurrency: worker.paymentCurrency,
              id: worker.id,
              request: '( KHUPAY )',
              name: worker.name,
              verified: worker.verified,
              identification: worker.identification,
              phone: worker.phone,
            };
          }
          if (shift.currentTimesheetConfirm === 'productprocessingfee') {
            worker.request = '( PROCESSING FEE )';
            return {
              __typename: 'Worker',
              languageSetting: worker.languageSetting,
              paymentCoordinates: worker.paymentCoordinates,
              paymentCurrency: worker.paymentCurrency,
              id: worker.id,
              request: '( PROCESSING FEE )',
              name: worker.name,
              verified: worker.verified,
              identification: worker.identification,
              phone: worker.phone,
            };
          }
          if (shift.currentTimesheetConfirm === 'productinstalment') {
            return {
              id: worker.id,
              request: '( INSTALMENT )',
              name: worker.name,
              verified: worker.verified,
            };
          }
          if (shift.unconfirmedLeaves && shift.unconfirmedLeaves.length > 0) {
            return {
              __typename: 'Worker',
              languageSetting: worker.languageSetting,
              paymentCoordinates: worker.paymentCoordinates,
              paymentCurrency: worker.paymentCurrency,
              id: worker.id,
              request: '( LEAVE )',
              name: worker.name,
              verified: worker.verified,
              identification: worker.identification,
              phone: worker.phone,
            };
          }
          if (shift.currentTimesheetConfirm === 'currentpayroll') {
            return {
              __typename: 'Worker',
              languageSetting: worker.languageSetting,
              paymentCoordinates: worker.paymentCoordinates,
              paymentCurrency: worker.paymentCurrency,
              id: worker.id,
              request: '( PAYROLL )',
              name: worker.name,
              verified: worker.verified,
              identification: worker.identification,
              phone: worker.phone,
            };
          }
          if (shift.currentTimesheetConfirm === 'previouspayroll') {
            return {
              __typename: 'Worker',
              languageSetting: worker.languageSetting,
              paymentCoordinates: worker.paymentCoordinates,
              paymentCurrency: worker.paymentCurrency,
              id: worker.id,
              request: '( PAYROLL )',
              name: worker.name,
              verified: worker.verified,
              identification: worker.identification,
              phone: worker.phone,
            };
          }
          return {
            __typename: 'Worker',
            languageSetting: worker.languageSetting,
            paymentCoordinates: worker.paymentCoordinates,
            paymentCurrency: worker.paymentCurrency,
            id: worker.id,
            request: '',
            name: worker.name,
            verified: worker.verified,
            identification: worker.identification,
            phone: worker.phone,
          };
        })
        .filter(worker => worker.verified)
        .sort((a, b) => ((a.name > b.name) ? 1 : -1));
      const sortedWorker = workers
        // eslint-disable-next-line no-nested-ternary
        .sort((x, y) => (x.request !== '' ? -1 : y.request !== '' ? 1 : 0));
      // return sortedWorker;
      const uniqueWorker = workers.filter((worker, index) => {
        const strworker = JSON.stringify(worker);
        return index === workers.findIndex(obj => JSON.stringify(obj) === strworker);
      });
      // const uniqueWorker = workers.filter((w, index) => workers.indexOf(w) === index);
      // const retSet = new Set(sortedWorker);
      return Array.from(uniqueWorker);
    },
  },

  async mounted() {
    this.$log.debug('shifts...', this.unconfirmedShifts);
  },

  methods: {
    isSelected(workerId) {
      return this.selectedWorker.id === workerId;
    },
    selectWorker(worker) {
      let shifts;
      if (this.isSelected(worker.id)) {
        this.selectedWorker = {};
        shifts = [];
      } else {
        this.selectedWorker = worker;
        shifts = this.unconfirmedShifts.filter(shift => shift.worker.id === worker.id);
      }
      this.$emit('shiftsSelected', shifts);
    },
    selectShift(shift) {
      this.selectedShift = shift;
      this.$emit('shiftSelected', shift);
    },
  },
};
</script>
