<template>
  <v-flex>
    <v-layout
      style="justify-content: space-between"
    >
      <v-btn
        color="primary"
        @click="confirmAll"
      >
        Confirm All
      </v-btn>
      <ConfirmWorkTokensButton
        :shifts="shifts"
        :shift="shifts[0]"
        :work-tokens="workTokens"
        :is-send-notification="isSendNotification"
      />
    </v-layout>
    <v-list
      style="height: 75vh; overflow: scroll;"
    >
      <v-list-item
        v-for="(workToken, i) in filteredWorkTokens"
        :key="i"
      >
        <v-list-item-content>
          <v-layout
            style="width: 100%;"
          >
            <v-row>
              <v-col>
                <WorkTokenTimeLabel
                  style="width: 100%;"
                  :color="getWorkTokenColor(workToken)"
                  :work-token="workToken"
                />
              </v-col>
              <v-col>
                <WorkTokenFlagsLabel
                  :work-token="workToken"
                />
              </v-col>
              <v-col>
                <v-btn
                  color="green"
                  @click="changeConfirmedStatus(workToken, true)"
                >
                  <v-icon>check</v-icon>
                </v-btn>
                <v-btn
                  color="red"
                  @click="changeConfirmedStatus(workToken, false)"
                >
                  <v-icon>close</v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </v-layout>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-flex>
</template>

<script>
import WorkTokenTimeLabel from '@/components/Payments/Labels/WorkTokenTimeLabel';
import ConfirmWorkTokensButton from '@/components/Payments/Buttons/ConfirmWorkTokensButton';
import WorkTokenFlagsLabel from '@/components/Timesheets/Labels/WorkTokenFlagsLabel';

export default {
  components: {
    WorkTokenTimeLabel,
    ConfirmWorkTokensButton,
    WorkTokenFlagsLabel,
  },

  props: {
    shift: {
      type: Object,
      default: () => {},
    },
    shifts: {
      type: Array,
      default: () => [],
    },
    workTokens: {
      type: Array,
      default: () => [],
    },
    isSendNotification: {
      type: Boolean,
      default: () => true,
    },

  },

  methods: {
    getWorkTokenColor(workToken) {
      const { confirmed } = workToken;
      if (confirmed == null) {
        return 'blue';
      }
      if (confirmed) {
        return 'green';
      }
      return 'red';
    },
    changeConfirmedStatus(workToken, status) {
      // eslint-disable-next-line no-param-reassign
      workToken.confirmed = status;
    },
    confirmAll() {
      for (let i = 0; i < this.workTokens.length; i += 1) {
        this.workTokens[i].confirmed = true;
      }
    },
  },

  computed: {
    filteredWorkTokens() {
      return this.workTokens.filter(workToken => !workToken.payNow);
    },
  },

  // created() {
  //   this.workTokens = this.workTokens.filter(workToken => workToken.confirmed == null);
  // },
};
</script>

<style scoped>
.flex >>> button {
  color: #fff;
}
</style>
