<template>
  <v-container class="pa-0">
    <v-row style="overflow-y: scroll; height: calc(100vh - 236px); ">
      <v-col>
        <v-responsive
          :aspect-ratio="16/9"
          height="calc(100vh)"
          min-height="500px"
        >
          <v-calendar
            :start="startDate"
            :end="endDate"
            type="custom-weekly"
            color="primary"
          >
            <template
              v-slot:day="{ date }"
            >
              <v-row
                dense
                v-if="leaveTokens.some(e => $moment(e.references[0].leaveStart)
                  .format('YYYY-MM-DD') == date )"
                no-gutters
                align="center"
                justify="center"
              >
                <v-chip
                  x-small
                  @click="leaveDialog = true"
                  :color="leaveTokens
                    .filter(e => $moment(e.references[0].leaveStart)
                      .format('YYYY-MM-DD') == date)[0].confirmed
                    ? 'success' : leaveTokens
                      .filter(e => $moment(e.references[0].leaveStart)
                        .format('YYYY-MM-DD') == date)[0].confirmed === false ? 'error' : ''"
                >
                  {{ getFormattedLeaveType(leaveTokens
                    .filter(e => $moment(e.references[0].leaveStart).format('YYYY-MM-DD') == date)
                    [0]) }}
                </v-chip>
              </v-row>
              <v-row
                dense
                v-else-if="timesheetWorkTokens.some(e => $moment(e.checkinTime)
                  .format('YYYY-MM-DD') == date ) && timesheetMode==='FULL'"
              >
                <v-spacer @click="showDetailDialog(date)" />
                <v-btn
                  id="btn-Timesheet-WorkTokenFlags"
                  class="ma-0"
                  x-small
                  text
                  @click="showDetailDialog(date)"
                >
                  <WorkTokenFlagsLabel
                    id="btn-TimesheetPage-WorkTokenFlags"
                    v-if="timesheetMode !== 'HYBRID'"
                    :work-token="workTokens.filter(e => $moment(e.checkinTime)
                      .format('YYYY-MM-DD') == date)[0]"
                  />
                </v-btn>
                <v-spacer @click="showDetailDialog(date)" />
              </v-row>
              <v-row
                dense
                v-else-if="hybridWorkTokens.some(e => $moment(e.checkinTime)
                  .format('YYYY-MM-DD') == date ) && timesheetMode==='HYBRID'
                  && $moment(date) >= $moment(startDate)"
              >
                <v-spacer @click="showDetailDialog(date)" />
                <v-btn
                  id="btn-TimesheetPage-WorkTokenFlags"
                  class="ma-0"
                  x-small
                  text
                  @click="showDetailDialog(date)"
                >
                  <WorkTokenFlagsLabel
                    v-if="timesheetMode !== 'HYBRID'"
                    :work-token="workTokens.filter(e => $moment(e.checkinTime)
                      .format('YYYY-MM-DD') == date)[0]"
                  />
                  <WorkTokenFlagsLabel
                    v-else-if="hybridWorkTokens.filter(e => $moment(e.checkinTime)
                      .format('YYYY-MM-DD') == date).length > 0"
                    :work-token="hybridWorkTokens.filter(e => $moment(e.checkinTime)
                      .format('YYYY-MM-DD') == date)[0]"
                  />
                </v-btn>
                <v-spacer @click="showDetailDialog(date)" />
              </v-row>
              <v-row
                dense
                v-else-if="fullWorkTokens.some(e => $moment(e.checkinTime)
                  .format('YYYY-MM-DD') == date ) && timesheetMode==='FULL'
                  && $moment(date) >= $moment(startDate)"
              >
                <v-spacer @click="showDetailDialog(date)" />
                <v-btn
                  id="btn-Timesheet-WorkTokenFlags"
                  class="ma-0"
                  x-small
                  text
                  @click="showDetailDialog(date)"
                >
                  <WorkTokenFlagsLabel
                    v-if="timesheetMode !== 'FULL'"
                    :work-token="workTokens.filter(e => $moment(e.checkinTime)
                      .format('YYYY-MM-DD') == date)[0]"
                  />
                  <WorkTokenFlagsLabel
                    v-else-if="fullWorkTokens.filter(e => $moment(e.checkinTime)
                      .format('YYYY-MM-DD') == date).length > 0"
                    :work-token="fullWorkTokens.filter(e => $moment(e.checkinTime)
                      .format('YYYY-MM-DD') == date)[0]"
                  />
                </v-btn>
                <v-spacer @click="showDetailDialog(date)" />
              </v-row>

              <v-row
                v-if="completedWorkTokens.some(e => $moment(e.checkinTime)
                  .format('YYYY-MM-DD') == date )"
              >
                <v-spacer @click="showDetailDialog(date)" />
                <TimesheetCheckbox
                  v-for="(workToken, i) in completedWorkTokens
                    .filter(e => $moment(e.checkinTime).format('YYYY-MM-DD') == date)"
                  :key="i"
                  :work-token="workToken"
                />
                <v-spacer @click="showDetailDialog(date)" />
              </v-row>

              <v-row
                v-else-if="filteredWorkTokens.some(e => $moment(e.checkinTime)
                  .format('YYYY-MM-DD') == date )"
              >
                <v-spacer @click="showDetailDialog(date)" />
                <TimesheetCheckbox
                  v-for="(workToken, i) in filteredWorkTokens
                    .filter(e => $moment(e.checkinTime).format('YYYY-MM-DD') == date)"
                  :key="i"
                  :work-token="workToken"
                  @changeConfirmedStatus="changeConfirmedStatus"
                />
                <v-spacer @click="showDetailDialog(date)" />
              </v-row>
              <v-row
                v-else-if="productWorkTokens.some(e => $moment(e.checkinTime)
                  .format('YYYY-MM-DD') == date )"
              >
                <v-spacer @click="showDetailDialog(date)" />
                <TimesheetCheckbox
                  v-for="(workToken, i) in productWorkTokens
                    .filter(e => $moment(e.checkinTime).format('YYYY-MM-DD') == date)"
                  :key="i"
                  :work-token="workToken"
                  @changeConfirmedStatus="changeConfirmedStatus"
                />
                <v-spacer @click="showDetailDialog(date)" />
              </v-row>
              <v-row
                v-else
              >
                <v-spacer @click="showDetailDialog(date)" />
                <access-blocker
                  v-if="timesheetMode === 'FULL'"
                  :features="['WRITE_ACCESS']"
                >
                  <v-btn
                    id="btn-Timesheet-AddExtraWorkingDay"
                    icon
                    @click="openAddExtraWorkingDayDialog(date)"
                  >
                    <v-icon>
                      mdi-plus
                    </v-icon>
                  </v-btn>
                </access-blocker>
                <v-spacer @click="showDetailDialog(date)" />
              </v-row>
            </template>
          </v-calendar>
          <WorkTokenTimeDialog
            v-model="dialog"
            style="overflow-y:hidden"
            :timesheet-mode="timesheetMode"
            :shift="this.shifts[0]"
            :work-tokens="currentWorkTokens"
          />
          <v-dialog
            v-model="addExtraWorkingDayDialog"
            max-width="500px"
          >
            <v-card flat>
              <v-card-title>
                Are you sure want to add this day as working day.
              </v-card-title>
              <v-card-actions>
                <v-container>
                  <v-row>
                    <v-spacer />
                    <v-btn
                      id="btn-TimesheetPage-AddExtraWorkingDayDialog-Confirm"
                      class="ma-1"
                      dark
                      @click="addExtraWorkingDay"
                    >
                      Confirm
                    </v-btn>
                    <v-btn
                      id="btn-TimesheetPage-AddExtraWorkingDayDialog-Close"
                      class="ma-1"
                      color="default"
                      @click="addExtraWorkingDayDialog = false"
                    >
                      Close
                    </v-btn>
                  </v-row>
                </v-container>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <LeaveDialog
            v-model="leaveDialog"
            :shift-id="shifts[0].id"
            :organisation="organisation"
          />
        </v-responsive>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import moment from 'moment';
import TimesheetCheckbox from '@/components/Payments/CheckBoxes/TimesheetCheckbox';
import WorkTokenTimeDialog from '@/components/Payments/Dialogs/WorkTokenTimeDialog';
import LeaveDialog from '@/components/Payments/Dialogs/LeaveDialog';
import WorkTokenFlagsLabel from '@/components/Timesheets/Labels/WorkTokenFlagsLabel';

const LEAVE_TYPES = ['LEAVE_SICK', 'LEAVE_PERSONAL', 'LEAVE_SPECIAL', 'LEAVE_UNPAID'];
export default {
  components: {
    WorkTokenTimeDialog,
    LeaveDialog,
    // ConfirmLeaveTokensButton,
    TimesheetCheckbox,
    WorkTokenFlagsLabel,
    // LeaveCard,
  },

  props: {
    shift: {
      type: Object,
      default: () => {},
    },
    timeRange: {
      type: Object,
      default: () => {},
    },
    shifts: {
      type: Array,
      default: () => [],
    },
    workTokens: {
      type: Array,
      default: () => [],
    },
    productWorkTokens: {
      type: Array,
      default: () => [],
    },
    hybridWorkTokens: {
      type: Array,
      default: () => [],
    },
    fullWorkTokens: {
      type: Array,
      default: () => [],
    },
    isSendNotification: {
      type: Boolean,
      default: () => true,
    },
    organisation: {
      type: Object,
      default: () => {},
    },
    payCycleStartTime: {
      type: String,
      default: () => null,
    },
    payCycleEndTime: {
      type: String,
      default: () => null,
    },
    filteredWorkTokens: {
      type: Array,
      default: () => [],
    },
  },

  data: () => ({
    detailMenu: false,
    dialog: false,
    leaveDialog: false,
    addExtraWorkingDayDialog: false,
    currentWorkToken: {},
    currentWorkTokens: [],
    currentExtraWorkingDate: null,
  }),

  mounted() {
  },

  methods: {
    getFormattedLeaveType(leaveToken) {
      const { type } = leaveToken;
      if (type === 'LEAVE_SICK') return 'SICK LEAVE';
      if (type === 'LEAVE_PERSONAL') return 'PERSONAL LEAVE';
      if (type === 'LEAVE_SPECIAL') return 'OTHER LEAVES';
      if (type === 'LEAVE_UNPAID') return 'UNPAID LEAVE';
      return '';
    },
    openAddExtraWorkingDayDialog(day) {
      this.addExtraWorkingDayDialog = true;
      this.currentExtraWorkingDate = day;
    },
    async addExtraWorkingDay() {
      const shift = this.shifts[0];
      const args = {
        jobId: shift.job.id,
        shiftId: shift.id,
        workerId: shift.worker.id,
        numberRequested: 1,
        requestedDay: moment.utc(this.currentExtraWorkingDate).toDate(),
      };
      const ret = await this.$PaymentService.addExtraWorkingDay(args);
      if (ret != null) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Add working day successful.',
        });
        this.workTokens.push(ret.data.addExtraWorkingDay);
        this.addExtraWorkingDayDialog = false;
      }
    },
    async onAcceptLeave(leaveToken) {
      const args = {
        id: this.shifts[0].id,
        leaveToken,
      };
      const ret = this.$JobService
        .acceptLeave(args)
        .catch((err) => {
          this.loading = false;
          const { message } = err.graphQLErrors[0];
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message,
          });
        });
      if (ret) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Leave requests approved successfully!',
        });
        this.loading = false;
      }
    },
    async onRejectLeave(leaveToken) {
      const args = {
        id: this.shifts[0].id,
        leaveToken,
      };
      const ret = await this.$JobService
        .rejectLeave(args)
        .catch((err) => {
          this.loading = false;
          this.$log.error(err);
          const { message } = err.graphQLErrors[0];
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message,
          });
        });
      if (ret) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Leave requests rejected successfully!',
        });
      }
    },
    showDetailDialog(date) {
      if (this.timesheetMode === 'HYBRID') {
        this.currentWorkTokens = this.hybridWorkTokens
          .filter(e => this.$moment(e.checkinTime).format('YYYY-MM-DD') === date);
        if (this.currentWorkTokens.length === 0) {
          this.currentWorkTokens = this.filteredWorkTokens
            .filter(e => this.$moment(e.checkinTime).format('YYYY-MM-DD') === date);
        }
      } else if (this.timesheetMode === 'FULL') {
        this.currentWorkTokens = this.fullWorkTokens
          .filter(e => this.$moment(e.checkinTime).format('YYYY-MM-DD') === date);
        if (this.currentWorkTokens.length === 0) {
          this.currentWorkTokens = this.filteredWorkTokens
            .filter(e => this.$moment(e.checkinTime).format('YYYY-MM-DD') === date);
        }
      } else {
        this.currentWorkTokens = this.filteredWorkTokens
          .filter(e => this.$moment(e.checkinTime).format('YYYY-MM-DD') === date);
      }
      this.dialog = true;
    },
    getWorkTokenColor(workToken) {
      const { confirmed } = workToken;
      if (confirmed == null) {
        return 'blue';
      }
      if (confirmed) {
        return 'green';
      }
      return 'red';
    },
    changeConfirmedStatus(workToken, status) {
      // eslint-disable-next-line no-param-reassign
      workToken.confirmed = status;
      // this.showDetailDialog(workToken);
    },
    confirmAll() {
      for (let i = 0; i < this.workTokens.length; i += 1) {
        const workToken = this.workTokens[i];
        if (!LEAVE_TYPES.includes(workToken.type)) workToken.confirmed = true;
      }
      for (let i = 0; i < this.productWorkTokens.length; i += 1) {
        const workToken = this.productWorkTokens[i];
        if (!LEAVE_TYPES.includes(workToken.type)) workToken.confirmed = true;
      }
    },
  },

  computed: {
    timesheetWorkTokens() {
      return this.workTokens.filter(t => !LEAVE_TYPES.includes(t.type));
    },
    leaveTokens() {
      return this.workTokens.filter(t => LEAVE_TYPES.includes(t.type));
    },
    startDate() {
      if (this.payCycleStartTime != null) {
        return moment(this.payCycleStartTime).format('YYYY-MM-DD');
      }
      return this.calendarStartDate;
    },
    endDate() {
      if (this.payCycleEndTime != null) {
        return moment(this.payCycleEndTime).format('YYYY-MM-DD');
      }
      return this.calendarEndDate;
    },
    calendarStartDate() {
      const payCycle = this.organisation.payCycleMonthDays;
      const today = moment();
      let startTime = moment().set('date', payCycle[0]);
      const payCycleStart = moment().set('date', payCycle[0]);
      if (this.filteredWorkTokens.length > 0) {
        startTime = moment(this.filteredWorkTokens[0].checkinTime).add(1, 'day');
        if (startTime >= payCycleStart) {
          return payCycleStart.format('YYYY-MM-DD');
        }
        return payCycleStart.add(-1, 'M').format('YYYY-MM-DD');
      }
      if (today >= startTime) {
        return payCycleStart.format('YYYY-MM-DD');
      }
      return payCycleStart.add(-1, 'M').format('YYYY-MM-DD');
    },
    calendarEndDate() {
      const payCycle = this.organisation.payCycleMonthDays;
      let startTime = moment().set('date', payCycle[0]);
      const today = moment();
      const payCycleStart = moment().set('date', payCycle[0]);
      if (this.filteredWorkTokens.length > 0) {
        startTime = moment(this.filteredWorkTokens[0].checkinTime).add(1, 'day');
        if (startTime >= payCycleStart) {
          return moment().set('date', payCycle[1]).add(1, 'M').format('YYYY-MM-DD');
        }
        return moment().set('date', payCycle[1]).format('YYYY-MM-DD');
      }
      if (today >= startTime) {
        return moment().set('date', payCycle[1])
          .add(1, 'M')
          .format('YYYY-MM-DD');
      }
      return moment().set('date', payCycle[1]).format('YYYY-MM-DD');
    },
    // filteredWorkTokens() {
    //   let { workTokens } = this;
    //   workTokens = workTokens.filter(workToken => !workToken.payNow
    //   && !LEAVE_TYPES.includes(workToken.type));
    //   workTokens = workTokens.filter(e => e.type === 'STANDARD');
    //   return workTokens.sort((a, b) => (new Date(a.checkinTime) - new Date(b.checkinTime)));
    // },
    confirmedWorkTokens() {
      return this.workTokens.filter(workToken => workToken.confirmed
        && workToken.type === 'STANDARD');
    },
    completedWorkTokens() {
      return this.workTokens.filter(workToken => (workToken.payNow
        && (workToken.type === 'STANDARD')));
    },

    timesheetMode() {
      if (this.organisation.settings == null) return 'NONE';
      const workTokenSetting = this.organisation.settings.find(e => e.key === 'TIMESHEETING_FEATURE_LEVEL');
      return workTokenSetting.value;
    },
  },

  // created() {
  //   this.workTokens = this.workTokens.filter(workToken => workToken.confirmed == null);
  // },
};
</script>

<style scoped>
.flex >>> button {
  color: #fff;
}
</style>
