<template>
  <!-- <v-data-table
    :headers="headers"
    :items="deductions"
    class="elevation-1"
  >
    <template v-slot:items="props">
      <td>{{ props.item.type }}</td>
      <td>{{ props.item.amount }}</td>
      <td>{{ $moment(props.item.enabledDate).format('MMM D') }}</td>
      <td>{{ $moment(props.item.disabledDate).format('MMM D') }}</td>
      <td>{{ props.item.notes }}</td>
    </template>
  </v-data-table> -->
  <v-simple-table
    dense
  >
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">
            Type
          </th>
          <th class="text-left">
            Amount
          </th>
          <th class="text-left">
            Start
          </th>
          <th class="text-left">
            End
          </th>
          <th class="text-left">
            Notes
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(deduction, i) in deductions"
          :key="i"
        >
          <td>{{ deduction.type }}</td>
          <td>{{ deduction.amount }}</td>
          <td>{{ moment(deduction.enabledDate).format('MMM D') }}</td>
          <td>{{ moment(deduction.disabledDate).format('MMM D') }}</td>
          <td>{{ deduction.notes }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script>
import moment from 'moment';

export default {
  props: {
    deductions: {
      type: Array,
      default: () => [],
    },
  },

  data: () => ({
    moment,
  }),
};
</script>
