<template>
  <v-flex>
    <div>Parents: {{ taxConfigurations.parents }}</div>
    <div>Children: {{ taxConfigurations.children }}</div>
    <div>Spouse: {{ taxConfigurations.spouse }}</div>
    <div>Social Security Fee: {{ taxConfigurations.socialSecurityFee }}</div>
  </v-flex>
</template>

<script>
export default {
  props: {
    taxConfigurations: {
      type: Object,
      default: () => {},
    },
  },
};
</script>
