<template>
  <v-dialog
    :value="value"
    scrollable
    width="58vh"
  >
    <v-card>
      <v-card-title>
        Job Contract
      </v-card-title>
      <v-card-text>
        <div
          class="contract"
          v-html="contract.contract"
        />
        <v-checkbox
          v-if="!readonly"
          v-model="hasAccepted"
          label="I agree to the following contract"
        />
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn
          id="btn-any-ContractDialog-Close"
          text
          @click="$emit('input', false)"
          v-html="'Close'"
        />
        <v-btn
          id="btn-any-ContractDialog-Accep"
          v-if="!readonly"
          class="jobdoh"
          text
          :disabled="!hasAccepted"
          @click="$emit('accept')"
          v-html="$t('accept')"
        />
      </v-card-actions>
    </v-card>
    <!-- <template v-slot:activator="{on}">
      <slot>
        <v-chip v-on="on">
          View Contract
        </v-chip>
      </slot>
    </template> -->
  </v-dialog>
</template>

<script>
// import gql from 'graphql-tag';
/* eslint-disable vue/require-default-prop */

export default {
  props: {
    value: {
      type: Boolean,
      required: true,
    },
    readonly: {
      type: Boolean,
      default: false,
    },
    contract: Object,
  },

  data() {
    return {
      hasAccepted: false,
    };
  },
};
</script>

<style scoped>
.contract >>> h3{
  display: inline-block !important;
}
</style>
