<template>
  <v-layout
    row
    wrap
    justify-center
    align-center
  >
    <v-flex
      align-center
      xs12
      sm10
    >
      <v-row>
        <v-spacer />
        <span class="display-1">Create a Job</span>
        <v-spacer />
      </v-row>

      <v-stepper
        style="overflow: auto; height: 80vh"
        v-model="step"
        vertical
      >
        <v-stepper-header
          color="blue"
        >
          <v-stepper-step
            step="1"
            :complete="step > 1"
          >
            ROLE
          </v-stepper-step>
          <v-divider />
          <v-stepper-step
            step="2"
            :complete="step > 2"
          >
            MODE
          </v-stepper-step>
          <v-divider />
          <v-stepper-step
            step="3"
            :complete="step > 3"
          >
            REQUIREMENTS
          </v-stepper-step>
          <v-divider />
          <v-stepper-step
            step="4"
            :complete="step > 4"
          >
            TIME
          </v-stepper-step>
          <v-divider />
          <v-stepper-step
            step="5"
            :complete="step > 5"
          >
            PAYMENT
          </v-stepper-step>
          <v-divider />
          <v-stepper-step
            step="6"
            :complete="step > 6"
          >
            LOCATION
          </v-stepper-step>
          <v-divider />
          <v-stepper-step
            step="7"
            :complete="step> 7"
          >
            COMPANY INFORMATION
          </v-stepper-step>
          <v-divider />
        </v-stepper-header>
        <v-stepper-items class="ma-5">
          <v-stepper-content step="1">
            <RoleForm
              :job="job"
              :organisation="organisation"
              :temp-id="tempId"
              :temp-jobs="tempJobs"
              @selectTempJob="selectTempJob"
            />
          </v-stepper-content>
          <v-stepper-content step="2">
            <ModeForm
              :job="job"
              :organisation="organisation"
              :temp-id="tempId"
            />
          </v-stepper-content>
          <v-stepper-content step="3">
            <RequirementsForm
              :job="job"
              :organisation="organisation"
              :temp-id="tempId"
            />
          </v-stepper-content>
          <v-stepper-content step="4">
            <TimeForm
              :job="job"
              :organisation="organisation"
              :temp-id="tempId"
            />
          </v-stepper-content>
          <v-stepper-content step="5">
            <PaymentForm
              :job="job"
              :organisation="organisation"
              :temp-id="tempId"
            />
          </v-stepper-content>
          <v-stepper-content step="6">
            <LocationForm
              :job="job"
              :organisation="organisation"
              :temp-id="tempId"
            />
          </v-stepper-content>
          <v-stepper-content step="7">
            <CompanyInformationForm
              :job="job"
              :organisation="organisation"
              :temp-id="tempId"
            />
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-flex>
  </v-layout>
</template>

<script>
import RoleForm from '@/components/Marketplaces/Jobs/Forms/RoleForm';
import ModeForm from '@/components/Marketplaces/Jobs/Forms/ModeForm';
import RequirementsForm from '@/components/Marketplaces/Jobs/Forms/RequirementsForm';
import TimeForm from '@/components/Marketplaces/Jobs/Forms/TimeForm';
import LocationForm from '@/components/Marketplaces/Jobs/Forms/LocationForm';
import PaymentForm from '@/components/Marketplaces/Jobs/Forms/PaymentForm';
import CompanyInformationForm from '@/components/Marketplaces/Jobs/Forms/CompanyInformationForm';

export default {
  components: {
    ModeForm,
    RoleForm,
    RequirementsForm,
    TimeForm,
    PaymentForm,
    LocationForm,
    CompanyInformationForm,
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    step: 1,
    job: {
      id: '',
      complete: false,
      organisationId: '',
      title: '',
      marketplaceId: '',
      jobRoleId: '',
      type: '',
      times: [],
      address: '',
      location: {},
      coordinates: '',
      notes: '',
      description: '',
      requirementDescription: '',
      skills: [],
      experience: '',
      benefits: [],
      isPortfolioRequired: false,
      paymentOption: 'HOURLY',
      renumerationValue: 0,
      paymentMethods: [],
      allowAdvancedPay: false,
      minShiftsBalance: 0,
      hoursPerWeek: 0,
      isOpenEnded: false,
      allowFlexibleTime: false,
      listingStartDate: null,
      listingEndDate: null,
    },
    tempId: '',
  }),

  asyncComputed: {
    async tempJobs() {
      const ret = await this.$IdbService.getTempJobsFromDb();
      this.$log.debug('jobs...', ret);
      return ret;
    },
  },

  mounted() {
    // this.job = this.$IdbService.getTempJobsFromDb();
    this.$root.$on('job-create-step', (step) => {
      this.step = step;
      // if (tempJobs.length > 0) {
      //   this.job = ;
      // }
    });
    this.$root.$on('job-create-set-temp-id', (id) => {
      this.$log.debug('tempId', id);
      this.tempId = id;
    });
    this.$root.$on('save-job-create-form-data', (job) => {
      this.$log.debug('info received', job);
      this.extractData(job);
    });
  },

  methods: {
    selectTempJob(id) {
      this.job = this.tempJobs.find(e => e.id === id);
      this.tempId = id;
    },
    extractData(job) {
      const keys = Object.keys(job);

      keys.forEach((key) => {
        this.job[key] = job[key];
      });
    },
  },
};
</script>
