<template>
  <div>
    <v-row
      no-gutters
      align="center"
      justify="center"
    >
      <span class="display-1 py-2">Create a Job</span>
    </v-row>
    <v-row
      no-gutters
    >
      <v-card
        flat
        width="100%"
      >
        <v-tabs
          v-model="tab"
          background-color="transparent"
          color="#C2232A"
          icons-and-text
          center-active
          show-arrows
          grow
        >
          <v-tabs-slider color="#C2232A" />

          <v-tab
            href="#tab-1"
          >
            ROLE
            <v-icon>mdi-account-network</v-icon>
          </v-tab>

          <v-tab href="#tab-2">
            JOB DESCRIPTION
            <v-icon>mdi-text</v-icon>
          </v-tab>

          <v-tab
            v-if="formType != 'OFFLINE'"
            href="#tab-3"
          >
            REQUIREMENTS
            <v-icon>mdi-star</v-icon>
          </v-tab>

          <v-tab href="#tab-4">
            TIME
            <v-icon>mdi-calendar-clock</v-icon>
          </v-tab>

          <v-tab href="#tab-5">
            PAYMENT
            <v-icon>mdi-cash-multiple</v-icon>
          </v-tab>

          <v-tab href="#tab-6">
            LOCATION
            <v-icon>mdi-map-marker-plus</v-icon>
          </v-tab>

          <v-tab
            v-if="formType != 'OFFLINE'"
            href="#tab-7"
          >
            COMPANY INFORMATION
            <v-icon>mdi-information</v-icon>
          </v-tab>
          <v-tab
            v-if="formType != 'OFFLINE'"
            href="#tab-8"
          >
            CONTRACT
            <v-icon>mdi-file-document</v-icon>
          </v-tab>
        </v-tabs>

        <v-divider />

        <v-tabs-items v-model="tab">
          <v-tab-item
            value="tab-1"
          >
            <RoleForm
              class="form"
              :job.sync="job"
              :temp-id.sync="tempId"
              :category-id.sync="job.jobCategoryId"
              :category.sync="job.category"
              :role-id.sync="job.jobRoleId"
              :role.sync="job.jobRole"
              :skills.sync="skills"
              :marketplace-id.sync="job.marketplaceId"
              :organisation="organisation"
              @save-job="createTempJob"
            />
          </v-tab-item>
          <v-tab-item
            value="tab-2"
          >
            <ModeForm
              class="form"
              :titles="job.jobRole.titles"
              :job-title.sync="job.title"
              :job-type.sync="job.type"
              :requirement-min-experience-level.sync="job.requirementMinExperienceLevel"
              :job-description.sync="job.description"
              :payment-option.sync="job.paymentOption"
              :benefits.sync="job.benefits"
              :listing-start-date.sync="job.listingStartDate"
              :listing-end-date.sync="job.listingEndDate"
              :form-type="formType"
              @save-job="overrideTempJob"
            />
          </v-tab-item>
          <v-tab-item
            v-if="formType != 'OFFLINE'"
            value="tab-3"
          >
            <RequirementsForm
              class="form"
              :requirement-description.sync="job.requirementDescription"
              :job-skills.sync="job.skills"
              :skills="skills"
              :job-role-id="job.jobRoleId"
              @save-job="overrideTempJob"
            />
          </v-tab-item>
          <v-tab-item
            value="tab-4"
          >
            <TimeForm
              class="form"
              v-if="formType != 'OFFLINE'"
              :listing-start-date.sync="job.listingStartDate"
              :listing-end-date.sync="job.listingEndDate"
              :times.sync="job.times"
              :vacancies.sync="job.vacancies"
              :allow-flexible-time.sync="job.allowFlexibleTime"
              :hours-per-week.sync="job.hoursPerWeek"
              :is-open-ended.sync="job.isOpenEnded"
              :form-type="formType"
              :job-type="job.type"
              @save-job="overrideTempJob"
            />
            <OfflineTimeForm
              class="form"
              v-else
              :job="job"
              :organisation="organisation"
              :temp-id="tempId"
            />
          </v-tab-item>
          <v-tab-item
            value="tab-5"
          >
            <PaymentForm
              class="form"
              :payment-option.sync="job.paymentOption"
              :payment-methods.sync="job.paymentMethods"
              :renumeration-value.sync="job.renumerationValue"
              :allow-advanced-pay.sync="job.allowAdvancedPay"
              :organisation="organisation"
              @save-job="overrideTempJob"
            />
          </v-tab-item>
          <v-tab-item
            value="tab-6"
          >
            <LocationForm
              class="form"
              :location-coordinates.sync="job.locationCoordinates"
              :job-address.sync="job.address"
              :notes.sync="job.notes"
              :form-type="formType"
              :job="job"
              :organisation="organisation"
              @save-job="overrideTempJob"
            />
          </v-tab-item>
          <v-tab-item
            value="tab-7"
          >
            <CompanyInformationForm
              class="form"
              :proxy-company-name.sync="job.proxyCompanyName"
              :proxy-company-description.sync="job.proxyCompanyDescription"
              :proxy-employer-name.sync="job.proxyEmployerName"
              :proxy-company-contact.sync="job.proxyCompanyContact"
              :proxy-company-address.sync="job.proxyCompanyAddress"
              :benefits.sync="job.benefits"
              @save-job="overrideTempJob"
            />
          </v-tab-item>
          <v-tab-item
            value="tab-8"
          >
            <JobContractForm
              class="form"
              :job="job"
              :organisation="organisation"
              :temp-id="tempId"
            />
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </v-row>
  </div>
</template>

<script>
import RoleForm from '@/components/Marketplaces/Jobs/Forms/RoleForm';
import ModeForm from '@/components/Marketplaces/Jobs/Forms/ModeForm';
import RequirementsForm from '@/components/Marketplaces/Jobs/Forms/RequirementsForm';
import TimeForm from '@/components/Marketplaces/Jobs/Forms/TimeForm';
import OfflineTimeForm from '@/components/Marketplaces/Jobs/Forms/OfflineTimeForm';
import LocationForm from '@/components/Marketplaces/Jobs/Forms/LocationForm';
import PaymentForm from '@/components/Marketplaces/Jobs/Forms/PaymentForm';
import CompanyInformationForm from '@/components/Marketplaces/Jobs/Forms/CompanyInformationForm';
import JobContractForm from '@/components/Marketplaces/Jobs/Forms/JobContractForm';
import moment from 'moment';

export default {
  components: {
    ModeForm,
    RoleForm,
    RequirementsForm,
    TimeForm,
    OfflineTimeForm,
    PaymentForm,
    LocationForm,
    CompanyInformationForm,
    JobContractForm,
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
    employer: {
      type: Object,
      required: true,
    },
    formType: {
      type: String,
      default: () => 'PUBLIC',
    },
  },

  data() {
    return {
      valid: false,
      tab: null,
      step: 1,
      job: {
        jobRole: {},
        category: null,
        id: '',
        jobCategoryId: '',
        complete: false,
        organisationId: this.organisation.id,
        title: '',
        marketplaceId: '5e1d54053998d418ddc644ba',
        jobRoleId: '',
        type: '',
        times: [],
        vacancies: 1,
        address: '',
        locationCoordinates: null,
        notes: '',
        description: '',
        requirementDescription: '',
        skills: [],
        experience: '',
        isPortfolioRequired: false,
        paymentOption: 'HOURLY',
        renumerationValue: 0,
        paymentMethods: [],
        allowAdvancedPay: true,
        minShiftsBalance: 0,
        hoursPerWeek: 0,
        isOpenEnded: true,
        allowFlexibleTime: false,
        listingStartDate: moment().format('YYYY-MM-DD'),
        listingEndDate: moment().add(1, 'months').format('YYYY-MM-DD'),
        benefits: this.organisation.benefits,
        proxyCompanyName: this.organisation.name,
        proxyCompanyDescription: this.organisation.description,
        proxyEmployerName: this.employer.name,
        proxyCompanyContact: this.organisation.phone,
        proxyCompanyAddress: this.organisation.address,
        requirementMinExperienceLevel: '',
      },
      tempId: '',
    };
  },


  computed: {
    skills() {
      return this.job.jobRole.jobSkills && this.job.jobRole.jobSkills.map(e => e.jobSkill);
    },
  },

  mounted() {
    this.$root.$on('job-create-step', (tab) => {
      this.tab = tab;
    });
    this.$root.$on('job-create-set-temp-id', (id) => {
      this.$log.debug('tempId', id);
      this.tempId = id;
    });
    this.$root.$on('save-job-create-form-data', (job) => {
      this.$log.debug('info received', job);
      this.extractData(job);
    });
    this.$root.$on('change-job-id', (id) => {
      this.job.id = id;
    });
  },

  methods: {
    createTempJob() {
      // add new job (with current data) in indexDB
      this.$IdbService.addTempJobToDb({ ...this.job, id: this.tempId });
    },
    overrideTempJob() {
      // override already existed temp job with current data
      this.$IdbService.editTempJobToDb({ ...this.job, id: this.tempId });
    },
    extractData(job) {
      const keys = Object.keys(job);

      keys.forEach((key) => {
        this.job[key] = job[key];
      });
    },
  },
};
</script>

<style scoped>
.form {
  height: calc(100vh - 179px);
}
</style>

<style>
.bottombar {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 59px;
  /* border-top: rgba(0, 0, 0, 0.12) solid;
  border-width: thin 0 0 0; */
}
</style>
