<template>
  <span>
    <v-chip
      v-if="!isDismissed"
      color="black"
      outlined
      class="mx-1"
      @click.stop="dismissWorker"
      @mousedown.stop
      @touchstart.stop
    >
      Dismiss
    </v-chip>
    <v-chip
      v-else
      color="black"
      outlined
      class="mx-1"
      @click.stop="dismissWorker"
      @mousedown.stop
      @touchstart.stop
    >
      Dismissed
    </v-chip>
  </span>
</template>

<script>
import moment from 'moment';

export default {
  components: {
  },

  props: {
    shift: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    errorMessage: '',
    dialog: false,
    menu: false,
    lastDay: null,
    valid: false,
  }),

  computed: {
    isDismissed() {
      return moment(this.shift.endTime).isBefore(moment().format('YYYY-MM-DD'));
    },
  },

  methods: {
    async dismissWorker() {
      //
      const endTime = new Date(this.shift.endTime);
      this.$log.info(endTime.getUTCHours(), endTime.getUTCMinutes());
      const lastDay = new Date(this.lastDay);
      lastDay.setUTCHours(endTime.getUTCHours());
      lastDay.setUTCMinutes(endTime.getUTCMinutes());
      this.$log.info(lastDay);

      const ret = await this.$JobService.updateShift({
        id: this.shift.id,
        endTime: lastDay,
      }).catch((err) => {
        this.$log.error(err);
        this.errorMessage = err.graphQLErrors[0].message;
      });

      if (ret) {
        const ret2 = await this.$WorkerService.dismissWorkerShift({
          id: this.shift.id,
        }).catch((err) => {
          this.$log.error(err);
          this.errorMessage = err.graphQLErrors[0].message;
        });

        if (ret2) {
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'success',
            message: 'Dismissed worker successfully',
          });
          this.dialog = false;
          this.$emit('complete');
        }
      }
    },
  },
};
</script>

<style>

</style>
