<template>
  <v-dialog
    v-model="dialog"
    persistent
    max-width="300px"
  >
    <template v-slot:activator="{ on }">
      <v-btn
        id="btn-any-OpenSpecialInviteDialog"
        v-if="shifts.filter(x => x.workerAccepted == false).length > 0"
        color="black white--text"
        outlined
        v-bind="$attrs"
        v-on="on"
        v-html="'Special Invite'"
      />
    </template>
    <v-card>
      <v-card-title>
        <v-alert
          :value="hasError"
          color="error"
          icon="warning"
          outlined
        >
          {{ errorMessage }}
        </v-alert>
        <span class="headline">
          Special Invite to Worker
        </span>
      </v-card-title>
      <v-card-text>
        <v-form v-model="valid">
          <v-text-field
            label="Worker Phone Number"
            v-model="phone"
            required
            :rules="[$Validate.required]"
          />
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn
          id="btn-SpecialInviteDialog-Cancel"
          color="black white--text"
          text
          flat
          @click="dialog = false"
          v-html="'Cancel'"
        >
          Cancel
        </v-btn>
        <v-btn
          id="btn-SpecialInviteDialog-Invite"
          color="black white--text"
          flat
          @click="offerShifts"
          :disabled="!valid"
          v-html="'Invite'"
        />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import gql from 'graphql-tag';

export default {
  props: {
    shifts: {
      type: Array,
      default: () => [],
    },
    organisation: {
      type: String,
      default: () => '',
    },
  },

  data: () => ({
    hasError: false,
    errorMessage: '',
    dialog: false,
    phone: '',
    valid: false,
  }),

  methods: {
    async offerShifts() {
      const { data } = await this.$apollo.query({
        query: gql`query workers($organisationId: ID, $phone: String) {
          workers(organisationId: $organisationId, phone: $phone) {
            id
            name
            verified
          }
        }`,
        variables: {
          organisationId: this.organisation,
          phone: this.phone,
        },
      }).catch(err => this.$log.info(err));

      const verifiedWorker = data.workers.find(worker => worker.verified);

      if (verifiedWorker == null) {
        this.hasError = true;
        this.errorMessage = `Cannot find an account with ${this.phone}`;
        return;
      }

      const ret = await Promise.all(this.shifts.map(shift => this.$JobService.offerShift({
        id: shift.id,
        workerId: verifiedWorker.id,
      })))
        .catch(err => this.$log.info(err));

      if (ret.length > 0) {
        this.dialog = false;
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Special invite to worker is successful.',
        });
      }
    },
  },
};
</script>
