<template>
  <div v-access="['WRITE_ACCESS']">
    <v-chip
      v-if="!shift.workComplete"
      id="btn-any-OpenDismissWorkerDialog"
      v-html="'Dismiss'"
      color="black"
      outlined
      class="mx-1"
      small
      @click.stop="onOpenDialog"
      @mousedown.stop
      @touchstart.stop
      :disabled="disabled"
    />
    <v-chip
      v-else-if="canGiveFeedback"
      @mousedown.stop
      @touchstart.stop
      @click.stop="onOpenDialog"
      outlined
      :color=" !existingFeedback ? 'red': '' "
      :small="small"
    >
      <v-icon
        small
        left
      >
        mdi-message-alert-outline
      </v-icon>
      Feedback
      <v-divider
        v-if="existingFeedbackValue || shift.workComplete"
        vertical
        class="mx-2"
      />
      <span
        v-if="existingFeedbackValue"
      >
        <i>{{ existingFeedbackValue.feedback.replace(/_/g, ' ').toLowerCase() }}</i>
      </span>
      <v-row
        v-else-if="shift.workComplete"
        no-gutters
        class="body-2"
      >
        <v-icon
          small
          class="mr-1"
        >
          mdi-information-outline
        </v-icon>
        Auto rating at {{ autoRatingAt | dateTime('DD MMM YYYY') }}
      </v-row>
    </v-chip>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
      eager
      scrollable
    >
      <v-card
        :loading="loading"
        :disabled="loading"
      >
        <v-card-title>
          <v-alert
            :value="errorMessage.length"
            color="error"
            icon="warning"
            outlined
          >
            {{ errorMessage }}
          </v-alert>
          <span
            class="headline"
            v-if="!existingFeedbackValue"
          >
            {{ shift.workComplete ? 'Give Feedback' : 'Dismiss Worker' }}
          </span>
          <v-list-item
            v-if="worker"
            class="px-0"
            v-ripple="false"
            @click="$emit('click-profile')"
          >
            <v-list-item-avatar color="grey">
              <v-img
                v-if="worker.profileUrl"
                :src="worker.profileUrl"
              />
              <v-icon
                v-else
                color="white"
              >
                mdi-account
              </v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title v-html="worker.name" />
            </v-list-item-content>
          </v-list-item>
        </v-card-title>
        <v-divider />


        <v-card-text class="pb-0">
          <FeedbackChat
            employer-view
            :worker-feedback="shift.feedbackToWorker"
            :employer-feedback="shift.feedbackToEmployer"
            @edit="edit = !edit"
          />
          <v-form
            v-if="!existingFeedback || edit"
            v-model="valid"
            ref="dismissform"
          >
            <v-divider class="my-4" />
            <v-menu
              v-if="!shift.workComplete"
              v-model="menu"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="lastDay"
                  label="Last Day of Work"
                  prepend-inner-icon="event"
                  readonly
                  outlined
                  v-on="on"
                  :rules="[$Validate.required]"
                />
              </template>
              <v-date-picker
                v-model="lastDay"
                @input="menu = false"
              />
            </v-menu>
            <v-text-field
              v-if="!shift.workComplete"
              v-model="dismissReason"
              label="Dismiss Reason"
              required
              outlined
            />

            <div v-if="canGiveFeedback">
              <v-subheader
                class="px-0"
                v-if="!shift.workComplete"
              >
                Give Feedback
                <v-icon
                  right
                  small
                >
                  mdi-message-alert-outline
                </v-icon>
              </v-subheader>

              <v-select
                outlined
                v-model="feedbackValue.feedback"
                :items="feedbacks"
                label="Feedback"
                :rules="feedback ? [$Validate.required] : []"
                :disabled="existingFeedback"
              />

              <v-textarea
                label="Note"
                outlined
                v-model="feedbackValue.note"
              />
            </div>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            id="btn-DismissWorkerDialog-Cancel"
            color="black white--text"
            text
            @click="dialog = false"
            v-html="'Close'"
          />
          <div v-if="!existingFeedback || edit">
            <v-btn
              v-if="shift.workComplete"
              color="black white--text"
              @click="onSendFeedback"
              :disabled="!valid"
              v-html="'Send Feedback'"
            />
            <v-btn
              v-else
              id="btn-DismissWorkerDialog-Dismiss"
              color="black white--text"
              @click="dismissWorker"
              :disabled="!valid"
              v-html="'Dismiss'"
            />
          </div>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import moment from 'moment';
import FeedbackChat from '@/components/Common/FeedbackChat';

const feedbackTypes = ['MUST_HIRE', 'WILL_HIRE_AGAIN', 'WILL_NOT_HIRE', 'ABSENT'];

export default {
  components: {
    FeedbackChat,
  },

  props: {
    shift: {
      type: Object,
      required: true,
    },
    disabled: Boolean,
    small: Boolean,
    // feedback: Boolean,
  },

  data: () => ({
    errorMessage: '',
    dialog: false,
    menu: false,
    lastDay: null,
    valid: false,
    dismissReason: '',
    feedbackValue: {},
    feedbacks: feedbackTypes.map(f => ({ value: f, text: f.replace(/_/g, ' ').toLowerCase() })),
    loading: false,
    edit: false,
  }),

  mounted() {
    this.feedbackValue = this.existingFeedbackValue || {};
  },

  computed: {
    autoRatingAt() {
      return moment(this.shift.completedAt).add(2, 'weeks').toDate();
    },
    worker() {
      return this.shift.worker;
    },
    existingFeedback() {
      return this.shift.feedbackToWorker;
    },
    existingFeedbackValue() {
      return this.existingFeedback
      && this.existingFeedback.feedbackValue
      && JSON.parse(this.existingFeedback.feedbackValue);
    },
    canGiveFeedback() {
      return this.shift.jobContract && !!this.shift.jobContract.id;
    },
  },

  methods: {
    onOpenDialog() {
      this.dialog = true;
      this.validate();
    },
    validate() {
      if (this.$refs.dismissform) setImmediate(this.$refs.dismissform.validate);
    },
    async onSendFeedback() {
      this.loading = true;
      await this.rateWorker()
        .then(() => {
          this.$eventHub.$emit('refetch-job-matching-page');
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'success',
            message: 'Sent feedback successfully',
          });
          this.$emit('gave-feedback');
        });
      this.dialog = false;
      this.loading = false;
    },
    async onDismissWorker() {
      this.loading = true;
      await this.dismissWorker();
      this.$emit('dismissed');
      this.loading = false;
    },
    rateWorker() {
      const { worker, jobContract } = this.shift;
      return this.$RatingService.rateWorker({
        jobContractId: jobContract && jobContract.id,
        workerId: worker && worker.id,
        value: JSON.stringify(this.feedbackValue),
      });
    },
    async dismissWorker() {
      const endTime = new Date(this.shift.endTime);
      this.$log.info(endTime.getUTCHours(), endTime.getUTCMinutes());
      const lastDay = new Date(this.lastDay);
      lastDay.setUTCHours(endTime.getUTCHours());
      lastDay.setUTCMinutes(endTime.getUTCMinutes());
      this.$log.info(lastDay);

      const ret = await this.$JobService.updateShift({
        id: this.shift.id,
        endTime: lastDay,
        dismissReason: this.dismissReason,
      }).catch((err) => {
        this.$log.error(err);
        this.errorMessage = err.graphQLErrors[0].message;
      });

      if (ret) {
        const ret2 = await this.$WorkerService.dismissWorkerShift({
          id: this.shift.id,
          dismissReason: this.dismissReason,
        }).catch((err) => {
          this.$log.error(err);
          this.errorMessage = err.graphQLErrors[0].message;
        });

        if (ret2) {
          if (this.feedbackValue.feedback) {
            await this.rateWorker();
          }
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'success',
            message: 'Dismissed worker successfully',
          });
          // this.$router.push({ name: 'view-jobs' });
          this.dialog = false;
          this.$emit('complete');
        }
      }
    },
  },
};
</script>
