<template>
  <v-container>
    <br>
    <h4>Last updated on 15th January, 2020</h4>
    <h3> {{ $t("faq") }} </h3>
    <br>
    <v-container
      style="height: 100%; overflow-y: scroll;"
    >
      <v-expansion-panels
        v-model="panel"
        multiple
      >
        <v-expansion-panel
          class="mb-3"
          v-for="i in totalQna"
          :key="i"
        >
          <v-expansion-panel-header :id="'question_'+i">
            {{ i }}) {{ $t(`question${i}`) }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <div
              :id="'answer_'+i"
              v-html="$t(`answer${i}`)"
            />
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-container>
  </v-container>
</template>
<script>
export default {
  props: {
  },

  data: () => ({
    language: null,
    totalQna: 0,
    panel: [],
  }),

  mounted() {
    this.$log.info('query', this.$route.query.lang);
    if (this.$route.query.lang === 'en') {
      this.totalQna = 29;
    } else if (this.$route.query.lang === 'mm') {
      this.totalQna = 26;
    } else if (this.$route.query.lang === 'zg') {
      this.totalQna = 26;
    }
    // this.language = this.$route.query.lang;
    this.$i18n.i18next.changeLanguage(this.$route.query.lang);


    const refName = this.$route.query.ref;
    // const element = this.$refs[refName];
    // this.$log.info({ element });
    // // element.scrollTop = element.scrollHeight;
    // const top = element.offsetTop;

    // window.scrollTo(0, top);
    this.$log.info(`question_${refName}`);
    setTimeout(() => {
      this.$log.info('hello i am time');
      document.getElementById(`question_${refName}`).scrollIntoView();
      this.panel.push(refName - 1);
    }, 1000);
  },

  watch: {
    $route(to, from) {
      if (from.name === 'faq') {
        this.$log.info(from.name);
        this.$destroy();
      }
    },
  },
};
</script>
