<template>
  <div>
    <br>
    <!-- <h3> {{ $t("faq") }} </h3> -->
    <br>
    <div
      class="ma-10 customStyle"
    >
      <div>{{ $t("ongoInfo1") }}</div><br>
      <div>{{ $t("ongoInfo2") }}</div>
      <div>{{ $t("ongoInfo3") }}</div><br>
      <div>{{ $t("ongoInfo4") }}</div>
      <br>
    </div>
  </div>
</template>
<script>
export default {
  props: {
  },

  data: () => ({
    language: null,
    totalQna: 0,
  }),

  mounted() {
    // if (this.$route.query.lang === 'en') {
    //   this.totalQna = this.$t('totalENQna');
    // } else if (this.$route.query.lang === 'mm') {
    //   this.totalQna = this.$t('totalMMQna');
    // } else if (this.$route.query.lang === 'zg') {
    //   this.totalQna = this.$t('totalZGQna');
    // }
    // this.language = this.$route.query.lang;
    this.$i18n.i18next.changeLanguage(this.$route.query.lang);
  },

  watch: {
    $route(to, from) {
      if (from.name === 'ongo') {
        this.$log.info(from.name);
        this.$destroy();
      }
    },
  },
};
</script>
<style scoped>
 .customStyle {
   margin-left: 10px;
   font-size: 15px;
 }
</style>
