<template>
  <v-container fluid>
    <v-row
      align="center"
      class="ma-3"
    >
      <v-select
        :items="ageGroups"
        v-model="ageGroup"
        label="Choose your age group."
      />
    </v-row>
    <v-row
      align="center"
      class="ma-3"
    >
      <v-select
        :items="genders"
        v-model="gender"
        label="Choose your gender."
      />
    </v-row>
    <v-row
      align="center"
      class="ma-3"
    >
      <v-select
        :items="maritalStatuses"
        v-model="maritalStatus"
        label="Choose your marital status."
      />
    </v-row>
    <v-row
      align="center"
      class="ma-3"
    >
      <v-text-field
        v-model="householdSize"
        label="Enter your family size."
      />
    </v-row>
    <v-row
      align="center"
      class="ma-3"
    >
      <v-text-field
        v-model="householdIncome"
        label="Enter your family income."
      />
    </v-row>
    <v-row
      align="center"
      class="ma-3"
    >
      <v-select
        :items="educations"
        v-model="highestEducationStatus"
        label="Choose your education level."
      />
    </v-row>
    <v-row
      align="center"
      class="ma-3"
    >
      <v-text-field
        v-model="childrenCount"
        label="Enter the number of children."
      />
    </v-row>
    <v-row
      align="center"
      class="ma-3"
    >
      <v-text-field
        v-model="race"
        label="Enter your race."
      />
    </v-row>
    <v-row
      align="center"
      class="ma-3"
    >
      <v-select
        :items="houses"
        v-model="houseStatus"
        label="Do you own or rent house?"
      />
    </v-row>
    <v-row
      align="right"
      class="ma-3"
    >
      <v-btn
        id="btn-SurveyPage-Submit"
        depressed
        dark
        color="#C2232A"
        @click="submitSurvey"
        v-html="'Submit'"
      />
    </v-row>
  </v-container>
</template>
<script>
import gql from 'graphql-tag';
import apollo from '@/assets/js/apollo';

export default {
  props: {
  },

  data: () => ({
    ageGroups: ['10-20', '20-30', '30-40', '40-50', '50-60', '60+'],
    genders: ['Male', 'Female', 'Other'],
    maritalStatuses: ['Married', 'Single'],
    houses: ['Own House', 'Rent House', 'Neither'],
    educations: ['Post Primary School', 'Primary School', 'Middle School', 'High School', 'University'],
    ageGroup: '',
    gender: '',
    maritalStatus: '',
    householdSize: 0,
    householdIncome: 0,
    highestEducationStatus: '',
    childrenCount: 0,
    race: '',
    houseStatus: '',
    isOwnHouse: true,
    contracts: [],
    workerId: '',
  }),

  mounted() {
  },

  methods: {
    async submitSurvey() {
      this.$store.dispatch('setToken', this.$route.query.token);
      const contracts = await this.contractsQuery(this.$route.query.workerId);
      this.$log.info('contracts', contracts);
      const ret = await this.$PaymentService.runCampaign({
        campaignId: 'GOAL1_LEVEL1',
        campaignData: {
          id: this.workerId,
          ageGroup: this.ageGroup,
          gender: this.gender,
          maritalStatus: this.maritalStatus,
          // eslint-disable-next-line radix
          householdSize: parseFloat(this.householdSize),
          // eslint-disable-next-line radix
          householdIncome: parseFloat(this.householdIncome),
          highestEducationStatus: this.highestEducationStatus,
          childrenCount: this.childrenCount,
          race: this.race,
          isOwnHouse: this.isOwnHouse,
          contractId: contracts[0].id,
        },
      })
        .catch((err) => {
          this.$log.info('err', err);
          this.$log.info('Survey error');
        });
      if (ret) {
        this.$log.info('Survey Already Submit');
      }
    },
    async contractsQuery(workerId) {
      this.$log.info('workerId', workerId);
      let result = [];
      const query = await apollo.defaultClient.query({
        query: gql`query contracts(
           $contractType: String,
           $workerId: String!
        ) {
        contracts(
             contractType: $contractType,
             workerId: $workerId
        ) {
          id
        }
      }
      `,
        variables: {
          contractType: 'GOAL1_LEVEL1',
          workerId,
        },
      })
        .catch((err) => {
          this.$log.info('contract error', err);
        });
      this.$log.info('contract query', query.data);
      if (query.data.contracts.length > 0) {
        result = query.data.contracts;
      }
      return result;
    },
  },

  watch: {
    $route(to, from) {
      if (from.name === 'survey') {
        this.$log.info(from.name);
        this.$destroy();
      }
    },
  },
};
</script>
