<template>
  <v-container class="pa-0">
    <v-row
      no-gutters
      class="py-4"
    >
      <span class="display-1 ml-4">Products</span>
      <v-spacer />
      <v-menu
        v-model="productCreateMenu"
        :close-on-content-click="false"
        :nudge-width="200"
        offset-y
        max-width="170"
        open-on-hover
        transition="slide-y-transition"
      >
        <template v-slot:activator="{ on }">
          <v-btn
            id="btn-ProductListPage-CreateProduct"
            class="jobdoh white--text mr-6 ml-2"
            color="default"
            v-on="on"
            depressed
            width="170"
            v-html="'Create Product'"
          />
        </template>
        <v-card>
          <v-list>
            <v-list-item
              @click="goto('create-product')"
            >
              <v-list-item-content>
                <v-list-item-title>
                  Create Product
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-menu>
    </v-row>
    <v-divider />
    <div
      style="overflow: auto; height: 75vh; overflow-x: hidden;"
    >
      <v-row no-gutters>
        <v-col>
          <div
            v-for="(product, i) in products"
            :key="i"
          >
            <ProductListCard
              :product="product"
            />
          </div>
        </v-col>
      </v-row>
    </div>
    <LoadingDialog :loading="loading" />
  </v-container>
</template>

<script>
import LoadingDialog from '@/components/Utils/Dialogs/LoadingDialog';
import ProductListCard from '@/components/Marketplaces/Products/Cards/ProductListCard';
import apollo from '@/assets/js/apollo';
import gql from 'graphql-tag';
// import fragments from '@/assets/js/gql/fragments';
// import mongoose from 'mongoose';

export default {
  components: {
    LoadingDialog,
    ProductListCard,
  },

  data: () => ({
    productCreateMenu: false,
    products: [],
    loading: false,
    refresh: false,
    receiveCode: null,
    confirmReceiveDialog: false,
    workerPanel: undefined,
  }),

  computed: {
    organisation() {
      return this.$store.getters.currentOrganisation;
    },
  },

  beforeRouteLeave(to, from, next) {
    this.$log.info('route change...');
    this.$destroy();
    next();
  },

  mounted() {
    this.loading = true;
    this.$eventHub.$on('refetch-product-list', () => {
      this.$log.debug('refetch-product-list');
      this.$apollo.queries.products.refetch();
    });
  },

  methods: {

    goto(routeName) {
      this.$router.push({ name: routeName });
    },
    async confirmReceived(productId) {
      const receipt = await this.receiptQuery();
      // this.status = 'Received';

      // this.isReceived = true;
      if (productId === receipt.product.id) {
        const ret = await this.$ProductService.updateReceipt({
          productId,
          workerId: receipt.worker.id,
          receivedAt: new Date(),
        });
        if (ret) {
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'success',
            message: 'Confirm receive successful.',
          });
        }
      } else {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'error',
          message: 'Can not confirm receive.',
        });
      }
      this.confirmReceiveDialog = false;
    },
    async receiptQuery() {
      // eslint-disable-next-line no-underscore-dangle
      // const _this = this;
      let result = [];
      const query = await apollo.defaultClient.query({
        query: gql`query receipt(
          $code: String
        ) {
        receipt(
          code: $code
        ) {
          id
          code
          product {
            id
          }
          worker {
            id
            name
          }
        }
      }
      `,
        variables: {
          code: this.receiveCode,
        },
      })
        .catch((err) => {
          this.$log.error(err);
          this.loading = false;
          this.$eventHub.$emit('show-alert', {
            type: 'error',
            message: err.graphQLErrors[0].message,
          });
        });
      if (query != null && query.data.receipt != null) {
        result = query.data.receipt;
      }
      return result;
    },
  },

  apollo: {
    products: {
      query: gql`query products($organisationId: String) {
        products(organisationId: $organisationId) {
          id
          lumpSum
          organisation {
            id
            name
          }
          listingStartDate
          listingEndDate
          deposit
          price
          title
          description
          productMetadata
          itemAttributes
          pickupInstructions
          pickupContact
        }
      }
      `,

      variables() {
        return {
          organisationId: this.organisation.id,
        };
      },

      result({ loading, error }) {
        if (error) {
          this.$log.error(error);
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message: 'The products query error',
          });
        }
        if (!loading) {
          this.loading = false;
        }
      },
    },
  },
};
</script>
