<template>
  <!-- remove it if has error -->
  <tr v-if="item != null && activityCount === 0">
    <td>
      <v-btn
        id="btn-DisbursementPage-OpenDetailsDialog"
        text
        icon
        @click="openDialog"
      >
        <v-icon id="btn-DisbursementPage-OpenDetailsDialog">
          mdi-file-document-box-outline
        </v-icon>
      </v-btn>
    </td>
    <td>{{ item.name }}</td>
    <td>{{ item.identification }}</td>
    <td>{{ item.paymentCoordinates }}</td>
    <td>{{ item.paymentMethod }}</td>
    <td>{{ formatAmount(item.totalAmount) }} {{ item && item.paymentCurrency }}</td>
    <td width="200">
      <v-btn-toggle>
        <DisbursementAddBonusButton
          v-if="item.totalFee == 0 && !hasDiscount"
          :shift="shift"
          :item="item"
          :last-work-token="item.workTokens.filter(e => e.type == 'STANDARD')[0]"
          :organisation="organisation"
          @reload-bonus="reloadBonus"
        />
        <DisbursementConfirmButton
          :shift="shift"
          :row-item="item"
          :organisation="organisation"
          :transactions-data="transactionsData"
          :work-token-values="item.currentWorkTokenValues"
          :discount-tokens="discountTokens"
          :time-range="timeRange"
          @disbursement-confirmed="disbursementConfirmed"
        />
      </v-btn-toggle>
    </td>
  </tr>
</template>

<script>
import gql from 'graphql-tag';
// import PhoneValidator from 'awesome-phonenumber';
import apollo from '@/assets/js/apollo';
import DisbursementConfirmButton from '@/components/Payments/Buttons/DisbursementConfirmButton';
import DisbursementAddBonusButton from '@/components/Payments/Buttons/DisbursementAddBonusButton';

export default {
  components: {
    DisbursementConfirmButton,
    DisbursementAddBonusButton,
  },

  props: {
    activityCount: {
      type: Number,
      default: () => 0,
    },
    shift: {
      type: Object,
      default: () => {},
    },
    organisation: {
      type: Object,
      default: () => {},
    },
    transactionsData: {
      type: Array,
      default: () => [],
    },
    item: {
      type: Object,
      default: () => null,
    },
  },

  data: () => ({
    // item: {},
    transactionObject: {},
    discountTokens: [],
    workTokens: [],
    khupayWorkTokens: [],
    timeRange: {},
  }),

  computed: {
    hasDiscount() {
      if (this.discountTokens.length > 0) {
        const requestedDiscountToken = this.discountTokens
          .find(discountToken => discountToken.status === 'REQUESTED');
        if (requestedDiscountToken != null) {
          this.$log.info('has requested discount');
          return true;
        }
      }
      return false;
    },
  },

  watch: {
  },

  async mounted() {
    this.$emit('updateActivityCount', 1);
    // this.item = await this.calculateRowData(this.workTokens, this.khupayWorkTokens);
    // this.discountTokens = await this.discountTokensQuery(this.shift.worker.id);
    const feeData = await this.getTotalFeeFromWorkTokenValues({
      workTokenValues: this.item.currentWorkTokenValues,
    }).data;
    feeData.method = this.item.paymentMethod;
    feeData.currency = this.item.paymentCurrency;
    this.$emit('getFeeArray', feeData);
    this.$nextTick(() => {
      this.$emit('updateActivityCount', -1);
    });
    // this.$log.debug('discountTokens', discountTokens);
  },

  methods: {
    disbursementConfirmed(shift) {
      this.$emit('disbursement-confirmed', shift);
    },
    openDialog() {
      this.$emit('openDialog', { shift: this.shift, item: this.item, workTokens: this.item.workTokens });
    },

    // async discountTokensQuery(workerId) {
    //   let result = [];
    //   const query = await apollo.defaultClient.query({
    //     query: gql`query discountTokens(
    //       $workerId: String!,
    //     ) {
    //     discountTokens(
    //       workerId: $workerId,
    //     ) {
    //       id
    //       discountPercent
    //       discountFixed
    //       status
    //     }
    //   }
    //   `,
    //     variables: {
    //       workerId,
    //     },
    //   })
    //     .catch((err) => {
    //       this.$log.debug('discount query errror', err);
    //     });
    //   if (query && query.data.discountTokens.length > 0) {
    //     result = query.data.discountTokens;
    //   }
    //   return result;
    // },

    async productWorkTokensQuery(shiftId) {
      let resultWorkTokens = [];
      const query = await apollo.defaultClient.query({
        query: gql`query workTokens(
          $filter: FilterType,
          $orderBy: String,
          $skip: Int,
          $first: Int,
        ) {
        workTokens(
          filter: $filter,
          orderBy: $orderBy,
          skip: $skip,
          first: $first,
        ) {
          id
          createdAt
          worker {
            id
          }
          workTokenValue{
            id
            amount
            amountConflictDifference
            fee
            method
            currency
            coordinates
            # expectedWorkTokenShift {
            #   id
            # }
            expectedWorkTokenType
            notes
            workToken{
              id
              confirmed
              payNow
              product {
                id
                title
              }
              worker{
                id
              }
            }
          }
          fiatTokens{
            id
            workToken{
              checkinTime
              checkoutTime
            }
            createdAt
            amount
            currency
            method
            coordinates
            transactionRef
          }
          checkinTime
          checkoutTime
          type
          confirmed
          payNow
          product {
            id
          }
        }
      }
      `,
        variables: {
          filter: {
            query: {
              shiftId,
              isProduct: true,
              unpaid: true,
            },
          },
          first: null,
          skip: 0,
          orderBy: 'createdAt',
        },
      })
        .catch((err) => {
          this.$log.debug('queryError', err);
        });
      if (query && query.data.workTokens.length > 0) {
        resultWorkTokens = query.data.workTokens;
      }
      return resultWorkTokens.filter(({ type }) => !['LEAVE_SICK', 'LEAVE_PERSONAL', 'LEAVE_SPECIAL', 'LEAVE_UNPAID'].includes(type));
    },

    async workTokensQuery(shiftId) {
      let resultWorkTokens = [];
      const query = await apollo.defaultClient.query({
        query: gql`query workTokens(
          $filter: FilterType,
          $orderBy: String,
          $skip: Int,
          $first: Int,
        ) {
        workTokens(
          filter: $filter,
          orderBy: $orderBy,
          skip: $skip,
          first: $first,
        ) {
          id
          createdAt
          worker {
            id
          }
          workTokenValue{
            id
            amount
            amountConflictDifference
            fee
            method
            currency
            coordinates
            expectedWorkTokenShift {
              id
            }
            expectedWorkTokenType
            notes
            workToken{
              id
              confirmed
              payNow
              product {
                id
                title
              }
              worker{
                id
              }
            }
          }
          fiatTokens{
            id
            workToken{
              checkinTime
              checkoutTime
            }
            createdAt
            amount
            currency
            method
            coordinates
            transactionRef
          }
          checkinTime
          checkoutTime
          type
          confirmed
          payNow
        }
      }
      `,
        variables: {
          filter: {
            query: {
              shiftId,
              unpaid: true,
            },
          },
          first: null,
          skip: 0,
          orderBy: 'createdAt',
        },
      })
        .catch((err) => {
          this.$log.debug('queryError', err);
        });
      if (query && query.data.workTokens.length > 0) {
        resultWorkTokens = query.data.workTokens;
      }
      return resultWorkTokens.filter(({ type }) => !['LEAVE_SICK', 'LEAVE_PERSONAL', 'LEAVE_SPECIAL', 'LEAVE_UNPAID'].includes(type));
    },
    async khupayWorkTokensQuery(shiftId, timeRange) {
      let resultWorkTokens = [];
      const query = await apollo.defaultClient.query({
        query: gql`query workTokens(
          $filter: FilterType,
          $orderBy: String,
          $skip: Int,
          $first: Int,
        ) {
        workTokens(
          filter: $filter,
          orderBy: $orderBy,
          skip: $skip,
          first: $first,
        ) {
          id
          fiatTokens{
            id
            workToken{
              checkinTime
              checkoutTime
            }
            createdAt
            amount
            currency
            method
            coordinates
            transactionRef
          }
        }
      }
      `,
        variables: {
          filter: {
            query: {
              shiftId,
              checkinTime: {
                GTE: timeRange.from.toDate(),
                LTE: timeRange.to.toDate(),
              },
            },
          },
          first: null,
          skip: 0,
          orderBy: 'createdAt',
          // unpaid: true,
        },
      })
        .catch((err) => {
          this.$log.debug('queryError', err);
        });
      if (query && query.data.workTokens.length > 0) {
        resultWorkTokens = query.data.workTokens;
      }
      return resultWorkTokens.filter(({ type }) => !['LEAVE_SICK', 'LEAVE_PERSONAL', 'LEAVE_SPECIAL', 'LEAVE_UNPAID'].includes(type));
    },
  },
};
</script>
