<template>
  <tr v-if="activityCount === 0">
    <td />
    <td>JOBDOH</td>
    <td />
    <td />
    <!-- <td>530353</td>
    <td>9967730220</td> -->
    <td>{{ feeData.method }}</td>
    <td>{{ feeData.amount.toFixed(0) }} {{ feeData.currency }}</td>
    <td />
  </tr>
</template>
<script>

export default {
  components: {
  },

  props: {
    feeData: {
      type: Array,
      default: () => [],
    },
    activityCount: {
      type: Number,
      default: () => 0,
    },
  },

  data: () => ({
  }),

  computed: {
    // totalFee() {
    //   return this.feeArray.reduce((a, b) => a + b, 0);
    // },
  },

  watch: {
  },

  mounted() {
    this.$emit('updateActivityCount', 1);
    this.$nextTick(() => {
      this.$emit('updateActivityCount', -1);
    });
  },

  methods: {

  },
};
</script>
