<template>
  <v-container
    style="height: 80vh; overflow-y: scroll;"
  >
    <v-card
      class="my-3 pa-3"
    >
      <v-layout
        class="px-5"
        justify-content="space-between"
        row
      >
        <v-flex
          sm6
          class="text-center"
          v-if="job.marketplace"
        >
          <v-flex
            v-if="job.marketplace.imageUrl"
          >
            Affiliate
          </v-flex>
          <v-img
            v-if="job.marketplace.imageUrl"
            width="100px"
            height="50px"
            :src="job.marketplace.imageUrl"
          />
        </v-flex>
        <v-flex
          sm6
          class="text-center"
        >
          <v-flex>Powered By</v-flex>
          <v-img
            width="50px"
            height="50px"
            src="https://firebasestorage.googleapis.com/v0/b/dotted-howl-158112.appspot.com/o/icon_256.png?alt=media&token=cab47d26-e737-4805-bf04-5577b30910cd"
          />
        </v-flex>
      </v-layout>
    </v-card>
    <div v-if="job.jobContracts.length > 0">
      <ContractDialog
        v-model="showContractDialog"
        readonly
        :contract="job.jobContracts[0]"
      />
      <v-btn
        id="btn-JobDetailPage-OpenContractDialog"
        @click="showContractDialog = true"
        v-html="'View Contract'"
      >
        View Contract
      </v-btn>
    </div>
    <v-card
      class="my-3 pa-3"
    >
      <v-flex
        row
        class="px-5"
        justify-content="space-between"
      >
        <v-flex class="subtitle-1">
          {{ job.organisation.name }}
        </v-flex>
        <v-flex class="headline">
          {{ jobType }}
        </v-flex>
      </v-flex>
      <v-flex class="headline">
        {{ job.title }}
      </v-flex>
      <v-flex class="subtitle-1">
        {{ salaryInfo }}
      </v-flex>
      <ShiftsList
        v-if="job.shifts"
        :shifts="job.shifts"
      />
      <v-flex>
        {{ job.address }}
      </v-flex>
    </v-card>

    <v-card
      class="my-3 pa-3"
    >
      <v-flex>
        <v-flex class="text-center title">
          ALLOWANCES & BENEFITS
        </v-flex>
        <v-flex
          v-for="(benefit, i) in job.benefits"
          :key="i"
          style="text-transform: capitalize;"
        >
          {{ benefit.replace(/_/g, ' ').toLowerCase() }}
        </v-flex>
      </v-flex>
    </v-card>

    <v-card
      class="my-3 pa-3"
    >
      <v-flex>
        <v-flex class="text-center title">
          JOB DESCRIPTION
        </v-flex>
        <v-textarea
          :value="job.description"
          :readonly="true"
          :auto-grow="true"
        />
      </v-flex>
    </v-card>

    <v-card
      class="my-3 pa-3"
    >
      <v-flex class="text-center title">
        JOB REQUIREMENTS
      </v-flex>
      <v-flex>
        <v-flex
          v-for="(skill, i) in job.jobSkillRequirements"
          :key="i"
        >
          <JobSkillRequirementLabel
            :job-skill-requirement="skill"
          />
        </v-flex>
      </v-flex>
      <v-flex
        v-if="job.isPortfolioRequired"
      >
        Portfolio is required for this job.
      </v-flex>
    </v-card>

    <v-card
      class="my-3 pa-3"
      v-if="job.organisation && job.proxyCompanyName == null"
    >
      <v-flex class="text-center title">
        ABOUT {{ job.organisation.name }}
      </v-flex>
      <v-flex>
        {{ job.organisation.description }}
      </v-flex>
    </v-card>

    <v-card
      class="my-3 pa-3"
      v-else-if="job.proxyCompanyName != ''"
    >
      <v-flex
        class="text-center title"
      >
        Posting Job on behalf of {{ job.proxyCompanyName }}
      </v-flex>
      <v-flex>
        {{ job.proxyCompanyDescription }}
      </v-flex>
    </v-card>

    <v-card
      class="my-3 pa-3"
      v-if="job.marketplace"
    >
      <v-flex class="text-center title">
        ABOUT {{ job.marketplace.name }}
      </v-flex>
      <v-flex>
        {{ job.marketplace.description }}
      </v-flex>
    </v-card>

    <v-flex>
      Posted: {{ $moment(job.createdAt).format('MMM D') }}
    </v-flex>
    <v-btn
      id="btn-JobDetailPage-Apply"
      color="success"
      style="width: 100%;"
    >
      <a
        href="https://jobdoh.page.link/tnrV"
        style="color: #fff"
        id="btn-JobDetailPage-Apply"
      >
        Apply
      </a>
    </v-btn>
  </v-container>
</template>

<script>
import ShiftsList from '@/components/Shifts/Lists/ShiftsList';
import JobSkillRequirementLabel from '@/components/Marketplaces/Jobs/Labels/JobSkillRequirementLabel';
import ContractDialog from '@/components/Marketplaces/Jobs/ContractDialog';

export default {
  components: {
    ShiftsList,
    JobSkillRequirementLabel,
    ContractDialog,
  },

  props: {
    job: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      showContractDialog: false,
    };
  },
  computed: {
    salaryInfo() {
      return `${this.job.renumerationCurrency} ${this.job.renumerationValue} ${this.job.paymentOption}`;
    },
    jobType() {
      if (this.job.type == null) {
        return '';
      }
      return (this.job.type === 'FULL_TIME') ? 'FT' : 'PT';
    },
  },

};
</script>

<style scoped>
.sumome-share-client {
  display: none !important;
}
.v-image {
  margin: 0 auto;
}
</style>
