<template>
  <div>
    <CustomNavBar
      title="Job Details"
      :edit-for="editPermissons"
      :job="job"
      :organisation="organisation"
      :share-link="shareText"
    />
    <v-container
      fluid
      class="pa-0"
      style="height: calc(100vh - 50px); overflow: scroll; overflow-x:hidden"
    >
      <v-row justify="center">
        <v-col
          cols
          style="max-width: 500px"
        >
          <MarketplaceJobDetailCard
            v-if="job"
            :job="job"
            readonly
            max-height="calc(100vh - 111px)"
          />
          <v-divider />
          <v-row
            no-gutters
            justify="center"
            class="caption mt-4"
          >
            <span>created on: {{ job.createdAt | dateTime('DD-MM-YYYY') }}</span>
          </v-row>
        </v-col>
        <v-col
          class="pt-5"
          cols
          style="max-width: 600px"
        >
          <v-expansion-panels
            class="mt-3"
            v-if="shift"
            v-model="panel"
            multiple
          >
            <v-expansion-panel>
              <v-expansion-panel-header
                dense
                v-if="job.type === 'PART_TIME'"
              >
                Applications for Part Time
              </v-expansion-panel-header>
              <v-expansion-panel-header v-if="job.type === 'FULL_TIME'">
                <div>
                  Applications for Full Time
                  <!--<br><span class="caption">
                    Job starting {{ moment(data.startTime).format('MMMM DD') }}
                  </span>-->
                </div>
              </v-expansion-panel-header>
              <v-expansion-panel-content
                v-for="(data, i) in uniqueShifts"
                :key="i"
                class="custom-expansion-panel-content"
              >
                <div
                  v-if="job.type === 'PART_TIME'"
                  class="caption ml-5 mt-2"
                >
                  {{ moment(data.startTime).format('MMMM DD, HH:mm') }} -
                  {{ moment(data.endTime).format('MMMM DD, HH:mm') }}
                </div>
                <MarketplaceJobCandidateList
                  :job="job"
                  :shift="data"
                  :shifts="job.shifts"
                />
              </v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel>
              <v-expansion-panel-header>
                AI Headhunter Recommendations
              </v-expansion-panel-header>
              <v-expansion-panel-content class="custom-expansion-panel-content">
                <RecommandedWorkersList
                  :job="job"
                  :shift="shift"
                />
              </v-expansion-panel-content>
            </v-expansion-panel>
            <!-- <MarketplaceOfferedCandidateList
              v-if="shift"
              :shift="shift"
            /> -->
            <!-- <v-expansion-panel>
              <v-expansion-panel-header>
                Rejected Candidate List
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <MarketplaceRejectedCandidateList
                  v-if="shift"
                  :job="job"
                  :shift="shift"
                />
              </v-expansion-panel-content>
            </v-expansion-panel> -->
            <WorkerDismissButton
              v-if="shift.worker"
              :shift="shift"
              class="mt-4"
            />
          </v-expansion-panels>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import MarketplaceJobCandidateList from '@/components/Marketplaces/Jobs/Lists/MarketplaceJobCandidateList';
import RecommandedWorkersList from '@/components/Marketplaces/Jobs/Lists/RecommandedWorkersList';
import WorkerDismissButton from '@/components/Workers/Buttons/WorkerDismissButton';
// import ShiftListRadio from '@/components/Shifts/Radios/ShiftListRadio';
import CustomNavBar from '@/components/Common/CustomNavBar';
import MarketplaceJobDetailCard from '@/components/shared/components/Marketplace/MarketplaceJobDetailCard';
import Job from '@/assets/js/models/Job';
import moment from 'moment';

export default {
  components: {
    MarketplaceJobDetailCard,
    MarketplaceJobCandidateList,
    // MarketplaceOfferedCandidateList,
    // ShiftListRadio,
    CustomNavBar,
    WorkerDismissButton,
    RecommandedWorkersList,
  },

  props: {
    job: {
      type: Object,
      default: () => {},
    },
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  computed: {
    uniqueShifts() {
      const shifts = this.getUniqueShiftByTimes(this.job.shifts);

      return shifts.filter(e => e != null);
    },
    panel() {
      if (this.uniqueShifts.length === 0) {
        return [0];
      }
      const panel = [];
      for (let i = 0; i < this.uniqueShifts.length; i += 1) {
        panel.push(i);
      }
      return panel;
    },
    shareText() {
      return `${this.shareMessage}\n\n${this.jobLink}`;
    },
    shareMessage() {
      if (!this.job || !this.organisation) return '';

      const job = new Job({ ...this.job, organisation: this.organisation });

      // title, company info (country, township, name), salary, apply before (listing end date)
      const message = `${job.jobTitle}`
        .concat(`\n${job.companyInfo}`)
        .concat(`\n${job.paymentInfo}`)
        .concat(`\n${job.applyBefore}`);
      return message;
    },
    jobLink() {
      let baseUrl;
      if (process.env.NODE_ENV === 'production') {
        baseUrl = 'https://worker.jobdoh.com';
      } else if (process.env.NODE_ENV === 'staging') {
        baseUrl = 'https://staging-worker.jobdoh.com';
      } else {
        baseUrl = 'http://localhost:2020';
      }
      const { employer } = this.$store.state;
      const employerId = employer && employer.id;
      return `${baseUrl}/#/public-marketplace/${this.job.id}?employerId=${employerId}`;
    },
    editPermissons() {
      // const { permissions } = this.organisation;
      // if (permissions == null) return '';

      // if (permissions.includes('WRITE_JOBS')) {
      //   return 'job';
      // }
      return 'job';
    },
  },

  data: () => ({
    moment,
    shift: {},
    // panel: [0],
  }),

  methods: {
    setShift(shift) {
      this.shift = shift;
    },
  },

  mounted() {
    this.$log.debug(this.job);
    this.$log.debug('router', `${window.location.origin}${this.$route.fullPath}`);
    this.$eventHub.$on('refetch-job-matching-page', () => {
      this.$emit('refresh-job-detail');
    });
  },
};
</script>

<style scoped>
  .custom-expansion-panel-content >>> .v-expansion-panel-content__wrap{
    padding: 0 !important;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
</style>
