<template>
  <v-alert
    :class="`mg-5  ${getColor(type)[1]}--text`"
    style="
    margin: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;"
    v-model="alert"
    :type="type"
    :color="getColor(type)[0]"
    dismissible
    transition="slide-y-transition"
    dark
  >
    {{ message }}
  </v-alert>
</template>
<script>
export default {
  data() {
    return {
      alert: false,
      type: 'success',
      message: null,
      color: {
        success: ['#C2BF36', 'black'],
        error: ['#75090F', 'white'],
        info: ['primary', 'white'],
        warning: ['warning', 'white'],
      },
    };
  },
  methods: {
    showAlert(args) {
      this.alert = false;
      this.type = args.type;
      this.message = args.message;
      if (!args.permanent) {
        setTimeout(() => { this.alert = false; }, 5000);
      }
      this.alert = true;
    },
    getColor(alertType) {
      return this.color[alertType] || this.color.info;
    },
    showBadConnectionAlert() {
      this.alert = false;
      this.type = 'warning';
      this.message = 'Warning: poor connection, still trying...';
      this.alert = true;
    },
    showNetworkTimeoutAlert() {
      this.alert = false;
      this.type = 'error';
      this.message = 'Network timeout!';
      this.alert = true;
    },
  },

  mounted() {
    this.$eventHub.$on('show-alert', (args) => {
      this.showAlert(args);
    });

    this.$eventHub.$on('show-alert-success', args => this.showAlert({ ...args, type: 'success' }));

    this.$eventHub.$on('show-alert-error', args => this.showAlert({ ...args, type: 'error' }));

    this.$eventHub.$on('show-alert-bad-connection', args => this.showBadConnectionAlert(args));

    this.$eventHub.$on('show-alert-network-timeout', args => this.showNetworkTimeoutAlert(args));

    window.addEventListener('showTestAlert', () => {
      this.showAlert({
        message: 'Test Alert',
        type: 'success',
        permanent: true,
      });
    });
  },
};
</script>
<style>
  .mg-5{
    margin: 5px;
  }
</style>
