<template>
  <v-container
    fluid
  >
    <v-row
      style="height: 100%"
      justify="center"
      align="center"
    >
      <v-expansion-panels
        :value="1"
        mandatory
        style="width: 600px"
      >
        <v-expansion-panel>
          <v-expansion-panel-header
            expand-icon="mdi-account-plus-outline"
            disable-icon-rotate
          >
            <h3>
              Join existing organisation
            </h3>
          </v-expansion-panel-header>
          <v-divider />
          <v-expansion-panel-content>
            <v-card flat>
              <v-card-text class="pb-0">
                <OrganisationSelect v-model="requestingOrg" />
              </v-card-text>
              <v-card-actions class="pt-0">
                <v-spacer />
                <v-btn
                  id="btn-CreateOrganisationPage-SendOrganisationRequest"
                  class="black white--text"
                  @click="onSendRequest"
                  :disabled="!requestingOrg"
                  :loading="sendingRequest"
                  v-html="'Send Request'"
                />
              </v-card-actions>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-row
          no-gutters
          justify="center"
          align="center"
          class="py-4"
        />
        <v-expansion-panel>
          <v-expansion-panel-header
            expand-icon="mdi-plus"
            disable-icon-rotate
          >
            <h3>
              Create new organisation
            </h3>
          </v-expansion-panel-header>
          <v-divider />
          <v-expansion-panel-content>
            <v-form
              v-model="valid"
              ref="orgform"
            >
              <v-card
                flat
                :disabled="loading"
              >
                <v-card-text
                  style="overflow-y: scroll; max-height: calc(100vh - 220px)"
                >
                  <RegionSelect
                    v-model="region"
                  />
                  <v-text-field
                    v-if="!secondary"
                    v-model="employerName"
                    label="Employer Name"
                    outlined
                    :rules="[$Validate.shortString]"
                    counter
                  />
                  <v-text-field
                    v-model="name"
                    label="Company Name"
                    outlined
                    :rules="[$Validate.required, $Validate.shortString]"
                    counter
                  />
                  <v-textarea
                    v-model="description"
                    label="Company Description"
                    outlined
                    :rules="[$Validate.required]"
                  />
                  <v-text-field
                    v-model="phone"
                    label="Company Phone Number"
                    outlined
                    prepend-inner-icon="mdi-phone"
                    :rules="[$Validate.required, $Validate.phone]"
                  />
                  <div class="ml-2">
                    <span class="subtitle-1">Company Logo (optional)</span>
                  </div>
                  <ImageUploader2
                    :value="logoUrl"
                    :path="`employers/${$store.getters.myId}/images/profile`"
                    image-name="logo"
                    @upload-complete="url => logoUrl = url"
                    width="452px"
                    height="200px"
                    class="mb-11"
                  />
                  <IndustrySelect
                    v-model="industryType"
                    :rules="[$Validate.required]"
                  />
                  <BusinessRegFileUploader
                    v-if="secondary"
                    v-model="businessRegFileUrl"
                    :file-prop.sync="businessRegFile"
                    required-file
                  />
                  <!-- <div class="ml-2">
                    <span class="subtitle-1">Company Logo (optional)</span>
                    <ImageUploader @upload-complete="url => logoUrl = url" />
                  </div> -->

                  <v-text-field
                    v-model="websiteUrl"
                    label="Company Website URL (optional)"
                    required
                    outlined
                    :rules="[$Validate.url]"
                  />
                  <v-text-field
                    v-model="secondaryEmployerEmail"
                    label="Email of secondary responsible person (optional)"
                    outlined
                    :rules="[$Validate.email]"
                    prepend-inner-icon="mdi-email"
                  />

                  <v-subheader class="pl-0">
                    More company information (for job applicants)
                  </v-subheader>

                  <v-text-field
                    v-model="videoUrl"
                    label="Company Video URL (optional)"
                    required
                    outlined
                    prepend-inner-icon="mdi-youtube"
                    :rules="[$Validate.url]"
                  />
                  <v-text-field
                    v-model="socialMedia.facebook"
                    label="Facebook (optional)"
                    required
                    outlined
                    prepend-inner-icon="mdi-facebook"
                    :rules="[$Validate.url]"
                  />
                  <v-text-field
                    v-model="socialMedia.twitter"
                    label="Twitter (optional)"
                    required
                    outlined
                    prepend-inner-icon="mdi-twitter"
                    :rules="[$Validate.url]"
                  />
                  <v-text-field
                    v-model="socialMedia.linkedIn"
                    label="LinkedIn (optional)"
                    required
                    outlined
                    prepend-inner-icon="mdi-linkedin"
                    :rules="[$Validate.url]"
                  />
                  <v-text-field
                    v-model="socialMedia.instagram"
                    label="Instagram (optional)"
                    required
                    outlined
                    prepend-inner-icon="mdi-instagram"
                    :rules="[$Validate.url]"
                  />
                  <!-- <v-text-field
              v-model="payCycleStart"
              type="number"
              label="Pay Cycle Start Day"
              required
              :rules="[$Validate.dayOfMonth]"
              outlined
              prepend-inner-icon="mdi-calendar-today"
            />
            <v-text-field
              v-model="payCycleEnd"
              type="number"
              label="Pay Cycle End Day"
              required
              :rules="[$Validate.dayOfMonth]"
              outlined
              prepend-inner-icon="mdi-calendar"
            />
            <v-text-field
              label="Khupay Fee"
              v-model="fee"
              type="number"
              :rules="[$Validate.number]"
              outlined
              prepend-inner-icon="mdi-percent"
            /> -->
                  <v-row no-gutters>
                    <v-spacer />
                    <v-btn
                      id="btn-CreateOrganisationPage-Create"
                      class="white--text"
                      color="black"
                      @click="onCreate"
                      :disabled="!valid"
                      :loading="loading"
                      v-html="'Create'"
                    />
                  </v-row>
                </v-card-text>
              </v-card>
            </v-form>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
      <v-dialog
        v-model="createOrganisationDialog"
        persistent
        width="450"
      >
        <v-card>
          <v-card-text class="pt-5">
            <span
              style="font-size: 17px;"
            >
              <b>Welcome to JOBDOH</b>
            </span><br><br>
            <span style="font-size: 17px;">
              You are at the start of your journey of hiring
              and managing your work force in the cloud
            </span><br><br>
            <span style="font-size: 17px;">
              We'd like to start by getting you to telling us about your first job position.
            </span>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              class="mt-4"
              color="defult"
              @click="createOrganisationDialog=false; $router.push({ path: '/app/view-jobs' })"
            >
              OK
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-container>
</template>

<script>
// import Uploader from '@/components/Utils/Uploader;
import firebase from 'firebase';
import gql from 'graphql-tag';
import apollo from '@/assets/js/apollo';
import RegionSelect from '@/components/Common/Selects/RegionSelect';
import IndustrySelect from '@/components/Common/Selects/IndustrySelect';
import ImageUploader2 from '@/components/Common/Uploaders/ImageUploader2';
import OrganisationSelect from '@/components/Common/Selects/OrganisationSelect';
import BusinessRegFileUploader from '@/components/Common/Uploaders/BusinessRegFileUploader';
// import EmployerSelect from '@/components/Common/Selects/EmployerSelect';

export default {
  components: {
    RegionSelect,
    IndustrySelect,
    ImageUploader2,
    OrganisationSelect,
    BusinessRegFileUploader,
  },

  data: () => ({
    createOrganisationDialog: false,
    secondaryEmployer: null,
    secondaryEmployerEmail: null,
    employerName: null,
    payCycleStart: 1,
    payCycleEnd: 1,
    accountingStyle: 'simple',
    accountingStyles: ['simple', 'actual'],
    paymentMethods: ['ONGO'],
    paymentCurrencys: ['MMK', 'USD'],
    payrollMethod: null,
    payrollCurrency: null,
    payCycleMonthDays: [1, 1],
    stepper: 1,
    region: '',
    fee: 0,
    steps: [
      {
        label: '',
        completed: false,
      },
    ],
    valid: false,
    name: '',
    phone: '',
    description: '',
    videoUrl: null,
    websiteUrl: null,
    logoUrl: null,
    socialMedia: {
      facebook: null,
      twitter: null,
      linkedIn: null,
      instagram: null,
    },
    industryType: '',
    loading: false,
    requestingOrg: null,
    businessRegFile: null,
  }),

  mounted() {
    this.$refs.orgform.validate();
    this.employerName = this.$store.state.employer.name;
  },

  computed: {
    employer() {
      return this.$store.state.employer;
    },
    secondary() {
      return this.$route.query.secondary;
    },
    organisation() {
      return this.$store.getters.currentOrganisation;
    },
  },

  methods: {
    async onSendRequest() {
      const { name, email } = this.employer;
      const requestMsg = `*New Organization Join Request*\n${name} (${email}) has requested to join ${this.requestingOrg.name} (${this.requestingOrg.region})`;
      this.sendingRequest = true;
      await this.$MessageService.sendMessageToSlack('#operations', requestMsg);
      this.sendingRequest = false;
      this.$eventHub.$emit('show-alert', {
        alert: true,
        type: 'success',
        message: 'Request Send. JOBDOH operation team will contact you.',
      });
      this.requestingOrg = null;
      this.$router.push({ path: '/app/view-jobs' });
    },
    async onCreate() {
      this.loading = true;
      await this.create();
      this.loading = false;
    },
    async create() {
      const args = {
        employerId: this.$store.getters.myId,
        name: this.name,
        description: this.description,
        phone: this.phone,
        videoUrl: this.videoUrl,
        websiteUrl: this.websiteUrl,
        logoUrl: this.logoUrl,
        socialMedia: this.socialMedia,
        industryType: this.industryType,
        region: this.region,
        // fee: parseFloat(this.fee),
        settings: [{
          key: 'TIMESHEETING_FEATURE_LEVEL',
          value: 'NONE',
        }],
        // eslint-disable-next-line radix
        // payCycleMonthDays: [parseInt(this.payCycleStart), parseInt(this.payCycleEnd)],
        // payrollMethod: this.payrollMethod,
        // payrollCurrency: this.payrollCurrency,
      };

      const { data } = await this.$OrganisationService.addEmployerOrganisation(args);

      if (data.addEmployerOrganisation) {
        try {
          const organisations = await this.organisationsAdminQuery();
          const employers = await this.employersAdminQuery();
          const jobdohEmployer = await employers.find(e => e.email === 'jobdoh.operations@gmail.com');
          const currentOrganisation = await organisations.find(e => e.name === this.name);
          const arg = {
            resourceName: 'Organisation',
            resourceId: currentOrganisation.id,
            userId: jobdohEmployer.id,
            permissions: [
              'READ_TIMESHEET',
              'WRITE_TIMESHEET',
              'READ_DISBURSEMENT',
              'WRITE_DISBURSEMENT',
              'READ_WORKERS',
              'WRITE_WORKERS',
              'READ_JOBS',
              'WRITE_JOBS',
              'READ_MARKETPLACE_JOBS',
              'WRITE_MARKETPLACE_JOBS',
              'READ_PRIVATE_MARKETPLACE_JOBS',
              'WRITE_PRIVATE_MARKETPLACE_JOBS',
              'READ_REPORTS',
              'READ_ORGANISATION_SETTINGS',
              'WRTIE_ORGANISATION_SETTINGS',
            ],
          };
          if (jobdohEmployer != null) {
            const ret = await this.$UserService.updateUserPermissions(arg)
              .catch((err) => {
                this.$log.error(err);
                this.$eventHub.$emit('show-alert', {
                  type: 'error',
                  message: 'Update user permissions failed',
                });
              });
            this.$log.debug('updateUserPermissions...', ret);
          }
          if (this.businessRegFile) {
            this.$log.info({ currentOrganisation });
            const businessRegFileUrl = await this.uploadBusinessRegFile(
              this.businessRegFile,
              currentOrganisation.id,
            );
            await this.$OrganisationService.updateOrganisation({
              id: currentOrganisation.id,
              businessRegFileUrl,
            });
          }

          if (this.secondaryEmployerEmail) {
            const requestMsg = `*New Organization Join Request*\nAn employer (with ${this.secondaryEmployerEmail}) has requested to join ${currentOrganisation.name} (${currentOrganisation.region || 'unknown region'})`;
            this.$MessageService.sendMessageToSlack('#operations', requestMsg);
          }

          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'success',
            message: 'Organisation create successful.',
          });
          if (this.employerName !== this.$store.state.employer.name) {
            await this.updateEmployer(this.$store.getters.myId, this.employerName)
              .catch(e => this.$log.error(e));
          }
          this.$eventHub.$emit('refetch-employer');
          this.createOrganisationDialog = true;
          // this.$router.push({ path: '/app/view-jobs' });
        } catch (error) {
          this.$log.error(error);
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message: 'Organisation create fail.',
          });
          // this.$router.push({ path: '/app/view-jobs' });
        }
      } else {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'error',
          message: 'Organisation create fail.',
        });
      }
    },
    async employersAdminQuery() {
      let result = [];
      const query = await apollo.defaultClient.query({
        query: gql`query employersAdmin {
        employersAdmin {
          id
          email
        }
      }
      `,
      })
        .catch((err) => {
          this.$log.debug('queryError', err);
        });
      this.$log.debug('query...', query);
      if (query.data.employersAdmin.length > 0) {
        result = query.data.employersAdmin;
      }
      return result;
    },
    async organisationsAdminQuery() {
      let result = [];
      const query = await apollo.defaultClient.query({
        query: gql`query organisationsAdmin {
        organisationsAdmin {
          id
          name
        }
      }
      `,
      })
        .catch((err) => {
          this.$log.debug('queryError', err);
        });
      if (query.data.organisationsAdmin.length > 0) {
        result = query.data.organisationsAdmin;
      }
      return result;
    },
    async updateEmployer(id, name) {
      return this.$UserService.updateEmployer({ id, name });
    },
    uploadBusinessRegFile(file, orgId) {
      return new Promise((resolve, reject) => {
        const storageRef = firebase.storage().ref(`organisations/${orgId}/businessRegFile`).put(file);
        storageRef.on('state_changed',
          (snapshot) => {
            this.$log.info(snapshot);
          },
          (error) => {
            this.$log.info(error);
            reject(error);
          },
          () => {
            storageRef.snapshot.ref.getDownloadURL().then((url) => {
              resolve(url);
            });
          });
      });
    },
  },
};
</script>

<style scoped>
.content-container {
  height: 70vh;
  overflow: scroll;
}
.content {
  height: 70vh;
}
</style>
