<template>
  <v-container class="pb-0">
    <v-row class="mb-3">
      <v-spacer />
      <span class="display-1">Settings</span>
      <v-spacer />
    </v-row>
    <v-divider />
    <v-form
      ref="form"
      v-model="valid"
      :disabled="loading"
    >
      <v-layout
        class="py-3"
        style="overflow-y: scroll; height: calc(100vh - 115px);"
        row
        justify-center
        align-center
      >
        <v-flex
          xs7
          align-center
          justify-center
        >
          <v-text-field
            class="mt-1"
            outlined
            v-model="organisation.name"
            label="Organization Name"
            :rules="[$Validate.required]"
          />
          <v-textarea
            outlined
            v-model="organisation.description"
            label="Description"
            :rules="[$Validate.required]"
          />
          <v-text-field
            label="Phone"
            v-model="organisation.phone"
            :rules="[$Validate.required, $Validate.phone]"
            outlined
            prepend-inner-icon="mdi-phone"
          />
          <v-text-field
            label="Address"
            v-model="organisation.address"
            outlined
            prepend-inner-icon="mdi-domain"
            :rules="[$Validate.required]"
          />
          <IndustrySelect v-model="organisation.industryType" />
          <BusinessRegFileUploader
            :key="organisation"
            v-model="organisation.businessRegFileUrl"
            :organisation-id="organisation.id"
          />
          <v-text-field
            v-model="organisation.businessRegNumber"
            label="Business Registration No."
            :rules="[$Validate.required]"
            outlined
          />
          <v-text-field
            v-model="organisation.websiteUrl"
            label="Company Website URL"
            required
            prepend-inner-icon="mdi-web"
            outlined
          />
          <v-text-field
            v-model="organisation.videoUrl"
            label="Company Video URL"
            required
            outlined
            prepend-inner-icon="mdi-youtube"
          />
          <div
            class="mb-6"
            v-if="organisation.socialMedia"
          >
            <v-divider />
            <v-subheader>Social Media</v-subheader>
            <v-text-field
              v-model="organisation.socialMedia.facebook"
              label="Facebook"
              required
              outlined
              prepend-inner-icon="mdi-facebook"
            />
            <v-text-field
              v-model="organisation.socialMedia.twitter"
              label="Twitter"
              required
              outlined
              prepend-inner-icon="mdi-twitter"
            />
            <v-text-field
              v-model="organisation.socialMedia.linkedIn"
              label="LinkedIn"
              required
              outlined
              prepend-inner-icon="mdi-linkedin"
            />
            <v-text-field
              v-model="organisation.socialMedia.instagram"
              label="Instagram"
              required
              outlined
              prepend-inner-icon="mdi-instagram"
            />
            <v-divider />
          </div>
          <!-- <v-text-field
                outlined
                v-model="organisation.payCycleMonthDays[0]"
                type="number"
                label="Pay Cycle Start"
                required
              />
              <v-text-field
                outlined
                v-model="organisation.payCycleMonthDays[1]"
                type="number"
                label="Pay Cycle End"
                required
              /> -->
          <DisbursementPaymentTypeSelect v-model="organisation.disbursementPaymentType" />
          <div
            v-if="$AccessService.isUnlocked('TIMESHEET')"
            class="mb-6"
          >
            <v-divider />
            <v-subheader>
              Timesheet
            </v-subheader>

            <PaycycleInput
              v-model="organisation.payCycleMonthDays"
            />
            <!-- <v-text-field
              v-model="payCyclePeriod"
              label="Pay Cycle (Eg: 1,1,2,3)"
              required
              :rules="[$Validate.payCycle]"
              outlined
              prepend-inner-icon="mdi-calendar"
            /> -->
            <v-select
              outlined
              label="Accounting Style"
              v-model="organisation.accountingStyle"
              :items="accountingStyles"
              autocomplete
              hide-details="auto"
              :messages="getAccountingStyleInfo(organisation.accountingStyle)"
              class="mb-7"
            />
            <v-text-field
              outlined
              v-model="organisation.payrollOfficerPhone"
              label="Payroll Officer Phone Number"
              :rules="[$Validate.required, $Validate.phone]"
            />

            <v-text-field
              outlined
              v-model="organisation.payrollOfficerEmail"
              label="Payroll Officer Email Address"
              :rules="[$Validate.email]"
            />

            <!-- <v-checkbox
              class="mt-0"
              :value="settings.CHECKIN_IMAGE_OPTIONAL"
              @change="v => onSettingsChange({CHECKIN_IMAGE_OPTIONAL: v})"
              label="Make check-in/out image proof opitonal"
            /> -->

            <v-divider />

            <v-text-field
              v-if="$AccessService.isAdminLevel()"
              label="KhuPay Fee"
              v-model="organisation.fee"
              type="number"
              :rules="[$Validate.number]"
              outlined
              prepend-inner-icon="mdi-percent"
            />
          </div>
          <RegionSelect
            v-model="organisation.region"
            disabled
          />
          <TimesheetLevelSelect
            v-if="$AccessService.isPermitted('CHECK_IN_HYBRID')"
            :value="settings.TIMESHEETING_FEATURE_LEVEL"
            @input="v => onSettingsChange({ TIMESHEETING_FEATURE_LEVEL: v })"
          />

          <!-- LEAVE SYS SETTINGS -->
          <div v-if="$AccessService.isPermitted('LEAVE_SYS')">
            <v-divider />

            <v-subheader>Leave System</v-subheader>
            <v-text-field
              label="Personal Leave Per Year"
              v-model="organisation.leavePersonalAccrualRateDaysPerYear"
              type="number"
              outlined
              :rules="[$Validate.integer]"
            />
            <v-text-field
              label="Sick Leave Per Year"
              v-model="organisation.leaveSickAccuralRateDaysPerYear"
              type="number"
              outlined
              :rules="[$Validate.integer]"
            />
            <v-text-field
              label="Other Leaves Per Year"
              v-model="organisation.leaveSpecialAccuralRateDaysPerYear"
              type="number"
              outlined
              :rules="[$Validate.integer]"
            />
            <v-divider />
          </div>

          <div v-if="$AccessService.isUnlocked('ROSTER')">
            <v-text-field
              outlined
              v-model="organisation.numberOfStuff"
              label="Number of staff"
              type="number"
              :rules="[$Validate.integer]"
            />
            <v-text-field
              outlined
              v-model="organisation.approxTotalSalary"
              label="Rough total salary"
              type="number"
              :rules="[$Validate.number]"
            />
            <v-text-field
              outlined
              v-model="organisation.companyAge"
              label="Company age"
              type="number"
              :rules="[$Validate.integer]"
            />
          </div>

          <div v-if="$AccessService.isUnlocked('EXTRA_ORGANISATIONS')">
            <OrgChartUploader
              v-model="organisation.organisationRelationChartUrl"
              :organisation-id="organisation.id"
              required
            />
          </div>
        </v-flex>
      </v-layout>
    </v-form>
    <v-row
      style="
      position: absolute;
      right: 36px;
      bottom: 10px;"
    >
      <v-btn
        id="btn-EditOrganisationPage-Cancel"
        @click="$router.back()"
        v-html="'Cancel'"
      />
      <access-blocker :features="['WRITE_ACCESS']">
        <v-btn
          id="btn-EditOrganisationPage-Update"
          class="ml-2"
          color="black white--text"
          @click="update"
          :disabled="!valid || !hasChanges"
          :loading="loading"
          v-html="'Update'"
        />
      </access-blocker>
    </v-row>
  </v-container>
</template>

<script>
import _ from 'lodash';
// import Uploader from '@/components/Utils/Uploader';
import RegionSelect from '@/components/Common/Selects/RegionSelect';
import IndustrySelect from '@/components/Common/Selects/IndustrySelect';
import DisbursementPaymentTypeSelect from '@/components/Common/Selects/DisbursementPaymentTypeSelect';
import TimesheetLevelSelect from '@/components/Common/Selects/TimesheetLevelSelect';
import BusinessRegFileUploader from '@/components/Common/Uploaders/BusinessRegFileUploader';
import PaycycleInput from '@/components/Common/Inputs/PaycycleInput';
import OrgChartUploader from '@/components/Common/Uploaders/OrgChartUploader';
/* eslint-disable max-len */

export default {
  components: {
    RegionSelect,
    IndustrySelect,
    BusinessRegFileUploader,
    DisbursementPaymentTypeSelect,
    PaycycleInput,
    TimesheetLevelSelect,
    OrgChartUploader,
  },

  data() {
    return {
      payCycleStart: 1,
      payCycleEnd: 1,
      paymentMethods: ['ONGO'],
      paymentCurrencys: ['MMK', 'USD'],
      accountingStyles: ['simple', 'actual'],
      valid: false,
      name: '',
      organisation: {},
      businessRegFile: null,
      loading: false,
    };
  },

  computed: {
    settings() {
      return _.fromPairs((this.organisation.settings || []).map(Object.values));
    },
    currentOrganisation() {
      return this.$store.getters.currentOrganisation;
    },
    hasChanges() {
      // eslint-disable-next-line no-unused-vars
      const organisation = this.$store.getters.currentOrganisation;
      // const currentTimesheetLevel = organisation.settings.find(e => e.key === 'TIMESHEETING_FEATURE_LEVEL');
      // if ((currentTimesheetLevel && currentTimesheetLevel.value) !== this.TIMESHEETING_FEATURE_LEVEL) {
      //   return true;
      // }
      if (JSON.stringify(this.organisation.socialMedia) !== JSON.stringify(this.currentOrganisation.socialMedia)) {
        return true;
      }
      return JSON.stringify(this.organisation) !== JSON.stringify(this.currentOrganisation);
    },
  },

  methods: {
    onSettingsChange(v) {
      const newSettings = { ...this.settings, ...v };
      this.organisation.settings = _.toPairs(newSettings).map(([key, value]) => ({ key, value }));
    },
    getAccountingStyleInfo(accountingStyle) {
      if (accountingStyle === 'simple') return 'Will not include weekends (Sat, Sun)';
      if (accountingStyle === 'actual') return 'Will include all 7 days of the week';
      return '';
    },
    updateRegionCode(regionCode) {
      this.organisation.region = regionCode;
    },
    onUpdate() {
      this.$refs.orgEditForm.validate();
    },
    async update() {
      this.loading = true;

      const { __typename, ...socialMedia } = this.organisation.socialMedia;

      const businessRegFileUrl = typeof this.organisation.businessRegFileUrl === 'function'
        ? await this.organisation.businessRegFileUrl()
        : this.organisation.businessRegFileUrl;
      const result = await this.$OrganisationService.updateOrganisation({
        id: this.organisation.id,
        name: this.organisation.name,
        phone: this.organisation.phone,
        address: this.organisation.address,
        payrollMethod: this.organisation.payrollMethod,
        payrollCurrency: this.organisation.payrollCurrency,
        accountingStyle: this.organisation.accountingStyle,
        // eslint-disable-next-line radix
        payCycleMonthDays: this.organisation.payCycleMonthDays,
        fee: parseFloat(this.organisation.fee),
        region: this.organisation.region,
        description: this.organisation.description,
        logoUrl: this.organisation.logoUrl,
        industryType: this.organisation.industryType,
        websiteUrl: this.organisation.websiteUrl,
        videoUrl: this.organisation.videoUrl,
        payrollOfficerPhone: this.organisation.payrollOfficerPhone,
        payrollOfficerEmail: this.organisation.payrollOfficerEmail,
        disbursementPaymentType: this.organisation.disbursementPaymentType,
        socialMedia,
        settings: this.organisation.settings,
        leaveSickAccuralRateDaysPerYear: parseInt(this.organisation.leaveSickAccuralRateDaysPerYear, 10),
        leavePersonalAccrualRateDaysPerYear: parseInt(this.organisation.leavePersonalAccrualRateDaysPerYear, 10),
        leaveSpecialAccuralRateDaysPerYear: parseInt(this.organisation.leaveSpecialAccuralRateDaysPerYear, 10),
        numberOfStuff: parseInt(this.organisation.numberOfStuff, 10),
        approxTotalSalary: parseFloat(this.organisation.approxTotalSalary),
        companyAge: parseInt(this.organisation.companyAge, 10),
        organisationRelationChartUrl: this.organisation.organisationRelationChartUrl,
        businessRegFileUrl,
        businessRegNumber: this.organisation.businessRegNumber,
      });

      if (result) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Organisation update successful.',
        });
        this.$eventHub.$emit('refetch-employer');
        // this.$router.push({ path: '/app/view-jobs' });
      } else {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'error',
          message: 'Organisation update fail.',
        });
      }
      this.loading = false;
    },

  },

  watch: {
    currentOrganisation(nCurrentOrganisation) {
      this.organisation = JSON.parse(JSON.stringify(nCurrentOrganisation));
    },
  },

  mounted() {
    this.organisation = JSON.parse(JSON.stringify(this.currentOrganisation));
    // this.payCyclePeriod = this.organisation.payCycleMonthDays.toString();
    // this.initData(this.organisation.settings);
    setImmediate(() => {
      this.$refs.form.validate();
    });
  },


};
</script>
