<template>
  <v-container>
    <v-row>
      <v-col>
        <v-select
          :items="timesheetingFeatureLevels"
          label="Timesheeting Feature Level"
          v-model="TIMESHEETING_FEATURE_LEVEL"
          outlined
        />
      </v-col>
    </v-row>
    <v-row>
      <v-btn
        @click="updateSettings"
      >
        {{ $t('update') }}
      </v-btn>
    </v-row>
  </v-container>
</template>

<script>
export default {
  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    timesheetingFeatureLevels: ['NONE', 'HYBRID', 'FULL'],
    TIMESHEETING_FEATURE_LEVEL: 'HYBRID',
  }),

  methods: {
    initData(settings) {
      const obj = settings.find(e => e.key === 'TIMESHEETING_FEATURE_LEVEL');
      if (obj != null) {
        this.TIMESHEETING_FEATURE_LEVEL = obj.value;
      }
    },
    async updateSettings() {
      const settings = [{
        key: 'TIMESHEETING_FEATURE_LEVEL',
        value: this.TIMESHEETING_FEATURE_LEVEL,
      }];

      const ret = await this.$OrganisationService.updateOrganisation({
        id: this.organisation.id,
        settings,
      }).catch((err) => {
        this.$log.error(err);
        this.$eventHub.$emit('show-alert', {
          type: 'error',
          message: err,
        });
      });

      if (ret) {
        this.$eventHub.$emit('show-alert', {
          type: 'success',
          message: this.$t('organisationSettingsUpdated'),
        });
      }
    },
  },

  mounted() {
    this.initData(this.organisation.settings);
  },
};
</script>
