<template>
  <v-container>
    <v-row
      align="center"
      justify="center"
      class="fill-height"
    >
      <v-col style="text-align: -webkit-center;">
        <v-card
          width="400"
          style="text-align: start;"
        >
          <v-card-title>
            Update Employees
          </v-card-title>
          <v-card-text>
            <MarketplaceSelect
              :organisation-id="organisation.id"
              @marketplaceSelected="setMarketplace"
            />
            <ExcelParser @data-ready="setData" />
            <ExcelUploadButton
              v-if="uploadData"
              :upload-data="uploadData"
              :marketplace-id="marketplaceId"
              @uploaded="onUploaded"
            />

            <v-card
              v-if="writeResult"
              outlined
            >
              <v-card-text>
                Update Result:
                <div
                  v-if="writeResult.createResult.total
                    || writeResult.updateResult.total
                    || writeResult.deleteResult.total"
                >
                  <div v-if="writeResult.createResult.total">
                    Created
                    {{ writeResult.createResult.success }}/{{ writeResult.createResult.total }}
                    subscriber(s)
                  </div>
                  <div v-if="writeResult.updateResult.total">
                    Updated
                    {{ writeResult.updateResult.success }}/{{ writeResult.updateResult.total }}
                    subscriber(s)
                  </div>
                  <div v-if="writeResult.deleteResult.total">
                    Deleted
                    {{ writeResult.deleteResult.success }}/{{ writeResult.deleteResult.total }}
                    subscriber(s)
                  </div>
                </div>
                <span v-else>( EMPTY )</span>
              </v-card-text>
            </v-card>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import MarketplaceSelect from '@/components/Common/Selects/MarketplaceSelect';
import ExcelParser from '@/components/Utils/Parsers/ExcelParser';
import ExcelUploadButton from '@/components/Utils/Buttons/ExcelUploadButton';

export default {
  components: {
    ExcelParser,
    ExcelUploadButton,
    MarketplaceSelect,
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    uploadData: [],
    marketplaceId: '',
    writeResult: null,
  }),

  methods: {
    setData(data) {
      this.uploadData = data;
    },
    setMarketplace(marketplaceId) {
      this.marketplaceId = marketplaceId;
    },
    onUploaded(writeResult) {
      this.writeResult = writeResult;
    },
  },
};
</script>
