<template>
  <v-dialog
    v-access="['WRITE_ACCESS']"
    v-model="dialog"
    persistent
    max-width="300px"
  >
    <template v-slot:activator="{ on }">
      <v-chip
        id="btn-any-OpenAddDeductionDialog"
        v-bind="$attrs"
        outlined
        v-on="on"
        v-html="'Add Deduction'"
        color="black"
        class="mx-1"
        small
        @mousedown.stop
        @touchstart.stop
      />
    </template>
    <v-card>
      <v-card-title>
        <v-alert
          :value="errorMessage.length"
          color="error"
          icon="warning"
          outlined
        >
          {{ errorMessage }}
        </v-alert>
        <span class="headline">
          Add New Deduction
        </span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-layout wrap>
            <v-flex>
              <v-select
                v-model="deduction.type"
                :items="['ABSOLUTE', 'PERCENTAGE']"
                label="Deduction Type"
                required
              />
              <v-text-field
                v-model="deduction.amount"
                label="Amount"
                required
              />
            </v-flex>
            <v-flex>
              <v-menu
                v-model="menu"
                :close-on-content-click="false"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="deduction.enabledDate"
                    label="Enabled Date"
                    readonly
                    v-on="on"
                  />
                </template>
                <v-date-picker
                  v-model="deduction.enabledDate"
                  @input="menu = false"
                />
              </v-menu>
            </v-flex>
            <v-flex>
              <v-menu
                v-model="menu2"
                :close-on-content-click="false"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="deduction.disabledDate"
                    label="Disabled Date"
                    readonly
                    v-on="on"
                  />
                </template>
                <v-date-picker
                  v-model="deduction.disabledDate"
                  @input="menu2 = false"
                />
              </v-menu>
            </v-flex>
            <v-flex>
              <v-text-field
                v-model="deduction.notes"
                placeholder="Notes"
              />
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn
          id="btn-any-AddDeductionDialog-Cancel"
          color="black white--text"
          flat
          text
          @click="dialog = false"
          v-html="'Cancel'"
        />
        <v-btn
          id="btn-any-AddDeductionDialog-Add"
          color="black white--text"
          flat
          @click="addDeduction"
          v-html="'Add'"
        />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    shift: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    errorMessage: '',
    dialog: false,
    menu: false,
    menu2: false,
    deduction: {
      type: 'ABSOLUTE',
      amount: '',
      enabledDate: null,
      disabledDate: null,
      notes: '',
    },
  }),

  methods: {
    async addDeduction() {
      const deductions = [...this.shift.deductions, this.deduction].map((deduction) => {
        const update = {
          type: deduction.type,
          amount: deduction.amount,
          enabledDate: new Date(deduction.enabledDate),
          disabledDate: new Date(deduction.disabledDate),
          notes: deduction.notes,
        };
        return update;
      });

      const ret = await this.$JobService.updateShift({
        id: this.shift.id,
        deductions,
      }).catch((err) => {
        this.$log.error(err);
        this.errorMessage = err.graphQLErrors[0].message;
      });
      if (ret) {
        this.dialog = false;
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Deduction Added Successfully',
        });
        this.$root.$emit('refresh-job');
      }
    },
  },
};
</script>
