<template>
  <div>
    <v-dialog
      v-model="dialog"
      max-width="500"
    >
      <v-card width="500">
        <v-card-title>
          <div class="caption">
            recommend to run on {{ $moment('2020-10-31').add(-5, 'days').format('DD-MMM-YYYY') }}
          </div>
          <v-progress-linear
            v-model="percent"
            color="red"
            height="25"
            striped
            reactive
          >
            <template v-slot="{ value }">
              <strong class="white--text">{{ Math.ceil(value) }}%</strong>
            </template>
          </v-progress-linear>
          <div class="caption">
            {{ message }}
            {{ completed }} / {{ total }}
          </div>
        </v-card-title>
        <v-card
          class="mx-auto"
          max-width="400"
          tile
        >
          <v-list-item
            two-line
            v-for="(receipt, i) in receipts"
            :key="i"
          >
            <v-list-item-content>
              <v-list-item-title>
                {{ receipt.worker.name }} has to run instalment for {{ receipt.product.title }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-card>
        <v-card-actions>
          <v-row
            no-gutters
            justify="center"
            align="center"
          >
            <v-btn
              id="btn-JobListPage-InstalmentDialog-RunPayroll"
              class="jobdoh"
              dark
              @click="runPayroll"
              :loading="isLoading"
              v-html="'Current Month Instalment'"
            />
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-list-item
      id="btn-JobListPage-OpenInstalmentDialog"
      color="default"
      @click="onPayrollBtnClick"
    >
      <v-list-item-content>
        <v-list-item-title>
          Run Instalment
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </div>
</template>

<script>
// import moment from 'moment';
import apollo from '@/assets/js/apollo';
import gql from 'graphql-tag';

/* eslint-disable */
export default {
  props: {
    jobs: {
      type: Array,
      default: () => [],
    },
    organisation: {
      type: Array,
      default: () => {},
    },
  },

  data: () => ({
    dialog: false,
    isLoading: false,
    completed: 0,
    total: 0,
    percent: 0,
    message: '',
    receipts: [],
  }),
  async mounted() {
  },
  computed: {
    currentOrganisation() {
      return this.$store.getters.currentOrganisation;
    },
    permissions() {
      const currentOrg = this.$store.getters.currentOrganisation;
      return currentOrg ? currentOrg.permissions : [];
    },
    hasPermission() {
      return this.permissions.includes('WRITE_JOBS')
    }
  },

  methods: {
    async onPayrollBtnClick() {
      this.dialog = true;
      // else this.$eventHub.$emit('show-permission-request', ['WRITE_JOBS']);
      this.receipts = await this.receiptsQuery();
      // this.receipts = this.receipts.filter(e => e.product.organisation.id === this.organisation.id);
    },
    progressPromise(promises, tickCallback) {
      const len = promises.length;
      let progress = 0;
      let errors = 0;

      const Vue = this;
      function tick(promise) {
        promise.then(function () {
          progress += 1;

          if ((progress + errors) === len) {
            Vue.isLoading = false;
            Vue.message = 'Payroll Calculation Finished';
          }

          tickCallback(progress, len);
        }).catch((err) => {
          Vue.$log.error(err);
          Vue.$eventHub.$emit('show-alert', {
            type: 'error',
            message: err.graphQLErrors[0].message,
          });
          errors += 1;

          if ((progress + errors) === len) {
            Vue.isLoading = false;
            Vue.message = 'Payroll Calculation Finished';
          }
        });
        return promise;
      }

      return Promise.all(promises.map(tick))
    },


    update(completed, total) {
      this.percent = Math.round(completed / total * 100);
      this.completed = completed;
    },

    async runPayroll(params) {
      this.message = 'Processing Payroll...';
      this.isLoading = true;
      const receipts = await this.receiptsQuery();
      const payrollJobs = receipts.map((receipt) => {
        return {
          workerId: receipt.worker.id,
          jobId: receipt.jobId,
          productId: receipt.product.id,
        };
      });

      const payrolls = payrollJobs.flat();
      this.$log.info(payrolls);

      this.total = payrolls.length;
      const promises = payrolls.map(payroll => this.$ProductService
        .runProductTimeSheetService(payroll));

      await this.progressPromise(promises, this.update);
    },

    async receiptsQuery() {
      // eslint-disable-next-line no-underscore-dangle
      // const _this = this;
      let result = [];
      const query = await apollo.defaultClient.query({
        query: gql`query receipts(
          $organisationId: String
        ) {
        receipts(
          organisationId: $organisationId
        ) {
          id
          code
          worker {
            id
            name
          }
          jobId
          product {
            id
            title
            organisation {
              id
            }
          }
        }
      }
      `,
        variables: {
          organisationId: this.organisation.id,
        },
      })
        .catch((err) => {
          this.$log.error(err);
          this.loading = false;
          this.$eventHub.$emit('show-alert', {
            type: 'error',
            message: err.graphQLErrors[0].message,
          });
        });
      if (query != null && query.data.receipts != null) {
        result = query.data.receipts;
      }
      return result;
    },
  },
};
</script>

<style scoped>
.disable-btn {
  color: rgba(0, 0, 0, 0.38) !important;
  background-color: rgba(255, 255, 255, 0.12) !important;
}
</style>
