<template>
  <div>
    <v-dialog
      v-model="dialog"
      max-width="300"
    >
      <v-card>
        <v-card-title>
          <v-progress-linear
            v-model="percent"
            color="red"
            height="25"
            striped
            reactive
          >
            <template v-slot="{ value }">
              <strong class="white--text">{{ Math.ceil(value) }}%</strong>
            </template>
          </v-progress-linear>
          <div class="caption">
            {{ message }}
            {{ completed }} / {{ total }}
          </div>
        </v-card-title>
        <v-card-actions>
          <v-row
            no-gutters
            justify="center"
            align="center"
          >
            <v-btn
              id="btn-JobListPage-RunPreviousPayroll"
              class="jobdoh my-1"
              dark
              block
              @click="runPayroll('PREVIOUS')"
              :loading="isLoading"
              v-html="$t('previousPayCyclePayroll')"
            />
            <v-btn
              id="btn-JobListPage-RunPayroll"
              class="jobdoh my-1"
              dark
              block
              @click="runPayroll"
              :loading="isLoading"
              v-html="$t('currentPayCyclePayroll')"
            />
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-list-item
      id="id-JobListPage-OpenPayrollDialog"
      color="default"
      @click="onPayrollBtnClick"
    >
      <v-list-item-content>
        <v-list-item-title>
          {{ $t('runPayroll') }}
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </div>
</template>

<script>
import moment from 'moment';
import gql from 'graphql-tag';

export default {
  props: {
    // jobs: {
    //   type: Array,
    //   default: () => [],
    // },
  },

  data: () => ({
    dialog: false,
    isLoading: false,
    completed: 0,
    total: 0,
    percent: 0,
    message: '',
    jobs: [],
  }),

  computed: {
    currentOrganisation() {
      return this.$store.getters.currentOrganisation;
    },
    hasPermission() {
      return this.$AccessService.isPermitted('WRITE_JOBS');
    },
  },

  methods: {
    onPayrollBtnClick() {
      if (this.hasPermission) this.dialog = true;
      else this.$eventHub.$emit('show-tutorial', 'WRITE_JOBS', true);
    },
    progressPromise(promises, tickCallback) {
      const len = promises.length;
      let progress = 0;
      let errors = 0;

      const Vue = this;
      function tick(promise) {
        promise.then(() => {
          progress += 1;

          if ((progress + errors) === len) {
            Vue.isLoading = false;
            Vue.message = 'Payroll Calculation Finished';
          }

          tickCallback(progress, len);
        }).catch((err) => {
          Vue.$log.error(err);
          Vue.$eventHub.$emit('show-alert', {
            type: 'error',
            message: err.graphQLErrors[0].message,
          });
          errors += 1;

          if ((progress + errors) === len) {
            Vue.isLoading = false;
            Vue.message = 'Payroll Calculation Finished';
          }
        });
        return promise;
      }

      return Promise.all(promises.map(tick));
    },


    update(completed, total) {
      this.percent = Math.round(completed / total * 100);
      this.completed = completed;
    },

    async runPayroll(params) {
      this.message = 'Processing Payroll...';
      this.isLoading = true;
      const payrollJobs = this.jobs.jobs.map((job) => {
        let shifts = job.shifts.filter(shift => shift.worker != null);
        shifts = shifts.filter(shift => shift.worker.verified);
        shifts = shifts.filter((shift) => {
          const shiftEndTime = moment.utc(shift.endTime);
          const diff = moment.utc().diff(shiftEndTime, 'month');
          return diff <= 1;
        });
        const workersIds = shifts.map(shift => shift.worker.id);
        const uniqueWorkersIds = new Set(workersIds);

        const args = Array.from(uniqueWorkersIds).map((id) => {
          const arg = {
            jobId: job.id,
            workerId: id,
          };
          if (params === 'PREVIOUS') {
            arg.forPreviousPayCycle = true;
          }
          return arg;
        });
        return args;
      });

      const payrolls = payrollJobs.flat();

      this.total = payrolls.length;
      const promises = payrolls.map(payroll => this.$PayrollService
        .runTimeSheetService(payroll));

      await this.progressPromise(promises, this.update);
    },
  },
  apollo: {
    jobs: {
      query: gql`query jobs($organisationId: ID!) {
        jobs(organisationId: $organisationId) {
          jobs {
            id
            shifts {
              id
              workerAccepted
              worker {
                id
                name
                phone
                paymentCurrency
                verified
              }
            }
          }
        }
      },
      `,
      variables() {
        return {
          organisationId: this.$store.getters.currentOrganisation.id,
        };
      },
      result({ loading, error }) {
        if (error) {
          this.$log.error(error);
        }
        if (!loading) {
          // if (data.jobs == null) {
          //   this.jobs = data.jobs.jobs;
          // }
          // this.checkIfHasUnpaidWorkers(data.jobs);
        }
      },
    },
  },
};
</script>

<style>

</style>
