<template>
  <v-btn
    :disabled="!hasUnpaidWorkers"
    @click="generatePreviousPayCycleWorkTokens"
    :loading="loading"
  >
    Run Payroll
  </v-btn>
</template>

<script>
import gql from 'graphql-tag';

export default {
  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  computed: {
  },

  data: () => ({
    loading: false,
    jobs: [],
    hasUnpaidWorkers: false,
    payrollFailedWorkersIds: [],
  }),

  mounted() {
  },

  methods: {
    async checkIfHasUnpaidWorkers() {
      const args = [];
      this.jobs.forEach((job) => {
        let found = null;
        job.shifts.forEach(async (shift) => {
          if (shift.worker != null && !shift.workComplete) { // workComplete deprecated
            found = args.find(e => e.workerId === shift.worker.id);
            if (found == null && shift.worker.verified && shift.workerAccepted) {
              args.push({
                jobId: job.id,
                workerId: shift.worker.id,
                dryRun: true,
                noFee: true,
              });
              const ret = await this.$PaymentService.runPayroll({
                jobId: job.id,
                workerId: shift.worker.id,
                dryRun: true,
                noFee: true,
              }).catch((err) => {
                const { message } = err.graphQLErrors[0];
                this.$eventHub.$emit('show-alert', {
                  alert: true,
                  type: 'error',
                  message: `Payroll calculation failed for ${shift.worker.name}! Reason: ${message}`,
                });
                this.$log.error(`Payroll calculation failed workerId: ${shift.worker.id}`);
                this.payrollFailedWorkersIds.push(shift.worker.id);
              });
              if (ret != null && ret.data) {
                if (ret.data.runPayroll > 0) {
                  this.$log.info('unpaid worker', shift.worker.name);
                  this.hasUnpaidWorkers = true;
                }
              }
            }
          }
        });
      });
    },

    async generatePreviousPayCycleWorkTokens() {
      this.loading = true;
      const requestPayMutations = [];
      const args = [];
      this.jobs.forEach((job) => {
        let found;
        job.shifts.forEach((shift) => {
          if (shift.worker != null) {
            found = args.find(e => e.workerId === shift.worker.id);
            if (found == null
              && shift.worker.verified
              && shift.workerAccepted
              && !this.payrollFailedWorkersIds.includes(shift.worker.id)) {
              args.push({
                jobId: job.id,
                workerId: shift.worker.id,
                dryRun: true,
                noFee: true,
              });

              requestPayMutations.push(this.$PaymentService.requestPay({
                jobId: job.id,
                workerId: shift.worker.id,
                dryRun: false,
                noFee: true,
              }));
            }
          }
        });
      });
      const rets = await Promise.all(requestPayMutations)
        .catch((err) => {
          this.$log.error(err);
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message: 'There is a problem calculating the payroll. Please try again.',
          });
        });
      this.loading = false;
      if (rets != null) {
        this.hasUnpaidWorkers = false;
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Payroll calculation successful. Please go to Timesheet page.',
        });
      }
    },
  },

  apollo: {
    jobs: {
      query: gql`query jobs($organisationId: ID!) {
        jobs(organisationId: $organisationId) {
          id
          shifts {
            id
            workerAccepted
            workComplete # deprecated
            worker {
              id
              name
              phone
              paymentCurrency
              verified
            }
          }
        }
      },
      `,
      result({ data, loading, error }) {
        if (error) {
          this.$log.error(error);
        }
        if (!loading) {
          if (data.jobs == null) {
            return;
          }
          this.checkIfHasUnpaidWorkers(data.jobs);
        }
      },
      variables() {
        return {
          organisationId: this.organisation.id,
        };
      },
    },
  },
};
</script>
