<template>
  <v-dialog
    v-access="['WRITE_ACCESS']"
    v-model="dialog"
    persistent
    max-width="300px"
  >
    <template v-slot:activator="{ on }">
      <v-chip
        id="btn-any-OpenTaxConfigDialog"
        outlined
        v-bind="$attrs"
        v-on="on"
        v-html="'Tax'"
        color="black"
        class="mx-1"
        small
        @mousedown.stop
        @touchstart.stop
      />
    </template>
    <v-card>
      <v-card-title>
        <v-alert
          :value="errorMessage.length"
          color="error"
          icon="warning"
          outlined
        >
          {{ errorMessage }}
        </v-alert>
        <span class="headline">
          Tax Configuration
        </span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-layout wrap>
            <v-flex>
              <v-text-field
                type="number"
                label="Number of Parents"
                v-model="parents"
              />
              <v-text-field
                type="number"
                label="Number of Children"
                v-model="children"
              />
              <v-text-field
                type="number"
                label="Spouse"
                v-model="spouse"
              />
              <v-text-field
                type="number"
                label="Social Security Fee"
                v-model="socialSecurityFee"
              />
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn
          id="btn-any-TaxConfigButton-Cancel"
          color="black white--text"
          flat
          text
          @click="dialog = false"
          v-html="'Cancel'"
        />
        <v-btn
          id="btn-any-TaxConfigButton-Update"
          color="black white--text"
          flat
          @click="updateTaxConfig"
          v-html="'Update'"
        />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    shift: {
      type: Object,
      default: () => {},
    },

    taxConfigurations: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    errorMessage: '',
    dialog: false,
    parents: null,
    children: null,
    spouse: null,
    socialSecurityFee: null,
  }),

  methods: {
    async updateTaxConfig() {
      //
      const taxConfigurations = {
        parents: parseInt(this.parents, 10),
        children: parseInt(this.children, 10),
        spouse: parseInt(this.spouse, 10),
        socialSecurityFee: parseInt(this.socialSecurityFee, 10),
      };

      const ret = await this.$JobService.updateShift({
        id: this.shift.id,
        taxConfigurations,
      }).catch((err) => {
        this.$log.error(err);
        this.errorMessage = err.graphQLErrors[0].message;
      });

      if (ret) {
        this.dialog = false;
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Tax Configurations Updated Successfully',
        });
        this.$root.$emit('refresh-job');
      }
    },
  },

  mounted() {
    if (this.taxConfigurations != null) {
      this.parents = this.taxConfigurations.parents;
      this.children = this.taxConfigurations.children;
      this.spouse = this.taxConfigurations.spouse;
      this.socialSecurityFee = this.taxConfigurations.socialSecurityFee;
    }
  },
};
</script>
