<template>
  <v-dialog
    v-model="dialog"
    max-width="290"
  >
    <v-card>
      <v-card-title class="headline">
        {{ notification.title }}
      </v-card-title>

      <v-card-text>
        {{ notification.body }}
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  props: {
    notification: {
      type: Object,
      default: () => {},
    },
    dialog: {
      type: Boolean,
      default: () => false,
    },
  },

  data: () => ({
  }),

  mounted() {
  },
};
</script>
