<template>
  <div>
    <MonthendSummaryRow
      :organisation="organisation"
      :pay-cycle="payCycle"
      :export-data="exportData"
    />
    <div v-if="!loading">
      <v-data-table
        :items.sync="calculateRowDataArray"
        class="elevation-1 custom-table"
        :group-by="[]"
        disable-pagination
        hide-default-footer
        :loading="activityCount > 0"
        fixed-header
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        :headers="headers"
      >
        <template
          v-slot:body="{
            items
          }"
        >
          <tbody v-if="renderComponent">
            <MonthendTableRow
              v-for="(item, i) in items"
              :key="i"
              :calculate-row-data="item"
              :organisation="organisation"
              :transactions-data="transactionsData"
              :pay-cycle="payCycle"
              @openDialog="openDialog"
              @getExportData="getExportData"
              @isLoading="isLoading"
              @updateActivityCount="updateActivityCount"
              @getFeeArray="getFeeArray"
            />
          </tbody>
        </template>
      </v-data-table>
    </div>

    <div v-else>
      <v-container>
        <v-row v-if="calculateRowDataArray == null">
          <v-spacer />
          No Data for this month
          <v-spacer />
        </v-row>
        <v-row v-else-if="activityCount > 0">
          <v-spacer />
          <v-progress-circular
            indeterminate
            color="#C2232A"
          />
          <v-spacer />
        </v-row>
      </v-container>
    </div>

    <MonthendDetailsDialogBox
      v-if="dialogData && dialogData.shift"
      @closeDialog="closeDialog"
      :detail-data="dialogData"
      :pay-cycle="payCycle"
      :organisation="organisation"
      :dialog.sync="dialog"
    />
  </div>
</template>

<script>
import gql from 'graphql-tag';
import apollo from '@/assets/js/apollo';
// import LoadingDialog from '@/components/Utils/Dialogs/LoadingDialog';
import MonthendTableRow from '@/components/Reports/Tables/Rows/MonthendTableRow';
// import MonthendFooterRow from '@/components/Reports/Tables/Rows/MonthendFooterRow';
import MonthendDetailsDialogBox from '@/components/Reports/Tables/DialogBoxs/MonthendDetailsDialogBox';
import MonthendSummaryRow from '@/components/Reports/Tables/Rows/MonthendSummaryRow';
// import gql from 'graphql-tag';
// import apollo from '@/assets/js/apollo';

export default {
  components: {
    MonthendTableRow,
    // MonthendFooterRow,
    MonthendDetailsDialogBox,
    MonthendSummaryRow,
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
    payCycle: {
      type: Object,
      default: () => {},
    },
    transactionsData: {
      type: Array,
      default: () => [],
    },
  },

  data: () => ({
    loading: false,
    activityCount: 0,
    sortBy: 'name',
    sortDesc: false,
    loadings: [],
    shifts: [],
    dialog: false,
    dialogData: {},
    singleExpand: false,
    expanded: [],
    headers: [
      {
        text: '',
        width: 5,
      },
      {
        text: 'Name',
        value: 'name',
      },
      {
        text: 'Identification',
        value: 'identification',
      },
      {
        text: 'Phone',
        value: 'phone',
      },
      {
        text: 'Payment Method',
        value: 'paymentMethod',
      },
      {
        text: 'Total Amount',
        value: 'amount',
      },
      {
        text: 'Action',
        value: '',
      },
    ],
    feeArray: [],
    exportData: [],

    // for pagination
    pageNo: 1,
    pageCount: 0,
    itemsPerPage: 15,
    calculateRowDataArray: [],
    itemsPerPageArray: [15, 'All'],
    renderComponent: true,

  }),

  computed: {
    windowHeight() {
      return window.innerHeight;
    },
  },

  watch: {
    sortBy() {
      this.forceRerender();
    },
    sortDesc() {
      this.forceRerender();
    },
    async payCycle() {
      this.loading = true;
      this.shifts = [];
      this.exportData = [];
      this.calculateRowDataArray = [];
      this.shifts = await this.shiftsQuery();
      await Promise.all(this.shifts.map(async (shift) => {
        const ret = await this.calculateRowData(shift);
        this.getExportData({
          shift, item: ret, workTokens: ret.workTokens, detailData: ret.detailData,
        });
        // this.$emit('getExportData', {
        //   shift, item: ret, workTokens: ret.workTokens, detailData: ret.detailData,
        // });
        this.calculateRowDataArray.push(ret);
      })).catch((err) => { this.$log.debug(err); this.loading = false; });
      this.loading = false;
    },
    async organisation() {
      this.loading = true;
      this.shifts = [];
      this.exportData = [];
      this.shifts = await this.shiftsQuery();
      await Promise.all(this.shifts.map(async (shift) => {
        const ret = await this.calculateRowData(shift);
        this.getExportData({
          shift, item: ret, workTokens: ret.workTokens, detailData: ret.detailData,
        });
        this.calculateRowDataArray.push(ret);
      })).catch((err) => { this.$log.debug(err); this.loading = false; });
      this.loading = false;
    },
  },

  async mounted() {
    this.shifts = await this.shiftsQuery();
    await Promise.all(this.shifts.map(async (shift) => {
      const ret = await this.calculateRowData(shift);
      this.getExportData({
        shift, item: ret, workTokens: ret.workTokens, detailData: ret.detailData,
      });
      this.calculateRowDataArray.push(ret);
    })).catch((err) => { this.$log.debug(err); this.loading = false; });
    if (this.shifts.length === 0) this.calculateRowDataArray = null;
  },

  methods: {
    updateActivityCount(num) {
      this.activityCount += num;
    },
    // customSort(items, index, isDesc) {
    //   items.sort((a, b) => {
    //     if (isDesc !== 'false') {
    //       return a[index] < b[index] ? -1 : 1;
    //     }
    //     return b[index] < a[index] ? -1 : 1;
    //   });
    //   return items;
    // },
    forceRerender() {
      // Remove my-component from the DOM
      this.renderComponent = false;

      this.$nextTick(() => {
        // Add the component back in
        this.renderComponent = true;
      });
    },
    isLoading(value) {
      this.loadings = this.loadings.filter(e => e.id !== value.id);
      this.loadings.push(value);
    },
    async calculateRowData(shift) {
      const timeRange = {
        from: this.payCycle.startDate,
        to: this.payCycle.endDate,
      };

      const workTokens = await this.workTokensQuery(shift.id, timeRange);
      // eslint-disable-next-line no-prototype-builtins
      let currentWorkTokens = workTokens.filter(e => e.hasOwnProperty('workTokenValue'));
      currentWorkTokens = currentWorkTokens.filter(e => e.type === 'STANDARD' || e.type === 'BONUS' || e.type === 'DEDUCTION');
      const currentWorkTokenValues = this.getWorkTokenValuesFromWorkTokens({
        workTokens: currentWorkTokens,
      }).data;
      this.currentWorkTokenValues = currentWorkTokenValues.filter(e => e != null);

      const khupayWorkTokenValues = currentWorkTokenValues.filter(e => e.fee > 0);

      const eomWorkTokenValues = currentWorkTokenValues.filter(e => e.fee === 0);

      const standardWorkTokenValues = await this.filterStandardWorkTokenValues({
        workTokenValues: currentWorkTokenValues,
      }).data;

      const bonusWorkTokenValues = await this.filterBonusWorkTokenValues({
        workTokenValues: currentWorkTokenValues,
      }).data;

      const paymentData = await this.getPaymentDataFromWorkTokenValues({
        workTokenValues: standardWorkTokenValues,
      }).data;

      const totalAmountWithFee = await this
        .getTotalAmountFromWorkTokenValues({
          workTokenValues: standardWorkTokenValues,
        }).data;

      const khupay = await this
        .getTotalAmountFromWorkTokenValues({
          workTokenValues: khupayWorkTokenValues,
        }).data;
      const khupayConflictAmount = await this
        .getDifferenceAmountFromWorkTokenValues({
          workTokenValues: khupayWorkTokenValues,
        }).data;
      const endOfMonth = await this
        .getTotalAmountFromWorkTokenValues({
          workTokenValues: eomWorkTokenValues,
        }).data;

      const eomConflictAmount = await this
        .getDifferenceAmountFromWorkTokenValues({
          workTokenValues: eomWorkTokenValues,
        }).data;

      const differenceAmount = await this
        .getDifferenceAmountFromWorkTokenValues({
          workTokenValues: standardWorkTokenValues,
        }).data;
      this.$log.debug('difference', differenceAmount);
      // eslint-disable-next-line no-unused-vars
      const totalBonusAmount = await this
        .getTotalAmountFromWorkTokenValues({
          workTokenValues: bonusWorkTokenValues,
        }).data;
      const feeData = await this.getTotalFeeFromWorkTokenValues({
        workTokenValues: standardWorkTokenValues,
      }).data;
      const feeForEachWorker = feeData.amount;


      const totalAmountWithoutFee = totalAmountWithFee + differenceAmount;
      // const { currency } = standardWorkTokenValues.find(e => e != null && e.currency != null);
      // if (currency === 'USD') {
      //   totalBonusAmount = this.roundTo(totalBonusAmount, 2);
      //   feeForEachWorker = this.roundTo(feeForEachWorker, 2);
      //   totalAmountWithoutFee = this.roundTo(totalAmountWithoutFee, 2);
      //   differenceAmount = this.roundTo(differenceAmount, 2);
      //   khupay = this.roundTo(khupay, 2);
      //   endOfMonth = this.roundTo(endOfMonth, 2);
      // } else if (currency === 'MMK') {
      //   totalBonusAmount = this.roundTo(totalBonusAmount, 0);
      //   feeForEachWorker = this.roundTo(feeForEachWorker, 0);
      //   totalAmountWithoutFee = this.roundTo(totalAmountWithoutFee, 0);
      //   differenceAmount = this.roundTo(differenceAmount, 0);
      //   khupay = this.roundTo(khupay, 0);
      //   endOfMonth = this.roundTo(endOfMonth, 0);
      // }

      let strIdentification = shift.worker.identification;
      strIdentification = strIdentification
        .substring(strIdentification.length - 6, strIdentification.length);
      // const paymentCoordinates = new PhoneValidator(this.shift.worker.paymentCoordinates);
      // const paymentCoordinates = 'asfsaf';
      const dateRangeStart = this.$moment(workTokens[0].checkinTime)
        .format('YYYY-MM-DD');
      const dateRangeEnd = this.$moment(workTokens[workTokens.length - 1].checkoutTime)
        .format('YYYY-MM-DD');
      this.$emit('getFeeArray', feeData);
      const ret = {
        name: shift.worker.name,
        identification: strIdentification,
        phone: shift.worker.phone,
        paymentCoordinates: paymentData.coordinates,
        paymentMethod: paymentData.method,
        paymentCurrency: paymentData.currency,
        totalAmount: totalAmountWithoutFee,
        totalFee: feeForEachWorker,
        differenceAmount,
        khupay: khupay + khupayConflictAmount,
        endOfMonth: endOfMonth + eomConflictAmount,
        dateRange: `${String(dateRangeStart)} - ${String(dateRangeEnd)}`,
        shift,
        workTokens,
      };
      const detailData = await this.calculateDetailData(shift, workTokens, ret);
      ret.detailData = detailData;
      // this.$emit('getExportData', {
      //   shift, item: ret, workTokens: this.workTokens, detailData,
      // });
      // await this.$emit('isLoading', { id: shift.id, value: false });
      return ret;
    },
    async calculateDetailData(shift, workTokens, item) {
      // const currentPayCycleForMTD = await this.getCurrentPayCycleFromOragnisationForMTD({
      //   organisation: this.organisation,
      // });
      const currentWorkTokens = await workTokens
        .filter(workToken => workToken.fiatTokens.length > 0);

      const currentWorkTokenValues = await this.getWorkTokenValuesFromWorkTokens({
        workTokens: currentWorkTokens,
      }).data;

      const bonusWorkTokenValues = await this.filterBonusWorkTokenValues({
        workTokenValues: currentWorkTokenValues,
      }).data;
      const deductionWorkTokenValues = await this.filterDeductionWorkTokenValues({
        workTokenValues: currentWorkTokenValues,
      }).data;

      let discount = 0;


      let totalBonusAmount = await this
        .getTotalAmountFromWorkTokenValues({
          workTokenValues: bonusWorkTokenValues,
        }).data;
      let totalDeductionAmount = await this
        .getTotalAmountFromWorkTokenValues({
          workTokenValues: deductionWorkTokenValues,
        }).data;
      const bonus = bonusWorkTokenValues.length > 0 ? bonusWorkTokenValues[0].amount : 0;
      const totalPaid = (item.totalAmount + bonus) - totalDeductionAmount;

      if (shift.worker.paymentCurrency === 'USD') {
        totalBonusAmount = this.roundTo(totalBonusAmount, 2);
        totalDeductionAmount = this.roundTo(totalDeductionAmount, 2);
        discount = this.roundTo(discount, 2);
      } else if (shift.worker.paymentCurrency === 'MMK') {
        totalBonusAmount = this.roundTo(totalBonusAmount, 0);
        totalDeductionAmount = this.roundTo(totalDeductionAmount, 0);
        discount = this.roundTo(discount, 0);
      }
      this.$log.debug(totalBonusAmount);
      return {
        monthendPaymentCoordiantes: `( ${currentWorkTokenValues[0].method} :
        ${currentWorkTokenValues[0].coordinates})`,
        discount,
        totalPaid,
        bonus,
        deduction: totalDeductionAmount,
        bonusWorkTokenValues,
        deductionWorkTokenValues,
      };
    },
    async itemChange(event) {
      this.$log.debug({ event });
      this.shifts = await this.shiftsQuery();
    },
    async prevPageChange() {
      if (this.pageNo > 1) {
        this.pageNo -= 1;
      }
      this.exportData = [];
      this.shifts = [];
      this.shifts = await this.shiftsQuery();
    },
    async nextPageChange() {
      if (this.shifts.length === this.itemsPerPage) {
        this.pageNo += 1;
      }
      this.exportData = [];
      this.shifts = [];
      this.shifts = await this.shiftsQuery();
    },
    async reloadJobsQuery() {
      this.shifts = [];
      this.$apollo.queries.shifts.refetch();
      this.shifts = await this.shiftsQuery();
    },
    closeDialog() {
      this.dialog = false;
    },
    openDialog(value) {
      this.dialogData = value;
      this.dialog = true;
    },
    getExportData(value) {
      this.exportData.push(value);
      this.$emit('getExportData', value);
      this.$log.debug('export data', this.exportData);
    },
    getFeeArray(value) {
      this.feeArray.push(value);
    },
    async shiftsQuery() {
      let result = [];
      // const first = this.itemsPerPage !== 'All' ? this.itemsPerPage : null;
      // this.$log.debug('first', first);
      // const skip = this.itemsPerPage * (this.pageNo - 1);
      // this.$log.debug('skip', skip);
      const query = await apollo.defaultClient.query({
        query: gql`query shifts(
          $filter: FilterType,
          $orderBy: String,
          $skip: Int,
          $first: Int,
        ) {
          shifts(
            filter: $filter,
            orderBy: $orderBy,
            skip: $skip,
            first: $first,
          ) {
          id
          unpaid
          unconfirmed
          workComplete # deprecated
          createdAt
          job {
            id
            renumerationValue
          }
          worker {
            id
            name
            phone
            identification
            paymentCurrency
            paymentCoordinates
            languageSetting
            disabled
          }
          organisation {
            id
            name
          }
        }
      }
      `,
        variables: {
          filter: {
            query: {
              AND: [
                {
                  organisationId: this.organisation.id,
                },
                // {
                //   createdAt: {
                //     GTE: new Date('2019-01-01'),
                //     LTE: this.payCycle.endDate,
                //   },
                // },
                // {
                //   endTime: {
                //     GT: this.payCycle.startDate,
                //   },
                // },
              ],
            },
            advanced: {

            },
          },
          first: null,
          skip: 0,
          orderBy: 'createdAt',
        },
      })
        .catch((err) => {
          this.$log.error('shifts query errror', err);
        });
      if (query.data.shifts.length > 0) {
        // const range = this.$moment().range(this.$moment('2019-06-01'), this.payCycle.startDate);
        result = query.data.shifts;
      }
      return result;
    },
    async workTokensQuery(shiftId, timeRange) {
      let resultWorkTokens = [];
      const query = await apollo.defaultClient.query({
        query: gql`query workTokens(
          $filter: FilterType,
          $orderBy: String,
          $skip: Int,
          $first: Int,
        ) {
        workTokens(
          filter: $filter,
          orderBy: $orderBy,
          skip: $skip,
          first: $first,
        ) {
          id
          createdAt
          shift {
            id
            unconfirmed
          }
          worker {
            id
          }
          workTokenValue{
            id
            amount
            amountConflictDifference
            fee
            method
            currency
            coordinates
            expectedWorkTokenShift {
              id
            }
            expectedWorkTokenType
            notes
            workToken{
              id
              confirmed
              payNow
              product {
                id
                title
              }
              worker{
                id
              }
            }
          }
          fiatTokens{
            id
            workToken{
              checkinTime
              checkoutTime
            }
            createdAt
            amount
            currency
            method
            coordinates
            transactionRef
          }
          checkinTime
          checkoutTime
          type
          confirmed
          payNow
        }
      }
      `,
        variables: {
          filter: {
            query: {
              shiftId,
              unpaid: false,
              checkinTime: {
                GTE: timeRange.from.toDate(),
                LTE: timeRange.to.toDate(),
              },
            },
          },
          first: null,
          skip: 0,
          orderBy: 'createdAt',
        },
      })
        .catch((err) => {
          this.$log.debug('queryError', err);
        });
      if (query.data.workTokens.length > 0) {
        resultWorkTokens = query.data.workTokens;
        this.workTokens = resultWorkTokens;
      }
      return resultWorkTokens;
    },
  },
  // apollo: {
  //   shifts: {
  //     query: gql`query shifts(
  //       $filter: FilterType,
  //       $orderBy: String,
  //       $skip: Int,
  //       $first: Int,
  //     ) {
  //       shifts(
  //         filter: $filter,
  //         orderBy: $orderBy,
  //         skip: $skip,
  //         first: $first,
  //       ) {
  //         id
  //         unpaid
  //         unconfirmed
  //         workComplete
  //         createdAt
  //         job {
  //           id
  //           renumerationValue
  //         }
  //         worker {
  //           id
  //           name
  //           phone
  //           identification
  //           paymentCurrency
  //           paymentCoordinates
  //           languageSetting
  //           disabled
  //         }
  //         organisation {
  //           id
  //           name
  //         }
  //       }
  //     }
  //     `,

  //     variables() {
  //       return {
  //         filter: {
  //           query: {
  //             AND: [
  //               {
  //                 organisationId: this.organisation.id,
  //               },
  //               {
  //                 endTime: {
  //                   GT: this.payCycle.startDate,
  //                 },
  //               },
  //             ],
  //           },
  //           advanced: {

  //           },
  //         },
  //         first: this.itemsPerPage !== 'All' ? this.itemsPerPage : null,
  //         skip: this.itemsPerPage * this.pageNo,
  //         orderBy: 'CreatedAt',
  //       };
  //     },
  //     result({ data, loading, error }) {
  //       if (error) {
  //         this.$log.error(error);
  //         this.$eventHub.$emit('show-alert', {
  //           alert: true,
  //           type: 'error',
  //           message: 'The Shifts query error',
  //         });
  //       }
  //       if (loading) {
  //         this.loading = true;
  //       }
  //       if (!loading) {
  //         this.loading = false;
  //         this.$log.debug('shifts data from disbursement', data);
  //       }
  //     },
  //   },
  // },
};
</script>

<style scoped>
.custom-table >>> .v-data-table__wrapper{
  height: calc(100vh - 272px) !important;
}
</style>
