<template>
  <v-select
    v-if="affiliates.length > 0"
    :value="value"
    :items="affiliates"
    item-value="id"
    item-text="name"
    @input="v => $emit('input', v)"
    label="Affiliates"
    outlined
    :loading="loading"
    multiple
    :disabled="affiliates.length === 0"
  />
</template>

<script>

export default {
  props: {
    value: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      loading: false,
    };
  },

  computed: {
    affiliates() {
      const { employer } = this.$store.state;
      return (employer && employer.affiliates) || [];
    },
  },

  mounted() {
    this.loading = true;
    setImmediate(() => {
      this.loading = false;
    });
  },
};
</script>

<style>

</style>
