<template>
  <v-select
    :value="value"
    @change="onChange"
    :items="countries"
    item-text="name"
    item-value="code"
    label="Available In"
    :rules="[$Validate.required]"
    multiple
    chips
    small-chips
    outlined
    style="max-width:600px"
    :loading="loading"
  >
    <template v-slot:prepend-item>
      <v-list-item
        ripple
        @click="toggleSelectAll"
      >
        <v-list-item-action>
          <v-icon :color="value.length > 0 ? 'indigo darken-4' : ''">
            {{ selectAllIcon }}
          </v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>
            Select All
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-divider class="mt-2" />
    </template>
  </v-select>
</template>

<script>
import constants from '@/assets/js/constants';

export default {
  props: {
    value: {
      type: Array,
      required: true,
    },
  },

  mounted() {
    setImmediate(() => {
      this.loading = false;
    });
  },

  data() {
    return {
      countries: constants.countries,
      loading: true,
    };
  },

  computed: {
    isSelectedAll() {
      return this.value.length === this.countries.length;
    },
    selectAllIcon() {
      if (this.isSelectedAll) return 'mdi-close-box';
      if (this.value.length) return 'mdi-minus-box';
      return 'mdi-checkbox-blank-outline';
    },
  },

  methods: {
    onChange(v) {
      this.$emit('input', v);
    },
    toggleSelectAll() {
      this.$nextTick(() => {
        if (this.isSelectedAll) {
          this.$emit('input', []);
        } else {
          this.$emit('input', this.countries.map(this.getCC).slice());
        }
      });
    },
    getCC(country) {
      return country.code;
    },
  },
};
</script>

<style>

</style>
