<template>
  <!-- <ApolloQuery
    :query="categoryQuery"
    @result="result => categories = result.data.jobCategories"
  >
    <template slot-scope="{ result: { data, loading, error }}">

    </template>
  </ApolloQuery> -->
  <!-- <v-select
    :loading="loading"
    outlined
    label="Role Category"
    :items="(categories && sortedCategories.map(e => ({
      value: e.id,
      text: e.name + ` ${getHintFor(e.id)}`,
      data: e,
    }))) || []"
    :value="value"
    @input="v => $emit('input', v.data)"
    return-object
    :rules="rules"
    persistent-hint
  /> -->
  <v-card
    outlined
    width="100%"
  >
    <v-subheader>
      Role Category
    </v-subheader>
    <v-expand-transition>
      <v-slide-group
        v-if="sortedCategories && sortedCategories.length"
        :value="value"
        @change="v => $emit('input', sortedCategories.find(e => e.id === v))"
        center-active
        mandatory
      >
        <v-slide-item
          v-for="(category, n) in sortedCategories.map(e => ({
            value: e.id,
            text: e.name ,
            data: e,
          }))"
          :key="n"
          v-slot="{ active, toggle }"
          :value="category.value"
        >
          <v-card
            class="ma-2"
            width="120"
            @click="toggle"
          >
            <v-img
              :src="require('../../../../assets/img/' + getImageUrl(category.data))"
              :lazy-src="require('../../../../assets/img/' + getImageUrl(category.data))"
              height="120"
              :style="{
                filter: `grayscale(${active ? '0%' : '100%'})`,
              }"
            >
              <v-row
                class="fill-height"
                align="center"
                justify="center"
                no-gutters
              >
                <v-scale-transition>
                  <v-icon
                    v-if="active"
                    color="white"
                    size="48"
                    v-text="'mdi-check-circle-outline'"
                  />
                </v-scale-transition>
              </v-row>
              <template v-slot:placeholder>
                <v-row
                  class="fill-height ma-0"
                  align="center"
                  justify="center"
                >
                  <v-progress-circular
                    indeterminate
                    color="grey "
                  />
                </v-row>
              </template>
            </v-img>
            <!-- <div
              :style="{
                'backgroundImage': 'url(' + require('@/assets/img/working.jpg') + ')',
                'background-position': 'center',
                'background-size': 'cover',
                filter: `grayscale(${active ? '0%' : '100%'})`,
                height: '200px',
              }"
            >
              <v-row
                class="fill-height"
                align="center"
                justify="center"
                no-gutters
              >
                <v-scale-transition>
                  <v-icon
                    v-if="active"
                    color="white"
                    size="48"
                    v-text="'mdi-check-circle-outline'"
                  />
                </v-scale-transition>
              </v-row>
            </div> -->
            <v-card-text class="pa-0">
              <v-list-item
                dense
                class="px-1 text-center"
              >
                <v-list-item-content>
                  <v-list-item-title>
                    {{ category.text }}
                  </v-list-item-title>
                  <v-list-item-subtitle>
                    {{ getHintFor(category.value) }}
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-card-text>
          </v-card>
        </v-slide-item>
      </v-slide-group>
      <v-progress-linear
        v-else
        indeterminate
      />
    </v-expand-transition>
  </v-card>
</template>

<script>
/* eslint-disable vue/require-default-prop */
import queries from '@/assets/js/gql/queries';

export default {
  props: {
    value: String,
    rules: Array,
  },

  computed: {
    sortedCategories() {
      return this.categories
        ? Array.from(this.categories)
          .sort((a, b) => {
            if (this.getSortedNumber(a) > this.getSortedNumber(b)) return 1;
            if (this.getSortedNumber(a) < this.getSortedNumber(b)) return -1;
            return 0;
          })
        : [];
    },
    categories() {
      return this.$store.state.commonData.jobCategories;
    },
  },

  methods: {
    getSortedNumber(jobCategory) {
      if (jobCategory.name.includes('One-Off')) return 1;
      if (jobCategory.name.includes('Frontline')) return 2;
      if (jobCategory.name.includes('Trade')) return 3;
      if (jobCategory.name.includes('Office')) return 4;
      if (jobCategory.name.includes('Professional')) return 5;
      return null;
    },
    getHintFor(categoryId) {
      const selectedCategory = this.categories && this.categories.find(c => c.id === categoryId);
      if (!selectedCategory) return '';
      if (selectedCategory.name.includes('Frontline')) return 'Customer facing';
      if (selectedCategory.name.includes('Trade')) return 'Apprenticed';
      return '';
    },
    getImageUrl({ name }) {
      if (name.includes('One-Off')) return 'oneoff-jobs.jpg';
      if (name.includes('Frontline')) return 'frontline-jobs.jpg';
      if (name.includes('Trade')) return 'trade-jobs.jpg';
      if (name.includes('Office')) return 'office-jobs.jpg';
      if (name.includes('Professional')) return 'professional-jobs.jpg';

      // @/assets/img/working.jpg
      return null;
    },
  },

  apollo: {
    jobCategories: {
      query: queries.jobCategoryQuery,
      result({ data, error }) {
        if (data && !error) {
          this.$store.dispatch('setCommonData', { jobCategories: data.jobCategories });
        }
      },
    },
  },
};
</script>
