<template>
  <!-- <v-select
    :items="[...jobRoles, loosedTemplate]"
    :value="value"
    item-value="id"
    item-text="name"
    return-object
    @input="role => $emit('input', role) "
    :rules="rules"
    :disabled="disabled"
    outlined
    :label="jobCategory ? `Role Template for ${jobCategory.name}` : 'Role Template'"
  /> -->

  <v-card
    outlined
  >
    <v-subheader>
      <span>Role Templates for <b>{{ jobCategory.name }}</b>  </span>
    </v-subheader>
    <v-chip-group
      class="mx-2"
      :value="value"
      @change="roleId => $emit('input', jobRoles.find(e => e.id === roleId))"
      column
      mandatory
      active-class="red--text"
    >
      <v-chip
        v-for="item in [...jobRoles, loosedTemplate]"
        :key="item.id"
        :value="item.id"
        filter
      >
        {{ item.name }}
      </v-chip>
    </v-chip-group>
  </v-card>
</template>

<script>
/* eslint-disable vue/require-default-prop */
export default {
  props: {
    jobRoles: {
      type: Array,
      default: () => [],
    },
    jobCategory: {
      type: Object,
      default: () => {},
    },
    value: String,
    rules: Array,
    disabled: Boolean,
  },


  computed: {
    sortedJobRoles() {
      return this.jobRoles ? Array.from(this.jobRoles).sort((a, b) => (a.name - b.name)) : [];
    },
    loosedTemplate() {
      return { id: 'other', name: 'Other - no template used', jobSkills: this.jobRoles.map(e => e.jobSkills).flat() };
    },
  },

  watch: {
    jobCategory() {
      this.$emit('input', '');
      // if (this.job != null) {
      //   this.role = {
      //     id: this.job.jobRoleId,
      //   };
      // }
    },
  },
};
</script>
