<template>
  <v-container
    grid-list-md
    text-xs-center
  >
    <v-layout
      row
      wrap
      justify-center
      align-center
    >
      <v-flex
        align-center
        xs12
        sm10
      >
        <v-row>
          <v-spacer />
          <span class="display-1">Create a Job</span>
          <v-spacer />
        </v-row>

        <v-stepper
          v-model="step"
          style="overflow: auto; height: 80vh"
          vertical
        >
          <v-stepper-header
            class="headerst"
            color="blue"
          >
            <v-stepper-step
              step="1"
              :complete="step > 1"
            >
              Basic Job Information
            </v-stepper-step>
            <!-- <v-divider />
            <v-stepper-step
              step="2"
              :complete="step > 2"
            >
              Experience
            </v-stepper-step>
            <v-divider />
            <v-stepper-step step="3">
              More Info
            </v-stepper-step> -->
          </v-stepper-header>
          <v-stepper-items class="my-5">
            <v-stepper-content step="1">
              <v-form
                ref="form"
                v-model="valid"
              >
                <v-container>
                  <v-row>
                    <v-text-field
                      label="Please provide a job title"
                      outlined=""
                      v-model="job.title"
                      :rules="[v => !!v || 'Title is required']"
                    />
                  </v-row>
                  <!-- <MarketplaceSelect
                  v-if="organisation"
                  :organisation-id="organisation.id"
                /> -->
                  <v-row>
                    <v-radio-group
                      label="Job Type"
                      v-model="job.type"
                      row
                    >
                      <v-radio
                        label="Part Time"
                        value="PART_TIME"
                      />
                      <v-radio
                        label="Contract"
                        value="CONTRACT"
                      />
                      <v-radio
                        label="Full Time"
                        value="FULL_TIME"
                      />
                    </v-radio-group>
                  </v-row>

                  <v-row v-if="job.type === 'PART_TIME'">
                    <ShiftInputPartTime
                      :shifts="shifts"
                    />
                  </v-row>
                  <v-row>
                    <ShiftInputFullTime
                      v-if="job.type === 'FULL_TIME' || job.type === 'CONTRACT'"
                      :shifts="shifts"
                    />
                  </v-row>

                  <v-row>
                    <v-radio-group
                      :label="$t('paymentOption')"
                      v-model="job.paymentOption"
                      row
                    >
                      <v-radio
                        label="MONTHLY"
                        value="MONTHLY"
                      />
                      <v-radio
                        label="FIXED"
                        value="FIXED"
                      />
                      <v-radio
                        label="HOURLY"
                        value="HOURLY"
                      />
                    </v-radio-group>
                  </v-row>

                  <v-row>
                    <v-text-field
                      outlined
                      v-model="job.renumerationValue"
                      color="purple darken-2"
                      label="What is the salary for this job?"
                      required
                      :rules="[v => !!v || 'Salary is required']"
                    />
                  </v-row>

                  <v-row>
                    <v-text-field
                      v-model="job.minShiftsBalance"
                      outlined
                      label="What is the Minimum Shifts for this job?"
                      :rules="[v => !!v || 'Minimum Balance is required']"
                      required
                    />
                  </v-row>

                  <v-row>
                    <v-switch
                      v-model="job.allowAdvancedPay"
                      label="Allow Advanced Pay"
                    />
                  </v-row>

                  <v-row>
                    <PaymentMethodSelect
                      :region="organisation.region"
                      @paymentMethodSelected="setPaymentMethods"
                      :is-multiple="true"
                    />
                  </v-row>
                </v-container>
              </v-form>
              <v-btn

                @click="cancelJobCreate"
              >
                Cancel
              </v-btn>
              <!-- <v-btn
                color="primary"
                @click.native="step = 2"
              >
                Continue
              </v-btn> -->
              <v-btn
                color="primary"
                :disabled="!valid"
                @click.prevent="createJob"
              >
                Create Job
              </v-btn>
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import ShiftInputFullTime from '@/components/Shifts/Inputs/ShiftInputFullTime';
import ShiftInputPartTime from '@/components/Shifts/Inputs/ShiftInputPartTime';
// import MarketplaceSelect from '@/components/Common/Selects/MarketplaceSelect';
import PaymentMethodSelect from '@/components/Common/Selects/PaymentMethodSelect';

export default {
  name: 'CreateJob',

  components: {
    ShiftInputFullTime,
    ShiftInputPartTime,
    // MarketplaceSelect,
    PaymentMethodSelect,
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  data() {
    return {
      valid: false,
      step: 1,
      shifts: [
        {
          startDate: null,
          endDate: null,
          startTime: null,
          endTime: null,
        },
      ],
      paymentMethods: [],
      job: {
        title: '',
        minShiftsBalance: 0,
        type: 'FULL_TIME',
        renumerationValue: 0,
        paymentOption: 'MONTHLY',
        fulltimeStandardHoursStart: '09:00+06:30',
        fulltimeStandardHoursEnd: '18:00+06:30',
        allowAdvancedPay: false,
      },
    };
  },
  mounted() {
    window.scrollTo(0, 0);
    this.shifts[0].startDate = this.$moment().format('YYYY-MM-DD');
    this.shifts[0].endDate = this.$moment()
      .add(3, 'years')
      .format('YYYY-MM-DD');
    this.shifts[0].startTime = '09:00';
    this.shifts[0].endTime = '18:00';
  },

  methods: {
    setPaymentMethods(paymentMethods) {
      this.paymentMethods = paymentMethods;
    },
    cancelJobCreate() {
      this.$router.push({ name: 'view-jobs' });
      this.$destroy();
    },
    // showAlertDialog(message);
    async createJob() {
      let failCount = 0;
      const organisationId = this.organisation.id;
      const args = {
        organisationId,
        title: this.job.title,
        type: this.job.type,
        // paymentMethodsIds: this.paymentMethods.map(e => e.id),
        paymentMethodsIds: this.paymentMethods,
        paymentOption: this.job.paymentOption,
        renumerationValue: parseFloat(this.job.renumerationValue),
        // eslint-disable-next-line radix
        minShiftsBalance: parseInt(this.job.minShiftsBalance),
        fulltimeStandardHoursStart: this.job.fulltimeStandardHoursStart,
        fulltimeStandardHoursEnd: this.job.fulltimeStandardHoursEnd,
        allowAdvancedPay: this.job.allowAdvancedPay,
        private: true,
      };
      try {
        const { data } = await this.$JobService.createJob(args)
          .catch(() => {
            failCount += 1;
            this.$eventHub.$emit('show-alert', {
              alert: true,
              type: 'error',
              message: 'This job creation is not successful!, Please try again.',
            });
          });
        if (data.createJob.id) {
          // eslint-disable-next-line no-unused-vars
          const orgJob = await this.$OrganisationService.addOrganisationJob({
            organisationId,
            id: data.createJob.id,
            to: 'OPEN',
          });
          await this.addJobShifts(data.createJob.id)
            .catch(() => {
              failCount += 1;
              this.$eventHub.$emit('show-alert', {
                alert: true,
                type: 'error',
                message: 'This job shift creation is not successful!, Please try again.',
              });
            });
          if (failCount === 0) {
            this.$eventHub.$emit('show-alert', {
              alert: true,
              type: 'success',
              message: 'This job create is successful!.',
            });
            await this.$eventHub.$emit('refetch-employer');
            this.$router.push({ name: 'view-jobs' });
            this.$destroy();
          }
        }
      } catch (err) {
        this.$log.error(err);
      }
    },
    async addJobShifts(jobId) {
      // eslint-disable-next-line no-underscore-dangle
      const _this = this;
      async function addShifts(i) {
        let args = {};
        if (i < _this.shifts.length) {
          const startTime = _this.$moment(`${_this.shifts[i].startDate} ${_this.shifts[i].startTime}+06:30`,
            'YYYY-MM-DD hh:mmZ').toDate();

          let endTime;
          if (_this.job.type === 'FULL_TIME') {
            // endTime = _this.$moment(`${_this.shifts[i].endDate} ${_this.shifts[i].endTime}`,
            //   'YYYY-MM-DD hh:mm').add(3, 'years').toDate();
            endTime = _this.$moment(`${_this.shifts[i].endDate} ${_this.shifts[i].endTime}+06:30`,
              'YYYY-MM-DD hh:mmZ').toDate();
          } else {
            endTime = _this.$moment(`${_this.shifts[i].startDate} ${_this.shifts[i].endTime}+06:30`,
              'YYYY-MM-DD hh:mmZ').toDate();
          }
          args = {
            jobId,
            startTime,
            endTime,
          };
          const ret = await _this.$JobService.addJobShift(args);
          if (ret) {
            addShifts(i + 1);
          }
        }
      }
      addShifts(0);
    },
  },
};
</script>
