<template>
  <v-container>
    <JobContractForm
      :job="job"
    />
  </v-container>
</template>

<script>
import JobContractForm from '@/components/Marketplaces/Jobs/Forms/JobContractForm';

export default {
  components: {
    JobContractForm,
  },

  props: {
    job: {
      type: Object,
      default: () => {},
    },
  },
};
</script>
