<template>
  <div>
    <CustomNavBar
      :title="`Job Details (${job.private ? 'Private' : 'Public'})`"
      :edit-for="editPermissons"
      :job="job"
      :organisation="organisation"
    />
    <v-container v-if="job">
      <v-row
        v-if="job"
        justify="center"
      >
        <v-col
          cols
          style="max-width: 500px"
        >
          <JobDetailCard
            class="ma-5"
            :job="job"
          />
        </v-col>
        <v-col
          class="pt-5"
          cols
          style="max-width: 500px"
        >
          <WorkerAssignManual
            class="mt-3"
            v-if="job.private"
            :job="job"
            :shift="shift"
          />
          <JobCandidateList
            class="mt-5"
            v-else
            :shifts="job.shifts"
          />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import gql from 'graphql-tag';
// import Alert from '@/components/Utils/Alerts/Alert';
import JobDetailCard from '@/components/Jobs/JobDetailCard';
import JobCandidateList from '@/components/Jobs/JobCandidateList';
import WorkerAssignManual from '@/components/Workers/WorkerAssignManual';
import fragments from '@/assets/js/gql/fragments';
import CustomNavBar from '@/components/Common/CustomNavBar';
// import EditLeaveDialog from '@/components/Common/Dialog/EditLeaveDialog';
// import StartEndTimeLabel from '@/components/Marketplaces/Jobs/Labels/StartEndTimeLabel';

export default {
  components: {
    JobDetailCard,
    CustomNavBar,
    JobCandidateList,
    WorkerAssignManual,
    // EditLeaveDialog,
    // StartEndTimeLabel,
  },
  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
    jobId: {
      type: String,
      default: () => '',
    },
  },

  computed: {
    editPermissons() {
      if (this.$AccessService.isPermitted('WRITE_JOBS')) {
        return 'job';
      }
      return '';
    },

  },

  data() {
    return {
      job: {},
    };
  },

  apollo: {
    job: {
      query: gql`query job($jobId: ID!) {
        job(id: $jobId) {
          id
          title
          createdAt
          organisation {
            id
            name
          }
          type
          address
          renumerationValue
          minShiftsBalance
          fulltimeNonWorkWeekDays
          locationCoordinates{
            type
            coordinates
          }
          paymentOption
          paymentMethods {
            id
            name
            currency
          }
          private
          shifts {
            id
            startTime
            endTime
            completedAt
            jobContract { id }
            feedbackToWorker {
              id
              feedbackValue
              createdAt
              updatedAt
            }
            feedbackToEmployer {
              id
              feedbackValue
              createdAt
              updatedAt
            }
            candidates {
              ...worker
            }
            worker {
              ...worker
            }
            deductions {
              type
              amount
              enabledDate
              disabledDate
              notes
            }
            taxConfigurations {
              parents
              children
              spouse
              socialSecurityFee
            }
            workComplete
            workerAccepted
            leaveSickDays
            leaveSickUpdateDate
            leavePersonalDays
            leavePersonalUpdateDate
            leaveSpecialDays
            leaveSpecialUpdateDate
          }
        }
      }
      ${fragments.worker}
      `,
      variables() {
        return {
          jobId: this.jobId,
        };
      },
    },
  },
  mounted() {
    this.$root.$on('refresh-job', () => {
      this.$apollo.queries.job.refetch();
    });
  },
  methods: {
    backToJobList() {
      this.$router.push({ name: 'view-jobs' });
    },
  },

};
</script>
<style>
  .mg-no{
    margin: 0px;
  }
  .pd-no{
    padding: 0px;
  }
</style>
