<template>
  <div>
    <JobForm
      v-if="job && !loading"
      :prop-job="job"
      :organisation="organisation"
      :employer="employer"
      editor
    />
    <v-row
      v-else
      no-gutters
      justify="center"
      align="center"
    >
      <v-progress-circular
        indeterminate
      />
    </v-row>
  </div>
</template>

<script>
import JobForm from '@/components/Marketplaces/Jobs/Forms/JobForm';
import gql from 'graphql-tag';
import { mapState } from 'vuex';

export default {
  components: {
    JobForm,
  },
  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
    jobObj: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      job: null,
      loading: false,
    };
  },
  computed: {
    ...mapState(['employer']),
  },
  methods: {
    refetchQuery() {
      return this.$apollo.queries.job.refetch();
    },
  },
  mounted() {
    this.$eventHub.$on('refetch-job-edit', () => {
      this.$log.info('refetching query');
      this.loading = true;
      this.refetchQuery()
        .then(() => {
          setTimeout(() => {
            this.loading = false;
          }, 200);
        });
    });
  },
  apollo: {
    job: {
      query: gql`query job($jobId: ID!) {
        job(id: $jobId) {
          organisation {
            id
            name
          }
          locationCoordinates{
            type
            coordinates
          }
          paymentMethods {
            id
            name
            currency
            paymentType
          }
          listingStartDate
          listingEndDate
          workingHours
          lunchHour
          workingDays
          shifts {
            id
            startTime
            endTime
            deductions {
              type
              amount
              enabledDate
              disabledDate
              notes
            }
            taxConfigurations {
              parents
              children
              spouse
              socialSecurityFee
            }
            workComplete # deprecated
            workerAccepted
            leaveSickDays
            leaveSickUpdateDate
            leavePersonalDays
            leavePersonalUpdateDate
            leaveSpecialDays
            leaveSpecialUpdateDate
          }
          id
          title
          description
          address
          location {
            township
          }
          type
          role
          jobRole{
            id
            name
            jobSkills{
              jobSkill {
                id
                name
              }
            }
          }
          jobSkillRequirements{
            jobSkill{
              id
              name
              description
              levels{
                level
                definition
              }
            }
            level
            notes
          }
          jobCategory {
            id
            name
            jobRoles{
              id
              name
            }
          }
          jobRole{
            id
          }
          paymentOption
          renumerationValue
          renumerationCurrency
          minShiftsBalance
          fulltimeStandardHoursStart
          fulltimeStandardHoursEnd
          fulltimeOvertimeRenumerationPerHour
          fulltimeLeavePersonalAccruePerDay
          fulltimeLeaveSickAccruePerDay
          fulltimePublicHolidays
          fulltimeNonWorkWeekDays
          benefits
          jobTypeConversion
          contractAcceptanceTest
          requirementDescription
          requirementNumberOfContracts
          requirementSpokenLanguages
          requirementWrittenLanguages
          requirementDocuments
          requirementScreeningChannels
          requirementRequiredSkills
          requirementVenueWorked
          requirementPreferredSkills
          requirementDressCodes
          requirementCustomDressCode
          requirementDemographicAgeGroup
          requirementDemographicGender
          allowAdvancedPay
          isOpenEnded
          proxyCompanyName
          proxyCompanyDescription
          proxyEmployerName
          proxyCompanyContact
          proxyCompanyAddress
          proxyCompanyWebsiteUrl
          requirementMinExperienceLevel
          requirementDemographicGender
          private
          availableCountries
        }
      }
      `,
      variables() {
        return {
          jobId: this.jobObj.id,
        };
      },
      result({ data, loading, error }) {
        this.loading = loading;
        if (error) {
          this.$log.error(error);
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message: 'The job query error',
          });
        }
        if (data) {
          this.job = data.job;
          this.job.skills = data.job.jobSkillRequirements.map((skill) => {
            const level = skill.jobSkill.levels.find(e => e.level === skill.level);
            const ret = {
              definition: level.definition,
              jobSkill: skill.jobSkill,
              level: skill.level,
              name: skill.jobSkill.name,
              notes: skill.notes,
              skillId: skill.jobSkill.id,
            };
            return ret;
          });
          this.job.category = data.job.jobCategory;
          this.job.jobCategoryId = data.job.jobCategory.id || '';
          this.job.jobRoleId = data.job.jobRole.id || '';
        }
      },
    },
  },
};
</script>
