<template>
  <v-container
    grid-list-md
    text-xs-center
  >
    <v-layout
      row
      wrap
      justify-center
      align-center
    >
      <v-flex
        align-center
        xs12
        sm10
      >
        <v-row>
          <v-spacer />
          <span class="display-1">Edit Job</span>
          <v-spacer />
        </v-row>

        <v-stepper
          v-model="step"
          vertical
          style="overflow: auto; height: 80vh"
        >
          <v-stepper-header
            class="headerst"
            color="blue"
          >
            <v-stepper-step
              step="1"
              :complete="step > 1"
            >
              Basic Job Information
            </v-stepper-step>
            <!-- <v-divider />
            <v-stepper-step
              step="2"
              :complete="step > 2"
            >
              Experience
            </v-stepper-step>
            <v-divider />
            <v-stepper-step step="3">
              More Info
            </v-stepper-step> -->
          </v-stepper-header>
          <v-stepper-items class="my-5">
            <v-stepper-content step="1">
              <v-form
                ref="form"
                v-model="valid"
              >
                <v-container>
                  <v-row>
                    <v-text-field
                      label="Job Title"
                      outlined
                      v-model="job.title"
                      :rules="[v => !!v || 'Title is required']"
                    />
                  </v-row>
                  <!-- <MarketplaceSelect
                  v-if="organisation"
                  :organisation-id="organisation.id"
                /> -->
                  <v-row>
                    <v-radio-group
                      label="Job Type"
                      v-model="job.type"
                      row
                    >
                      <v-radio
                        label="Part Time"
                        value="PART_TIME"
                      />
                      <v-radio
                        label="Contract"
                        value="CONTRACT"
                      />
                      <v-radio
                        label="Full Time"
                        value="FULL_TIME"
                      />
                    </v-radio-group>
                  </v-row>

                  <v-row v-if="job.type === 'PART_TIME'">
                    <ShiftInputPartTime
                      :shifts="shifts"
                    />
                  </v-row>
                  <v-row>
                    <ShiftInputFullTime
                      v-if="job.type === 'FULL_TIME' || job.type === 'CONTRACT'"
                      :shifts="shifts"
                    />
                  </v-row>

                  <v-row>
                    <v-radio-group
                      :label="$t('paymentOption')"
                      v-model="job.paymentOption"
                      row
                    >
                      <v-radio
                        label="MONTHLY"
                        value="MONTHLY"
                      />
                      <v-radio
                        label="FIXED"
                        value="FIXED"
                      />
                      <v-radio
                        label="HOURLY"
                        value="HOURLY"
                      />
                    </v-radio-group>
                  </v-row>

                  <v-row>
                    <v-text-field
                      outlined
                      v-model="job.renumerationValue"
                      label="What is the salary for this job?"
                      required
                      :rules="[v => !!v || 'Salary is required']"
                    />
                  </v-row>
                  <v-row>
                    <v-text-field
                      v-model="job.minShiftsBalance"
                      outlined
                      label="What is the Minimum Shifts for this job?"
                      required
                    />
                  </v-row>
                  <v-row>
                    <v-switch
                      v-model="job.allowAdvancedPay"
                      label="Allow Advanced Pay"
                    />
                  </v-row>
                  <v-row>
                    <v-text-field
                      outlined
                      v-model="job.fulltimeNonWorkWeekDays"
                      label="Non Work Week Days"
                      required
                    />
                  </v-row>

                  <v-row>
                    <!-- <PaymentMethodSelect
                      :region="organisation.region"
                      @paymentMethodSelected="setPaymentMethods"
                      :is-multiple="true"
                    /> -->
                    <PaymentMethodsCombo
                      :payment-methods="paymentMethods"
                      :organisation="organisation"
                      @paymentMethodsUpdated="setPaymentMethods"
                      style="width:600px"
                    />
                  </v-row>
                  <v-row>
                    <LocationPicker
                      @locationUpdated="setLocation"
                    />
                  </v-row>
                </v-container>
              </v-form>
              <v-btn
                @click="cancelJobEdit"
              >
                Cancel
              </v-btn>
              <!-- <v-btn
                color="primary"
                @click.native="step = 2"
              >
                Continue
              </v-btn> -->
              <v-btn
                color="primary"
                :disabled="!valid"
                @click.prevent="updateJob"
              >
                Update Job
              </v-btn>
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import ShiftInputFullTime from '@/components/Shifts/Inputs/ShiftInputFullTime';
import ShiftInputPartTime from '@/components/Shifts/Inputs/ShiftInputPartTime';
// import PaymentMethodSelect from '@/components/Common/Selects/PaymentMethodSelect';
import LocationPicker from '@/components/Common/Pickers/LocationPicker';
import PaymentMethodsCombo from '@/components/Marketplaces/Jobs/Comboboxes/PaymentMethodsCombo';

export default {
  name: 'EditJob',
  components: {
    ShiftInputFullTime,
    ShiftInputPartTime,
    // PaymentMethodSelect,
    LocationPicker,
    PaymentMethodsCombo,
  },
  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
    jobObj: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      valid: true,
      step: 1,
      shifts: [
        {
          id: null,
          status: null,
          startDate: null,
          endDate: null,
          startTime: null,
          endTime: null,
        },
      ],
      locationCoordinates: {},
      job: {
        id: '',
        title: null,
        type: 'PART_TIME',
        role: 'SERVICE',
        renumerationValue: 0,
        paymentOption: '',
        fulltimeStandardHoursStart: '09:00',
        fulltimeStandardHoursEnd: '06:00',
        fulltimeNonWorkWeekDays: [],
        allowAdvancedPay: false,
      },
      paymentMethods: [],
    };
  },

  mounted() {
    window.scrollTo(0, 0);
    this.prepareInitialData(this.jobObj);
    this.$eventHub.$on('jobedit-prepare-data', (propJob) => {
      this.prepareInitialData(propJob);
    });
  },

  watch: {
    $route(to, from) {
      if (from.name === 'edit-job') {
        this.$destroy();
      }
    },
  },

  methods: {
    setLocation(locationCoordinates) {
      this.$log.debug({ locationCoordinates });
      this.locationCoordinates = {
        type: 'Point',
        coordinates: [
          locationCoordinates.lng,
          locationCoordinates.lat,
        ],
      };
    },
    setPaymentMethods(paymentMethods) {
      this.paymentMethods = paymentMethods;
    },

    cancelJobEdit() {
      this.$router.push({ name: 'view-jobs', params: { organisation: this.organisation } });
      this.$destroy();
    },

    prepareInitialData(jobObj) {
      this.step = 1;
      // eslint-disable-next-line no-underscore-dangle
      const _this = this;
      this.shifts.length = 0;
      this.job.id = jobObj.id;
      this.job.title = jobObj.title;
      this.job.type = jobObj.type;
      this.job.role = jobObj.role;
      this.job.allowAdvancedPay = true;
      this.job.location = jobObj.location;
      this.job.paymentMethods = jobObj.paymentMethods;
      this.paymentMethods = jobObj.paymentMethods;
      this.job.paymentOption = jobObj.paymentOption;
      this.job.renumerationValue = jobObj.renumerationValue;
      this.job.minShiftsBalance = jobObj.minShiftsBalance;
      this.job.private = jobObj.private.toString();
      this.locationCoordinates = jobObj.locationCoordinates;
      this.job.fulltimeNonWorkWeekDays = jobObj.fulltimeNonWorkWeekDays.toString();
      this.job.payCycleMonthDays = jobObj.payCycleMonthDays;
      jobObj.shifts.forEach((shift) => {
        const sDate = _this.$moment(shift.startTime).format('YYYY-MM-DD');
        const eDate = _this.$moment(shift.endTime).format('YYYY-MM-DD');
        const sTime = _this.$moment(shift.startTime).format('HH:mm');
        const eTime = _this.$moment(shift.endTime).format('HH:mm');
        this.shifts.push({
          id: shift.id,
          status: 'edit',
          startDate: sDate,
          endDate: eDate,
          startTime: sTime,
          endTime: eTime,
        });
      });
      this.$eventHub.$emit('shiftinput-prepare-data', jobObj.shifts);
    },

    async updateJob() {
      let failCount = 0;
      const organisationId = this.organisation.id;
      const fulltimeNonWorkWeekDays = this.job.fulltimeNonWorkWeekDays.split(',')
        .map(item => parseInt(item, 10));
      const args = {
        id: this.job.id,
        organisationId,
        title: this.job.title,
        type: this.job.type,
        renumerationValue: parseFloat(this.job.renumerationValue),
        // eslint-disable-next-line radix
        minShiftsBalance: parseInt(this.job.minShiftsBalance),
        paymentMethodsIds: this.paymentMethods.map(e => e.id),
        paymentOption: this.job.paymentOption,
        locationCoordinates: this.locationCoordinates,
        allowAdvancedPay: this.job.allowAdvancedPay,
        fulltimeNonWorkWeekDays,
      };

      const result = await this.$JobService.updateJob(args)
        .catch((err) => {
          failCount = 0;
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message: `Updating job is not successful! ${err}`,
          });
        });
      if (result) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Job Edited Successfully',
        });
        const createShiftArray = this.shifts.filter(shift => shift.status === 'create');
        await this.addJobShifts(this.job.id, createShiftArray)
          .catch((err) => {
            failCount = 0;
            this.$log.error(err);
            this.$eventHub.$emit('show-alert', {
              alert: true,
              type: 'error',
              message: 'adding shifts is not successful!, Please try again.',
            });
          });

        const editShiftArray = this.shifts.filter(shift => shift.status === 'edit');
        await this.updateShift(editShiftArray)
          .catch((err) => {
            failCount = 0;
            this.$log.error(err);
            this.$eventHub.$emit('show-alert', {
              alert: true,
              type: 'error',
              message: 'Updating shift is not successful!, Please try again.',
            });
          });
        if (failCount === 0) {
          this.$router.push({ name: 'view-jobs', params: { organisation: this.organisation } });
          this.$destroy();
        }
      }
    },

    async updateShift(shifts) {
      // eslint-disable-next-line no-underscore-dangle
      const _this = this;
      async function shiftsLoop(i) {
        let args = {};
        if (i < shifts.length) {
          if (shifts[i].status === 'edit') {
            const startTime = _this.$moment(`${shifts[i].startDate} ${shifts[i].startTime}`, 'YYYY-MM-DD hh:mm').toDate();

            let endTime;
            if (_this.job.type === 'FULL_TIME') {
              // endTime = _this.$moment(`${_this.shifts[i].endDate} ${_this.shifts[i].endTime}`,
              //   'YYYY-MM-DD hh:mm').add(3, 'years').toDate();
              endTime = _this.$moment(`${shifts[i].endDate} ${shifts[i].endTime}`,
                'YYYY-MM-DD hh:mm').toDate();
            } else {
              endTime = _this.$moment(`${shifts[i].startDate} ${shifts[i].endTime}`,
                'YYYY-MM-DD hh:mm').toDate();
            }
            args = {
              id: shifts[i].id,
              startTime,
              endTime,
            };
            const ret = await _this.$JobService.updateShift(args);
            if (ret) {
              shiftsLoop(i + 1);
            }
          }
        }
      }
      shiftsLoop(0);
    },

    async addJobShifts(jobId, shifts) {
      // eslint-disable-next-line no-underscore-dangle
      const _this = this;
      async function addShifts(i) {
        let args = {};
        if (i < shifts.length) {
          if (shifts[i].status === 'create') {
            const startTime = _this.$moment(`${shifts[i].startDate} ${shifts[i].startTime}`, 'YYYY-MM-DD hh:mm').toDate();

            let endTime;
            if (_this.job.type === 'FULL_TIME') {
              // endTime = _this.$moment(`${_this.shifts[i].endDate} ${_this.shifts[i].endTime}`,
              //   'YYYY-MM-DD hh:mm').add(3, 'years').toDate();
              endTime = _this.$moment(`${shifts[i].endDate} ${shifts[i].endTime}`,
                'YYYY-MM-DD hh:mm').toDate();
            } else {
              endTime = _this.$moment(`${shifts[i].startDate} ${shifts[i].endTime}`,
                'YYYY-MM-DD hh:mm').toDate();
            }
            args = {
              jobId,
              startTime,
              endTime,
            };
            const ret = await _this.$JobService.addJobShift(args);
            if (ret) {
              addShifts(i + 1);
            }
          }
        }
      }
      addShifts(0);
    },
  },
};
</script>
