<template>
  <div>
    <v-row
      no-gutters
      class="py-2"
    >
      <span
        v-if="organisation != null"
        class="display-1 ml-4"
      >
        {{ organisation.name }}'s Jobs
      </span>
      <v-spacer />
      <v-menu
        v-if="jobs && jobs.length > 0"
        v-model="payrollMenu"
        :close-on-content-click="false"
        offset-y
        max-width="180"
        transition="slide-y-transition"
      >
        <!--  -->
        <template #activator="{on}">
          <access-blocker :features="['WRITE_ACCESS', 'TIMESHEET']">
            <v-btn
              id="btn-JobListPage-OpenPayrollMenu"
              color="default"
              v-on="on"
              depressed
              v-html="'Process Salary'"
            />
          </access-blocker>
        </template>
        <v-list class="pa-0">
          <PayrollButton
            :jobs="jobs"
          />
          <InstalmentButton
            :jobs="jobs"
            :organisation="organisation"
          />
        </v-list>
      </v-menu>
      <v-menu
        v-model="jobCreateMenu"
        :close-on-content-click="false"
        :nudge-width="200"
        offset-y
        max-width="250"
        open-on-hover
        transition="slide-y-transition"
      >
        <template #activator="{on}">
          <v-btn
            id="btn-JobListPage-OpenJobCreateMenu"
            class="jobdoh white--text mr-5 ml-2"
            color="default"
            :class="{
              'disable-btn': !$AccessService.isPermitted('WRITE_JOBS')
            }"
            v-on="on"
            depressed
          >
            <v-icon
              id="btn-JobListPage-OpenJobCreateMenu"
              left
            >
              mdi-briefcase-plus
            </v-icon>
            <span id="btn-JobListPage-OpenJobCreateMenu">
              Create A Job
            </span>
          </v-btn>
        </template>

        <v-card>
          <v-list class="pa-0">
            <AccessBlocker
              v-for="(btn, i) in jobCreateBtns"
              :key="i"
              v-ripple
              :features="btn.features"
            >
              <v-hover v-slot="{hover}">
                <v-list-item
                  :class="{ jobdoh: hover }"
                  :dark="hover"
                  :disabled="!btn.permitted"
                  @click="btn.onClick"
                >
                  <v-list-item-content>
                    <v-list-item-title>{{ btn.label }}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-hover>
              <v-divider />
            </AccessBlocker>
          </v-list>
          <!-- <v-card-actions>
            <v-btn
              v-for="(btn, i) in jobCreateBtns"
              :key="i"
              class="black--text ma-1"
              v-text="btn.label"
              @click="btn.onClick()"
              outlined
              :class="{
                'disable-btn' : !btn.permitted,
              }"
            />
          </v-card-actions> -->
        </v-card>
      </v-menu>
    </v-row>
    <v-divider />
    <JobList
      v-if="$AccessService.isPermitted('READ_JOBS') && !!organisation"
      :organisation="organisation"
      :prop-jobs.sync="jobs"
    />
  </div>
</template>

<script>
import JobList from '@/components/Jobs/JobList';
import PayrollButton from '@/components/Payrolls/Buttons/PayrollButton';
import InstalmentButton from '@/components/Payrolls/Buttons/InstalmentButton';
import AccessBlocker from '@/components/Common/AccessBlocker';

export default {
  components: {
    JobList,
    PayrollButton,
    InstalmentButton,
    AccessBlocker,
  },

  // props: {
  //   organisation: {
  //     type: Object,
  //     default: () => {},
  //   },
  // },

  data() {
    return {
      jobCreateMenu: false,
      menu: false,
      panel: [1],
      jobs: null,
      dialog: false,
      payCycleIdentifier: null,
      shifts: null,
      btns: [
        { label: 'Import Jobs + Workers', onClick: () => this.batchUpload('alien'), features: ['WRITE_ACCESS', 'CREATE_MARKETPLACE_JOB'] },
        { label: 'Import Exclusive Jobs', onClick: () => this.batchUpload('normal'), features: ['WRITE_ACCESS', 'CREATE_MARKETPLACE_JOB'] },
        { label: 'Create a Job', onClick: () => this.goto('create-marketplace-job', 'PUBLIC'), features: ['WRITE_ACCESS', 'CREATE_PUBLIC_JOB'] },
      ],
    };
  },

  // async mounted() {
  //   this.shifts = await this.shiftsQuery();
  //   const jobs = this.shifts ? this.shifts.map(e => e.job) : [];
  //   this.jobs = jobs.filter(e => e != null);
  //   // this.$eventHub.$on('refetch-organisation-jobs', () => {
  //   //   this.$apollo.queries.jobs.refetch();
  //   // });
  // },

  computed: {
    jobCreateBtns() {
      return this.btns
        .map((e) => {
          const permitted = e.features.every(f => this.$AccessService.isUnlocked(f));
          return {
            ...e,
            permitted,
            onClick: () => {
              if (permitted) e.onClick();
              else this.$eventHub.$emit('show-tutorial-feature', e.features[0], true);
            },
          };
        })
        .reverse();
    },
    organisation() {
      return this.$store.getters.currentOrganisation;
    },
    // currentJobs() {
    //   if (this.jobs == null) {
    //     return [];
    //   }
    //   const currentJobs = this.jobs.filter((job) => {
    //     let currentJob;
    //     if (job.shifts.length === 0) {
    //       return {};
    //     }
    //     if (job.shifts[0] == null) {
    //       this.$log.warn('shift0', job);
    //       return {};
    //     }
    //     if (!job.shifts[0].workComplete) {
    //       currentJob = job;
    //     }
    //     return currentJob;
    //   });
    //   return currentJobs.sort((a, b) => ((a.title > b.title) ? 1 : -1));
    // },
    // pastJobs() {
    //   if (this.jobs.length === 0 || this.jobs == null) {
    //     return [];
    //   }
    //   const pastJobs = this.jobs.filter((job) => {
    //     let pastJob;
    //     if (job.shifts.length === 0 || job.shifts == null) {
    //       return {};
    //     }
    //     if (job.shifts[0].workComplete) {
    //       pastJob = job;
    //     }
    //     return pastJob;
    //   });
    //   return pastJobs;
    // },

  },

  beforeRouteLeave(to, from, next) {
    this.$log.info('route change...');
    this.$destroy();
    next();
  },

  methods: {
    onJobCreateMenuClick() {
      if (this.$AccessService.isLocked('CREATE_OFFLINE_JOB')) {
        this.$eventHub.$emit('show-tutorial-feature', 'CREATE_OFFLINE_JOB', true);
      } else if (this.$AccessService.isLocked('CREATE_MARKETPLACE_JOB')) {
        this.$eventHub.$emit('show-tutorial-feature', 'CREATE_MARKETPLACE_JOB', true);
      } else {
        this.jobCreateMenu = !this.jobCreateMenu;
      }
    },
    goto(name, type) {
      this.$router.push({
        name,
        params: {
          formType: type,
        },
      });
    },
    batchUpload(uploadType) {
      this.$router.push({
        name: 'batch-upload',
        params: { uploadType },
      });
    },
    // async shiftsQuery() {
    //   let result = [];
    //   const query = await apollo.defaultClient.query({
    //     query: gql`query shifts(
    //       $filter: FilterType,
    //       $orderBy: String,
    //       $skip: Int,
    //       $first: Int,
    //     ) {
    //       shifts(
    //         filter: $filter,
    //         orderBy: $orderBy,
    //         skip: $skip,
    //         first: $first,
    //       ) {
    //       id
    //       startTime
    //       endTime
    //       workComplete
    //       employerId
    //       candidates {
    //         id
    //       }
    //       worker {
    //         id
    //         name
    //         phone
    //         verified
    //         defaultWorkerPaymentMethod{
    //           id
    //           paymentMethod{
    //             id
    //             code
    //           }
    //           coordinates
    //         }
    //       }
    //       workerAccepted
    //       job {
    //         id
    //         title
    //         type
    //         role
    //         address
    //         location {
    //           township
    //           state
    //           country
    //         }
    //         renumerationValue
    //         minShiftsBalance
    //         private
    //         organisation {
    //           id
    //         }
    //         marketplace {
    //           id
    //         }
    //         paymentMethods {
    //           id
    //           name
    //           currency
    //         }
    //         paymentOption
    //       }
    //     }
    //   }
    //   `,
    //     variables: {
    //       filter: {
    //         query: {
    //           AND: [
    //             {
    //               organisationId: this.organisation.id,
    //             },
    //           ],
    //         },
    //       },
    //       first: null,
    //       skip: 0,
    //       orderBy: 'createdAt',
    //     },
    //   })
    //     .catch((err) => {a
    //       this.$log.error('shifts query errror', err);
    //     });
    //   if (query.data.shifts.length > 0) {
    //     // eslint-disable-next-line no-return-assign
    //     result = query.data.shifts;
    //     this.$log.debug('Shifts', result);
    //   }
    //   return result;
    // },
  },
};
</script>

<style scoped>
.disable-btn {
  color: rgba(0, 0, 0, 0.38) !important;
  background-color: rgba(255, 255, 255, 0.12) !important;
}
.disable-list-item {
  color: rgba(0, 0, 0, 0.38) !important;
  background-color: rgba(255, 255, 255, 0.12) !important;
}
</style>
