<template>
  <ApolloQuery
    :query="query"
    :variables="{
      event: 'APPLY_SHIFT',
      documentId: shiftId,
      update: workerId,
    }"
  >
    <template slot-scope="{ result: { data, loading, error }}">
      <div v-if="loading">
        ...
      </div>
      <div v-else-if="!error && data">
        Applied: {{ $moment(data.ledgerEntry.createdAt).format('MMM DD, YYYY') }}
      </div>
    </template>
  </ApolloQuery>
</template>

<script>
import queries from '@/assets/js/gql/queries';

export default {
  props: {
    shiftId: {
      type: String,
      default: () => '',
    },
    workerId: {
      type: String,
      default: () => '',
    },
  },

  data: () => ({
    query: queries.ledgerEntryQuery,
  }),
};
</script>
