<template>
  <v-flex>
    <v-layout
      class="ma-1"
      row
    >
      <v-icon>done</v-icon>
      {{ levelRequired }}
    </v-layout>
    <v-layout
      class="ma-1"
      row
    >
      <v-flex>
        {{ baseLevel }}
      </v-flex>
      <StarScale
        :max="maxLevels"
        :score="score"
      />
      <v-flex>
        {{ maxLevel }}
      </v-flex>
    </v-layout>
  </v-flex>
</template>

<script>
import StarScale from '@/components/Marketplaces/Jobs/Labels/StarScale';

export default {
  components: {
    StarScale,
  },

  props: {
    jobSkillRequirement: {
      type: Object,
      default: () => {},
    },
  },

  computed: {
    levelRequired() {
      if (this.jobSkillRequirement.jobSkill == null) {
        return '';
      }
      const { name } = this.jobSkillRequirement.jobSkill;
      const { levels } = this.jobSkillRequirement.jobSkill;
      const { level } = this.jobSkillRequirement;
      const { notes } = this.jobSkillRequirement;
      const { definition } = levels.find(e => e.level === level);
      return `${name}: ${definition} (${notes})`;
    },
    maxLevels() {
      if (this.jobSkillRequirement.jobSkill == null) {
        return 0;
      }
      const { levels } = this.jobSkillRequirement.jobSkill;
      return levels.length;
    },
    score() {
      if (this.jobSkillRequirement.level == null) return 0;
      const { level } = this.jobSkillRequirement;
      return (level + 1);
    },
    baseLevel() {
      if (this.jobSkillRequirement.jobSkill == null) return '';
      const { levels } = this.jobSkillRequirement.jobSkill;
      const { definition } = levels.find(e => e.level === 0);
      return definition;
    },
    maxLevel() {
      if (this.jobSkillRequirement.jobSkill == null) return '';
      const { levels } = this.jobSkillRequirement.jobSkill;
      const { definition } = levels.find(e => e.level === (levels.length - 1));
      return definition;
    },
  },
};
</script>
