<template>
  <ApolloQuery
    :query="query"
    :variables="{
      event: 'JOB_VIEWED',
      documentId: jobId,
    }"
  >
    <template slot-scope="{ result: { data, loading, error }}">
      <div v-if="loading">
        <LoadingDialog :loading="true" />
      </div>
      <div v-else-if="error">
        Error
      </div>
      <div v-else-if="data">
        Viewed {{ data.ledgerEntries.length }} times
      </div>
    </template>
  </ApolloQuery>
</template>

<script>
import LoadingDialog from '@/components/Utils/Dialogs/LoadingDialog';
import queries from '@/assets/js/gql/queries';

export default {
  components: {
    LoadingDialog,
  },

  props: {
    jobId: {
      type: String,
      default: () => '',
    },
  },

  data: () => ({
    query: queries.ledgerEntriesQuery,
  }),
};
</script>
