<template>
  <div>
    <v-list-item>
      <v-list-item-icon>
        <v-icon v-text="'mdi-circle-small'" />
      </v-list-item-icon>
      <v-list-item-content>
        <v-list-item-title>
          {{ skill.name }}
          <v-chip>{{ skill.definition }}</v-chip>
        </v-list-item-title>
        <v-list-item-subtitle v-html="skill.notes" />
      </v-list-item-content>
      <v-list-item-action>
        <v-btn
          id="btn-any-RequirementsForm-DeleteJobSkill"
          icon
          @click.stop="deleteSkill"
        >
          <v-icon
            id="btn-any-RequirementsForm-DeleteJobSkill"
            color="grey lighten-1"
          >
            mdi-close
          </v-icon>
        </v-btn>
      </v-list-item-action>
    </v-list-item>
    <v-divider />
  </div>
</template>

<script>
export default {
  props: {
    nth: {
      type: Number,
      default: () => -1,
    },
    skill: {
      type: Object,
      default: () => {},
    },
  },

  methods: {
    deleteSkill() {
      this.$emit('delete-skill', this.nth);
    },
  },
};
</script>
