<template>
  <!-- eslint-disable max-len  -->
  <span>
    <v-dialog
      v-if="editor"
      v-model="shiftEditDialog"
      max-width="400px"
      @click:outside="onClose"
    >
      <v-form v-model="formValue">
        <v-card>
          <v-card-title>
            Edit Shift
          </v-card-title>
          <v-card-text>
            <StartEndDatePicker
              class="my-2"
              :timeinput="{
                startDate: $moment(shift.startTime).format('YYYY-MM-DD'),
                endDate: $moment(shift.endTime).format('YYYY-MM-DD'),
              }"
              @dateUpdated="onDateUpdated"
            />
            <start-end-time-picker
              :time-data="{
                startTime: $moment(shift.startTime).format('HH:mm'),
                endTime: $moment(shift.endTime).format('HH:mm'),
              }"
              @timeUpdated="onTimeUpdated"
            />
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              id="btn-any-ShiftEditDialog-Close"
              text
              @click="onClose"
              v-html="'Close'"
            />
            <v-btn
              id="btn-any-ShiftEditDialog-Update"
              color="jobdoh"
              @click="updateShift(shift)"
              class="white--text"
              :loading="loading"
              :disabled="!hasChanges"
              v-html="'Update Shift'"
            />
          </v-card-actions>
        </v-card>
      </v-form>
      <template #activator="{on, }">
        <v-chip
          v-on="on"
          v-bind="$attrs"
          @click="shiftEditDialog = true"
          color="cyan"
          label
          text-color="white"
        >
          {{ $moment(time.startTime).format('MMM D, HH:mm A') }}
          -
          {{ $moment(time.endTime).format('MMM D, HH:mm A') }}
        </v-chip>
      </template>
    </v-dialog>
    <v-chip
      v-else
      class="fs-3"
      :close="!editor && !readonly"
      @click="shiftEditDialog = true"
      @click:close="deleteTime"
      color="black"
      label
      outlined
    >
      {{ $moment(time.start).format('MMM D, HH:mm A') }}
      -
      {{ $moment(time.end).format('MMM D, HH:mm A') }}
    </v-chip>
  </span>
</template>

<script>
import StartEndTimePicker from '@/components/Common/Pickers/StartEndTimePicker';
import StartEndDatePicker from '@/components/Common/Pickers/StartEndDatePicker';
// import DatePicker from '@/components/Common/Pickers/DatePicker';
import moment from 'moment';

/* eslint-disable vue/no-side-effects-in-computed-properties */
export default {
  components: {
    StartEndTimePicker,
    StartEndDatePicker,
    // DatePicker,
  },

  props: {
    nth: {
      type: Number,
      default: () => -1,
    },
    time: {
      type: Object,
      default: () => {},
    },
    editor: Boolean,
    readonly: Boolean,
  },

  data() {
    return {
      shiftEditDialog: false,
      shift: Object.assign({}, this.time),
      formValue: false,
      loading: false,
      headers: [
        { text: 'Leave Types', value: 'type', sortable: false },
        { text: 'Days', value: 'days', sortable: false },
        { text: 'Updated Date', value: 'updatedDate', sortable: false },
      ],
    };
  },

  computed: {
    leaveTypes() {
      if (!this.editor) return [];
      const {
        leaveSickDays,
        leaveSickUpdateDate,
        leavePersonalDays,
        leavePersonalUpdateDate,
        leaveSpecialDays,
        leaveSpecialUpdateDate,
      } = this.shift;

      const today = new Date().toISOString();

      return [
        {
          type: 'Sick Leave',
          days: leaveSickDays,
          updatedDate: leaveSickUpdateDate && moment(leaveSickUpdateDate).format('DD-MM-YYYY'),
          onChange: (day) => {
            this.shift.leaveSickDays = day && parseFloat(day);
            this.shift.leaveSickUpdateDate = today;
          },
        },
        {
          type: 'Personal Leave',
          days: leavePersonalDays,
          updatedDate: leavePersonalUpdateDate && moment(leavePersonalUpdateDate).format('DD-MM-YYYY'),
          onChange: (day) => {
            this.shift.leavePersonalDays = day && parseFloat(day);
            this.shift.leavePersonalUpdateDate = today;
          },
        },
        {
          type: 'Other Leaves',
          days: leaveSpecialDays,
          updatedDate: leaveSpecialUpdateDate && moment(leaveSpecialUpdateDate).format('DD-MM-YYYY'),
          onChange: (day) => {
            this.shift.leaveSpecialDays = day && parseFloat(day);
            this.shift.leaveSpecialUpdateDate = today;
          },
        },
      ];
    },
    hasChanges() {
      return JSON.stringify(this.time) !== JSON.stringify(this.shift);
    },
  },

  methods: {
    onDateUpdated({ startDate, endDate }) {
      const shiftStart = moment(startDate);
      this.shift.startTime = moment(this.shift.startTime)
        .set('date', shiftStart.date())
        .set('month', shiftStart.month())
        .set('years', shiftStart.year())
        .toISOString();
      const shiftEnd = moment(endDate);
      this.shift.endTime = moment(this.shift.endTime)
        .set('date', shiftEnd.date())
        .set('month', shiftEnd.month())
        .set('years', shiftEnd.year())
        .toISOString();
    },
    onTimeUpdated({ startTime, endTime }) {
      const [startHour, startMinute] = startTime.split(':');
      this.shift.startTime = moment(this.shift.startTime)
        .set('hour', startHour)
        .set('minute', startMinute)
        .toISOString();
      const [endHour, endMinute] = endTime.split(':');
      this.shift.endTime = moment(this.shift.endTime)
        .set('hour', endHour)
        .set('minute', endMinute)
        .toISOString();
    },
    onClose() {
      this.shiftEditDialog = false;
      this.resetData();
    },
    async updateShift(newShift) {
      this.loading = true;
      const args = {
        id: this.shift.id,
        startTime: this.shift.startTime,
        endTime: this.shift.endTime,
      };
      const ret = await this.$JobService
        .updateShift(args)
        .catch(() => {
          this.$eventHub.$emit('show-alert', {
            type: 'error',
            message: 'Error updating shift',
          });
        });
      if (ret) {
        this.loading = false;
        this.shiftEditDialog = false;
        this.$eventHub.$emit('show-alert', {
          type: 'success',
          message: 'Shift updated successfully',
        });
        this.$eventHub.$emit('refetch-job-edit');
      }
      this.$log.info(newShift);
      this.$emit('shift-changed', newShift);
    },
    resetData() {
      this.shift = Object.assign({}, this.time);
    },
    deleteTime() {
      this.$log.debug('delete time');
      this.$emit('deletetime', this.nth);
    },
  },
};
</script>
