<template>
  <v-container
    class="pa-5 pb-0"
    style="height: calc(100vh - 90px) !important;"
  >
    <v-row
      align="center"
      no-gutters
    >
      <v-btn
        id="btn-MonthlyReportPage-GoPreviousPaycycle"
        @click="prev"
        icon
      >
        <v-icon id="btn-MonthlyReportPage-GoPreviousPaycycle">
          mdi-arrow-left
        </v-icon>
      </v-btn>
      {{ `${payCycleStartLabel} - ${payCycleEndLabel}` }}
      <v-btn
        v-if="paycycleChangeCount > 0"
        id="btn-MonthlyReportPage-GoNextPaycycle"
        @click="next"
        icon
      >
        <v-icon id="btn-MonthlyReportPage-GoNextPaycycle">
          mdi-arrow-right
        </v-icon>
      </v-btn>
      <v-spacer />
      <VueBlobJsonCsv
        file-type="json"
        :file-name="getCsvFilename(currentOrganisation.name)"
        :data="this.exportCsvData"
      >
        <v-btn
          color="default"
          small
        >
          Export JSON
        </v-btn>
      </VueBlobJsonCsv>
      <VueBlobJsonCsv
        file-type="csv"
        :file-name="getCsvFilename(currentOrganisation.name)"
        :data="this.exportCsvData"
      >
        <v-btn
          class="ml-2"
          color="default"
          small
        >
          Export CSV
        </v-btn>
      </VueBlobJsonCsv>
    </v-row>
    <v-row no-gutters>
      <v-col
        cols="12"
      >
        <MonthendTable
          v-if="currentOrganisation && payCycle && payCycle.startDate && payCycle.endDate"
          :organisation="currentOrganisation"
          :pay-cycle="payCycle"
          @getExportData="getExportData"
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import MonthendTable from '@/components/Reports/Tables/MonthendTable';
// import { mapGetters } from 'vuex';
import { Parser } from 'json2csv';
import moment from 'moment';

export default {
  components: {
    MonthendTable,
  },
  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      paycycleChangeCount: 0,
      menu: false,
      selectedMonth: moment().format('YYYY-MM'),
      exportData: [],
    };
  },
  computed: {
    isCurrentMonth() {
      return moment(this.selectedMonth).month() === moment().month();
    },
    payCycle() {
      return this.getPayCycleFromMonth(this.selectedMonth, this.currentOrganisation);
    },
    payCycleStartLabel() {
      return moment(this.payCycle.startDate).format('MMM, DD');
    },
    payCycleEndLabel() {
      return moment(this.payCycle.endDate).add(-1, 'day').format('MMM, DD');
    },
    currentOrganisation() {
      return this.$store.getters.currentOrganisation;
    },
    exportCsvData() {
      if (this.exportData == null) {
        return [];
      }
      try {
        const ret = this.exportData.map(data => ({
          Name: data.item.name,
          ID: data.item.identification,
          Phone: data.item.phone,
          PaymentMethod: data.item.paymentMethod,
          Salary: data.item.endOfMonth.toFixed(0),
          Bonus: data.detailData.bonus.toFixed(0),
          Deduction: data.detailData.deduction.toFixed(0),
          TotalPaid: data.item.totalAmount.toFixed(0),
          Khupay: data.item.khupay.toFixed(0),
          KhupayReceive: (data.item.khupay - data.item.totalFee).toFixed(0),
          KhupayFee: data.item.totalFee.toFixed(0),
        }));
        return ret;
      } catch (e) {
        this.$log.error(e);
        return [];
      }
    },
  },
  methods: {
    next() {
      this.paycycleChangeCount -= 1;
      this.selectedMonth = moment(this.selectedMonth).add(1, 'month').format('YYYY-MM');
    },
    prev() {
      this.paycycleChangeCount += 1;
      this.selectedMonth = moment(this.selectedMonth).add(-1, 'month').format('YYYY-MM');
    },
    getCsvFilename(orgName) {
      const start = moment(this.payCycle.startDate).format('MMM-DD');
      const end = moment(this.payCycle.endDate).format('MMM-DD');
      return `${start}_${end}_${orgName.toString().toLowerCase()}_report`;
    },
    async exportCsv() {
      this.loading = true;
      try {
        const exportData = this.exportData.map(e => e.item);
        const json2csvParser = await new Parser({ header: true, quote: '' });
        const result = await json2csvParser.parse(exportData);
        const csvContent = await `data:text/csv;charset=utf-8,\uFEFF${result}`;
        const link = await document.createElement('a');
        link.href = await encodeURI(csvContent);
        link.download = this.getCsvFilename(this.currentOrganisation.name);
        await document.body.appendChild(link); // Required for FF
        await link.click();
        await document.body.removeChild(link); // Required for FF
      } catch (e) {
        this.$log.error(e);
      }
      this.loading = false;
    },
    getExportData(value) {
      this.exportData.push(value);
    },
  },
  // watch: {
  //   selectedMonth() {
  //     this.$log.debug(this.selectedMonth);
  //     this.payCycle = this.getPayCycleFromMonth(
  //       this.selectedMonth, this.currentOrganisation,
  //     );
  //     // this.$log.debug(obj);
  //   },
  // },
};
</script>
