<template>
  <!-- <v-dialog
      v-model="dialog"
      max-width="290"
    >
      <v-progress-circular
        :size="70"
        :width="7"
        color="yellow"
        indeterminate
      />
    </v-dialog> -->
  <v-container
    v-if="loading"
    fill-height
  >
    <v-layout
      column
      justify-center
      align-center
    >
      <v-card
        v-if="logo"
        tile
        flat
      >
        <!-- <v-img
          :src="require('../../../../src/assets/img/jobdoh_logo.png')"
          contain
        /> -->
        <v-img
          :src="require('../../../../static/img/icons/icon-192x192.png')"
          width="125"
          contain
        />
        <v-progress-linear
          indeterminate
          color="#C2232A"
          background-color="white"
        />
      </v-card>
      <v-progress-circular
        v-else
        indeterminate
      />
    </v-layout>
  </v-container>
</template>
<script>
export default {
  props: {
    loading: {
      type: Boolean,
      default: false,
    },
    logo: Boolean,
  },
  data() {
    return {
      // dialog: false,
    };
  },
  mounted() {
    this.$eventHub.$on('show-loading', (args) => {
      this.dialog = args.dialog;
    });
  },
};
</script>
<style>
  .loading-dialog {
   background-color: gray;
   opacity: 0.6;
  }
</style>
