<template>
  <access-blocker :features="['WRITE_ACCESS']">
    <span v-if="!recommanded">
      <!-- Actions -->
      <v-chip
        color="black"
        outlined
        @click.stop="rejectShift"
        @mousedown.stop
        @touchstart.stop
        small
      >
        <v-icon
          left
          small
        >mdi-close</v-icon>
        Reject
      </v-chip>
      <v-chip
        color="black"
        outlined
        class="mx-2"
        @click.stop="onOffer"
        @mousedown.stop
        @touchstart.stop
        small
      >
        <v-icon
          left
          small
        >mdi-check</v-icon>
        Offer
      </v-chip>

      <v-chip
        v-if="pendingInterviews.length > 0"
        outlined
        class="jobdoh-red"
        @mousedown.stop
        @touchstart.stop
        small
      >
        <v-icon
          left
          small
        >
          mdi-message-video
        </v-icon>
        Unconfirmed
      </v-chip>
      <v-chip
        v-else-if="interviews.length > 0"
        outlined
        class="jobdoh-red mx-1"
        @mousedown.stop
        @touchstart.stop
        small
      >
        <v-icon
          left
          small
        >
          mdi-message-video
        </v-icon>
        Confirmed
      </v-chip>

      <v-chip
        v-else
        outlined
        color="#C2232A"
        class="mx-1"
        @click.stop="onInterviewClick"
        @mousedown.stop
        @touchstart.stop
        small
      >
        <v-icon
          left
          small
        >
          mdi-message-video
        </v-icon>
        Interview
        <!-- Interview Dialog -->
        <InterviewDialog
          :show.sync="showInterviewDialog"
          :interview-type.sync="interviewType"
          @input="requestInterview"
        />
      </v-chip>

    </span>
    <span v-else>
      <!--  -->
      <v-chip
        outlined
        class="mx-1"
        @click.once="onSuggestToApply"
        @click.stop
        @mousedown.stop
        @touchstart.stop
      >Suggest To Apply</v-chip>
    </span>
  </access-blocker>
</template>

<script>
import moment from 'moment';
import InterviewDialog from '@/components/Marketplaces/Jobs/Cards/InterviewDialog';

export default {
  components: {
    InterviewDialog,
  },

  props: {
    job: {
      type: Object,
      required: true,
    },
    candidate: {
      type: Object,
      required: true,
    },
    shiftId: {
      type: String,
      required: true,
    },
    shift: {
      type: Object,
      default: () => {},
    },
    recommanded: Boolean,
  },

  data() {
    return {
      moment,
      interviewType: null,
      showInterviewDialog: false,
      currentDate: null,
      times: [],
      requirements: [],
      interviewLength: 0,
      requirement: null,
    };
  },

  computed: {
    jobIsReadyToOffer() {
      return !this.job.isOpenEnded && this.job.renumerationValue > 0;
    },
    interviewLengthString() {
      const hour = parseInt(this.interviewLength, 10);
      const minute = parseInt((this.interviewLength % 1) * 60, 10);
      return `${`${hour}`.length < 2 ? `0${hour}` : hour}:${`${minute}`.length < 2 ? `0${minute}` : minute}`;
    },
    candidateInterviews() {
      return this.shift.interviews.filter(i => i.workerId === this.candidate.id);
    },
    interviews() {
      return this.candidateInterviews.filter(e => e.confirmed);
    },
    pendingInterviews() {
      return this.candidateInterviews.filter(e => !e.confirmed);
    },
    employer() {
      return this.$store.state.employer;
    },
  },

  methods: {
    async onSuggestToApply() {
      const notification = {
        workerId: this.candidate.id,
        title: 'Job Suggestion',
        body: `Our system highlighted, and this Employer has requested you to apply to ${this.job.title} job.`,
        messageData: {
          jobId: this.job.id,
        },
      };
      await this.$NotificationService.sendNotification(notification);
    },
    onInterviewClick() {
      // if (!this.employer.zoomAuthCode)
      // this.$eventHub.$emit('show-account-info', { highlightZoom: true });
      // else this.showInterviewDialog = true;
      this.interviewType = null;
      this.showInterviewDialog = true;
    },
    removeInterviewTime(i) {
      this.times.splice(i, 1);
    },
    removeRequirement(i) {
      this.requirements.splice(i, 1);
    },
    addRequirement() {
      if (this.requirement != null) {
        this.requirements.push(this.requirement);
      }
      this.requirement = null;
    },
    addTime(time) {
      this.times.push(time);
    },
    setDate(date) {
      this.currentDate = date;
    },
    onOffer() {
      this.$router.push({
        name: 'add-shift-page',
        params: {
          workerId: this.candidate.id,
          job: this.job,
          shift: this.shift,
        },
      });
    },
    async rejectShift() {
      const ret = await this.$JobService.rejectShift({
        id: this.shiftId,
        workerId: this.candidate.id,
      }).catch((err) => {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'error',
          message: 'Error Created',
        });
        this.$log.error(err);
      });
      this.$log.debug('reject return', ret);
      if (ret.data.rejectShift > 0) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Successfully Rejected the Worker',
        });
        this.$eventHub.$emit('refetch-job-matching-page');
      }
    },
    async offerShift(workerId, shiftId) {
      const ret = await this.$JobService.offerShift({
        id: shiftId,
        workerId,
      }).catch((err) => {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'error',
          message: 'Error Created',
        });
        this.$log.error(err);
      });

      if (ret) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Successfully Offered the Job',
        });
        this.$eventHub.$emit('refetch-job-matching-page');
      }
    },
    async requestInterview(interviewData) {
      this.showInterviewDialog = false;
      const args = {
        shiftId: this.shiftId,
        workerId: this.candidate.id,
        name: this.candidate.name,
        jobId: this.job.id,
        interviewType: this.interviewType,
        ...interviewData,
      };
      const ret = await this.$InterviewService.requestInterview(args).catch((err) => {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'error',
          message: 'Error Request Send',
        });
        this.$log.error(err);
      });

      if (ret) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Successfully Requseted the Interview',
        });
        // this.job.shifts[0].interviews.push({
        //   ...args,
        //   confirmed: false,
        //   link: '',
        // });
        window.location.reload();
      }
    },
  },
};
</script>

<style>

</style>
