<template>
  <v-img
    style="width: 100px; height: 100px;"
    :src="profileUrl"
  />
</template>

<script>
// import firebase from 'firebase';

export default {
  props: {
    profileUrl: {
      type: String,
      default: () => '',
    },
  },

  // data: () => ({
  //   absoluteUrl: '',
  // }),

  // methods: {
  //   async getDownloadUrl(profileUrl) {
  //     const storageRef = firebase.storage().ref();
  //     const childRef = storageRef.child(profileUrl);
  //     this.absoluteUrl = await childRef.getDownloadURL()
  //       .catch(error => this.$log.error(error));
  //   },
  // },

  // mounted() {
  //   this.getDownloadUrl(this.profileUrl);
  // },
};
</script>
