<template>
  <div class="card-margin">
    <v-flex
      xs10
      offset-xs1
      v-if="job"
    >
      <v-card v-if="!jobHasWorker">
        <v-card-title>
          <template>
            <v-layout row>
              <v-flex xs4>
                {{ job.title }}<br>
                ({{ job.type }}) Date @ ({{ job.location }})
              </v-flex>
              <v-flex
                class="text-align-end"
                xs3
              >
                {{ job.renumerationCurrency }} {{ job.renumerationValue }}
              </v-flex>
              <v-flex
                xs2
                offset-xs1
              >
                <v-btn
                  id="btn-WorkerAlienAssignJobPage-Assign"
                  color="success"
                  @click="assignWorkerToJob"
                  v-html="'Assign'"
                />
              </v-flex>
            </v-layout>
          </template>
        </v-card-title>
      </v-card>
    </v-flex>
  </div>
</template>

<script>
export default {
  props: {
    job: {
      type: Object,
      default: () => {},
    },
  },
  methods: {
    assignWorkerToJob() {
      const promises = [];
      let args = {};

      this.job.shifts.forEach((shift) => {
        args = {
          id: shift.id,
          alienWorkerId: this.$route.params.workerId,
        };
        this.$log.info(args);
        promises.push(this.$JobService.assignAlienWorkerToShift(args));
      });
      Promise.all(promises)
        .then(() => {
          this.$router.push({ name: 'view-workers' });
        })
        .catch(() => {
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message: 'Alien worker assign is not successful!. Please try again.',
          });
        });
    },
  },
  computed: {
    jobHasWorker() {
      const jobCount = this.job.shifts.filter(shift => shift.workerAccepted === true).length;
      if (jobCount > 0) {
        return true;
      }
      return false;
    },
  },
};
</script>
<style>
.text-align-end{
  text-align: right;
}
.card-margin{
  margin-top: 10px;
  margin-bottom: 10px;
}
</style>
