<template>
  <v-card
    outlined
    class="pa-0"
    :style="{
      'overflow-y': jobDoesNotNeedWorker ? '' : 'scroll',
      'max-height': '500px'
    }"
  >
    <WorkerAssignedList
      v-if="jobDoesNotNeedWorker"
      :shifts="job.shifts"
    />
    <v-list
      v-else
      class="pa-0"
    >
      <v-subheader
        class="title-color"
      >
        Manually Assign The Worker
      </v-subheader>
      <div
        v-for="(worker, i) in workers
          .filter(w => w.jobsHired.length === 0)"
        :key="i"
      >
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title v-html="worker.name" />
            <v-list-item-subtitle v-html="worker.phone" />
          </v-list-item-content>
          <v-btn
            id="btn-JobDetailPage-AssignWorker"
            icon
            ripple
            @click="assignWorkerToJob(worker.id)"
          >
            <v-icon
              id="btn-JobDetailPage-AssignWorker"
              color="green lighten-1"
            >
              add
            </v-icon>
          </v-btn>
        </v-list-item>
        <v-divider />
      </div>
    </v-list>
    <WorkerSpecialAssignButton
      block
      :shifts="job.shifts"
      :organisation="job.organisation.id"
    />
  </v-card>
</template>

<script>
import gql from 'graphql-tag';
import WorkerSpecialAssignButton from '@/components/Workers/Buttons/WorkerSpecialAssignButton';
import WorkerAssignedList from '@/components/Workers/WorkerAssignedList';

export default {
  components: {
    WorkerAssignedList,
    WorkerSpecialAssignButton,
  },

  props: {
    job: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg',
    workers: [],
  }),

  computed: {
    jobDoesNotNeedWorker() {
      return this.job.shifts.every(shift => shift.worker != null);
    },
  },

  mounted() {
  },

  methods: {
    async assignWorkerToJob(id) {
      const promises = [];
      let args = {};

      this.job.shifts.forEach((shift) => {
        args = {
          id: shift.id,
          workerId: id,
        };

        promises.push(this.$JobService.assignUnverifiedWorkerToShift(args));
      });

      const ret = await Promise.all(promises)
        .catch((err) => {
          this.$log.info(err);
          const { message } = err.graphQLErrors[0];
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message,
          });
        });

      if (ret) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Worker Successfully Assigned',
        });
        this.$root.$emit('refresh-job');
      }
    },
  },

  apollo: {
    workers: {
      query: gql`query workers($organisationId: ID!) {
        workers(organisationId: $organisationId) {
          id
          name
          phone
          jobsHired{
            id
          }
          paymentCurrency
          paymentMethod
          verified
        }
      }
      `,
      variables() {
        return {
          organisationId: this.job.organisation.id,
        };
      },
    },
  },

};
</script>
