<template>
  <div class="card-margin">
    <v-flex
      xs10
      offset-xs1
      v-if="job"
    >
      <v-card v-if="!jobHasWorker">
        <v-card-title>
          <template>
            <v-layout row>
              <v-flex xs4>
                {{ job.title }}<br>
                ({{ job.type }}) Date @ ({{ job.location }})
              </v-flex>
              <v-flex
                class="text-align-end"
                xs3
              >
                {{ job.renumerationCurrency }} {{ job.renumerationValue }}
              </v-flex>
              <v-flex
                xs2
                offset-xs1
              >
                <v-btn
                  id="btn-WorkerAssignJobPage-Assign"
                  color="success"
                  @click="assignWorkerToJob"
                  v-html="'Assign'"
                />
              </v-flex>
            </v-layout>
          </template>
        </v-card-title>
      </v-card>
    </v-flex>
  </div>
</template>

<script>
export default {
  props: {
    job: {
      type: Object,
      default: () => {},
    },
  },
  methods: {
    assignWorkerToJob() {
      const promises = [];
      let args = {};

      this.job.shifts.forEach((shift) => {
        args = {
          id: shift.id,
          workerId: this.$route.params.workerId,
        };
        this.$log.info(args);
        promises.push(this.$JobService.assignUnverifiedWorkerToShift(args));
      });
      promises.push(this.$WorkerService.addWorkerJob({
        id: this.job.id,
        workerId: this.$route.params.workerId,
        to: 'APPLIED',
      }));

      Promise.all(promises)
        .then(async () => {
          const { data } = await this.$WorkerService.migrateWorkerJob({
            id: this.job.id,
            workerId: this.$route.params.workerId,
            from: 'APPLIED',
            to: 'HIRED',
          }).catch(err => this.$log.info(err));
          if (data) {
            this.$eventHub.$emit('show-alert', {
              alert: true,
              type: 'success',
              message: 'Worker assigned to job',
            });
            this.$router.push({ name: 'view-workers' });
          }
        })
        .catch((err) => {
          this.$log.info(err);
        });
    },
  },
  computed: {
    jobHasWorker() {
      const jobCount = this.job.shifts.filter(shift => shift.workerAccepted === true).length;
      if (jobCount > 0) {
        return true;
      }
      return false;
    },
  },
};
</script>
<style>
.text-align-end{
  text-align: right;
}
.card-margin{
  margin-top: 10px;
  margin-bottom: 10px;
}
</style>
