<template>
  <v-list
    class="pa-0"
  >
    <v-subheader
      class="title-color"
    >
      Assigned Worker
    </v-subheader>
    <div
      v-for="(shift, i) in shifts"
      :key="i"
    >
      <WorkerRosterCard
        class="ma-3"
        :worker="shift.worker"
        :shift="shift"
      >
        <template #trailing>
          <v-chip-group>
            <DeductionButton
              :shift="shift"
            />
            <TaxConfigButton
              :shift="shift"
              :tax-configurations="shift.taxConfigurations"
            />
            <EditLeaveDialog :prop-shift="shift" />
            <WorkerDismissButton
              v-if="shift"
              :shift="shift"
              small
            />
          </v-chip-group>
        </template>
      </WorkerRosterCard>
      <v-divider />
    </div>
  </v-list>
</template>

<script>
import WorkerDismissButton from '@/components/Workers/Buttons/WorkerDismissButton';
import WorkerRosterCard from '@/components/Workers/WorkerRosterCard';
import DeductionButton from '@/components/Payrolls/Buttons/DeductionButton';
import TaxConfigButton from '@/components/Payrolls/Buttons/TaxConfigButton';
import EditLeaveDialog from '@/components/Common/Dialog/EditLeaveDialog';

export default {
  components: {
    WorkerDismissButton,
    WorkerRosterCard,
    DeductionButton,
    TaxConfigButton,
    EditLeaveDialog,
  },

  props: {
    shifts: {
      type: Array,
      default: () => [],
    },
  },

  data: () => ({
    avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg',
  }),
};
</script>
