<template>
  <div>
    <v-card
      v-if="worker"
      flat
      width="100%"
    >
      <v-card-title>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              {{ worker.name }}
            </v-list-item-title>
            <v-list-item-subtitle>
              {{ worker.phone }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-container class="pa-0">
          <v-row>
            <v-flex
              xs3
            >
              <v-chip
                v-if="worker.verified === true && !isAlien"
                class="ma-2 jobdoh"
                text-color="white"
              >
                <b>Verified</b>
              </v-chip>
              <v-chip
                v-else-if="worker.verified === true && isAlien"
                class="ma-2 jobdoh"
                text-color="white"
              >
                <b>Alien</b>
              </v-chip>
              <v-chip
                v-else-if="worker.verified === false && isAlien"
                class="ma-2"
                color="black"
                text-color="white"
              >
                <b>Alien</b>
              </v-chip>
              <v-chip
                v-else-if="worker.verified === false && !isAlien"
                class="ma-2"
                color="black"
                text-color="white"
              >
                <b>Unverified</b>
              </v-chip>
            </v-flex>
            <v-flex
              xs2
            >
              <v-btn
                id="btn-any-EditAlienWorker"
                v-if="isAlien"
                outlined
                small
                color="primary"
                @click="editAlienWorker"
                block
              >
                Edit
              </v-btn>
            </v-flex>
          </v-row>
        </v-container>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row v-if="shift.deductions.length > 0">
            <div class="subheading font-weight-bold">
              Deductions
            </div>
            <PayrollDeductionsList
              :deductions="shift.deductions"
            />
          </v-row>
          <v-row
            class="mt-3"
            v-if="shift.taxConfigurations != null"
          >
            <div class="subheading font-weight-bold">
              Tax Configurations
            </div>
            <PayrollTaxConfigurationList
              :tax-configurations="shift.taxConfigurations"
            />
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-row no-gutters>
          <slot name="trailing" />
        </v-row>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import mongoose from 'mongoose';
import PayrollDeductionsList from '@/components/Payrolls/Lists/PayrollDeductionsList';
import PayrollTaxConfigurationList from '@/components/Payrolls/Lists/PayrollTaxConfigurationList';

// import WorkerRatingCard from '@/components/Ratings/Cards/WorkerRatingCard';

export default {
  components: {
    PayrollDeductionsList,
    PayrollTaxConfigurationList,
  },

  props: {
    worker: {
      type: Object,
      default: () => {},
    },
    organisation: {
      type: Object,
      default: () => {},
    },
    shift: {
      type: Object,
      default: () => {},
    },
  },

  computed: {
    isAlien() {
      return mongoose.Types.ObjectId.isValid(this.worker.id);
    },
  },

  methods: {
    viewProfile() {
      this.$router.push({
        name: 'worker-profile',
        params: { worker: this.worker, organisation: this.organisation },
      });
    },
    sendVerifiedNoti() {
      this.$eventHub.$emit('show-alert', {
        alert: true,
        type: 'warning',
        message: 'This worker is verified. Only JOBDOH or the worker can change worker details.',
      });
    },
    editWorker() {
      const propWorker = this.worker;
      this.$eventHub.$emit('reload-edit-worker', {
        phone: propWorker.phone,
        paymentCoordinates: propWorker.paymentCoordinates,
      });
      this.$router.push({
        name: 'edit-worker',
        params: { worker: propWorker },
      });
    },

    editAlienWorker() {
      const propWorker = this.worker;
      this.$eventHub.$emit('reload-alien-edit-worker', {
        phone: propWorker.phone,
        paymentCoordinates: propWorker.paymentCoordinates,
      });
      this.$router.push({
        name: 'edit-alien-worker',
        params: { worker: propWorker },
      });
    },

    workerProfile() {
      const propWorker = this.worker;
      this.$router.push({
        name: 'worker-profile',
        params: { worker: propWorker, organisation: this.organisation },
      });
    },
  },

};
</script>
<style scoped>
.mg-10{
  margin-top: 10px;
  margin-bottom: 10px;
}
.fc-green{
  color:green;
}
.fc-red{
  color: red;
}
</style>
