<template>
  <v-card
    class="mx-auto"
    :width="width || '400px'"
    outlined
  >
    <v-card-title class="pa-0">
      <v-list-item
        @click="showDialog=true"
        two-line
      >
        <v-list-item-content>
          <div class="overline mb-4 font-weight-bold">
            <div v-if="roster">
              <span
                v-if="isVerified"
                class="red--text"
                v-text="isAlien ? 'Alien' : 'Verified'"
              />
              <span
                v-else-if="!isVerified"
                v-text="isAliean ? 'Aliean' : 'Unverified'"
              />
            </div>
            <div
              v-else
              class="red--text"
            >
              <span
                v-if="isRejected"
                v-text="'REJECTED'"
              />
              <AppliedDateLabel
                v-else
                :shift-id="shiftId"
                :worker-id="candidate.id"
              />
            </div>
          </div>
          <v-list-item-title class="headline mb-1">
            {{ candidate.name }}
          </v-list-item-title>
          <v-list-item-subtitle v-if="roster">
            <!--  -->
          </v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-avatar
          tile
          size="80"
          color="grey"
        >
          <v-img
            v-if="candidate.profileUrl"
            :src="candidate.profileUrl"
          />
        </v-list-item-avatar>
      </v-list-item>
    </v-card-title>

    <v-card-actions v-if="roster">
      <v-row no-gutters>
        <v-chip
          outlined
          @click="assignJobToWorker"
        >
          <v-icon
            left
          >
            mdi-clipboard-account-outline
          </v-icon>
          Assign
        </v-chip>
      </v-row>
    </v-card-actions>
    <v-card-actions v-else-if="!isRejected">
      <v-row no-gutters>
        <v-chip
          color="info"
          outlined
          class="mx-1"
          @click="showInterviewDialog = true"
        >
          Interview
        </v-chip>
        <v-chip
          color="success"
          outlined
          class="mx-1"
          @click="onOffer"
        >
          <v-icon left>
            mdi-check
          </v-icon>
          Offer
        </v-chip>
        <v-chip
          color="error"
          outlined
          class="mx-1"
          @click="onReject"
        >
          <v-icon left>
            mdi-close
          </v-icon>
          Reject
        </v-chip>
      </v-row>
    </v-card-actions>

    <v-divider />

    <v-card-text
      v-if="roster && candidate.jobsHired.length > 0"
      class="pa-0"
    >
      <v-expansion-panels :value="0">
        <v-expansion-panel>
          <v-expansion-panel-header>
            Jobs ( {{ organisationJobsByWorker.length }} )
          </v-expansion-panel-header>
          <v-expansion-panel-content class="custom-expansion-panel-content">
            <div
              v-for="(organisationJob, i) in organisationJobsByWorker"
              :key="i"
            >
              <JobRosterCard
                :job="organisationJob"
                :organisation="organisation"
              />
              <v-divider />
            </div>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-card-text>
    <v-dialog
      v-model="showInterviewDialog"
      width="344"
    >
      <v-card>
        <v-card-title>
          Interview
        </v-card-title>
        <v-card-text>
          If needed please organise a interview.
          <div class="mb-6">
            <CopyChip
              :value="candidate.phone"
            />
          </div>
          Stay tuned for advanced interview features.
        </v-card-text>
      </v-card>
    </v-dialog>
    <WorkerDetailDialog
      v-if="detail"
      :worker-id="candidate.id"
      :job="job"
      :dialog-value.sync="showDialog"
      :shift-id="shiftId"
    />
  </v-card>
</template>

<script>
/* eslint-disable vue/require-default-prop */
import AppliedDateLabel from '@/components/Marketplaces/Jobs/Labels/AppliedDateLabel';
import WorkerDetailDialog from '@/components/Marketplaces/Jobs/Dialogs/WorkerDetailDialog';
// import ProfileImage from '@/components/Workers/ProfileImage';
import CopyChip from '@/components/Common/CopyChip';
import JobRosterCard from '@/components/Jobs/JobRosterCard';
import mongoose from 'mongoose';

export default {
  components: {
    AppliedDateLabel,
    WorkerDetailDialog,
    JobRosterCard,
    CopyChip,
  },

  props: {
    shiftId: {
      type: String,
      default: () => '',
    },
    candidate: {
      type: Object,
      default: () => {},
    },
    isRejected: {
      type: Boolean,
      default: () => false,
    },
    organisation: Object,
    roster: Boolean,
    detail: Boolean,
    width: String,
    job: Object,
    assigning: Boolean,
  },

  data() {
    return {
      showDialog: false,
      showInterviewDialog: false,
    };
  },

  computed: {
    isAlien() {
      return mongoose.Types.ObjectId.isValid(this.candidate.id);
    },
    isVerified() {
      return this.candidate.verified;
    },
    organisationJobsByWorker() {
      return this.candidate && this.candidate.jobsHired
        .filter(job => job.organisation.id === this.organisation.id);
    },
  },

  methods: {
    // viewProfile(worker) {
    //   const propWorker = worker;
    //   this.$router.push({
    //     name: 'worker-profile',
    //     params: { worker: propWorker, organisation: this.organisation },
    //   });
    // },
    getOrganisationJobBy(worker) {
      const jobs = worker.jobsHired
        .filter(job => job.organisation.id === this.organisation.id);
      return jobs;
    },
    async assignJobToWorker() {
      if (!this.isAlien) {
        this.$router.push({ path: `assign-worker-job/${this.candidate.id}` });
      } else {
        this.$router.push({ path: `assign-alien-worker-job/${this.candidate.id}` });
      }
    },
    onOffer() {
      if (this.job.isOpenEnded) {
        this.$router.push({
          name: 'add-shift-page',
          params: {
            workerId: this.candidate.id,
            job: this.job,
          },
        });
      } else {
        this.offerShift(this.candidate.id, this.shiftId);
      }
    },
    async onReject() {
      const ret = await this.$JobService.rejectShift({
        id: this.shiftId,
        workerId: this.candidate.id,
      }).catch((err) => {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'error',
          message: 'Error Created',
        });
        this.$log.error(err);
      });
      this.$log.debug('reject return', ret);
      if (ret.data.rejectShift > 0) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Successfully Rejected the Worker',
        });
        this.$eventHub.$emit('refetch-job-matching-page');
      }
    },
    async offerShift(workerId, shiftId) {
      const ret = await this.$JobService.offerShift({
        id: shiftId,
        workerId,
      }).catch((err) => {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'error',
          message: 'Error Created',
        });
        this.$log.error(err);
      });

      if (ret) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Successfully Offered the Job',
        });
        this.$eventHub.$emit('refetch-job-matching-page');
      }
    },
  },
};
</script>

<style scoped>
  .custom-expansion-panel-content >>> .v-expansion-panel-content__wrap{
    padding: 0 !important;
  }
</style>
