<template>
  <v-row
    dense
  >
    <b
      class="mr-1"
      v-if="workToken.shift.job.type.includes('PART_TIME')"
    >PT</b>
    <v-icon
      x-small
      :class="`${timeFlag ? 'red--text' : 'black--text'}`"
    >
      mdi-alarm
    </v-icon>
    <v-chip
      v-if="isManualCheckout"
      x-small
      style="margin: 0 1px 0 1px; padding: 0 4px 0 4px"
    >
      M
    </v-chip>
    <v-icon
      x-small
      :class="`${locationFlag ? 'red--text': 'black--text'}`"
    >
      mdi-map-marker
    </v-icon>
    <v-icon
      x-small
      :class="`${workToken.references.length > 0 ? 'black--text' : 'red--text'}`"
    >
      mdi-image
    </v-icon>
  </v-row>
</template>

<script>
export default {
  props: {
    workToken: {
      type: Object,
      default: () => {},
    },
  },
  computed: {
    timeFlag() {
      if (this.workToken.shift.job.type.includes('PART_TIME')) {
        return false;
      }
      const { checkinTimeDiff, checkoutTimeDiff } = this.timeDiff;
      return checkinTimeDiff > 60 || checkoutTimeDiff < -60;
    },

    timeDiff() {
      if (this.isManualCheckout) return false;
      if (this.workToken.shift == null) return false;

      const { shift } = this.workToken;
      const { startTime, endTime } = shift;
      const { checkinTime, checkoutTime } = this.workToken;

      const checkinTimeDiff = this.$TimesheetService
        .compareTimeOnlyDifference(startTime, checkinTime);
      const checkoutTimeDiff = this.$TimesheetService
        .compareTimeOnlyDifference(endTime, checkoutTime);

      return { checkinTimeDiff, checkoutTimeDiff };
    },

    isManualCheckout() {
      const { references } = this.workToken;
      if (references == null) return true;
      const o = references.find(e => e.key === 'MANUAL_CHECKOUT_TIME');
      return o != null && o.value;
    },

    locationFlag() {
      if (this.workToken.references == null) return true;
      const { references } = this.workToken;
      const checkin = references.find(e => e.key === 'CHECKIN_COORDINATES');
      if (!checkin || !checkin.value) return true;

      const checkout = references.find(e => e.key === 'CHECKOUT_COORDINATES');
      if (!checkout || !checkout.value) return true;

      if (!this.workToken.shift) return true;
      const { shift } = this.workToken;
      if (!shift.job) return true;
      const { job } = shift;
      if (!job.locationCoordinates) return true;
      const { locationCoordinates } = job;
      const { type, coordinates } = locationCoordinates;

      if (type === 'Point') {
        const [lng, lat] = coordinates;
        const jobCoords = {
          lat,
          lng,
        };

        const checkinDistanceInKM = this.$TimesheetService
          .haversineDistanceKilometer(checkin.value, jobCoords);
        const checkoutDistanceInKM = this.$TimesheetService
          .haversineDistanceKilometer(checkout.value, jobCoords);
        return (checkinDistanceInKM > 0.2 || checkoutDistanceInKM > 0.2);
      }

      return true;
    },
  },
};
</script>
