<template>
  <v-dialog
    :value="value"
    @click:outside="$emit('input', false)"
    max-width="600px"
    scrollable
  >
    <v-card
      flat
      :loading="loading"
    >
      <v-card-text class="pa-0">
        <access-blocker :features="['WRITE_ACCESS']">
          <LeaveCard
            v-if="shift"
            employer
            :shift="shift"
            :organisation="organisation"
            @accept-leave="onAcceptLeave"
            @reject-leave="onRejectLeave"
          />
        </access-blocker>
      </v-card-text>
      <v-divider />
      <v-card-actions>
        <v-spacer />
        <v-btn
          id="btn-TimesheetPage-LeabeDialog-Close"
          text
          @click="$emit('input', false)"
          v-html="'Close'"
        />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
/* eslint-disable vue/require-default-prop */
import LeaveCard from '@/components/shared/components/Leave/LeaveCard';
import gql from 'graphql-tag';
// import mongoose from 'mongoose';

export default {
  components: {
    LeaveCard,
  },

  props: {
    value: Boolean,
    shiftId: String,
    organisation: Object,
  },

  data() {
    return {
      shift: null,
      loading: false,
    };
  },

  methods: {
    async onAcceptLeave(leaveToken) {
      const args = {
        id: this.shiftId,
        leaveToken,
      };
      const ret = await this.$JobService
        .acceptLeave(args)
        .catch((err) => {
          this.loading = false;
          this.$log.error(err);
          const { message } = err.graphQLErrors[0];
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message,
          });
        });
      if (ret) {
        this.refetchQuery();
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Leave requests approved successfully!',
        });
        this.loading = false;
      }
    },
    async onRejectLeave(leaveToken) {
      const args = {
        id: this.shiftId,
        leaveToken,
      };
      const ret = await this.$JobService
        .rejectLeave(args)
        .catch((err) => {
          this.loading = false;
          this.$log.error(err);
          const { message } = err.graphQLErrors[0];
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message,
          });
        });
      if (ret) {
        this.refetchQuery();
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'Leave requests rejected successfully!',
        });
      }
    },
    refetchQuery() {
      this.$apollo.queries.shift.refetch();
    },
  },

  apollo: {
    shift: {
      query: gql`
        query shift(
            $shiftId: String!
        ) {
          shift(
            shiftId: $shiftId,
          ) {
            id
            startTime
            endTime
            leaveSickDays
            leaveSickUpdateDate
            leavePersonalDays
            leavePersonalUpdateDate
            leaveSpecialDays
            leaveSpecialUpdateDate
            leaveUnconfirmed
            currentLeave {
                id
                type
                checkinTime
                references
                confirmed
            }
            unconfirmedLeaves {
                id
                type
                checkinTime
                references
                confirmed
            }
            futureLeaves {
                type
                checkinTime
                references
                confirmed
            }
            pastLeaves {
                type
                checkinTime
                references
                confirmed
            }
            rejectedLeaves {
                type
                checkinTime
                references
                confirmed
            }
        }
    }
      `,
      variables() {
        return {
          shiftId: this.shiftId,
        };
      },
      result({ loading, data }) {
        this.loading = loading;
        if (data && data.shift) {
          this.shift = Object.assign({}, data.shift);
        }
      },
    },
  },
};
</script>
