<template>
  <v-dialog
    :value="value"
    @input="v => $emit('input', v)"
    width="580"
    scrollable
  >
    <v-card>
      <v-card-title>
        {{ shift && shift.worker.name }}
        ( {{ workTokens[0] && workTokens[0].checkinTime | moment('ddd DD, MMMM') }} )
        <v-spacer />
        <v-hover #default="{hover}">
          <v-btn
            id="btn-TimesheetPage-WorkTokenTimeDialog-X"
            icon
            :class="hover ? 'red white--text': ''"
            @click="() => $emit('input', false)"
          >
            <v-icon id="btn-TimesheetPage-WorkTokenTimeDialog-X">
              mdi-close
            </v-icon>
          </v-btn>
        </v-hover>
      </v-card-title>
      <v-divider />
      <v-card-text>
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-center">
                  CHECK IN
                </th>
                <th class="text-center">
                  CHECK OUT
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(ref, i) in references"
                :key="i"
              >
                <td>
                  <v-row dense>
                    <v-col
                      :style="`
                          color: ${ref.checkinTimeFlag ? 'red': 'black'}
                        `"
                      class="text-center pa-0"
                    >
                      <div class="my-3">
                        {{ ref.checkinTime | moment('DD-MMM ddd hh:mm A') }}
                      </div>
                      <v-row
                        v-if="ref.checkinImage"
                        justify="center"
                        no-gutters
                      >
                        <v-img
                          :src="ref.checkinImage"
                          height="200"
                          max-width="200"
                        />
                      </v-row>
                      <v-row
                        justify="center"
                        no-gutters
                      >
                        <gmap-map
                          v-if="ref.checkinCoordinates
                            && ref.checkinCoordinates.lat && ref.checkinCoordinates.lng"
                          :center="ref.checkinCoordinates"
                          :zoom="13"
                          :options="{
                            rotateControl: false,
                            zoomControl: false,
                            mapTypeControl: false,
                            scaleControl: false,
                            streetViewControl: false,
                            fullscreenControl: false,
                            disableDefaultUI: false
                          }"
                          :style="`
                                height:200px;
                                width:200px;
                                border: ${ref.checkinLocationFlag ? '3px solid red': ''}
                              `"
                        >
                          <gmap-marker
                            :key="index"
                            v-for="(m, index)
                              in [ref.markers.job, ref.markers.checkin] .filter(e => !!e)"
                            :position="m.position"
                            :clickable="true"
                          />
                        </gmap-map>
                        <v-avatar
                          v-else
                          width="200"
                          height="200"
                          color="grey lighten-2"
                          tile
                        >
                          <v-icon x-large>
                            mdi-map-marker-off
                          </v-icon>
                        </v-avatar>
                      </v-row>
                    </v-col>
                  </v-row>
                </td>
                <td>
                  <v-row
                    dense
                    no-gutters
                    class="fill-height"
                  >
                    <v-col
                      v-if="ref.checkoutTime"
                      class="text-center pa-0"
                    >
                      <div class="my-3">
                        <span
                          :style="`
                          color: ${ref.checkoutTimeFlag ? 'red': 'black'}
                        `"
                        >
                          {{ ref.checkoutTime | moment('DD-MMM ddd hh:mm A') }}
                        </span>
                        <b
                          v-if="ref.manualCheckout"
                          class="red--text"
                        >
                          (manual)
                        </b>
                      </div>
                      <v-row
                        justify="center"
                        class="mt-3"
                        no-gutters
                      >
                        <v-img
                          v-if="ref.checkoutImage"
                          :src="ref.checkoutImage"
                          height="200"
                          max-width="200"
                        />
                      </v-row>
                      <v-row
                        no-gutters
                        justify="center"
                      >
                        <gmap-map
                          v-if="ref.checkoutCoordinates
                            && ref.checkoutCoordinates.lat && ref.checkoutCoordinates.lng"
                          :center="ref.checkoutCoordinates"
                          :options="{
                            rotateControl: false,
                            zoomControl: false,
                            mapTypeControl: false,
                            scaleControl: false,
                            streetViewControl: false,
                            fullscreenControl: false,
                            disableDefaultUI: false
                          }"
                          :zoom="13"
                          :style="`
                            height: 200px;
                            width: 200px;
                            border: ${ref.checkoutLocationFlag ? '3px solid red' : ''}
                          `"
                        >
                          <gmap-marker
                            :key="index"
                            v-for="(m, index)
                              in [ref.markers.job, ref.markers.checkout].filter(e => !!e)"
                            :position="m.position"
                            :clickable="true"
                          />
                        </gmap-map>
                        <v-avatar
                          v-else
                          width="200"
                          height="200"
                          color="grey lighten-2"
                          tile
                        >
                          <v-icon x-large>
                            mdi-map-marker-off
                          </v-icon>
                        </v-avatar>
                      </v-row>
                    </v-col>
                    <v-col
                      v-else
                      class="text-center pa-0 fill-height"
                      align-self="center"
                    >
                      <v-avatar
                        height="100%"
                        width="200px"
                        tile
                      >
                        <v-icon x-large>
                          mdi-alert-circle-outline
                        </v-icon>
                      </v-avatar>
                    </v-col>
                  </v-row>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: '',
    },
    workTokens: {
      type: Array,
      default: () => [],
    },
    shift: {
      type: Object,
      default: () => {},
    },
    value: Boolean,
  },

  computed: {
    references() {
      const refs = this.workTokens.map((wt) => {
        const { references } = wt;
        if (!references) return null;

        const manualCheckout = this.getValueFromRef(references, 'MANUAL_CHECKOUT_TIME');
        const checkinImage = this.getValueFromRef(references, 'CHECKIN_IMAGE');
        const checkoutImage = this.getValueFromRef(references, 'CHECKOUT_IMAGE');
        const checkinCoordinates = this.getValueFromRef(references, 'CHECKIN_COORDINATES');
        const checkoutCoordinates = this.getValueFromRef(references, 'CHECKOUT_COORDINATES');
        const locationFlags = this.getLocationFlag(wt);
        const jobCoordinates = this.getJobCoords(wt);
        const { checkinTimeFlag, checkoutTimeFlag } = this.getTimeDiff(wt);

        return {
          ...wt,
          manualCheckout,
          checkinImage,
          checkoutImage,
          checkinCoordinates,
          checkoutCoordinates,
          checkinTimeFlag,
          checkoutTimeFlag,
          checkinLocationFlag: locationFlags && locationFlags.checkinLocationFlag,
          checkoutLocationFlag: locationFlags && locationFlags.checkoutLocationFlag,
          markers: this.getMarkers(jobCoordinates, checkinCoordinates, checkoutCoordinates),
        };
      });
      return refs.filter(ref => !!ref);
    },
  },

  methods: {
    getValueFromRef(ref, key) {
      const o = ref.find(e => e.key === key);
      return o && o.value;
    },
    getMarkers(jobCoords, checkinCoords, checkoutCoords) {
      const markers = {};
      if (checkinCoords) {
        const { lat, lng } = checkinCoords;
        if (lat && lng) {
          const checkinMarker = {
            position: { lat, lng },
            label: 'Checkin Location',
          };
          markers.checkin = checkinMarker;
        }
      }

      if (checkoutCoords) {
        const { lat, lng } = checkoutCoords;
        if (lat && lng) {
          const checkoutMarker = {
            position: { lat, lng },
            label: 'Checkout Location',
          };
          markers.checkout = checkoutMarker;
        }
      }

      if (!!jobCoords && !!jobCoords.coordinates && jobCoords.type === 'Point') {
        const [lng, lat] = jobCoords.coordinates;
        if (lat && lng) {
          const jobMarker = {
            position: { lat, lng },
            label: 'Office',
          };
          markers.job = jobMarker;
        }
      }

      return markers;
    },
    getJobCoords(wt) {
      const { shift } = wt;
      if (!shift) return null;
      const { job } = shift;
      if (!job) return null;

      return job.locationCoordinates;
    },
    checkinImage(workToken) {
      const { references } = workToken;
      if (references == null) return null;
      this.$log.warn({ references });

      const o = references.find(e => e.key === 'CHECKIN_IMAGE');
      if (o == null) return '';

      return o.value;
    },
    checkoutImage(workToken) {
      const { references } = workToken;
      if (references == null) return null;

      const o = references.find(e => e.key === 'CHECKOUT_IMAGE');
      if (o == null) return '';

      return o.value;
    },
    checkinCoordinates(workToken) {
      const { references } = workToken;
      if (references == null) return null;

      const o = references.find(e => e.key === 'CHECKIN_COORDINATES');
      if (o == null) return null;

      return o.value;
    },
    checkoutCoordinates(workToken) {
      const { references } = workToken;
      if (references == null) return null;

      const o = references.find(e => e.key === 'CHECKOUT_COORDINATES');
      if (o == null) return null;

      return o.value;
    },
    markers(workToken) {
      const markers = [];
      if (this.checkinCoordinates(workToken) != null) {
        markers.push({
          position: {
            lat: this.checkinCoordinates(workToken).lat,
            lng: this.checkinCoordinates(workToken).lng,
          },
          label: 'Checkin Location',
        });
      }
      if (this.checkoutCoordinates(workToken) != null) {
        markers.push({
          position: {
            lat: this.checkoutCoordinates(workToken).lat,
            lng: this.checkoutCoordinates(workToken).lng,
          },
          label: 'Checkout Location',
        });
      }
      // job
      const { shift } = workToken;
      if (shift != null) {
        const { job } = shift;
        const { locationCoordinates } = job;
        if (locationCoordinates != null) {
          const { type, coordinates } = locationCoordinates;
          if (type === 'Point') {
            const [lng, lat] = coordinates;
            const label = 'Office';
            const position = {
              lat,
              lng,
            };
            markers.push({ position, label });
          }
        }
      }

      return markers;
    },
    checkinLocationFlag(workToken) {
      if (workToken.references == null) return false;
      const { references } = workToken;
      const checkin = references.find(e => e.key === 'CHECKIN_COORDINATES');
      if (checkin == null) return null;

      if (workToken.shift == null) return false;
      const { shift } = workToken;
      if (shift.job == null) return false;
      const { job } = shift;
      if (job.locationCoordinates == null) return false;
      const { locationCoordinates } = job;
      const { type, coordinates } = locationCoordinates;

      if (type === 'Point') {
        const [lng, lat] = coordinates;
        const jobCoords = {
          lat,
          lng,
        };

        const checkinDistanceInKM = this.$TimesheetService
          .haversineDistanceKilometer(checkin.value, jobCoords);

        return checkinDistanceInKM < 0.2;
      }

      return false;
    },
    checkoutLocationFlag(workToken) {
      if (workToken.references == null) return false;
      const { references } = workToken;
      const checkout = references.find(e => e.key === 'CHECKOUT_COORDINATES');
      if (checkout == null) return null;

      if (workToken.shift == null) return false;
      const { shift } = workToken;
      if (shift.job == null) return false;
      const { job } = shift;
      if (job.locationCoordinates == null) return false;
      const { locationCoordinates } = job;
      const { type, coordinates } = locationCoordinates;

      if (type === 'Point') {
        const [lng, lat] = coordinates;
        const jobCoords = {
          lat,
          lng,
        };


        const checkoutDistanceInKM = this.$TimesheetService
          .haversineDistanceKilometer(checkout.value, jobCoords);

        return checkoutDistanceInKM < 0.2;
      }
      return false;
    },

    getLocationFlag(wt) {
      if (wt.references == null) return false;
      const { references } = wt;
      const checkin = references.find(e => e.key === 'CHECKIN_COORDINATES');
      if (!checkin || !checkin.value) return false;

      const checkout = references.find(e => e.key === 'CHECKOUT_COORDINATES');
      if (!checkout || !checkout.value) return false;

      if (wt.shift == null) return false;
      const { shift } = wt;
      if (shift.job == null) return false;
      const { job } = shift;
      if (job.locationCoordinates == null) return false;
      const { locationCoordinates } = job;
      const { type, coordinates } = locationCoordinates;

      if (type === 'Point') {
        const [lng, lat] = coordinates;
        const jobCoords = {
          lat,
          lng,
        };

        const checkinDistanceInKM = this.$TimesheetService
          .haversineDistanceKilometer(checkin.value, jobCoords);
        const checkoutDistanceInKM = this.$TimesheetService
          .haversineDistanceKilometer(checkout.value, jobCoords);
        // return (checkinDistanceInKM < 0.2 || checkoutDistanceInKM < 0.2);
        const checkinLocationFlag = checkinDistanceInKM > 0.2;
        const checkoutLocationFlag = checkoutDistanceInKM > 0.2;
        return { checkinLocationFlag, checkoutLocationFlag };
      }

      return null;
    },

    getTimeDiff(workToken) {
      if (workToken.shift == null) return false;

      const { shift } = workToken;
      const { startTime, endTime } = shift;
      const { checkinTime, checkoutTime } = workToken;

      const checkinTimeDiff = this.$TimesheetService
        .compareTimeOnlyDifference(startTime, checkinTime);
      const checkoutTimeDiff = this.$TimesheetService
        .compareTimeOnlyDifference(endTime, checkoutTime);
      let checkinTimeFlag = checkinTimeDiff > 60;
      let checkoutTimeFlag = checkoutTimeDiff < -60;
      if (this.workTokens[0].shift.job.type.includes('PART_TIME')) {
        checkinTimeFlag = false;
        checkoutTimeFlag = false;
      }
      return {
        checkinTimeDiff,
        checkoutTimeDiff,
        checkinTimeFlag,
        checkoutTimeFlag,
      };
    },
  },

  // data: () => ({
  //   showDialog: false,
  // }),
};
</script>
