<template>
  <v-dialog
    v-model="showDialog"
    height="700"
    width="550"
  >
    <v-card style="overflow-y:hidden;overflow-x:hidden">
      <v-card-title
        class="jobdoh headline"
        style="color: white"
        primary-title
      >
        <v-row>
          {{ shift.worker.name }} check in for
          {{ workTokens[0].checkinTime | moment('ddd DD-MMM') }}
          <v-spacer />
          <v-btn
            id="btn-TimesheetPage-WorkTokenTimeDialog-X"
            icon
            large
            dark
            @click="showDialog=false"
          >
            <b
              id="btn-TimesheetPage-WorkTokenTimeDialog-X"
              class="title"
            >X</b>
          </v-btn>
        </v-row>
      </v-card-title>
      <v-card-text>
        <v-container
          v-for="(workToken, i) in workTokens"
          :key="i"
        >
          <v-row
            class="mb-5"
          >
            <v-spacer />
            <b>
              Check in for shift {{ workToken.shift.startTime | moment('hh:mmA') }} -
              {{ workToken.shift.endTime | moment('hh:mmA') }}
            </b>
            <v-spacer />
          </v-row>
          <br>
          <v-row>
            <v-col
              cols="6"
            >
              <v-layout
                style="display: flex; flex-direction: column;"
              >
                <v-label>
                  Checkin Time
                </v-label>
                <div
                  :style="`
                    color: ${checkinTimeFlag(workToken) ? 'green': 'red'}
                  `"
                >
                  {{ workToken.checkinTime | moment('DD-MMM ddd hh:mm A') }}
                </div>
              </v-layout>
            </v-col>
            <v-col
              cols="6"
            >
              <v-layout
                style="display: flex; flex-direction: column;"
              >
                <v-label>
                  Checkout Time
                </v-label>
                <div
                  :style="`
                    color: ${checkoutTimeFlag(workToken) ? 'green': 'red'}
                  `"
                >
                  {{ workToken.checkoutTime | moment('DD-MMM ddd hh:mm A') }}
                </div>
              </v-layout>
            </v-col>
          </v-row>

          <v-row v-if="checkinImage(workToken) != ''">
            <v-col
              cols="6"
            >
              <v-label>
                Checkin Image
              </v-label>
              <v-img
                class="ml-0"
                width="200"
                height="200"
                :src="checkinImage(workToken)"
              />
            </v-col>
            <v-col
              cols="6"
            >
              <v-label>
                Checkout Image
              </v-label>
              <v-img
                class="ml-0"
                width="200"
                height="200"
                :src="checkoutImage(workToken)"
              />
            </v-col>
          </v-row>

          <v-row v-if="checkinCoordinates(workToken) != null">
            <v-col
              cols="6"
            >
              <v-label>Checkin Location</v-label>
              <gmap-map
                :center="checkinCoordinates(workToken)"
                :zoom="17"
                :style="`
                  width: 200px;
                  height: 200px;
                  border: ${checkinLocationFlag(workToken) ? '': '3px solid red'}
                `"
              >
                <gmap-marker
                  :key="index"
                  v-for="(m, index) in markers(workToken)"
                  :position="m.position"
                  :clickable="true"
                />
              </gmap-map>
            </v-col>
            <v-col
              cols="6"
            >
              <v-label>Checkout Location</v-label>
              <gmap-map
                :center="checkoutCoordinates(workToken)"
                :zoom="17"
                :style="`
                  width: 200px;
                  height: 200px;
                  border: ${checkoutLocationFlag(workToken) ? '': '3px solid red'}
                `"
              >
                <gmap-marker
                  :key="index"
                  v-for="(m, index) in markers(workToken)"
                  :position="m.position"
                  :clickable="true"
                />
              </gmap-map>
            </v-col>
          </v-row>
          <v-row>
            <v-spacer />
            ---------------------------------------------------------------------
            <v-spacer />
          </v-row>
        </v-container>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: '',
    },
    dialog: {
      type: Boolean,
      default: false,
    },
    workTokens: {
      type: Array,
      default: () => [],
    },
    shift: {
      type: Object,
      default: () => {},
    },
    // workToken: {
    //   type: Object,
    //   default: () => {},
    // },
  },
  data: () => ({
    showDialog: false,
  }),

  watch: {
    workTokens() {
      this.workTokens = this.workTokens;
    },
    dialog() {
      this.showDialog = this.dialog;
    },
    showDialog() {
      if (this.showDialog === false) {
        this.$emit('closeWorkTokenDialog');
      }
    },
  },

  computed: {
  },

  methods: {
    checkinImage(workToken) {
      const { references } = workToken;
      if (references == null) return null;
      this.$log.warn({ references });

      const o = references.find(e => e.key === 'CHECKIN_IMAGE');
      if (o == null) return '';

      return o.value;
    },
    checkoutImage(workToken) {
      const { references } = workToken;
      if (references == null) return null;

      const o = references.find(e => e.key === 'CHECKOUT_IMAGE');
      this.$log.debug('o', o);
      if (o == null) return '';

      return o.value;
    },
    checkinCoordinates(workToken) {
      const { references } = workToken;
      if (references == null) return null;

      const o = references.find(e => e.key === 'CHECKIN_COORDINATES');
      if (o == null) return null;

      return o.value;
    },
    checkoutCoordinates(workToken) {
      const { references } = workToken;
      if (references == null) return null;

      const o = references.find(e => e.key === 'CHECKOUT_COORDINATES');
      if (o == null) return null;

      return o.value;
    },
    markers(workToken) {
      if (this.checkoutCoordinates(workToken) == null
      || this.checkinCoordinates(workToken) == null) {
        return [];
      }
      const markers = [{
        position: {
          lat: this.checkinCoordinates(workToken).lat,
          lng: this.checkinCoordinates(workToken).lng,
        },
        label: 'Checkin Location',
      }, {
        position: {
          lat: this.checkoutCoordinates(workToken).lat,
          lng: this.checkoutCoordinates(workToken).lng,
        },
        label: 'Checkout Location',
      }];

      // job
      const { shift } = workToken;
      if (shift != null) {
        const { job } = shift;
        const { locationCoordinates } = job;
        if (locationCoordinates != null) {
          const { type, coordinates } = locationCoordinates;
          if (type === 'Point') {
            const [lng, lat] = coordinates;
            const label = 'Office';
            const position = {
              lat,
              lng,
            };
            markers.push({ position, label });
          }
        }
      }

      return markers;
    },
    checkinLocationFlag(workToken) {
      if (workToken.references == null) return false;
      const { references } = workToken;
      const checkin = references.find(e => e.key === 'CHECKIN_COORDINATES');
      if (checkin == null) return null;

      if (workToken.shift == null) return false;
      const { shift } = workToken;
      if (shift.job == null) return false;
      const { job } = shift;
      if (job.locationCoordinates == null) return false;
      const { locationCoordinates } = job;
      const { type, coordinates } = locationCoordinates;

      if (type === 'Point') {
        const [lng, lat] = coordinates;
        const jobCoords = {
          lat,
          lng,
        };

        const checkinDistanceInKM = this.$TimesheetService
          .haversineDistanceKilometer(checkin.value, jobCoords);

        return checkinDistanceInKM < 0.2;
      }

      return false;
    },
    checkoutLocationFlag(workToken) {
      if (workToken.references == null) return false;
      const { references } = workToken;
      const checkout = references.find(e => e.key === 'CHECKOUT_COORDINATES');
      if (checkout == null) return null;


      if (workToken.shift == null) return false;
      const { shift } = workToken;
      if (shift.job == null) return false;
      const { job } = shift;
      if (job.locationCoordinates == null) return false;
      const { locationCoordinates } = job;
      const { type, coordinates } = locationCoordinates;

      if (type === 'Point') {
        const [lng, lat] = coordinates;
        const jobCoords = {
          lat,
          lng,
        };


        const checkoutDistanceInKM = this.$TimesheetService
          .haversineDistanceKilometer(checkout.value, jobCoords);

        return checkoutDistanceInKM < 0.2;
      }
      return false;
    },
    checkinTimeFlag(workToken) {
      this.$log.debug('wrokToken', workToken);
      if (workToken.shift == null) return false;
      const { shift } = workToken;
      const { startTime } = shift;
      const { checkinTime } = workToken;
      const diff = this.$TimesheetService
        .compareTimeOnlyDifference(startTime, checkinTime);
      if (diff == null) return false;
      return (diff < 60);
    },
    checkoutTimeFlag(workToken) {
      if (workToken.shift == null) return false;
      const { shift } = workToken;
      const { endTime } = shift;
      const { checkoutTime } = workToken;

      const diff = this.$TimesheetService
        .compareTimeOnlyDifference(endTime, checkoutTime);
      if (diff == null) return false;

      return (diff < 60);
    },
  },

  // data: () => ({
  //   showDialog: false,
  // }),
};
</script>
