<template>
  <v-card
    flat
    :outlined="editor"
    :loading="loading"
  >
    <v-text-field
      readonly
      :value="value"
      label="Identification"
      outlined
      clearable
      @click="() => {
        editor = !editor
        toggleLoading();
      }"
      @click:clear="() => $emit('input', '')"
      :rules="[$Validate.required]"
    />
    <v-card-text
      class="py-0"
      v-show="editor"
    >
      <v-row>
        <v-col
          cols="3"
        >
          <v-select
            dense
            single-line
            outlined
            :items="Array(14).fill().map((_, i) => i + 1)"
            :value="regionCode"
            @change="v => $emit('input', getNrcValue({regionCode: v}))"
            hide-details
            placeholder="Region Code"
            append-icon=""
          />
        </v-col>
        <v-col
          cols="6"
        >
          <v-select
            :disabled="!regionCode"
            dense
            single-line
            outlined
            :items="nrcTownships"
            :value="townshipCode"
            @change="v => $emit('input', getNrcValue({townshipCode: v}))"
            hide-details
            placeholder="Township Code"
            append-icon=""
          />
        </v-col>
        <v-col
          cols="3"
        >
          <v-select
            dense
            single-line
            outlined
            :items="['N', 'P', 'E']"
            :value="nationalCode"
            @change="v => $emit('input', getNrcValue({nationalCode: v}))"
            hide-details
            placeholder="National Code"
            append-icon=""
          />
        </v-col>
      </v-row>
      <v-text-field
        dense
        single-line
        outlined
        :value="regNo"
        @input="v => $emit('input', getNrcValue({regNo: v}))"
        type="number"
        placeholder="Register No."
        :rules="[v => `${v}`.length === 6 || 'Invalid NRC number']"
      />
    </v-card-text>
  </v-card>
</template>

<script>
import townships from '@/assets/js/nrc_townships';

export default {
  props: {
    value: {
      type: String,
    },
  },

  mounted() {
    this.toggleLoading();
  },

  data() {
    return {
      loading: true,
      editor: false,
    };
  },

  computed: {
    nrcTownships() {
      if (this.regionCode != null) {
        return townships[this.regionCode];
      }
      return [];
    },
    regionCode() {
      const match = `${this.value}`.match(/(.\d?)\//);
      return match ? parseInt(match[1], 10) : '';
    },
    townshipCode() {
      const match = `${this.value}`.match(/\/(.[A-z]*?)\(/);
      return match ? match[1] : '';
    },
    nationalCode() {
      const match = `${this.value}`.match(/\((.[A-Z]?)\)/);
      return match ? match[1] : '';
    },
    regNo() {
      const match = `${this.value}`.match(/\)(.[1-9]{5}?)/);
      return match ? match[1] : '';
    },
    isMMNrcFormat() {
      return `${this.value}`.match(/^([0-9]{1,2})\/([A-Z][a-z]|[A-Z][a-z][a-z])([A-Z][a-z]|[A-Z][a-z][a-z])([A-Z][a-z]|[A-Z][a-z][a-z])\([N,P,E]\)[0-9]{6}$/);
    },
    currentValue() {
      return `${this.regionCode}/${this.townshipCode}(${this.nationalCode})${this.regNo}`;
    },
  },

  methods: {
    setNrcNumber() {
      const fullNrcNumber = `${this.regionCode}/${this.townshipCode}(${this.nationalCode})${this.regNo}`;
      this.$emit('setNrcNumber', fullNrcNumber);
    },
    getNrcValue({
      regionCode,
      townshipCode,
      nationalCode,
      regNo,
    }) {
      const ret = `${regionCode || this.regionCode}/${townshipCode || this.townshipCode}(${nationalCode || this.nationalCode})${regNo || this.regNo}`;
      console.log(ret);
      return ret;
    },
    toggleLoading() {
      this.loading = true;
      setTimeout(() => {
        this.loading = false;
      }, 100);
    },
  },
};
</script>

<style scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.25s ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
