<template>
  <v-row
    no-gutters
    align="center"
  >
    <!-- <div class="mb-6 mr-2">
      <span>
        <v-icon>mdi-calendar</v-icon>
        <span class="grey--text text--darken-2">
          Paycycle from 1st till last day of month is
        </span>
      </span>
    </div> -->

    <v-text-field
      :value="payCyclePeriod"
      @input="onInput"
      required
      :rules="[$Validate.payCycle]"
      outlined
      label="Paycycle"
      :loading="loading"
      prepend-inner-icon="mdi-help-circle-outline"
    />
  </v-row>
</template>

<script>
export default {
  props: {
    value: {
      type: [String, Array],
      required: true,
    },
  },

  data() {
    return {
      loading: true,
    };
  },

  computed: {
    payCyclePeriod() {
      return this.value && this.value.toString();
    },
  },

  methods: {
    onInput(v) {
      const paycyclePeriod = v || '';
      this.$emit('input', paycyclePeriod.split(',').map(e => parseInt(e, 10)).filter(e => !!e));
    },
  },

  mounted() {
    setImmediate(() => {
      this.loading = false;
    });
  },
};
</script>

<style>

</style>
