<template>
  <v-row>
    <v-col
      class="py-0"
      cols="4"
    >
      <v-autocomplete
        label="Phone Code"
        :value="phoneCode"
        @input="v => $emit('input', `${v}${this.phoneNo}`)"
        :items="phoneCodes.map(e => ({
          value: e.code,
          text: `${e.name} (${e.code})`
        }))"
        outlined
        :loading="loading"
      >
        <template v-slot:selection="data">
          <span>{{ data.item.value }}</span>
        </template>
      </v-autocomplete>
    </v-col>
    <v-col
      class="py-0"
      cols="8"
    >
      <v-text-field
        outlined
        label="Phone No"
        type="number"
        :value="phoneNo"
        @input="v => $emit('input', `${this.phoneCode}${v}`)"
        :rules="[$Validate.phone, ...(required ? [$Validate.required] : [])]"
        :loading="loading"
      />
    </v-col>
  </v-row>
</template>

<script>
import countries from '@/assets/utils/CountriesPhoneCodes';

export default {
  props: {
    value: {
      type: String,
      required: true,
    },
    required: Boolean,
  },

  data() {
    return {
      phoneCodes: countries.countriesPhoneCodes,
      loading: true,
    };
  },

  computed: {
    phoneCode() {
      return this.phoneCodes
        .map(e => e.code)
        .find(c => (this.value || '').includes(c));
    },
    phoneNo() {
      return (this.value || '').split(this.phoneCode).pop();
    },
  },


  mounted() {
    this.loading = false;
  },

};
</script>

<style>

</style>
