<template>
  <div>
    <v-text-field
      prepend-icon="attach_file"
      outlined
      v-model="file.name"
      label="Upload Employees List as Excel file"
      readonly
      @click.native="onFocus"
      :disabled="disabled"
      ref="fileTextField"
    />
    <input
      type="file"
      :accept="accept"
      :multiple="false"
      :disabled="disabled"
      ref="fileInput"
      @change="onFileChange"
    >
  </div>
</template>

<script>
import XLSX from 'xlsx';

export default {
  data: () => ({
    accept: '*',
    disabled: false,
    file: {},
    result: [],
  }),

  methods: {
    onFocus() {
      if (!this.disabled) {
        this.$refs.fileInput.click();
      }
    },
    onFileChange($event) {
      const { files } = $event.target;
      [this.file] = files;
      this.result = $event.target.result;
      this.parse();
    },
    parse() {
      this.$log.info('parsing...');
      const siht = this;
      const reader = new FileReader();
      // eslint-disable-next-line func-names
      reader.onload = async function () {
        const data = new Uint8Array(this.result);
        // const data = new Uint8Array(this.xxx);


        const workbook = XLSX.read(data, { type: 'array', raw: true });
        const firstWorksheet = workbook.Sheets[workbook.SheetNames[0]];
        const uploadData = XLSX.utils.sheet_to_json(firstWorksheet, { header: 0 });
        siht.$log.info('excel data', uploadData);
        siht.$emit('data-ready', uploadData);
      };
      reader.readAsArrayBuffer(this.file);
    },
  },
};
</script>

<style scoped>
input[type=file] {
    position: absolute;
    left: -99999px;
}
</style>
