<template>
  <v-container>
    <v-flex
      xs12
      class="worker"
    >
      <div class="display-1 awards-title text-xs-center my-4">
        Update a Worker
      </div>
    </v-flex>

    <v-stepper v-model="stepper">
      <v-stepper-header>
        <div
          class="step"
          v-for="(step, index) in steps"
          :key="index"
        >
          <v-stepper-step
            :edit-icon="'check'"
            :complete-icon="'edit'"
            :step="index + 1"
            :complete="(index + 1 ) <= stepper"
            :editable="(index + 1) < stepper"
          >
            {{ step.label }}
          </v-stepper-step>
          <v-divider />
        </div>
      </v-stepper-header>
      <v-stepper-items>
        <v-stepper-content
          step="1"
        >
          <v-form
            ref="form"
            v-model="valid"
          >
            <!-- Name -->
            <v-layout
              row
              justify-center
              align-center
            >
              <v-flex
                xs7
              >
                <v-text-field
                  label="Name"
                  v-model="worker.name"
                  :rules="[v => !!v || 'Name is required']"
                />

                <v-text-field
                  label="Identification"
                  v-model="worker.identification"
                  :rules="[v => !!v || 'Identification is required']"
                />
              </v-flex>
            </v-layout>
            <!-- Phone -->
            <v-layout
              row
              justify-center
              align-center
            >
              <v-flex
                xs2
              >
                <v-select
                  item-text="code"
                  item-value="code"
                  label="Phone Code"
                  v-model="phoneCode"
                  :items="phoneCodes"
                  autocomplete
                >
                  <template
                    slot="item"
                    slot-scope="data"
                  >
                    {{ data.item.name }}({{ data.item.code }})
                  </template>
                </v-select>
              </v-flex>
              <v-flex
                xs4
                offset-xs1
              >
                <v-text-field
                  label="Phone No"
                  type="number"
                  v-model="phoneNo"
                  :rules="[v => !!v || 'Phone No is required']"
                />
              </v-flex>
            </v-layout>
          </v-form>
          <!-- Button -->
          <v-layout
            row
            justify-center
          >
            <v-flex
              class="align-right"
              xs7
            >
              <v-btn
                color="success"
                :disabled="!valid"
                @click="stepper+=1"
              >
                Continue
              </v-btn>
              <v-btn
                @click="cancelUnverifiedWorker"
              >
                Cancel
              </v-btn>
            </v-flex>
          </v-layout>
        </v-stepper-content>
        <!-- <v-stepper-content step="2">
          <v-layout
            row
            justify-center
            align-center
          >
            <v-flex
              xs7
              align-center
              justify-center
            >
              <v-text-field
                label="City"
                v-model="worker.city"
              />
              <v-text-field
                label="Address"
                v-model="worker.address"
              />
              <v-text-field
                label="EmailAddress"
                v-model="worker.email"
              />
              <v-text-field
                label="Facebook"
                v-model="worker.facebook"
              />
              <v-text-field
                label="Google"
                v-model="worker.google"
              />
            </v-flex>
          </v-layout>
          <v-layout
            row
            justify-center
          >
            <v-flex
              class="align-right"
              xs7
            >
              <v-btn
                color="success"
                @click="stepper+=1"
              >
                Continue
              </v-btn>
              <v-btn
                @click="stepper-=1"
              >
                Back
              </v-btn>
            </v-flex>
          </v-layout>
        </v-stepper-content> -->
        <v-stepper-content step="2">
          <!-- Fields -->
          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="false"
          >
            <div>
              <v-layout
                row
                justify-center
                align-center
              >
                <v-flex
                  xs7
                  align-center
                  justify-center
                >
                  <v-select
                    label="Payment Method"
                    v-model="worker.paymentMethod"
                    :items="paymentMethods"
                    autocomplete
                    :rules="[v => !!v || 'Payment Method is required']"
                  />
                  <v-select
                    label="Payment Currency"
                    v-model="worker.paymentCurrency"
                    :items="paymentCurrencys"
                    autocomplete
                    :rules="[v => !!v || 'Payment Currency is required']"
                  />
                </v-flex>
              </v-layout>
              <v-layout
                v-if="worker.paymentMethod=='ONGO'"
                row
                justify-center
                align-center
              >
                <v-flex
                  xs2
                >
                  <v-select
                    item-text="code"
                    item-value="code"
                    label="Phone Code"
                    v-model="paymentCoordinateCode"
                    :items="phoneCodes"
                    autocomplete
                  >
                    <template
                      slot="item"
                      slot-scope="data"
                    >
                      {{ data.item.name }}({{ data.item.code }})
                    </template>
                  </v-select>
                </v-flex>
                <v-flex
                  xs4
                  offset-xs1
                >
                  <v-text-field
                    label="Payment Coordinate"
                    type="number"
                    v-model="paymentCoordinateNo"
                    :rules="[v => !!v || 'Payment Coordinate is required']"
                  />
                </v-flex>
              </v-layout>
              <v-layout
                v-else
                row
                justify-center
                align-center
              >
                <v-flex
                  xs7
                >
                  <v-text-field
                    label="Bank Account"
                    type="number"
                    v-model="worker.paymentCoordinates"
                    :rules="[v => !!v || 'Bank Account is required']"
                  />
                </v-flex>
              </v-layout>
              <v-switch
                v-model="worker.paycycleUseAlternatePayment"
                label="Use Alternate Payment"
              />
            </div>
            <div v-if="worker.paycycleUseAlternatePayment">
              <v-layout
                row
                justify-center
                align-center
              >
                <v-flex
                  xs7
                  align-center
                  justify-center
                >
                  <v-select
                    label="Payment Method"
                    v-model="worker.alternatePaymentMethod"
                    :items="alternatePaymentMethods"
                    autocomplete
                    :rules="[v => !!v || 'Payment Method is required']"
                  />
                  <v-select
                    label="Payment Currency"
                    v-model="worker.alternatePaymentCurrency"
                    :items="paymentCurrencys"
                    autocomplete
                    :rules="[v => !!v || 'Payment Currency is required']"
                  />
                </v-flex>
              </v-layout>
              <v-layout
                row
                justify-center
                align-center
              >
                <v-flex
                  xs7
                >
                  <v-text-field
                    label="Bank Account"
                    type="number"
                    v-model="worker.alternatePaymentCoordinates"
                    :rules="[v => !!v || 'Bank Account is required']"
                  />
                </v-flex>
              </v-layout>
            </div>
          </v-form>
          <!-- Button -->
          <v-layout
            row
            justify-center
          >
            <v-flex
              class="align-right"
              xs7
            >
              <v-btn
                color="success"
                :disabled="!valid"
                @click="updateUnverifiedWorker"
              >
                Save
              </v-btn>
              <v-btn
                @click="stepper-=1"
              >
                Back
              </v-btn>
            </v-flex>
          </v-layout>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </v-container>
</template>

<script>
import countries from '@/assets/utils/CountriesPhoneCodes';

export default {
  components: {
  },
  props: {
    worker: {
      type: Object,
      default: () => {},
    },
    organisation: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      stepper: 1,
      steps: [
        {
          label: 'Basic Info',
          completed: false,
        },
        {
          label: 'Payment Details',
          completed: false,
        },
      ],
      phoneCodes: countries.countriesPhoneCodes,
      phoneCode: '',
      phoneNo: '',
      // worker: {
      //   name: null,
      //   phoneCode: null,
      //   phoneNo: null,
      //   // communication
      //   email: null,
      //   facebook: null,
      //   google: null,
      //   city: null,
      //   address: null,
      //   // finance
      //   paymentMethod: null,
      //   paymentCurrency: null,
      // },
      paymentCoordinateCode: '',
      paymentCoordinateNo: '',

      paymentMethods: ['ONGO', 'BANK_KBZ', 'TAPNGO', 'BANK_HSBCHK', 'BANK_HASEHK'],
      paymentCurrencys: ['MMK', 'USD', 'HKD'],
      workerId: '',
      valid: false,
      alternatePaymentMethods: ['ONGO', 'BANK_KBZ', 'TAPNGO', 'BANK_HSBCHK', 'BANK_HASEHK'],
    };
  },
  mounted() {
    this.phoneCode = this.worker.phone.substring(0, 3);
    this.phoneNo = this.worker.phone.substring(3);
    if (this.worker.paymentCurrency === 'HKD') {
      this.phoneCode = this.worker.phone.substring(0, 4);
      this.phoneNo = this.worker.phone.substring(4);
    }
    this.paymentCoordinateCode = this.worker.paymentCoordinates.substring(0, 3);
    this.paymentCoordinateNo = this.worker.paymentCoordinates.substring(3);
    if (this.worker.paymentCurrency === 'HKD') {
      this.paymentCoordinateCode = this.worker.paymentCoordinates.substring(0, 4);
      this.paymentCoordinateNo = this.worker.paymentCoordinates.substring(4);
    }
    this.alternatePaymentCoordinates = this.worker.alternatePaymentCoordinates;

    this.$eventHub.$on('reload-edit-worker', (data) => {
      this.stepper = 1;
      this.paymentCoordinateCode = data.paymentCoordinates.substring(0, 3);
      this.paymentCoordinateNo = data.paymentCoordinates.substring(3);
      this.phoneCode = data.phone.substring(0, 3);
      this.phoneNo = data.phone.substring(3);
    });
  },
  methods: {
    async updateUnverifiedWorker() {
      let phone = this.phoneCode + this.phoneNo;
      if (phone.includes('+95') && phone.length === 11) {
        phone = `${phone.slice(0, 3)}0${phone.slice(3)}`;
      }
      let paymentAccount = this.worker.paymentCoordinates;
      if (this.worker.paymentMethod === 'ONGO') {
        paymentAccount = this.paymentCoordinateCode + this.paymentCoordinateNo;
      }
      const args = {
        organisationId: this.organisation.id,
        id: this.worker.id,
        name: this.worker.name,
        facebook: this.worker.facebook,
        email: this.worker.email,
        google: this.worker.google,
        paymentMethod: this.worker.paymentMethod,
        paymentCurrency: this.worker.paymentCurrency,
        paymentCoordinates: paymentAccount,
        identification: this.worker.identification,
        paycycleUseAlternatePayment: this.worker.paycycleUseAlternatePayment,
        alternatePaymentMethod: this.worker.alternatePaymentMethod,
        alternatePaymentCurrency: this.worker.alternatePaymentCurrency,
        alternatePaymentCoordinates: this.worker.alternatePaymentCoordinates,
      };
      if (this.worker.phone !== phone) {
        args.phone = phone;
      }

      const { data } = await this.$WorkerService.updateUnverifiedWorker(args)
        .catch((err) => {
          // this.$ErrorHandlingService.handleError(err);
          const { message } = err.graphQLErrors[0];
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message,
          });
        });
      if (data) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'This worker update is successful!.',
        });
        this.$router.push({ name: 'view-workers' });
      }
    },

    async cancelUnverifiedWorker() {
      this.$router.push({ name: 'view-workers' });
    },
  },
  computed: {
  },
};
</script>
<style>
.worker{
  margin-top: 5%;
}
.align-right{
  text-align: right;
}
</style>
