<template>
  <v-container>
    <v-flex
      xs12
      class="worker"
    >
      <div class="display-1 awards-title text-xs-center my-4">
        Create Alien Worker
      </div>
    </v-flex>

    <v-stepper v-model="stepper">
      <v-stepper-header>
        <div
          class="step"
          v-for="(step, index) in steps"
          :key="index"
        >
          <v-stepper-step
            :edit-icon="'check'"
            :complete-icon="'edit'"
            :step="index + 1"
            :complete="(index + 1 ) <= stepper"
            :editable="(index + 1) < stepper"
          >
            {{ step.label }}
          </v-stepper-step>
          <v-divider />
        </div>
      </v-stepper-header>
      <v-stepper-items>
        <v-stepper-content
          step="1"
        >
          <v-form
            ref="form"
            v-model="valid"
          >
            <!-- Name -->
            <v-layout
              row
              justify-center
              align-center
            >
              <v-flex
                xs7
              >
                <v-text-field
                  label="Name"
                  name="workerName"
                  v-model="worker.name"
                  :rules="[v => !!v || 'Name is required']"
                />

                <v-text-field
                  label="Identification"
                  v-model="worker.identification"
                  :rules="[v => !!v || 'Identification is required']"
                />
              </v-flex>
            </v-layout>
            <!-- Phone -->
            <v-layout
              row
              justify-center
              align-center
            >
              <v-flex
                xs2
              >
                <v-select
                  item-text="code"
                  item-value="code"
                  label="Phone Code"
                  v-model="worker.phoneCode"
                  :items="phoneCodes"
                  autocomplete
                >
                  <template
                    slot="item"
                    slot-scope="data"
                  >
                    {{ data.item.name }}({{ data.item.code }})
                  </template>
                </v-select>
              </v-flex>
              <v-flex
                xs4
                offset-xs1
              >
                <v-text-field
                  label="Phone No"
                  type="number"
                  v-model="worker.phoneNo"
                />
              </v-flex>
            </v-layout>
          </v-form>
          <!-- Button -->
          <v-layout
            row
            justify-center
          >
            <v-flex
              class="align-right"
              xs7
            >
              <v-btn
                id="btn-WorkerAlienCreatePage-Continue"
                color="success"
                :disabled="!valid"
                @click="createUnverifiedWorkerBasicInfo"
                v-html="'Continue'"
              />
              <v-btn
                id="btn-WorkerAlienCreatePage-Cancel"
                @click="cancelUnverifiedWorker"
                v-html="'Cancel'"
              />
            </v-flex>
          </v-layout>
        </v-stepper-content>

        <v-stepper-content step="2">
          <AddWorkerPaymentMethodForm
            :organisation="organisation"
            :worker-id="workerId"
          />
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>

    <!-- For Dialog -->
    <DialogBox
      :dialog.sync="dialog"
      :title.sync="title"
      :message.sync="message"
    />
  </v-container>
</template>

<script>
import countries from '@/assets/utils/CountriesPhoneCodes';
import gql from 'graphql-tag';
import DialogBox from '@/components/Utils/DialogBox';
import AddWorkerPaymentMethodForm from '@/components/Payments/Forms/AddWorkerPaymentMethodForm';

export default {
  components: {
    DialogBox,
    AddWorkerPaymentMethodForm,
  },
  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      dialog: false,
      message: '',
      title: '',
      stepper: 1,
      hasPhoneNo: 0,
      steps: [
        {
          label: 'Basic Info',
          completed: false,
        },
        {
          label: 'Payment Details',
          completed: false,
        },
      ],
      phoneCodes: countries.countriesPhoneCodes,
      workers: [],
      worker: {
        name: '',
        phoneCode: '+95',
        phoneNo: '',
        // communication
        email: null,
        facebook: null,
        google: null,
        city: null,
        address: null,
        // finance
        identification: '',
      },
      workerId: '',
      valid: false,
      emptyRules: [
        v => !!v || 'This field is required',
      ],
      validations: {
      },
    };
  },

  mounted() {
  },
  methods: {
    async checkVerifiedPhone(phone) {
      const { data } = await this.$apollo.query({
        query: gql`query workers($organisationId: ID, $phone: String) {
          workers(organisationId: $organisationId, phone: $phone) {
            id
            name
            verified
          }
        }`,
        variables: {
          organisationId: this.organisation.id,
          phone,
        },
      }).catch(err => this.$log.info(err));
      if (data.workers.filter(x => x.verified === true).length > 0) {
        return true;
      }
      return false;
    },

    async createUnverifiedWorkerBasicInfo() {
      const organisationId = this.organisation.id;
      let phone = this.worker.phoneCode + this.worker.phoneNo;
      if (phone.includes('+95') && phone.length === 11) {
        phone = `${phone.slice(0, 3)}0${phone.slice(3)}`;
      }
      const isVerifiedPhone = await this.checkVerifiedPhone(phone);
      if (isVerifiedPhone === false) {
        let args;
        if (this.worker.phoneNo.length === 0) {
          args = {
            organisationId,
            name: this.worker.name,
            identification: this.worker.identification,
            phone: '+00000000000',
          };
        } else {
          args = {
            organisationId,
            name: this.worker.name,
            identification: this.worker.identification,
            phone,
          };
        }
        this.$log.info({ args });
        try {
          const { data } = await this.$WorkerService.createAlienWorker(args)
            .catch(() => {
              this.$eventHub.$emit('show-alert', {
                alert: true,
                type: 'error',
                message: 'This alien worker creation is not successful!. Please try again.',
              });
            });
          if (data) {
            this.workerId = data.createAlienWorker.id;
            this.valid = false;
            this.stepper = 2;
          }
        } catch (err) {
          this.$log.error(err);
        }
      } else {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'warning',
          message: 'This phone number has already verified',
        });
      }
    },

    async updateUnverifiedWorker() {
      // const id = this.workerId;
      let phone = this.worker.phoneCode + this.worker.phoneNo;
      if (phone.includes('+95') && phone.length === 11) {
        phone = `${phone.slice(0, 3)}0${phone.slice(3)}`;
      }
      const paymentNo = this.worker.paymentCoordinateCode + this.worker.paymentCoordinateNo;
      const args = {
        organisationId: this.organisation.id,
        alienWorkerId: this.workerId,
        paymentMethod: this.worker.paymentMethod,
        paymentCurrency: this.worker.paymentCurrency,
        paymentCoordinates: paymentNo,
      };
      try {
        this.$log.info({ args });
        const { data } = await this.$WorkerService.updateAlienWorker(args)
          .catch(() => {
            this.$eventHub.$emit('show-alert', {
              alert: true,
              type: 'error',
              message: 'This worker update is not successful!. Please try again.',
            });
          });
        if (data) {
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'success',
            message: 'This alien worker create is successful!.',
          });
          this.$router.push({ name: 'view-workers' });
          this.$destroy();
        } else {
          this.$log.info('error');
        }
      } catch (err) {
        this.$log.info('catch');
        this.$log.info(err);
      }
    },

    async cancelUnverifiedWorker() {
      this.$router.push({ name: 'view-workers' });
      this.$destroy();
    },
  },
  beforeDestroy() {
    this.$log.info('Main Vue destroyed');
  },
};
</script>
<style>
  .worker{
    margin-top: 5%;
  }
  .align-right{
    text-align: right;
  }
</style>
