<template>
  <div>
    <CustomNavBar
      title="Edit Worker"
      class="mb-1"
      :onback="cancelUnverifiedWorker"
    >
      <template #trailing>
        <v-btn
          id="btn-WorkerEditPage-Save"
          @click="updateUnverifiedWorker"
          outlined
          :disabled="!valid"
          :loading="loading"
        >
          SAVE
        </v-btn>
      </template>
    </CustomNavBar>
    <v-container
      style="
      overflow-y: scroll;
      height: calc(100vh - 54px);
      "
    >
      <v-row
        justify="center"
        align="center"
      >
        <v-col align-self="center">
          <v-card
            :loading="loading"
            :disabled="loading"
          >
            <v-card-text>
              <v-form
                v-model="valid"
                ref="form"
              >
                <v-text-field
                  outlined
                  label="Name"
                  v-model="tempWorker.name"
                  :rules="[v => !!v || 'Name is required']"
                />
                <MMNrcInput
                  v-if="organisation.region === 'mm'"
                  v-model="tempWorker.identification"
                />
                <v-text-field
                  v-else
                  outlined
                  label="Identification"
                  v-model="tempWorker.identification"
                  :rules="[v => !!v || 'Identification is required']"
                />
                <v-row>
                  <v-col cols="3">
                    <v-autocomplete
                      label="Phone Code"
                      v-model="phoneCode"
                      :items="phoneCodes.map(e => ({
                        value: e.code,
                        text: `${e.name} (${e.code})`
                      }))"
                      outlined
                    />
                  </v-col>
                  <v-col cols="9">
                    <v-text-field
                      outlined
                      label="Phone No"
                      type="number"
                      v-model="phoneNo"
                      :rules="[v => !!v || 'Phone No is required']"
                    />
                  </v-col>
                </v-row>

                <!-- Payment Methods -->
                <v-list>
                  <v-row
                    no-gutters
                    align="center"
                  >
                    <v-subheader>
                      Payment Methods
                    </v-subheader>
                    <v-spacer />
                    <v-chip
                      outlined
                      @click="addDialog = true"
                    >
                      <v-icon left>
                        mdi-plus
                      </v-icon>
                      Add
                    </v-chip>
                  </v-row>
                  <v-divider />

                  <div
                    v-for="(item, i) in tempWorker.workerPaymentMethods"
                    :key="i + 'mock'"
                  >
                    <v-list-item>
                      <v-list-item-content>
                        <v-list-item-title>
                          <b>{{ item.paymentMethod.code }}</b><br>
                          Payment Coordinates: <b>{{ item.coordinates }}</b>
                        </v-list-item-title>
                      </v-list-item-content>
                      <v-list-item-action>
                        <v-chip
                          outlined
                          @click="editPaymentMethod(item)"
                          :disabled="isAlien"
                        >
                          Edit
                        </v-chip>
                      </v-list-item-action>
                    </v-list-item>
                    <v-divider />
                  </div>
                </v-list>
              </v-form>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>

      <v-dialog
        v-model="addDialog"
        max-width="500"
      >
        <v-card>
          <v-card-title class="headline">
            Add Payment Method
          </v-card-title>
          <v-card-text>
            <AddWorkerPaymentMethodForm
              :organisation="organisation"
              :worker-id="tempWorker.id"
              @payment-added="addDialog = false"
            />
          </v-card-text>
        </v-card>
      </v-dialog>
      <v-dialog
        v-model="editDialog"
        max-width="500"
      >
        <v-card>
          <v-card-title class="headline">
            Add Payment Method
          </v-card-title>
          <v-card-text>
            <EditWorkerPaymentMethodForm
              :organisation="organisation"
              :worker-id="tempWorker.id"
              :payment-data="paymentData"
            />
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-container>
  </div>
</template>

<script>
import mongoose from 'mongoose';
import countries from '@/assets/utils/CountriesPhoneCodes';
import AddWorkerPaymentMethodForm from '@/components/Payments/Forms/AddWorkerPaymentMethodForm';
import EditWorkerPaymentMethodForm from '@/components/Payments/Forms/EditWorkerPaymentMethodForm';
import CustomNavBar from '@/components/Common/CustomNavBar';
import MMNRC from 'myanmar-nrc-x';
// import NrcInput from '@/components/Common/Inputs/NrcInput';
import MMNrcInput from '@/components/Common/Inputs/MMNrcInput';

export default {
  components: {
    CustomNavBar,
    AddWorkerPaymentMethodForm,
    EditWorkerPaymentMethodForm,
    // NrcInput,
    MMNrcInput,
  },
  props: {
    worker: {
      type: Object,
      default: () => {},
    },
    organisation: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      addDialog: false,
      editDialog: false,
      paymentData: {},
      phoneCodes: countries.countriesPhoneCodes,
      phoneCode: countries.countriesPhoneCodes
        .map(e => e.code)
        .find(c => this.worker.phone.includes(c)),
      phoneNo: '',
      workerId: '',
      valid: false,
      loading: false,
      tempWorker: JSON.parse(JSON.stringify(this.worker)),
    };
  },
  async mounted() {
    this.phoneNo = this.tempWorker.phone.split(this.phoneCode).pop();

    this.$log.debug('worker...', this.tempWorker);
    this.$eventHub.$on('refetch-worker-add', (data) => {
      this.$log.debug('refetch-worker-add');
      this.tempWorker.workerPaymentMethods = data.workerPaymentMethods;
      this.addDialog = false;
    });
    this.$eventHub.$on('refetch-worker-update', (data) => {
      this.$log.debug('refetch-worker-update');
      this.tempWorker.workerPaymentMethods = this.tempWorker.workerPaymentMethods
        .filter(e => e.id !== data.id);
      this.tempWorker.workerPaymentMethods.push(data);
      this.editDialog = false;
    });
    this.$eventHub.$on('reload-edit-worker', (data) => {
      this.stepper = 1;
      this.phoneCode = data.phone.substring(0, 3);
      this.phoneNo = data.phone.substring(3);
    });
  },

  computed: {
    isAlien() {
      return mongoose.Types.ObjectId.isValid(this.worker.id);
    },
  },

  methods: {
    setNrcNumber(nrcNumber) {
      try {
        const nrc = MMNRC(nrcNumber);
        this.tempWorker.identification = nrc.getFormat();
      } catch (e) {
        this.tempWorker.identification = nrcNumber;
      }
      // this.tempWorker.identification = nrcNumber;
    },
    editPaymentMethod(value) {
      this.$log.info(value);
      this.paymentData = value;
      this.editDialog = true;
    },
    async updateUnverifiedWorker() {
      this.loading = true;
      let phone = this.phoneCode + this.phoneNo;
      if (phone.includes('+95') && phone.length === 11) {
        phone = `${phone.slice(0, 3)}0${phone.slice(3)}`;
      }
      const args = {
        organisationId: this.organisation.id,
        id: this.tempWorker.id,
        alienWorkerId: this.tempWorker.id,
        name: this.tempWorker.name,
        facebook: this.tempWorker.facebook,
        email: this.tempWorker.email,
        google: this.tempWorker.google,
        identification: this.tempWorker.identification,
      };
      if (this.tempWorker.phone !== phone) {
        args.phone = phone;
      }


      const updateMethod = this.isAlien
        ? this.$WorkerService.updateAlienWorker
        : this.$WorkerService.updateUnverifiedWorker;
      const data = await updateMethod(args)
        .catch((err) => {
          const { message } = err.graphQLErrors[0];
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message,
          });
        });
      if (data) {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'success',
          message: 'This worker update is successful!.',
        });
        this.$router.push({ name: 'view-workers' });
      }
      this.loading = false;
    },

    async cancelUnverifiedWorker() {
      this.$router.push({ name: 'view-workers' });
    },
  },
};
</script>
<style>
.worker{
  margin-top: 5%;
}
.align-right{
  text-align: right;
}
</style>
