<template>
  <div>
    <CustomNavBar
      title="Worker Detail"
      edit-for="worker"
      :worker="worker"
      :organisation="organisation"
    />
    <v-container
      style="overflow-y: scroll; height: calc(100vh - 50px);"
    >
      <v-row>
        <v-col>
          <WorkerDetailCard
            :worker="worker"
          />
        </v-col>
        <v-col>
          <v-card>
            <v-subheader>Hired Jobs ( {{ hiredJobs.length }} )</v-subheader>
            <div
              v-for="(job, j) in hiredJobs"
              :key="j"
            >
              <JobRosterCard
                :job="job"
                :organisation="organisation"
              />
              <v-divider />
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
// import ProfileImage from '@/components/Workers/ProfileImage';
// import YoutubePlayer from '@/components/Common/YoutubePlayer';
import WorkerDetailCard from '@/components/Marketplaces/Jobs/Cards/WorkerDetailCard';
import JobRosterCard from '@/components/Jobs/JobRosterCard';
import CustomNavBar from '@/components/Common/CustomNavBar';

export default {
  components: {
    WorkerDetailCard,
    JobRosterCard,
    CustomNavBar,
    // ProfileImage,
    // YoutubePlayer,
  },

  props: {
    workerId: {
      type: String,
      default: () => '',
    },
    worker: {
      type: Object,
      default: () => {},
    },
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({
    // worker: {},
    absoluteUrl: '',
  }),

  computed: {
    hiredJobs() {
      const jobs = this.worker.jobsHired
        .filter(job => job.organisation.id === this.organisation.id);
      return jobs;
    },
  },
};
</script>
<style>
  .mg-top-10{
    margin-top: 10;
  }
</style>
