<template>
  <v-container v-if="jobs">
    <h2>Assign Alien Workers</h2>
    <WorkerAlienAssignJobCard
      v-for="(job, i) in jobs"
      :key="i"
      :job="job"
    />
  </v-container>
</template>

<script>
// import gql from 'graphql-tag';
// import fragments from '@/assets/js/gql/fragments';
import WorkerAlienAssignJobCard from '@/components/Workers/WorkerAlienAssignJobCard';

export default {
  components: {
    WorkerAlienAssignJobCard,
  },

  data: () => ({
  }),
  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  computed: {
    jobs() {
      if (this.organisation == null) {
        return [];
      }
      return [
        ...this.organisation.jobs,
      ];
    },
  },

  methods: {
  },
};
</script>
