<template>
  <v-container>
    <v-row>
      <v-spacer />
      <span class="display-1">Edit Alien Worker</span>
      <v-spacer />
    </v-row>

    <v-stepper
      v-model="stepper"
      style="overflow: auto; height: 80vh"
    >
      <v-stepper-header>
        <div
          class="step"
          v-for="(step, index) in steps"
          :key="index"
        >
          <v-stepper-step
            :edit-icon="'check'"
            :complete-icon="'edit'"
            :step="index + 1"
            :complete="(index + 1 ) <= stepper"
            :editable="(index + 1) < stepper"
          >
            {{ step.label }}
          </v-stepper-step>
          <v-divider />
        </div>
      </v-stepper-header>
      <v-stepper-items>
        <v-stepper-content
          step="1"
        >
          <v-form
            ref="form"
            v-model="valid"
          >
            <!-- Name -->
            <v-layout
              row
              justify-center
              align-center
            >
              <v-flex
                xs7
              >
                <v-text-field
                  label="Name"
                  v-model="worker.name"
                  :rules="[v => !!v || 'Name is required']"
                />

                <v-text-field
                  label="Identification"
                  v-model="worker.identification"
                  :rules="[v => !!v || 'Identification is required']"
                />
              </v-flex>
            </v-layout>
            <!-- Phone -->
            <v-layout
              row
              justify-center
              align-center
            >
              <v-flex
                xs2
              >
                <v-select
                  item-text="code"
                  item-value="code"
                  label="Phone Code"
                  v-model="phoneCode"
                  :items="phoneCodes"
                  autocomplete
                >
                  <template
                    slot="item"
                    slot-scope="data"
                  >
                    {{ data.item.name }}({{ data.item.code }})
                  </template>
                </v-select>
              </v-flex>
              <v-flex
                xs4
                offset-xs1
              >
                <v-text-field
                  label="Phone No"
                  type="number"
                  v-model="phoneNo"
                  :rules="[v => !!v || 'Phone No is required']"
                />
              </v-flex>
            </v-layout>
          </v-form>
          <!-- Button -->
          <v-layout
            row
            justify-center
          >
            <v-flex
              class="align-right"
              xs7
            >
              <v-btn
                id="btn-WorkerAlienEditPage-Continue"
                color="success"
                :disabled="!valid"
                @click="stepper+=1"
                v-html="'Continue'"
              >
                Continue
              </v-btn>
              <v-btn
                id="btn-WorkerAlienEditPage-Cancel"
                @click="cancelUnverifiedWorker"
                value="'Cancel'"
              />
            </v-flex>
          </v-layout>
        </v-stepper-content>
        <v-stepper-content step="2">
          <v-card
            v-for="(item, i) in worker.workerPaymentMethods"
            :key="i"
          >
            <v-container>
              <v-col
                cols="12"
              >
                <v-row>
                  <v-col cols="8">
                    Payment Method: <b>{{ item.paymentMethod.code }}</b><br>
                    Payment Coordinates: <b>{{ item.coordinates }}</b>
                  </v-col>
                  <v-col cols="4">
                    <v-btn
                      id="btn-WorkerAlienEditPage-Edit"
                      color="success"
                      @click="editPaymentMethod(item)"
                      v-html="'Edit'"
                    />
                  </v-col>
                </v-row>
              </v-col>
            </v-container>
          </v-card>
          <!-- Button -->
          <v-container>
            <v-row>
              <v-spacer />
              <v-btn
                id="btn-WorkerAlienEditPage-OpenAddPaymentMethodDialog"
                @click="addDialog=true"
                v-html="'Add'"
              >
                Add
              </v-btn>
            </v-row>
          </v-container>
          <v-layout
            class="ma-3"
            row
            justify-center
          >
            <v-flex
              class="align-right"
              xs7
            >
              <v-btn
                id="btn-WorkerAlienEditPage-Save"
                color="success"
                :disabled="!valid"
                @click="updateUnverifiedWorker"
                v-html="'Save'"
              >
                Save
              </v-btn>
              <v-btn
                id="btn-WorkerAlienEditPage-Back"
                @click="stepper-=1"
                v-html="'Back'"
              />
            </v-flex>
            <v-dialog
              v-model="addDialog"
              max-width="500"
            >
              <v-card class="pa-5">
                <v-card-title class="headline">
                  Add Payment Method
                </v-card-title>
                <AddWorkerPaymentMethodForm
                  :organisation="organisation"
                  :worker-id="worker.id"
                />
              </v-card>
            </v-dialog>
            <v-dialog
              v-model="editDialog"
              max-width="500"
            >
              <v-card class="pa-5">
                <v-card-title class="headline">
                  Add Payment Method
                </v-card-title>
                <EditWorkerPaymentMethodForm
                  :organisation="organisation"
                  :worker-id="worker.id"
                  :payment-data="paymentData"
                />
              </v-card>
            </v-dialog>
          </v-layout>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </v-container>
</template>

<script>
import countries from '@/assets/utils/CountriesPhoneCodes';
import AddWorkerPaymentMethodForm from '@/components/Payments/Forms/AddWorkerPaymentMethodForm';
import EditWorkerPaymentMethodForm from '@/components/Payments/Forms/EditWorkerPaymentMethodForm';

export default {
  components: {
    AddWorkerPaymentMethodForm,
    EditWorkerPaymentMethodForm,
  },
  props: {
    worker: {
      type: Object,
      default: () => {},
    },
    organisation: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      addDialog: false,
      editDialog: false,
      paymentData: {},
      stepper: 1,
      steps: [
        {
          label: 'Basic Info',
          completed: false,
        },
        {
          label: 'Payment Details',
          completed: false,
        },
      ],
      phoneCodes: countries.countriesPhoneCodes,
      phoneCode: '+95',
      phoneNo: '',
      // worker: {
      //   name: null,
      //   phoneCode: null,
      //   phoneNo: null,
      //   // communication
      //   email: null,
      //   facebook: null,
      //   google: null,
      //   city: null,
      //   address: null,
      //   // finance
      //   paymentMethod: null,
      //   paymentCurrency: null,
      // },
      paymentCoordinateCode: '',
      paymentCoordinateNo: '',
      paymentMethods: ['ONGO', 'BANK_KBZ'],
      paymentCurrencys: ['MMK', 'USD'],
      workerId: '',
      valid: false,
    };
  },
  mounted() {
    this.phoneCode = this.worker.phone.substring(0, 3);
    this.phoneNo = this.worker.phone.substring(3);
    this.paymentCoordinateCode = this.worker.paymentCoordinates.substring(0, 3);
    this.paymentCoordinateNo = this.worker.paymentCoordinates.substring(3);

    this.$eventHub.$on('refetch-worker-add', (data) => {
      this.$log.debug('refetch-worker-add');
      this.worker.workerPaymentMethods = data.workerPaymentMethods;
      this.addDialog = false;
    });
    this.$eventHub.$on('refetch-worker-update', (data) => {
      this.$log.debug('refetch-worker-update');
      this.worker.workerPaymentMethods = this.worker.workerPaymentMethods
        .filter(e => e.id !== data.id);
      this.worker.workerPaymentMethods.push(data);
      this.editDialog = false;
    });
    this.$eventHub.$on('reload-edit-worker', (data) => {
      this.stepper = 1;
      this.paymentCoordinateCode = data.paymentCoordinates.substring(0, 3);
      this.paymentCoordinateNo = data.paymentCoordinates.substring(3);
      this.phoneCode = data.phone.substring(0, 3);
      this.phoneNo = data.phone.substring(3);
    });
  },
  methods: {
    editPaymentMethod(value) {
      this.$log.info(value);
      this.paymentData = value;
      this.editDialog = true;
    },
    async updateUnverifiedWorker() {
      let phone = this.phoneCode + this.phoneNo;
      if (phone.includes('+95') && phone.length === 11) {
        phone = `${phone.slice(0, 3)}0${phone.slice(3)}`;
      }
      const paymentNo = this.paymentCoordinateCode + this.paymentCoordinateNo;
      const args = {
        organisationId: this.organisation.id,
        alienWorkerId: this.worker.id,
        name: this.worker.name,
        paymentMethod: this.worker.paymentMethod,
        paymentCurrency: this.worker.paymentCurrency,
        paymentCoordinates: paymentNo,
        identification: this.worker.identification,
      };
      if (this.worker.phone !== phone) {
        args.phone = phone;
      }

      try {
        this.$log.info(args);
        const { data } = await this.$WorkerService.updateAlienWorker(args)
          .catch(() => {
            this.$eventHub.$emit('show-alert', {
              alert: true,
              type: 'error',
              message: 'This alien worker update is not successful!, Please try again.',
            });
          });
        if (data) {
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'success',
            message: 'This alien worker update is successful!.',
          });
          this.$router.push({ name: 'view-workers' });
        } else {
          this.$log.info('error');
        }
      } catch (err) {
        this.$log.info('catch');
        this.$log.info(err);
      }
    },

    async cancelUnverifiedWorker() {
      this.$router.push({ name: 'view-workers' });
    },
  },
  computed: {
  },
};
</script>
<style>
.worker{
  margin-top: 5%;
}
.align-right{
  text-align: right;
}
</style>
