<template>
  <v-container class="px-0 pb-0">
    <v-row no-gutters>
      <span class="display-1 ml-4">Roster</span>
      <v-spacer />
      <v-menu
        v-model="workerCreateMenu"
        :close-on-content-click="false"
        :nudge-width="220"
        max-width="220"
        open-on-hover
        transition="slide-y-transition"
        bottom
        offset-y
      >
        <template v-slot:activator="{ on }">
          <v-btn
            id="btn-WorkerListPage-OpenCreateWorkerMenu"
            v-if="$AccessService.isPermitted('WRITE_WORKERS')"
            class="jobdoh white--text mr-5 mb-5"
            v-on="on"
            depressed
            width="220"
            v-html="'Create Staff Info'"
          />
        </template>

        <v-card>
          <v-list
            class="pa-0"
          >
            <AccessBlocker
              v-for="(btn,i) in createWorkerBtns"
              :key="i"
              :features="['WRITE_ACCESS']"
            >
              <v-hover v-slot="{ hover }">
                <v-list-item
                  @click="btn.click"
                  :dark="hover"
                  :class="{ jobdoh: hover }"
                >
                  <v-list-item-content>
                    <v-list-item-title>{{ btn.label }}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-hover>
              <v-divider />
            </AccessBlocker>
          </v-list>
        </v-card>
      </v-menu>
    </v-row>

    <v-divider />

    <center v-if="loading">
      <v-progress-circular indeterminate />
    </center>
    <div
      v-else
      style="overflow: auto; height: calc(100vh - 119px); overflow-x: hidden;"
    >
      <v-container class="pa-0">
        <JobCandidateCard
          v-for="(worker, i) in sortedWorkers"
          :key="`withJob${i}`"
          roster
          :candidate="worker"
          :organisation="organisation"
          width="100%"
          divider
        />
      </v-container>
    </div>
  </v-container>
</template>

<script>
// import WorkerRosterCard from '@/components/Workers/WorkerRosterCard';
// import LoadingDialog from '@/components/Utils/Dialogs/LoadingDialog';
import gql from 'graphql-tag';
import fragments from '@/assets/js/gql/fragments';
import mongoose from 'mongoose';
import JobCandidateCard from '@/components/Marketplaces/Jobs/Cards/JobCandidateCard';
import Center from '@/components/Common/Center';
import AccessBlocker from '@/components/Common/AccessBlocker';
import moment from 'moment';

export default {
  components: {
    // WorkerRosterCard,
    JobCandidateCard,
    Center,
    AccessBlocker,
  },

  data() {
    return {
      workerCreateMenu: false,
      workers: [],
      loading: false,
      refresh: false,
      kJobStatusToNumber: {
        WORKING: '0',
        EXPIRED: '1',
        EMPTY: '2',
      },
      createWorkerBtns: [
        {
          label: 'Add Staff Info',
          click: () => { this.goto('create-worker'); },
        },
        {
          label: '  Import Staff Info',
          click: () => { this.batchUpload('normal'); },
        },
        {
          label: 'Import Non App Staff Info',
          click: () => { this.batchUpload('alien'); },
        },
      ],
    };
  },

  computed: {
    organisation() {
      return this.$store.getters.currentOrganisation;
    },
    sortedWorkers() {
      return Array.from(this.workersWithJobStatus)
        .sort(this.sortWith('name', -1))
        .sort(this.sortWith('jobStatus'));
    },
    workersWithJobStatus() {
      return this.workers
        .filter(worker => worker.adoptedByWorker == null)
        .map((worker) => {
          let jobStatus;
          if (worker.jobsHired.length === 0) {
            jobStatus = this.kJobStatusToNumber.EMPTY;
          } else {
            const allJobsAreExpired = worker.jobsHired.length > 0
          && worker.jobsHired.every(job => job.shifts
            .every(shift => moment().isAfter(shift.endTime)));
            if (allJobsAreExpired) {
              jobStatus = this.kJobStatusToNumber.EXPIRED;
            } else {
              jobStatus = this.kJobStatusToNumber.WORKING;
            }
          }
          return { ...worker, jobStatus };
        });
    },
  },

  beforeRouteLeave(to, from, next) {
    this.$log.info('route change...');
    this.$destroy();
    next();
  },

  mounted() {
    this.loading = true;
    this.$eventHub.$emit('refetch-employer');
    this.$eventHub.$on('refetch-worker-list', () => {
      this.$log.debug('refetch-worker-list');
      this.$apollo.queries.workers.refetch();
    });
  },

  methods: {
    async assignJobToWorker(workerId) {
      const objectId = mongoose.Types.ObjectId;
      const isAlien = objectId.isValid(workerId);
      if (!isAlien) {
        this.$router.push({ path: `assign-worker-job/${workerId}` });
      } else {
        this.$router.push({ path: `assign-alien-worker-job/${workerId}` });
      }
    },

    goto(routeName) {
      this.$router.push({ name: routeName });
    },

    getOrganisationJobBy(worker) {
      const jobs = worker.jobsHired
        .filter(job => job.organisation.id === this.organisation.id);
      return jobs;
    },

    batchUpload(uploadType) {
      this.$router.push({
        name: 'batch-upload',
        params: { uploadType },
      });
    },
    sortWith(key, order = 1) {
      return (a, b) => ((a[key] > b[key]) ? 1 * order : -1 * order);
    },
  },

  apollo: {
    workers: {
      query: gql`query workers($organisationId: ID) {
        workers(organisationId: $organisationId) {
          id
          name
          phone
          profileUrl
          identification
          identificationBackFileRef
          identificationFrontFileRef
          youtubeUrl
          description
          facebook
          email
          google
          linkin
          paymentMethod
          paymentCurrency
          paymentCoordinates
          paycycleUseAlternatePayment
          alternatePaymentMethod
          alternatePaymentCurrency
          alternatePaymentCoordinates
          verified
          jobSkills
          cvFileUrl
          digitalLiteracyScore
          personalityType
          conscientiousnessLevel
          jobHistories {
            position
            companyName
            startDate
            endDate
            currentlyWorking
            description
          }
          workerPaymentMethods{
            id
            paymentMethod{
              id
              code
              paymentType
            }
            coordinates
          }
          adoptedByWorker{
            id
          }
          jobsHired {
            ...job,
            fulltimeStandardHoursStart
            fulltimeStandardHoursEnd
            shifts {
              id
              workerAccepted
              endTime
            }
          }
        }
      }
      ${fragments.job}
      `,

      variables() {
        return {
          organisationId: this.organisation.id,
        };
      },

      // eslint-disable-next-line no-unused-vars
      result({ data, loading, error }) {
        if (error) {
          const level = this.$UtilityService.getRequiredLevel(error);
          if (level) {
            this.$eventHub.$emit('show-tutorial-level', level, () => this.$router.back());
          } else {
            this.$log.error(error);
            this.$eventHub.$emit('show-alert', {
              alert: true,
              type: 'error',
              message: 'The workers query error',
            });
          }
        }
        if (!loading) {
          this.loading = false;
        }
      },
    },
  },
};
</script>
