<template>
  <center>
    <v-row
      justify="center"
      align="center"
      no-gutters
    >
      <v-card
        width="700px"
        :loading="loading"
        :disabled="loading"
      >
        <v-card-title>
          Create Worker
        </v-card-title>
        <v-stepper
          v-model="stepper"
          style="overflow: auto;"
        >
          <v-stepper-header>
            <div
              class="step"
              v-for="(step, index) in steps"
              :key="index"
            >
              <v-stepper-step
                :edit-icon="'edit'"
                :complete-icon="'check'"
                :step="index + 1"
                :complete="(index + 1 ) < stepper"
                :editable="(index + 1) < stepper"
              >
                {{ step.label }}
              </v-stepper-step>
              <v-divider />
            </div>
          </v-stepper-header>
          <v-stepper-items>
            <v-stepper-content
              step="1"
            >
              <v-card
                :disabled="workerCreated"
                flat
              >
                <v-form
                  ref="form"
                  v-model="valid"
                  class="pa-1"
                >
                  <v-row
                    align="center"
                    no-gutters
                  >
                    <v-switch
                      v-model="isAlienWorker"
                      label="Alien Worker"
                      prepend-icon="mdi-alien-outline"
                    />
                    <v-spacer />
                    <v-tooltip top>
                      <template v-slot:activator="{ on, attrs }">
                        <v-icon
                          v-bind="attrs"
                          v-on="on"
                        >
                          mdi-help-circle-outline
                        </v-icon>
                      </template>
                      <span>Worker without smart phone</span>
                    </v-tooltip>
                  </v-row>
                  <v-text-field
                    class="mt-1"
                    outlined
                    label="Name"
                    v-model="worker.name"
                    :rules="[v => !!v || 'Name is required']"
                  />
                  <MMNrcInput
                    v-if="organisation.region === 'mm'"
                    v-model="worker.identification"
                  />
                  <v-text-field
                    v-else
                    class="mt-1"
                    outlined
                    label="Identification"
                    v-model="worker.identification"
                    :rules="[v => !!v || 'Identification is required']"
                  />

                  <!-- <v-text-field
                  label="Identification"
                  v-model="worker.identification"
                  :rules="[v => !!v || 'Identification is required']"
                /> -->
                  <!-- <NrcInput
                  @setNrcNumber="setNrcNumber"
                /> -->
                  <!-- Phone -->
                  <v-row>
                    <v-col cols="4">
                      <v-autocomplete
                        label="Phone Code"
                        v-model="worker.phoneCode"
                        :items="phoneCodes.map(e => ({
                          value: e.code,
                          text: `${e.name} (${e.code})`
                        }))"
                        outlined
                      />
                    </v-col>
                    <v-col cols="8">
                      <v-text-field
                        outlined
                        label="Phone No"
                        type="number"
                        v-model="worker.phoneNo"
                        :rules="[v => !!v || 'Phone No is required']"
                      />
                    </v-col>
                  </v-row>
                  <!-- <v-select
                  item-text="code"
                  item-value="code"
                  label="Phone Code"
                  v-model="worker.phoneCode"
                  :items="phoneCodes"
                  autocomplete
                >
                  <template
                    slot="item"
                    slot-scope="data"
                  >
                    {{ data.item.name }}({{ data.item.code }})
                  </template>
                </v-select>
                <v-text-field
                  label="Phone No"
                  type="number"
                  v-model="worker.phoneNo"
                  :rules="[v => !!v || 'Phone No is required']"
                /> -->
                </v-form>
              </v-card>
              <v-row
                align="center"
                no-gutters
              >
                <v-spacer />
                <v-btn
                  id="btn-WorkerCreatePage-Cacnel"
                  text
                  @click="cancelUnverifiedWorker"
                  v-html="'Cancel'"
                />
                <v-btn
                  id="btn-WorkerCreatePage-Continue"
                  class="ml-2"
                  color="black white--text"
                  :disabled="!valid"
                  @click="onCreateWorker"
                  v-html="'Continue'"
                />
              </v-row>
            </v-stepper-content>
            <v-stepper-content
              step="2"
            >
              <div class="pa-1">
                <AddWorkerPaymentMethodForm
                  :organisation="organisation"
                  :worker-id="workerId"
                  @payment-added=" $router.push({name: 'view-workers'})"
                >
                  <template #action>
                    <v-btn
                      id="btn-WorkerCreatePage-Back"
                      @click="stepper = 1"
                      v-html="'Back'"
                      color="primary"
                      text
                      class="mr-2"
                    />
                  </template>
                </AddWorkerPaymentMethodForm>
              </div>
              <!-- <v-row
                align="center"
                no-gutters
              >
                <v-spacer />
                <v-btn
                  text
                  @click="stepper = 1"
                >
                  Back
                </v-btn>
                <v-btn
                  class="ml-2"
                  color="success"
                  :disabled="!valid"
                  @click="cancelUnverifiedWorker"
                >
                  Finish
                </v-btn>
              </v-row> -->
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-card>
    </v-row>

    <!-- For Dialog -->
    <DialogBox
      :dialog.sync="dialog"
      :title.sync="title"
      :message.sync="message"
    />
  </center>
</template>

<script>
import gql from 'graphql-tag';
import MMNRC from 'myanmar-nrc-x';
import countries from '@/assets/utils/CountriesPhoneCodes';
import DialogBox from '@/components/Utils/DialogBox';
import AddWorkerPaymentMethodForm from '@/components/Payments/Forms/AddWorkerPaymentMethodForm';
// import NrcInput from '@/components/Common/Inputs/NrcInput';
import MMNrcInput from '@/components/Common/Inputs/MMNrcInput';
import Center from '@/components/Common/Center';

export default {
  components: {
    DialogBox,
    AddWorkerPaymentMethodForm,
    MMNrcInput,
    Center,
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  data() {
    return {
      dialog: false,
      loading: false,
      workerCreated: false,
      isAlienWorker: false,
      message: '',
      title: '',
      stepper: 1,
      hasPhoneNo: 0,
      steps: [
        {
          label: 'Basic Info',
          completed: false,
        },
        {
          label: 'Payment Details',
          completed: false,
        },
      ],
      phoneCodes: countries.countriesPhoneCodes,
      worker: {
        name: '',
        phoneCode: '+95',
        phoneNo: '',
        // communication
        email: null,
        facebook: null,
        google: null,
        city: null,
        address: null,
        // finance
        identification: '',
      },
      workerId: '',
      valid: false,
      emptyRules: [
        v => !!v || 'This field is required',
      ],
      validations: {
      },
    };
  },

  computed: {
    // translateNrc() {
    //   try {
    //     const nrc = MMNRC(this.worker.identification);
    //     // if (this.$store.getters.locale !== 'en') {
    //     //   return nrc.getFormat('mm');
    //     // }
    //     return nrc.getFormat();
    //   } catch (e) {
    //     this.$log.error('nrc error', e.message);
    //     return this.worker.identification;
    //   }
    // },
  },

  mounted() {
  },

  methods: {
    setNrcNumber(nrcNumber) {
      try {
        const nrc = MMNRC(nrcNumber);
        this.worker.identification = nrc.getFormat();
      } catch (e) {
        this.worker.identification = nrcNumber;
      }
      // this.worker.identification = nrcNumber;
    },
    // io.checkVerifiedPhone(phone); return true||false
    async checkVerifiedPhone(phone) {
      const { data } = await this.$apollo.query({
        query: gql`query workers($organisationId: ID, $phone: String) {
          workers(organisationId: $organisationId, phone: $phone) {
            id
            name
            verified
          }
        }`,
        variables: {
          organisationId: this.organisation.id,
          phone,
        },
      }).catch(err => this.$log.info(err));
      if (data.workers.filter(x => x.verified === true).length > 0) {
        return true;
      }
      return false;
    },

    async onCreateWorker() {
      this.loading = true;
      if (!this.workerCreated) {
        await this.createWorker();
      }
      this.stepper = 2;
      this.loading = false;
    },

    createWorker() {
      const organisationId = this.organisation.id;
      const phone = this.worker.phoneCode + this.worker.phoneNo;
      const args = {
        organisationId,
        name: this.worker.name,
        identification: this.worker.identification,
        phone,
      };
      if (this.isAlienWorker) {
        return this.createAlienWorker(args);
      }
      return this.createUnverifiedWorkerBasicInfo(args);
    },

    // util.preparePhoneNo(phone); return string
    // util.io.showAletDialog(message);
    async createUnverifiedWorkerBasicInfo(args) {
      try {
        const ret = await this.$WorkerService.createUnverifiedWorker(args)
          .catch(() => {
            this.$eventHub.$emit('show-alert', {
              alert: true,
              type: 'error',
              message: 'This worker creation is not successful!. Please try again.',
            });
          });
        if (ret && ret.data) {
          this.workerId = `unverified_${args.organisationId}_${args.phone}`;
          this.workerCreated = true;
        }
      } catch (err) {
        this.$log.error(err);
      }
    },

    async createAlienWorker(args) {
      const isVerifiedPhone = await this.checkVerifiedPhone(args.phone);
      if (isVerifiedPhone === false) {
        // if (this.worker.phoneNo.length === 0) {
        //   args = {
        //     organisationId,
        //     name: this.worker.name,
        //     identification: this.worker.identification,
        //     phone: '+00000000000',
        //   };
        // }
        this.$log.info({ args });
        try {
          const { data } = await this.$WorkerService.createAlienWorker(args)
            .catch(() => {
              this.$eventHub.$emit('show-alert', {
                alert: true,
                type: 'error',
                message: 'This alien worker creation is not successful!. Please try again.',
              });
            });
          if (data) {
            this.workerId = data.createAlienWorker.id;
            this.workerCreated = true;
          }
        } catch (err) {
          this.$log.error(err);
        }
      } else {
        this.$eventHub.$emit('show-alert', {
          alert: true,
          type: 'warning',
          message: 'This phone number has already verified',
        });
      }
    },

    async cancelUnverifiedWorker() {
      this.$router.push({ name: 'view-workers' });
      this.$destroy();
    },
  },
  beforeDestroy() {
  },
};
</script>

<style>
  .worker{
    margin-top: 5%;
  }
  .align-right{
    text-align: right;
  }
</style>
