<template>
  <v-container v-if="jobs">
    <h2>Assign Workers</h2>
    <v-card
      :loading="loading"
      :disabled="loading"
    >
      <div
        v-for="(job, i) in offlineJobsWithoutWorker"
        :key="i"
      >
        <JobRosterCard
          :job="job"
          assignable
          @assign="assignWorkerToJob"
        />
        <v-divider />
      </div>
    </v-card>
  </v-container>
</template>

<script>
import gql from 'graphql-tag';
import fragments from '@/assets/js/gql/fragments';
// import WorkerAssignJobCard from '@/components/Workers/WorkerAssignJobCard';
import JobRosterCard from '@/components/Jobs/JobRosterCard';

export default {
  components: {
    JobRosterCard,
  },

  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
  },

  data() {
    return {
      jobs: [],
      loading: false,
    };
  },

  computed: {
    offlineJobsWithoutWorker() {
      return this.jobs.filter(job => job.marketplace === null
        && job.shifts.every(shift => !shift.workerAccepted));
    },
    workerId() {
      return this.$route.params.workerId;
    },
  },

  methods: {
    assignWorkerToJob(job) {
      this.loading = true;
      const promises = [];
      let args = {};

      job.shifts.forEach((shift) => {
        args = {
          id: shift.id,
          workerId: this.workerId,
        };
        this.$log.info(args);
        promises.push(this.$JobService.assignUnverifiedWorkerToShift(args));
      });
      promises.push(this.$WorkerService.addWorkerJob({
        id: job.id,
        workerId: this.workerId,
        to: 'APPLIED',
      }));

      Promise.all(promises)
        .then(async () => {
          const { data } = await this.$WorkerService.migrateWorkerJob({
            id: job.id,
            workerId: this.workerId,
            from: 'APPLIED',
            to: 'HIRED',
          }).catch(err => this.$log.info(err));
          if (data) {
            this.$eventHub.$emit('show-alert', {
              alert: true,
              type: 'success',
              message: 'Worker assigned to job',
            });
            this.loading = false;
            this.$router.push({ name: 'view-workers' });
          }
        })
        .catch((err) => {
          this.$log.info(err);
        });
    },
  },

  apollo: {
    jobs: {
      query: gql`query jobs($organisationId: ID!) {
        jobs(organisationId: $organisationId) {
          jobs {
            ...job
            marketplace {
              id
            }
            paymentMethods {
              id
              name
              currency
            }
            paymentOption
            fulltimeStandardHoursStart
            fulltimeStandardHoursEnd
            shifts {
              id
              startTime
              endTime
              workComplete # deprecated
              salary
              candidates {
                id
              }
              worker {
                id
                name
                phone
                verified
                defaultWorkerPaymentMethod{
                  id
                  paymentMethod{
                    id
                    code
                  }
                  coordinates
                }
              }
              workerAccepted
            }
          }
          hasMore
        }
      }
      ${fragments.job}
      `,
      variables() {
        return {
          organisationId: this.organisation.id,
        };
      },
      // eslint-disable-next-line no-unused-vars
      result({ data, loading, error }) {
        this.loading = loading;
        if (error) {
          this.$log.error(error);
          this.$eventHub.$emit('show-alert', {
            alert: true,
            type: 'error',
            message: 'The jobs query error',
          });
        } else {
          this.jobs = data && data.jobs.jobs;
        }
      },
    },
  },
};
</script>
