<template>
  <!-- For Batch Upload -->
  <v-flex xs-12>
    <v-flex
      xs-12
      v-if="uploadType === 'normal'"
    >
      <b>Normal Batch Upload</b>
      <v-layout
        class=""
        row
        justify-start
      >
        <NormalBatchUploader
          :organisation="organisation"
          :log-table-header="logTableHeader"
          :log-table-data="logTableData"
        />
      </v-layout>
    </v-flex>

    <v-flex
      xs-12
      v-else
    >
      <b>Alien Batch Upload</b>
      <v-layout
        class=""
        row
        justify-start
      >
        <AlienBatchUploader
          :organisation="organisation"
          :log-table-header="logTableHeader"
          :log-table-data="logTableData"
        />
      </v-layout>
    </v-flex>

    <!-- For Error -->
    <v-layout
      row
      justify-center
    >
      <v-expansion-panels>
        <v-expansion-panel
          v-for="(item,i) in logTableData"
          :key="i"
        >
          <v-expansion-panel-header
            v-if="isErrorData(item)"
          >
            <div>
              {{ item.phone }}
            </div>
            <div
              class="text-danger"
            >
              {{ getErrorMessage(item) }}
            </div>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-list-tile
              v-for="(data, j) in Object.keys(item)"
              :key="j+1*100"
            >
              <v-list-tile-content>
                {{ item[data] }}
              </v-list-tile-content>
            </v-list-tile>
          </v-expansion-panel-content>
          <!-- for success -->
          <v-expansion-panel-header
            v-if="!isErrorData(item)"
          >
            <div>
              {{ item.phone }}
            </div>
            <div
              class="text-success"
            >
              success
            </div>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <!-- <v-card>
              <v-card-text class="grey lighten-3">Lorem </v-card-text>
            </v-card> -->
            <v-list-tile
              v-for="(data, j) in Object.keys(item)"
              :key="j+1*10000"
            >
              <v-list-tile-content>
                {{ item[data] }}
              </v-list-tile-content>
            </v-list-tile>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>

      <!-- for checking error -->
      <v-expansion-panels>
        <v-expansion-panel v-if="checkingErrorData.length > 0">
          <v-expansion-panel-content
            v-for="(item,i) in checkingErrorData"
            :key="i"
            expand-icon="mdi-menu-down"
          >
            <template
              v-slot:header
            >
              <div>
                {{ item.errorTitle }}
              </div>
              <div
                class="text-danger"
              >
                error
              </div>
            </template>

            <v-list-tile
              v-for="(data, j) in Object.keys(item)"
              :key="j+1*100"
            >
              <v-list-tile-content
                v-if="data !== 'errorTitle'"
                class="text-danger"
              >
                {{ item[data] }}
              </v-list-tile-content>
            </v-list-tile>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-layout>
  </v-flex>
</template>
<script>
import NormalBatchUploader from '@/components/Utils/NormalBatchUploader';
import AlienBatchUploader from '@/components/Utils/AlienBatchUploader';

export default {
  components: {
    NormalBatchUploader,
    AlienBatchUploader,
  },
  props: {
    organisation: {
      type: Object,
      default: () => {},
    },
    uploadType: {
      type: String,
      default: () => {},
    },
  },

  data: () => ({
    logTableHeader: [],
    logTableData: [],
    errorLogData: [],
    checkingErrorData: [],
  }),

  computed: {
  },

  watch: {
  },

  mounted() {
    this.$eventHub.$on('update-props', (tableHeader, tableData, errorData) => {
      this.checkingErrorData = [];
      this.logTableHeader = [];
      // this.logTableHeader = tableHeader;
      tableHeader.forEach((e) => {
        this.logTableHeader.push({
          text: e,
          value: e,
        });
      });
      this.errorLogData = errorData;
      this.logTableData = tableData;
    });

    this.$eventHub.$on('checking-error', (checkingErrorData) => {
      this.logTableData = [];
      this.checkingErrorData = checkingErrorData;
    });
  },

  methods: {
    isErrorData(data) {
      let errorCount = 0;
      if (this.errorLogData != null) {
        errorCount = this.errorLogData.filter(e => e.phone === data.phone).length;
      }
      if (errorCount === 0) {
        return false;
      }
      return true;
    },

    getErrorMessage(data) {
      return this.errorLogData.find(e => e.phone === data.phone).message;
    },
  },
};
</script>
<style scoped>
  .text-danger{
    color: red;
  }
  .text-success{
    color: green;
  }
</style>
